[2022-08-20 20:50] JacobDel commented on #3292
@Boscher-audrey  There is a solution on this stackoverflow post: https://stackoverflow.com/a/73348535/9611924

[2022-08-20 22:55] fgagneten commented on #2821
@lukewalczak @Trancever Is there any update on that? Using the new arch works better but still having issues. It is terrible slow on old devices.

[2022-08-21 02:18] sidnetopia commented on #3325
Maybe it's because expo project doesn't have this folder (`android/app/src/main/assets/fonts`)?

[2022-08-21 10:26] sidnetopia commented on #3008
Updates?

[2022-08-21 18:45] szado opened #3327 "Problem with Text nesting with textAlign on ios"
### Current behaviour
On ios, `textAlign: center` in parent component is not working when Text component contains another Text.
On Android and web it works as expected, but also it works on ios when using react-native Text.

### Expected behaviour
Text should be centered.

### Code sample

[code]

### Your Environment

I'm using MD3LightTheme.

| software              | version
| -----------------

[2022-08-21 22:10] Maclay74 commented on #3292
@JacobDel this solution doesn't work, we tried.

[2022-08-22 02:15] #3255 closed

[2022-08-22 07:31] lukewalczak commented on #3327
Hey @szado, I've used your code snippet and compared `Text` from `react-native` and `react-native-paper` on the following snack: https://snack.expo.dev/UXxlrxwRs and the result is the same.

[2022-08-22 10:26] szado commented on #3327
@lukewalczak You're right, after debugging I noticed the problem is occurring when first child is a Text component. Take a look: https://snack.expo.dev/UmNE0KU9v

[2022-08-22 10:56] lukewalczak commented on #3327
I've investigated the issue and looks like there is a problem when creating a wrapper around `Text` from `react-native` which has pre-defined _textAlign_ property (added due to RTL functionality). I cannot override that property, however, the style is appropriately passed to the _wrapper_. Please check the following snack: https://snack.expo.dev/bEVqmreJ_

[2022-08-22 11:30] lukewalczak commented on #3225
Solved by: https://github.com/callstack/react-native-paper/pull/3322

[2022-08-22 11:30] #3225 closed

[2022-08-22 11:56] #3312 closed

[2022-08-22 12:31] lukewalczak commented on #3312
Will be released in `rc.5`

[2022-08-22 12:32] #3258 closed

[2022-08-22 13:52] lukewalczak commented on #3138
Created a workaround: https://github.com/callstack/react-native-paper/pull/3331

[2022-08-22 14:02] lukewalczak commented on #3327
Looks like nested `Text` also has to receive `textAlign: 'center'`.

[2022-08-22 14:13] lukewalczak commented on #3325
Did you follow that part and put fonts into the appropriate directory?

[2022-08-22 14:16] sidnetopia commented on #3325
Yes, I followed what's in the documentation but still it doesn't work.

[2022-08-22 14:17] lukewalczak commented on #3325
Is it related to the `react-native-paper` library itself? Are you able to display custom fonts in another component from `react-native` e.g. `Text` or `TextInput`?

[2022-08-22 14:19] sidnetopia commented on #3325
Yes

[2022-08-22 14:21] lukewalczak commented on #3325
Could you please share the snack, presenting the issue?

[2022-08-22 14:52] #3097 closed

[2022-08-22 14:59] szado commented on #3327
On android and web it works so this property is probably passed correctly. Maybe this is a problem with layouts engine on ios (so react-native related)?
Temporary solution is to put e.g. whitespace before the Text component, but it is ugly.

[2022-08-22 15:02] lukewalczak commented on #3327
You can pass `textAlign` to the nested child:
[code]

[2022-08-22 18:41] #3327 closed

[2022-08-22 21:56] reck753 commented on #3297
UPDATE: I did some further debugging and found out that sending the `Menu` through its `Portal` somehow causes the issue.
For example, replacing `Portal` with `React.Fragment`, in `Menu.tsx` would make menu appear and show (of course, displaced since we removed `Portal`).
With further debugging I found out that setting of `this.menu` in `View` `ref` (here) "lags" behind for the next render and tha

[2022-08-23 03:11] momolly1024 opened #3332 "BottomNavigation｜How to pass props in renderScene?"
Hi, Dear developers,
If I want to add a props to components in BottomNavigation,
How can I do?

Some code like this :
[code]

I have try to add directly like this,
but got an error.

[code]

So I open a issue to ask

Thank you very much!

[2022-08-23 10:11] lukewalczak commented on #3332
Hey @momolly1024, please check the following [snack](https://snack.expo.dev/XPybJQB72), I hope it will help you.

[2022-08-23 19:17] jjrise opened #3333 "Button height is shrunk when initially mounted, but fixed when re-rendered"
### Current behaviour

I'm using the Button component and when the screen is initially mounted, the button is about half the height of normal. When the screen is re-rendered, the button is fixed and renders normally.

### Expected behaviour

The button would render normally at full height on mount / first render.

### Code sample

[code]

### Screenshots (if applicable)

on mount:
![image](https:/

[2022-08-23 20:32] lukewalczak commented on #3333
Hey @jjrise, could you please try to reproduce the issue on the snack?

[2022-08-23 21:21] jjrise commented on #3333
Yes, I will start putting that together now. One thing that is probably worth noting, these buttons are inside a Bottom Sheet. Not sure if it's related, but the bottom sheet has been suspect for UI issues in the past.

https://github.com/gorhom/react-native-bottom-sheet

[2022-08-23 22:04] jjrise commented on #3333
I changed to a different bottom sheet and the issue is resolved. My apologies for stirring this up, but want to follow up in case this trips up anyone else in the future.

[2022-08-23 22:04] #3333 closed

[2022-08-24 14:10] bombillazo commented on #3305
I'm trying out V5 as well and the whole Text Components lib is riddled with this (in addition to that weird conditional to only apply custom fonts on android):
[code]
So all TextInputs, Serachbars, etc that don't directly use RNP Text component will also not be using custom fonts.

I believe the simplest solution is to keep the M2 fonts prop available for use to override the theme-wide font family

[2022-08-24 14:17] lukewalczak commented on #3305
I will be investigating that issue in the nearest future, and will update you here about the result.

[2022-08-24 14:22] bombillazo commented on #3305
Thanks Luke!

`AppBarContent` seems to be doing something more sensible, leveraging the existing variants:

[code]

[2022-08-24 14:24] guccilebedi opened #3335 "TextInput: Unable to change backgroundColor of placeholder when it is on top of outlined text input"
This is how it looks. Its background has default color, even that the input has background color set to white.
![Снимок экрана от 2022-08-24 17-22-32](https://user-images.githubusercontent.com/62797708/186443496-392d8a4e-2d42-449b-917b-4fcbfbfd6a86.png)

onSurfaceVariant changes the text color,
![Снимок экрана от 2022-08-24 17-22-23](https://user-images.githubusercontent.com/62797708/186443491-6f4

[2022-08-24 15:19] AbdulmalekAlshugaa commented on #2128
It seems the icons are not showing in my app :
![Screenshot_1661354301](https://user-images.githubusercontent.com/33663456/186457142-6249caa9-8063-4b66-a174-c458758e640a.png)

[2022-08-24 23:44] jakequade opened #3336 "Snackbar does not wrap text when passed non-Text children."
### Current behaviour

Android does not wrap text on snackbar when given non-Text children.

### Expected behaviour

Text is wrapped similarly to ios.

### Code sample

https://snack.expo.dev/@jake_quade_cheddar/witty-beef-jerky?platform=android

### Screenshots (if applicable)

#### IOS

![Screen Shot 2022-08-25 at 9 36 16 am](https://user-images.githubusercontent.com/19259921/186542800-93b63ce5-

[2022-08-25 01:15] ahmedrabii opened #3337 "Material Bottom Tabs Navigator : there is no screen header"
When using [Bottom Tabs Navigator](https://reactnavigation.org/docs/bottom-tab-navigator/) screen header is shown
But when changing to [Material Bottom Tabs Navigator](https://reactnavigation.org/docs/material-bottom-tab-navigator) expectation is that is working the same plus the animation design but **there is no header in screens**

Is this a normal behavior ?

[2022-08-25 01:18] ahmedrabii commented on #3337
Versions :
- react-native : 0.68.2
- react-native-paper : ^4.12.4
- react-native-vector-icons : ^9.2.0

[2022-08-25 05:41] atheck opened #3338 "Open handles when testing with jest"
Hi, when I run component tests with jest there are open handles which keep jest from exiting. Running jest with `--detectOpenHandles` I get the following output:

[code]
* react-native-paper: 4.12.4
* react-native-vector-icons: 9.2.0
* react-native: 0.68.3

I'm using the "react-native" jest preset. I think there is nothing special in my jest setup.

Can someone help me with that?

[2022-08-25 06:55] guccilebedi commented on #3335
React-native-paper v5 has this bug, v4 does not

[2022-08-25 06:55] #3335 closed

[2022-08-25 09:48] #3273 closed

[2022-08-25 17:33] lukewalczak commented on #3337
Hey @ahmedrabii, could you please reproduce your issue on the snack and share the link?

[2022-08-26 02:17] #3250 closed

[2022-08-26 15:49] Svarto commented on #1923
@abannura long time, but I noticed that adding `lineHeight` into the style prop for the TextInput actually fixes the padding issue on Android.

[2022-08-27 10:06] srivastavaanurag79 opened #3339 "Change Label color of focused TextInput"
How to change the colour of the label which is focused?

![image](https://user-images.githubusercontent.com/20262255/183877917-7e78947f-b0bd-4eb8-864d-b9f5bb4baa26.png)

In the above screenshot I would like to change the `Select Payment Type` colour to `white`

https://github.com/srivastavaanurag79/react-native-paper-select/issues/9

Please look in the above issue.

- react-native: 0.63.4
- react-

[2022-08-27 10:13] srivastavaanurag79 commented on #3339
- react-native: 0.69.5)
- react-native-paper: 4.12.4)
- react-native-vector-icons: 9.2.0)

Yes, it still exists after upgrading to the latest versions of these packages.

[2022-08-28 22:16] mikehardy commented on #3133
Just cross-pollinating, I thought this was an interesting PR from another native+web repo: https://github.com/react-navigation/react-navigation/pull/10547/files - basically they just converted `I18NManager.isRTL` to `I18NManager.getConstants().isRTL` ?

[2022-08-29 20:36] hosseinmd opened #3341 "Icon in TextInput"
Material UI has icon in TextInput. But react-native-paper doesn't. Could we implement it?

[2022-08-29 20:39] raajnadar commented on #3341
Check this documentation

https://callstack.github.io/react-native-paper/text-input-affix.html

https://callstack.github.io/react-native-paper/text-input-icon.html

[2022-08-29 20:47] #3341 closed

[2022-09-01 09:10] anupong-s opened #3344 "Why 'TextInput' display incorrect and color on Samsung Note."
Why 'TextInput' display incorrect and color on Samsung Note (Real Device).
What should I do?

react-native: "0.69.1"
react-native-paper: "^5.0.0-rc.3"
react-native-vector-icons: "^9.2.0"

As below picture, Run on Samsung Note 9 (Android 10 - Real Device)

![286](https://user-images.githubusercontent.com/1306060/187877111-10ed96a4-91ef-4e32-86f5-f871da4eddc9.jpg)

As below picture, Run on Samsung A

[2022-09-01 09:19] lukewalczak commented on #3133
Hey @mikehardy, thanks for pointing it out. I will adjust it in the Paper codebase as well.

[2022-09-01 10:14] #3323 closed

[2022-09-01 15:31] matthewlese opened #3345 "Importing SegmentedButtons throws error (v5.0.0-rc.4)"
### Current behaviour

Navigating to Screen that imports `SegmentedButtons` throws error:
[code]

### Expected behaviour

`SegmentedButtons` component should be usable on this v5 release candidate

### Code sample

[code]

### What have you tried

Tried:
deleteing package-lock.json, `npm uninstall`, `npm install react-native-paper@5.0.0-rc.4`

### Your Environment

| software              | versio

[2022-09-01 15:42] lukewalczak commented on #3345
Hey @matthewlese, Segmented Button component was merged, however it's not released yet (it will be released most likely tomorrow or Monday).

[2022-09-01 16:04] matthewlese commented on #3345
ok, sounds great @lukewalczak !

[2022-09-01 16:04] #3345 closed

[2022-09-02 03:31] anupong-s commented on #3344
Still not working.

[2022-09-02 04:44] CodingItWrong commented on #3201
@tvpmb I've created a few training resources that include React Native Paper; they might be helpful to you:

- A live stream series where I walk through setting up an Expo app from scratch, including React Native Paper and React Navigation. The recordings are available here: https://codingitwrong.com/streams/expo-mobile-web
- I am doing a three-hour workshop based on that live stream this fall at

[2022-09-02 09:08] lukewalczak commented on #3344
Hey @anupong-s, could you please reproduce the same issue on the snack and share the link with us? Also it will be awesome if you can do some initial investigation since you have an access to both devices.

[2022-09-02 10:03] anupong-s commented on #3344
Hello, @lukewalczak
My device is Samsung Note 10 (Android version 10)
I try to run on emulator with android Q (version 10) but it display correct.
I don't know how to reproduce on emulator.
I guess, it problem all model on Samsung Note (real device).

[2022-09-03 12:02] lukewalczak commented on #3344
Are you able to provide the code sample which you are using when facing the issue?

[2022-09-04 19:19] danieldanielecki opened #3347 "Button in React Native Maps Callout without Title on Android"
### Current behaviour

The title is not showing on `Android` when `React Native Paper`'s `<Button />` element is nested into `React Native Maps`'s `<Callout />`. The problem does **not** occur on `iOS` simulators and devices, just on `Android` simulators and devices.

### Expected behaviour

The title should be shown, `react-native`'s `<Button />` works as expected and the title is shown.

### Cod

[2022-09-05 09:12] #3292 closed

[2022-09-05 09:13] lukewalczak commented on #3292
Fix will be released in `5.0.0-rc.5`

[2022-09-05 09:16] #3132 closed

[2022-09-05 11:11] lukewalczak commented on #3345
Hey @matthewlese, `5.0.0-rc.5` has been released.

[2022-09-05 11:13] lukewalczak commented on #3344
Could you please try to install `react-native-paper` in version `5.0.0-rc.5`?

[2022-09-05 11:52] lukewalczak commented on #3305
Provided a PR which hopefully will fix the issue: https://github.com/callstack/react-native-paper/pull/3351

[2022-09-05 12:03] lukewalczak commented on #3133
PR adjust `I18nManager.getConstants`: https://github.com/callstack/react-native-paper/pull/3352

[2022-09-05 12:10] lukewalczak commented on #3347
Hey @danieldanielecki, are you able to provide basic repro e.g. on snack, so we can have the repro sample on which we can investigate the issue and test? Can you also try the latest stable version?

[2022-09-05 12:11] lukewalczak commented on #3287
Hey @hbriese, could you please describe or present visually what are you trying to achieve?

[2022-09-05 12:43] thymikee commented on #3338
Have you mocked the Animated helper? Ex: https://github.com/callstack/react-native-testing-library/blob/7dd403b2ea76df40c04b22fda91773b95d4454c7/examples/reactnavigation/jest-setup.js

[2022-09-05 13:33] MatteoBuffo opened #3353 "How to vertically center the right (and left) element of a ListItem?"
Hi!

I have a List made of basic ListItems and I would like to vertically center both the left and the right element of each item.

As you can see from the screenshot, the left element actually is vertically aligned because it is larger (size={40}) than the right one (default size). The right one, instead, is misaligned.

![listitem_verticalalign](https://user-images.githubusercontent.com/56068232

[2022-09-05 18:26] lukewalczak commented on #3353
Hey @MatteoBuffo, you can add `style={{ alignSelf: 'center' }}` to the right icon.

[2022-09-05 18:40] MatteoBuffo commented on #3353
Woah, great! Thank you!

[2022-09-05 18:40] #3353 closed

[2022-09-06 07:14] atheck commented on #3338
Yes I'm already mocking the `NativeAnimatedHelper`.

Thank you for your reply @thymikee.

[2022-09-06 07:39] MatteoBuffo opened #3355 "Gmail-like CAB and "select items" logic"
**Is your feature request related to a problem? Please describe.**
Not quite: it's something I would like to implement in my app.

**Describe the solution you'd like**
Please refer to the video below.

https://user-images.githubusercontent.com/56068232/188570449-05662635-1b48-457b-810f-dab4de538dfd.mp4

I would like to have a Gmail-like CAB (Contextual Action Bar) that shows up whenever the user e

[2022-09-06 08:27] anupong-s commented on #3344
Hi @lukewalczak,
I already try to install version 5.0.0-rc.5 but still not working.

1. TextInput: type password but text not hidden.
2. Text color display incorrect.

![828248](https://user-images.githubusercontent.com/1306060/188585200-0c7347ba-91a8-4ea1-816a-8247c1424b09.jpg)

[2022-09-06 09:15] MatteoBuffo opened #3357 "Snack demo not working"
### Current behaviour

The demo Snack is not working neither on Android or iOS emulator/real devices.

### Expected behaviour

It should work. It only does with the Web version (although the style is all messed up).

### Code sample

Please check [this Snack](https://snack.expo.dev/@react-native-paper/github.com-callstack-react-native-paper:example) out.

### Screenshots (if applicable)

![image](

[2022-09-06 09:20] MatteoBuffo commented on #3357
The issue persists even after updating the `react-native-paper` dependency.

[2022-09-06 09:25] lukewalczak commented on #3357
Where did you get the link to this example?

[2022-09-06 09:26] MatteoBuffo commented on #3357
@lukewalczak [here](https://callstack.github.io/react-native-paper/).

[2022-09-06 09:30] lukewalczak commented on #3357
Thanks, the mentioned link is outdated (it's based on 4.0.0), I will fix it. The following [link](https://snack.expo.dev/@react-native-paper/react-native-paper-example_v5), presents the latest version.

[2022-09-06 09:31] MatteoBuffo commented on #3357
Thank you @lukewalczak!

[2022-09-06 09:31] #3357 closed

[2022-09-06 09:38] raajnadar commented on #3344
There is nothing called type = password in react native you need to use this prop https://reactnative.dev/docs/textinput#securetextentry

[2022-09-06 10:18] getadapt opened #3358 "In 5.0.0 release candidates: <Text /> without variant means no fontFamily is applied"
**Is your feature request related to a problem? Please describe.**
In 5.0.0 candidates, if you don't specify <Text /> `variant=`, no `fontFamily` is applied.

**Describe the solution you'd like**
Perhaps there should be a fallback for variant? Maybe to `"bodyMedium"`?

**Describe alternatives you've considered**
Or perhaps throw an error to make it clear that this property is required, though this

[2022-09-06 10:22] lukewalczak commented on #3358
Hej @getadapt, thanks for the feedback. I will investigate the problem.

[2022-09-06 15:43] MatteoBuffo opened #3359 "How to access the navigation object from the drawer?"
Hi! I'm toying with [this snack](https://snack.expo.dev/@mbuffo/53ddc6) (i.e. a fork of [this one](https://snack.expo.dev/@react-native-paper/react-native-paper-example_v5)) and I would like to access the `navigation` object in the `DrawerItems` component.

For example, I edited the `ButtonExample` component and I managed to programmatically toggle the drawer and navigate between screens by passin

[2022-09-06 18:28] bombillazo commented on #3296
Hey, Im closing this as the use case changed and I no longer require to change this.

[2022-09-06 18:28] #3296 closed

[2022-09-06 19:23] jimitshah-dp opened #3360 "Snackbar dosent wrap long text to multiline, if children is a view with icon + text"
**Is your feature request related to a problem? Please describe.**
If Snackbar in V5.0.0-rc.4, is given a view which contains Left aligned icon and right aligned Text, and if the text is long, it doesn't wrap to next line and it overflows out of snackbar

**Describe the solution you'd like**
It should behave same as when we only give text, by default it wraps to next line.

**Describe alternatives

[2022-09-06 19:24] jimitshah-dp commented on #3360
react-native: "0.68.2",
react-native-paper: "5.0.0-rc.4",
react-native-vector-icons: : "9.2.0",

[2022-09-06 19:57] lukewalczak commented on #3359
I think you can take the advantage of [useNavigation](https://reactnavigation.org/docs/use-navigation/) from `react-navigation`

[2022-09-06 20:00] byamagata opened #3361 "Increasing fontSize in labelStyle shifts all text vertically. Does not allow for center alignment"
### Current behaviour

Modifying the `fontSize` property in the `labelStyle` prop on a button cuts off the text on larger fonts.  Increasing the `height` on the same prop fixes the cut off issue, but then causes issues with text alignment.

### Expected behaviour

The button respects larger font sizes by increasing the height and width automatically to accommodate larger fonts, while still keeping

[2022-09-06 20:30] lukewalczak commented on #3361
Prolly you are missing `linHeight` in the `labelStyle`.

[2022-09-06 20:45] lukewalczak commented on #3360
Hey @jimitshah-dp, could you please provide the [snack]([snack.expo.dev](https://snack.expo.dev/)) presenting the issue?

[2022-09-07 03:59] byamagata commented on #3361
I will try this and get back to you @lukewalczak

[2022-09-07 04:00] byamagata commented on #3361
@lukewalczak I had no idea about this property.... thank you so much for solving my problem!

[2022-09-07 04:00] #3361 closed

[2022-09-07 07:28] MatteoBuffo commented on #3359
@lukewalczak yep, definetely what I needed. Thanks!

[2022-09-07 07:28] #3359 closed

[2022-09-07 10:13] jimitshah-dp commented on #3360
@lukewalczak here is the demo, try on android https://snack.expo.dev/EYNfxoKLd

Let me know if you need anything else

[2022-09-07 21:59] lukewalczak commented on #3358
Hey @getadapt, I've checked your issue, however, I was not able to reproduce it. On the following [snack](https://snack.expo.dev/bdRU9LJfD), I was able to observe custom font on the `Text` component without specified `variant`.  If I misunderstood your problem, please correct me or preferably attach your snack, presenting the bug.

[2022-09-08 08:24] #3336 closed

[2022-09-08 08:39] phanithken commented on #688
How to change only underline color but not the cursor color in iOS?

[2022-09-08 11:19] MatteoBuffo opened #3364 "Screen-specific BackHandler triggered in any screen"
Hi! I've defined two BackHandler listeners (by means of the [useBackHandler ](https://github.com/react-native-community/hooks#usebackhandler) hook): the former in the ExampleList screen and the latter in the Button screen. Whenever you click the physical back button (on Android), an alert shows up.

You can try [this snack](https://snack.expo.dev/@mbuffo/react-native-paper-example_v5_navigation_in

[2022-09-09 12:32] eengnr opened #3365 "Possibility to use specific system font"
**Is your feature request related to a problem? Please describe.**
Currently it seems to be only possible to use custom fonts if they are added as file to an app.
See https://callstack.github.io/react-native-paper/fonts.html

**Describe the solution you'd like**
Would it be possible to e.g. also use Google Sans on a Pixel phone somehow in an app?
The font is available on the system and it's not al

[2022-09-09 12:36] BenJeau commented on #1603
I think we should potentially reopen this issue since it's still part of Material You https://m3.material.io/components/navigation-rail/overview

[2022-09-10 02:17] #3288 closed

[2022-09-12 07:59] lukewalczak commented on #3364
Hey @MatteoBuffo, is your question related to the `react-native-paper` library itself?

[2022-09-12 08:06] lukewalczak commented on #3339
Hey @srivastavaanurag79, do you want to change the text color of the label or background color of the label?

[2022-09-12 08:07] MatteoBuffo commented on #3364
Hi @lukewalczak. I've stumbled upon this issue while working with this library, but I guess that the same could happen with a bare RN project set up with `react-navigation`.

[2022-09-12 08:17] lukewalczak commented on #3360
Material Design documentation indicates that containing an icon/image in the `Snackbar` is the wrong approach:

<img width="592" alt="image" src="https://user-images.githubusercontent.com/22746080/189604443-787c212f-16f0-4e55-a6bd-9ab36cff3b5c.png">

Through analysis of the `Snackbar` component code, I think it was crafted to accept only _string_ or `Text` component, that's why placing the `View`

[2022-09-12 08:40] srivastavaanurag79 commented on #3339
Text colour of the label

[2022-09-13 02:15] #3287 closed

[2022-09-13 10:54] PakDragoon commented on #1489
The datatable are pain, the docs are useless.

[2022-09-13 19:59] alpa-odoo opened #3366 "Stacktrace when using animation with progressbar"
Hi guys, does this seem ok to you ?
https://snack.expo.dev/@flaze9/progressbar?name=ProgressBar&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2F4.0%2Fprogress-bar.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20ProgressBar%2C%20Colors%20%7D%20from%20%27react-native-paper%27%3B%0A%0Aconst%20MyComponent%20%3D%20()%20%3D%3E%20(%0A%20%20%3CProgressBar%20

[2022-09-14 08:57] hosseinmd commented on #3223
[code]

`colors` is any

[2022-09-14 15:04] gatouillatpy commented on #3297
`this.menu` is `null` sometimes when rendered for the first time, as commented here https://github.com/callstack/react-native-paper/blob/main/src/components/Menu/Menu.tsx#L275-L280 (especially since React 18, I have the same problem)

This leads https://github.com/callstack/react-native-paper/blob/main/src/components/Menu/Menu.tsx#L270 to never return.

Solution is to replace https://github.com/ca

[2022-09-14 22:36] Zeraan opened #3367 "[Android Only] Enabling multiline in TextInput without height has the text not centered"
Using latest React-Native-Paper version (4.12.4), ran across this issue. On android only, if you enable multiline in TextInput, but doesn't specify a height, the text is moved upward vertically a bit, different from the label text:
![Screenshot_20220914_163521](https://user-images.githubusercontent.com/6200715/190275008-f4b72f1b-8ca6-47ec-a6b7-ef9b0a0ffaaf.png)

The textinput field does correctly

[2022-09-15 02:42] syahirdev commented on #3107
Still had the same problem. Create the menu inside useEffect using navigation.setOptions headerRight, and menu won't popups unless hardcoded visible={true}. But when set up on Stack.Screen, it's working fine.

[2022-09-15 07:03] raajnadar commented on #3107
@syahirdev you need to pass the dependency value for the useEffect to re-render, that is why it works for you when outside the useEffect

[2022-09-15 07:17] lukewalczak commented on #3366
I think the problem is that your `ProgressBar` with an animated value is wrapped in the regular `View` instead of `Animated.View` in your [app](https://github.com/alexandredepape/chess-recogniser-mobile-app/blob/progress-bar-animation/App.js#L164).

[2022-09-15 12:27] lukewalczak commented on #3364
Hey @MatteoBuffo, based on your answer I'm closing the issue (we are trying to focus mainly on the things related to the library itself).

[2022-09-15 12:27] #3364 closed

[2022-09-15 12:29] lukewalczak commented on #3365
Hey @eengnr, as far as I know and understood your problem, it's not possible – the font has to be integrated with the app.

[2022-09-15 12:29] #3365 closed

[2022-09-15 12:36] MatteoBuffo commented on #3364
Hi @lukewalczak! Sorry, in the end I could find the solution, but forgot to close this issue. Just in case, [this](https://stackoverflow.com/a/72133869) is the way I did it.

[2022-09-15 14:55] Softkeydel commented on #3289
@ShravanCentricwave
Is there any possible solution available ??

[2022-09-15 19:26] saver711 opened #3368 "Appbar.Action & Appbar.BackAction color prop doesn't work"
### Current behaviour

Appbar.Action & Appbar.BackAction color prop doesn't work

### Expected behaviour

for Appbar.Action & Appbar.BackAction color prop to work

SEE THIS SNACK
https://snack.expo.dev/@ahmedhassan711/color-prop

### What have you tried

some manipulation, but it doesn't work

# Versions
react-native: "0.69.5"
react-native-paper:  "^5.0.0-rc.5"
react-native-vector-icons :  "^9.2.0

[2022-09-15 21:31] lukewalczak commented on #3368
@saver711 thanks for reporting the issue, I will investigate the problem.

[2022-09-15 23:56] bsubedi26 opened #3369 "Text custom font ios not working"
Hello, we are using `"react-native-paper": "^5.0.0-rc.5"` and the theme object looks like:
[code]

However, in IOS the `fontFamily` isn't applied for the `<Text>` component. Looking at the code below, is there a reason why `fontFamily` is only set for `android` and not `ios`?
https://github.com/callstack/react-native-paper/blob/main/src/components/Typography/Text.tsx#L102

[2022-09-16 07:38] lukewalczak commented on #3369
The issue will be fixed by the following PR: https://github.com/callstack/react-native-paper/pull/3351

[2022-09-16 10:30] Korin92 commented on #1613
I found the solution. You must add style tag for the background of the icons, labelStyle for the label and labelTextColor for the color of the text. example:
**actions={[
                        {
                            style:{backgroundColor: '#474747'},
                            labelStyle:{backgroundColor:'#474747'},
                            labelTextColor:'#a9ba37',

[2022-09-16 13:42] dimbslmh opened #3371 "[5.0.0-rc.5] Searchbar clearIcon should not be visible with empty string value"
### Current behaviour
clearIcon is visible with empty string value

### Expected behaviour
clearIcon should not be visible with empty string value

### Code sample
[code]

### Screenshots (if applicable)
<img width="310" alt="Screen Shot 2022-09-16 at 20 30 08" src="https://user-images.githubusercontent.com/745635/190650612-db4077b5-604e-4594-955e-81ec478ae895.png">

### What have you tried

When

[2022-09-16 17:42] dimbslmh commented on #3371
@lukewalczak I have updated the issue.

[2022-09-16 20:10] saver711 commented on #3368
sorry, i am new to github issues
if u solved the problem, what should i do to use custom color for Appbar.Action & Appbar.BackAction

[2022-09-16 22:00] Diego10x commented on #3337
I have the same problem, in the documentation the headerShown option for Material Bottom Tabs Navigator is not specified and the header does not appear, when using bottom tabs it does.

[https://snack.expo.io/?platform=android&name=Bottom%20Tabs%20Navigator%20%7C%20React%20Navigation&dependencies=%40expo%2Fvector-icons%40*%2C%40react-native-community%2Fmasked-view%40*%2Creact-native-gesture-handle

[2022-09-17 11:09] lukewalczak commented on #3368
if u solved the problem, what should i do to use custom color for Appbar.Action & Appbar.BackAction

I've just provided the PR, which will be merged and released in the next rc version(`5.0.0-rc.6`).

[2022-09-17 12:27] foxsnow38 commented on #2482
Still, the problem have ...

![image](https://user-images.githubusercontent.com/31081148/190856662-dbe747e7-beeb-4baf-9d61-c127901909f6.png)

![image](https://user-images.githubusercontent.com/31081148/190856645-b20be848-5ff4-4d9a-b47f-82459501b89f.png)

[2022-09-17 14:21] rakshit087 opened #3372 "Bottom Navigation active background visible for multiple screens."
### Current behaviour

When I click on a different screen I get Navigated to that page and it's background becomes highlighted, however, the background of the previous tab is still highlighted.

### Expected behaviour

The background of non active tabs should not be highlighted.

### Code sample

[code]

### Screenshots (if applicable)

<img src="https://user-images.githubusercontent.com/50898928/

[2022-09-17 18:58] vinothmoorthkumar commented on #3080
You guys found any solution for this?

[2022-09-18 09:27] ConjuringCoffee commented on #1941
You can use a `View` instead of `DataTable.Cell`. Here's an example:

[code]

[2022-09-18 10:31] warrior97 commented on #3372
Exact same issue here with the same versions. Also how do we change the active background color, cause we don't want any.

[2022-09-18 10:33] lukewalczak commented on #3372
Could you please attach link to the expo snack with the issue reproduction, so it will easier for us to fix it?

[2022-09-18 10:34] lukewalczak commented on #3371
Thanks, I'm able to reproduce it, will fix it in the nearest future.

[2022-09-18 14:59] rakshit087 commented on #3372
Okay, I will create one.

[2022-09-19 09:33] lukewalczak commented on #3372
@rakshit087 @warrior97 please provide the version of `react-navigation` as well.

[2022-09-19 09:41] lukewalczak commented on #3366
Hey @alpa-odoo, did it help you with the issue?

[2022-09-19 09:49] lukewalczak commented on #3339
Hey @srivastavaanurag79, I think the color of the label is paired with the placeholder and border color. If you want to customize the label text color you can achieve it via `theme` prop:

[code]

[2022-09-19 09:57] srivastavaanurag79 commented on #3339
I will try it and let you know if it works, thanks for the reply.

[2022-09-19 10:36] srivastavaanurag79 commented on #3339
It Worked.
Thanks 👌🙏🏽

[2022-09-19 13:26] lukewalczak commented on #3366
so then please try to reproduce it on the fresh react-native project, with the minimum code, required to observe the bug and share the link in the issue, so we can check it.

[2022-09-19 13:28] lukewalczak commented on #3297
@gatouillatpy would you like to prepare the fix for it?

[2022-09-19 16:01] alvinmandala commented on #919
With theme version 3, you can use
`theme={{colors: {inversePrimary: Colors.white }}}`

[2022-09-19 17:35] gloredo commented on #3085
I believe it should be reopened. `@react-navigation/bottom-tabs` already implements the `lazy` option, I believe that porting the implementation to here shouldn't be complex.

[2022-09-19 17:37] gloredo commented on #3085
Same problem here. This issue must be reopened.

[2022-09-19 19:31] lukewalczak commented on #3366
Try to make `ProgressBar` animatable by wrapping component in [createAnimatedComponent](https://reactnative.dev/docs/animated#createanimatedcomponent) and use it then.

[code]

[2022-09-19 23:24] iM-GeeKy opened #3376 "[5.0.0-rc.5] Jest failures"
### Current behaviour

There appears to be an issue with Jest tests when upgrading from version `4.12.4` to `5.0.0-rc.5`.

### Expected behaviour

Upgrading the version of `react-native-paper` shouldn't affect Jest tests.

### Code sample

https://github.com/iM-GeeKy/material-you-jest

Check the [`README.md`](https://github.com/iM-GeeKy/material-you-jest) on how to reproduce.

### What have you tr

[2022-09-19 23:44] hbriese commented on #3287
Currently it is not possible to render a large appbar header with a menu action in place of the back action, for instance

[2022-09-20 03:16] hbriese commented on #3287
Other basic examples include using my own wrapper component as the back action, for instance.
When using these wrappers, the Appbar header component will not correctly identify the wrapper component as the back action and thus will not layout the component in the correct area

[2022-09-20 06:28] theabhishek2511 opened #3377 "Component not respecting theme setting, am I doing something wrong?"
What I'm using (non-expo project):
[code]

I'm relatively new to React Native so I'm not sure what I'm doing wrong here, but I'm trying to force an app into always light mode, and it seems like for some components, my device's theme setting almost always takes precedent over whatever theme I try to pass to `react-native-paper`'s Provider. Setup is as follows:

App.tsx

[code]
SomeScreen.tsx
[code]

[2022-09-20 06:52] theabhishek2511 commented on #3377
I attempted a minimal repro using expo: https://snack.expo.dev/9bPX3BMml , but it seems like everything is working fine through there. It's just my device (Pixel 3a) and my project where this issue crops up.

[2022-09-20 07:11] raajnadar commented on #3377
https://callstack.github.io/react-native-paper/theming.html

[2022-09-20 07:22] theabhishek2511 commented on #3377
`dark` should already be set to false from the spread operator for `CombinedTheme`. Regardless, setting `dark` to any value doesn't have the desired effect.

`dark: false`
![image](https://user-images.githubusercontent.com/2082634/191193157-9bb59ab8-4186-47d0-9de0-e99b15ae3206.png)
`dark: true`
![image](https://user-images.githubusercontent.com/2082634/191193257-f2fd4ab7-1c76-4c64-bf7b-90c63f45dbb

[2022-09-20 07:40] raajnadar commented on #3377
Can you repro on pixel emulator? If yes can you share the config of the emulator?

[2022-09-20 09:41] alexandredepape commented on #3366
I did:
[code]
And I get:
[code]

[2022-09-20 11:19] lukewalczak commented on #3376
Hey @iM-GeeKy, due to that [commit](https://github.com/callstack/react-native-paper/commit/25cd448f7eafc62e68844a44056a54b707b7e1e8), since `testID` is extracted from `rest` you need to adjust the `testID` in your test to:

[code]

[2022-09-20 11:33] iM-GeeKy commented on #3376
I see now! Thank you. Is that captured in the documentation by any chance? That way it's more obvious for anyone else who may run into the same problem.

[2022-09-20 11:33] #3376 closed

[2022-09-20 11:35] lukewalczak commented on #3376
Tbh, I'm going to revisit that change and confirm it's necessary. If I confirm it's required then I will add it in the migration guide, otherwise will revert that change and inform you about it ✌🏽

[2022-09-20 18:45] Softkeydel opened #3379 "react-native-paper TextInput change height"
### Current behaviour
1.Changing TextInput  height icon and text alignment is not working properly
![photo_6147924464076173696_y](https://user-images.githubusercontent.com/16410754/191337269-af0dfe9b-37ef-4b93-b003-d5ac6aae0025.jpg)
2. How to use MaterialCommunityIcons or other in TextInput
 ![photo_6147924464076173698_y](https://user-images.githubusercontent.com/16410754/191339216-2deb42f2-a13a-4

[2022-09-20 18:47] Softkeydel commented on #3379
| react-native-vector-icons    |9.2.0

updated the issue

[2022-09-21 23:26] R4Y-repo opened #3380 "DarkTheme not defined in package or react navigation theming docs is wrong"
### Current behaviour

Whenever i use the `DarkTheme` component from `react-native-paper` it says that it doesn't exist. Whereas the docs for the 5.0 version says that it does. [here's a link to an example that uses `Darktheme`](https://callstack.github.io/react-native-paper/theming-with-react-navigation.html#:~:text=DarkTheme%20as%20PaperDarkTheme%2C)

[code]

[code]

### Expected behaviour

`Dar

[2022-09-22 05:10] abdullahkhan70 commented on #3379
You should better update your react-native-vector-icons version. If, you do that, then it would solve your issue.

[2022-09-22 05:21] abdullahkhan70 commented on #3372
**I hope it will fix your problem.**

[code]

**You just need to add a "tabBarColor" props in the "Tab.Screen" component. This will dynamically, change the background color of the selected Bottom Tab item.**

[2022-09-22 09:59] lukewalczak commented on #3380
Hey @R4Y-repo, thanks for pointing it out. That document has to be updated to the latest library version. Currently we are exporting the following themes:

[code]

and the `DefaultTheme` which is basically `MD3LightTheme`.

[2022-09-22 10:20] #3371 closed

[2022-09-22 10:20] #3368 closed

[2022-09-22 10:31] #3372 closed

[2022-09-22 11:10] #3305 closed

[2022-09-22 11:13] #3369 closed

[2022-09-22 13:23] #3043 closed

[2022-09-22 13:47] R4Y-repo commented on #3380
Thanks for the info
Will see if using these works out

[2022-09-22 17:05] vinothmoorthkumar opened #3381 "Textinput change color inside box not working"
Hi,

Here I m try to change color of text inside textinput box. I m passing color in theme as props still is not working.

`<TextInput theme={{ colors: { text: "white"}}} label="data" value={value}  />
`

Help me please

[2022-09-22 17:06] vinothmoorthkumar commented on #3381
I using     "react-native-paper": "^5.0.0-rc.6"

[2022-09-22 17:33] mathias-berg commented on #3297
Can confirm the above solution works. Just upgraded from Expo 45 to Expo 46 (React 18) and the menu stopped showing in my app, forked this repo and did the above and everything works now.

[2022-09-22 22:30] R4Y-repo opened #3382 "react-native-paper AppBar cannot take screen title from react-navigation"
The AppBar comes with an empty navbar and when i want to know how can i make it always have the screen's name like react navigation does

when applying the AppBar, by default it displays no title.

the AppBar should automatically have the screen's name as its title.

/shared/navbar.js
[code]

/routes/stackone.js

[code]
/routes/stacktwo.js

[code]

App.js

[code]
shared/preferencesContext.js
[code

[2022-09-23 08:49] kelokchan commented on #3382
Try `title={options.title}`

[2022-09-23 09:30] R4Y-repo commented on #3382
Can you tell me how can I put it in the code because there's no variable called `options`

[2022-09-23 09:39] lukewalczak commented on #3382
@R4Y-repo please check the following [snack](https://snack.expo.dev/U9EW8Fmne), mainly focus on:

[code]

[2022-09-23 12:31] lukewalczak commented on #3085
Hey @gloredo, PRs with contributions are more than welcome!

[2022-09-23 12:37] lukewalczak commented on #3297
I will be happy to accept your contribution

[2022-09-23 13:37] R4Y-repo commented on #3382
Thanks! That fixed it 😄

[2022-09-23 14:51] lukewalczak commented on #3382
We can consider that, however, that library should be compatible with other navigation libraries as well, so currently I'm closing that issue.

[2022-09-23 14:51] #3382 closed

[2022-09-23 14:52] R4Y-repo commented on #3380
Just wanted to remind you that the mentioned solution works

[2022-09-23 14:53] lukewalczak commented on #3380
Thanks, I will keep the issue open, to remember to update the documentation.

[2022-09-24 07:54] mathias-berg commented on #3297
@lukewalczak I will see if I can pull something together in the upcoming days.

[2022-09-25 07:11] NathanC commented on #1342
@Trancever This issue still seems to be present. I set the border radius to 0, but the ripple is still the same rounded shape. Is there any workaround?

[2022-09-25 07:24] NathanC commented on #1342
@iyadthayyil I looked through your associated PR that fixed this. I'm using `5.0.0-rc.6`, and it's not working-- it appears your changes are still live though. Do you think something regressed or the way border radius works on `TouchableRipple` changed?

[2022-09-27 13:33] NathanC opened #3387 "Ripple does not respect Border Radius on buttons in 5.0.0-rc.6"
### Current behaviour

In 5.0.0-rc.6, buttons are rounded by default. I don't like the rounded look personally, so tried to set the border radius to 0 (or low at least).

The button border radius changes (for example, for a contained button), but **the ripple is still rounded, looking strange when pressed**

This is the inverse of an old bug: https://github.com/callstack/react-native-paper/issues/

[2022-09-27 13:45] NathanC commented on #1342
For anyone seeing this, there's a new related issue in the latest v5 release candidate: https://github.com/callstack/react-native-paper/issues/3387

It's inverted though, the ripple is showing inside the button (not filling it), as opposed to this issue where the ripple was outside of the button. Very similar though.

[2022-09-27 19:40] adamchenwei commented on #2081
That did not work for ios though. any idea to make it work?

[2022-09-28 05:15] muneem90 commented on #1699
Any solution for this?

[2022-09-28 07:27] dakshbhardwaj commented on #3381
@vinothmoorthkumar can you please provide the repro steps [snack.expo.dev](https://snack.expo.dev/)?

[2022-09-28 14:44] #3387 closed

[2022-09-29 02:17] #3325 closed

[2022-09-29 10:43] rossparachute commented on #1970
Ditto, it would be really handy to have an event to hook into whenever the close icon is pressed.

"react": "17.0.1",
"react-dom": "17.0.1",
"react-native": "0.64.3",
"react-native-paper": "^4.10.1",
"expo": "^44.0.0",

[2022-09-29 11:54] lukewalczak commented on #3366
Hey @alexandredepape, did you manage to solve your issue? Unfortunately, atm I don't have much time to help with it and be more involved in it.

[2022-09-29 15:28] thymikee opened #3390 "Fabric compatibility"
**Is your feature request related to a problem? Please describe.**

I'd like Paper to be proven usable on Fabric renderer :)

**Describe the solution you'd like**

Haven't investigated. According to @lukewalczak there's possibly some code to migrate using `measure` functionality. To be discovered.

[2022-09-30 12:25] alexandredepape commented on #3366
@lukewalczak I was not able to no, could you take 5 minutes to reproduce this minimal example and try on your end if that works ?

[code]

[2022-09-30 18:24] NathanC commented on #3387
Thanks @dakshbhardwaj for the quick fix! Always fun to see nullish coalescing in the wild.

[2022-10-01 00:50] NathanC opened #3391 "BottomNavigation in v5 doesn't leverage getColor (breaking @react-navigation/material-bottom-tabs)"
In the past, the Bottom Navigation bar color leveraged the `getColor` prop to determine what color a tab should be. It seems like for v3 theming, it just uses the `customBackground` prop, and never leverages `getColor`

See here: https://github.com/callstack/react-native-paper/blob/main/src/components/BottomNavigation/BottomNavigation.tsx#L621-L625

`getColor` *is* used in the ripple animation ([h

[2022-10-01 00:56] NathanC commented on #3391
fyi changing the code to
[code]

Worked for me.

[2022-10-01 03:51] dakshbhardwaj commented on #3387
Thank you @NathanC

[2022-10-02 00:10] NathanC commented on #1602
This doesn't solve it for me-- it makes the opacity of the ripple change/not work properly, and hides some of my content. Instead, I'm wrapping the Touchable Ripple in a view, and making it so that view has the same border radius and hidden overflow

[2022-10-02 16:51] R4Y-repo commented on #3325
i got the same issue but for `"react-native-paper": "4.12.4"` @lukewalczak there's no documentation that explains how to do the setup for expo apps

[2022-10-02 16:52] R4Y-repo opened #3392 "How to setup fonts for Expo apps"
Hello
so i am using `"react-native-paper": "4.12.4"` `"expo": "46.0.10"` and `"react-native": "0.69.6"` and i want to know how can i configure fonts for my expo app
it seems like there's no docs explaining the setup for Expo apps
https://callstack.github.io/react-native-paper/4.0/fonts.html
how to setup for Expo apps?

[2022-10-02 16:57] lukewalczak commented on #3392
Hey @R4Y-repo, I think you should follow the [Expo docs](https://docs.expo.dev/guides/using-custom-fonts/) related to fonts in order to get to know how to setup them.

[2022-10-02 17:00] R4Y-repo commented on #3392
So i just have to add the font one by one for each text element in `react-native-paper`?

[2022-10-02 17:11] lukewalczak commented on #3392
In v4.x, if you want to specify the same font for all components you can adjust the fonts property in the default theme. Please check that [doc](https://callstack.github.io/react-native-paper/4.0/fonts.html#configuring-fonts-in-themeprovider)

[2022-10-02 17:28] R4Y-repo commented on #3392
okay now i got this error:
[code]

here's the `fontConfig` object:
[code]
and here's how i use it in `DefaultTheme`:
[code]

[2022-10-02 18:13] lukewalczak commented on #3392
Please present it on the snack, mentioned in the first "github-actions" comment.

[2022-10-02 21:22] R4Y-repo commented on #3392
sorry for being late
https://snack.expo.dev/@r4y/font-error-for-paper
here's the snack with the issue
currently it's another issue

[code]

[2022-10-02 21:26] R4Y-repo commented on #3392
yay i got it solved :D by adding `require` to the path :)

[2022-10-02 22:50] iM-GeeKy opened #3394 "Banner lacks theme font 5.0.0-rc.6"
### Current behaviour

The `Banner` components text doesn't appear to support custom theme fonts.

### Expected behaviour

The `Banner` components text should support custom fonts to provide consistent design across application theming via either internally by looking at the theme, by a label style, or by allowing a `Text` component to be passed as the `children` prop.

### How to reproduce?

http

[2022-10-03 04:24] levicmm opened #3395 "Portal stays visible indefinitely if unmounted immediately after mounting"
### Current behaviour
When trying to remove a portal immediately after mounting it, it stays visible indefinitely. See the failing test below.
* same issue and description as #2606

### Expected behaviour
The portal is unmounted and does not stay visible.

### Code sample
Here's a minimal failing test case (something equivalent happened to me in more complicated, real world code)

https://snack.ex

[2022-10-03 04:32] levicmm commented on #3395
https://snack.expo.dev/qbqHB1abQ

[2022-10-03 09:31] lukewalczak opened #3396 "Use Pressable component within TouchableRipple"
**Is your feature request related to a problem? Please describe.**
According to the feature request title, we would like to replace the currently used `Touchables` in favour of `Pressable` within `TouchableRipple` component.

**Describe the solution you'd like**
Replace `Touchables` with `Pressable` within `TouchableRipple`

[2022-10-03 09:44] szymonrybczak commented on #3396
I can do it 😀 Today I will create pull request for that.

[2022-10-03 16:24] levicmm commented on #3395
This issue still exists.

[2022-10-03 18:04] lukewalczak commented on #3394
Hey @iM-GeeKy, I think the type for `children` is wrong and it should be `React.ReactNode`, because you can pass the Paper's `Text` component with `variant` as a Banner's children:

[code]

[2022-10-03 18:09] iM-GeeKy commented on #3394
I'll use that as a workaround until the type for `children` is updated. Thanks for the quick response.

[2022-10-03 18:21] lukewalczak commented on #3392
Hey @R4Y-repo , please check the following [snack](https://snack.expo.dev/@react-native-paper/2afdc9), where I used the your custom `fontFamily` on the first text.

[2022-10-03 22:52] bsubedi26 commented on #3358
@lukewalczak Facing a similar issue. I think @getadapt is getting at that no font family is applied when you don't specify a variant and without inlining the font family as style prop.

In v2 it was defaulting to `theme.fonts.regular` but in v3 there is no font family being set:
https://github.com/callstack/react-native-paper/blob/main/src/components/Typography/Text.tsx#L131

Is it possible to set

[2022-10-04 07:03] szymonrybczak commented on #3396
hey @lukewalczak I've stuck on the problem, and I've a question to make sure that I'm right. If we change everything to `<Pressable />` we can't use `delayPressIn`, but there is `unstable_pressDelay`, and to use it I need to update `@types/react-native`, because current version `0.66.1` doesn't contain this prop, should I update types library to `0.68.2` and change everywhere where `delayPressIn`

[2022-10-04 10:05] lukewalczak commented on #3396
Hey @szymonrybczak let's consider removing usages of that prop from components at all.

[2022-10-05 16:52] MaximFedarau opened #3403 "TypeScript error with @types/styled-components-react-native"
### Current behaviour

<img width="785" alt="Снимок экрана 2022-10-05 в 19 46 19" src="https://user-images.githubusercontent.com/87207122/194116281-568f61f5-b3fb-4c14-826b-a9fc8af08d83.png">

### Expected behaviour

`react-native-paper` and `styled-components` are both working correctly with `TS`.

### How to reproduce?

- install recent `react-native-paper`;
- install recent `styled-components` &

[2022-10-05 20:06] MaximFedarau commented on #3403
Pretty quick update here!
I just run `expo upgrade` and everything is now working!

My deps now:
<img width="378" alt="Dependencies after update." src="https://user-images.githubusercontent.com/87207122/194152870-e6087cdf-548a-40a7-818e-ec8b5bddc10a.png">

[2022-10-05 20:06] #3403 closed

[2022-10-06 20:12] VityaSchel opened #3404 "How to use Menu component without onDismiss?"
### Current behaviour
Currently it's impossible because onDismiss is required.

### Expected behaviour
I would like it to be possible to control visibility of this menu myself and show it whenever I want, while also allowing user to interact with background. In my case I wanted to use it for autocomplete in TextInput.

v5

[2022-10-07 00:05] hbriese commented on #3287
Another basic example of this issue.

# Works (small)
[code]
![image](https://user-images.githubusercontent.com/14974903/194439461-23f8d984-6c75-4d2a-91bd-f7fdbdfd83c0.png)

# Doesn't work (any other mode)
[code]
![image](https://user-images.githubusercontent.com/14974903/194439512-92448dce-fbab-4419-979a-a7aca22b38d8.png)

To repeat myself, there is no way to get the menu action to be shown in th

[2022-10-07 14:53] jbcrestot commented on #3232
Hello,
I'm pretty sure that this is happening because the device is set to dark mode, and that overrides the background color.

But the background color label is calculated from the TextInput background color which is white and it has a minimum height.

You can reproduce the bug by setting the TextInput background color to black and seeing the color appear behind the label.

[2022-10-07 23:26] Duduzera1997 commented on #3376
@lukewalczak Hello! u have any position for this issue? i have all units tests broken after upgrade :/

[2022-10-09 16:41] GubanovIgor commented on #3381
@vinothmoorthkumar, I have the same issue. Did you solve the problem?

[2022-10-10 11:54] lukewalczak commented on #3376
@iM-GeeKy @Duduzera1997 there is a PR which should handle the issue with tests https://github.com/callstack/react-native-paper/pull/3405

[2022-10-10 14:19] lukewalczak commented on #2726
Do the issue still exists on the latest version or material bottom tabs or react native paper?

[2022-10-10 14:21] lukewalczak commented on #2995
Closing due to no activity. If the issue still exists, please reopen and attach the appropriate repro.

[2022-10-10 14:21] #2995 closed

[2022-10-10 14:54] GaylordP commented on #2726
@lukewalczak 5-rc version of react-native-paper fixes the problem :)

[2022-10-10 15:09] lukewalczak commented on #2726
@GaylordP glad to hear that, I hope it's working properly on `4.12.5` as well. Closing the issue then.

[2022-10-10 15:09] #2726 closed

[2022-10-10 15:14] remi-p-opka opened #3406 "Is it possible to set default screen to show for a BottomNavigation.SceneMap ?"
I have this and i want to say the default screen for this scene is home: HomeScreen:

[code]
But every time my rendered scene is renderSceneHome, it puts me in the account screen, and i want it to be the HomeScreen by default, but couldn't find doc on it, is there a way to set the default screen ?
Thanks !

[2022-10-11 04:43] StephenChips opened #3407 "Text is cropped when setting custom font width for a button"
## Platform

XiaoMi K40

## `package.json` content

[code]

## Code that I don't understand

[code]

## Actual Behaviour

The text is cropped horizontally, only the bottom part is shown.

<img src="https://user-images.githubusercontent.com/17926083/194998436-0f63a647-a25b-4535-bc9b-235cbfcb9274.jpg" style="width: 50%"/>

## Expected Behaviour

A full-width large botton with a line of **crazy large

[2022-10-11 07:41] lukewalczak commented on #3407
Hey @StephenChips, I think you should also specify the `lineHeight` in your styles.

[2022-10-11 08:09] jessebrennan commented on #3309
I'm kind of a noob here so it would take me quite a bit of effort to figure all this out and I don't think I have the time at this point.

Probably I'd look at an example to see how to do it correctly, but ironically it's the example that's broken 😂.

Sorry I'm not more help.

On Thu, Aug 11, 2022, at 2:11 PM, Luke Walczak wrote:

[2022-10-11 08:19] GoDeepBlue commented on #3251
Awesome! Just validated in test – thank you!

From: Luke Walczak ***@***.***>
Reply-To: callstack/react-native-paper ***@***.***>
Date: Tuesday, July 26, 2022 at 5:00 AM
To: callstack/react-native-paper ***@***.***>
Cc: JaminJ ***@***.***>, Manual ***@***.***>
Subject: Re: [callstack/react-native-paper] Text in Badge not centered (Issue #3251)

Fix released in 4.12.4.

—
Reply to this email direct

[2022-10-11 08:32] lukewalczak commented on #3406
Hey @remi-p-opka, I think you could miss the default `index` which should be set to `0` if you want to have `HomeScreen` to be the first (default) tab. Please check the following [snack](https://snack.expo.dev/W-b0mXoWM) for reference.

[2022-10-11 08:38] cyhnkckali commented on #3381
I also have the problem. V5.0.0-rc.6

[2022-10-11 08:49] lukewalczak commented on #3381
In v5, since there are new theme colors, you have to override the following colors:

* flat input - `onSurfaceVariant`
* outlined input - `onSurface`

[2022-10-11 08:53] lukewalczak commented on #3381
`<TextInput theme={{ colors: { onSurface: "white"}}} mode="outlined" />`

[2022-10-11 08:57] cyhnkckali commented on #3381
Thanks Luke, It worked =)
@lukewalczak

[2022-10-11 10:21] StephenChips commented on #3407
@lukewalczak Thanks, I will try. What value should I set?

[2022-10-11 10:43] #3407 closed

[2022-10-11 21:43] lukewalczak commented on #3391
Hey @NathanC, could you please attach the snack presenting the issue?

[2022-10-11 21:52] NathanC commented on #3391
@lukewalczak I've already moved on to using a forked version, and I'm not the best at setting up snacks. If you trace through the usage of [getColor](https://github.com/callstack/react-native-paper/blob/main/src/components/BottomNavigation/BottomNavigation.tsx#L366) you'll see it never propagates to tab bar color (besides ripple).

If you want to reproduce it, just try material bottom. navigation

[2022-10-11 22:44] GubanovIgor commented on #1650
Has this been fixed?

[2022-10-12 11:28] lukewalczak commented on #3391
@NathanC which `react-native-paper` version are you using?

[2022-10-13 02:16] #3347 closed

[2022-10-13 07:29] vinothmoorthkumar commented on #3381
@lukewalczak Thank you,

[2022-10-13 07:30] #3381 closed

[2022-10-13 17:37] lukewalczak commented on #3404
@VityaSchel could you please present on the snack what you are trying to achieve?

[2022-10-13 17:56] #3394 closed

[2022-10-13 18:45] jgarciach commented on #3180
twitter does this, on press opens a new tweet, while long press gives you opens the fab group

<image src="https://user-images.githubusercontent.com/1530866/195679978-13df97ac-3188-45a6-ad47-1e14b2697866.jpeg" width=200>

also the fab currently accepts a onLongPress prop, if Fab group would just pass it down it would be easy to make it work with current functionality

[2022-10-14 02:16] #3344 closed

[2022-10-14 02:16] #3338 closed

[2022-10-14 03:08] e4basil commented on #3289
use [render](https://callstack.github.io/react-native-paper/text-input.html#render) method

[2022-10-14 04:58] VityaSchel commented on #3404
@lukewalczak ![Screenshot_20221014-085731_MTProto Mobile.jpg](https://user-images.githubusercontent.com/59040542/195765625-3ba68b3d-a671-415b-9e7b-f9ba3a30354f.jpg)

[2022-10-14 10:49] theabhishek2511 commented on #3377
Weirdly enough, it behaves well on emulators. Seems to be acting up only when I run it on my device. For now I've fixed it by setting `trackColor` manually.

[2022-10-15 03:53] David-Nguyen17 commented on #2891
When you create TextInput and add a placeholder. If the placeholder is long the UI will create a broken line. (mode = 'flat'). It's only an android platform.

[2022-10-17 08:30] lukewalczak commented on #3396
Closed via https://github.com/callstack/react-native-paper/pull/3400

[2022-10-17 08:30] #3396 closed

[2022-10-17 08:50] lukewalczak commented on #3358
Fixed via #3409

[2022-10-17 08:50] #3358 closed

[2022-10-17 10:37] #3360 closed

[2022-10-17 10:41] #3395 closed

[2022-10-17 19:59] PunainenAurinko commented on #3367
I also experience this issue with TextInput and multiline enabled. On Android the text is not centred. If I remove multiline true, everything is back to normal.

[2022-10-17 20:08] #3366 closed

[2022-10-18 20:02] #3404 closed

[2022-10-18 20:08] #3380 closed

[2022-10-19 12:16] lukewalczak commented on #3366
We've introduced new property called `animatedValue` https://callstack.github.io/react-native-paper/progress-bar.html#animatedValue. Please check the new [example](https://github.com/callstack/react-native-paper/blob/main/example/src/Examples/ProgressBarExample.tsx#L94-L99), I hope it will help you.

[2022-10-19 12:22] lukewalczak commented on #1603
It partially done, please check: https://callstack.github.io/react-native-paper/drawer-collapsed-item.html

[2022-10-19 17:59] wallzero opened #3422 "Dependency `@material/material-color-utilities` breaks React Native Web"
### Current behaviour
[The additional dependency `@material/material-color-utilities`](https://github.com/callstack/react-native-paper/commit/1d3c4bd864dc49b2c9b7bf3258b6e957afee6ff4) breaks React Native Web builds.

[code]

### Expected behaviour
A React Native Web project should build and bundle `react-paper` including its dependencies.

### How to reproduce?

Setup a standard [`react-native-web

[2022-10-19 18:02] wallzero commented on #3422
[See related issue](https://github.com/material-foundation/material-color-utilities/issues/35)

[2022-10-19 18:18] lukewalczak commented on #3422
Hey @wallzero, thanks for reporting the issue. Could you please help us and create a minimal repo on which we'll able to test the required changes?

[2022-10-19 22:20] wallzero commented on #3422
[See here](https://gitlab.com/wallzero/react-native-web-paper-demo)

Like I said above; I basically followed a standard [react-native-web](https://necolas.github.io/react-native-web/docs/setup/) and [react-paper](https://callstack.github.io/react-native-paper/using-on-the-web.html) project.

The two main changes I had to make were:

1. Add the following rule to support the recently added `@materia

[2022-10-19 22:58] R4Y-repo commented on #2919
Hello
Could you please tell the setup to make the text responsive?

[2022-10-20 03:10] Lucasark opened #3423 "RadioButton and ScrollView"
### Current behaviour
RadioButton with ScrollView don't work well Android and hide last component

### Expected behaviour
Show components after RadioButton, and not force me include all my components inside RadioButton

### How to reproduce?
With this code you will can see Button, but if you add more one RadioButton it will hide my Button (I used Button, but can use any others components)

[code]

[2022-10-20 03:25] bombillazo opened #3424 "Button Icon colors does not sync with Button text color"
### Current behaviour
Currently, the color used for a button text is not propagated to the icon colors for the Button `icon` prop.

### Expected behaviour
Ideally, the color used for the text is also used but the icon.

### How to reproduce?
[code]

### Preview

### What have you tried so far?
Currently one has to be passing a color available to both the button text and Icon.

### Your Environment

[2022-10-20 03:47] raajnadar commented on #3424
Did you try this?

[code]

[2022-10-20 04:53] Lucasark opened #3425 "Button Children Bug Crash"
### Current behaviour
Crash when using another components that is not Text

### Expected behaviour
Should accept any component Raect.node

### How to reproduce?
      <Button mode='contained' disabled><View style={{height: 100, width: 100}}>test</View></Button>

### Preview
ANDROID:
<img width="163" alt="image" src="https://user-images.githubusercontent.com/31750882/196859249-20fe7698-05bd-418c-99

[2022-10-20 05:02] raajnadar commented on #3425
You need to use the Text tag

`  <Button mode='contained' disabled><View style={{height: 100, width: 100}}><Text>test</Text></View></Button>`

[2022-10-20 05:09] Lucasark commented on #3425
Component do not crash, but it ignore children
<img width="159" alt="image" src="https://user-images.githubusercontent.com/31750882/196861254-d91e195d-6ee7-4314-83ff-4297e31d83a2.png">

[2022-10-20 05:14] Lucasark commented on #3425
Better exemple:
Android
<img width="169" alt="image" src="https://user-images.githubusercontent.com/31750882/196861766-946e29fb-2fdc-4b23-b3f5-44f83568705d.png">

Web:
<img width="168" alt="image" src="https://user-images.githubusercontent.com/31750882/196861842-e0ed3cd0-ccf4-4752-b337-4236ba3beb78.png">

[code]

[2022-10-20 05:24] raajnadar commented on #3425
If you need to do some nesting why not create a custom component?

A button should only have a string as children

[2022-10-20 05:42] raajnadar commented on #3425
It is very clear the library is strict with the material design concepts, if it is mentioned in the material design document please share the maintainer will add the support

[2022-10-20 06:10] raazatul7 commented on #3339
I am still facing the same issue.
Not able to update the label color on the focus
It takes the color from `activeOutline` color

[2022-10-20 07:59] lukewalczak commented on #3422
Thanks @wallzero, we are working on that!

[2022-10-20 08:40] tradebulls commented on #3339
+1 Facing same issue

[2022-10-20 09:46] RemyMachado commented on #2919
@R4Y-repo
Hey, sorry I didn't go into details. The code was pretty bad.
As I said, I used a custom hook `useResponsiveFontSize` that returns the fontSize value depending on the current screen width (retrieved with [useWindowDimensions](https://reactnative.dev/docs/usewindowdimensions)).
Basically the hook is a `switch case` instruction, checking the screen width and returning an arbitrary value th

[2022-10-20 12:54] danidaryaweesh commented on #3253
@chhorvon Has this issue been solved in the 5.x version?

[2022-10-20 13:52] #3422 closed

[2022-10-20 17:13] #3425 closed

[2022-10-20 17:16] #3424 closed

[2022-10-20 20:12] TNAJanssen commented on #3172
@johnny-mcfadden-dailypay did you ever get the visuals like the older "standard" version?

[2022-10-20 22:36] bombillazo commented on #3424
Thanks!

[2022-10-21 00:39] rmdevtorres opened #3428 "React Native Paper 5.0.0 rc6 onward error with @react-navigation/material-bottom-tabs"
### Current behaviour
App failed with the error as shown in the stack trace, I am unable to use @react-navigation/material-bottom-tabs with react-native-paper 5.0.0 starting rc6

### Expected behaviour
react-native-paper-v5 should be compatible with @react-navigation/material-bottom-tabs

### How to reproduce?

Will attach a

### Preview

### What have you tried so far?

Fallback to react-native-p

[2022-10-21 00:58] #3428 closed, assigned to nobody

[2022-10-21 13:49] danidaryaweesh opened #3430 "ViewPropTypes will be removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'."
### Current behaviour

I'm getting a warning about deprecated ViewPropTypes whenever I import this library into my code.
### Expected behaviour

To not get any warning about deprecated ViewPropTypes when importing the library
### How to reproduce?

Import any component from the library into an active file.

### Your Environment

| software                      | version
| --------------------- | -

[2022-10-21 17:55] R4Y-R4Y opened #3431 "Add responsiveness to text components to v5"
**Is your feature request related to a problem? Please describe.**

Hello
It would be really great if there's support to add responsiveness to React Native Paper's text components.
When I test an app in different screen sizes and resolutions, the font size, width, margin, padding and basically anything that's scalable gets bigger or smaller for every screen. The size is not consistent.

**Describe

[2022-10-22 04:24] srivastavaanurag79 commented on #3339
`theme={{colors: {placeholder: 'black'}}}`
When the input is focused it automatically uses the active outline color.

These are all the props inside theme
[code]
Try this:
`theme={{colors: {placeholder: 'black', primary: 'black'}}}`

[2022-10-22 04:27] srivastavaanurag79 commented on #3339
@lukewalczak When the input is focused label color switches back to activeOutlineColor

[2022-10-23 11:05] aishwarya-singh04 commented on #3094
It's still there, I'm getting the "Requiring unknown module "undefined". If you are sure the module exists, try restarting Metro" error.

[2022-10-23 12:45] benasdom commented on #1483
add this as a prop to fix the issue <TextInput  placeholderTextColor={"grey"}/>

[2022-10-24 01:55] ase9810 opened #3432 "How to give borderRadius to Appbar.Header?"
I'm styling Appbar.Header. The style related to the background color was applied, but the style related to the borderRadius was not applied. What setting should I set to give borderRadius on both sides of the bottom as shown in the picture below?
![defaultHeader](https://user-images.githubusercontent.com/18522328/197432603-16645c18-1120-482d-a1cb-622e30c8f462.PNG)

[2022-10-24 10:08] lukewalczak commented on #3432
Hey @ase9810, I think it's currently not possible

[2022-10-25 14:45] rufat opened #3434 "Ability to change style of Input"
**Is your feature request related to a problem? Please describe.**
I tried to change the paddingLeft and paddingRight of Input but the style prop is only affecting to container not the input itself.

**Describe the solution you'd like**
We can add a customInputStyle prop which will make changes on TextInputOutlined.tsx (line 329) and TextInputFlat.tsx (line 346) stylings.

**Additional context**
<

[2022-10-25 17:02] Lucasark commented on #3432
I think it's a violation on Material You. Radius is only in Components that is inside full surface, like Cards, Buttons and Modals.

[2022-10-25 19:21] bombillazo opened #3435 "[5.0.0-RC-8] Use custom font as default"
### Current behaviour
Currently, there is no way to set the default app font to a specific fontFamily. You either have to use variants or pass the fontFamily as a style prop.

### Expected behaviour
There should be a theme property that sets the default fontFamily to use and propagates it to ALL RNP elements.

### How to reproduce?
N/A

### Preview

Currently, when using themeV3, if you don't choo

[2022-10-25 19:36] bombillazo commented on #3435
Im currently getting around this using this patch and extending fonts to include a default variant `MD3Type`:

[code]

[2022-10-25 19:41] lukewalczak commented on #3435
Hey @bombillazo, unfortunately looks like I overlooked that case :|

What is the `theme.fonts.default` in your patch?

[2022-10-25 19:45] bombillazo commented on #3435
Its just another `MD3Type` object like `headlineSmall`, `bodyMedium`... etc. I then set it to use the custom fontFamily

[code]

[2022-10-25 20:22] lukewalczak commented on #3435
Could you please if that PR https://github.com/callstack/react-native-paper/pull/3436 is fixing the problem?

[2022-10-26 02:32] bombillazo commented on #3435
@lukewalczak sorry for the delay, yup! that looks good to me

[2022-10-26 06:36] abhilashnyamagoud opened #3437 "Hi Team"
Hi Team , I have used React native paper as my Design framework for my application. Now I am Doing Unit Testing With Jest But In Unit testing It Showing , paper Provider as a bug,  Unit test is not Supported For Paper Provider,

Look into This Issue.

[2022-10-26 08:25] lukewalczak commented on #3437
Hey @abhilashnyamagoud, what is the bug/issue which you've faced?

[2022-10-26 09:15] abhilashnyamagoud commented on #3437
![Screenshot 2022-10-26 144314](https://user-images.githubusercontent.com/52066411/197986439-d0d71ed6-a71b-4717-91de-51354b1df0ce.jpg)

when I Try to test with react native paper it showing Error,

[2022-10-26 09:43] lukewalczak commented on #3437
Please check the following [article](https://bobbyhadz.com/blog/typescript-jest-cannot-use-import-statement-outside-module), based on the provided error I think you have misconfigured jest env in your TypeScript project.

[2022-10-26 12:41] cyhnkckali opened #3439 "How to change List.Accordion rippleColor and underlayColor ?"

[2022-10-26 22:25] thlindustries opened #3440 "Where is unmountOnBlur from Navigator.Screen options prop?"
- I was messing around with material-bottom-tabs and bottom-tabs and I realized that some attributes are missing into Screen's options prop from **createMaterialBottomTabNavigator**.

- I was trying to use the **unmountOnBlur** attribute that I was already using while with **createBottomTabNavigator** but when I changed I got the type error saying that the attribute **unmountOnBlur** does not exis

[2022-10-26 22:52] thlindustries commented on #3440
Also other attributes that I was using are miss typed like tabBarLabel, with the material-bottom-tabs it only can be a string, with the  bottom-tabs  it can be a string or a function that returns a ReactNode and receives some params like **focused**

[2022-10-27 02:15] #3085 closed

[2022-10-27 15:02] lukewalczak commented on #3180
We can try to make it flexible, but a new solution cannot break the default behaviour.

[2022-10-27 15:39] fabriziocucci commented on #3180
The solution I suggested intially was to replace [this](https://github.com/callstack/react-native-paper/blob/main/src/components/FAB/FABGroup.tsx#L400-L404) with something like:

[code]

The obvious alternative is to add an additional prop to `FABGroup` (e.g. `disableToggleOnPress`).

Any other option comes up to mind @lukewalczak?

[2022-10-27 20:10] lukewalczak commented on #3180
I think introducing the new prop e.g. `toggleStackOnPressEnabled` with default `true` value is more convenient.

[2022-10-28 06:38] KishoreBarik commented on #3173
Hi @supagu
I am facing the same problem, were you able to solve it. I was trying to add it to a clean CRA app. No React Native project. I want to use this CRA app as a demo app.

[2022-10-28 14:06] lukewalczak opened #3443 "Upgrade Expo to 46 in the example app"
**Is your feature request related to a problem? Please describe.**

`react-native-paper` contains the example app based on the Expo, which is currently using SDK 45. It will be great to update it to the latest version according to the expo blog post: https://blog.expo.dev/expo-sdk-46-c2a1655f63f7
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Additi

[2022-10-28 14:28] lukewalczak opened #3444 "Introduce `react-native-owl`"
**Is your feature request related to a problem? Please describe.**

Add the `react-native-owl` library along with components tests, for visual regression testing, which can be really helpful in once `Fabric` compatibility will be implemented.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Added library with compon

[2022-10-28 14:46] #3332 closed

[2022-10-28 14:47] #3406 closed

[2022-10-28 14:55] #3437 closed

[2022-10-29 04:37] supagu commented on #3173
Sorry I haven't got it working.

[2022-10-29 12:15] suleymanbariseser commented on #3439
May I contribute to the project by implementing this feature?

[2022-10-30 09:52] fabriziocucci commented on #3180
@lukewalczak I could give this a try unless you guys want to handle this internally.

[2022-10-30 10:54] lukewalczak commented on #3180
Sure @fabriziocucci, I will be happy to accept your contribution!

[2022-10-31 08:59] #2769 closed

[2022-10-31 09:04] #3435 closed

[2022-10-31 09:04] #3263 closed

[2022-10-31 11:11] #3392 closed

[2022-10-31 11:55] elmahdi-souilmi commented on #2529
I have the same problem any solution?

[2022-10-31 12:18] lukewalczak commented on #3439
hey @suleymanbariseser, sure, let's try to add `rippleColor` in the similar way as it's currently done in `Button` or `AnimatedFAB` components.

[2022-10-31 14:22] ChandanBose666 commented on #1272
Hi, this code works perfectly for me. I think you need to check if you are providing the correct path or not

[2022-10-31 22:11] dk253 commented on #2172
Should this line: `if (e.endCoordinates.screenY < e.startCoordinates.screenY)`
Be: `if (e.endCoordinates.screenY <= e.startCoordinates.screenY)`

[2022-11-02 09:27] fmohtadi99 commented on #2731
@SantyLorenzo
Yes you can, I found it hardly :))
Open this file:
"[PROJECT]\node_modules\react-native-paper\src\components\Snackbar.tsx"
Go to line 210. You might have:
`<Text
          style={[
            styles.content,
            { marginRight: action ? 0 : 16, color: colors.surface},
          ]}

          {children}
        </Text>`
Change this to:
`
<Text
          style={[
            st

[2022-11-02 10:00] fmohtadi99 opened #3449 "TextAlign for Snackbar ("left", "center", "right")"
Most developers use **Snackbar** in their project to show a pure message (no action). In this case, they want to show the text at the **center** of **Snackbar**. But, HOW?

**STEPS**:

1. Open this file:
"[PROJECT]\node_modules\react-native-paper\src\components\Snackbar.tsx"

2. Go to line 210. You might have:
`<Text
          style={[
            styles.content,
            { marginRight: action

[2022-11-02 11:57] nmateo opened #3450 "How to use a <List.item> as a TextInput"
### Ask your Question

Is there any way to use a <List.item> as a textInput ? I can't figure it out.

[2022-11-02 15:21] jardvanroest opened #3451 "Can't install @react-navigation/material-bottom-tabs alongside release candidate"
### Current behaviour
@react-navigation/material-bottom-tabs can't be installed alongside release candidate.

### Expected behaviour
I expect this to be possible, since the newest release candidate has a version >= 3.0.0

### How to reproduce?
When I do npm i @react-navigation/material-bottom-tabs, it gives the error:

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm

[2022-11-02 17:59] suleymanbariseser commented on #3450
@nmateo could you explain in more detail? It is not clear

[2022-11-03 02:14] #3379 closed

[2022-11-03 08:47] okwasniewski commented on #3451
Hey @jardvanroest,

Can you try installing this with yarn? Using this command: `yarn add @react-navigation/material-bottom-tabs`. It has better algorithm of resolving dependencies. And most probably will work 😄 If not please provide a minimal github repro repository were this problem occurs.

[2022-11-03 20:06] Lucasark opened #3453 "Text Secury "eye" enable KeyBoard"
### Current behaviour
I don't know if it is necessary a bug. When I click on affix icon from InputText it enable keyboard too.

### Expected behaviour
I think the common behaviour is just "enable/disable" securyText without enable keyboard.

### How to reproduce?
I used InputText from example on documentation

### Preview

### What have you tried so far?

### Your Environment

| software

[2022-11-03 20:16] okwasniewski commented on #3451
I think I came up with a solution. There is an open proposal [here](https://github.com/npm/rfcs/pull/397) to support this use case by `npm`. Right now `@react-navigation/material-bottom-tabs` has a peer dependency on `react-native-paper` as `>= 3.0.0` but version `5.0.0-rc.9` is not being recognized as higher than `3.0.0`.

A quick workaround for this would be to add this to your `package.json`

[

[2022-11-03 21:37] bombillazo opened #3454 "[5.0.0-rc.9] List.Item `left` prop not respecting padding/margin"
### Current behaviour

When using `left` prop on an List.Item, the margin of the item is not respected the same way the Text does.

<img width="429" alt="image" src="https://user-images.githubusercontent.com/44002321/199838305-8e7974c2-651a-4c53-9f84-45921228adc3.png">

### Expected behaviour

The padding should behave the same when the Icon is not there.

<img width="433" alt="image" src="https:/

[2022-11-04 11:39] jardvanroest commented on #3451
@okwasniewski This workaround fixed it for me

[2022-11-04 12:28] okwasniewski commented on #3451
Thanks @jardvanroest, closing this 👍🏻

[2022-11-04 12:28] #3451 closed

[2022-11-04 19:02] polovi commented on #3432
Top app bars
Don’t use curved shapes on top app bars as it implies that the container can expand upon interaction.
-> [Guidelines](https://m3.material.io/components/top-app-bar/guidelines#ff25b95a-0c10-49a6-a7a5-355e029c390b)

[2022-11-06 15:25] suleymanbariseser commented on #2825
I created a library for handling snackbar in an easy way. It also supports stacks if you would like to have https://www.npmjs.com/package/react-native-paper-snackbar-stack

[2022-11-07 03:15] jeremyfalldev opened #3457 "5.0.0 - How can customize the theme font"
### Ask your Question
How can customize the theme font?
I cannot find the details to customize the theme font in the document.
https://callstack.github.io/react-native-paper/fonts.html

The old (v3) document shows the way to customize the theme font. But it does not work on v5.
https://callstack.github.io/react-native-paper/3.0/fonts.html

Let me know, thanks!

[2022-11-07 06:27] cyhnkckali commented on #3439
Thank you @suleymanbariseser

[2022-11-07 16:10] fmohtadi99 commented on #3457
Newer version of React links assets automatically. You don't need to do anything more...
First of all, link your fonts as what said in v5 and then, use the same way in v3 font configuration.

[2022-11-07 16:13] jeremyfalldev commented on #3457
@fmohtadi99 Yes, we don't need to do anything to use the custom font. But have you ever tried to customize the theme font in V5? V3 font configuration does not work in V5.

[2022-11-07 16:15] fmohtadi99 commented on #3457
Could you please upload your code?

[2022-11-07 17:13] jeremyfalldev commented on #3457
[code]

[2022-11-07 20:18] lukewalczak commented on #3450
Hey @nmateo, could you please illustrate what you are trying to achieve?

[2022-11-07 20:20] lukewalczak commented on #3432
As mentioned above, it's not typical for MD.

Currently closing the issue, however if there will be greater interest in that modification we can discuss it.

[2022-11-07 20:20] #3432 closed

[2022-11-07 20:44] lukewalczak commented on #3453
Hey @Lucasark, if you don't want to focus input when pressing right icon you can pass into it the prop `forceTextInputFocus={false}`, like on the following [snack](https://snack.expo.dev/@react-native-paper/textinput-securetextentry).

[2022-11-07 20:44] #3453 closed

[2022-11-07 21:14] lukewalczak commented on #3457
Hey @jeremyfalldev, could you please explain what are you trying to achieve? `configureFonts` doesn't work on the v3 since fonts structure differs between v2 and v3 - in v3 fonts are based on **variants**, where each of them contains the following properties: `fontFamily, letterSpacing, fontWeight, lineHeight, fontSize`.

[2022-11-08 02:10] jeremyfalldev commented on #3457
@lukewalczak I wanna use the `NotoSans` instead of `System` on all the react-native-paper components.
This is the theme's `fonts` object.
`"fonts": {"bodyLarge": {"fontFamily": "System", "fontSize": 16, "fontWeight": "400", "letterSpacing": 0.15, "lineHeight": 24}, "bodyMedium": {"fontFamily": "System", "fontSize": 14, "fontWeight": "400", "letterSpacing": 0.25, "lineHeight": 20}, "bodySmall": {"f

[2022-11-08 03:12] bombillazo opened #3458 "[5.0.0-rc.9] SearchBar component not respecting default font"
### Current behaviour
The `Searchbar` component is not utilizing the custom default font set in the RNP theme.

### Expected behaviour
Component renders using the custom theme font.

### How to reproduce?
Simply use the `Searchbar` component using a custom font.

### Preview
I believe the issue lies here in the Searchbar component logic:

[code]

### What have you tried so far?
To circumvent this,

[2022-11-08 09:09] lukewalczak commented on #3457
Partially, because you have to override the `fontFamily` in the theme fonts variants, but you can easily achieve it by modifying `theme.fonts` property, like below:

[code]

I've prepared the [snack](https://snack.expo.dev/@react-native-paper/text-with-custom-fonts) where I've presented the whole approach.

Looks like it can be helpful to provide some utility for that 🤔

[2022-11-08 09:14] jeremyfalldev commented on #3457
@lukewalczak That makes sense. I thought configureFonts method in V5 does the above code snippet.

[2022-11-08 09:24] lukewalczak commented on #3458
Hey @bombillazo, would you like to handle the support for it in the `Searchbar`, by adding the ternary expression there `theme.isV3 ? theme.fonts.default : theme.fonts.regular`?

[2022-11-08 16:41] arochedy opened #3459 "Ios : Can't use TextInput affix with clearButtonMode"
### Current behaviour
Can't use TextInput affix with clearButtonMode => both affix and clear button are on stacked
### Expected behaviour
get the clear button on the left of the affix and not at the same plac e

### How to reproduce?
    <TextInput
            clearButtonMode="always"
             right={<TextInput.Affix text="test" />}

    />

### Your Environment

| software

[2022-11-08 18:35] jeremyfalldev commented on #3457
@lukewalczak That makes sense. I thought `configureFonts` method in V5 works as the above code snippet.
Thanks!

[2022-11-08 19:00] bombillazo commented on #3458
Sure, what branch should I use as base and to what branch should I create the PR?

[2022-11-08 19:18] lukewalczak commented on #3458
Main branch as a base and target. Please also check the contribution guide linked in the readme. Thanks!

[2022-11-08 22:04] kdutcher opened #3460 "Card Roundness"
Is the Card component supposed to follow the same roundness guidelines as button?

In Card.tsx, the Surface component's borderRadius is set the value of roundness on line 225.

In Button.tsx, the Surface component's borderRadius is set to a multiple of roundness base on version.
Line 233:
const borderRadius = (isV3 ? 5 : 1) * roundness;

I was expecting Card to behave like Button.

[2022-11-09 12:44] christopher-18 opened #3461 "How to split a column further in DataTable"
I need to split the column into further columns. How to achieve it?

Sno.         Name                    Age
               FName LName.
1             Chris.     Evan.         78
2.            Harry.    C.               29

[2022-11-09 12:55] lukewalczak commented on #3461
Hey @christopher-18, it's not clear for me what are you trying to achieve, could you please present some visuals?

[2022-11-09 13:35] christopher-18 commented on #3461
@lukewalczak
Something like this (the last two columns)
<img width="438" alt="Screenshot 2022-11-09 at 19 04 46" src="https://user-images.githubusercontent.com/23613887/200843915-2cf8ac1e-dc7a-40df-87d6-00040a1283a1.png">

[2022-11-09 14:44] lukewalczak commented on #3461
I think that `DataTable` may not supporting that layout.

[2022-11-09 15:05] R4Y-repo commented on #1775
issue still persisting in `4.12.4`

[2022-11-09 15:29] lukewalczak commented on #3459
Hey @arochedy, I think `TextInput` is not capable to handle properly both right affix and clear icon displayed due to `clearButtonMode`, so I would suggest avoiding mixing those two props.

[2022-11-09 15:29] #3461 closed

[2022-11-10 05:48] isinha-onefc commented on #1700
This issue is still occurring. However, `mode="outlined"` seemed to fix this issue for me on Android.

[2022-11-11 21:01] #3459 closed

[2022-11-11 21:33] lukewalczak commented on #3449
Closing the feature request according to the [explanation](https://github.com/callstack/react-native-paper/pull/3456#issuecomment-1312206734) attached in the PR associated with that request.

[2022-11-11 21:33] #3449 closed

[2022-11-12 02:00] idiomattic opened #3466 "What is the preferred way of preventing the Menu component from going outside the bounds of the screen?"
### Ask your Question
I have a few dropdowns that have a variable number of Menu Item's and I've noticed that they sometimes will run outside the bounds of the bottom of the screen.  I've tried setting a `maxHeight` in the `contentStyle` prop but that seems to allow the menu items to overflow their container.

My current implementation:
[code]

[2022-11-12 19:31] lukewalczak commented on #3466
Hey @idiomattic, could you present it on the expo snack?

[2022-11-14 00:04] iM-GeeKy opened #3467 "Android elevation/shadow issue"
### Current behaviour

Navigating around the example app below on Android results in an odd elevation/shadow rendering issue. Note, this behavior isn't present on iOS. This problem seems to be intermittent  and I'd suspect this might be an upstream issue, but I want to post it here as it indirectly affects this repository and to bring visibility to the matter.

### Expected behaviour

The shadow s

[2022-11-14 08:32] tayyabrajpoot12 commented on #570
https://callstack.github.io/react-native-paper/icons.html

in this link see See the list of supported icons

[2022-11-14 09:46] lukewalczak commented on #3439
Closed via: https://github.com/callstack/react-native-paper/pull/3448

[2022-11-14 09:46] #3439 closed

[2022-11-14 09:58] lukewalczak commented on #3457
Closing via: https://github.com/callstack/react-native-paper/pull/3462.

[2022-11-14 09:58] #3457 closed

[2022-11-14 09:59] lukewalczak commented on #3460
Closing via: https://github.com/callstack/react-native-paper/pull/3465

[2022-11-14 09:59] #3460 closed

[2022-11-14 11:15] lukewalczak commented on #3454
Hey @bombillazo, you should pass `props` to the `List.Icon`:

[code]

[2022-11-14 11:19] lukewalczak commented on #1775
Closing via: #3469

[2022-11-14 11:19] #1775 closed

[2022-11-14 11:27] #3440 closed

[2022-11-14 11:27] #3443 closed

[2022-11-14 14:44] gregorojstersek commented on #1852
@BishoyBishai @shanedaugherty It seems that resolving with null or {source: null} creates an empty space on the left. See picture below (first one is without it and second one has it):

![Screenshot 2022-11-14 at 15 43 35](https://user-images.githubusercontent.com/9784551/201689192-420132ef-0926-456b-ac5f-c85d4f6c503c.png)

[2022-11-15 05:10] kedaitayar opened #3470 "[5.0.0-rc.9] TextInput right and left props not displaying"
### Current behaviour
TextInput not displaying icons from the right and left props

### Expected behaviour
TextInput to display icons from the right and left props

### How to reproduce?
Reproducible from the [example app](https://snack.expo.dev/@react-native-paper/react-native-paper-example_v5)

### Preview
![Preview](https://user-images.githubusercontent.com/49740904/201830957-6d43b91a-58bc-4957

[2022-11-15 14:17] lukewalczak commented on #3470
Hey @kedaitayar, fixed the snack, it should be correct right now.

[2022-11-15 14:17] #3470 closed

[2022-11-15 21:28] rossicler-hostalky commented on #1754
same issue here, anyone found a solution?

[2022-11-15 21:48] mathias-berg commented on #3297
This seems to be fixed in RC, I'm sorry for not helping out, a lot of things got in the way.

[2022-11-15 23:22] DishantSthapit commented on #2529
Any progress on this?

[2022-11-16 02:59] goofygoobers opened #3472 "Text within button is truncated by default if character length of text is equal to 10"
### Current behaviour

This issue is specifically found when emulating an Samsung S22 device.
When the text is exactly 10 characters long, it is automatically truncated.

### Expected behaviour

The expected behaviour is for the text in the button to not be truncated.

### How to reproduce?

1. Create a samsung galaxy s22 device on android studio with this skin (Galaxy 22) https://developer.samsun

[2022-11-16 10:46] dwbra commented on #3451
Thanks for this workaround!

[2022-11-16 16:16] DevRSC commented on #3451
@okwasniewski, Thanks this workaround fixed my problem.

[2022-11-17 20:58] bombillazo commented on #3458
PR pending approval

[2022-11-18 02:15] davisk4rpi opened #3476 "replace adaptNavigationTheme with getAdaptedTheme"
**Is your feature request related to a problem? Please describe.**
`adaptNavigationTheme` does not work with custom Material themes and the input/output interface feels clunky.

**Describe the solution you'd like**
within  the function body of `adaptNavigationTheme`, there is a `getAdaptedTheme` function.  If this were exposed instead of `adaptNavigationTheme` we'd have a more flexible tool.

ex i

[2022-11-18 09:18] Bi0max opened #3477 "Card has wrong backgroundColor with "elevated" mode"
### Current behaviour
According to Material3 spec, the elevated Card sould have a tint color (https://m3.material.io/components/cards/specs).
![image](https://user-images.githubusercontent.com/4247432/202665613-9f84d53a-c56a-4279-bf89-5f0b5094974a.png)

But every mode except "contained" receives only "color.surface".
https://github.com/callstack/react-native-paper/blob/d79e198c8c2b3df61a16df3611a3

[2022-11-18 12:19] lukewalczak commented on #3458
Thanks @bombillazo, will handle that in my spare time!

[2022-11-18 12:50] AmandaSkraba commented on #2392
Essa resposta resolveu meu problema, obrigada!

[2022-11-18 13:24] lukewalczak commented on #3476
Could you please explain what doesn't work? Maybe you can present on the snack the current result vs your expectation?

[2022-11-18 14:13] Bi0max commented on #3477
@lukewalczak, yes, will do

[2022-11-19 09:51] erdemkeren opened #3480 "Accept null as well as undefined as text prop values"
**Is your feature request related to a problem? Please describe.**
Yes. I decided to use react-i18next (which is one of the most popular solutions around) and react-native-paper in a typescript project.

The return type of the function `t` from the other package is not compatible with react-native-paper.

[code]

I need to use it like `t('bar')!` or `t('bar') || undefined` everywhere or see type e

[2022-11-19 11:17] erdemkeren commented on #3480
We can fix this with the following inside i18n config file:

[code]

[2022-11-19 11:17] #3480 closed

[2022-11-19 11:21] maximilianotaverna commented on #1382
I don't understand why this issue is closed as it does not meet the material guidelines specifications "Width | dynamic based on labels, but fixed (equal segments)" as per layout values .. ref https://m3.material.io/components/segmented-buttons/specs

[2022-11-19 11:59] maximilianotaverna opened #3481 "SegmentedButtons are not equal in widths. Reference M3 Material Design."
The Button items are shrinking and not stretching to to create equal widths. Therefore labels with shorter names have smaller widths.

Reading the documentation from Material Design, the [SegmentedButtonItem](https://github.com/callstack/react-native-paper/blob/main/src/components/SegmentedButtons/SegmentedButtonItem.tsx) does not meet the material guidelines specifications.

See [dynamic based on

[2022-11-19 22:17] lukewalczak commented on #3481
Hey @maximilianotaverna, I have seen that you already provided the PR fixing the issue, but could you please attach the snack presenting the issue?

[2022-11-20 00:24] maximilianotaverna commented on #3481
Hey @lukewalczak , thank you. Here is the [snack](https://snack.expo.dev/wZwRqhuf-).

[2022-11-20 02:14] #3391 closed

[2022-11-21 09:45] Bi0max commented on #3477
@lukewalczak , done

[2022-11-21 12:17] lukewalczak commented on #3477
Thanks @Bi0max, will merge in my OSS dedicated time.

[2022-11-21 20:09] davisk4rpi commented on #3476
@lukewalczak

Im not sure that a snack is helpful here. I am not saying anything is broken, the function works as I would expect it to. Maybe rewording this as a question will clarify what I am requesting.

In the example below, can I use `adaptNavigationTheme` to create a a navigation theme that has `colors.background === '#0FF'` ?

[code]

[2022-11-21 22:51] lukewalczak commented on #3476
Hey @davisk4rpi, thanks for the feedback, I see your point. I will try to refactor the utility to consider the presented case.

[2022-11-22 20:52] davisk4rpi commented on #3476
@lukewalczak Thank you, I'm happy to contribute if you would like any assistance.

[2022-11-23 12:40] lukewalczak commented on #3476
@davisk4rpi currently I have a plan for how to tackle that problem - probably I'll do that on Monday.

I'm planning to create a hook based on the currently existing function `adaptNavigationTheme` which will be extended a bit to accept the user's theme, something like that:

`function adaptNavigationTheme(themes, userTheme)`

and then:

[code]

If you have some time and can check if that approach

[2022-11-23 18:59] ethansoup commented on #1113
This is needed desperately

[2022-11-23 20:25] suleymanbariseser opened #3486 "Snackbar duration bug"
### Current behaviour
Duration prop does not work in Snackbar. Timer resets whenever onDismiss function updates. It means even when a state changes it will reset the timer.

### Expected behaviour
Duration prop must be independent from any other state and prop.

### How to reproduce?
[Here](https://snack.expo.dev/@suleymanbariseser/react-native-paper-snackbar-issue) is a snack where this issue can

[2022-11-23 22:35] davisk4rpi commented on #3476
@lukewalczak Yes, this would solve my problem.  Thank you 😄

[2022-11-24 07:50] radiorz opened #3488 "is there a slider in react-native-paper?"
### Ask your Question

[2022-11-24 08:41] #3488 closed

[2022-11-25 00:57] radiorz opened #3489 "request a slider component."
**Is your feature request related to a problem? Please describe.**

slider is usually used in form.
**Describe the solution you'd like**

need a slider with theming.
**Describe alternatives you've considered**

I use [@react-native-community/slider](https://github.com/callstack/react-native-slider)
why not put it in react-native-paper
**Additional context**

[2022-11-25 00:58] radiorz commented on #3489
#3488

[2022-11-25 02:06] #3367 closed

[2022-11-25 13:21] MatteoBuffo commented on #3332
Hello @lukewalczak. I'm working with BottomNavigation and I'm facing an issue. Please check [this Snack](https://snack.expo.dev/@mbuffo/bottomnavigation) out, it's a fork of your last reply.

Steps:
- go to Notifications tab;
- press the "Notification - Add" button;
- see the relative counter increase;
- press the "MyComponent - Add" button;
- see the Notification counter set to 0 again.

Is there

[2022-11-25 14:12] arjendevos opened #3490 "Appbar has no padding when not using centered text or back button"
### Current behaviour
When using the appbar with only content, it does not apply any padding to the left side of the appbar.
[code]

I think it has to do with this line:
[https://github.com/callstack/react-native-paper/blob/main/src/components/Appbar/Appbar.tsx#L219](https://github.com/callstack/react-native-paper/blob/main/src/components/Appbar/Appbar.tsx#L219)

[code]

If i don't center the cont

[2022-11-25 15:37] lukewalczak commented on #3490
Hey @arjendevos, I was not able to reproduce it. Based on your code I've created the following [snack](https://snack.expo.dev/@react-native-paper/appbar_only_content).

[2022-11-26 14:20] RichardLindhout commented on #3490
@arjendevos It's because we override the appbar component
[code]

 We could change this to use the native app bar but we need to change the SafeAreaView to safe-area-context because the one from react-native has flickering :)

[2022-11-26 14:20] RichardLindhout commented on #3490
Issue can be closed

[2022-11-26 14:22] RichardLindhout opened #3491 "SafeArea from React-Native is slow and has a flicker"
### Current behaviour
When the default safeareaview from react-native is used it is slow and has a flicker with initial mount

### Expected behaviour
No flicker by using https://github.com/th3rdwave/react-native-safe-area-context

[2022-11-26 14:26] RichardLindhout commented on #3490
https://github.com/callstack/react-native-paper/issues/3491

[2022-11-27 09:45] medonagy45 opened #3492 "How to center Textinput icon"
How to center textinput Icon as it is forced to top

[2022-11-28 06:04] andreyxdd opened #3493 ""Invariant Violation" in TextInput.Icon"
### Ask your Question

Considering the following components:
[code]

And `TextField` component:
[code]

The above code results in the following error:
[code]

As you can see, the stack trace indicates that something wrong in the `Icon` component of react-native-paper. However, I was not able to reproduce the issue at the expo snack. Here is the link: https://snack.expo.dev/@andreyxdd/textinput-ico

[2022-11-28 07:16] #3490 closed

[2022-11-28 09:24] medonagy45 commented on #3492
I have made a patch to make that happen
 `diff --git a/node_modules/react-native-paper/src/components/TextInput/Adornment/TextInputIcon.tsx b/node_modules/react-native-paper/src/components/TextInput/Adornment/TextInputIcon.tsx
index f84d907..46ee100 100644
--- a/node_modules/react-native-paper/src/components/TextInput/Adornment/TextInputIcon.tsx
+++ b/node_modules/react-native-paper/src/components

[2022-11-28 09:47] #3458 closed

[2022-11-28 09:47] #3477 closed

[2022-11-28 10:30] #3481 closed

[2022-11-28 19:18] niklasdahlheimer opened #3496 "Support for Theme Overlays?"
(We already use React Native Paper themeing and a dark theme and a merged theme with React navigation and all the nice UI elements from React Native paper. Thanks for the great work :) )

Our app needs to have a different theme applied to a section (= a component and all it's subcomponents).
Android provides the concept of [Theme Overlay](https://medium.com/androiddevelopers/android-styling-themes

[2022-11-29 14:50] lukewalczak commented on #3476
Hey @davisk4rpi, I've raised the PR with the final approach which:
* extends `adaptNavigationThemes` by two new (optional) theme properties: `materialLight` and `materialDark`where you can pass you custom theme compliant with MD and Paper.
* existing properties `light` and `dark` were renamed to `reactNavigationLight` and `reactNavigationDark`

[2022-11-30 09:51] federicogomezcactus commented on #1159
This causes the dialog to occupy the entire screen's height if I don't set a maxHeight for the Dialog.Content

[2022-11-30 22:27] jennifersalas opened #3499 "Support italics in custom fonts."
**Is your feature request related to a problem? Please describe.**
One issue I'm having is setting custom fonts with italics. There isn't any support for custom fonts with italics when setting the theme. Further if you do set fonts in the custom theme, the Text component will no longer actually italicize the text. This has resulted in always have to create our own custom Text components.

**Descri

[2022-11-30 23:58] RNtaate commented on #634
@anabeatrizzz Thank you very much. Took me a while before I found your solution.