[2019-09-02 05:39] GollyJer commented on #1309
Done. 👍
https://github.com/callstack/react-native-paper/pull/1323

[2019-09-02 06:26] francisco-mercury opened #1324 "'add' icon missing from 3.0.0-alpha.3"
## Environment
react-native-paper 3.0.0-alpha.3

## Description
The add icon is showing up as a question mark, and I get a Yellowbox warning "Failed prop type: Invalid prop 'name' of value 'add' supplied to 'Icon' expected on of [...]. Reverting to 3.0.0-alpha.2 resolved the issue.

## Reproducible Demo
[code]

[2019-09-02 07:33] #1273 closed

[2019-09-02 08:28] #1225 closed

[2019-09-02 08:36] pan-pawel commented on #1273
@ckristhoff  we added labelStyle to master, so with next release you will be able to set custom font for button

[2019-09-02 08:38] pan-pawel commented on #1317
@Sam-Martin  we added labelStyle to master, so with next release you will be able to set custom font for button.
We will also talk about icon size, I will keep you informed

[2019-09-02 08:39] pan-pawel commented on #1225
@franziz we merged #1319  to master, so with next release elevation should work for both platforms

[2019-09-02 14:27] RaphaelRegnier commented on #1322
@francisco-mercury maybe this example will help you with the ref prop 👍 The first input focuses the second one on submit :
[code]

[2019-09-02 14:35] RaphaelRegnier opened #1326 "Documentation: Error color in theme object"
## Describe the feature

I think the [theming page](https://callstack.github.io/react-native-paper/theming.html) could benefit from an update by adding the **error** key in the colors object. Also could be reference on the [TextInput page](https://callstack.github.io/react-native-paper/text-input.html).

## Motivation

I didn't find any documentation on it and I saw many people struggling on the e

[2019-09-02 23:54] yonahforst commented on #1302
I'm using master at commit 403bfd3 and I'm getting the following error:
`Cannot find module './lib/module/babel/index.js'`

[2019-09-03 07:32] talaikis opened #1327 "Menu in AppBar?"
## Ask your Question

Can I use menu in AppBar? Currently menu 's height = AppBar height.
[code]

[2019-09-03 07:51] jocelynlecomte commented on #1048
I don't know if I should comment here or open the same exact issue, but there is now a date picker component in material design: https://material.io/components/pickers/
Your workaround is of course still perfectly valid, but do you plan to embark this new component in a future release ?

[2019-09-03 11:18] #888 closed

[2019-09-03 11:19] RichardLindhout commented on #1324
They have switched to MaterialCommunityIcons for more icons + outlined. You have to look at this website for icons now
https://materialdesignicons.com/
'add' is now 'plus'

[2019-09-03 19:28] #1324 closed

[2019-09-04 08:12] jaysbytes commented on #1276
We will work internally on detailed changelog.

[2019-09-04 18:36] zyxel648 commented on #1322
I solve this issue:

by this:
[code]

Something changes in v. 3.0.0 that broken type declrations. In v 2.16 declaration was `input: TextInput`. Now it is `input: typeof TextInput`

[2019-09-04 18:46] zyxel648 commented on #1302
I'm manually copying `babel.js` to the project's `node_modules\react-native-paper` folder, just for a temporary solution.

[2019-09-05 09:27] jaysbytes commented on #1302
@yonahforst It's propably becouse content of the package on npm is different  than the content of the repo. You propably don't have `lib` directory at all. Could you please check that?

[2019-09-05 12:06] brunocrpontes commented on #1327
Yes, you can! Just insert a Menu as children into a Appbar.Header and set Appbar.Action as anchor prop like this:

[code]

[2019-09-05 14:10] Arnaud-J commented on #1312
I can confirm the following from @rodrigo98rm

Also, I am a little confused with the docs. Are they entirely 3.x ? Or are they 2.x with some (probably misplaced) 3.x parts ?
For the record, I lost about one hour trying icons, checking linking of my react-native-vector-icon lib, checking my ttf files and so on.

[2019-09-05 14:59] yonahforst commented on #1302
@jaysbytes yeah that makes sense. Indeed i dont have the `lib` dir. I'll wait for the next alpha version

[2019-09-05 17:38] belizar commented on #689
is this issue still open ? I have the same initial problem

[2019-09-06 09:41] jaysbytes commented on #1302
Try to build paper inside node modules using `yarn prepare`. I'm not sure when we are planning to release

[2019-09-06 13:54] slavikdenis commented on #1302
@jaysbytes unfortunately it did not worked.

[code]

[2019-09-06 13:55] slavikdenis commented on #1302
And when I tried the temporary solution @zyxel648 suggested, I run into this issue https://github.com/callstack/react-native-paper/issues/1097

[2019-09-07 19:22] talaikis commented on #1327
Nice, seems that `<Provider>` should be removed and it works fine.

[2019-09-07 19:22] #1327 closed

[2019-09-07 19:49] jaysbytes commented on #1302
@slavikdenis strange. It looks like bob takes `tsconfig.json` from your project, not paper directory. Not sure why it happens. Can you check if there is `node_modules/react-native-paper/tsconfig.json` ?

I'm guessing but maybe you didn't run `yarn install` inside `node_modules/react-native-paper` and it uses typescript from your node_modules. But if not, how did you get bob o.O ? It's hard to help

[2019-09-07 19:52] slavikdenis commented on #1302
@jaysbytes no `tsconfig.json` in `node_modules\react-native-paper` and I did run `yarn install` of course 😄

[2019-09-08 07:27] sm2017 opened #1328 "Button issue"
## Environment

[code]

## Description

I see that when you enable/disable button with loading props , it not working when re-enabled

## Reproducible Demo

[code]

* Press `Alert` button , it show alert
* Press`Toggle` to disable `Alert` button
* Press`Toggle` to enable`Alert` button
* Press `Alert` button , it may be works . press multiple time , sometimes works (it has no ripple feedback too)

[2019-09-08 10:21] xXFracXx commented on #1302
Any solution?

[2019-09-08 13:02] xXFracXx commented on #1302
Tried manually adding Babel.js from lib/modules, doesn't work.
Tried yarn install / prepare in the project/node_modules/react-native-paper, doesn't work.
Tried cloning the repo (couldn't find the PR @jaysbytes mentioned), yarn install / prepare gives an error about missing modules (expo, react-navigation etc.)

I understand it's a alpha build so no pressure, if you do have a solution (as you're no

[2019-09-09 04:46] talaikis commented on #1310
+1

[2019-09-09 07:54] pan-pawel commented on #1328
Hello @sm2017  This is fixed in 3.0 with #1226  . Can you try 3.0-alpha version?

[2019-09-09 08:07] jaysbytes commented on #1302
Hi, we released `3.0.0-alpha.4` so please try if it works for you :)

[2019-09-09 09:17] ripzery commented on #1302
@jaysbytes
I got this on `3.0.0-alpha.4`

[code]

[2019-09-09 09:29] jaysbytes commented on #1276
Changelog, all done until alpha 4 release. Still WIP
https://github.com/callstack/react-native-paper/wiki/Migration-guide-from-2.0-to-3.0

[2019-09-09 09:46] #1276 closed

[2019-09-09 11:28] #1075 closed

[2019-09-09 18:01] zyxel648 commented on #1302
Same issue with `3.0.0-alpha.4` as @ripzery

[2019-09-09 18:45] #1328 closed

[2019-09-09 20:56] nguyenanduong opened #1329 "Touchable Ripple crashes on Android 10"
## Environment
React Native 0.58
Android 10 on Pixel 3 XL

## Description

App crashed when touching component wrapped by TouchableRipple
Stack trace:
`
2019-09-09 13:39:33.826 29030-29030/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: xxx, PID: 29030
    com.facebook.react.bridge.JSApplicationIllegalArgumentException: Error while updating property 'transform' of a view managed by: RCTView

[2019-09-10 06:15] vivek25constants commented on #1312
This issue is far from closed

[2019-09-10 06:28] jaysbytes commented on #1302
@ripzery @zyxel648 Thanks for the report, we will look into it ASAP

[2019-09-11 12:45] jaysbytes commented on #1302
hope this will work finally https://github.com/callstack/react-native-paper/tree/fix/babel-plugin. If you are in a hurry install paper from that branch or disable paper babel plugin in babel config. Without a plugin, your bundle size will be bigger by about 500kb.

[2019-09-11 14:41] #1302 closed

[2019-09-11 14:44] xXFracXx commented on #1302
This might be slightly off-topic, apologizes for that.
I am installing the suggested branch through _npm install_ directly, using `npm install git://github.com/callstack/react-native-paper.git#fix/babel-plugin --save`, it's giving the below output.

The main error I can identity is:

[code]

Whole output:

[code]

Any suggestions would be really appreciated, sorry if this is off-topic.

[2019-09-11 14:52] xXFracXx commented on #1302
@jaysbytes `disable paper babel plugin in babel config` worked like a charm, thanks alot.

[2019-09-11 14:57] jaysbytes commented on #1302
We released `3.0.0-alpha.5` and successfully build release APK

[2019-09-11 15:24] slavikdenis commented on #1302
Works great. Thanks @jaysbytes

[2019-09-12 21:48] ckristhoff opened #1332 "How to use outline icons?"
## Ask your Question

That's it, how to use outline icons in paper components🤔?

[2019-09-13 13:27] devdennisj commented on #1332
If you for example have a Button component it would be <Button icon='help-outline'>Help</Button>

[2019-09-13 19:31] ckristhoff commented on #1332
That's so confusing. Why only some icons works?
I'm trying

[code]
but it doesn't works.

[2019-09-14 05:33] techstrock opened #1333 "Add Animation Duration Prop in Menu"
## Describe the feature
Add, animation duration as props to show menu

[2019-09-15 21:49] Smarticles101 opened #1334 "Missing icons"
There seems to be missing a large amount of [material icons](https://materialdesignicons.com/). I am trying to use the calendar icon

[code]

[2019-09-16 09:04] Trancever commented on #1334
@Smarticles101 What paper version do you use? In 3.0.alpha version we switched from `@vector-icons/MaterialIcons` to `@vector-icons/Material-Community-Icons`

[2019-09-17 02:20] chubecode opened #1335 "How to make dynamic DataTable?"
## Dynamic DataTable
Hi, I'm working on DataTable.
But I want make dynamic DataTable seems like when click button It'll increase a new row.
How to do it? I already read the docs but nothing helpful for this case.
Thanks.

[2019-09-17 06:30] Trancever commented on #1335
@chubecode There is no special way of doing this. The flow is as follow: button onPress -> update state -> rerender with new row/content. If you want to somehow animate the new row/content, you have to do it manually.

[2019-09-17 06:30] #1335 closed

[2019-09-17 13:36] oluomoniyi opened #1336 "Is it possible to change the speed dial open direction on FAB.Group?"
## Is it possible to change the direction of the FAB.group open direction

Hi Guys, first off great work with this UI lib!!!

I have got a question though is there anyway to change the direction of the FAB.group when speed dial opens? So that is opens downwards instead of upwards.

I want to use it to implement a user menu.

![image](https://user-images.githubusercontent.com/1480266/65046388-6ec0f

[2019-09-17 21:00] wardjk87 commented on #1288
@jaysbytes is there any openness for PRs adding animation functionality to react-native-paper?

[2019-09-18 03:37] Smarticles101 commented on #1334
Alright, I'll update. I'm on 2.16.0. Thanks

[2019-09-18 03:37] #1334 closed

[2019-09-18 14:13] funkyyy opened #1337 "How to Update to version 3?"
## Ask your Question
Hey guys I'm using react-native-paper for the BottomNavigation.
I want to use Material-Community-Icons but I dont know how to update rn-paper from 2.16.0 to 3.

[2019-09-19 11:49] Trancever commented on #1337
yarn add react-native-paper@next

[2019-09-19 11:49] #1337 closed

[2019-09-20 19:12] deividnn opened #1339 "Cyclical import or circular dependencies warning"
ReactNativeJS ▶︎ Require cycle: node_modules\react-nativ
e-paper\src\components\ToggleButton\ToggleButton.js -> node_modules\react-native-paper\src\components\ToggleButton\ToggleButtonGroup.js -> node_modules\react-native-paper\src\components\ToggleButton\ToggleButton.js
                             │
                             └ Require cycles are allowed, but can result in uninitialized values

[2019-09-20 23:14] bvelasquez opened #1340 "allowFontScaling prop on <Avatar.Text>?"
## Ask your Question

Is it possible to set the <Avatar.Text /> allowFontScaling property on the underlying Text?

[2019-09-21 02:45] abdullah-sr commented on #1117
Having the same issue.

[2019-09-21 11:28] marcorm opened #1341 "React-Native 0.61.x"
## Environment

Android API Level 26
RN 0.61.x
react-native-paper stable and alpha

## Description

I noticed a problem with [react-native-paper](https://github.com/callstack/react-native-paper) and **react-native 0.61.x** on **Android API Level 26**.
Doesn't happen on API Level 23 or 29.

When i open a `Dialog` inside a `Portal` it shows up weird.
Same problem with FAB.

The problem doesn't arise

[2019-09-21 15:03] abdullah-sr commented on #1341
running into the same issue on Android

[2019-09-21 22:53] fermmm opened #1342 "ripple effect renders wrong in buttons with borderRadius"
## Environment

react-native-paper: 2.16.0

## Description
 Apply a borderRadious to a button and the ripple effect will render outside the button:

![bug](https://user-images.githubusercontent.com/3660373/65380055-685cb280-dca9-11e9-8458-5439756a1224.jpg)

I could not find a way to apply a border radius to the ripple effect

[2019-09-22 08:36] iyadthayyil commented on #1333
You can adjust the animation like this:
[code]

[2019-09-22 08:36] #1333 closed

[2019-09-22 09:04] iyadthayyil commented on #1329
No errors were found when tested on Android 10 Pixel 2
https://snack.expo.io/@iyadthayyil/menu-bug-on-android-10

[2019-09-22 09:21] #1262 closed

[2019-09-22 21:16] MBach opened #1344 "Appbar.Action icon: improve accessibility"
## Environment

Android

## Description

Default size for icon in `<Appbar.Action>` should have a greater size for accessibility. When using default size, 24, automated tests for Pre-Launch report on Google Play Console reports the following issues:

![image](https://user-images.githubusercontent.com/1532657/65394399-e7c3b200-dd8d-11e9-9f5f-1b5e9113795c.png)

I tried to change size with 48, but th

[2019-09-23 03:19] yeong0809 opened #1345 "Modal onBackPress"
## Ask your Question

### Is there any way to detect on back press for Android?

[2019-09-23 10:00] miladmeidanshahi commented on #1115
Does this prop work on version 2.16.0?

[2019-09-23 14:58] j-alder commented on #1178
Also experiencing this issue. Downgrading to 2.15.2 prevented the runtime error, but there are features we need in 2.16.0.

[2019-09-23 17:01] gayathri-perumal opened #1346 "Passing TextInput props dynamically hides text input field Value"
## Description
The following object is my form data.

`const formData = [`
    `{`
      `label: 'Username',`
      `name: 'username',`
    `},`
    `{`
     ` label: 'Email',`
      `name: 'email',`
    `},`
    `{`
      `label: 'Password',`
      `name: 'password',`
   ` },`
  `];`

And I am passing this values into my text input like this,
`{`
      `formData.map( data => (`
            ` <Tex

[2019-09-23 18:28] connercms opened #1347 "fontFamily "material" is not a system font when using Expo"
## Environment

Expo SDK 35
react-native-paper 2.16.0

## Description

Trying to use react-native-paper components in an expo project, I receive the error "fontFamily "material" is not a system font and has not been loaded through Font.loadAsync.". The docs state that when using expo, there is no need to install vector-icons as it is prepackaged with expo, so I am not sure where the issue lies. I

[2019-09-24 11:06] sonhgc00016 commented on #1340
same question here

[2019-09-24 11:23] satya164 commented on #1340
Why do you need to control it?

@Trancever I think we should set `allowFontScaling={false}` there, no?

[2019-09-24 16:53] marcorm commented on #1341
I know it's not a `react-native-paper` issue but, as stated [here](https://github.com/facebook/react-native/issues/26544) setting `borderRadius` to `undefined` solves the problem.

[2019-09-25 07:24] Ludus-Team commented on #1341
It's not just on dialog, it's happen on Android with elevation View (Upgrade to 0.61.0 and still the same problem)

With 0.60.5:
![Screenshot_1569395991](https://user-images.githubusercontent.com/35457731/65578384-63845100-df7e-11e9-99aa-83d3de45f741.png)

With 0.61.0:
![Screenshot_1569396036](https://user-images.githubusercontent.com/35457731/65578377-5f583380-df7e-11e9-9d92-69aebb6faa62.png)

[2019-09-25 09:36] usmansbk commented on #1341
Facing the same problem with <Fab/>

[2019-09-25 14:50] slavikdenis commented on #1341
Might be related to https://github.com/facebook/react-native/issues/26544

[2019-09-25 20:27] fermmm opened #1348 "Font error when migrating from "2.16.0" to "3.0.0-alpha.5""
When migrating from "2.16.0" to "3.0.0-alpha.5" I get this error when running my app:

![65636971-b7605b80-dfb9-11e9-83c4-659b244fab98](https://user-images.githubusercontent.com/3660373/65719295-e939f680-e07b-11e9-9edd-eb5054bc7844.png)

If you need any information from my code let me know.

[2019-09-26 15:10] ablbol opened #1349 "In Android, Surface component's shadow flashes when switching tabs in a bottom tab navigator"
## Environment

Here are all my dependencies
[code]

## Description

The following issue happens in Android only.  I have not seen it happen in ios.
I have couple tab screens in a bottom tab navigator.  In screen 1, I have several simple components that look like this:

[code]

When I switch from tab 1 to tab 2 in the tab navigator, I see flash around all the View components.  Most likely the flas

[2019-09-26 18:09] yasir-netlinks opened #1350 "Modal appears below Surface"
## Ask your Question

I am trying to have Modal in a separate component
[code]
and using this component in another that has `Surface` , the modal appears below the `Surface` and also overlaps `Text`

<img width="437" alt="Screen Shot 2019-09-26 at 10 38 24 PM" src="https://user-images.githubusercontent.com/26054956/65713417-654d3200-e0ae-11e9-9469-78bb8c13481c.png">

[2019-09-27 03:56] gdoudeng commented on #1341
I am facing this problem and hope to solve it as soon as possible.

[2019-09-27 08:01] ZhengYuTay opened #1351 "Font Size as Theme Variable"
## Describe the feature

1. Make fontSize a variable for theming

## Motivation

1. With the current configuration, the only way to change fontSize for an existing component is to copy it and make our new component with custom fontSize styling. A theme variable would help solve many of this issues. For example of implementation https://material-ui.com/customization/typography/#font-size

[2019-09-27 09:59] matyj commented on #1348
I have this issue as well

[2019-09-27 10:22] Trancever commented on #1348
You need to update fonts in a theme. Check [this](https://github.com/callstack/react-native-paper/blob/master/src/styles/fonts.tsx) for reference.

[2019-09-27 10:22] #1348 closed

[2019-09-27 11:56] echolocation opened #1353 "Update react-native-safe-area-view dependency"
## Environment

react-native > 0.60.5
react-native-paper 2.16.0

## Description

react-native-safe-area-view is currently listed as version "^0.12.0". The implementation of the `SafeView` component in 0.12.0 uses `componentWillReceiveProps`, which on react-native 0.60+ displays a YellowBox warning of the following:

[code]

react-native-safe-area-view has released version 0.14, which no longer use

[2019-09-27 13:01] #1336 closed

[2019-09-27 14:23] Andersonfrfilho commented on #272
[code]
solved for me but I don't know why this problem is happening
adding in her attributes.
**initialNumToRender={data.length}**

[2019-09-27 19:13] douglaszaltron commented on #1353
+1

[2019-09-27 19:20] douglaszaltron opened #1354 "TextField label has margin initialValues"
## Environment

react-nativo > 0.61.1
react-native-paper `3.0.0-alpha.5`

## Description

In input text fields, when fields are filled in by redux or the label has a different margin than the text. after you change the value back to normal

## Reproducible Demo

![image](https://user-images.githubusercontent.com/4502670/65796245-7a73a080-e142-11e9-83f1-ca94a0f0520d.png)

[2019-09-27 22:10] Nysans opened #1355 "OnPress event on radio button does not work"
## Environment

react-native  0.60.4
react-native-paper 2.16.0

## Description

When I pass the function to the RadioButton prop OnPress, the event doesn't fire no matter how many times I press the button.

## Reproducible Demo

The example itself passed by the documentation is enough to reproduce the error.

[code]

[2019-09-28 14:51] mschipperheyn commented on #1273
Could you release this on the 2.x branch?

[2019-09-28 18:31] aniciom commented on #893
Its still an issue, happening with react-navigation 4.0.10 and RN 0.61.1

[2019-09-29 13:23] littlehome-eugene opened #1357 "Wonder if there 's an example (showcase) website made of react-native-paper"
## Ask your Question

We are creating web with `react-native-paper` and `react-native-web` .
Want to show our designer so that he doesn't deviate too much from what is given .

[2019-09-30 09:30] #1342 closed

[2019-09-30 11:26] elizamaria commented on #1274
Would it be fine to send an itemStyle?

[2019-10-01 09:33] redbluenat opened #1358 "Warning: "TextInput" : `ref` is not a prop."
## Environment

React Native: 0.60.5
React Native Paper: 3.0.0-alpha.5

## Description
I had some issues with auto complete and text suggestion in previous version so I updated lib to the alpha version. It works like a charm for me and solved my problems but I start having a yellow warning screen.

<img width="347" alt="Zrzut ekranu 2019-10-1 o 11 22 02" src="https://user-images.githubusercontent.

[2019-10-01 14:33] nsdub commented on #1347
I hit a similar issue with `Font.loadAsync()` after upgrading from Expo SDK 35 (and 34). The fix for me was to:

1. Delete node_modules folder: `rm -rf node_modules`
2. Delete `package-lock.json`
3. Run `npm install`

[2019-10-01 15:04] connercms commented on #1347
This was actually the fix for me also, I had forgotten to close this issue. Thanks!

[2019-10-01 15:04] #1347 closed

[2019-10-01 22:21] sseoussama commented on #1355
same here !!

[2019-10-02 11:09] Taym95 commented on #1355
Hey, first of all, RadioButton needs to be wrapped with RadioButton.Group because it needs `context`, and I submitted a PR to fix `onPress`.

[2019-10-02 13:46] carlosroberto555 commented on #1341
+1 Same issue with FAB

[2019-10-02 13:47] satya164 commented on #1341
https://github.com/facebook/react-native/pull/26682

[2019-10-02 13:52] kevinvugts opened #1360 "🔥 this._searchbar.focus() does not show typing indicator on focus (ANDROID)"
## Environment

[code]

React-native-paper:   "react-native-paper": "^2.16.0",

## Description

[code]

The above code does focus the searchbar but it doesn't show an indicator / typing indicator on Android. On iOS it does work as expected. When clicking manually in the searchbar it shows the indicator / typing indicator tho.

[2019-10-02 14:14] Trancever commented on #1360
@kevinvugts Can you check if `TextInput` from react-native has the same behaviour on Android?

[2019-10-02 14:15] Trancever commented on #1355
@Taym95 RadioButton does not have to be wrapped in RadioButton.Group. It can be used as a standalone component. I left a comment under your PR asking for a change.

[2019-10-02 19:14] satya164 commented on #1341
Fixed in RN 0.61.2 https://github.com/facebook/react-native/releases/tag/v0.61.2

[2019-10-02 19:14] #1341 closed

[2019-10-02 19:19] marcorm commented on #1341
Great

[2019-10-03 03:27] gdoudeng commented on #1310
+1

[2019-10-03 03:52] gdoudeng commented on #1353
+1

[2019-10-03 03:52] gdoudeng commented on #1349
+1

[2019-10-03 07:59] Trancever commented on #1353
@echolocation Can you submit a PR?

[2019-10-03 08:55] #1355 closed

[2019-10-03 10:13] ferrannp commented on #1358
It is fixed here https://github.com/callstack/react-native-paper/pull/1361. Thanks for opening the issue!

[2019-10-03 10:13] #1358 closed

[2019-10-03 10:15] ferrannp commented on #1349
Hey,

This is not Paper issue but react-native issue with elevation on Android P and above.  See https://github.com/facebook/react-native/issues/6480 & https://github.com/react-navigation/react-navigation/issues/5535. Please continue the discussion in the `react-native` repo.

[2019-10-03 10:15] #1349 closed

[2019-10-03 10:15] #1329 closed

[2019-10-03 10:16] ferrannp commented on #1332
@ckristhoff we support all icons from https://materialdesignicons.com/. If it is not there, it won't work.

[2019-10-03 10:16] #1332 closed

[2019-10-03 10:17] ferrannp commented on #1345
Hey! You need to use https://facebook.github.io/react-native/docs/backhandler.

[2019-10-03 10:17] #1345 closed

[2019-10-03 10:18] ferrannp commented on #1350
Can you provide a repro?

[2019-10-03 16:48] echolocation commented on #1353
@Trancever  I have been looking into doing just that, and I have some questions as to what exactly this dependency is being used for.

Quick notes for anyone looking:

React Native has provided a SafeAreaView component since version 0.50, however this component is only applicable to iOS 11+.
Link here: https://facebook.github.io/react-native/docs/0.60/safeareaview

react-native-community also impl

[2019-10-03 17:19] satya164 commented on #1353
The `SafeAreaView` from `react-native` is not very usable when you have screens that animate. For example, if you have a stack navigator which animates screen vertically, the safe area values will keep changing and the insets of stack navigator will keep changing as a result. For components which have `onLayout`, it will also trigger too many updates and sometimes infinite loops.

We pass `forceIn

[2019-10-03 20:40] mishojan commented on #1354
PLEASE FIX THIS :((((((

[2019-10-03 20:43] satya164 commented on #1354
@mishojan please send a pull request

[2019-10-04 08:13] Auticcat opened #1362 "Set TextInput BorderWidth in outline mode"
I would like to set the borderWidth to 2 to a disabled but valued text-input.

Now it stays with borderWidth set to 1.

Is there a way to control it?

[2019-10-04 13:24] littlehome-eugene opened #1364 "RadioButton label is not shown on web (snack example too)"
## Environment

with "react-native-web": "^0.11.7",

## Description

Even snack sample has the same problem.

https://callstack.github.io/react-native-paper/radio-button.html

If you click on Try ` this example on Snack ` , you will see that labels are missing in the web.

## Reproducible Demo

https://callstack.github.io/react-native-paper/radio-button.html

[2019-10-04 17:37] MiGi7 commented on #1207
If you have three items you can change line 699 in BottomNavigation.js from layout.width / 8, to
layout.width / 3,. This will even out the ripple effect.

[2019-10-05 14:13] rockfight opened #1365 "Can we make Divider vertical ?"
## Ask your Question

Is there any prop which we can use to make Divider component vertical ?

[2019-10-05 21:22] Trancever commented on #1365
@rockfight There is no such prop.

[2019-10-05 21:22] #1365 closed

[2019-10-06 10:02] x5engine commented on #945
thank you so much!

that vector shitty icons package is shit!

[2019-10-06 19:28] Trancever commented on #1362
It is not MD guidelines compliant and we do not support it.

[2019-10-06 19:28] #1362 closed

[2019-10-07 06:17] kevinvugts commented on #1360
I would love to. But what do you want me to check?

[2019-10-07 07:17] deadcoder0904 commented on #1341
Hey, @satya164 I am still getting this error. I'm on v0.61.2 👇

![bug icon](https://user-images.githubusercontent.com/16436270/66291754-3a5dac00-e900-11e9-8734-78ca3a4d5da1.png)

I've also opened an issue on RN 👉https://github.com/facebook/react-native/issues/26740 which contains the repro steps

[2019-10-07 09:47] Trancever commented on #1360
If TextInput from React-Native shows typing indicator when it's focused via `ref.focus()`. I want to make sure that this is an issue in Paper and not in React-Native.

[2019-10-07 18:46] zachariahtimothy commented on #695
Am curious if there is any examples out there without relying on react-navigation? React Navigation is a GREAT library but would love to know if there is a reasonable way to implement material style navigation without it.

[2019-10-07 22:38] jstansbe opened #1368 "<List.Item /> left and right doesn't update when in prod"
## Environment

"react": "16.9.0",
"react-native": "0.61.1",
 "react-native-paper": "^2.16.0",

## Description
When in dev mode everything works as expected, when a list item is pressed the onPress event fires and the right Icon toggles between the checked and unchecked icon. However, when I build the app for release nothing changes when the onPress event fires. (on press toggles the item's select

[2019-10-08 06:49] byteasc opened #1369 "Touchable area of Buttons doesn't match width"
It seems as if the issue where the width of a button does not control the actual Touchable width still, so the ripple effect is just barely a portion of the button.

Example, create a button with a flex:1 view as a Parent, the button will be full width (or should be), but then clicking it is only around the area with the text.

I saw this report that was previously closed due to it getting too hea

[2019-10-08 10:02] satya164 commented on #1369
That issue is about height. Width should fill always the parent. Can you post a repro?

[2019-10-08 16:09] byteasc commented on #1369
I changed to

[code]

Removed the Text component as well, to just use what exists currently, to eliminate any possibility of issues there.
[code]
If the button itself is filling the entire space with the background color, shouldn't the touchable also be doing the same.

![ScreenRecording2019-10-08at11031](https://user-images.githubusercontent.com/10793868/66412885-fa5bff00-e9bb-11e9-9f5a-0ce4429ff

[2019-10-08 16:15] satya164 commented on #1369
You're still adding `flexDirection: 'row'`. If you need custom size, use `contentStyle` as mentioned in the docs: https://callstack.github.io/react-native-paper/button.html#contentStyle

[2019-10-08 16:15] #1369 closed

[2019-10-08 16:35] DianaKoenraadt commented on #706
@mcjohnalds how do we make the `Text` on the same line as the radiobutton and fully clickable?

[2019-10-08 16:49] DianaKoenraadt opened #1371 "Radiobuttons and checkboxes are functionally incomplete"
## Environment
All

## Description

Expected behavior: The user can provide children to the radiobutton that will be rendered inside the clickable area.

The documentation of react-native-paper, and especially the screenshots, make implicit promises about the functionality that the library does not meet.

In html, you can put the checkbox and some text inside a label and then couple the label to t

[2019-10-08 17:32] DianaKoenraadt opened #1372 "RadioButton.ref not working?"
## Environment

Android

## Description

I cannot obtain the ref. I wanted to work around issue #1371 for now, by wrapping the RadioButton in a Touchable (Can be a TouchableOpacity too, doesn't matter). But I cannot obtain the ref to do so.

## Reproducible Demo
[code]

Above, `this._radio` is and stays null. I also tried it with `React.createRef()` but that doesn't work either:

[code]

[2019-10-08 17:38] satya164 commented on #1372
This is not supported. You need to pass the value in a prop.

[2019-10-08 17:38] #1372 closed

[2019-10-08 17:45] DianaKoenraadt opened #1373 "How do I put my own component in a RadioButton.Group?"
## Ask your Question

If I manage to get MyRadioButton in issue #1372 working, how do I make it so that RadioButton.Group does its thing? What should I expose in terms of props/methods?

[2019-10-08 17:48] satya164 commented on #1373
https://github.com/callstack/react-native-paper/blob/bd4296116d841ed355f3dbebb40cfbc3b87a79ff/example/src/Examples/RadioButtonGroupExample.tsx#L41

[2019-10-08 17:48] #1373 closed

[2019-10-08 18:07] DianaKoenraadt commented on #1372
Hi @satya164, I am not interested in value/props: I want to wrap the RadioButton in a Touchable. How can I do this? I tried this, but that doesn't work either:

[code]

How do I pass the click on to the RadioButton?

[2019-10-08 18:12] DianaKoenraadt commented on #1372
This is the error I get when I try the last method:

![image](https://user-images.githubusercontent.com/5881327/66421308-eccc6680-ea07-11e9-81ee-cac3e385137f.png)

[2019-10-08 18:15] satya164 commented on #1372
You're not supposed to extend react components. You need to create a custom component and render it inside.

[code]

[2019-10-08 18:23] satya164 commented on #1372
You need to update your state on `onPress`

[code]

[2019-10-08 18:34] DianaKoenraadt commented on #1372
I appreciate your help, but this is not working either. `value` is not a boolean, it is a string. https://callstack.github.io/react-native-paper/radio-button.html#value

I'm still trying here, but there's just no way that I get the RadioButton to update unless I click directly on the RadioButton. I truly think I need a `ref` to force this.

[2019-10-08 18:36] satya164 commented on #1372
@DianaKoenraadt it should be `status`. My mistake.

[2019-10-08 18:38] satya164 commented on #1372
You very rarely need a `ref`. Most of the time you need `ref` is when you want to manage focus or scroll.

[2019-10-08 18:38] DianaKoenraadt commented on #1372
Found it!! Ended up with this:

    function MyRadioButton({ onPress, text, ...rest }) {
        return (
            <Touchable onPress={onPress}>
                <View style={Styles.radioButton}>
                    <RadioButton {...rest} />
                    <Text>{text}</Text>
                </View>
            </Touchable>
        );
    }

    <RadioButton.Group
        onValueChange={val

[2019-10-08 20:35] Trancever commented on #706
@DianaKoenraadt Check source of radio button example in our example app. We wrap it with a Touchable and set pointerEvents to properly handle onPress.

[2019-10-08 20:38] Trancever commented on #945
@x5engine Author of vector-icons put a lot of effort in making this library and you're blaming it because it doesn't work for you... that's rude

[2019-10-08 20:42] Trancever commented on #1371
@DianaKoenraadt Our library provides all necessary low level components that you can combine together to build more complex ones like the one you are requesting. Check the source code of our [RadioButton example](https://github.com/callstack/react-native-paper/blob/master/example/src/Examples/RadioButtonExample.tsx).

[2019-10-08 20:42] #1371 closed

[2019-10-09 02:27] littlehome-eugene opened #1374 "with react-native-web, icons are all displayed as square"
## Environment

     "react-native-paper": "^2.16.0",
     "react-native-vector-icons": "^6.6.0",
     "react-native-web": "^0.11.7",
## Description
<img width="312" alt="Screen Shot 2019-10-09 at 11 23 37 AM" src="https://user-images.githubusercontent.com/24217396/66446933-67889680-ea87-11e9-8223-757861035081.png">

I am trying to load a button with icon..

[code]

I followed https://callstack.gi

[2019-10-09 12:31] hrastnik opened #1375 ""Try the demo on Snack" link in documentation links to broken snack project"
## Environment
Device: Any

## Description

The "Try the demo on Snack" link in the frontpage of the documentation is broken.
This is the main entry point for most developers wanting to try out the library, and if the demo is broken it doesn't give much confidence for the rest of the library.

## Reproducible Demo
1. Open https://callstack.github.io/react-native-paper/index.html
2. Click the "Try

[2019-10-09 14:24] wasim-abuzaher commented on #1150
I would love to have this feature as well

[2019-10-10 00:30] globophobe opened #1377 "Web: Unwanted TextInput focus outline"
## Ask your Question

I thought this would remove the focus outline style with react-native-web, but it doesn't 😞.

[code]

How can I remove it?

[2019-10-10 05:43] msageryd opened #1378 "TextInput (flat) background color"
## Ability to control background color

TextInput with mode="flat" takes away my ability to control the background color. I can get any color I want by setting `background=´transparent´` in the theme. But, as it seems from the code, a `darken(0.06)` is applied to the background color, which makes it impossible to have a white background.

The only way of having a light colored TextInput on a dark

[2019-10-10 10:57] Brainyoo opened #1380 "TextInput Label wrong position without focus and given value"
## Environment

RN-Version: 0.61.2
React-Verison 16.9.0
RN-Paper-Version: 3.0.0-alpha.5

## Description

If I use the TextInput-Component and set the label with an existing value, the label gets padding on the left side. The longer the label, the longer the padding.
If I click in the input-field, the label corrects his position.
It happens on Android and iOS.

**(without focus)**
![Bildschirmfoto

[2019-10-10 11:02] Brainyoo commented on #1380
Im closing this issue because it seems to happen only with my Dialog. In other cases it works

[2019-10-10 11:20] Foskas opened #1381 "iOS 13++ and dark mode changing text color"
## Description

I'm using an app bar with white background and black status bar text. When using iOS 13++ and Dark Mode, the status bar text color changes to white (only when app bar renders).
Is there any way to fix this ?

## Reproducible Demo

- Use an iphone with iOS version >= 13
- Set dark to false (app bar or header)
- Status bar text is white

[2019-10-10 12:02] msageryd opened #1382 "Segmented Control"
## It would be great with a Segmented Control component

Actually, the ToggleButton.Row is already quite close. Maybe this component could be extended to solve this?

What ToggleButton.Row would need:
- flex:1 for the complete width of the button row so the row can fill the width of a view
- LabelText (only Icon is supported now)
- Adaptive width of each button (only square now)

## Motivation

I

[2019-10-10 12:07] Brainyoo commented on #1380
Ok I found out how to cause this issue.
If you already defined the value for your TextInput, it causes the padding problem.

`const MainScreen = () => {`

   ` const [text, setText] = useState('bla');
    return <TextInput label={"translate('dialog.editWord')"} value={text} onChangeText={setText} padding={'none'} />;
};`

[2019-10-10 14:55] Xesme opened #1383 "[Android] Buttons have a hard inset shadow"
## Environment
RN version: 0.61.1
React version: 16.9.0
RNP version: 3.0.0-alpha.5
Platform: Android
Component: Button

## Description

Container buttons on Android have a hard inset shadow by default.

![Screenshot_20191010-072428](https://user-images.githubusercontent.com/24839005/66580376-29e14780-eb33-11e9-891c-fae34bd04bc5.png)

## Reproducible Demo

Spin up a project on Android with a defaul

[2019-10-10 15:05] Auticcat opened #1384 "Flat TextInput textColor getting overwritten if black"
Is it a desired behaviour that, if passing a theme with textColor the textInput will overwrite the black color to a greyish one?

I'm facing this problem when, passing this theme:

[code]
to my textInput:

[code]

Is there a way to get the black text written inside of it?

[2019-10-11 07:56] Trancever commented on #1374
Since you are using paper v2, you should use MaterialIcons names instead MaterialCommunityIcons. Let me know if that helps.

[2019-10-11 07:56] #1374 closed

[2019-10-11 10:03] Trancever commented on #1383
Upgrade react-native to v0.61.2 please. This is not a paper issue.

[2019-10-11 10:03] #1383 closed

[2019-10-11 11:00] Trancever commented on #1368
@jstansbe Can you provide minimal reproducible repo?

[2019-10-11 15:38] Xesme commented on #1383
@Trancever you're totally right! The button problem has disappeared. Thank you!

[2019-10-11 17:57] jaysbytes commented on #1364
Hi @littlehome-eugene ! Radio Button in paper does not support any kind of UI label. If you want to add a label you have to wrap RadioButton within a container and add some text there. It only supports accessibility label, but it is not displayed.

[2019-10-11 17:57] #1364 closed

[2019-10-11 18:02] jaysbytes commented on #1382
I might be wrong, but there is no segmented control in material design so it will probably not be supported by this library.

[2019-10-11 18:05] satya164 commented on #1382
You're always right Jay.

[2019-10-11 18:05] #1382 closed

[2019-10-11 18:20] jaysbytes commented on #1384
hmm maybe try using `editable={false}` instead of `disabled={true}`. Then color should be taken from as `theme.colors.text`. When You use `disabled` prop, colors is

[code]

see https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput/TextInputFlat.tsx Line `88` fro details

[2019-10-11 18:24] jaysbytes commented on #1381
Is it related to iOS version or rather bug in a paper in general? Does it happen in other components than `<AppBar/>` and `<Header/>`?
Can you prepare a reproducible demo on [snack.io](snack.io) ?

[2019-10-11 21:02] Auticcat commented on #1384
Problem with editable is that it does not actually block the component, it still lets you press it and open keyboard, even if while writing it does not work.
 I had seen that part of code that's why i asked if it was a desired behavior to overwrite a color.
I'll just deal with it and leave it grey!

[2019-10-11 23:52] globophobe commented on #1377
Fixed wtih [Emotion Global Styles ](https://emotion.sh/docs/globals).

[2019-10-11 23:52] #1377 closed

[2019-10-14 03:46] atrimn commented on #1381
temporary solution:
in your Appdelegate.m

`  if (@available(iOS 13.0, *)) {
    rootView.overrideUserInterfaceStyle = UIUserInterfaceStyleLight;
  }`

[2019-10-14 08:39] futantan commented on #1317
Any plan of releasing?

[2019-10-14 09:27] satya164 commented on #1381
Paper doesn't control statusbar color. Closing since it's not a bug in paper.

[2019-10-14 09:27] #1381 closed

[2019-10-14 13:15] ElavanResu opened #1386 "Upgrading to react-native 0.61.2 changed the icons of checkbox"
## I upgraded my project to RN0.61.2 and used checkboxes, but now instead of checkbox I am getting some kind of Chinese text or icon. Is this supposed to happen?
![Screenshot_2019-10-14-18-43-47-515_com agentnativeapp](https://user-images.githubusercontent.com/33317917/66754058-c2b8ef80-eeb2-11e9-8710-eae59138dbc7.jpeg)

[2019-10-14 20:00] jessicapittman opened #1387 "TextInput minimizes label without a value when error is true"
## Current behavior
TextInput's minimizes label when error prop is true, even without focus or a value.

<img width="386" alt="badinput" src="https://user-images.githubusercontent.com/5818593/66778847-7493f400-ee92-11e9-90a7-608b1ca66fb4.png">

## Expected behavior
Text inputs label should only minimize with a value or focus.

![textinputs](https://user-images.githubusercontent.com/5818593/6677887

[2019-10-14 23:27] tinni95 commented on #688
still no solution for this??
I would like my textInput to have a customized underline color when focused, cannot change the purple, is there a way to change globally the color used by this plugin??

[2019-10-15 03:57] ElavanResu commented on #1386
Okay, I found the solution. I just needed to include fonts.gradle of vector icons in android/app/build.gradle.

apply from: "../../node_modules/react-native-vector-icons/fonts.gradle"

Now, it's showing all the icons.

[2019-10-15 03:57] #1386 closed

[2019-10-15 10:04] Foskas commented on #1381
@satya164 I'll provide a code example to repo as soon as possible (require branch change and can't do it right now) but what you said is not 100% right because the bug does not happen when I remove the appbar component. It's only when I use the app bar component that the status bar text color changes from black to white.

[2019-10-15 11:32] chriswiesner opened #1388 "Card background with dark theme"
Shouldn't the card reflect also the background (surface) of the theme?

I set my theme to dark but the cards background is still white. Shouldn't this be also recognized? Or am I missing sth?

[2019-10-15 11:47] lukewalczak commented on #1388
What version of `react-native-paper` are you using?

[2019-10-15 11:57] chriswiesner commented on #1388
Just found out that v3 (with dark support) is not public yet.
was using 2.x -- maybe the docs should not that the "dark" flag is only available on 3+

[2019-10-15 11:57] #1388 closed

[2019-10-15 12:22] xXFracXx commented on #695
I've gotten the drawer implemented, but the only way currently to dismiss it is by clicking the android back button, would it be possible to click on the screen area next to the drawer to dismiss, by screen area i mean the area that is darkened, though which you can see the base screen, as the drawer only takes up 75% of the screen. Any insight would be appreciated.

[2019-10-15 13:47] zachariahtimothy commented on #695
@xXFracXx I ended up setting things up with React Gesture Handler Drawer Layout. I am facing the same issue and my approach will be to either find or write a tap away listener, similar to Material UI's click away listener: https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/ClickAwayListener/ClickAwayListener.js

[2019-10-15 13:57] YajanaRao opened #1389 "Add size props to Chip"
## Describe the feature

Can we add size prop to Chip.

## Motivation
To use Chip of different sizes if required.

## Related Issues

[2019-10-15 14:29] Foskas commented on #1381
`      <Surface style={styles.Surface}>
         {Platform.OS === 'android' ? (
          <StatusBar translucent={true} backgroundColor="transparent" barStyle="dark-content" />
        ) : null}
        <Appbar.Header style={styles.Header} statusBarHeight={styles.StatusBar.height}>
        {......}
        </Appbar.Header>
      </Surface>`

Here is the repo code.
Thank you!

[2019-10-15 15:54] YajanaRao opened #1390 "Does Badges contain Icon ?"
## Describe the feature

Can I use Badge to display Icons like done or cancel.

## Motivation

I want to show selected items by using a badge on it.
![WhatsApp Image 2019-10-15 at 9 27 19 PM](https://user-images.githubusercontent.com/38914337/66848413-aa200680-ef92-11e9-8f65-c49e7c9874ba.jpeg)

Or using a children like this.
![image](https://user-images.githubusercontent.com/38914337/66848055-0767

[2019-10-15 19:57] Trancever commented on #1390
@YajanaRao Badge component supports strings or numbers as children so it's not possible. However, you can create your own component based on Paper's badge that supports displaying icons inside.

[2019-10-15 19:57] #1390 closed

[2019-10-15 20:00] Trancever commented on #1389
@YajanaRao What are you trying to achieve? Do you want to make whole Chip bigger, or only increase the font size?

[2019-10-15 23:12] katbusch opened #1391 "RadioButton onPress doesn't get called on press."
## Environment

At least not working on web and android

## Description

RadioButton onPress doesn't get called on press.

## Reproducible Demo

The [demo snack](https://snack.expo.io/?name=RadioButton&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fradio-button.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20View%20%7D%20from%20%27react-native%27%3B

[2019-10-16 02:28] YajanaRao commented on #1389
I want to make whole Chip bigger

[2019-10-16 04:36] ElavanResu opened #1392 "Text Field with Icon??"
## Is there a way to implement TextField with Icon?? Like the one in the image bellow
![Screen Shot 2019-10-16 at 10 04 39 AM](https://user-images.githubusercontent.com/33317917/66888528-95785880-effc-11e9-80be-1b4bd85e4fca.png)

[2019-10-16 06:53] Trancever commented on #1392
@ElavanResu There is no such option, but @jbinda is working on making this possible.

[2019-10-16 06:53] #1392 closed

[2019-10-16 06:57] Trancever commented on #1389
@YajanaRao Chip component accepts `style` and `textStyle` props. It should be possible to make it bigger using these two props.

[2019-10-16 06:57] #1389 closed

[2019-10-16 10:49] ElavanResu opened #1393 "Using "padding" prop in TextInput gives an error"
## react-native: 0.61.2 react-native-paper: 2.16.0

## When I am using "padding" prop in TextInput, my app gives me an error as "Error in updating property 'padding' in shadow node of type: AndroidTextInput"

![IMG_20191016_161219](https://user-images.githubusercontent.com/33317917/66912645-9d51f000-f030-11e9-85d9-1c2f7003c1f2.jpg)

## Code
           <TextInput
              label='Email'

[2019-10-16 12:32] Taym95 commented on #1391
Hey, you're using old version `2.16.0` and this issue was fixed [here](https://github.com/callstack/react-native-paper/pull/1359), you can upgrade `react-native-paper` version to latest and close this issue, thanks!

[2019-10-16 12:33] #1391 closed

[2019-10-17 05:17] uplamartya commented on #1264
any update regarding this issue?

[2019-10-17 12:25] Trancever commented on #1393
@venits Yes, you're right. However there is a PR that removes that prop and we are likely gonna merge it. https://github.com/callstack/react-native-paper/pull/1394

[2019-10-17 12:25] #1393 closed

[2019-10-17 15:44] poptocrack opened #1395 "TextInput background transparent"
## Ask your Question

I'm using TextInput on a gradient background, and I can't use the background transparent since it displays a line under the title.
I can't really put a fixed color since the exact color behind the input might change according to the screen size.

Here's the code

[code]
Here's what I got:
[TextInput](https://drive.google.com/file/d/16m8hRLQXGbbtlZpRt8KidYJqcALpxBf9/view?usp=s

[2019-10-18 07:49] aibekmamatov opened #1396 "Snackbar dismiss timeout reset"
## Is it right to reset `_hideTimeout` when children of snackbar changes?

I use one snackbar to display message of user action and when user does something snackbar become visible, then while it's visible user does another action that changes message.

I can't use multiple snackbars because it's message context is the same.

[2019-10-18 11:10] rdewolff commented on #893
Any additional info on how to solve this, if it was solved ?

[2019-10-18 11:16] #1130 closed

[2019-10-18 11:17] Trancever commented on #893
@rdewolff Can you create a reproducible repository?  It's hard for us to fix the issue if we can't reproduce it

[2019-10-18 11:57] antgel commented on #1271
@zRelux Did you get anywhere with this?

[2019-10-18 12:21] jsamr opened #1397 "BottomNavigation barStyle backgroundColor ignored"
## Environment

- Android Emulator, Android API 28
- `react-native-paper@3.0.0-alpha.7`

[code]

## Description

`barStyle.backgroundColor` prop is not applied to `BottomNavigation` bar.

The issue is reproducible in `react-native-paper@3.0.0-alpha.6` but not on `react-native-paper@3.0.0-alpha.5`.

## Reproducible Demo

[react-native-paper-bottom-navigation-bar-style-background-color-bug](https://

[2019-10-18 12:45] pan-pawel commented on #1397
ok i know what is wrong there, I will fix it today

[2019-10-18 17:05] zRelux commented on #1271
No not really, but I think we can close this and we can open it back again if this comes ups again

[2019-10-18 17:05] #1271 closed

[2019-10-18 23:00] gitmudassir commented on #930
You are probably importing something from file "AppbarHeader.js"  into "Appbar.js", then importing something again from "Appbar.js" into "AppbarHeader.js" .
Cross check all the imports from both the files and see if there's any such cycle.

[2019-10-19 01:14] sebastianext commented on #687
Currently you can see the list of all supported icons right in

https://material.io/resources/icons/?style=baseline

**Use example:**
![image](https://user-images.githubusercontent.com/6503043/67135786-345ea980-f1e3-11e9-93dc-45a080431f71.png)

**Name icon:** _alarm_add_

**Name react native**:

[code]

[2019-10-19 02:01] Alain00 commented on #781
Any progess on this? the shadow on the Appbar.Header is't working for me too

[2019-10-20 01:02] x5engine commented on #945
@Trancever I apologize :) the author indeed did a very good job but those errors seem frustrating sometimes after spending days trying to fix that building and rebuilding your app.

[2019-10-21 07:02] vkasraj opened #1400 "[v3] TextInput's numberOfLines not working"
## Environment
"expo": "^35.0.0",
"formik": "^1.5.8",
react-native: 0.59.8
"react-native-paper": "^3.0.0-alpha.7"

## Description
`numberOfLines` has not effect on `<TextInput />`. But `multiline` was working fine.

## Reproducible Demo

#### Form Component
[code]
### FormikTextField
[code]

## ScreenShot
![Screenshot_20191021-121832](https://user-images.githubusercontent.com/24727447/67183108-4c5

[2019-10-21 07:44] #1397 closed

[2019-10-21 08:34] Vidyack commented on #687
Link the react-native-paper module to your project after installing. It will work fine.

1. npm install react-native-paper --save
2. react-native link
3. react-native link react-native-paper

[2019-10-21 08:45] venits commented on #1400
I can confirm that there is something wrong.

When I test it locally by forking this repo and playing with **example** folder it works.
When I set up new expo project it won't work ;/

There might be a problem with building and packaging this library.

For now solution will be to set height for you component like this:

[code]

[2019-10-21 12:18] venits commented on #1400
I created pull request for it:
https://github.com/callstack/react-native-paper/pull/1401

[2019-10-21 13:12] Trancever commented on #1400
Should be fixed in 3.0.0-alpha.8

[2019-10-21 13:12] #1400 closed

[2019-10-21 15:46] vkasraj opened #1403 "[v3] Multiline input's text starts from vertical center"
Same issue as #648 which was also resolved in #651. Earlier I raised this issue #1400 which was resolved in #1401. Using v3.0.0-alpha.8.

## Screen Shot
![Screenshot_20191021-210908](https://user-images.githubusercontent.com/24727447/67220692-de3e7000-f447-11e9-8fd2-de9aee9bcc17.jpg)

[2019-10-21 18:37] jaulz opened #1404 "[web] Focused TextInput label has large left padding"
## Environment

react-native-paper `3.0.0-alpha.8`

## Description

The label of the focused `TextInput` has a large left padding on web:
![image](https://user-images.githubusercontent.com/5358638/67232018-bdbee780-f440-11e9-9e15-c21c149b7187.png)

Seems to happen since `3.0.0-alpha.6` and I assume it's related to: https://github.com/callstack/react-native-paper/commit/708fdf3463c676507f64286bbf79

[2019-10-22 06:50] #1404 closed

[2019-10-22 08:03] venits commented on #1403
Hi,

I created pull request for this issue :)

https://github.com/callstack/react-native-paper/pull/1408

It will be fixed in next release.

[2019-10-22 10:37] miladmeidanshahi commented on #1076
Please fix this issue asap we are working on a production project and we need this.

[2019-10-22 10:58] venits commented on #1076
Hi @miladmeidanshahi

can you describe what is your case? How you want your TextInput to behave?

Right now we don't support text alignment prop but maybe there is simpler solution for your problem :)

[2019-10-22 13:44] zachariahtimothy opened #1409 "How to inherit or use component TS Props"
## Ask your Question
As a beneficial best practice, I commonly wrap component library components into my own elements. To do this we generally inherit both component and TS props. For example:

[code]

Given the new release, it seems like extracting component props in TS is now impossible. Maybe it is a different approach and someone can correct me?

In components/Button.tsx I would expect to see

[2019-10-22 13:46] satya164 commented on #1409
There's already a way to get component's prop types: `React.ComponentProps<typeof Button>`

[2019-10-22 13:52] #1409 closed

[2019-10-22 13:53] zachariahtimothy commented on #1409
Holy blazing fast response! Thank you @satya164 , that works!  For others stumbling on this chain I ended up with the following;

[code]

[2019-10-22 15:23] YajanaRao opened #1410 "Jest tests are failing with react native paper 3.0.0"
## Environment
react-native-cli: 2.0.1
react-native: 0.61.2
react-native-paper: 3.0.0

Windows 10

## Description

After updating react native paper to 3.0.0 I am getting error with Jest tests.
![image](https://user-images.githubusercontent.com/38914337/67301564-355a4880-f50d-11e9-8b19-1a6b274b56f4.png)

## Reproducible Demo
Link to the repository:
https://github.com/YajanaRao/Serenity

[2019-10-22 15:35] rdewolff commented on #893
My error was not related to this package. Sorry about the confusion. Resolved!

[2019-10-22 17:09] RichardLindhout commented on #1380
Not true, I have the same bug. Its not your dialog. It does the padding on the flat input which should only be done on the outlined one.

[2019-10-22 17:56] hugopretorius914 commented on #1380
I too have this bug, and it's on both Android and iOS.

[2019-10-22 17:59] jaulz commented on #1380
Please try `3.0.0` which was released today. Maybe it's related to https://github.com/callstack/react-native-paper/pull/1405

[2019-10-22 18:22] Shywim commented on #1380
Same bug on 3.0.0 (not alpha).

[2019-10-22 19:51] RichardLindhout commented on #1380
It's very strange it does not happen always, now it's only when I open the app for the first time and have not touched the input yet. After a focus this TextInput will be right even after a second screen mount.

[2019-10-22 21:02] RichardLindhout commented on #1354
Will try to fix this, this week probably Tuesday.

[2019-10-22 21:22] RichardLindhout commented on #1380
I'm on mobile right now but maybe this is the problem
https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput/TextInput.tsx#L187

Labeled will not be 0 if this.props.value is filled, needs more casing around the statement, but I'm not sure about that

[2019-10-22 22:28] lunks opened #1412 "HelperText is not exposing its properties correctly"
## Environment

Using react-native-paper with 0.60.6
## Description

Although `HelperText` does have a `style?` property, it's not being exposed correctly. As such, other components that rely on them like `createAnimatableComponent` from `react-native-animatable`.
## Reproducible Demo
[code]
Error is:
[code]

## Workaround

As a workaround, I'm just casting it to what I need:

[code]

[2019-10-22 22:36] satya164 commented on #1412
In your reproducible demo, you are annotating `component` as `{ style?: any }` which means an object with `style` property. Ofc its failing cause `HelperText` is a component, not an object with a `style` property.

Don't think that's what's happening with `createAnimatableComponent`

[2019-10-22 23:44] lunks commented on #1412
Indeed I forgot to update the example. Is this clearer on what the issue is?

[2019-10-23 03:39] toby-pondr opened #1413 "Button appearance issue"
## Environment

React Native Paper 3.0.0 with RN 0.61.0

## Description

Button loads fine on first load, but after loading a screen, popping out of it, then loading back into the screen again, the button appearance starts to play up.

e.g. App loads into Sign In -> Verification screen -> Back to Sign in -> Verification screen

Github is not letting me upload images so I attached an imgur link bel

[2019-10-23 04:41] toby-pondr commented on #1413
Issue is fixed with RN 0.61.2

[2019-10-23 04:41] #1413 closed

[2019-10-23 08:50] miladmeidanshahi commented on #1076
Hi @venits Our app is RTL and all of the text input such az number is in RTL it should be LTR, but we can't do that because text input it does't support.
Do you have any solution?

[2019-10-23 09:20] venits commented on #1076
Hi @miladmeidanshahi

Unfortunately the way textAlign works is as follows:

[code]

There is no option to control it using props or style.

**What you can do:**
If you need LTR input only for numbers I would create custom TextInput without react-native-paper.
Use default TextInput from react-native:
[code]
You can give it some more friendly `number` input style. In that way you will get full contr

[2019-10-23 09:28] miladmeidanshahi commented on #1076
@venits this way it was our last solution the biggest problem is if we import from react-native text input style missed from material design :(

[2019-10-23 09:34] oshimayoan commented on #1410
This is also happening on `react-native: 0.59.8` with Expo SDK 34.

[2019-10-23 10:56] adrianicv opened #1416 "Removing web outline in textinput"
## Environment
react-native-paper: 3.0.0

## Ask your Question
When using textinput with react-native-web it appears an additional line surrounding the input (I have tested it in chrome). In the flat mode, it is ok, but in the outlined, this line crosses out the label when focusing on the input as shown in the image:
![Captura de pantalla de 2019-10-23 12-43-47](https://user-images.githubuserconte

[2019-10-23 11:02] venits commented on #1416
The easiest way:

In you web project add something like this to your **index.css** or somewhere where you handle CSS.

[code]

It will remove outline from all inputs on web :)

[2019-10-23 16:38] #1410 closed

[2019-10-23 18:09] lunks commented on #1380
In 0.61.2 is pretty easy to reproduce (at least in my app), just enable Fast Refresh on a class component and let it trigger when you overwrite the file.

[2019-10-23 20:13] tasn commented on #1178
Works for me with 3.0.0. Maybe it's also because I updated react-native and a few other things...

[2019-10-23 20:36] halileohalilei opened #1418 "How to change borderRadius of Avatar.Image"
## Ask your Question

Is there a way to change the `borderRadius` of `Avatar.Image`? I set its style to `{ borderRadius: 0 }`, but that only changes the radius of the outer `View`, and the `Image` inside it is still round. Any way to do this?

[2019-10-23 20:53] tavioalves commented on #1178
@tasn Hi man, which other things? Which react native version are you using?

[2019-10-23 21:40] tasn commented on #1178
@tavioalves here's the repo, have a look: https://github.com/etesync/ios

[2019-10-23 22:05] #1178 closed

[2019-10-24 06:31] Trancever commented on #1418
@halileohalilei Hey, this component is just a View and an Image inside. If you need different border radius you can implement it on your own. We do not support your use case because it's not MD Guidelines compliant.

[2019-10-24 06:31] #1418 closed

[2019-10-24 06:34] Trancever commented on #1380
@lunks Does it happen only when fast refresh is enabled? Can you create a minimal repro on [Snack](https://snack.expo.io/) where we could try it?

[2019-10-24 06:48] akhilsanker commented on #1262
Hi @iyadthayyil ,

Is it woking in version 3.0.0?

[2019-10-24 07:04] Trancever commented on #1262
@akhilsanker Yes, AccordionGroup is available in 3.0.0

[2019-10-24 07:22] #1416 closed

[2019-10-24 19:17] diablourbano commented on #1380
This issue is happening with `^3.0.0` version installed, I downgrade my version to `^2.15.0` and it works as expected.

[2019-10-24 20:40] JosePatricio opened #1420 "react-native-paper CARD component not hidding when Indicator is loading"
## Environment

React native (Expo) .

## Description
(This works fine in the browser , but not working in Android device)
react-native-paper  CARD component not hidding when Indicator is loading
![Captura](https://user-images.githubusercontent.com/4383014/67523425-45406c80-f674-11e9-99f8-1b50b5d849b8.PNG)

this is my code :
[code]

Loader component:

[code]

What can I do to hidde the CARD when i

[2019-10-25 04:04] layerssss opened #1421 "Adding my app to "Showcase""
## Ask your Question

Hello!

Thank you for the work on this library. I would like to introduce an App I just recently built using it:

* landing page: https://racecalendar.app/
* AppStore: https://apps.apple.com/us/app/race-calendar/id1481539104
* Play: https://play.google.com/store/apps/details?id=in.micy.racecalendar

Would you like me to try to come up with a PR adding this to the Showcase pag

[2019-10-25 07:04] Trancever commented on #1421
@layerssss If your app uses paper, then sure. We are happy to accept your PR :)

[2019-10-25 07:06] Trancever commented on #1420
Render Loader after the Card e.g.
[code]

[2019-10-25 07:06] #1420 closed

[2019-10-26 09:26] xXFracXx opened #1423 "CheckBox onPress Error: Transition from state RESPONDER_INACTIVE_PRESS_IN to RESPONDER_ACTIVE_LONG_PRESS_IN is not supported"
## Environment

Android Emulator:
![image](https://user-images.githubusercontent.com/4745792/67617336-39c77f80-f7f3-11e9-9cb5-cb3b089c27f6.png)

Package.json:
"dependencies": {
    "appcenter": "2.3.0",
    "appcenter-analytics": "2.3.0",
    "appcenter-crashes": "2.3.0",
    "axios": "^0.19.0",
    "install": "0.13.0",
    "lodash": "^4.17.15",
    "npm": "6.11.3",
    "react": "16.8.3",
    "rea

[2019-10-26 09:29] xXFracXx commented on #1423
Sorry, seems like it's not an issue with react-native-paper.

https://github.com/facebook/react-native/issues/11989#issuecomment-314111441

[2019-10-26 09:29] #1423 closed

[2019-10-26 18:24] jstansbe commented on #1368
Closing as i'm unable to reproduce at this time

[2019-10-26 18:24] #1368 closed

[2019-10-27 08:24] syedabuthahirm opened #1424 "Export Overlay function"
## Describe the feature
Currently **Dark Theme** has mode **adaptive**. While using the mode in *react-native-navigation* i won't be able to set a lighter background (appbar & bottom navigation) suggested in material guidelines. i did some research on Appbar component and found *layout* function is generate that kind of color behavior. if we export that function into the core react-native-navigati

[2019-10-28 16:55] poptocrack commented on #688
Any update on this issue?

[2019-10-28 18:22] dacsang97 opened #1427 "[v3] Unable to resolve module `react-native-paper/src/core/Provider` from `src/App.js`"
## Environment
[code]
**I only occur this problem when I run build, not appear Development environment**
## Description

babel.config.js (**I'm not using TypeScript**)
[code]
import `Provider` in `App.js`
[code]

## Reproducible Demo

Run react-native bundle for Android
[code]
Then, I receive the error
![Screen Shot 2019-10-29 at 1 15 22 AM](https://user-images.githubusercontent.com/5728560/677054

[2019-10-28 19:56] satya164 commented on #1427
Have you tried resetting metro cache like the error message says?

[2019-10-28 22:20] #1207 closed

[2019-10-29 06:18] dacsang97 commented on #1427
@satya164 yes, I had tried

[2019-10-29 06:21] #1427 closed

[2019-10-29 08:06] vkasraj commented on #1403
Closing Now. Issue fixed v3.1.0 release.

[2019-10-29 08:06] #1403 closed

[2019-10-29 11:25] #1387 closed

[2019-10-29 16:53] anothersaddeveloper opened #1430 "Add testID prop to Snackbar"
## Describe the feature

Snackbar or the button inside it should be accessible through testID.

## Motivation

Right now when I try to test that the button inside Snackbar has been clicked I have no way to do so, Snackbar can not be retrieved using any of the react-native-testing-library query except for the byType, and even then fireEvent does not work because it tries to invoke onPress on the Sn

[2019-10-29 18:33] m2mathew opened #1431 "[Docs] Add link to implementation for each component"
Many projects will provide a link from the documentation to the source file in GitHub for each component. This provides a developer an easy way to jump into the documentation for a better understanding of how the component is implemented.

I use Material-UI all day everyday, and I click on a link to the source code several times a day. It's helpful! 😎

My team created MUI, and we are starting to u

[2019-10-30 08:04] orcunorcun opened #1432 "PaperProvider theme doesn't work for release build on IOS"
For debug build it show my custom theme but for release it shows purple color instead of mine.

**Version:**
[code]

**Code:**

[code]

[2019-10-30 09:14] mmarkusik commented on #1150
Hey @cristinaITdeveloper. I opened a pull request with the feature you proposed. Unfortunately we cannot add the `numberOfLines` prop because it's not consistent with the guidelines. As for the percentages for cell width there is a `style` prop on the cell component, to which you can pass a style object with flex property, so you should be able to make your cells wider or narrower without using pe

[2019-10-30 10:01] orcunorcun commented on #1432
And also  `<Portal>` cause to crash on release build if I add

[code]

to babel.config.js file

**Error message is:**

[2019-10-30 12:17] anothersaddeveloper commented on #1430
accessibilityLabel does not work, at least not for me. Neither does text, etc. Only by type worked.
I've no idea why is it, here's a basic examples of how it fails:
[Snack link](https://snack.expo.io/@snamedve/bold-croissant)

[2019-10-30 20:50] bjjeong commented on #1432
Same here. Doesn't work on 3.1.1 or 3.1.0. I had to go down to 3.0.0 in order for my app to run in release build.

[2019-10-30 23:08] Alain00 opened #1436 "GestureHandler already initialized for root view"
## Environment
portion of package.json dependencies:
[code]

## Description
I just updated from 2.16 to 3.1.1 and expo started giving me this error

[2019-10-31 01:13] Alain00 commented on #1436
update the expo app fixs this issue

[2019-10-31 01:13] #1436 closed

[2019-10-31 03:05] hamidfzm commented on #808
@ferrannp Does react native paper 3 support this feature?

[2019-10-31 07:59] Trancever commented on #808
@hamidfzm Unfortunately no, but we will accept a PR that implements this.

[2019-10-31 09:51] Stanley1234 opened #1437 "Failed prop type: Invalid prop `fontFamily` of type `object` supplied to `Text`, expected `string`."
## Environment
This bug is found on the IPhone 7 device.

## Description
I noticed that for the theme, we need to provide the fonts in the following format:
[code]
Then I took a peek at the code for those typography components. Let's take the `Text` component as an example:
[code]
Here theme.fonts.regular is an object obviously, which cannot be assigned to the key `fontFamily`. After I changed it

[2019-10-31 14:23] karvulf opened #1439 "Menu.Item Custom MaxWidth"
## Describe the feature

I'm trying to build my own Dropdown-Menu. For that I use the Menu-Component. My problem is that the Menu.Item has a maxWidth of 280. So the touchable area of my items are wrong if my Dropdown-Menu is larger.

## Motivation

Give the possibility to set the maxWidth.

[2019-10-31 15:59] karvulf commented on #1439
In the newest version, it works, so im closing this issue

[2019-10-31 15:59] #1439 closed

[2019-10-31 17:00] anothersaddeveloper commented on #1430
@satya164 Even the simplest test case doesn't work, [link](https://codesandbox.io/s/react-native-eqkbu) It does not work on code sandbox because it has problem with react-native, but if your tried to run the test within MySnackbar.test.tsx on your own machine, it still wouldn't work.

[2019-10-31 20:49] RichardLindhout commented on #1354
Ok little bit later than Tuesday but I  found the cause :-)

[2019-10-31 20:57] RichardLindhout commented on #1354
The code here is never ran when you have an initial value
[code]
There is an initial value available in the state so it's never changed there
https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput/TextInput.tsx#L191

[2019-10-31 21:03] RichardLindhout commented on #1354
Pull request: https://github.com/callstack/react-native-paper/pull/1440

[2019-10-31 21:04] RichardLindhout commented on #1380
Pull request: https://github.com/callstack/react-native-paper/pull/1440

[2019-10-31 23:46] RichardLindhout commented on #1380
Fix for this merged: https://github.com/callstack/react-native-paper/pull/1441

[2019-10-31 23:46] RichardLindhout commented on #1354
FIx for this merged: https://github.com/callstack/react-native-paper/pull/1441

[2019-10-31 23:47] #1380 closed

[2019-10-31 23:47] #1354 closed

[2019-11-01 07:55] Oshianor commented on #1437
I'm experiencing the same issue with the latest version (3)

[2019-11-01 13:30] vikas-chhabra commented on #903
What's the status for add leading and trailing icon in text input of react-native-paper?

[2019-11-01 14:45] cabelin commented on #687
At https://material.io/resources/icons/?style=baseline, I found "local_offer" but tried and not managed to use it even using "local-offer"

 I debugged the icon list and didn't find all the icons for "https://material.io/resources/icons/?style=baseline"

[2019-11-02 03:47] shiroze commented on #1395
for me it work this way

[code]

Change DarkTheme with DefaultTheme if using White.

[2019-11-02 03:58] shiroze opened #1443 "TextInput Height Problem Within ScrollView"
![image](https://user-images.githubusercontent.com/6022114/68065621-992b0f80-fd5e-11e9-9c3d-bc0fea20c9e6.png)

is this a bug ? the height between TextInput so Far.
My Code Below

[code]

Input Theme (as Component)

[code]

Expected

![image](https://user-images.githubusercontent.com/6022114/68065746-1acf6d00-fd60-11e9-9959-05522e60dcbb.png)

[2019-11-02 04:17] shiroze commented on #1443
Solve by remove Flex inside View

[2019-11-02 04:17] #1443 closed

[2019-11-02 04:18] satya164 commented on #1443
Rmove flex:1 from the view wrapping your input

[2019-11-03 02:10] johnnyhoichuen opened #1444 "Vector icon went missing in Appbar"
## Environment
[package.json]
[code]

[babel.config.js]
[code]

## Description
Appbar icon turned to 'question mark'
![IMG_70BFE39C8127-1](https://user-images.githubusercontent.com/44110719/68079203-030bed80-fe21-11e9-9e35-d36af7aaba35.jpeg)

## Reproducible Demo
import { Appbar, Card, FAB, Colors, Button, Title } from "react-native-paper";
[code]

[2019-11-03 02:22] satya164 commented on #1444
Please read the release notes when upgrading https://github.com/callstack/react-native-paper/releases/tag/v3.0.0

[2019-11-03 02:22] #1444 closed

[2019-11-03 04:00] ahce opened #1445 "How to hide dialog backdrop?"
I tried this, but didn't work.
[code]

[2019-11-03 13:02] jaysbytes commented on #1432
It might be caused by this commit https://github.com/callstack/react-native-paper/commit/9b74d21709d430708d3f41723beb388f856c206e

Probably mappings are generated incorrectly and some parts of source code are not available when you use babel plugin. But It's only my guess, someone needs to check that.

[2019-11-04 11:25] jasonkw9 opened #1446 "How to change the opacity of the disabled button?"
Hi all, may I know how to change the opacity of a button when it is in disabled mode. I have attached an image below. As you can see in the screenshot, the button is nearly visible.

![Screenshot_20191104_192056_com abc_members_app](https://user-images.githubusercontent.com/18546855/68117543-9ab02f80-ff38-11e9-92f3-aaa755470b94.jpg)

[2019-11-04 11:26] Priyam-tricon opened #1447 "How can I make label always visible in BottomNavigation ?"
## Ask your Question
I want to make all the labels in BottomNavigation to be visible not just the selected one.
How can I achieve that ?

[2019-11-04 13:21] satya164 commented on #1447
https://callstack.github.io/react-native-paper/bottom-navigation.html#labeled

[2019-11-04 13:21] #1447 closed

[2019-11-04 14:48] Priyam-tricon commented on #1447
Hi,

My question was about showing **all the labels**  not about showing/hiding the label of the active tab.

I figured it out. The solution was using shifting actually.
https://callstack.github.io/react-native-paper/bottom-navigation.html#shifting

[2019-11-05 08:29] dabakovich commented on #1329
@ferrannp The error reproduced on my device too. No matter if I'm using a component anchor or {x, y} values.
I can open a menu first time, but in the second one, it crashes.

[2019-11-05 12:13] kevinsoellner commented on #1432
Same issue here. I tried to go down to `3.0.0` but it's still crashing on start.
Any news on this?

[2019-11-05 12:22] robertLichtnow opened #1449 "Support for 'bold' namespace in fonts"
## Describe the feature

Support for `bold` namespace in the `fonts` namespace of the theme

## Motivation

The reasons is getting closer to what material design showcases as 'common weights' in here https://material.io/design/typography/understanding-typography.html

## Related Issues

No related issues

[2019-11-05 12:24] satya164 commented on #1449
Can you clarify your use case?

[2019-11-05 12:32] robertLichtnow commented on #1449
I'm making a design system for web (wrapping material ui) and react native (wrapping react native paper) that supports theming and one of the premises of the theme is that the fonts have the `'light' | 'regular' | 'medium' | 'thin' | 'bold'` configurations.

[2019-11-05 12:34] satya164 commented on #1449
You can put any additional stuff in the theme. I don't think it makes sense for us to add a `bold` to the default theme when we don't use it.

[2019-11-05 12:34] #1449 closed

[2019-11-05 13:49] ilibilibom opened #1450 "onPress not responding on RadioButton"
Hi
On Android emulator,
The onPress event is not firing when I'm running the following code:
[code]
I see no console log here,
what am I doing wrong ?

[2019-11-05 14:05] ilibilibom commented on #1450
This was fixed on version 3.1.1

[2019-11-05 14:05] #1450 closed

[2019-11-05 14:48] camogg opened #1451 "ActivityIndicator bug with react-native LayoutAnimation"
## Environment

- Expo SDK v35.0.0
- React Native Paper v3.1.1
- Running in iPhone XS iOS 13.2

## Description

I am experiencing a bug trying to make disappear ActivityIndicator with EaseOut presets of LayoutAnimation. The ActivityIndicator shows a double bar when animation is in progress. Looks like ActivityIndicator spinning animation just stop while another animation is performed on it.

Here'

[2019-11-05 14:54] satya164 commented on #1432
@kevinsoellner try resetting metro cache: `react-native start --reset-cache` or `expo start -c` if using expo

[2019-11-05 15:17] satya164 commented on #1451
`LayoutAnimation` works by animating any components that updated, which might result in unintended glitches. I'd suggest to avoid using it and use https://github.com/kmagiera/react-native-reanimated

[2019-11-05 15:17] #1451 closed

[2019-11-05 15:59] #1432 closed

[2019-11-05 17:06] Alain00 opened #1453 "Type error using useRef hook with TextInput"
When i use the hook ```useRef<TextInput>(null)``` this gives me this type error ```'TextInput' refers to a value, but is being used as a type here```. And the same when i use ```React.forwardRef<TextInput, MyProps>```. This does't happend with the RN TextInput

[2019-11-05 18:40] Trancever commented on #1453
try `typeof TextInput`

[2019-11-05 20:28] Alain00 commented on #1453
Thanks @Trancever it works, but now I get the following error by assigning the ref:

[code]

This is the code:

[code]

[2019-11-06 00:28] usmansbk opened #1454 "[RN0.61.4] Cannot find module '../../lib/mappings.json'"
React Native version:

[code]

## Steps To Reproduce
`react-native run-android --variant release`

Describe what you expected to happen:
Should successfully build app but i get ` Cannot find module '../../lib/mappings.json'`
[code]

I've tried deleting `node_modules` and `yarn.lock` file

`react-native run-android` works fine.

[2019-11-06 00:56] ahce commented on #1454
Same for here, downgrade version 3.1.1 works for me.
Apparently this [commit](https://github.com/callstack/react-native-paper/commit/5c1cc8e8f6d6406469152cae172d4d6e7d3cf4d2) is the cause

[2019-11-06 03:41] rolandjitsu commented on #1329
I'm having the same issue as @dabakovich on a Pixel 3, latest Android.

[2019-11-06 04:55] rolandjitsu opened #1455 "Menu crashes on the second open"
## Environment

Running a react-native app on a Pixel 3 with the latest Android version.

## Description

It seems like every 2nd open of a `<Menu>` triggers some error. This is happening after `3.0.0-alpha.4`. I think it might have been introduced with https://github.com/callstack/react-native-paper/commit/fa22a68.
Might be related to https://github.com/callstack/react-native-paper/issues/1329.

[2019-11-06 05:32] #1454 closed

[2019-11-06 17:21] wardjk87 commented on #1288
I've also created a search bar with chip functionality based on material design specs. I also have created a swipeable list item that using material design animations.

[2019-11-06 21:54] Alain00 opened #1457 "HelperText is't working properly"
## Enviroment
I use vscode,  with TypeScript 3.4.5
## Description
Seems that props type definition for HelperText component are't working properly, i don't have autocompletion for his props. Also when visible is set to false, there is some space occupied by the component
## Reproducible Demo
[code]

[2019-11-07 13:06] Barbiero commented on #1457
I feel like this is a feature and not a bug. When you use the `visible` prop, you can easily chain `TextInput`s and `HelperText`s:

    <TextInput label="email" value={email} onChangeText={setEmail} error={isEmailError}/>
    <HelperText type="error" visible={isEmailError}>Invalid email</HelperText>
    <TextInput label="password" value={password} onChangeText={setPassword} secureTextEntry error={

[2019-11-07 13:15] Alain00 commented on #1457
@Barbiero  if see like that, it could be. Thanks

But there still the problem of the types

[2019-11-07 15:00] enthussb opened #1458 "Icons not rendering correctly"
## Environment
react-native-cli: 2.0.1
react-native: 0.61.4
react-native-paper: 3.2.1
VSCode
Windows 10

## Description
### Warning: failed prop type invalid prop name of value supplied to icon
![screenshot](https://user-images.githubusercontent.com/29205181/68399666-c4699080-019c-11ea-82ca-c44981b38a7d.png)

## Reproducible Demo
[code]

[2019-11-07 15:09] Trancever commented on #1457
@Alain00 Is autocompletion working for other components properly?

[2019-11-07 15:52] Alain00 commented on #1457
Yes

[2019-11-07 16:47] Barbiero commented on #1457
For that matter, I've tested here with Typescript 3.7.2 and it's showing incomplete information, ie. `type` and  `visible` seem to be omitted.

![image](https://user-images.githubusercontent.com/5532443/68408912-f7902d80-0164-11ea-8388-d48c81549581.png)

[2019-11-07 16:57] wardjk87 opened #1459 "Fonts Theme not working for Search Bar"
## Environment

Expo 35 SDK
React-Native-Paper 3.2.1

## Description

When setting a theme font, the SearchBar components gets the following error:

ExceptionsManager.js:82 Warning: Failed prop type: Invalid props.style key `0` supplied to `Text`.
Bad object: {
  "0": "R",
  "1": "o",
  "2": "b",
  "3": "o",
  "4": "t",
  "5": "o",
  "color": "rgba(0, 0, 0, 0.54)",
  "textAlign": "left",
  "fontSi

[2019-11-07 17:42] wardjk87 opened #1460 "Missing Material Icons in ver 3"
## Environment

React-Native-Paper 3.2.1.

## Description

Certain MaterialIcons currently available through react-native-vector-icons are no longer available through React-Native-Paper that were available in version 2.0.

For example: 'add', 'notifications', and 'language'.

Workaround: Using @expo/vector-icons and extracting MaterialIcons from there instead.

[2019-11-07 17:54] satya164 commented on #1460
Please read the release notes https://github.com/callstack/react-native-paper/releases/tag/v3.0.0

[2019-11-07 17:54] #1460 closed

[2019-11-07 17:54] satya164 commented on #1459
Please read the release notes https://github.com/callstack/react-native-paper/releases/tag/v3.0.0

[2019-11-07 17:54] #1459 closed

[2019-11-07 18:03] wardjk87 commented on #1459
@satya164 I don't see anything in release notes about this. The official docs on icons state that it uses react-native-vector-icons.

[2019-11-07 18:06] wardjk87 commented on #1460
@satya164 I went to the link and I could not find any information on this issue.

[2019-11-07 18:08] wardjk87 commented on #1459
@satya164 is the migration guide posted on the official docs? It would help others like me migrate.

[2019-11-08 06:20] tomchomiak commented on #1317
Any update on controlling size of icon in buttons?

[2019-11-08 10:19] #1458 closed

[2019-11-08 11:52] mmarkusik commented on #1430
@anothersaddeveloper You can retrieve the button by using `getByText`, matching the text inside the button.

[2019-11-08 11:52] #1430 closed

[2019-11-08 13:28] Trancever commented on #1460
@wardjk87 You can still use MaterialIcons via `settings` prop on `Provider`. It's explained in migration guide

[2019-11-08 13:44] Trancever commented on #1459
@wardjk87 Sorry but we forgot to include notes about fonts in the release notes/migration guide. We will try to fix it as soon as possible.

[2019-11-08 14:21] wardjk87 commented on #1460
@Trancever thanks for commenting after this ticket was closed. I'll try that.

[2019-11-08 14:27] wardjk87 commented on #1459
@Trancever thanks for looking into this although the ticket was closed. I ended up just commenting the code and adding the styles directly.

I'm glad the team is with Typescript now. I have another question, I've modified the source code here and there before and used 2.0 code for reference. Now however, it is harder to find the source code in the node_modules/react-native-paper for specific eleme

[2019-11-08 20:59] ipsquare opened #1461 "Style DataTable for width and '...' text"
What is the best way to set width of a DataTable? I think by default all Cells get equal width but I want reduce width of some Cells so that others, which have more text, can get more width before `...` trims the remaining. Please advice.

[2019-11-09 13:55] karvulf opened #1463 "Opening Menu from right to left"
## Ask your Question

The Menu-Component always opens from left to right. Is it possible to change the opening direction, because I want to open the menu on the right side of my app.

[2019-11-09 13:58] #1463 closed

[2019-11-09 14:13] douglasjunior commented on #688
How to remove the underline without affect text colors?

[2019-11-09 15:26] satya164 commented on #688
If you don't want a material design themed input, use the input from React Native and apply the styling you want https://facebook.github.io/react-native/docs/textinput

[2019-11-09 17:48] douglasjunior commented on #688
I just don't want to have the "underline", but the animated label and everything else I'd like to have.

Unfortunately not every design follows 100% of Material Design. (I have never worked on a project that meets 100% of the recommendations)

To whom it may concern, to "hide" the "underline", I followed this workaround.

[code]

Note that Input is 2 pixels bigger than View.

![mrocto](https://use

[2019-11-11 06:40] gluons commented on #1437
Me too. Face this error after upgrade to version 3. Error with the same code that I use in version 2. (I didn't use components that affected by breaking changes)
No any `fontFamily` noticed in [Migration guide](https://github.com/callstack/react-native-paper/wiki/Migration-guide-for-3.0).

[2019-11-11 07:34] DevanshaniR opened #1464 "Change the font size and font Weight of the label text"
When change the font size & font weight to bold in **TextInput** label text also getting bold & also increasing the font size. How to change the font weight & font size of the floating label text only?

[2019-11-11 15:14] adrianicv opened #1466 "Icon with badge in Appbar.Action icon"
## Ask your Question
¿Is there a way to add a badge in an Appbar.Action icon?
I've read the docs and the example shows how to create a badge, but I can't find how to overlap the badge on top of an icon, and even more difficult, adding it to an Appbar.Action.

Thank you in advance.

[2019-11-12 10:33] adrianicv commented on #1466
I've already solved it, for people in a similar situation or if there is a better solution, I've put the badge and the Action inside a View and I've modified the badge styles with an absolute position:
[code]

[2019-11-12 10:33] #1466 closed

[2019-11-12 12:16] msageryd opened #1467 "Apply animation.scale to checkbox.android"
The checkbox animation speed on checkbox.android does not care about the new animation.scale theme setting.

To me it's annoyingly slow, so I would love if the animation scale were applied to it.

[2019-11-12 13:30] gbhasha opened #1469 "What is mappings.json doing inside the lib folder"
## Ask your Question

I am working on a react-native component library project which is similar to react-native-paper and I am using bob to create the package.

I see the script './scripts/generate-mappings.js' which generates the mappings.json inside the lib folder. (after running the prepare command).

I am curious to know the purpose of having the mappings.json inside the lib folder.

Thanks in

[2019-11-12 17:26] Trancever commented on #1467
@msageryd Can you submit a PR?

[2019-11-12 17:39] Trancever commented on #1461
@ipsquare You can pass `style` prop to the DataTable.Cell with custom flex property.

[2019-11-12 17:39] #1461 closed

[2019-11-12 19:08] Peechiz opened #1470 "Material Community List.Icon styling"
## Ask your Question

Importing an icon outside of the standard set results in wildly different styles.
[code]
looks different from
[code]

How do I apply the default `List.Icon` styling to the materialcommunity icon?  Wouldn't it be easier to pass a prop to `List.Icon` like `<List.Icon iconFamily='materialCommunity' />` ?

[2019-11-12 20:37] msageryd commented on #1467
Yes, that’s the right thing to do. I don’t have the time right now, so I posted the issue as a todo-post for myself or anyone else.

On 12 Nov 2019, at 18:26, Dawid Urbaniak <notifications@github.com<mailto:notifications@github.com>> wrote:

@msageryd<https://github.com/msageryd> Can you submit a PR?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2019-11-12 20:55] #1421 closed

[2019-11-13 08:46] YajanaRao opened #1472 "Surface Component color and useTheme surface variable color are different in dark mode"
## Environment

react-native-paper 3.1.1
react-native 0.61.2

## Description

I am trying to get the surface component color using useTheme. The color of surface returned from useTheme and Surface Component are different. I am getting background color as surface color in theme.

In Default theme I am not facing the above issue.
## Reproducible Demo

Link to the Snack
https://snack.expo.io/@yajana/

[2019-11-13 08:52] YajanaRao commented on #1470
@Peechiz  in React native paper 3.0 Material community Icons are used. If you want to use other icons than MaterialCommunityIcons please refer this documentation

https://callstack.github.io/react-native-paper/icons.html

[2019-11-13 11:57] jaysbytes commented on #1469
Hi @gbhasha . Mappings are generated to be used by paper's babel plugin https://github.com/callstack/react-native-paper/tree/master/src/babel. Babel plugin change imports like `import { Button } from 'react-native-paper` to `import Button from 'react-native-paper/lib/components/Button.tsx` (not sure if path in example is correct, but you got the idea).
It changes imports to avoid including whole p

[2019-11-13 11:57] #1469 closed

[2019-11-14 08:33] DottieDot opened #1473 "Consider making List.Item a PureComponent"
## Describe the feature

Consider making `List.Item` a PureComponent instead of a regular Component.

## Motivation

Having 100's of unchanged list items update every time you add something to your list makes your app extremely laggy.

[2019-11-14 12:30] solace commented on #1455
I'm experiencing this issue, so installed 3.0.0-alpha.4, but now get `Cannot find module '../../dist/mappings.json'` which is mentioned in #1302 that is fixed in 3.0.0-alpha.5.

Any suggestions on a workaround for either?

[2019-11-14 12:52] Trancever commented on #1472
https://github.com/callstack/react-native-paper/blob/e5cd6fb6029396f35c7a6ca0f6ded2bb6526b64b/src/components/Surface.tsx#L74

In dark theme, if mode is `adaptive` we adds some opacity to the surface color (based on elevation) that's why you see two different values. It is explained in [documentation](https://callstack.github.io/react-native-paper/theming.html#dark-theme)

[2019-11-14 12:53] #1472 closed

[2019-11-14 12:55] #1467 closed

[2019-11-14 12:57] #1346 closed

[2019-11-14 12:58] Trancever commented on #1357
@littlehome-eugene You can run our example app on web:
- clon repo
- yarn bootstrap
- cd example
- yarn web

[2019-11-14 12:58] #1357 closed

[2019-11-14 12:59] Trancever commented on #1350
I am closing because no repro is provided.

[2019-11-14 12:59] #1350 closed

[2019-11-14 13:02] Trancever commented on #1375
@hrastnik Is it still an issue?

[2019-11-14 13:33] hrastnik commented on #1375
Yep, just tested it and here's what I get

![Screenshot_20191114-143212](https://user-images.githubusercontent.com/3407234/68861372-b9a68280-06eb-11ea-954f-410245e608dc.png)

[2019-11-14 14:06] satya164 commented on #1473
Making things pure component will cause unexpected behaviour. For example:

[code]

If `this.state.foo` updates, `MyComponent` won't re-render. You can wrap it in `PureComponent` yourself to optimize it.

[2019-11-14 14:06] #1473 closed

[2019-11-14 14:07] satya164 commented on #1470
The `icon` prop accepts a lot more than strings as per the docs linked above. You can provide your own render callback to `List.Icon` to keep styling.

[2019-11-14 14:07] #1470 closed

[2019-11-14 14:09] satya164 commented on #1455
The current stable version is 3.2.1

[2019-11-14 14:17] solace commented on #1455
@satya164 Yes, but as indicated by OP, it crashes on second tap. alpha.4 is the last version where it works as expected.

[2019-11-14 14:44] YajanaRao commented on #1472
@Trancever  Thank you for the response.
How Can I get the surface color ?

[2019-11-14 15:48] Trancever commented on #1472
You would have to get access to the overlay function but it's not exported currently and we are not sure if it should be. We need to investigate it more.

However, if you pass `mode: 'exact'` in your theme, you will be able to access right color.

[2019-11-14 20:42] ilibilibom opened #1474 "SearchBar buggy when attached to react-redux action"
Hi
I'm trying to make input onChange run a redux action to update the state, and update the input value.
The input is updated slowly, with a delay of a few milliseconds each time onChnage runs.
this causes a "buggy" user experiance.
here is my component:
[code]
Of course, when I use the component state instead of Redux, it works as expected.
Is this behavior simply a bad redux performance issue, o

[2019-11-14 21:12] Trancever commented on #1474
@ilibilibom It's an issue with searchbar. It looks like many other components rerenders when you change the value in redux store and it causes the worse performance.

[2019-11-14 21:12] #1474 closed

[2019-11-15 02:22] nandorojo opened #1475 "Add typescript typings for Icon names."
## Describe the feature

Big fan of this awesome library. This is a small suggestion.

If you give an icon an invalid name, you get an error telling you all of the available icon names:

[code]

![Screen Shot 2019-11-14 at 9 19 30 PM](https://user-images.githubusercontent.com/13172299/68911893-787e9480-0724-11ea-922d-459de727866e.png)

It would be useful if the `icon` prop had Typescript suggestio

[2019-11-15 07:03] YajanaRao commented on #1472
@Trancever I am coloring react navigation headers and tab bars using theme color. I would be nice if I get overlay function instead of implementing.

[2019-11-15 09:06] Trancever commented on #1472
@YajanaRao Can you provide some code sample explaining your second sentence. That would be helpful, because  I am not sure I understand you correctly.

[2019-11-15 12:49] srodney86 opened #1476 "DatePicker component from Material Design"
Are there any plans to implement the DatePicker component as described in https://material.io/components/pickers/#specs

## Describe the feature

Input field which when clicked opens calendar as described in the spec.

## Motivation

Would complement the other React Native Paper components well

https://github.com/callstack/react-native-paper/issues/1048

Many thanks for the continued development

[2019-11-15 23:39] satya164 commented on #1472
@YajanaRao why not just use `Surface` component to wrap your component? seems easier than doing all of that yourself

[2019-11-16 05:36] satya164 commented on #1476
You should use https://github.com/react-native-community/react-native-datetimepicker

[2019-11-17 11:53] mreorhan opened #1478 "Snackbar not comes to end of the page"
## Ask your Question
I tried everything about that. But thats not happened.

![test](https://user-images.githubusercontent.com/17215194/69007071-f53e8800-0949-11ea-89b1-0ce2ca518a62.PNG)

[2019-11-17 12:29] Trancever commented on #1478
@mreorhan Looks like you don't wrap snackbar with Portal and view containing snackbar is not expanded  to the bottom of the screen.

Make sure the view containing snackbar is as big as screen is or just use Portal.

[2019-11-17 12:29] #1478 closed

[2019-11-17 19:55] vedmant opened #1479 "FAB icon is not centered when using FontAwesome icons"
## Environment

[code]

## Description

I use FontAwesome by default:
[code]
When I use FAB button it renders + icon not centered
[code]

Here is screenshot: https://screencast.com/t/N9eojY12lkjY

## Reproducible Demo

Set FontAwesome as a default icons source, use FAB with "plus" icon.

[2019-11-17 22:29] vedmant opened #1480 "Can't edit TextInput with functional component and useState"
Hi, I tried to replace my TextField from react-native-material-textfield with TextInput from this package and it's not working properly. My component is a functional component with useState for form state, it worked normally with other text input. Here is Snack link https://snack.expo.io/H1GrKS13H

## Environment

On Snack

## Description

Here is Snack link https://snack.expo.io/H1GrKS13H

## Rep

[2019-11-18 00:20] satya164 commented on #1480
You're mutating the state on update which makes React skip re-rendering. Use spread operator instead of `Object.assign`

[2019-11-18 00:20] #1480 closed

[2019-11-18 01:29] josermorales commented on #1437
Try <code>theme.fonts.ios.regular</code>

[2019-11-18 08:22] lovetofail opened #1481 "[Web] Switch trackColor is white when disabled."
![7rhVGOmgXC](https://user-images.githubusercontent.com/4531542/69035820-35a31200-09ed-11ea-8c45-88fe953355e6.gif)

## Environment
react-native-web"
"react-native-paper": "3.2.1"

## Description
Switch, when disabled, has trackColor white.

## Reproducible Demo
https://snack.expo.io/@lovetofail/switch-trackcolor-issue

[2019-11-18 09:28] Trancever commented on #1437
I've added section regarding fonts to the [migration guide](https://github.com/callstack/react-native-paper/wiki/Migration-guide-for-3.0).

[2019-11-18 09:28] #1437 closed

[2019-11-18 11:53] satya164 commented on #1481
Hey, seems like this is an issue in React Native web, not necessarily in Paper.

[2019-11-18 12:04] vedmant commented on #1480
Thanks, my bad, weird that it worked fine with "react-native-material-textfield".

[2019-11-18 12:09] lovetofail commented on #1481
Ok. It's just that I've tried import `{ Switch } from 'react-native';` at it looked ok. So I thought the issue happens only in Paper.

[2019-11-19 17:19] ImTheC opened #1483 "TextInput's placeholder is not being displayed initially with multiline set to true on iOS"
### Current behaviour

On iOS, when using <TextInput/>, if multiline is true and label and placeholder both have a value, the placeholder is not displayed when you click on the input filed. If you type something in, selected it all, and delete it, then the placeholder is displayed and works as expected.

### Expected behaviour

The placeholder should be displayed after clicking on the input field.

[2019-11-20 12:00] jayu opened #1484 "Inconsistent shadow on Surface across platforms"
## Environment

- Android: `9 (Pie)`
- iOS: `13.2.2`
- react-native: `0.59.8`

## Description

While using shadow I experienced inconsistent shadow across platforms.
From the left: Web (Chrome), iOS, Android.
I'm not using the web, but for Android and iOS difference is too big and I have to pass different values of elevation depending on the platform

<img width="1351" alt="Zrzut ekranu 2019-11-20

[2019-11-20 13:29] jonasgroendahl opened #1485 "Ref and Native methods"
How do I access native methods such as measure if I want to get the pageY, width, height or other values for a react-native-paper component? If I attach the ref, I dont get access to this information?

https://facebook.github.io/react-native/docs/direct-manipulation

[2019-11-20 13:34] Trancever commented on #1485
@jonasgroendahl You can wrap a Paper component in a View and get this information from that View.

[2019-11-20 13:34] #1485 closed

[2019-11-20 15:08] syyam commented on #603
Can you paste the "Options" code here?

[2019-11-20 22:59] ctbucha opened #1486 "Snackbar component to allow arbitrary react nodes as children"
## Describe the feature

Snackbar component allows arbitrary react node as children.

## Motivation

I would like to add an icon to the Snackbar component before the text. E.g. I want to do something like this:

[code]

The current implementation of the Snackbar component wraps the children in a Text component, so the only valid type of child for a Snackbar component is a string.

## Related Issue

[2019-11-21 09:45] GBGitUser commented on #1317
I'd be interested also - I need to leave icons off at the moment as I am designing an app for construction workers which need big buttons and the size 16 icons just get lost :(

[2019-11-21 10:55] Trancever commented on #1486
@ctbucha It's against MD Guideliness https://material.io/components/snackbars/#anatomy

<img width="889" alt="Screenshot 2019-11-21 at 11 55 08" src="https://user-images.githubusercontent.com/18584155/69331885-d267e880-0c55-11ea-8f6e-1a606da1374f.png">

[2019-11-21 10:55] #1486 closed

[2019-11-21 13:37] wesleyschneider commented on #1353
+1

[2019-11-21 13:41] Excalimbinhu commented on #1455
Same for me. It also render realy wierd.
![MenuPaper](https://user-images.githubusercontent.com/58036407/69342874-376a1100-0c4b-11ea-8c0d-8c9a2204ff99.png)

I'm using:

- react-native: 0.59.9

- react-native-paper: 3.2.1

[2019-11-21 20:50] kylebarron commented on #560
In case anyone else comes across this issue, the snack two comments above no longer works, but after a couple hours I think I have `fab` and `fab.group` working over a map in a snack:
https://snack.expo.io/@kylebarron/fab-maps-portal

[2019-11-22 17:31] anothersaddeveloper commented on #1430
You can't when you try to do it on Snackbar. I've tried it about a thousand times by now, give it a go yourself:

[code]

[2019-11-22 18:08] Trancever commented on #1430
@anothersaddeveloper Can you create a reproducible repository?

[2019-11-23 06:44] jaskeerat789 opened #1487 "Change the BorderRadis of Outlined TextField"
## Ask your Question

I need help in customize the borderRadius of outlined textInput. I cant find where to add the appropriate styling.
i have tried styling the TextInput through the prop `style={{ borderRadius:20 }}` but is of no help.

[2019-11-23 06:52] jaskeerat789 commented on #1464
i would suggest you to use [react-native-material-textfield
](https://www.npmjs.com/package/react-native-material-textfield), they have a very good docs and provide a good set of customizable options

[2019-11-23 07:33] LuckyLuke19 commented on #1487
Try setting the `theme` prop in TextInput like this:
[code]
I have not actually tried this, but I think it might work.

https://callstack.github.io/react-native-paper/theming.html

[2019-11-23 08:55] KangHyoMun12 commented on #688
You can use theme={{
                        colors: {
                            primary: color,
                        }
                     }}

[2019-11-23 09:04] jaskeerat789 commented on #1487
@LuckyLuke19 thanks for the help but it didn't work.
here is the [expo snack](https://snack.expo.io/B1jk8_U3H)

[2019-11-23 09:08] LuckyLuke19 commented on #1487
@jaskeerat789 it does work for me.
https://snack.expo.io/@luckyluke19/round-textinput

[2019-11-23 19:30] EhtishamAli786 commented on #688
I know its not answer, but it solves

[2019-11-24 05:56] jaskeerat789 commented on #1487
@LuckyLuke19 thanks for the help buddy

[2019-11-24 05:56] #1487 closed

[2019-11-24 16:16] rodrigo98rm commented on #1317
I've managed to find a workaround for the icon situation.
I had to use the [React Native Vector Icons](https://github.com/oblador/react-native-vector-icons) library as well.

Here is the code:

[code]

Here is the result:
![Screenshot (Nov 24, 2019 13_10_40)](https://user-images.githubusercontent.com/20744710/69497491-4e636a00-0ebc-11ea-8856-7a929ca8531c.png)

I've tried to add margin and padding

[2019-11-24 23:27] khlling opened #1488 "Searchbar onIconPress doesn't execute callback"
## Environment

Android: 10
Haven't tried it on iOS yet

package.json:

"react-native-paper": "^2.16.0",
"react-native": "0.61.2",

## Description

Callback for onIconPress doesn't seem to execute when I press the icon button. Have I misinterpreted the prop?

## Reproducible Demo
I'm using React.FC and hooks
[code]

In return:
[code]

style:

[code]

[2019-11-25 08:36] jandrell-formoso commented on #1117
Same issue. Need to use `RadioButton.Android` also on iOS.

[2019-11-25 12:59] vedadeepta commented on #1481
They're using the old api for `Switch`. Fix it with `trackColor: DISABLED_TRACK_COLOR` prop.

[2019-11-25 20:34] Trancever commented on #1488
It works on [Snack](https://snack.expo.io/@trensik/searchbar)

[2019-11-25 20:37] Trancever commented on #1117
#1223 is going to fix this issue. It's closed to be merged so it should be released in next week probably.

[2019-11-26 11:05] Trancever opened #1489 ""What do you dislike about React Native Paper?" November 2019 Edition"
We, the React Native Paper core team, would like to get a current list of all the things that people are having problems with when using React Native Paper. This is first time we are running this community feedback gathering initiative, but we are planning to do it cyclically - twice a year. We hope this will help us better understand our users and prioritize the work for the upcoming 2020 year.

[2019-11-26 11:06] Trancever commented on #1489
## Header

### Content

[2019-11-26 15:24] iamclaytonray commented on #1489
## Dropdown/Select Component

### Content
I'd love to see a select component from this lib.

[2019-11-26 15:30] iamclaytonray commented on #1489
## Stabilized Menu Components

### Content
I've had a rough time getting Menu components (Menu, MenuItem, etc) to properly work. I will file a bug report in the issue tracker but I've had the following happen:

1. The Menu briefly appears (< 1s) and then disappears.
2. The Menu doesn't seem to exist on top of UI, despite how large my `zIndex` value is.
3. When it does appear, it doesn't want to pl

[2019-11-26 17:17] iamclaytonray commented on #1489
## Theming

### Content
I'd love better theming options. For example, I'd love to do:

[code]

instead of:

[code]

[2019-11-26 20:29] oskrd commented on #1458
@enthussb Did you solve this?

[2019-11-26 21:30] RichardLindhout commented on #1489
## Customization

### Content

I'd like more customization e.g. <View> as title
[code]

Now I end up with forking react-native-paper to make some things possible.

https://github.com/callstack/react-native-paper/issues/993 ->
https://github.com/profects/react-native-paper/blob/a18bdcd961e0aa596ed9355cdd0726c4c43e815a/src/components/Menu/MenuItem.tsx
![Schermafbeelding 2019-11-26 om 22 29 51](https

[2019-11-26 22:57] harrisrobin commented on #1489
I would love to be able to install individual components without importing the entire library.

[2019-11-27 07:51] Trancever commented on #1489
We have a babel plugin that removes not used components from bundle. [Check this](https://callstack.github.io/react-native-paper/getting-started.html)

[2019-11-27 21:01] Justin2997 commented on #1117
Having the same issues. I expect `value` to also do the Label at the left of the Radio button seems like this is not showing. Maybe the document should be clearer because the screen shot are confusing with the code : https://callstack.github.io/react-native-paper/radio-button.html.

[2019-11-28 11:06] NguyenPhatBG opened #1491 "How to change background modal to transparent, currently is backdrop?"

[2019-11-28 12:14] BalalRaza commented on #1489
Just like there is an error prop in TextInput button that changes the border of the TextInput to red, I would like that there be another success prop that would change the border to green or any colour that I pass. It will make it more flexible. Currently, we've found that the way to change border colour of TextInput is through the `theme`'s `color`'s `placeholderColor` property, which is very wei

[2019-11-28 13:12] Stevemoretz opened #1492 "ide hints"
I'm using intellij for example it gets help from:
@types/* libraries to give you hints.I searched the repository for @types/react-native-paper but it doesn't exist that's so wired.Found:
"types": "lib/typescript/src/index.d.ts",
in package.json of react native paper is it related?How do I set it up with intellij if it is?

[2019-11-28 15:44] Trancever commented on #1492
@Stevemoretz Yes, this is related. Our codebase is 100% typescript and we ship the types directly in the package (this is standard). I would suggest to check intellij documentation regarding typescript support or ask on stackoverflow, because this is not a `react-native-paper` issue.

[2019-11-28 15:44] #1492 closed

[2019-11-28 15:57] seungjikim commented on #832
validate 사용자 알림 input text에 onblur함수 정의
이메일 형식이 올바르지 않으면 helpertext 띄움

[2019-11-29 05:17] ravics09 commented on #1489
I would like to see a **Date and Time Picker Component** in this library, which will be compatible on both ios and android  platform. It will be very helpful.

[2019-11-29 08:15] jaysbytes commented on #1489
I would like to be able to import `<Icon/>` from `react-native-paper`

Instead of `import Icon from 'react-native-vector-icons/MaterialCommunityIcons'`

I could just `Import { Icon } from 'react-native-paper'`

[2019-11-29 08:25] jaysbytes commented on #1475
It's currently impossible to statically type icon name since the actual Icon component is defined in runtime. The best way you can achieve it now is to override types for a particular paper component, assuming that you have a list of all icon names. Paper uses `material-vector-icons` by default.

[code]

[2019-11-29 08:26] jaysbytes commented on #1475
Could you please add a comment in this thread regarding the typing icon prop? https://github.com/callstack/react-native-paper/issues/1489
Then we could try to find a solution for that in 4.0

[2019-11-29 14:07] jonasgroendahl commented on #1489
More components, a slider for example! :) Maybe a Grid?

[2019-11-29 18:21] nandorojo commented on #1475
Definitely! Thanks for your attention here.

[2019-11-29 18:30] nandorojo commented on #1489
It would be nice to have TypeScript typings for icon names, as mentioned in #1475.

## Describe the feature
If you give an icon an invalid name, you get an error telling you all of the available icon names:

[code]

![Screen Shot 2019-11-14 at 9 19 30 PM](https://user-images.githubusercontent.com/13172299/68911893-787e9480-0724-11ea-922d-459de727866e.png)

It would be useful if the `icon` prop had

[2019-11-30 14:32] enthussb commented on #1458
Yes I solved it.

[2019-11-30 18:08] Noorulhuda682 commented on #877
{this.state.emailMsg !== '' &&
                  <HelperText type="error" visible={true} >
                         {this.state.emailMsg}
                      </HelperText>
                  }
               <TextInput
                  label='Password'
                  value={this.state.password}
                  style={{borderColor:'rgb(18, 48, 92)',height:40}}
                  onChangeText=

[2019-11-30 18:10] Noorulhuda682 commented on #877
When HelperText  appears TextInput do not get focused

[2019-11-30 18:12] Noorulhuda682 commented on #877
What the best solution for it?

[2019-12-01 12:25] Trancever commented on #877
@Noorulhuda682 Please provide a [Snack](https://snack.expo.io/) that reproduces issue.

[2019-12-01 22:03] jonasgroendahl opened #1493 "Menu Component, anchor, align right when rendering list of items"
I have a list of items using the <List.Item /> component

I want to render a Menu when somebody clicks the {right} part of a a list item. How am I going to implement this with react-native-paper? I tried to render a Menu component for each <List.Item /> but since you wrap the entire <List.Item /> component, the menu would always display on the left of the component even though I'm clicking the rig

[2019-12-02 01:18] meftunca commented on #1489
Add auxiliary components. For example, keyboard management, theme change, or self-organizing picture component depending on width or height.

[2019-12-02 08:04] Trancever commented on #1493
You can pass `x` and `y` via `anchor` prop.

[2019-12-02 08:04] #1493 closed

[2019-12-02 09:31] #1117 closed

[2019-12-02 10:59] meftunca opened #1495 "In ios, the textinput falls under the keyboard"
"react-native": "0.61.5",
react-native-paper: 3.3.0
![Simulator Screen Shot - iPhone 8 Plus - 2019-12-02 at 13 55 52](https://user-images.githubusercontent.com/19187204/69954160-c6104500-150b-11ea-89f6-791902665039.png)

## In ios, the textinput falls under the keyboard

[2019-12-02 11:08] Trancever commented on #1495
@meftunca Please provide a [Snack](https://snack.expo.io/) that reproduces issue.

[2019-12-02 11:50] usmansbk commented on #1489
Non-component Snackbar like `react-native-snackbar`

[2019-12-02 12:11] meftunca commented on #1495
The shareable link to your Snack https://snack.expo.io/r1JUktzTr

[2019-12-02 12:12] Trancever commented on #1489
Check the [docs](https://callstack.github.io/react-native-paper/snackbar.html). We do have a `Snackbar` component.

[2019-12-02 12:15] usmansbk commented on #1489
@Trancever Yeah! It's awesome but sometimes I want the option of calling it like `Snackbar.show(Message)` instead of `<Snackbar>Message</Snackbar>`

[2019-12-02 15:39] agrcrobles opened #1496 "The example app on the README does not work due to the sdk version"
## Environment

Android

## Description

The example app on the README does not work due to the sdk version

## Reproducible Demo

https://github.com/callstack/react-native-paper/blob/master/README.md#try-it-out

![EXPO APP](https://user-images.githubusercontent.com/5727373/69972642-e47d3d00-1519-11ea-836e-3335867fe9d3.jpeg)

[2019-12-02 17:02] mschipperheyn commented on #1489
I would like to see component Theme overrides to execute in a central spot, like in @material-ui instead of having to create local versions.

[2019-12-02 17:10] Justin2997 commented on #1254
I support the proposition ! This will also help with faster loading time of large data table.

[2019-12-02 17:55] mschipperheyn commented on #1489
@usmansbk that sounds more like program flow. You could implement this using AppContent or redux.

[2019-12-02 18:23] jstansbe commented on #1489
I know a request for a drowdown component has already been posted but i wanted to expand a bit on this...

I would like to point call out the dropdown/select component from the react material-ui library to use as a guide. This is all written in js and is still smooth! ([https://material-ui.com/components/selects/](https://material-ui.com/components/selects/))

[2019-12-02 20:01] abdullah-almesbahi opened #1499 "Progress dose not support RTL direction"
Progress dose not support RTL direction

[2019-12-03 09:08] Trancever commented on #1489
@iamclaytonray @jstansbe Could you point me to the [Material Design Guidelines](https://material.io/) page that describes a select component for Android?

[2019-12-03 10:13] xNiallC opened #1500 "Custom Fonts with React Native Paper 3 and Expo 35.0.0"
## Ask your Question

Hello,

I recently upgraded React Native Paper from version 2 to version 3 and am struggling to make custom fonts work. I updated my app to use the new theme management, using the exact format in the [Fonts documentation](https://callstack.github.io/react-native-paper/fonts.html), except replacing sans-serif with montserrat and montserrat-bold, etc. These fonts have been load

[2019-12-03 10:51] acro5piano commented on #1113
I also want this feature for use in web.

[2019-12-03 11:11] zufarzhan commented on #1489
@Trancever I think there is no specific guideline how to make "select" component, it's more like extension of the "menu" component, which is called "Exposed dropdown menus":  https://material.io/components/menus/#exposed-dropdown-menu

There are though guidelines for pickers: https://material.io/components/pickers/#mobile-pickers
Would be nice to have them here as well :)

[2019-12-03 12:15] SwitiSM commented on #1455
Any solution for this !?

[2019-12-03 14:22] solace commented on #1455
@SwitiSM Updated to most recent version of react-native-paper and replaced the menu with react-native-material-menu.

[2019-12-03 14:48] acro5piano opened #1501 "Icons are spinning in production build in web"
First of all, thank you for the great library.

## Environment

[code]

[code]

## Description

All material community icons are spinning in production build.
Not spinning in development environment running with webpack-dev-server.

Please refer to this screen record:

![spin](https://user-images.githubusercontent.com/10719495/70060884-a883ce00-1626-11ea-81e4-07b8fb6b4a3e.gif)

## Reproducible Dem

[2019-12-03 15:28] acro5piano commented on #1501
I added the following style to stop weird animations:

[code]

[2019-12-03 15:51] Trancever commented on #1489
@zufarzhan You should be able to implement "Exposed dropdown menu" with `Menu` component easily. Just use TextInput wrapped with Touchable as an anchor and add some margin/padding to the menu to move it below TextInput. We don't really want to implement all possible cases in this lib. We want to provide building blocks that users can use to build more complex UI.

[2019-12-03 17:35] jstansbe commented on #1489
@Trancever @zufarzhan I've used the menu component with the text input to create what you're describing... and it does work. But isn't this the equivalent to <List.Icon /> or <Card.Actions />? The user could easily combine a list item and icon just fine, but the value comes from react-native-paper's application of material guidelines. There is a ton of value in creating a dropdown (text input + me

[2019-12-03 17:52] iamclaytonray commented on #1489
Can we limit these convos or bring them elsewhere? The RFC is going to get muddied up with convos vs clear points that the community wants. (Plus, I'm getting spammed with emails for an issue I want to subscribe to but not so much on side conversations)

[2019-12-04 07:09] jonasgroendahl opened #1502 "Custom fonts, configureFonts function"
You need to specify the ios key of the object needed by the function configureFonts. Just putting a default in there is not enough if you want your font to display on the ios simulator. Not sure if intended or not :)

[code]

[2019-12-04 07:48] SwitiSM commented on #1455
@solace thank you

[2019-12-04 08:24] jonasgroendahl commented on #1500
Maybe #1502  if using ios

[2019-12-04 08:25] chriswiesner commented on #1317
+1 for a iconSize prop

[2019-12-04 15:40] nicolasrouanne opened #1503 "undefined is not an object (evaluating 'animation.scale')"
## Description
I have the error `undefined is not an object (evaluating 'animation.scale')` in my _Expo React Native_ application, which seems to come from the `Menu` component.

Here is an extract from the stacktrace
[code]

It seems to come from 3.x bump we've made some time ago

Here is how we call our `<Menu />`

[code]

## Environment
[code]

[2019-12-05 07:59] ufukucar commented on #1038
Thanks :))

[2019-12-05 13:29] jsamr opened #1504 "[Typescript] Export component props such as TextInputProps"
First of all, thanks for this delightful library! This is not a feature request nor exactly a bug, I guess somewhere in the middle, so I didn't use any template.

I would like to extend `TextInput`. To do so, I need the prop type, `TextInputProp`. As of today, I have to import the types like this:

[code]

This is very unsatisfying, because this path could change at any time and depends on your bu

[2019-12-05 13:31] jsamr commented on #1489
## Some component prop types are not exported

I would like to extend `TextInput`. To do so, I need the prop type, `TextInputProp`. As of today, I have to import the types like this:

[code]

This is very unsatisfying, because this path could change at any time and depends on your build logic. A tool such as [`api-extractor`](https://api-extractor.com/) would rightfully forbid you from not exporti

[2019-12-05 16:51] mschipperheyn commented on #1489
One of the things I like about material-ui, is that the components are aggregated with sub components and these sub components are easily customizable. Since RN doesn't have the kind of style selectors available to style children `'.TextInput > .MuiFormLabel-root'` with all sorts of specificity possible.

It would make sense to me to expose these sub container style objects on the api so you can o

[2019-12-06 07:21] BalalRaza commented on #1489
Have text input adornments to represent states other than error, like success state or warning, etc. Something like this:
![image](https://user-images.githubusercontent.com/17193862/70304059-0aab2180-1827-11ea-9b1e-242579b941dc.png)

[2019-12-06 09:21] Trancever commented on #1503
@nicolasrouanne Since v3.0 you need to pass additional properties to the theme. The object you pass have to look like this:

[code]

[2019-12-06 09:21] #1503 closed

[2019-12-06 09:25] Trancever commented on #1504
For anyone who also encounters this problem:

[code]

This will extract the Props from any component, not only Paper's one. It work with both class and function components.

[2019-12-06 09:52] shiroze opened #1505 "How to style Label on TextInput ?"
## Ask your Question

I want to make `Label` on textinput to small than text inside `TextInput`

[code]

**Screenshot :**

Current :
![image](https://user-images.githubusercontent.com/6022114/70313212-c11efe80-1847-11ea-87b3-5837efa3d2d0.png)

[code]

Expected :
![image](https://user-images.githubusercontent.com/6022114/70313638-95e8df00-1848-11ea-8c6e-468b8b893fc2.png)

[code]

[2019-12-06 09:57] shiroze commented on #1500
Simple Customize, this code what I use.

[code]

or you can try use #1502 like @jonasgroendahl said

[2019-12-06 11:40] xNiallC commented on #1500
Thanks, this helped!

[2019-12-06 11:40] #1500 closed

[2019-12-06 14:04] nicolasrouanne commented on #1503
Indeed, adding this `animation` key to the `theme` fixes my crash 👍

[2019-12-06 15:47] greenkeeper[bot] opened #1506 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.7.4` to `7.7.5`.
- The `devDependency` [@babel/node](https://www.npmjs.com/package/@babel/node) was updated from `7.7.0` to `7.7.4`.
- The `devDependency` [@babel/plugin-proposal-class-properties](https://www.npmjs.com/package/@babel/plugin-pro

[2019-12-06 17:51] yasir-netlinks opened #1507 "onLongPress is not working"
## Environment
react: 16.9.0
react-native: 0.61.2
react-native-paper: ^2.16.0

## Description
Below doesn't work
[code]
whereas `onPress` works

[2019-12-07 11:51] jaulz commented on #1491
You can use a custom theme around the modal and adjust the backdrop within.

[2019-12-08 13:28] danbarretto opened #1509 "Appbar Action onPress not working"
Hello, I'm trying to open a menu with a Appbar Action, but it seems that onPress is not working even if a just do a console log.

My code:
`<PaperProvider theme={theme}>
      <Appbar.Header>
        <Appbar.Content title="SegurUSP" />

        <Menu
          visible={visible}
          onDismiss={closeMenu}
          anchor={
            <Appbar.Action
              icon="dots-vertical"

[2019-12-08 13:58] danbarretto commented on #1509
Found the problem, Map was beind rendered on top pf <Menu> causing <Appbar> to be inacessible

[2019-12-08 13:58] #1509 closed

[2019-12-09 10:17] Usamaliaquat123 commented on #1507
Hey, @yasir-netlinks , can i reproduce that issue cause i didn't get any issue on `onLongPress` .

[2019-12-09 10:18] GauthierG commented on #1495
I have the same issue with React Native 0.59.10 and react-native-paper 3.2.1

[2019-12-09 10:31] yasir-netlinks commented on #1507
@Usamaliaquat123 I'm really not sure, but one thing I forgot to mention, I have `TouchableRipple` wrapped in a component, like so
[code]
Usage
[code]

[2019-12-09 10:54] GauthierG commented on #974
Hello, I still have this issue with React Native 0.59.10 and react-native-paper 3.2.1

[2019-12-09 21:27] Artem-Kushch commented on #1507
+1, don't  work

`            <TouchableRipple
                onLongPress={() => Alert.alert("LONG PRESS")}
                rippleColor="rgba(0, 0, 0, .32)"
                style={{backgroundColor: "yellow"}}

            <View style={{alignItems: "center"}}>
                <Text style={{ fontSize: 18}}>{"hey ho"}</Text>
            </View>
            </TouchableRipple>`

`onPress` - works fine

[2019-12-10 08:49] x5engine commented on #1489
because of this https://github.com/callstack/react-native-paper/pull/1061

[2019-12-10 09:28] deep810 commented on #1489
To Have textinput icon buttons....like password show hide

[2019-12-10 09:35] chriswiesner opened #1514 "List.Icon crashes on iOS when parent has alignItems: baseline"
## Environment
iOS
version 3.2.1

## Description

Yoga crashes with
[code]

when using a `List.Icon` inside a `<View>` that uses style `alignItems: baseline`

this only happens on iOS

no other logs present, the only indication is in the device logs

[2019-12-10 11:14] Trancever commented on #1514
@chriswiesner Can you provide a [Snack](https://snack.expo.io/) that reproduces the issue?

[2019-12-10 11:36] Trancever commented on #1507
Check this working [example](https://snack.expo.io/@trensik/carefree-macaroni-and-cheese). Make sure to also pass onPress.

[2019-12-10 11:36] #1507 closed

[2019-12-10 11:51] Trancever commented on #1495
@meftunca Check [this](https://snack.expo.io/@trensik/paper-bug). I wrapped a dialog in a KeyboardAvoidingView and it works perfectly on iOS. Let me know if it works for you, and if it doesn't try to play with different options for `behavior` prop.

[2019-12-10 13:30] chriswiesner commented on #1514
Here's the sample: https://snack.expo.io/S1J3Tzppr

Once you remove the `alignItems: baseline` it works again

[2019-12-10 20:20] greenkeeper[bot] opened #1516 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.16` to `12.12.17`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40types%2Fnode-12.12.17).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@type

[2019-12-10 22:33] firede commented on #1489
## Add suffix, prefix, leading and trailing Icon to TextInput <https://github.com/callstack/react-native-paper/issues/903>

![image](https://user-images.githubusercontent.com/157338/70574671-97ffc480-1bdf-11ea-831e-80d431687fbe.png)

[2019-12-11 02:30] mikedizon commented on #1489
An example of this implementation would be very helpful. Tried wrapping `TextInput` with a `TouchableWithoutFeedback`, but the `TextInput` gets focused and `onPress` event does not fire.

[2019-12-11 02:57] mikedizon commented on #1489
that issue is pretty old!

[2019-12-11 04:16] Arjun-Aggarwal commented on #1347
Hi, I am facing the same issue. I tried removing and reinstalling node_modules; however, it did not work for me

[2019-12-11 08:48] iamautomaton commented on #1489
Hi, i am developing the web app using react native. I found this plugin and it is useful for me. However, my datatable title is too long so i add numberofLines want to solve the problem, it doesn't work. It still showing "..." of my long title. Hope can fix this issue. Thanks

[2019-12-11 09:54] Trancever commented on #1489
@mikedizon You can wrap `TextInput` in a `View` with `pointerEvents` set to `none`  to prevent focus on `TextInput`.

[2019-12-11 15:19] mikedizon commented on #1489
Thanks! There's also a down arrow on the right side of the `TextInput` that indicates that the field is a dropdown. Any plans to support trailing and leading icons in `TextInput`?

For the sake of expedience, I'm going to see if https://github.com/n4kz/react-native-material-dropdown matches the RNP's inputs and report back. I appreciate all the work!

[2019-12-11 22:01] vpontis commented on #1504
@Trancever thanks for your work on this project and for that work around.

However, I believe it would still be nice to export the types so that the TypeScript analyzer can understand them statically.

For example, let's say I want to extend the props and do this:

[code]

I get this error message:

[code]

[2019-12-11 22:02] satya164 commented on #1504
You can do:

[code]

Interfaces don't really provide any advantage.

[2019-12-11 22:06] vpontis commented on #1504
Ah whoa, that worked! Thank you. And that was so fast omg

[2019-12-12 11:42] ilibilibom opened #1520 "Require cycle"
Hi
I'm getting a require cycle warning from the radio RadioButton componenet:
[code]
Why is this happening ?

[2019-12-12 12:53] Trancever commented on #1520
@ilibilibom We have cycle dependencies in our codebase, but it's not causing any issues. Metro warns about them, but you can safely silent them with `YellowBox.ignoreWarnings(['Require cycle:']);`. We know that it's not a perfect solution, but we don't want to change our working architecture, because other tool don't like it.

[2019-12-12 12:53] #1520 closed

[2019-12-12 12:57] ilibilibom commented on #1520
ok - where do I set this ?
[code]

[2019-12-12 12:59] Trancever commented on #1520
@ilibilibom Probably the best place is top of the index.js or whatever your entry point is. Also, please import YellowBox from react-native before.

[2019-12-12 13:00] ilibilibom commented on #1520
ok Thanks

[2019-12-12 14:02] Trancever commented on #1505
You can pass `fontSize` via `style` prop. However it will affect both label and input text. There is no way to change only one of them.

[2019-12-12 14:02] #1505 closed

[2019-12-12 14:06] Trancever commented on #1501
@acro5piano Can you provide a small repro that we can easily build and try locally?

[2019-12-12 14:07] #1491 closed

[2019-12-12 14:08] #1488 closed

[2019-12-12 14:09] Trancever commented on #1483
@ImTheC Can you check if it still occurs in paper v3.3.0?

[2019-12-12 14:10] #1481 closed

[2019-12-12 14:11] Trancever commented on #1479
@vedmant Could you provide [Snack](https://snack.expo.io/) that reproduces issue?

[2019-12-12 14:14] Trancever commented on #1464
@DevanshaniR There is no way. You can pass style prop to the textInput but it will affect both text and label.

[2019-12-12 14:14] #1464 closed

[2019-12-12 14:40] Trancever commented on #1446
@jasonkw9 Can you provide a [Snack](https://snack.expo.io/) showing how you use the button? It shouldn't look like that by default.

[2019-12-12 15:08] jsamr opened #1522 "Button events don't fire in react-native-reanimated-bottom-sheet with enabledContentGestureInteraction"
## Environment

- expo SDK 36
- react-native-paper 3.3.0
- react-native-reanimated 1.4.0,
- reanimated-bottom-sheet 1.0.0-alpha.18
- react-native-gesture-handler 1.5.0

## Description

Despite `react-native-reanimated-bottom-sheet` being recommended, your button components (`FAB`, `Button`, `IconButton`) are not firing events when `enabledContentGestureInteraction` is set to `true`, because of `re

[2019-12-12 15:09] Trancever commented on #1457
Duplicate of #1412

[2019-12-12 15:09] #1457 closed

[2019-12-12 15:11] Trancever commented on #1412
The root of this issue is that all Animated components e.g. Text, View are typed as any. The best way to fix this issue is to fix the types for React-Native itself.

[2019-12-12 15:13] Trancever commented on #1395
@poptocrack Can you provide a [Snack](https://snack.expo.io/) that reproduces your issue? You could also upload a screenshot so we can see that line under the title.

[2019-12-12 15:14] #1384 closed

[2019-12-12 15:25] Trancever commented on #1496
Duplicate of #1375 .

[2019-12-12 15:25] #1496 closed

[2019-12-12 15:30] Trancever commented on #1522
@satya164 Is there any other workaround for this issue?

[2019-12-13 08:02] vedmant commented on #1479
@Trancever Here is repro https://snack.expo.io/B1UOBae0r

[2019-12-13 11:44] mkhaledche opened #1526 "Passing event target to onChangeText"
## Ask your Question

Hi
Is there a reason why onChange is not considered as a prop in react-native-paper passing the event object as the case with original react native TextInput component?
The case is that I need the event target as I have a set of inputs mapped through an array so I have a single OnChangeText handle function. As the value is only passed, all the inputs values change when I chan

[2019-12-13 15:10] schellack commented on #1282
I upgraded to react-native-paper 3.3.0 and the issue persists.

Upgraded snack demo link: https://snack.expo.io/Bk9aum-CS

[2019-12-13 15:18] sdiaz commented on #1351
+1

[2019-12-13 15:18] savagematt commented on #1322
This is still an issue at v 3.3.0

[code]

[2019-12-13 15:44] savagematt commented on #1322
The issue is that the class is not exported.

I think fixing it would be as simple as adding `export ` to the beginning of this line(?):
https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput/TextInput.tsx#L166

But I haven't yet understood this commit, which is I think where the issue was introduced?:
https://github.com/callstack/react-native-paper/commit/6143dd50530

[2019-12-13 20:45] c316 opened #1527 "Can't install other packages after trying to install react-native-paper react-native-safe-area-view: Appears to be a git repo or submodule."
## Environment

MacOS Catalina 10.15.1
Node v12.13.0
[code]
## Description

Can't install other packages after trying to install react-native-paper
react-native-safe-area-view: Appears to be a git repo or submodule.

## Reproducible Demo

https://github.com/c316/safe-area-view-bug

First I did `expo init` (using the blank template). Then I installed `react-native-paper`. The install seems to work.

[2019-12-14 01:16] vpontis opened #1528 "`<CircleIconButton />` - IconButton with background color"
## Describe the feature

Show an icon in a circular button with a background.

![IMG_5246](https://user-images.githubusercontent.com/1319079/70841094-4ff1c500-1dcc-11ea-85c8-6e1b6f680870.jpg)

## Motivation

Right now you can create an `IconButton` but that has a transparent background. This is nice when the color of the button is on a static background.

But when you have a variable background, l

[2019-12-14 05:41] savagematt commented on #1445
I don't know why your example doesn't work, but I do know that this does:

[code]

[2019-12-15 03:47] cromieent commented on #1527
I had the same thing.  There was a commit in the version of react-native-safe-area-view that react-native-paper is using that has the .git folder (i.e. it wasn't ignored) and now you need to go in and remove it manually.  Here is a screenshot of what I did to remove it:

![image](https://user-images.githubusercontent.com/40522231/70857813-7e45d200-1eaa-11ea-999b-9d8b9faee148.png)

[2019-12-15 09:38] Secretmapper commented on #1040
Still a problem

[2019-12-15 22:14] MBach commented on #1344
:exclamation:

[2019-12-16 02:02] giautm commented on #975
keep-it-open

[2019-12-16 03:07] letruonglamit opened #1529 "How to use resizeMode style in CardCover?"
Hi. I try with an example below but the style "resizeMode" of card cover not working.

const MyComponent = () => (
  <Card>
    <Card.Cover style={{resizeMode: 'stretch'}} source={{ uri: 'https://i.stack.imgur.com/kU1on.png' }} />
  </Card>
);

I was received:
![image](https://user-images.githubusercontent.com/22797715/70875942-578eb500-1fea-11ea-8155-be7cb8e6e9ed.png)

But my expect:
![image](htt

[2019-12-16 18:26] greenkeeper[bot] opened #1530 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.11.0` to `2.12.0`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40typescript-eslint%2Fparser-2.12.0).

This version is **covered** by your **current version range** and after updating it in your project **

[2019-12-16 19:47] giotiskl commented on #1489
## Autocomplete

### Content
It would be nice to have an autocomplete similar to this one:

<img src="https://developers.google.com/places/images/autocomplete-android.png" width="200" />

[2019-12-16 20:54] mauro0x52 commented on #1112
+1

[2019-12-16 23:49] c316 commented on #1527
@cromieent thanks, but that only really helps on local dev.

@satya164 I think the solution is to update react-native-safe-area-view to 1.0.0.

[2019-12-17 05:53] acro5piano commented on #1501
@Trancever Sorry for not providing repro. I'll try to reproduce this weekend or so. Thanks

[2019-12-17 08:46] notjulian commented on #1137
same behavior with latest version

[2019-12-17 09:47] amauryfischer commented on #1527
@c316 this is related to https://github.com/react-native-community/react-native-safe-area-view/issues/69
v0.14.6 fixed it if i'm not wrong, they removed the .git, no need to go to 1.0.0 which might break something. @Trancever what do you think of upgrading react-native-safe-area-view to v0.14.6.
We are also stuck with this and had to make a npm prepublish to remove .git.

[2019-12-17 09:52] MaxInMoon commented on #1527
I'm also totally stuck in my CI/CD pipeline, it breaks everything :(

[2019-12-17 11:18] RichardLindhout commented on #1489
This could be made with the existing components if react-native-paper supported <View> or <Text> components in the List.Item components
e.g.

[code]

[2019-12-17 12:27] #1100 closed

[2019-12-17 12:53] Trancever commented on #1527
@amauryfischer I am ok with that. I will do it in a second and tell you when new version is ready.

[2019-12-17 13:00] #1499 closed

[2019-12-17 13:10] Trancever commented on #1527
[v3.4.0](https://github.com/callstack/react-native-paper/releases/tag/v3.4.0) is released. Let us know if it fixes the issue.

[2019-12-17 13:11] Trancever commented on #1501
@acro5piano Cool, thanks!

[2019-12-17 13:13] amauryfischer commented on #1527
@Trancever Thanks a lot, i'll test it in a second.

[2019-12-17 13:14] Trancever commented on #143
Checkbox animation duration should be configurable with a `animation.scale` property from theme.
It should be implemented in a same way as in [Menu](https://github.com/callstack/react-native-paper/blob/0a08a8b9ea687e1171e35b5933f017d8aa152fdf/src/components/Menu/Menu.tsx#L300)

[2019-12-17 13:22] amauryfischer commented on #1527
@Trancever it works like a charm, thanks for your efficiency

[2019-12-17 13:24] #1527 closed

[2019-12-17 14:05] #766 closed

[2019-12-17 14:06] Trancever commented on #799
This is no longer relevant, because we switched to TS

[2019-12-17 14:06] #799 closed

[2019-12-17 14:08] Trancever commented on #782
I believe this work properly in v3.x.x

[2019-12-17 14:08] #782 closed

[2019-12-17 14:09] #1023 closed

[2019-12-17 14:09] #820 closed

[2019-12-17 14:10] #881 closed

[2019-12-17 17:40] Stevemoretz commented on #1492
I still couldn't get it working would you please help if you can.It's somehow related to this library there are other libraries without @types but they work just fine.This one does'nt

[2019-12-17 19:04] MarkPollmann commented on #1431
I think it's a great idea :+1:

[2019-12-17 20:08] Stevemoretz commented on #1492
The components are defined in rather unusual way in library typings... Like:

[code]
export default _default;
The IDE can't resolve props when using such definitions, they require special support.

This is the response I got from intellij forums.the link is :
https://intellij-support.jetbrains.com/hc/en-us/community/posts/360006862660-react-native-paper-auto-complete-not-working-?page=1#community_

[2019-12-17 20:16] MarkPollmann commented on #1445
From how I understand it a `Dialog` renders a `Modal` under the hood. The `Modal` looks for a theme prop, the `Dialog` doesn't hand it down to the `Modal`, though.  So it gets the theme from the theme provider like usual.

[2019-12-17 20:53] satya164 commented on #1492
They are generated by typescript compiler. Nothing unusual about them. They don't look pretty because they aren't hand written. Autocompletion works fine in VSCode with TypeScript language service with no special support.

[2019-12-17 21:00] joshglenn opened #1532 "Example Snack does not Show Icons"
In this example snack, icons are not present. On web, they do not display at all. On the android test, they all. show up as question marks.

https://callstack.github.io/react-native-paper/appbar-header.html

[2019-12-18 09:16] Trancever commented on #1396
@aibekmamatov What do you mean saying context is the same? You should be able to show two snackbars at the same time.

[2019-12-18 09:19] Trancever commented on #1431
@satya164 It should be implemented in component-docs, right? We could add support for parsing some comment that points to the right file e.g. `/* sourcePath: './src/components/Menu.tsx'' */`

[2019-12-18 09:40] Trancever commented on #1532
@joshglenn Would you like to submit a PR?

Changes have to be made in [this](https://github.com/callstack/react-native-paper/blob/master/src/components/Appbar/AppbarHeader.tsx) file.

`icon` prop on line 78 should be `"magnify"` instead of `"search"`
`icon` prop on line 79 should be `"dots-vertical"` instead of `"more-vertical"`

[2019-12-18 09:48] Trancever commented on #1528
@vpontis It looks like a FAB for me, why don't you use it instead?

[2019-12-18 09:50] Trancever commented on #1089
@HolySamosa There was some work done with Menu in recent versions of Paper. Can you tell us if this issue still occurs in v3.4.0?

[2019-12-18 09:56] Trancever commented on #1431
@m2mathew Ok, so it looks like we already support this feature. There is a pencil icon in the top right corner that takes you to the github edit page for a component.

[2019-12-18 09:56] #1431 closed

[2019-12-18 10:02] #1396 closed

[2019-12-18 10:08] Trancever commented on #1266
@AmitPandya007 I am closing this because of no repro. We use the icons that are recommended by MD Guidelines.

[2019-12-18 10:08] #1266 closed

[2019-12-18 10:31] Trancever commented on #771
Keep it open

[2019-12-18 13:19] Trancever commented on #1137
@notjulian @cpboyd There is no need to set `flex: 1` in a button. Just wrap it with an `View`. Check this [Snack](https://snack.expo.io/@trensik/blessed-cheese) .

[2019-12-18 13:19] #1137 closed

[2019-12-18 13:19] mikedizon commented on #1489
Just a quick follow up on this. I wound up using the `react-native-material-dropdown` component -- as expected, parts of the `TextInput` don't match the implementation from `react-native-paper` exactly. I'm willing to live with that for now, but it would be great if this component was available out of the box. Seems like there's enough interest in it.

[2019-12-18 15:12] usmansbk opened #1533 "v3.4.0 OAuth error"
## Environment
[code]

## Description
New update causes Oauth error with amplify `oauth - error handling auth response. error invalid_grant`

[2019-12-18 15:20] #1533 closed

[2019-12-18 16:43] MarkPollmann commented on #1514
Seems to only come up in combination with `flexDirection: row'.
Also possibly related to https://github.com/react-native-elements/react-native-elements/issues/2134

[2019-12-18 17:26] joshglenn commented on #1532
@Trancever thank you for the reply. To test, I made those changes to the snack. It works on the Android preview, but not on the Web. Is that expected behavior?

here's [the snack](https://snack.expo.io/@highoctane/appbar.header)

[2019-12-18 21:17] Trancever commented on #1532
@joshglenn So for web, we would have to somehow provide fonts containing these icons. I will look into it tomorrow.

You can submit a PR anyway if it works on Android

[2019-12-18 21:21] #1530 closed

[2019-12-18 21:21] #1516 closed

[2019-12-18 21:23] Trancever commented on #1282
@schellack Thanks for updated Snack. We will try to look into this as soon as possible.

[2019-12-18 21:55] vpontis commented on #1528
@Trancever wow it does look like a FAB! I didn't know what FAB stood for or that it existed.

For reference: https://callstack.github.io/react-native-paper/fab.html

Thanks! Will close...

[2019-12-18 21:55] #1528 closed

[2019-12-18 21:56] #1268 closed

[2019-12-19 14:29] crofoot opened #1536 "Issue using react-native-paper with typescript"
## Ask your Question

So I am trying react-native-paper for the first time. I am trying to test it out with a bootstrapped expo and typescript application but every time I declare a component I keep getting the following error:

`Type '{ children: Element[]; }' is missing the following properties from type 'Pick<any, "style" | "children" | "onLayout" | "testID" | "nativeID" | "accessible" | "acces

[2019-12-19 17:12] HolySamosa commented on #1089
Thanks, @iyadthayyil.  The affected project has been on the backburner and I'm presently working to get another app out the door, but I'll test this out in the next couple of weeks and let you know.

[2019-12-19 20:38] satya164 commented on #1536
You need to provide some code mate

[2019-12-20 00:01] #1360 closed

[2019-12-20 00:01] #1378 closed

[2019-12-20 00:01] #1339 closed

[2019-12-20 00:01] #1340 closed

[2019-12-20 00:01] #1310 closed

[2019-12-20 00:01] #1326 closed

[2019-12-20 00:01] #1309 closed

[2019-12-20 00:01] #1299 closed

[2019-12-20 00:01] #1306 closed

[2019-12-20 00:01] #1279 closed

[2019-12-20 00:01] #1293 closed

[2019-12-20 15:06] brunohkbx commented on #1489
I'd like the review process to be a little faster. Sometimes it takes to long to an important fix or new feature to get merged.

[2019-12-20 15:53] brunohkbx commented on #1258
@jayu it's still buggy.

[2019-12-20 18:30] m2mathew commented on #1431
@Trancever The screenshot below is what I see when I click the "edit" pencil icon. It might be safe to assume that most visitors to the docs site have not forked the project.

![image](https://user-images.githubusercontent.com/11624407/71281913-4d3f2480-2324-11ea-8fb0-f18ee476d013.png)

[2019-12-21 00:01] #1274 closed

[2019-12-21 00:01] #1322 closed

[2019-12-21 00:01] #1351 closed

[2019-12-21 00:01] #1248 closed

[2019-12-21 00:01] #1263 closed

[2019-12-21 00:01] #1247 closed

[2019-12-21 00:01] #1224 closed

[2019-12-21 00:01] #1244 closed

[2019-12-21 00:01] #1145 closed

[2019-12-21 00:01] #1161 closed

[2019-12-21 00:01] #1173 closed

[2019-12-21 00:01] #1115 closed

[2019-12-21 21:43] lewatt23 commented on #893
@rdewolff  please can you explain what caused the error ?  am having the same issue

[2019-12-22 00:01] #1080 closed

[2019-12-22 00:01] #1082 closed

[2019-12-22 00:01] #1015 closed

[2019-12-22 00:01] #1066 closed

[2019-12-22 00:01] #869 closed

[2019-12-22 00:01] #837 closed

[2019-12-22 17:25] acro5piano commented on #1501
@Trancever I'm really sorry, but I couldn't create any reproductions with any code, version, and browsers.
The most mysterious thing is I used the same version of the code (with git checkout) and build almost the same environment, but couldn't reproduce the issue. Maybe a bug in Chrome or something I guess.

Anyway, I have to close the issue. Thanks very much.

[2019-12-22 17:25] #1501 closed

[2019-12-22 20:33] andreibarabas commented on #1522
I'm playing with the drop in replacements for the Touchables* and it works so far. Here is the code.

https://github.com/andreibarabas/react-native-paper/commit/07e6567bbcf0caedb8c120b1b066fbecbe4d9af7

@Trancever - if you are interested in this direction, let me know and I can cleanup the code, do the tests and send a PR. I saw that in 2018 you didn't want to go this route so don't want to work s

[2019-12-23 00:01] #1344 closed

[2019-12-23 00:01] #775 closed

[2019-12-23 00:01] #1040 closed

[2019-12-23 00:01] #702 closed

[2019-12-23 00:01] #745 closed

[2019-12-23 00:01] #455 closed

[2019-12-23 00:01] #530 closed

[2019-12-23 00:01] #397 closed

[2019-12-23 00:01] #452 closed

[2019-12-23 00:01] #226 closed

[2019-12-23 00:20] louiechristie commented on #397
https://github.com/callstack/react-native-paper/issues/799#issuecomment-566555156

[2019-12-23 12:01] iaaltojarvi opened #1541 "How to use icon or image alongside text in dialog?"
Hi!

How do you use icon or image within a text in a dialog? Not able to get left and right padding or margin work in image or in icon.

[code]

[2019-12-23 20:46] MBach commented on #1344
What?

[2019-12-24 00:01] #1264 closed

[2019-12-24 00:01] #975 closed

[2019-12-26 00:01] #1282 closed

[2019-12-26 00:01] #781 closed

[2019-12-26 10:16] Polombo98 commented on #975
Please, reopen this issue

[2019-12-27 00:01] #1089 closed

[2019-12-27 05:38] tevonsb commented on #975
Seconded (or thirded) please reopen!

[2019-12-27 07:42] Raunak-Agrawal commented on #903
Any update on this? It would be useful it would add trailing icon at the end. I was trying to add password field and I needed that eye icon to hide/show password.

[2019-12-27 15:25] kopax commented on #771
I am looking where in the doc it is written that it work for web? I only see iOS and Android.

Does it even run on web? Thanks and besT!

[2019-12-28 16:11] jsamr commented on #43
@ahmedlhanafy @satya164 So what happened to the very promising features described in the OP? I don't see any elevation or layered prop in the `Portal` component. Has it been dropped because of its complexity, or somehow replaced but I couldn't find the implementation? I would be very interested in having FAB and Bottom nav aware snackbars... that would feel native :heart:

[2019-12-30 13:45] greenkeeper[bot] opened #1545 "An in-range update of react-native-gesture-handler is breaking the build 🚨"
## The dependency [react-native-gesture-handler](https://github.com/software-mansion/react-native-gesture-handler) was updated from `1.5.2` to `1.5.3`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2Fdefault%2Freact-native-gesture-handler-1.5.3).

This version is **covered** by your **current version range** and after updating it in

[2019-12-31 03:07] oste opened #1546 "Appbar incompatible with absolutely positioned anchor tags"
## Environment

React Native Web using expo and nextjs. This is happening in browser(Chrome)

## Description

Using an anchor with absolute positioning can trigger an unintentional click event after clicking the `Appbar.BackAction`.

## Reproducible Demo

I have an `a` tag with style like this.
[code]

My Appbar looks like this
[code]

Everything works as you would expect except _sometimes_ the an

[2019-12-31 04:22] oste commented on #1546
The following `onClick` handler is also being triggered so this doesn't seem to be directly related to anchor tags and more to do with the use of absolute positioning.

[code]

[2019-12-31 11:51] cltsang opened #1547 "Menu on web"
Hello and happy new year (almost:grin:).

I'm wondering if Menu is supposed to be working on web?
Been trying to use it to make navigation bar button: hover to expand i.e. show the menu.
Like
[code]
where Hoverable is straight up from [react-native-web recipe](
https://necolas.github.io/react-native-web/docs/?path=/docs/guides-web-recipes--page)
But I encountered 2 problems:
1. hover-in can be det

[2019-12-31 13:52] oste commented on #1546
Related: https://github.com/necolas/react-native-web/issues/1078

[2019-12-31 22:09] oste commented on #1546
Further investigation is leading me to believe that this is caused by the IconButton component. I think the ripple effect might have something to do with it. I am coming to this conclusion b/c replacing the Appbar.Action with a <Text> node makes the issue go away.

[2020-01-01 02:35] oste commented on #1546
On one other note, this would only happen if the page is scrolled. In this case, the button would be overlaying elements that are coming in from the new route since the scroll is persisted. It is almost as if you are pressing through to the new elements that are behind the app bar when this happens. Sorry, kind of hard to explain without a demo or gif. I hope this makes sense.

[2020-01-03 15:51] Hirbod commented on #1023
Not stale. Is there no other way to hide it? There is an option to hide it when the keyboard is open, can we achieve this with a prop too?

[2020-01-03 23:25] kriscarle commented on #975
I worked around this by just disabling the header in `react-navigation` using `headerMode: 'none'` and then setting up `Appbar` in my screens.

[code]

Then in a screen:

[code]

[2020-01-04 00:01] #1424 closed

[2020-01-04 11:43] asif-ir opened #1549 "Add support for Rating component"
## Motivation
I was using this library but it lacked a simple rating component which is usually present in every material based UI libraries. I had to implement a simple component for personal use. Instead of needing standalone rating libraries which raise the bundle sizes too much, we can provide a small component for this purpose under this module itself for general use, just like other componen

[2020-01-04 12:06] asif-ir commented on #1549
I raised the #1550 PR implementing this.

[2020-01-04 13:23] irshadpalayadan opened #1551 "Need skeleton component"
Need skeleton component to show the loading geometrically which is similar to the loaded component.
eg: loading in youtube has skeleton

[2020-01-05 03:08] fgagneten opened #1553 "TextInputMask removed?"
## Environment

react-native-paper 3.4.0 and RN >60

## Description

I'm trying to use the text input mask as the demo said but is not working. I got a red error screen saying

## Reproducible Demo

Just try to use a TextInput with input mask:

    `
     import { TextInput, TextInputMask } from "react-native-paper";
     ...
     <TextInput
          label="input"
          value={this.state.phon

[2020-01-05 03:25] fgagneten commented on #1553
Solved importing TextInputMask from https://github.com/react-native-community/react-native-text-input-mask

[2020-01-05 03:25] #1553 closed

[2020-01-06 00:01] #1150 closed

[2020-01-06 04:13] AslamPangestu opened #1554 "Checkbox icon missing (checkbox-blank-outline)"
## Environment

Depedencies i use:
[code]

## Description

MaterialCommunityIcon for checkbox is not detected. (checkbox-blank-outline)

![Screenshot_1578282622](https://user-images.githubusercontent.com/26374086/71794476-51817680-3074-11ea-9fcc-e30db2a372ff.png)

## Reproducible Demo

There is some simple code i use
[code]

[2020-01-06 14:11] rub1e opened #1555 "Feature Request: Multiline Buttons"
## Describe the feature

Allow button text to be multiline - nothing more!

## Motivation

Currently buttons are limited to a single line ([ref](https://github.com/callstack/react-native-paper/blob/master/src/components/Button.tsx#L283)). It would be great if the button component could take a `numberOfLines` prop and apply that to the text component if present.

I'm stuck on v2 at the moment so it

[2020-01-07 02:19] AslamPangestu commented on #1554
If you using MaterialIcon, maybe you have to change with check-box-outline-blank and check-box

[2020-01-07 04:58] Siyavoshi opened #1556 "Not Being Able to Scroll While Touching Input"
React Native 059.10
Platform: Android

I have a form which has a lot of RNP inputs inside a <ScrollView> tag.
The problem is when I touch the input and swipe up and down, page doesn't scroll. If I try to scroll from somewhere outside of inputs, it scrolls just fine but since this page has a form with lots of inputs, there's not enough space outside of inputs.

When I add multiline={true} prop, the

[2020-01-07 09:19] Trancever commented on #1556
@Siyavoshi Can you provide a repro on [Snack](https://snack.expo.io/).

I tried it and [it](https://snack.expo.io/@trensik/crabby-apples) works for me on both android and iOS.

[2020-01-07 09:57] Trancever commented on #1549
@asif-ir We try to follow MD Guidelines very strictly and only provide components that are described in the guidelines. Since I can't find any information about "Rating" component in the guidelines, I am closing this.
If you want to reuse this in other projects etc. consider making a library. It won't add any additional overhead since it will be only one file with only peer dependencies.

[2020-01-07 09:57] #1549 closed

[2020-01-07 13:06] Siyavoshi commented on #1556
@Trancever The inputs are inside a Flatlist which itself is inside a ScrollView.
I'll try to make a repro and update this post.

[2020-01-07 13:11] satya164 commented on #1556
FYI you shouldn't put `FlatList` in `ScrollView`

[2020-01-07 15:50] Trancever commented on #1555
This is against [MD Guidelines](https://material.io/components/buttons/#anatomy)

<img width="805" alt="Screenshot 2020-01-07 at 16 49 07" src="https://user-images.githubusercontent.com/18584155/71908141-c1275c80-316d-11ea-9a25-62b9d0e47924.png">

[2020-01-07 15:50] #1555 closed

[2020-01-07 17:24] odesey opened #1558 "<List.Item /> underlayColor Android"
I am trying to set the `underLayColor` for the `<List.Item />` component for Android but it is not working.

The following works as expected for iOS:
[code]

Is there anyway to set the `Ripple` color on Android for the `<List.Item />` component?

Thanks.

[2020-01-08 00:01] #808 closed

[2020-01-08 11:01] kejal280792 opened #1560 "Unable to wrap Data Table cell text"
## Environment

Android

## Description

Unable to wrap Data Table cell text as number of lines are not provided as prop to DataTableCell file and it sets number of lines as just 1

[2020-01-08 11:06] kejal280792 commented on #1560
#1559

[2020-01-08 11:36] #1536 closed

[2020-01-08 16:30] odesey commented on #1558
Found the answer below.
https://callstack.github.io/react-native-paper/touchable-ripple.html

[code]

[2020-01-08 16:30] #1558 closed

[2020-01-08 17:21] odesey commented on #1479
Was having this issue as well, make sure you set your icon size to `24` or it will not be centered in the FAB.

[2020-01-08 20:58] Dr1992 opened #1561 "TextInput Render"
### Current behaviour
Actually I have a TextInput component and sometimes I need to set the react-native-masked-text on render. For instance, when it's a PhoneNumber input I use mask but when it's a Name Input I don't and in this case I set render={undefined}.

That way works great but I realized that I can't insert characters as  **&,`, #**

Can anyone help me ?

Thanks.

[2020-01-09 05:46] Siyavoshi commented on #1556
UPDATE: After creating some brand new RN projects with 0.59.10, 0.61.4 and 0.61.5 I've found out the cause of my problem is RN's RTL plugin.
I've followed [this](https://stackoverflow.com/a/52381831/4982800) instruction as how to make my application RTL and it causes inputs not to scroll while inside a ScrollView.

Is there any solution for this?

[2020-01-09 12:55] mateusmarinho1999 commented on #688
To change the Underline and Label color when focused, you need to pass the props **theme**, like this:

**theme={{colors: {text: 'green', primary: 'yellow'}}}**

- _Text_ is to change the values that you put in the input
- _Primary_ is to change the underline and the label color

[2020-01-09 13:46] ilibilibom opened #1563 "Hiding BottomNavigation when using react navigation createMaterialBottomTabNavigator()"
Hi
I'm using react-navigation createMaterialBottomTabNavigator(), that as I understand, is a wrapper around paper's, bottomNavigation.
I want to hide the bottom navigation on some screens.
I'm trying to understand how do I go about doing that?

[2020-01-09 22:03] GollyJer commented on #1489
All theming should be able to be overridden.
Example.... the label of TextInput uses a muted version of `background` from the active theme. When the background is white it's unreadable and there's no way to change it.

**Not Editing**
![text_not_editing](https://user-images.githubusercontent.com/689204/72108425-71b96b80-32e8-11ea-8036-53e2363dc9e0.jpg)

**Editing** (the label and the cursor become

[2020-01-10 11:09] satya164 commented on #1563
Bottom Navigation doesn't have an option to hide tab bar on certain screens. You should re-organize your navigators so that the screen where you don't want bottom tab bar is in a parent stack as recommended in the docs https://reactnavigation.org/docs/en/next/screen-options-resolution.html#setting-parent-screen-options-based-on-child-navigators-state

[2020-01-10 14:22] #1561 closed

[2020-01-10 15:28] declan-m opened #1564 "Components Dont Listen to Theme Provider"
### Current behaviour

Everything defaults to purple.

### Expected behaviour

I have set the theme up using theme provider changing default primary and secondary colours. I expected every element to inherit the colour from the theme provider but everything is stuck on purple

### Code sample

[code]

[2020-01-10 15:32] satya164 commented on #1564
[code]

The field is `colors` not `color`

[2020-01-10 15:32] #1564 closed

[2020-01-10 20:53] LeviYoder2112 opened #1565 "Reverse List.Accordion icon(arrow) rotation"
The behavior of the List.Accordion arrow icon on the right side is to point up if the list is expanded, and down if the list is collapsed.
Is it possible for me to reverse that behavior since I'm using the List.Accordion at the top of my screen and it is expanding down?

Example:

<img width="373" alt="Screen Shot 2020-01-10 at 1 51 10 PM" src="https://user-images.githubusercontent.com/34454615/72

[2020-01-10 20:57] wanderson-ra opened #1566 "How to Force barStyle = "light-content" in StatusBar"
I need to force barStyle = "light-content" in StatusBar. But when I upgrade the components it goes dark again. If you can help me, I am grateful.

[2020-01-11 08:57] sangdth commented on #1453
I still have this problem.
@Alain00 , have you overcome this problem?

[2020-01-11 12:06] sangdth commented on #1489
This workaround causes another issue, as I want users can typing to reduce the options list, then select one they want. In this way user has to click twice in order to start typing.

[2020-01-12 17:54] jayu commented on #1288
We would like to have any animation that fits into Material Design guidelines. So i.e things like swipeable list items should not be included in the library. It would probably add more dependencies and this feature
 can be implemented by end-user with other libraries. But animated accordion is a nice to have thing, because this animation cannot be easily added to accordion by end user, and animate

[2020-01-13 12:41] amauryfischer opened #1570 "Question/feature : control of textAlignVertical for TextInput (multiline)"
Hi,
I'm currently working with react-native-paper for both classical TextInput and multiline TextInput.
Currently i have a style problem :
![Capture d’écran 2020-01-13 à 13 29 21](https://user-images.githubusercontent.com/16059663/72256300-21544d80-3609-11ea-8d4d-321417b96ed4.png)
![Capture d’écran 2020-01-13 à 13 29 33](https://user-images.githubusercontent.com/16059663/72256307-274a2e80-3609

[2020-01-13 13:10] ilibilibom commented on #1563
ok - I change to
[code]
now it's working - here is the code that worked for me:
[code]

and in the bottom navigation component (with one navigation item - just for the example):
[code]

[2020-01-13 13:12] satya164 commented on #1563
You should restructure your navigators like in the link. It's not recommended to hide the tab bar like this because it can be janky and cause other issues with animations.

[2020-01-13 13:12] #1563 closed

[2020-01-13 13:15] ilibilibom commented on #1563
It is actually causing an issue with animation - when clicking the back button.
I can't understand the restructuring concept,
@satya164 Can you please write a simple example?

[2020-01-13 13:28] satya164 commented on #1563
Have you read the docs I linked to? There's example in the docs.

[2020-01-13 13:34] ilibilibom commented on #1563
Yes, but I can't understand the concept of a top parent component.
What should I have there?

[2020-01-13 15:57] flowed commented on #903
Waiting for this!

[2020-01-14 00:34] espipj commented on #1489
@smkhalsa comment:

https://github.com/callstack/react-native-paper/pull/932#issuecomment-479946027

[2020-01-14 03:01] pollyolly opened #1572 "Dialog error in Android 7.0"
## Environment

Android 7.0
Demo app: https://snack.expo.io/@satya164/github.com-callstack-react-native-paper:example
## Description

Error showing:
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

https://ibb.co/RDqbb1Q

## Reproducible Demo
1. Install the app demo in Android 7.0
2. Click Dialog
3. Error comes ou

[2020-01-15 01:41] pollyolly commented on #1572
It seems ok now. Its just weird I experience the error in my fresh install using expo.

[2020-01-15 01:41] #1572 closed

[2020-01-15 04:57] ricaragao opened #1575 "Carousel inside PaperProvider not works"
I tried to use many Carousel inside of the PaperProvider, but every not work. If I remove PaperProvider them works fine.

Someone has a good way to create a Image Carousel inside of the PaperProvider?

I tried with:

@react-native-community/viewpager
react-swipeable-views-native

[2020-01-15 07:32] ilibilibom commented on #1563
@satya164 after trying to restructure it like stated in the docs, I get this error:
```Couldn't register the navigator. Have you wrapped your app with 'NavigationContainer'? ```
Here is a repro:
https://snack.expo.io/@ilandiam/smiling-bananas

[2020-01-15 10:49] mmarkusik commented on #1565
Hey @LeviYoder2112. Currently we are not planning such a feature. This is because the arrow icons pointing up and down correspond with the actions happening once you press them. When pressing arrow down, the list opens downward. Similarly, when pressing the up arrow the whole list closes upward.

[2020-01-15 11:54] kopax opened #1577 "Jest unit test fail after adding PaperProvider"
I am installing `react-native-paper` in my existing expo app, and wanted to follow this guide to have a `PaperProvider`: https://callstack.github.io/react-native-paper/theming.html#applying-a-theme-to-the-whole-app

This is what is recommended :

[code]

As soon as I add in my tree the `<PaperProvider />`, I am not able to test my `<App />`:

My test look like this:

[code]

With my test util that

[2020-01-15 12:17] kopax commented on #857
I am having issue when wrapping my app in a `<PaperProvider />`, I believe this should be mentioned in the documentation that we must use one paper provider per page:

https://callstack.github.io/react-native-paper/theming.html#applying-a-theme-to-the-whole-app

[2020-01-15 12:41] princesust opened #1578 "TextInput with outline mode"
I am working on an app where a view has more than 10 Textinput. When I set the outline mode in Textinput and fixed height, scrolling is not working properly. But in the contained mode it's working fine. Is it normal behavior?

[2020-01-15 14:52] mmarkusik commented on #1575
Hi @ricaragao, please prove repro for your issue so we can look into it.

[2020-01-15 15:51] ilibilibom commented on #1563
I've managed to solve this issue.
The error
[code]

was given because I was wrapping the <NavigationNativeContainer> around the tab navigator instead of around the main navigation.
Another thing that is missing in the docs is that you'll need to remove all instances of the screen your calling from other stack navigators, otherwise any options set by on the top level navigator (in my case MainNav),

[2020-01-15 17:49] ricaragao commented on #1575
When I try like this below, ViewPager is not showed. If I remove PaperProvider, it works fine.

[code]

[2020-01-15 23:38] punisher97 commented on #1578
Please share your code for let answer you properly

[2020-01-16 00:02] #1258 closed

[2020-01-16 03:30] kopax commented on #1577
I was able to solve it by adding one `<PaperProvider />` per page, instead of one per application.

[2020-01-16 03:30] #1577 closed

[2020-01-16 06:00] kopax opened #1581 "Impossible to display centered svg as react component in AppBar of react-native-paper on Android"
I am building a react-native application with expo SDK36.

It use `react-native-svg@9.13.3` to render svg.

With it, It is possible tu import the `.svg` directly as a react component, or rewrite the SVG with their svg components.

I have tried both, and on android it doesn't display if I center the title on AppBar:

### Current behaviour

Svg import doesn't work in AppBar on android device.

### E

[2020-01-16 15:14] mauro0x52 opened #1582 "Allow class override"
## Describe the feature

As a developer, I want to override component so that I can make small adjustments to fit the requirements.

Currently, all components are exported as `export default withTheme(PaperComponent);`, which is not inheritable. Named export could be used to export the raw class without breaking old imports using the component with theme. For example:

[code]

This simple change w

[2020-01-16 20:55] indigoviolet opened #1583 "Card's innerContainer flexGrow: 1 breaks shrink to fit"
## Environment

I see this on Android (and on the android and ios snacks)

## Description

See the snack below. I have a FlatList inside a Card, and as the height of the FlatList grows, I want it to start scrolling once the container is filled. To do this, I set `{flex: -1}` appropriately. However, this breaks if I use `Card`, I believe because of this [line](https://github.com/callstack/react-nat

[2020-01-16 22:47] Trancever commented on #1575
@ricaragao Are you sure it works without PaperProvider? The only thing PaperProvider do is context providers rendering and it can't affect children.

Try passing `style={{flex: 1}}` to the `View`. That might fix your issue

[2020-01-16 23:13] indigoviolet opened #1584 "How to add custom colors/attributes to the theme?"
Previously: #317, #568, #799, but I don't think the question has been answered:

What is the recommended way to pass custom attributes (eg. custom accent colors besides the one `accent` property) through the theme? The typescript type currently makes this inconvenient.

One way is to make a separate `auxTheme` object and pass it through a custom context, but it would be nicer to be able to use a s

[2020-01-17 10:31] rockfight opened #1585 "Why BottomNavigation doesn't preserve state ?"
As per documentation it says that BottomNavigation preserves the state of its pages. But I have found that navigating between screens the screens doesn't preserve its state and the screen is re-rendered.

If I use React.memo with a equal check function like `React.memo(MyScreen, areEqual)`  I found that `areEqual` function is not run the second time I visit the screen which means the screens remai

[2020-01-17 13:15] conrad90909 commented on #903
Any chance of an ETA, even if vague so we know it is coming or being worked on?  We just started using react native paper and had assumed this would work till we tried doing it.  Alternatively we need another solution and frankly this looks like the best one by far!

Many thanks.

[2020-01-18 13:32] lukhol opened #1587 "RadioButton.Item text is not styleable. RadioButtonContextProvider is not exported."
## Describe the feature
1. In RadioButtonItem text component is not styleable, and theme values are not applied on that Text.
Exact line (ack/react-native-paper/blob/master/src/components/RadioButton/RadioButtonItem.tsx#L79). Text from 'react-native-paper' should be used, not from 'react-native'.

2. RadioButtonContext is not exported so it's hard to use RadioButton.Android on iOS.

## Motivation

[2020-01-18 21:56] Trancever commented on #1566
@wanderson-ra Is it related to this library? Can you provide a [Snack](https://snack.expo.io/) that reproduces issue?

[2020-01-19 00:01] #1453 closed

[2020-01-20 04:19] kopax opened #1590 "examples crash on drawer opening on the web"
## Environment

I am trying to test the drawer on the web and it's currently not working.

## Description

[code]

## Reproducible Demo

[code]

[2020-01-20 04:35] kopax commented on #1590
If removing the `<App />` web specific rendering, the drawer can open, but the click on the overlay does not close it, making it impossible to close the drawer and visit the website. Is there a way I can fix this? Thanks.

[2020-01-20 04:52] satya164 commented on #1590
React Navigation's drawer doesn't work on web yet.

[2020-01-20 04:52] #1590 closed

[2020-01-20 04:55] kopax commented on #1590
Surprising, this is what I have when rendering on the web:

![image](https://user-images.githubusercontent.com/1866564/72699584-a1cffc80-3b7b-11ea-977e-c4eb067ab7c5.png)

It seems to work, except the closing gesture. How can I have a drawer on the web? (a designing mine is an option but, it would make more sense to use a lib, or lastly to fix the drawer)

[2020-01-20 05:00] satya164 commented on #1590
Well if gesture doesn't work, then it doesn't work. It uses reanimated and gesture handler libs for animations and gestures whose web support is still in progress. It needs to be fixed in those libs. For now, you need to build your own drawer for web.

[2020-01-20 05:02] kopax commented on #1590
Ok thanks for your answer. This seems to be a 2 year's old issue: https://github.com/react-navigation/react-navigation/issues/174#issuecomment-277458895 , some attempt have been done to fix it. I am surprise no solution as upcome yet.

[2020-01-20 05:14] kopax commented on #1590
@satya164 you seem to know quite well the topic, may I kindly ask if you have or know a GitHub project that mix react-navigation and react-router to support web, iOS and Android navigation? I have done something but it is quite buggy and my knowledge makes me thing web first, which is maybe bad for the design pattern native code requires.

[2020-01-20 10:02] rockfight commented on #1585
Looks like this problem arises when we add nested tabs like 'react-native-tab-view'. I didn't dive very deeply into this but changed my navigation to remove nested tabs and now it is working as expected.

[2020-01-20 10:02] #1585 closed

[2020-01-20 19:45] owenhope opened #1592 "Custom Icon used by PaperProvider ... Accordion Icon (chevron-up/down) not found."
I imported IonIcons to be my default icon set for RN Paper .... everything seems to be working fine except the Accordion component.

I also see in the docs and code that you cannot change the icon from 'chevron-down' or 'chevron-up' in the Accordion.

Is it possible to:

- Load multiple icon sets in the PaperProvider settings (Need IonIcons & MaterialCommunityIcons)
- Modify the icon inside Accord

[2020-01-21 05:46] kopax commented on #51
Hello, is this still of atuallity? I am starting with react-native and react-native-paper and I am building a native/web app. I have web experience, how should I design form with those tools?

[2020-01-21 06:16] kopax commented on #1502
Thanks man that helped me!

[code]

[2020-01-21 20:48] satya164 opened #1596 "Adjust animation scale for accessibility by default"
We should set animation duration scale to 0 automatically by default if `AccessibilityInfo.isReduceMotionEnabled()` returns true:

https://facebook.github.io/react-native/docs/accessibilityinfo#isreducemotionenabled

[2020-01-21 20:50] satya164 opened #1597 "Set dark or light theme according to device preferences by default"
React Native 0.62 will have an `Appearance` module which gives us the preferred color scheme of the device. We can detect and switch to dark theme automatically by default if it's preferred.

https://github.com/facebook/react-native/blob/a27e31c059971b1d554ad6c7c81706f08eafac87/RNTester/js/examples/Appearance/AppearanceExample.js#L14

It'll be a breaking change due to React Native version requirem

[2020-01-21 23:03] satya164 commented on #1582
Whether a component is a class or a function is an implementation detail. It can change anytime in a minor version.

React components should be customized by wrapping them in components and passing props. We don't support inhertance or overriding internal methods.

If you need a feature that's not available, you should open an issue. If it's something that cannot be added in the library, you can e

[2020-01-21 23:03] #1582 closed

[2020-01-22 14:40] #1532 closed

[2020-01-23 02:38] StebanDev opened #1601 "TouchableRipple not showing the ripple efect on Android API 27"
## Environment

expo 34
Android Device (Emulator/Physical) API 27

## Description

`TouchableRipple` component is not showing the corresponding effect by being touched. This happens in a physical device or emulator running Android with API 27 version.

I suspect this behavior was forced in this pr: https://github.com/callstack/react-native-paper/pull/788.
I could just fix this error by changing th

[2020-01-23 17:25] BenWildeman commented on #957
@ferrannp did this ever actually get fixed?

[2020-01-23 18:10] odesey opened #1602 "TouchableRipple not respecting borderRadius on Android"
## Environment

React Native: **0.61.2**
React Native Paper: **3.4.0**

## Description

When using `TouchableRipple` component, the `borderRadius` style property is **NOT** respected on Android

[code]

This appears related to this PR: #788

Also might be related to issue #1601

[2020-01-23 21:06] davisuga commented on #1536
Im getting the same error just importing the components and using it on my application.
![image](https://user-images.githubusercontent.com/33470530/73023786-005eda00-3e0b-11ea-9908-55edb08a8140.png)

[2020-01-24 00:02] #1476 closed

[2020-01-24 19:51] ricaragao commented on #1575
@Trancever , not work.

[2020-01-24 20:05] satya164 commented on #1575
Please provide a runnable repro

[2020-01-24 20:06] ricaragao commented on #1575
I guess that I isolated the problem and you are sure. Cause of problem isn't Provider. Thanks.

[2020-01-24 20:30] ricaragao commented on #1575
I mapped an incompatibility with ScrollView.
Thanks guys.

[2020-01-24 20:30] #1575 closed

[2020-01-24 21:05] sohcah opened #1603 "Navigation Rail"
## Describe the feature

The new Material Design Navigation Rail
https://material.io/components/navigation-rail/#

## Motivation

Adding the Navigation Rail would allow for expanded UI options for Tablets and Web and allow for easier-to-use interfaces.

[2020-01-24 21:22] satya164 commented on #1603
Also note

[2020-01-25 08:26] giva9712 commented on #1302
Is there any solution?

When I build my app that is using expo, it shows

[code]

My Dependencies are:

[code]

[2020-01-26 21:35] victorvarenic opened #1605 "List.Accordion no way to change "right" or customize"
## Describe the feature

## Motivation

## Related Issues

[2020-01-26 21:39] victorvarenic commented on #1605
List.Accordion no chance to customize the right part of component and customize it. For example there no onLongPress event, and can't find how I can implement it. I've tried wrap by my Touchable (TouchableOpacity, TouchableRipple), but it doesn't help.

[2020-01-26 21:42] victorvarenic commented on #1605
In right part of List.Accordion using arrow up if it closed and arrow down if opened. I want to use my own component/icon for this feature

[2020-01-26 21:45] odesey opened #1606 "Android Checkbox bug"
## Environment

React Native: **0.61.2**
React Native Paper: **3.4.0**

## Description

When using `FontAwesome Icons` via:

[code]

The Android checkbox icon no longer renders properly. You get the question mark icon usually rendered for an incorrect icon name.

So, instead of this:
![Screen Shot 2020-01-26 at 4 42 59 PM](https://user-images.githubusercontent.com/3899366/73142279-eddadf80-405a-11

[2020-01-26 22:03] andrewdeakins commented on #1536
i had a similar issue but tried
npm install
npm audit fix

and then it started to work, i guess give it a go as there maybe libs not in sync etc.

[2020-01-27 00:11] satya164 opened #1607 "Use react-native-iphone-x-helper for safe area"
The current version of react-native-safe-area-view gives warnings related to componentWillReceiveProps, and the latest version requires native code. We can switch to https://github.com/ptelad/react-native-iphone-x-helper instead for safe area and status bar handling which would solve these issues.

[2020-01-27 13:16] Dan-Young-AA opened #1608 "ProgressBar won't show within Card.Content with 'flexDirection: "row"'"
## Environment

iOS & Android.
react-native-paper v3.4.0

## Description

I'm trying to display a `<Paragraph>` and `<ProgressBar` next to each other. If I put both into a container (in this case, `<Card.Content>` and give it a style of `{ flexDirection: "row" }`, the ProgressBar will not display.

This does not happen when the container has `{ flexDirection: "column" }`. The provided example show

[2020-01-27 13:21] satya164 commented on #1608
You need to set a width on your items by setting a `width` or using flexbox. Otherwise the progress bar doesn't now how big it should be.

[2020-01-27 13:21] #1608 closed

[2020-01-27 19:48] greenkeeper[bot] opened #1609 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.17.0` to `2.18.0`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40typescript-eslint%2Fparser-2.18.0).

This version is **covered** by your **current version range** and after updating it in your project **

[2020-01-27 19:52] greenkeeper[bot] opened #1610 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.17.0` to `2.18.0`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.18.0).

This version is **covered** by your **current version range** and after updating it in y

[2020-01-28 04:55] narensprinter opened #1613 "labelStyle prop not working in Fab.Group actions."
Hi

I tried to apply background color for Fab.Group each action label. but there is no style props for label. is there any possible way to change background color for label?

[2020-01-28 06:26] #1581 closed

[2020-01-28 11:03] amauryVedana commented on #1570
Any news for this ?
Do not hesitate if you need more informations.

[2020-01-28 20:46] greenkeeper[bot] opened #1614 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `13.5.0` to `13.5.1`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40types%2Fnode-13.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node

[2020-01-29 00:01] #1353 closed

[2020-01-29 07:22] grpeteros commented on #1565
Please implement this, we need a way to customize or show & hide the icon

[2020-01-29 08:36] pixelize commented on #1602
@odesey Have you tried using borderless props on the TouchableRipple ?

[2020-01-29 15:30] Bound3R commented on #1606
Yeah, i have same problem, you can send custom icons but the checkbox use a specific variable to determine the icon to show..

you can see the variables on this  [line.](https://github.com/callstack/react-native-paper/blob/master/src/components/CheckboxAndroid.tsx#L120)
[code]
works for my ignore customs icons for now, and only use the custom icons when its required.

[code]

[2020-01-29 15:37] Alain00 commented on #1453
No @sangdth, I just avoid it using the `any` type

[2020-01-29 16:42] odesey commented on #1602
@pixelize, setting the `borderless` prop works.

Thanks.

[2020-01-29 16:42] #1602 closed

[2020-01-30 06:39] RuchikaPegasus commented on #634
import * as React from 'react';
import { TextInput } from 'react-native-paper';

export default class MyComponent extends React.Component {
  state = {
    text: ''
  };

  render(){
    return (
      <TextInput
        label='Email'
        value={this.state.text}
        onChangeText={text => this.setState({ text })}
fontFamily:"fontName"
      />
    );
  }
}

[2020-01-30 11:15] #1614 closed

[2020-01-30 15:38] kotavy commented on #1483
@Trancever This behavior still exists as of v3.5.1, running the [TextInput example](https://callstack.github.io/react-native-paper/text-input.html#placeholder) on Snack and only adding multiline and a placeholder string. Placeholder works as expected without multiline.

[2020-01-30 21:46] vivekkumar16 opened #1620 "TextInput value isn't getting preserved during navigation"
I have two screens, A and B. Screen A contains just a react-native-paper TextInput, e.g.,

                <View>
                    <TextInput
                        error={error}
                        label='Enter something'
                        mode='outlined'
                        onBlur={this.onBlurHandler}
                        onChangeText={text => this.setState({text})}

[2020-01-30 22:02] AlexZhenWang opened #1621 "Modify style of placeholder text in TextInput component"
Version: 3.4.0

Hi, thanks for provider this awesome library. I want to change the style of placeholder text of TextInput component but didn't see any interface to do this, may I have a hand?

![image](https://user-images.githubusercontent.com/14008461/73494337-31499b00-4419-11ea-8687-630639876fde.png)

[2020-01-30 23:46] satya164 commented on #1620
Please provide a runnable repro

[2020-01-31 15:47] #276 closed

[2020-01-31 19:00] RichardLindhout commented on #1620
Could it be that you reset the state in the onBlur?

[2020-01-31 19:31] robertLichtnow commented on #1621
@AlexZhenWang if you go to the TextInput docs, you'll see that it extends the react-native `TextInput` component, meaning you should be able to change the placeholder color with the prop `placeholderTextColor`

https://callstack.github.io/react-native-paper/text-input.html
https://facebook.github.io/react-native/docs/textinput.html#placeholdertextcolor

[2020-01-31 19:33] robertLichtnow commented on #1613
You should use the `style` prop inside each member of the `action` prop array

[2020-01-31 22:23] greenkeeper[bot] opened #1628 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `13.5.3` to `13.7.0`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40types%2Fnode-13.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node

[2020-01-31 23:33] KyruCabading commented on #1489
# Theme Overrides
Similar to Material UI's prop & styling overrides. We'd like to have global code like that housed in the theme file as well.

To use something like
[code]
So we can still import buttons directly from the library to promote consistency

[code]

https://material-ui.com/customization/components/#global-theme-override

[2020-02-02 01:16] rodriigovieira commented on #1113
I believe this issue is pertinent.

[2020-02-04 05:25] iamisathya commented on #1112
+1

[2020-02-04 08:12] #1606 closed

[2020-02-04 13:50] Trancever commented on #1551
@irshadpalayadan  We won't support skeleton components. We think that [react-native-shimmer](https://github.com/oblador/react-native-shimmer) provides a great UX and should be used instead.

[2020-02-04 13:50] #1551 closed

[2020-02-04 15:20] ilhamsa1 commented on #688
any update?

[2020-02-05 01:40] bvelasquez opened #1639 "Snackbar - Action button, not uppercase?"
## Ask your Question

Is it possible to get the action button to not show up all CAPS? I don't see a way to override the button.

Thank you,

Barry

[2020-02-05 10:59] #1610 closed

[2020-02-05 10:59] #1609 closed

[2020-02-05 11:00] #1545 closed

[2020-02-05 11:00] #1628 closed

[2020-02-05 14:17] greenkeeper[bot] opened #1644 "An in-range update of @react-navigation/native is breaking the build 🚨"
## The dependency [@react-navigation/native]() was updated from `5.0.0-alpha.35` to `5.0.0`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2Fdefault%2F%40react-navigation%2Fnative-5.0.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@react-navigation/nati

[2020-02-05 23:13] Tiltorito opened #1647 "Ability to have different placeholder & border color on an Outlined Text Input"
It would be really nice to be able to control those 2 colours individually. By placeholder I mean the label when the text input is not focused

[2020-02-06 01:10] brunohkbx opened #1648 "TextInput label jumps to the center after rendered"
## Environment
"expo": "^36.0.0",
"react-native": "https://github.com/expo/react-native/archive/sdk-36.0.0.tar.gz",
"react-native-paper": "^3.8.0",

## Description
It's been a while since I noticed this weird behavior when the TextInput is rendered, I think no one still has reported though.
The label jumps when the TextInput is mounted, maybe because of some calculation. This behavior is more noti

[2020-02-06 01:11] brunohkbx commented on #1648
cc @jbinda

[2020-02-06 05:51] cayasso opened #1649 "Add onLongPress to FAB"
## Describe the feature

Add onLongPress to FAB. Current only onPress is supported.

## Motivation
Any CTA button should support onLongPress.

[2020-02-06 06:46] nihp commented on #677
Any option to style the actions as below attached image.

Here I need to show the label below the icon.
![Screenshot 2020-02-06 at 12 09 42 PM](https://user-images.githubusercontent.com/36992338/73912447-89314780-48da-11ea-85ec-f44d60efc1ff.png)

[2020-02-06 06:54] nihp commented on #1613
Can i able to align the label below the icon in FAB.group

As the attached image(marked)
![Screenshot 2020-02-06 at 12 09 42 PM](https://user-images.githubusercontent.com/36992338/73912828-8d119980-48db-11ea-9494-ac0ff93ce13a.png)

[2020-02-06 10:11] redbluenat commented on #1570
I have the same problem, any news for it?

[2020-02-06 11:48] lastch opened #1650 "How to reduce borderWidth in textinput?"
I'd like to reduce borderWidth in TextInput, but when i add `borderWidth: 1` in style, i can see two borders appear in one TextInput.
Does anybody know about this issue?
Thanks.

[2020-02-06 14:44] Trancever commented on #1613
@nihp No. According to MD Guidelines, labels should be placed on the left from the icon.

[2020-02-06 14:44] Trancever commented on #1613
@narensprinter Did you find the solution? Can we close the issue?

[2020-02-06 16:07] #1605 closed

[2020-02-06 18:48] narensprinter commented on #1613
@Trancever No.. if i use the style prop inside each member of the Action prop array. its only applying background colour for Icon but expected result should be apply for both icon and label. Is there any other way to change label background colour?

[2020-02-07 11:52] w90 commented on #1647
+1

On React Native Web I can style it somehow using nasty hacks, but on android/ios there is no such possibility.

[2020-02-07 20:15] CesarGomezTissini commented on #1317
Commenting for needed feature.

[2020-02-09 09:37] saadheikh commented on #1355
state:{
checked:'first'
}

<RadioButton
                                                                              value="first"
                                                                              status={checked === 'first' ? 'unchecked' : 'checked'}
                                                                              onPress={() => {

[2020-02-09 09:40] LuckyLuke19 commented on #1489
I would really like it if there was tooltip support for `Appbar.Action`, `IconButton` and perhaps other components.
https://material.io/components/tooltips/

[2020-02-09 23:06] IgorDePaula opened #1657 "RadionButton missing Material Design Icons family font on iOS"
## Environment

"react": "16.9.0",
 "react-native": "0.61.5",
 "react-native-paper": "^3.6.0",

## Description

I put a radiobutton element on screen and I received error of missing font family Material Design Icons

![Captura de Tela 2020-02-09 às 20 04 01](https://user-images.githubusercontent.com/2833993/74111979-9e76d200-4b77-11ea-9929-f9a47ac34faa.png)

## Reproducible Demo

![Captura de Tel

[2020-02-10 03:52] mlabrum opened #1658 "DrawerItem touch ripple expands outside of DrawerItem"
## Environment
Android 9
Samsung S9
Using the expo demo scanned via QR code ( this also happens on my app too )

## Description
When touching a DrawerItem the ripple that expands out from it expands past the boundary of the component

![image](https://user-images.githubusercontent.com/296106/74119680-6a032480-4c10-11ea-9e61-54885c377d2d.png)

## Reproducible Demo
https://snack.expo.io/@satya164/gi

[2020-02-10 04:18] yoojeen126 opened #1659 "How can i change Button's icon size"
<Button icon="facebook" mode="contained" onPress={() => console.log('Pressed')} color={theme.colors.facebook}>
        Facebook Login
</Button>

I saw icon size default 16, and i know labelStyle to change text.
So what's prop to change icon size more big?

[2020-02-10 17:41] M4urici0GM commented on #930
I`m still getting the warnings, what could it be?

[2020-02-10 18:35] greenkeeper[bot] opened #1661 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40typescript-eslint%2Fparser-2.19.1).

This version is **covered** by your **current version range** and after updating it in your project **

[2020-02-10 18:37] greenkeeper[bot] opened #1662 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/callstack/react-native-paper/compare/master...callstack:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.19.1).

This version is **covered** by your **current version range** and after updating it in y

[2020-02-10 21:17] devgeeksclub opened #1663 "not able to use react-native-paper with react-native-web and ssr"
I am using razzle `(https://github.com/jaredpalmer/razzle)` with typescript and react-native-web. every thing is working fine. But when I install react-native-paper and followed the instructor here
[https://callstack.github.io/react-native-paper/using-on-the-web.html](url)

and then when I run
`yarn start`

I got this error

[code]

I think the problem only occur on server side , not client side.

[2020-02-11 01:07] gitmudassir commented on #930
Check this out :
https://stackoverflow.com/questions/55664673/require-cycles-are-allowed-but-can-result-in-uninitialized-values-consider-ref/58459108#58459108

[2020-02-11 01:07] rolandjitsu commented on #1455
This is still a valid issue.

[2020-02-11 04:09] yonghongren opened #1665 "FAB.Group uses MaterialCommunityIcons regardless of PaperProvider settings.icon"
## Environment
[code]

## Description

It appears that icons used inside FAB.Group have to come from MaterialCommunityIcons, even PaperProvider is set to another icon set.

## Details to Reproduce

Configure to use MaterialIcons:

[code]

Everything appears to work fine except when icons are used inside FAB.Group, where it may report an icon not available. For example, it won't find 'more-vert' (f

[2020-02-11 07:17] kopax opened #1666 "[Web] Allow text with accessibilityRole="link" to have styling of a button for SEO"
I want to make a link within my react application that looks like button.

So far, the [button](https://facebook.github.io/react-native/docs/button) doesn't have an `accessibilityRole`, because in a SEO point of view, buttons shouldn't change the view of an application, see https://medium.com/better-programming/accessibility-web-links-should-be-links-and-web-buttons-should-be-buttons-182ff042d087

[2020-02-11 07:19] kopax commented on #1317
It could also support `accessibilityRole="link"` for app that use button for changing pages. See https://github.com/callstack/react-native-paper/issues/1666

[2020-02-11 07:48] Trancever commented on #1455
@rolandjitsu What is a Paper version and android version on which you can reproduce the issue? Could you provide us a [Snack](https://snack.expo.io/) so we can easily test it?

[2020-02-11 10:35] Angelk90 commented on #1254
@Justin2997 , @Trancever , @jayu :  Are there any news?

[2020-02-11 14:13] jayu commented on #1254
I believe we have this component 😅
https://callstack.github.io/react-native-paper/data-table.html

[2020-02-11 15:42] kopax commented on #1288
Hello, it would be nice to see the swipeable version of react-native-paper.

Also, I was looking how to animate the collapse and landed here. Thanks for your solution @wardjk87, do you have a snack example we can see? (or GitHub repo)

[2020-02-11 18:50] tinni95 commented on #775
It is impossible as of today having two different colors for the label and the underline when the input is focused, this has always put me off from using this library and it's the reason why I end up excluding it in any of my projects, I hope you will make a get around to this problem

[2020-02-11 18:51] tinni95 commented on #688
The problem

the problem is when I want to have two different colors for the label and the underline when focused, which apparently is not possible 👎

[2020-02-11 19:04] tinni95 commented on #688
My workaround has been the following :

`      <TextInput
                label='Email'
                value={email}
                placeholder={"email"}
                onChangeText={text => setEmail(text)}
                style={{ backgroundColor: "white" }}
                selectionColor={Colors.primary}
                underlineColor={"white"}
            />
            <View style={{ margin

[2020-02-11 19:07] tinni95 commented on #688
My workaround has been the following :

`      <TextInput
                label='Email'
                value={email}
                placeholder={"email"}
                onChangeText={text => setEmail(text)}
                style={{ backgroundColor: "white" }}
                selectionColor={Colors.primary}
                underlineColor={"white"}
            />
            <View style={{ margin

[2020-02-12 10:13] Angelk90 commented on #1254
@jayu :

But in this way a single components, you declare the whole table, I don't know if I explained myself:

[code]