[2019-03-21 16:31] ferrannp commented on #935
@mreorhan could you add a snack for us to reproduce the issue and see what is really happening?

[2019-03-21 22:22] Steffi3rd opened #945 "Is it possible to not add React Native Vector Icon to this package?"
I just removed React Native Vector Icons because I don't want to use it.
It causes me some bug on `react-native link...` So I unlink it and remove it from my project.

But now after 2 hours I found why my projects fails with this error :
https://github.com/facebook/react-native/issues/24094

It seems your package use React Native Vector Icons but when I delete it, so it causes bug on your package

[2019-03-21 22:37] satya164 commented on #945
We mention this in our getting started guide

![image](https://user-images.githubusercontent.com/1174278/54789284-49b22c00-4c32-11e9-9f1b-ff9e06c3903c.png)

https://github.com/satya164/babel-plugin-optional-require#usage

[2019-03-21 22:37] #945 closed

[2019-03-21 22:56] Steffi3rd commented on #945
❤️ Thank you

[2019-03-22 05:19] murtraja commented on #888
@RichardLindhout , How do you add an icon on the right instead of the left as of now?

[2019-03-22 09:49] Steffi3rd commented on #945
Hello @satya164

So I see I have to install Babel-plugin-option-required.

But what do I have to add in blacklist and whitelist?

Do you have a config to opt out  react Native vector icons?

[2019-03-22 09:58] satya164 commented on #945
@Steffi3rd you just need to add the plugin and run `react-native start --reset-cache` to start the packager. No additional config is needed.

[2019-03-22 11:01] #927 closed

[2019-03-22 11:48] zedart opened #947 "Ripple button and icons"
![screen](https://user-images.githubusercontent.com/29691281/54820756-7f8df980-4ca0-11e9-8638-b2176a36d180.PNG)
hi everyone
i have a probleme with ripple buttons it's outside of border
i had customise my button borderradius in style prop:
`import * as React from 'react';
import { StyleSheet } from 'react-native';
import { Button } from 'react-native-paper';

const MyLButton = () => (
  <Button
  m

[2019-03-22 19:58] RichardLindhout commented on #888
@murtraja I don't or I create a custom component myself. But I think we need the same behaviour with customizing as material-ui does. Let the user change all props of all subcomponents. But I don't know if the maintainers think that's a good idea.

[2019-03-22 20:21] tonyxiao opened #950 "Missing Icon from materialIcons"
This `arrow-right` icon exists on [material design website](https://material.io/tools/icons/?icon=arrow_forward_ios&style=baseline), but I can't use it within `List.Icon` in react-native-paper. ( I get a question mark with failed prop type warning) Am I missing something?

![image](https://user-images.githubusercontent.com/696842/54850787-4e63f800-4ca5-11e9-9752-6c7f6ec859ab.png)

[2019-03-23 03:54] connercms commented on #926
you can render any icon you want from react-native-vector-icons by passing it as a prop

example

[code]

[2019-03-23 04:50] alikazemkhanloo commented on #926
Thank you, I didn't know that `icon` prop  can take size and color as props. But yet why sticking to MaterialIcons instead of the community one?

[2019-03-23 12:56] satya164 commented on #926
We'll switch to `MaterialCommunityIcons` in 3.0.

[2019-03-24 15:01] robbiemu commented on #569
this answer really doesnt satisfy -- that documentation describes a themes object. but there apparently is one wired in at the start. it would be nice to understand, from the perspect of a new app with a few views that have rendered some things with default colors, what those colors are and how to inicrementally change them.

[2019-03-24 19:52] nwpray commented on #733
I am having the same problem. I noticed that `opacity: 1` is not being added back to the second `AnimatedText` element onBlur of the `TextInput`. I changed the opacity value of the second `AnimatedText` to mirror the first `AnimatedText` element and it works now.

[code]

This works for the web but I don't know if it is going to mess something up for mobile?

[2019-03-24 22:41] RemyMachado commented on #417
Not rendering the FAB with the `withNavigationFocus` workaround is a problem when we navigate back, because it doesn't appear back instantly.

Is there a way to hide the FAB but to keep it rendered for smoothness purposes ?

[2019-03-25 11:02] realioseb commented on #941
@Trancever @raajnadar Anything new for this issue?

[2019-03-25 11:53] Trancever commented on #941
@realioseb For now, try implementing shouldComponentUpdate just like on this snack - https://snack.expo.io/@trensik/petrified-banana as a workaround.

[2019-03-25 17:49] nishanttomar21 opened #952 "Drawer navigation for web"
## How to implement drawer navigation and stack navigation in react-native-paper for web

[2019-03-25 17:59] Trancever commented on #952
Hey @nishanttomar21 . React-native-paper is UI component library that implements [Material Design Guidelines](https://material.io/design/). If you'r looking for a navigation solution for react-native apps I would suggest to check [react-navigation](https://reactnavigation.org/) or [react-native-navigation](https://github.com/wix/react-native-navigation).

[2019-03-25 17:59] #952 closed

[2019-03-25 18:39] timothystewart6 opened #953 "List.Accordion Expanded Title Color"
## Describe the feature

It seems like `<List.Accordion /`> expanded title cannot be styled and it is based on theme color.  I am not sure if this is a design choice or just hasn't been an option thus far.

## Motivation

It would be nice if the accordion title color when expanded, could be passed in vs. based on `theme.colors.primary`.

https://github.com/callstack/react-native-paper/blob/master/

[2019-03-25 18:40] timothystewart6 commented on #953
I can contribute this enhancement if needed.  I just wanted to open an issue before a PR.  Thank you!

[2019-03-25 19:26] Trancever commented on #953
@timothystewart6 you can pass theme prop to List.Accordion to customize it.
[code]

[2019-03-25 19:38] timothystewart6 commented on #953
Thank you so much!  I didn't think of overriding the theme prop for this one instance.  I will close this.  Thanks again!

[2019-03-25 19:38] #953 closed

[2019-03-25 19:43] timothystewart6 commented on #953
Just beware it overrides it for children too, so you have to revert back to `primary` for children (if that's your intent).

[2019-03-26 09:08] pbitkowski commented on #938
We'll publish minor release with fix for this issue today.

[2019-03-26 10:07] Trancever commented on #941
@realioseb It should be fixed in version 2.15.0

[2019-03-26 10:07] #941 closed

[2019-03-26 10:08] Trancever commented on #938
It's fixed in 2.15.0

[2019-03-26 10:08] #938 closed

[2019-03-26 10:15] nazrdogan commented on #950
@tonyxiao  react-native-paper depend on react-native-vector-icons  for icons. and MaterialIcons is out of date.
https://github.com/oblador/react-native-vector-icons/issues/949
https://github.com/oblador/react-native-vector-icons/issues/921

[2019-03-26 10:25] realioseb commented on #941
Thank you!
Looking forward for the new version

[2019-03-26 18:27] arled commented on #894
🍩

[2019-03-26 22:09] nazrdogan commented on #881
According to this doc , there is no problem at all. but I agree with you :). https://material.io/design/platform-guidance/cross-platform-adaptation.html#cross-platform-guidelines

[2019-03-26 22:18] abaart commented on #881
Hmm, ok so this should be an issue on the material design language then... How shall we proceed?

[2019-03-27 09:42] gawrysiak commented on #881
@abaart for iOS, they usually prefer the switch component when building layouts. It could be a good idea to display it conditionally e.g. Platform.OS === 'ios' ? <Switch /> : <Checkbox />

[2019-03-27 11:12] #894 closed

[2019-03-27 11:13] ferrannp commented on #950
Yep, this issue belongs to `react-native-vector-icons`.

[2019-03-27 11:13] #950 closed

[2019-03-27 15:08] gawrysiak commented on #881
related: #390

[2019-03-28 18:44] agarant opened #955 "Chip | Support border-radius + default to theme roundness"
## Describe the feature
The chip component currently ignores the [roundness](https://callstack.github.io/react-native-paper/theming.html) setting of the react-native-paper theme. It would be great if it would set its borderRadius based on the roundness.

## Motivation
Help achieve a consistent [theme](https://material.io/design/components/chips.html#theming).

## Related Issues
Currently, when a b

[2019-03-28 19:08] Trancever commented on #955
Hi @agarant. We could do something like that ```const { borderRadius = 16 } = StyleSheet.flatten(style);``` and then pass borderRadius to both wrapping view and touchable. Wanna send a PR?

[2019-03-28 19:31] agarant commented on #955
Hi @Trancever. Yes, I can send a PR for it. Are you also ok with using the roundness as the default value ?

[2019-03-28 20:51] ablbol commented on #938
Hi, I tried using ref and I  received the following error:

Attempting to run JS driven animation on animated node that has been moved to "native" earlier by starting an animation with `useNativeDriver: true`
``_animatedPropsCallback``
``    createAnimatedComponent.js:110:10``
``update``
``    AnimatedProps.js:91:4``
``_flush``
``    AnimatedValue.js:64:25``
``_updateValue``
``    AnimatedValue.js

[2019-03-29 02:15] ThailanHigor opened #956 "Icons"
How to change the library icons to MaterialCommunityIcons?
I need another icon.

I'm using in BottomNavigation in routes state.
[code]

[2019-03-29 05:29] joaom182 opened #957 "Modal component on iOS is not responsive with Keyboard ON"
## Environment

`react-native-paper 2.15.0`
`react-native 58.5`

## Description

Modal wrapper is not responsive on iOS with Keyboard On

## Reproducible Demo

![ezgif com-optimize](https://user-images.githubusercontent.com/3612098/55211186-bcd71780-51c9-11e9-8440-844d92a7c194.gif)

## Expected Behavior
Fit height of modal to the available size on screen with keyboard ON. (This is the behavior on

[2019-03-29 06:52] YajanaRao opened #958 "error: fontFamily 'Material Icons' is not a system font"
### Current behaviour
I am using Icons in "react-native-paper": "2.14.0", I am getting warning
`The syntax "import { Font } from 'expo-font'" is deprecated. Use "import * as Font from 'expo-font'" or import named exports instead. Support for the old syntax will be removed in SDK 33.1` in snack.expo.io and error
`fontFamily "MaterialIcons" is not a system font and has not been loaded through Font.l

[2019-03-29 07:03] brunocrpontes opened #959 "TextInput throwing a Animated error"
## Environment

Expo v32.0.0
running project in a iOS v12.1.4
react-native-paper v2.15.0

## Description
When i try update error props in a TextInput it returning this error:

![IMG_0166](https://user-images.githubusercontent.com/13150168/55214946-e2b6e900-51d6-11e9-875d-900cbcdc58c9.PNG)

## Reproducible Demo

https://snack.expo.io/@brunocardosor/restless-apples

## Update

I tested in a Android

[2019-03-29 07:32] brunocrpontes commented on #917
Hi, @anveshreddy87 :)

1 - you're using a deprecated method to get refs, try use React.createRef instead.

2 - when you render a custom TextInput inside the TextInput from paper the refs aren't passed to his children, so you need to get the ref direcly from TextInputMask like this:

[code]
3 - If you read the documentation of [TextInputMask](https://github.com/benhurott/react-native-masked-text#ge

[2019-03-29 07:34] murtraja opened #960 "TextInput hides label onBlur on Web"
## Environment

react-native-paper: 2.15.0
react-native: 0.57.5
react-native-web: 0.9.13

## Description
Focus the TextInput and then click outside to defocus it. Notice that the label is gone. It has something to with the opacity. Please refer the gif. Also, before defocussing, if you enter some text and then delete the text, this doesn't happen. It only happens when you focus an empty TextInput

[2019-03-29 07:38] YajanaRao commented on #958
Solution for me was this:
[code]

[2019-03-29 07:38] #958 closed

[2019-03-29 09:54] murtraja commented on #960
potential fix:

[code]

[2019-03-29 11:14] satya164 commented on #959
cc @Trancever I believe we need to remove `useNativeDriver` from all animations

[2019-03-29 12:42] HarisSpahija commented on #957
Same issue when using KeyboardAwareScrollView. I think it really has something to do with text inputs breaking a dialog.

[2019-03-29 12:54] HarisSpahija commented on #957
Probably related? #491

[2019-03-29 13:14] HarisSpahija commented on #957
Could you share your code example? I would like to fix this issue

[2019-03-29 13:28] joaom182 commented on #957
@HarisSpahija Simply create a dialog with a scrollable content with TextField.

[code]

When height of content is small, the Dialog appears behind of Keyboard.

![Simulator Screen Shot - iPhone X - 2019-03-29 at 10 27 26](https://user-images.githubusercontent.com/3612098/55235865-58d64280-520d-11e9-8ea2-33ed890eda99.png)

[2019-03-29 14:01] satya164 commented on #956
Duplicate of #926

[2019-03-29 14:01] #956 closed

[2019-03-29 18:58] joaom182 commented on #957
@HarisSpahija i've found a solution, see #963

[2019-03-30 16:40] cheuk3 opened #966 "'loading' does not exist in type 'BannerAction'"
## Environment

## Description

When using the Banner component and pass a loading props to the actions button will get the following typescript error:
'loading' does not exist in type 'BannerAction'.

## Reproducible Demo

[2019-03-31 14:06] #955 closed

[2019-03-31 17:31] enagorny commented on #938
I'm getting same error in 2.15.0. I've tried to comment ref but it still fails.

[2019-03-31 20:42] enagorny commented on #938
Looks like it was some issue with caches. Cleaning all caches helped.

[2019-04-01 06:28] enagorny commented on #938
@ablbol Looks like this is connected to Xcode update. Try downgrading to Xcode 10.2

[2019-04-01 09:29] #959 closed

[2019-04-02 07:06] murtraja commented on #844
@888dev, for me this happens when the cursor color changes. Workaround here is to hardcode the value of `selectionColor` to your primary colour, then the cursor color won't change even if there is an error and you should be able to see the cursor always

[2019-04-02 07:09] murtraja commented on #960
I realized that this is duplicate #733

[2019-04-02 07:09] #960 closed

[2019-04-02 07:10] murtraja commented on #733
@nwpray, I came up with something similar in #960

[2019-04-02 09:14] saharjedidi opened #969 "BUG : OnBlur in TextInput RTL"
![Screen Shot 2019-04-01 at 5 00 37 PM](https://user-images.githubusercontent.com/45098179/55390899-1627a980-5530-11e9-8988-74512e4530e0.png)

[2019-04-02 13:35] enagorny commented on #938
https://github.com/callstack/react-native-paper/pull/968

[2019-04-02 14:11] mihaidaviddev opened #970 "Menu is not working in iOS"
## Description

Menu component relies on StatusBar.currentHeight which is Android only as stated in react native docs
[https://facebook.github.io/react-native/docs/statusbar](url)

I've changed that line with the one below and it's working now
`const top = Math.max(SCREEN_INDENT, y) + 40;`

![Simulator Screen Shot - iPhone 8 - 2019-04-02 at 15 19 25](https://user-images.githubusercontent.com/47058

[2019-04-02 15:33] 888dev commented on #844
Thank you

[2019-04-02 15:33] #844 closed

[2019-04-03 07:43] ferrannp commented on #970
Hey! Thanks for opening the issue, @Trancever is working on it!

[2019-04-03 15:21] DianaKoenraadt commented on #706
Can the documentation be updated so that the code matches the screenshot?
See: https://callstack.github.io/react-native-paper/radio-button.html

[2019-04-03 23:47] smkhalsa commented on #914
@Taym95 Have you had a chance to take a stab at this?

[2019-04-04 03:18] Unicity-Pimentel opened #973 "List.accordion no titleStyle?"
I created a page using List.Section,Accordion and Item where when the List.accordion and List.Item is pressed it will automatically update its styles (font color, bg color). So far the List.Item is the only one working properly atm. Any suggestions on this ?

[2019-04-04 04:50] mitulsavani commented on #914
I would like to give a shot on this issue too!
Can somebody quickly tell me how I can test the component after making changes?

[2019-04-04 06:41] Trancever commented on #914
@mitulsavani There is an Example app in `Example` directory. For more informations check [Contributing Guide](https://github.com/callstack/react-native-paper/blob/master/CONTRIBUTING.md)

[2019-04-04 06:53] hugopretorius72 commented on #969
@saharjedidi , any idea why this is happening? Or a possible workaround for it? I experience the same on RN 0.59.3.  Thanks in advance

[2019-04-04 07:28] Trancever commented on #969
Check version 2.15.1 of Paper, it should be fixed. Let me know if there are any other issues.

[2019-04-04 07:28] #969 closed

[2019-04-04 07:29] hugopretorius72 commented on #969
Thanks man, will do!

[2019-04-04 07:55] hugopretorius72 commented on #969
Thanks @Trancever for the quick reply and the fix.  Legend 🙌🏻

[2019-04-04 08:06] aknad opened #974 "multiline TextInput with fixed height"
## Environment

react-native: 0.59.3
react-native-paper: 2.15.0
device: iPhone 7Plus - iOS 12.2

## Description

in a multiline TextInput with a fixed height, the text goes under the label when all the visible lines are used
it seems to happen only on iOS
![IMG_289200F6A359-1](https://user-images.githubusercontent.com/7056879/56127124-c3f97600-5f7c-11e9-9c50-ccc23bda83ef.jpeg)
on Android is ok
![S

[2019-04-04 09:41] smkhalsa opened #975 "Feature Request: Use Appbar.Header with react-navigation"
It would be great if we could use Appbar.Header as a drop-in replacement for the standard Header component within a react-navigation StackNavigator.

Maybe we could use a customer StackNavigator, similar to:

https://github.com/react-navigation/react-navigation-material-bottom-tabs

[2019-04-04 13:09] Trancever commented on #970
Once #976 is merged, issue will be fixed

[2019-04-04 13:22] Trancever commented on #947
Hi @zedart Try to pass borderRadius also to `contentStyle` prop, it should fix the problem with ripple.

As for icons, did you link react-native-vector-icons? If not, please follow our getting [started guide](https://callstack.github.io/react-native-paper/getting-started.html)

[2019-04-04 13:26] Trancever commented on #917
@brunocrpontes Thanks for your suggestion!
@anveshreddy87 Does this solution from Bruno work for you, can we close the issue?

[2019-04-04 16:18] artalat commented on #958
We shouldn't need to do this if we are using expo, as mentioned in the docs. But this isn't the case. I needed to use the solution mentioned above.

[2019-04-04 22:48] anveshreddy87 commented on #917
@brunocrpontes Thanks for the solution.
@Trancever It's working now as expected..thanks and we can close the issue

[2019-04-04 22:48] #917 closed

[2019-04-05 09:20] mihaidaviddev opened #977 "Menu height problem in ios"
I needed an autocomplete component for the project I'm working on, so I decided to use the Menu component to built this component. Later I found the status bar height bug #970 and decided to create PaperMenu component forked from Menu with a small fix (using a default height of 40)

TextInputAutocomplete.tsx

[code]
It was working fine in android simulator/device, but in ios it was working only in

[2019-04-07 19:26] sibelius commented on #808
any workaround for this one?

[2019-04-08 14:03] DianaKoenraadt opened #978 "Cannot type in TextInput: Always resets to defaultValue"
## Environment

  "dependencies": {
    "@expo/samples": "2.1.1",
    "expo": "^32.0.0",
    "react": "16.5.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-32.0.0.tar.gz",
    "react-native-paper": "^2.15.0",
    "react-navigation": "^3.6.0",
    "react-redux": "^6.0.1",
    "redux": "^4.0.1"
  },

## Description

I use TextInput from react-native-paper in combination wit

[2019-04-08 14:16] DianaKoenraadt commented on #978
When the TextInput loses focus, it reverts to defaultValue. React native's TextInput does not have this problem. I got around this by not setting this.customerName in the constructor, but binding defaultValue={this.props.customerName} directly.

[2019-04-08 14:16] #978 closed

[2019-04-09 19:42] stevemoser opened #980 "Pencil button on doc site to edit docs is broken"
## Environment

## Description

Clicking on the pencil icon on the Paper doc site results in a 404 GitHub page.
## Reproducible Demo

[2019-04-09 20:14] edujtm commented on #733
We are having the same problem on mobile, but weirdly it only happens after we add three TextInputs or more. Changing the TextInputFlat.js as mentioned by @nwpray didn't solve the issue for us, but I'm not sure if we missed something when changing the downloaded file.

[2019-04-09 21:56] ferrannp commented on #977
Should be fixed on `2.15.2`.

[2019-04-09 21:56] #977 closed

[2019-04-09 21:56] ferrannp commented on #970
Should be fixed on `2.15.2`.

[2019-04-09 21:56] #970 closed

[2019-04-10 14:23] connercms commented on #603
I really appreciate the work on the menu component but I don't think it quite yet delivers as a drop down menu. As of right now (on iOS anyway), the menu covers the anchor, which isn't terrible but doesn't resemble the drop down in the MD link above.

MD dropdown
<img width="147" alt="Screen Shot 2019-04-10 at 8 44 44 AM" src="https://user-images.githubusercontent.com/12799522/55884038-fa925380-5b

[2019-04-11 06:41] YajanaRao opened #984 "Swipe Action for Bottom Navigator"
## Ask your Question

I want to move to the next tab by swiping. I found the  SwipeEnabled property for Tab Navigator. Is there any such option for Bottom Navigator

[2019-04-11 08:45] HarisSpahija commented on #980
Example: https://callstack.github.io/react-native-paper/toggle-button-group.html

[2019-04-11 09:19] Taym95 commented on #980
@HarisSpahija I submit a PR should fix it.

[2019-04-11 09:25] #980 closed

[2019-04-11 14:38] sinansonmez commented on #789
Hello again,

I have tried with padding to reposition it based on width and height to position at the same place both FAB and FAB.group. However it works on some devices but FAB.group button position is not aligned on some devices.

Can you suggest any other solution.

Here is a snack for you to see the code
https://snack.expo.io/@sinansonmez/fab-button

[2019-04-12 06:50] hugopretorius72 commented on #975
This would be so great

[2019-04-12 08:48] manelsanz opened #987 "IconButton with SVG as icon doesn't make ripple effect (Android 8.0)"
## Environment

React Native 0.59.3
React Native Paper: 2.14.0
Device: Huawei Mediapad T5
Android: 8.0.0

## Description

The problem is that, when press the `IconButton` the effect is too retarded or it's impossible to see at least. I think the ripple goes below the Icon. But, the curious thing is that with my Xiaomi Mi 8 Lite with Android 9.0, the ripple shows as expected. And, in all cases, wit

[2019-04-12 15:06] sinansonmez commented on #789
Hello again,

I have managed to solve it using some basic math by leveraging  width (onLayout prop of view) of view where our FAB button is placed.

[code]
Style of FAB Button and position it half of view height
[code]
Style of FAB.Group Button and position it half of view height + ad height and minus 16 because FAB.Group by default has 16 px margin
[code]

[2019-04-12 20:31] AlexMachin1997 opened #988 "React-Native Floating Action Button"
How can I create a material floating icon? I've seen it in the showcase, but I can't find it within the docs.

[2019-04-12 20:37] ferrannp commented on #988
Here you go https://callstack.github.io/react-native-paper/fab.html.

[2019-04-12 20:37] #988 closed

[2019-04-13 09:20] AsafAbrhmoff opened #989 "How to render rows with List.Section"
Hi. I did'nt understand from the Docs how to use in List.Section.
I want to render dynamic rows of List.Items.
In react native components i used in ListView and with the props od dataSource and renderRow.

Thanks for helping

[2019-04-13 13:51] carizzapanopio opened #990 "undefined is not an object (evaluating '_reactNativePaper.Menu.Item)"
### Current behaviour

### Expected behaviour

Menu.Item from Menu Component doesnt work. I am getting this error:

![image](https://user-images.githubusercontent.com/3467685/56080595-9fdf4d00-5e35-11e9-82ca-f1ac03d0e72b.png)

### Code sample
import { Button, Paragraph, Menu, Divider, Provider } from 'react-native-paper';
render() {
   return (
    <Provider>
        <View
          style={{

[2019-04-13 13:53] satya164 commented on #990
The latest version is 2.15.2. Please upgrade.

[2019-04-13 13:53] #990 closed

[2019-04-14 15:59] AlexMachin1997 commented on #989
From messing around in the list.section snack it would just be a simple .map() or forEach() and you would return a list.item.

[2019-04-14 16:08] AlexMachin1997 opened #991 "Modal Snack Is Broken"
## Environment

N/A as it's  an online snack

## Description

When the modal snack is run the following error is shown:
![image](https://user-images.githubusercontent.com/29917195/56095668-0cf6ef00-5ed7-11e9-9182-ad1d9afeb7a3.png)

## Reproducible Demo

[Demo link
](https://snack.expo.io/@alexmachin1997/bW9kYW?name=Modal&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fmodal.ht

[2019-04-15 09:29] jaysbytes commented on #984
According to Material UI docs, Bottom navigation doesn't have sipe functionality by design. We follow MUI docs and we cannot introduce a feature inconsistent with docs.

[2019-04-15 09:31] #984 closed

[2019-04-15 09:58] RichardLindhout opened #993 "Use List.Item structure in Menu"
## Describe the feature

Maybe we could export the List.Item component from the Menu.Item so we could support more customization.

## Motivation
I can't add a description to the menu item.

## Related Issues

[2019-04-15 10:20] #707 closed

[2019-04-15 10:32] #989 closed

[2019-04-15 10:32] ferrannp commented on #987
@manelsanz can you add a repro? and a gif maybe?

[2019-04-15 10:35] #947 closed

[2019-04-15 10:36] #935 closed

[2019-04-15 10:36] #920 closed

[2019-04-15 10:39] #893 closed

[2019-04-15 10:41] ferrannp commented on #2
Our recommendation https://github.com/osdnk/react-native-reanimated-bottom-sheet.

[2019-04-15 10:41] #2 closed

[2019-04-15 10:43] Taym95 commented on #991
I will take it.

[2019-04-15 10:43] jaysbytes commented on #974
Hi @aknad, I don't really get what is the problem or which behavior would you expect? As you can see when text is not fitting the screen it gets scrollable. I think it is a great behavior. Maybe the distance between the label and text area is too small for you?

[2019-04-15 10:45] gawrysiak commented on #2
I've been trying the reanimated-bottom-sheet but then ended up with https://github.com/osdnk/react-native-reanimated-bottom-sheet/issues/16 (can't press elements inside the bottom sheet on android). For now I'm using https://github.com/root-two/react-native-drawer and waiting for a better solution

[2019-04-15 10:50] aknad commented on #974
Hi @jaysbytes ,
the text is scrollable but when it reach the fixed height it scrolls up and it goes over the label
![IMG_289200F6A359-1](https://user-images.githubusercontent.com/7056879/56127124-c3f97600-5f7c-11e9-9c50-ccc23bda83ef.jpeg)

[2019-04-15 12:16] Trancever commented on #914
Fix is included into [3.0.0-alpha.0](https://github.com/callstack/react-native-paper/releases/tag/v3.0.0-alpha.0).

[2019-04-15 12:17] #914 closed

[2019-04-15 12:39] ferrannp opened #994 "Export useTheme from react-theme-provider"
This might also give us the possibility for better typings when extending theme.

[2019-04-15 14:00] Taym95 commented on #991
You should wrap your root component with `Provider` this should work:

[code]

[2019-04-15 18:56] jaysbytes commented on #974
@aknad Now I see the issue. I opened your snack on my device and it worked as expected. Could you please add this screenshot to description and describe device on which it happens (platform, device model, OS version) in environment section?

[2019-04-15 19:05] jaysbytes commented on #973
It looks like a missing feature. I think we can add `titleStyle` and `descriptionStyle` to List.Accordion and `titleStyle` to List.Section. @Unicity-Pimentel you know, PRs are welcome if you have some time :D. Just let others know whether you work on it or no. I could probably take it within a few days.

[2019-04-15 19:54] aknad commented on #974
Sorry, I forgot to test it on Android
the issue seems to happen only on iOS
Anyway I've updated the description
Thanks

[2019-04-16 08:54] #605 closed

[2019-04-16 10:29] jaysbytes commented on #974
I've checked the issue and the same thing happens if native text input is used. So Issue is related to `react-native` itself rather than `react-native-paper`.
We can fix this replacing padding with margins but then hit area of text input will suffer. We can call the focus method on ref when input container will be pressed but it doesn't sound good. I think this workaround is not worth doing to sup

[2019-04-16 11:08] jaysbytes commented on #876
Please use the bug report template to describe your issue. Closing for now.

[2019-04-16 11:08] #876 closed

[2019-04-16 11:37] jaysbytes commented on #715
Shadow API works only for iOS, if you want to set a shadow on android you should use `elevation` prop. However, due to how elevation works you will not be able to get the same result as with usgin shadow on iOS. Your code works for me in `react-native-paper` example app on iOS so I'm closing issue for now.

[2019-04-16 11:37] #715 closed

[2019-04-16 11:48] jaysbytes commented on #705
Hi @scabezasiq. How it should look like? I don't get it.  Can you show some example?

[2019-04-16 11:55] #352 closed

[2019-04-16 11:57] jaysbytes commented on #280
Closing because of lack of activity.

[2019-04-16 11:57] #280 closed

[2019-04-16 12:09] jaysbytes commented on #991
@Taym95 Thank you for finding the solution! Our snack examples are autogenerated from documentation example so If you will fix example in docs the snack will be also fixed. Do you want to create a PR? Otherwise, I will take it.

[2019-04-16 18:24] raksahb commented on #974
I am seeing a similar issue but it is when there is an outline on the multiline text input. same versions as in the ticket.
![Text_Input_overlaps_border](https://user-images.githubusercontent.com/2277664/56234417-1d73aa80-603a-11e9-812f-820769d82ba1.png)

[2019-04-17 07:12] Taym95 commented on #991
@jaysbytes I already created a PR, waiting for review!

[2019-04-17 10:24] jaysbytes commented on #974
@raksahb Yes, it happens because of the same reason. As I said before I'm not sure about fixing it in paper as it seems to be an issue in react-native. We are currently refactoring TextInput and to fix this issuse we will need to mess the code.

[2019-04-17 13:14] nhatquangsin opened #999 "FAB Group auto change StatusBar barStyle when open"
## Description

As the title, I can't find a way to persist the barStyle of my StatusBar, it auto turns light when the FAB.Group open.

## Screenshot

<img width="468" alt="Screen Shot 2019-04-17 at 8 11 46 PM" src="https://user-images.githubusercontent.com/23427220/56290428-5486b080-614d-11e9-8956-41d070328d7d.png">

<img width="424" alt="Screen Shot 2019-04-17 at 8 11 43 PM" src="https://user-im

[2019-04-17 13:20] Yajan opened #1000 "How to pass props to child route in Bottom Navigation"
## Passing Props to child route

I want to pass props to child routes like

[code]

Using the above code is giving error as route is undefined. How this can be implemented using sceneMap ?.

[2019-04-17 14:33] AlexMachin1997 commented on #991
@jaysbytes Huh never realized they were auto-generated.

[2019-04-17 15:51] agat opened #1003 "List.Item Icon wrong spacing"
## Environment

Version: `3.0.0-alpha.0`

## Description

Right list item icon has too many space from right.

## Reproducible Demo

[code]
![iPhone 5s - 12 1 2019-04-17 18-35-58](https://user-images.githubusercontent.com/427919/56301793-3450f480-6141-11e9-9346-6c9264ae9cd8.png)

Specification example

![](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1isaPHCssty7wCBs9nkqik

[2019-04-17 18:04] idl99 commented on #782
Yes, i've experienced the same, using the Button. When the button mode is contained, the ripple doesn't appear. Tried changing rippleColor but to no effect. The ripple doesn't overlay on top of contained button.

[2019-04-17 20:25] elizamaria commented on #877
I also tried something for this to work, first for the flat input. Is it ok to add a new props style for the input child component that @jcarloTA said? I also make us of the input height in order to fix the label position when the height is smaller.

[2019-04-18 07:08] #991 closed

[2019-04-18 07:50] geminiyellow opened #1005 "menu layout problem in web"
## Environment

`react-native-web@latest`

## Description

![nb2](https://user-images.githubusercontent.com/929878/56345309-65d9c680-61fa-11e9-89f3-36f028ece1d4.gif)

![nb2](https://user-images.githubusercontent.com/929878/56345395-96216500-61fa-11e9-8c44-c991e304941e.gif)

## Reproducible Demo

copy from demo

[2019-04-18 07:50] satya164 commented on #1005
cc @Trancever

[2019-04-18 07:55] geminiyellow commented on #1005
thanks @satya164 , should i add a resize watcher ? and set the window size from outside ?

[2019-04-18 08:10] satya164 commented on #1005
resizing the window should probably dismiss the menu automatically

[2019-04-18 13:12] Yajan opened #1006 "Snackbar overlap on bottom navigation"
## Snackbar content is  overlapping on bottom navigation.  Clicking on snackbar action is navigating screen

[2019-04-18 14:11] Yajan commented on #1000
I am trying to implement [Standard bottom sheet ](https://material.io/design/components/sheets-bottom.html#standard-bottom-sheet) of material UI. I want to have a component globally above the bottom navigation. How this feature can be implemented using react native paper components ?

[2019-04-19 07:36] sijad opened #1007 "wrong text align in RTL"
## Environment

react-native: 0.59.3
react-native-paper: 2.15.2

## Description

[this commit](https://github.com/facebook/react-native/commit/871290f) changes text align behavior in android.
`react-native-paper` also try to achieve something similar via styling but now it introduces conflict with that commit and text components (Subheader, Text, etc) renders in apposite direction.

`react-native`

[2019-04-19 11:44] AlexMachin1997 opened #1008 "React-Native Dialog input ?"
Hi,

I know you have a dialog component to handle actions, but I was wondering if you have a dialog with an input field?

I don't want to have to download another npm package :(

UPDATE:
I've noticed this:
![image](https://user-images.githubusercontent.com/29917195/56422782-23b79000-62a1-11e9-96e4-ae4e79ff9dd5.png)

Does it accept any form of input ?

Cheers,
Alex

[2019-04-19 12:15] AlexMachin1997 commented on #1008
Yes, you can, I thought the contents of the modal were limited turns out there not.

[2019-04-19 12:15] AlexMachin1997 commented on #1008
Yes, you can, I thought the contents of the modal were limited turns out there not.

[2019-04-19 12:15] #1008 closed

[2019-04-20 03:42] Secretmapper opened #1010 "Allow further style customisation with nested custom styles api"
First of all, awesome project!

## Describe the feature

Allow passing of styles to nested components/make components more decomposed

## Motivation

I wanted to create a custom FAB that's bigger than the current one (single main button). However, since FAB styles are only applied to root, I can only change the size of the main/actual button, and if I do the label stays small.

## Related Issues

[2019-04-21 08:40] giautm commented on #975
I needs this feature too. 😄

[2019-04-21 12:30] wandrzejczak commented on #999
+1, I've exactly the same problem.

[2019-04-22 04:59] devdebajyotidas commented on #605
I'm still facing the same issue. Tried `yarn upgrade react-native-paper` to get the latest fix you merged but still crashes on Android. Is there any other way to get the latest source or am I missing something here?

Thanks

[2019-04-22 05:00] devdebajyotidas commented on #605
On a side note, wrapping it inside a view fixes the problem though. It'd better if we could avoid nesting.

[2019-04-22 05:40] RaheelJaved commented on #1007
as far as the TextInput concerns, seems like it's aligning the text contents based on the actual value entered (the first letter), not the current language.

For example...
input value = "Ahmed", alignment = left
input value = "احمد", alignment = right
input value = "Ahmed احمد", alignment = left
input value = "احمد Ahmed", alignment = right
input value = "123 احمد", alignment = right

This is irr

[2019-04-22 06:21] KPS250 opened #1011 "Unable to use ref in TextInput"
## Environment
react-native-cli: 2.0.1
react-native: 0.59.3
react-native-paper: "^2.15.1",

## Description
Unable to use refs in React Native Paper for TextInput

## Reproducible Demo

 <TextInput
            ref={(c) => { **this.firstName** = c; }}
            label= {Strings.firstName}
            mode={'outlined'}
            value={this.state.fname}
            theme={this.inputStyle()}

[2019-04-23 00:23] AtlasRider commented on #1011
Try using

`ref="textInput"`

then access it via

`this.refs.textInput.focus();`

I had success with this approach

[2019-04-23 09:59] TingAli commented on #894
Getting this same issue, it's constantly trying to render it but failing to do so.

[2019-04-23 10:01] TingAli commented on #894
Works fine on the following, in case anyone else is wondering:

`"react-native": "0.58.3",
"react-native-paper": "2.11.0",`

[2019-04-23 10:31] manelsanz opened #1013 "Docs website is down"
The docs website is no longer working. Please, fix this ASAP...

Thanks

[2019-04-23 10:36] satya164 commented on #1013
Works for me

[2019-04-23 10:59] manelsanz commented on #1013
I'm saying this website: https://callstack.github.io/react-native-paper/index.html
For me it's not working, stucked loading...

[2019-04-23 11:20] Krizzu commented on #1013
Works for me

[2019-04-23 11:37] manelsanz commented on #1013
You have reason, in 4G on my mobile is working.. hmmm.. maybe I have to restart my router.
Thanks.

[2019-04-23 11:48] jaysbytes commented on #605
@devdebajyotidas This merge is not released yet. In a few days, we should release recent changes.

[2019-04-23 11:49] #1013 closed

[2019-04-23 16:15] jaysbytes commented on #1006
@Yajan can you please attach reproducible demo through https://snack.expo.io ? Also please attach info about a platform that you are using (ios, android, web, specify versions)

[2019-04-23 16:16] chadlavi-casebook opened #1015 "Card.Title expects type `React.ReactNode` but is rendered inside a `StyledText` -- which means in effect it can only accept a Text node"
## Description

Per the type definitions[[1](https://github.com/callstack/react-native-paper/blob/901745bc840bdef85446fc7d58160642c8f4b7de/typings/components/Card.d.ts#L19)], `Card.Title`'s `title` prop should accept any react node. However, because it is wrapped in a `StyledText` via the `<Title>` component[[2](https://github.com/callstack/react-native-paper/blob/master/src/components/Typography/

[2019-04-23 17:44] jaulz commented on #1015
Use left or right prop.

[2019-04-23 17:46] chadlavi-casebook commented on #1015
I mentioned left explicitly in my issue. Left has a fixed width of 40, and cannot be styled. It's not possible to do this without a hacky workaround where you apply a negative left margin to the title.

[2019-04-23 18:09] jaulz commented on #1015
Hm, maybe we should think about having a `leftStyle` and `rightStyle` then. This would be backward compatible and similar to the props we have for other components. Could you please come up with a PR which also includes the change of the type of `title`?

[2019-04-23 18:21] chadlavi-casebook commented on #1015
I'm not too familiar with flow-style typing but I'll give it a go. The logic to implement this, anyway, looks fairly straightforward.

[2019-04-23 18:41] jaulz commented on #1015
Great, thanks! It should be mostly copy&paste from other components 😊Please do not forget the Typescript types as well.

[2019-04-23 21:28] chadlavi commented on #1015
hello, this is me from my personal account. I've just done a PR for this.

[2019-04-24 09:19] satya164 commented on #1007
Looks like the change in RN is going to be reverted https://github.com/facebook/react-native/pull/24580

Closing the issue

[2019-04-24 09:19] #1007 closed

[2019-04-24 09:53] #1003 closed

[2019-04-24 09:54] Trancever commented on #549
Fixed in #1018

[2019-04-24 09:54] #549 closed

[2019-04-24 10:57] KPS250 commented on #1011
That Worked like charm. Thanks @AtlasRider !!

[2019-04-24 10:57] #1011 closed

[2019-04-24 11:01] KPS250 commented on #1011
That Worked! Thanks @AtlasRider

[2019-04-24 15:13] jaysbytes commented on #1000
You should reproduce your issue using https://snakc.expo.io to let others help you.
But I'm guessing that if you want to pass props inside screenMap you could use Higher Order Component to wrap your actual component and add some props there or use React context

[2019-04-25 06:31] kanapan opened #1022 "How To add BackAction Text"
## Ask your Question
example
![image](https://user-images.githubusercontent.com/26155436/56714239-6aecc780-675e-11e9-8ecf-5fff4ef000af.png)

[2019-04-25 06:32] #1022 closed

[2019-04-25 06:37] Yajan commented on #1000
I resolved this issue using redux. Sorry for inconvenience.

[2019-04-25 06:37] #1000 closed

[2019-04-25 08:19] Taym95 commented on #373
Hi, where we should add this documentation?

[2019-04-25 08:29] satya164 commented on #373
@Taym95 I think a new page under "guides" section will be good

[2019-04-25 08:44] navedar opened #1023 "Hiding BottomNavigation Bar"
How to **hide the BottomNavigation Bar** for a particular screen??

[2019-04-25 10:08] ferrannp commented on #859
Fixed https://github.com/callstack/react-native-paper/pull/942.

[2019-04-25 10:08] #859 closed

[2019-04-25 10:24] #973 closed

[2019-04-25 10:29] ferrannp commented on #1005
Also when you rotate your phone it should dismiss too.

[2019-04-25 12:37] satya164 commented on #999
Can you send a PR removing it? We'll remove it in 3.0

[2019-04-25 13:01] Taym95 commented on #999
I can send PR if no one is working on it!

[2019-04-25 15:26] #1005 closed

[2019-04-26 02:36] geminiyellow commented on #1005
woo, great , thank you @satya164 .

[2019-04-26 08:06] Trancever commented on #1005
It's going to be included in next release

[2019-04-27 20:56] partitect opened #1030 "Drawer and bottomnavigation"
Hi, i m using drawer and bottomnavigation same screen in react native first init project but i didnt work they.
How to use two components in one screen?

[2019-04-27 21:30] AlexMachin1997 opened #1031 "TextInput active colour ?"
Hi,

How can I modify the TextInputs active underline colour?

Cheers,

Alex

[2019-04-28 07:26] iyadthayyil commented on #993
We could use List.Item, But as per material guidelines Menu.Item doesn't have much customization.
It just has the text in mobile. icons and some little bit extra customization on the web.
Also it supports disabled action unlike List.Item.

If you would like to get more customization you could do this way:
[code]

[2019-04-28 07:50] #993 closed

[2019-04-28 09:28] iyadthayyil commented on #1031
To change inactive color you can pass `underlineColor` prop.
To change active color you can pass theme object with primary color.

Example:
[code]

[2019-04-28 09:42] #1031 closed

[2019-04-28 10:11] chico-malo opened #1033 "Implement button components, customize subtypes"
## Describe the feature
My requirement is that I want to wrap my custom elements with button components to realize the click function.

I want to use the click wave effect.

## Motivation

I'll describe the problem here.
In the code, the parent component Hard coding is Text, which prevents me from adding View

## Related Issues

[2019-04-28 12:11] Trancever commented on #1033
Hi @chico-malo . This library follows Material Design Guidelines, and our buttons are compatible with this design pattern. Why don't you build your own custom button that satisfy your needs (They are probably not compatible with Material Design)?

[2019-04-28 13:45] satya164 commented on #1033
You can use the `TouchableRipple` component to add ripple effect with fallbacks for unsupported platforms.

[2019-04-28 14:01] chico-malo commented on #1033
I also know this, but ... I want to have the click effect of material button. if I use the original ones, I can't do it at all.

[2019-04-28 14:08] chico-malo commented on #1033
I really appreciate it． This component is in the document, but I didn't read it carefully. Thank you, it solves my problem.

[2019-04-28 14:09] #1033 closed

[2019-04-28 14:10] chico-malo commented on #1033
I know how to solve this problem, thank you for your reply.

[2019-04-28 20:13] AlexMachin1997 opened #1034 "FAB.Group Icon source"
Hi,

I know React-Native-Vector-Icons is used for the icons, but which section is it? MaterialIcons?

Sorry for asking a lot of questions, it's just unclear in the docs

UPDATE: Ok it seems it pulls the icon from MaterialIcons. Shame really as I can't seem find a pencil icon

[2019-04-28 20:20] AlexMachin1997 commented on #1034
I'm going to close this issue as I've managed to solve the issue.

[2019-04-28 20:20] #1034 closed

[2019-04-28 20:21] satya164 commented on #1034
You can see the list of icons on the icons page: https://callstack.github.io/react-native-paper/icons.html

[2019-04-29 15:23] scottybo opened #1036 "How can a designer prepare a mockup for a programmer using Paper?"
Our usual flow is:

1. Project manager creates wireframes
2. Designer takes wireframes and makes them into visual prototype
3. Programmer takes visual prototype and implements it

Paper is new to us and we were wondering whether there are any design resources available to allow us to see all the available components and edit them in a design tool such as Sketch, Figma, Photoshop, Illustrator etc?

[2019-04-29 15:30] raajnadar commented on #1036
I think this issue has nothing to do with react native paper. Paper is build according to google material design guidelines. Generally UX/UI designer don't create designs according a UI library.

[2019-05-01 09:45] yousseftarek opened #1038 "Pass views as children to Datatable.Cell"
## Feature Description

I'd like to have the ability to pass custom views as children to be displayed within the Datatable.Cell as such:
[code]

## Motivation

The reason is, as the example above shows, I need to have quick actions available for the rows in the table.

Thank you for your efforts!

[2019-05-01 10:00] satya164 commented on #1038
Just render a view. You don't need to wrap it in `DataTable.Cell`

[2019-05-01 10:03] yousseftarek commented on #1038
That works just fine!
Thank You so much!
(Sorry, I wasn't paying attention)

[2019-05-01 10:03] #1038 closed

[2019-05-01 12:40] realioseb opened #1039 "Textinput - unfocus inputs on outer action"
I think it would be better if inputs unfocus on outer action.

Is it achievable somehow or are you planning to integrate?

[2019-05-01 13:31] devautor commented on #938
I am getting this with `2.15.2`: `Unable to resolve "./components/TextInput" from "node_modules\react-native-paper\src\index.js"`
@satya164 has suggested to clean cache; I did it, deleted `node_modules` and `yarn.lock`; still the same error is faced. How to fix this?

[2019-05-01 14:52] RichardLindhout commented on #1010
Maybe do it even further and allow nested props and merge the styles.

[2019-05-01 15:01] satya164 commented on #1010
We don't want to do this. Exposing internal components means it becomes significantly harder to make sure we don't introduce any breaking changes. If you need some specific feature, please open an issue so we can consider adding some props consumable via the public API.

[2019-05-01 15:01] #1010 closed

[2019-05-01 15:03] Secretmapper opened #1040 "Allow custom size of FAB"
## Describe the feature

Allow passing of size to FAB that will apply it to the FAB and the label (or perhaps, `size` and a `sizeLabel` prop)

## Motivation

I wanted to create a custom FAB that's bigger than the current one (single main button). However, since FAB styles are only applied to root, I can only change the size of the main/actual button, and if I do the label stays small.

## Related

[2019-05-01 15:04] Secretmapper commented on #1010
Fair enough, I created a more restricted feature request only pertinent to fab size [here](https://github.com/callstack/react-native-paper/issues/1040)

[2019-05-01 15:09] satya164 commented on #938
@devautor hmm, I asked you to reset metro's cache, not `node_modules`

[2019-05-01 15:27] Romiek commented on #1022
How to solve this?

[2019-05-01 16:58] devautor commented on #938
Hello @satya164 I did try that afterwards (didn't report for I am getting similar other error). I used [`exp r -c` to clean expo cache](https://stackoverflow.com/questions/51998636/how-can-i-clean-reset-cache-of-react-native-using-expo-not-sure-if-it-is-cach), and cleaned cache of expo client too. Now I am getting this:
[code]
It has been [discussed here](https://github.com/facebook/react-native/i

[2019-05-02 08:16] dylancompanjen opened #1041 "RadioButton in RadioButton.Group not showing active status anymore"
## Environment

iOS, Version 2.15.2

## Description

The RadioButton.Group example from the docs would auto show which radiobutton is active. Since a recent update, this doesn't work anymore and I have to put a "Status" prop on the RadioButton. I also noticed that it doesn't pick up my custom color theme (provided in PaperProvider), which also used to work a month ago.

## Reproducible Demo

https

[2019-05-02 10:52] AlexMachin1997 opened #1042 "FAB.Group multiple portals"
Hi,

So I've been using React-Native-Paper for a while now, it's been incredibly useful to use. However,

I'm experiencing a minor problem with the portal component. When I show the FAB.group initially it works fine, but when I trigger a dialogue component to appear the Fab.group icon can still be clicked as seen in the image below

![Screenshot_20190502_114102_com shoppinglistapp](https://user-im

[2019-05-02 11:20] satya164 commented on #1042
You need to re-order your components to render in the order you expect them to appear

For example, if you want to render the `Dialog` on top of `FAB.Group`, you need to render `Dialog` after `FAB.Group`:

[code]

It follows the same rule as rendering absolutely positioned views in React Native. Imagine if you had `<View style={{ position: 'absolute' }}>` instead of `<Portal>`, and the behaviour y

[2019-05-02 11:20] #1042 closed

[2019-05-02 13:16] brunohkbx commented on #1041
Hey @dylancompanjen. I've tried both platforms(android, ios) using this snack example and it is working fine. I also didn't have to pass the `status` prop. :thinking:

[2019-05-02 13:29] Taym95 commented on #1041
Same for me, can you provide a coding example, please?

[2019-05-02 15:20] MMaghfuri opened #1045 "Popup dialog and bottomNavigation"
## Ask your Question

[2019-05-02 16:56] dreadrocksean opened #1047 "There is no way to change the text color of a TextInput without using a theme provider"
## Environment

## Description

## Reproducible Demo

[2019-05-02 17:01] Trancever commented on #1047
That's how this library works. When you want to customize something, pass theme prop.

[2019-05-02 17:01] #1047 closed

[2019-05-02 17:07] #1041 closed

[2019-05-02 19:25] dreadrocksean commented on #1047
Oh my.  It seems very arbitrary that `backgroundColor` could be passed through a `style` prop, but something as basic as `color` is forced only through a proprietary `theme` prop.

[2019-05-03 01:15] gjvpaet opened #1048 "DatePicker Component"
Hi, first of all, thank you for creating this really awesome library! We're using this library at work and I notice that it didn't have a date picker material design component. It would be nice if that will be included in future releases so we can make use of that component.

[2019-05-03 07:34] iyadthayyil commented on #1048
This library follows [material design guidelines](https://material.io/guidelines/).
And there is no specific component for DatePicker in material design.

You can use [TextInput component](https://callstack.github.io/react-native-paper/text-input.html) from this library with react native's [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html) api and [DatePickerI

[2019-05-05 07:41] rsimbu89 commented on #321
H @Trancever  @saharjedidi
 Is there any way to set RTL option for placeholder in android?

Setting textAlign: 'left' || 'right' is working fine with iOS but not with android

[2019-05-05 11:23] AlexMachin1997 commented on #1042
So how would I counter this issue? I'm sure many other people have had this issue and It would be great to hear how to solve.

[2019-05-05 21:38] odesey commented on #857
I am using `react-native-navigation` as well and came across this thread while attempting to get things going.

The example the @Trancever provided is excellent, however there is a problem that needs to be addressed in it.

The `Home` and `Overview` screen should **NOT** be wrapped in a ```<Provider></Provider>``` component in addition to the ```HOC``` component.

Doing this will prevent your them

[2019-05-06 02:01] odesey opened #1050 "this.props.theme = undefined"
## Background Info
I am new to `react-native` and have been testing out `react-native-paper` with `react-native-navigation`. I came across an example repo in #857, I cloned this repo and have been familiarizing myself with `react-native-paper` and `react-native-navigation`

https://github.com/Trancever/paper-navigation-example

One issue I ran into was that my customized theme was not being applie

[2019-05-06 06:46] Trancever commented on #1050
@odosey Yes, you can safely remove that wrapping `Provider` from both `Home` and `Overview` screens, cause `Provider` is already applied thanks to `HOC`.
If you want to access theme in your component, you have to use `withTheme` hoc.

[2019-05-06 08:05] jaysbytes commented on #1045
So.. What is the question 😄?

[2019-05-06 08:05] #1045 closed

[2019-05-06 08:07] #1048 closed

[2019-05-06 11:28] mihaidaviddev opened #1051 "Add contentContainerStyle property to ModalProps interface"
ModalProps interface in Modal.d.ts is missing contentContainerStyle property from documentation

[code]

[2019-05-06 12:07] Taym95 commented on #1051
I will fix this one!

[2019-05-06 14:51] odesey commented on #1050
Thanks for the clarification @Trancever.

I got the theme to show up in the props by adding the following to your example app:

[code]

[2019-05-06 14:51] #1050 closed

[2019-05-06 15:31] greatwitenorth opened #1053 "Shadow not stacking properly"
## Environment

iOS Simulator
expo: 32.0.0
react: 16.5.0
react-native-paper: 2.15.2

## Description

I currently have a searchbar at the top of my app followed by a scroll view below. The searchbar is set to elevation 2 to show a slight drop shadow. When the list below is scrolled up, the items correctly scroll behind the searchbar, but the searchbar's  shadow disappears as seen in the image below

[2019-05-06 16:23] iyadthayyil commented on #1053
Try adding some padding to searchBar's parent View.

[2019-05-06 17:50] greatwitenorth commented on #1053
That seems to help, but I don't see the list item moving below the shadow since the View is now padded 5px down:

![collection](https://user-images.githubusercontent.com/547583/57244126-5ed5f500-6ffd-11e9-9492-ce85694a379d.gif)

[2019-05-06 18:04] satya164 commented on #1053
Absolutely position the search bar and add some top margin to your list. This is not an issue paper, it's because views are clipped on Android in RN.

[2019-05-06 22:08] #1053 closed

[2019-05-07 09:58] edmundojr commented on #781
`Appbar.Header` doesn't have shadow at all, even on react-native.

[2019-05-07 10:35] realioseb opened #1054 "Outlined textinput - different colors for placeholder and border"
## Ask your Question
How do I set different colors for placeholder and border when there is no value and input is not focused?

[2019-05-07 11:12] Taym95 commented on #781
@edmundojr work in [progress](https://github.com/callstack/react-native-paper/pull/785) will be fixed!

[2019-05-07 12:31] jaysbytes commented on #1054
Placeholder and border colors are taken from theme. There are no props to change them. You can try by changing `placeholder` color in theme, this color affects placeholder color and outline color when input is not focused
Check implementation of [outlined text input](https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput/TextInputOutlined.js)
[code]

[2019-05-07 17:31] Grohden opened #1055 "FAB.Group actions accepts a IconSource, not only a string"
## Environment

 `"react-native-paper": "2.15.0"` and Typescript

## Description

I was looking at the docs to see if i could use a custom icon source on the `FAB.Group` `actions`, but the type for the actions icon is specified as a string:
https://github.com/callstack/react-native-paper/blob/5935fb4c8010f884b407a91bef30a472dafe58a8/src/components/FAB/FABGroup.js#L32-L39

But the signature is wron

[2019-05-08 15:11] raajnadar commented on #1055
The FAB component only supports string even in FAB group because the FAB group used the FAB component as a child element. So the compiler is doing its job correctly.

Note paper only supports icon from material.io in v3 they are planning to add custom fonts support.

[2019-05-08 15:28] Grohden commented on #1055
https://github.com/callstack/react-native-paper/blob/5935fb4c8010f884b407a91bef30a472dafe58a8/src/components/FAB/FAB.js#L20

You mean the FAB component from the link above? Looking at the source it's declared that it supports a `IconSource` and not specifically a string

[2019-05-08 17:51] satya164 commented on #1055
Yes, it supports `IconSource`. PR welcome to fix it.

[2019-05-08 17:55] Taym95 commented on #1055
I would like to fix this issue!

[2019-05-08 18:18] Grohden commented on #1055
@Taym95 if you want to fix ok, else I could do it but it will take some days till I get some time for it

[2019-05-08 22:13] lpasquini opened #1056 "Appbar.Header with ImageBackground support"

[2019-05-09 08:08] Taym95 commented on #1056
Can you add a description, please?

[2019-05-09 10:08] #1051 closed

[2019-05-09 10:31] #1006 closed

[2019-05-09 10:32] ferrannp commented on #339
This issue is being stale for a year.

[2019-05-09 10:32] #339 closed

[2019-05-09 10:40] #1055 closed

[2019-05-09 11:06] #999 closed

[2019-05-10 08:55] cltsang commented on #1036
There is no react-native-paper design tool, but there is an [official theme editor for Sketch](https://material.io/tools/theme-editor/theme-editor-home.html).

[2019-05-10 18:03] arkinem commented on #947
![image](https://user-images.githubusercontent.com/44735584/57547280-0df43280-7356-11e9-8352-6ab80d5ec83d.png)

Passing borderRadius to `style` and `contentStyle` doesn't solve the problem. Ripple still has a default value.

[2019-05-10 18:39] Bonfs commented on #777
hi everyone, this problem persists in react-native 0.59.5, or maybe returned idk. The solution pointed by @hugopretorius72  still working for Button but not worked for BottomNavigation.
I have migrated from 0.57.8 to 0.59.5

[2019-05-13 10:26] #1054 closed

[2019-05-13 10:30] hussainahmad opened #1058 "Upgrade React native version to 0.59.8"
There is an [RTL issue](https://github.com/facebook/react-native/issues/24267)  which introduced in `0.59.3` due this [PR](https://github.com/facebook/react-native/commit/b3c74967ca6b20d7bda84c690ae3a99dfe255843) , Now this is reverted in with this [Commit](https://github.com/facebook/react-native/commit/f3801d90fad4720357989d6b5bdf630ef874ae5d) and published in `0.59.8` ,

[2019-05-13 10:36] satya164 commented on #1058
wdym by upgrade React Native? Paper doesn't depend on a particular version of RN

[2019-05-13 10:37] realioseb opened #1059 "Outlined TextInput - placeholder and border colors"
## Describe the feature
It would be great to add possibility to add different colors props for placeholder and border

[2019-05-13 10:43] hussainahmad commented on #1058
Thanks , there is a confusion, and I got it thank you.

[2019-05-13 10:44] #1058 closed

[2019-05-14 09:30] jaysbytes commented on #1059
related to #1054

[2019-05-14 12:11] brunohkbx opened #1062 "Applying backgroundColor to Drawer.Section leaks out to Divider component"
## Description
I was trying to add color to the background of `Drawer.Section` but it is leaking out below the `Divider`.

Its highlighted in the picture.
![bug](https://user-images.githubusercontent.com/6487206/57696808-1aafa980-7628-11e9-9865-814ac2050ff7.png)

## Reproducible Demo
[code]

[2019-05-14 12:45] Yajan commented on #686
Is it possible to have max of 1 line in the list

[2019-05-14 13:25] brunohkbx commented on #686
#996 will make us be able to customize the description prop of `List.Item`

[2019-05-14 17:41] jordy-wijman opened #1064 "Cross fade icon animation time"
## Describe the feature
The cross fade icon animation is now hardcoded to value 200, it would be awesome if this could be changed through props.

https://github.com/callstack/react-native-paper/blob/f4ef4bddc28764d8f87b3f98ccf8773d902535d2/src/components/CrossFadeIcon.js#L60-L64

## Motivation
I have a collapse functionality in my application, upon collapsing it executes a animation, however this

[2019-05-14 18:04] Trancever commented on #1064
@jordy-wijman It should be controlled via theme just like modal animatyion speed is controlled in 3.0 branch. Would you like to implement that?

[2019-05-14 18:10] Taym95 commented on #1064
Hey @jordy-wijman, if you are not working on this issue I would like to take it over.

[2019-05-14 18:11] jordy-wijman commented on #1064
Hey @Trancever yeah I could do that! However @Taym95 offered to help here, if you could then yes please, I'm quite busy atm so it would take some time.

[2019-05-15 07:59] hanwenbo opened #1065 "Child components in Modal are destroyed when visible = false"
Why is it that when Modal sets visible = false all the child components in Modal are destroyed and perform componentWillUnmount so that I can't save the paged data loaded in the page

[2019-05-15 08:42] suitupalex opened #1066 "Avatar.Image should take standard Image props"
## Describe the feature

Standard Image props like onError, onLoad, accessibilityLabel, etc. should be able through to the Avatar.Image component.

## Motivation

One example is, I'd like to fallback to Avatar.Text if loading an image via URI fails.

Off-topic question: I tried reimplementing Avatar.Image myself since it's so simple, but whenever I use my own component in a FlatList, it terribly l

[2019-05-15 09:29] jbinda commented on #1065
Hi - I modified the title because of its length

[2019-05-15 09:33] satya164 commented on #1065
Modal unmounts the components because it is unnecessary to keep things rendered when they are not visible and will increase memory usage. If you need to preserve the state inside modal, [lift the state up](https://reactjs.org/docs/lifting-state-up.html) to a parent component

[2019-05-15 09:33] #1065 closed

[2019-05-15 09:48] satya164 commented on #1066
PR welcome

Nope

[2019-05-15 09:50] suitupalex commented on #1066
Would love to make a PR. Should the props be declared in the component or can they be passed through with a spread operator? I'd imagine the latter to be future proofed, right?

[2019-05-15 09:54] #1062 closed

[2019-05-15 10:52] satya164 commented on #1066
Spreading rest of the props is fine I think

[2019-05-15 13:07] formatlos commented on #926
would be great if there's a setting to let the developer decide which one to use. I know that you always can pass a function for providing a custom icon, but this gets quite verbose.

[2019-05-15 15:51] jbinda commented on #154
I make PR to make TextInputs uncontrolled, probably there are also below components left to modify:
- [ ] Checkbox
- [ ]  Switch
- [ ] RadioButton

[2019-05-15 21:49] DevSoFar opened #1070 "IconButton performance and Render"
## Environment

React native mobile, ios/android

## Description
I have two problem:
1-Click on the IconButton is so slow when user click even in production.

2- IconButton not rounded in Android version.

[2019-05-16 02:30] kodayashi commented on #1056
Hey @Taym95 - I'd like to expand on this actually. I think a broader solution would be to allow for a renderBackground that accepts an arbitrary component for the background. For example, @lpasquini wants the Appbar.Header to have an image background, but in my case I'd like to pass in a LinearGradient component so that the background isn't a solid color (but instead a gradient). Currently, this i

[2019-05-16 06:27] jbinda commented on #1039
Hi @realioseb

Did you try to use methods described in docs ?
https://callstack.github.io/react-native-paper/text-input.html#underlineColor

You should achieve what you need by add ref to your TextInput and then call blur() method on that ref in your outer action.

[2019-05-16 07:46] Trancever commented on #1039
@realioseb This is the default behaviour of React-Native and there is nothing we can do to change it. If you want your TextInput to be automatically blurred on outer action, just put this in ScrollView.

[2019-05-16 07:46] #1039 closed

[2019-05-16 07:47] jbinda commented on #737
fixed in #1069

[2019-05-16 07:47] #737 closed

[2019-05-16 07:48] jbinda commented on #865
fixed in #1069

[2019-05-16 07:48] #865 closed

[2019-05-16 09:47] jbinda commented on #348
fixes in #1020

[2019-05-16 09:47] #348 closed

[2019-05-16 09:47] jbinda commented on #774
fixed in #1020

[2019-05-16 09:47] #774 closed

[2019-05-16 09:47] jbinda commented on #870
fixed in #1020

[2019-05-16 09:47] #870 closed

[2019-05-16 09:48] jbinda commented on #877
fixed in #1020

[2019-05-16 09:48] #877 closed

[2019-05-17 10:30] cltsang commented on #975
You can replace the default one by returning the Appbar.Header when you call createStackNavigator. reference: https://reactnavigation.org/docs/en/stack-navigator.html#stacknavigatorconfig

[code]
The example app in this repo also does something similar, see [here](https://github.com/callstack/react-native-paper/blob/master/example/src/RootNavigator.native.js#L14)

As a drop-in replacement, it's go

[2019-05-17 21:33] JBaczuk opened #1072 "Text Collision when defaultValue supplied"
## Environment

using master branch https://github.com/callstack/react-native-paper/commit/b1cb7288f9742a2c4bdeff9e04e7cf826abf285e

## Description

When a `defaultValue` is supplied to the 'outlined' `<TextInput>` component, and it is not in focus, the label and defaultValue collide.

<img width="328" alt="Screen Shot 2019-05-17 at 3 30 03 PM" src="https://user-images.githubusercontent.com/816241

[2019-05-18 14:50] jordy-wijman opened #1075 "Menu goes outside of screen when many items are present"
## Environment
Pretty sure it happens everywhere, I checked on iOS and Android, not web.

## Description
When using the menu component with many items, it overflows out of the screen, towards the top. See the demo for an example. I noticed that it also expands towards the wrong side (top instead of bottom), this only happens when lots of items are present. It would be great if it would just expand

[2019-05-18 15:11] iyadthayyil commented on #1075
Will fix this

[2019-05-19 08:07] ahkela21 opened #1076 "How to change textAlign props for the textInput"
Does the childStyle props still available to customize the textInput style ?

If yes, may i have some example on using the childStyle props because in the documentation from the official website it says that it accepts string type but normally I style with object type

If no, is there any workaround because i failed to change the textAlign

[2019-05-19 21:40] spyshower commented on #546
So I wasted so many hours using paper and the most basic thing, font size, is not available? Why would anyone use this library then lol?

[2019-05-20 04:43] Shriram-Balaji opened #1077 "Docs for integration with react-router-native?"
Hey! First of all, thanks for making react-native-paper. Its great to find such a useful component library.

I'd like to know if there's a document that you can point me to integrate with react-router-native? I'm able to see that [BottomNavigation docs](https://callstack.github.io/react-native-paper/bottom-navigation.html) explicitly mention how to integrate with react-navigation, but I'm using re

[2019-05-20 08:19] jbinda commented on #1072
Hello JBaczuk,

Thanks for sending PR.

The issue is already fixed in 3.0 branch with #1068

Regards

[2019-05-20 14:27] #1072 closed

[2019-05-20 23:39] kodayashi commented on #881
Docs should call out that iOS ignores this prop. Would also like to see the ability to set an unchecked color on iOS and/or border/customize the icon.

[2019-05-21 06:59] Trancever commented on #1077
Unfortunately we don't have, but there shouldn't be many differences between integrating it with react-navigation or any other lib since paper is navigation agnostic framework

[2019-05-21 09:39] Trancever commented on #546
@spyshower Just think about how many hours did you save by using Paper... If you are not happy with our library you can always send PR with improvements or make a fork and develop on your own.

[2019-05-21 15:22] JBaczuk opened #1080 "Card subheading wrap lines"
## Describe the feature

The subheading property of a card would wrap lines

## Motivation

If the screen is not wide enough it limits the text to a few words. Even on large phones:

<img width="361" alt="Screen Shot 2019-05-21 at 9 22 19 AM" src="https://user-images.githubusercontent.com/8162417/58108975-fb75c680-7ba9-11e9-9c36-851042827d08.png">

## Related Issues

?

[2019-05-21 16:01] Taym95 commented on #1080
Do you think should add multiline?

[2019-05-22 18:31] JBaczuk commented on #1080
Yeah I think it should wrap to the next line.

[2019-05-22 19:55] TikiTDO opened #1082 "Remove / Rename prepare script"
## Environment

Any version.

## Description

When managing running `yarn`, the package manager will automatically run several [specifically named scripts](https://yarnpkg.com/en/docs/package-json#toc-scripts).

This in turn can cause a lot of weird issues when running in yarn workspaces due to this script running outside of the expected order. While this is strictly a `yarn` bug, the direct cause

[2019-05-22 20:47] satya164 commented on #1082
the whole point of using `prepare` is to do less work when publishing by automatically running the script. we don't want to run an extra script manually before publishing. the script also needs to be run on git installs etc. automatically so the lib can be consumed from GitHub.

we don't have any issues with build speed, the babel plugin is pretty fast.

what kind of out of order issues?

[2019-05-22 21:16] TikiTDO commented on #1082
The issue is an intermittent failure when installing yarn libraries in a CI environment.

Yarn tries to give the `prepare` script it's own environment, which can conflict with the parent instance of yarn. This can cause one of the instances of yarn to extract an archive that does not exist, or is still being downloaded by the other, which causes the an error akin to this one:

`error https://regis

[2019-05-23 06:22] jaysbytes commented on #1076
Which version of Paper you are referring to? I cannot see any prop named childStyle on TextInput.
I checked the possibility to change text-align on input and on the current master branch you can change the inputted text's aligning but the label will now change its position. On new incoming 3.0 release text alignment change doesn't work at all, so we will need to work on this before release.

[2019-05-23 10:15] kashifdg commented on #603
@connercms can you share the details of how you achieved that look? i'm also looking into a decent implementation of the dropdown for the outlined design. Can't seem to find a decent one yet. Kinda destroys the whole look and feel of the app if i use anything else.

[2019-05-23 10:30] ferrannp commented on #590
Fixed in 3.0.

[2019-05-23 10:30] #590 closed

[2019-05-23 10:30] ferrannp commented on #852
Done https://github.com/callstack/react-native-paper/pull/735.

[2019-05-23 10:30] #852 closed

[2019-05-23 10:32] ferrannp commented on #768
#786 was merged.

[2019-05-23 10:32] #768 closed

[2019-05-23 10:38] ferrannp opened #1085 "Update react-theme-provider to 3.0.0"

[2019-05-23 10:48] ferrannp opened #1086 "Change dark theme default values following new Material guidelines"
See https://material.io/design/color/dark-theme.html

- Toolbar: add `primary` prop
- BottomNavigation: backgroundColor should use `surface` from theme

[2019-05-23 11:14] jaulz opened #1087 "Wrong tag for 3.0.0-alpha.1"
It seems the version `3.0.0-alpha.1` got a wrong tag:
![image](https://user-images.githubusercontent.com/5358638/58248542-ab8b3100-7d5c-11e9-8540-5c1cbda807b5.png)

[2019-05-23 13:31] jaulz commented on #1087
Solved as far as I can see 😊

[2019-05-23 13:31] #1087 closed

[2019-05-23 13:57] jaysbytes commented on #926
I'm working on it :)

[2019-05-23 18:45] Trancever commented on #1087
@jaulz Yep, should be good now

[2019-05-24 07:39] ahkela21 commented on #1076
Sorry, I referred to paper v2.15.2. However, after i checked again with the official documentation, the props has been removed and after referring with the file in the node module, it does not accept childStyle props as what you mentioned.

So, I think i probably will close this issue. Thank for your reply

[2019-05-24 07:39] #1076 closed

[2019-05-24 08:22] jaysbytes commented on #1076
No problem. I've check material design docs and there is no example with the explicit change of text alignment of the input text. The only example is where you use a suffix. Since we have RTL support and we are going to add prefix/suffix support in 3.0 we are probably not going to leave the possibility to change text alignment explicitly.

[2019-05-24 19:18] HolySamosa opened #1089 "Menu position wrong when anchored to upper right corner view"
## Environment
Paper v2.15.2

## Description
My project is presently using React Native Navigation and I would like to display a `Menu` when a button is clicked in the native top navigation bar / app bar. Since the top bar is native, it's button can't serve as an anchor for the `Menu`, so I planned to instead anchor to an invisible `View` immediately below the native toolbar button.

Unfortunately

[2019-05-25 11:42] Shriram-Balaji commented on #1077
@Trancever thanks for the response :+1:

[2019-05-25 11:42] #1077 closed

[2019-05-25 15:52] jorgechen opened #1090 "Styles not showing on Andoird with RN 0.59"
## Ask your Question

Having issues where I believe the styles are missing when viewing on the Android simulator.

I'm using `Searchbar`, `List`, `Icon` but only the text is showing:

![image](https://user-images.githubusercontent.com/1910135/58371813-74db2500-7eda-11e9-9381-7c6bc2315200.png)

package.json file
[code]

I am running in a monorepo so the `node_modules/react-native-paper` is installe

[2019-05-26 02:08] jorgechen commented on #1090
Fixed by replacing View with SafeAreaView around Searchbar

[2019-05-26 02:08] #1090 closed

[2019-05-26 14:11] fgagneten opened #1092 "[QUESTION] How to disable List.Accordion"
I would like to disable specific List.Accordion depends on condition, Is it possible? Override onPress so I can avoid expanding the accordion. I do not want to expand the accordion.

Thanks

[2019-05-26 18:01] iyadthayyil commented on #1089
I don't know why this issue is caused.

As a quick workaround wrap the menu in another view with position styles.

[code]

[code]

[2019-05-27 13:11] brunohkbx opened #1093 "Republish example app on expo"
The current version is very outdated.

Could someone please republish it with the latest updates?

[2019-05-28 13:51] connercms commented on #603
@kashifdg Here is the code I used to get that look. If anyone uses it I would recommend looking over it first as I just threw it together in an attempt to get a similarly styled dropdown working. Hope this at least gets you started.

[code]

[2019-05-28 15:41] kodayashi commented on #2
@satya164, @ferrannp - Is this closed b/c it won't be implemented? Would be nice to keep on the backlog at least since it's part of the material design spec.

[2019-05-28 19:53] Trancever commented on #2
@kodayashi Yes, it won't be implemented. There is [react-native-reanimated-bottom-sheet](https://github.com/osdnk/react-native-reanimated-bottom-sheet/issues/16) that implements bottom-sheet and we encourage to use this package instead.

[2019-05-28 22:17] samuelmataraso commented on #1059
@realioseb try this: [https://github.com/callstack/react-native-paper/issues/656](#656)

[2019-05-29 07:42] kashifdg commented on #603
@connercms Thanks mate. Will try it out

[2019-05-30 10:36] ferrannp commented on #1093
@satya164 is in your account?

[2019-05-30 13:56] brunohkbx commented on #1093
@satya164 I think only `Collaborators` can edit environment variables on CircleCI and it's not possible to retrieve the original value after adding.

Do you mind if I set up this workflow to deploy? It's related to #276

[2019-05-30 14:08] satya164 commented on #1093
I'll publish it.

If you can run a script in the CI, you can access the env variables. All it takes is to send a PR adding a script which logs them/sends them to a server and you have them.

[2019-06-01 23:08] joaom182 opened #1097 "Android release build fail - index.js: Cannot find module '../../dist/mappings.json'"
## Environment

Paper - 2.14.0
React-native - 0.58.5

## Description

On Android prod build returns the following error

[code]

[2019-06-01 23:15] joaom182 commented on #1097
For some reason on `npm install` or `yarn` process, is not executing script **prepare** (`node ./scripts/generate-mappings`) contained on package.json

[2019-06-02 05:19] yoeven opened #1098 "Dynamically choose Icon set from react-native-vector-icons through a prop"
Wouldn't it better to choose an icon by exposing a prop rather than having a render method to render another icon component from the same react-native-vector-icons library. I would suggest a prop for the Icon component that allows us to choose an icon set. This has actually been done by [react-native-elements](https://react-native-training.github.io/react-native-elements/docs/icon.html), it would

[2019-06-02 18:33] z0al opened #1100 "Bottom Navigation: custom styling"
## Describe the feature

I need to be able to specify a custom style for [BottomNavigation](https://callstack.github.io/react-native-paper/bottom-navigation.html) component. I'm particularly interested to make the BottomNavigation tabs take the full available width.

## Motivation

The current `style` prop only applies to the "container" which already takes the full width, but you can't AFAIK modi

[2019-06-03 08:46] IAmAbhishekTomar opened #1101 "Reacti Native Paper Document Site CSS not loading"
Hi Team,

your documentation web site page CSS not loading properly...

here is the URL...

https://callstack.github.io/react-native-paper/getting-started.html

[2019-06-03 10:00] ziponia opened #1102 "React Native Docuemtn Site css loading?"
https://callstack.github.io/react-native-paper/index.html

[2019-06-03 10:20] Trancever commented on #1101
We are working on it. Should be fixed in about an hour.

[2019-06-03 10:21] Trancever commented on #1102
Duplicate of #1101

[2019-06-03 10:21] #1102 closed

[2019-06-03 12:04] satya164 opened #1103 "Migrate project to TypeScript"
Flow gives us a lot of issues when upgrading RN version. We want to migrate to TS which gives a much better DX.

[2019-06-03 16:01] Trancever commented on #1101
Fixed!

[2019-06-03 16:01] #1101 closed

[2019-06-05 11:36] eightyfive commented on #420
Side note, I can report at least one problem using `react-native-paper` with Wix Navigation (RNN).

_Context_: I am showing a small Toast/Snackbar at the bottom of the screen inside a RNN overlay.

But when using RNN `interceptTouchOutside = false` Overlay option, it seems like some component added by `<PaperProvider />` is intercepting the taps, and not letting them through.

[code]

I initially

[2019-06-05 12:39] NithinKulal opened #1104 "How to enable scrolling in datatable"
Can anyone help me to enable scrolling in DataTable !!!

[2019-06-05 14:23] netochaves opened #1105 "FAB Group broken on snack"
## Environment

Snack.

## Description

When i try to run the fab group example on snack i'm getting this error.
![image](https://user-images.githubusercontent.com/19830660/58963718-0b81ce80-8784-11e9-8ff7-baa1e70cc790.png)

## Reproducible Demo

Just run on [snack](https://snack.expo.io/BJID18r0E?name=FAB.Group&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Ffab-group.html&co

[2019-06-05 14:35] netochaves commented on #1105
The error message is pretty clear, adding the Provider wrapper on Render will solve the problem, code after change:
[code]
can i send a pr to fix this in docs?

[2019-06-05 14:52] Romiek opened #1106 "How To add BackAction Text"
example

![56714239-6aecc780-675e-11e9-8ecf-5fff4ef000af](https://user-images.githubusercontent.com/16487038/58966217-2b2feb80-87b2-11e9-9b53-cbee07ea39bc.png)

For ios.

See also #1022 . No answer there. please help

[2019-06-05 17:03] netochaves opened #1107 "Grandient background FAB button"
## Ask your Question

How to set a gradient background color in FAB button?

[2019-06-05 18:44] raajnadar commented on #1107
This is not the right place to ask how to questions.

[2019-06-05 18:44] #1107 closed

[2019-06-05 18:46] raajnadar commented on #1106
This is not the right place to ask how to questions

[2019-06-05 18:46] #1106 closed

[2019-06-05 18:47] natelowry commented on #695
snack of @hotgeart's example code if you want to see it in action:

https://snack.expo.io/@natelowry/react-native-paper-drawer-sample

[2019-06-05 18:48] raajnadar commented on #1104
This is not the right place to ask how to questions. Try asking this question in the discord app.

[2019-06-05 18:48] #1104 closed

[2019-06-05 18:52] raajnadar commented on #1105
Sure send a PR to fix this issue

[2019-06-05 19:19] raajnadar commented on #725
New api added https://callstack.github.io/react-native-paper/chip.html#selectedColor

[2019-06-05 19:19] #725 closed

[2019-06-05 19:23] jtklein opened #1108 "Android: FAB group open changes status bar color"
## Environment
The screenshots are tacken from production version, i.e. Android apk run on an Android emulator.

## Description

When pressing a FAB group button, the Android status bar changes color. Happens on emulator and actual device. Expected behaviour: the color of the status bar stays the same.
The screenshots are from before and after expanding and closing the FAB group.

## Reproducible

[2019-06-06 04:52] raajnadar commented on #1108
Can you link a repro?? A snack will be easier to debug the issue

[2019-06-06 10:28] wojteg1337 commented on #1103
We are working on migration to TS from Flow.
There is a feature branch called `feat/flow-to-typescript`

List of migrated components:
- Button
- Snackbar
- Surface
- Appbar
- Avatar
- Card
- DataTable
- Modal
- SearchBar
- Dialog
- Drawer
- FAB

For now, we keep `.js` files and `.tsx` files - Right after code review we will get rid of `.js` files.

[2019-06-07 11:02] Yajan opened #1112 "Loading indicator in icon button"
## Describe the feature
As we have loading indicator in button, is it possible to have loading indicator in icon button with animation?

## Motivation
It is useful to display an action icon once pre actions are done.

[2019-06-07 11:20] rodriigovieira opened #1113 "Enabling scrolling in datatable"
## Describe the feature

It would be nice to be able to pass a prop to Datatable choosing whether it should be scrollable or not. Something such as `scrollable`.

If it is currently possible, I'm sorry, I looked for it but I didn't find it.

[2019-06-07 15:37] dominictwlee opened #1115 "Style override for TextInput"
## Describe the feature
Passing down style props to the NativeTextInput component within TextInput. Something like inputStyles that would override the default styles.

https://github.com/callstack/react-native-paper/blob/635d647f46347a5cf014cc1ef9bbb5fc4f9eed98/src/components/TextInput/TextInputOutlined.js#L221-L233

Maybe put it at the end of the styles array here?

## Motivation
I'd like to have

[2019-06-07 18:04] HolySamosa commented on #1089
@iyadthayyil Thanks for the work around!

[2019-06-08 09:45] tiendn commented on #1113
I think you can customized your own code with a `ScrollView` wrap here.
[code]

[2019-06-08 09:48] iyadthayyil commented on #1104
Duplicate of #1113

[2019-06-08 11:24] tiendn commented on #1066
Spreading rest of the props is fine, but I think define exactly props is better.
With the support of IDE, we don't need to read Official API which props have defined.

[2019-06-08 11:32] tiendn commented on #1056
So with `ImageBackground` we can solve the problem of @lpasquini, right?
Maybe we need an option with wrapper component like `<Appbar.Header wrapComponent={} ... />`

[2019-06-09 06:04] rjerue opened #1117 "Radio Buttons not working for Platforms when in groups. Also unable to use on select on agnostic buttons outside group."
## Environment

Android, iOS, Web

## Description

On Android, iOS, and web RadioButton.Android and RadioButton.IOS do not render any sort of selection. Only the regular "RadioButton" seems to work in groups. Outside groups. No onPress seems to register for the agnostic RadioButton, but .IOS and .Android work as expected.

## Reproducible Demo

See the following Snack https://snack.expo.io/@rjerue

[2019-06-09 14:17] raajnadar opened #1119 "Remove imports from expo"
Remove imports from expo package

https://github.com/expo/expo/issues/4501 to remove this warning.

https://github.com/callstack/react-native-paper/blob/8746abab9d26bb7eef76ec8f08648bb77d6fb04f/src/components/Appbar/AppbarHeader.js#L36

https://github.com/callstack/react-native-paper/blob/8746abab9d26bb7eef76ec8f08648bb77d6fb04f/src/components/Icon.js#L13

[2019-06-09 18:07] brentvatne commented on #1119
not necessary to remove these as we have patched the expo global to not raise these warnings. in the future when [optional imports](https://github.com/react-native-community/discussions-and-proposals/issues/120) are supported in metro we can get rid of the global and instead just wrap an import with try/catch to make it optional

[2019-06-10 01:26] hedikasmanto opened #1120 "[WEB] Style not working properly while using Icon on Component (RNW latest)"
## Environment

Using RNW 0.11.1 - latest (current : 0.11.4)

## Description

Component style looks great while using RNW 0.11.0 (with Icon)
![image](https://user-images.githubusercontent.com/9128724/59166920-96821080-8b58-11e9-9ff1-4a6089860f7f.png)

Component style lost padding while using RNW 0.11.1-latest (with Icon)
![image](https://user-images.githubusercontent.com/9128724/59166981-01334c00-

[2019-06-10 04:32] RyanMcDonald opened #1122 "IconButton: Not using primary theme color"
## Environment

react-native-paper@2.16.0

## Description

The IconButton is currently [using the text color](https://github.com/callstack/react-native-paper/blob/master/src/components/IconButton.js#L95) from the theme provider. It should use the primary color instead, to be consistent with the Button component.

[2019-06-10 04:37] RyanMcDonald opened #1123 "IconButton: Larger sizes getting cropped"
## Environment

react-native-paper@2.16.0

## Description
When the size starts going past 40, the icon gets cropped. It also looks like the wrapping View doesn't scale with the image

## Reproducible Demo
[code]
![image](https://user-images.githubusercontent.com/2695365/59172683-3fe7e880-8afe-11e9-8817-a0b901744d35.png)

To show the wrapping View:
[code]
![image](https://user-images.githubusercont

[2019-06-10 09:12] rodriigovieira commented on #1113
That's correct, it indeed works. The line became scrollable.

What I am trying to make, though, is for the table to work in smaller screens, by not displaying the three dots (...).

When I wrap the `Datatable.Row` in a `ScrollView` with the `horizontal` property, all elements get together, without any spacing between them. I tried to style it in several different ways, but I wasn't able to make it

[2019-06-10 17:32] #1105 closed

[2019-06-10 18:20] dhcmega commented on #929
Hi, I don't understand why is this closed. backgroundColor changes de color of the whole input while the problem is with the backgroundColor of the label. They don't match. Am I missing something? Thanks!

[2019-06-11 07:23] jtklein commented on #1108
Thanks for your interest!
The issue seems to have disappeared after upgrading some dependencies. (Expo -> 33 and others)
Closing for now

[2019-06-11 07:23] #1108 closed

[2019-06-11 09:58] Morsmetus opened #1126 "Can't transform Text to uppercase inside Button"
### Current behaviour
Can't transform text to uppercase inside button

### Expected behaviour
textTransform: 'uppercase' should display uppercase letters inside button

### Code sample
        <Button style={props.disabled ? styles.disabledButton : styles.primaryButton}>
            <Text style={styles.buttonFont}>{props.loading ? "Loading" : props.children}</Text>
        </Button>

         butt

[2019-06-11 10:09] satya164 commented on #1126
You're rendering `Text`, which is a React Native component, not from this library. I don't think the `Button` component matters in this case. If this is supposed to be working and is not working, you should open an issue in the React Native repo.

[2019-06-11 10:09] #1126 closed

[2019-06-11 10:29] halileohalilei opened #1127 "React Hooks support for ThemeProvider"
## Describe the feature

We should have the option to use `Theme`'s with React's `useContext` hook, instead of wrapping our components with HOC's using `withTheme`.

## Motivation

It looks like the new Hooks API is here to stay, and [Material UI](https://github.com/mui-org/material-ui/issues/15231) has mostly migrated to using it. It would be nice to reflect the same changes here too.

## Related

[2019-06-11 16:03] tiendn commented on #1113
You meant, `horizontal scroll`?
![giphy](https://user-images.githubusercontent.com/15717476/59287981-f2ee4880-8c9c-11e9-8562-1fc76dfe7b91.gif)

[2019-06-12 02:18] GollyJer commented on #1127
It already does I think.
https://github.com/callstack/react-theme-provider

[2019-06-12 02:30] GollyJer opened #1128 "How can I provide the theme prop from app state?"
This works if I'm changing the theme by hand.

[code]

What if the `theme` is saved to `store` from a Settings screen?
How do I propagate app state to the PaperProvider?

I'm feeling pretty ridiculous that I can't figure this out.

Thanks! 👍

[2019-06-12 03:11] GollyJer commented on #1128
Never mind. I'm an idiot.

[code]

[2019-06-13 13:14] gabriel-silva opened #1129 "state swap of RadionButton not working using react native paper 2.16.0"
## Current behaviour

state swap not working in version 2.16, in version 2.15.2 the RadioButton working normal.

## Expected behaviour

RadioButton working using react-native-paper how version 2.15.2

[2019-06-13 17:57] ferrannp commented on #1129
Hello @gabriel-silva,

I tried the Radio Button for `2.16.0` in our [example](https://github.com/callstack/react-native-paper/tree/master/example) app and it works fine for me. Could you share a repo or a snack with your code to try it out?

[2019-06-13 17:58] #1128 closed

[2019-06-13 17:59] ferrannp commented on #1127
We need to update `react-theme-provider` https://github.com/callstack/react-native-paper/issues/1085. If somebody can do it, feel free to take it :). Let's have the discussion in that issue.

[2019-06-13 17:59] #1127 closed

[2019-06-13 18:01] ferrannp commented on #1119
Awesome!

[2019-06-13 18:01] #1119 closed

[2019-06-13 18:05] ferrannp commented on #1115
@jbinda what do you think?

[2019-06-13 18:07] ferrannp commented on #1097
@joaom182 haven't seen this before, can you update react-native and react-native-paper to latest and provide a repro if this still happens?

[2019-06-13 18:08] ferrannp commented on #1093
No need to keep this open. @satya164 feel free to publish it or give somebody else accces, we can chat on Discord.

[2019-06-13 18:08] #1093 closed

[2019-06-13 18:08] ferrannp commented on #1089
Wdyt @Trancever ?

[2019-06-13 18:21] #166 closed

[2019-06-13 18:21] #154 closed

[2019-06-13 18:23] ferrannp commented on #420
Stale. Feel free to re-open if you want to implement something related.

[2019-06-13 18:23] #420 closed

[2019-06-13 18:24] #670 closed

[2019-06-13 18:24] #681 closed

[2019-06-13 18:25] #760 closed

[2019-06-13 18:25] #705 closed

[2019-06-13 18:26] ferrannp commented on #317
Dup #799.

[2019-06-13 18:26] #317 closed

[2019-06-13 18:28] ferrannp commented on #1030
Please refer to stackoverflow, this seems unrelated to react-native-paper (we do not have a Drawer). Thank you!

[2019-06-13 18:28] #1030 closed

[2019-06-13 18:29] #111 closed

[2019-06-13 18:30] ferrannp commented on #437
Will close to keep sanity in the number of issue but we will still try to keep up the good work :). Thank you all for your support!

[2019-06-13 18:30] #437 closed

[2019-06-13 18:31] #426 closed

[2019-06-13 18:31] #428 closed

[2019-06-13 18:31] HolySamosa commented on #1089
Also, while the suggested work-around of wrapping the Menu in a positioned view does move the menu to the right edge of the screen, the menu is still appearing a significant distance below the anchor (as also seen in the original image).

Any ideas?

[2019-06-13 18:32] #690 closed

[2019-06-13 19:03] rjerue commented on #1129
@ferrannp

May be related to https://github.com/callstack/react-native-paper/issues/1117

[2019-06-13 19:40] gabriel-silva commented on #1129
Yeah @rjerue, I am with problem. in version 2.13 or 2.15.2 working very nice.

[2019-06-13 19:44] gabriel-silva commented on #1129
@ferrannp, repo https://snack.expo.io/@rjerue/radiobutton.group

[2019-06-13 20:29] ferrannp commented on #1129
All right, let's close this one and keep the discussion in #1117.

[2019-06-13 20:29] #1129 closed

[2019-06-13 22:13] netochaves opened #1130 "FAB: loading prop not working if there is no label"
## Environment
react-native: ^0.59.6,
react-native-paper: ^2.16.0
## Description
The loading prop should show an activity indicator when it is true, but in my case it is not.
My FAB component
[code]
![image](https://user-images.githubusercontent.com/19830660/59471196-c78c6a80-8e10-11e9-96c1-0b167c4563a2.png)

[2019-06-13 22:30] netochaves commented on #1130
Looking at [components/FAB/FAB.js#L220](https://github.com/callstack/react-native-paper/blob/3b19f18822200bdbb33f4d8ff32faa525dc810b6/src/components/FAB/FAB.js#L220) i realize that to show the indicator, label has to be true too, why this? if i remove this extra condition the loading works fine.

[2019-06-14 05:56] netochaves commented on #1023
I do not know if this is what you are looking for, but I made this snack with a code to hide the tab bar when changing the screen, i just render null instead of the tab bar when changing the state and use the onIndexChange to choose in which screen to hide.
https://snack.expo.io/ryKGEhgkH

The bottomTabNavigator does something like this [here](https://github.com/react-navigation/tabs/blob/38f3af94

[2019-06-14 09:15] ferrannp commented on #1130
@Trancever do you remember why we show loading only when there is a label (extended FAB)? That was an external contribution so not sure if we missed something or is in the spec?

[2019-06-14 09:52] ProKashif opened #1133 "Hi! TextInput with button like show"
## Ask your Question

I have tested TextInput and tried to add button inside it but failed. Is there any support for the button in TextInput.

I have also added an image to explain my question.
![2019-06-14 14 47 29](https://user-images.githubusercontent.com/33416799/59500953-e98af900-8eb3-11e9-9efa-e66ba0c45d93.png)

[2019-06-14 10:06] ferrannp commented on #1133
We plan to add such trailing icon/button. See https://github.com/callstack/react-native-paper/issues/792. Let's keep the discussion there.

[2019-06-14 10:06] #1133 closed

[2019-06-14 13:13] Trancever commented on #1130
@ferrannp It was buggy in non extended type, the position was incorrect. If we can make sure it works fine for different icon/loading/label props combinations and position is correct I am ok with accepting a PR.

[2019-06-14 13:21] iyadthayyil opened #1134 "Missing commits in master"
These below merged pull requests are missing in master branch.

#965
#954
#972
#1001
#995
#1012
#997
#1026
#1029
#1032
#1028
#1046
#1049
#1044
#1052
#996

[2019-06-14 15:27] netochaves commented on #1130
I made all the combinations with loading, the position is fine i think

![image](https://user-images.githubusercontent.com/19830660/59519612-9d818980-8e9e-11e9-89dc-6c52f99b02ba.png)
icon + loading -> false

![image](https://user-images.githubusercontent.com/19830660/59519845-28628400-8e9f-11e9-86be-145a8a36f8c6.png)
label + loading

![image](https://user-images.githubusercontent.com/19830660/5951

[2019-06-14 16:44] brunohkbx opened #1135 "RNW - TextInput with wrong height"
## Environment
"expo": "^33.0.0"
"react": "16.8.3"
"react-dom": "^16.8.6"
"react-native": "https://github.com/expo/react-native/archive/sdk-33.0.0.tar.gz"
"react-native-web": "^0.11.4"

## Description
RNW renders TextInput with a wrong height. Its focus shouldn't overflow the container.
![Screenshot from 2019-06-14 13-33-11](https://user-images.githubusercontent.com/6487206/59524400-2b16a680-8eaa-

[2019-06-14 16:48] brunohkbx commented on #1135
cc @jbinda

[2019-06-14 16:50] jaulz commented on #1135
Could it be related to this https://github.com/callstack/react-native-paper/pull/1132? I noticed similar issues after upgrading.

[2019-06-15 04:55] iyadthayyil commented on #1089
@HolySamosa can you provide a snack?
It looks fine for me: https://snack.expo.io/@iyadthayyil/menu-position-bug

[2019-06-15 16:06] jorrharris opened #1136 "textStyle prop for Avatar.Text"
## Describe the feature
a textStyle prop for Avatar.Text so you can style the text inside the avatar.

## Motivation
Need to Italicize / Bolden the Avatar text.

[2019-06-15 20:21] cpboyd opened #1137 "Flex doesn't work on Button"
## Environment

Expo 33 & react-native-paper 2.16.0.

## Description

Applying `{flex: 1}` to the `Button` only applies to the `Surface` container, with no clear ability to properly stretch the `TouchableRipple` to fit.

As a result, the outline of the button fills the space, but the actual touchable portion does not.

## Reproducible Demo

[2019-06-16 19:30] anveshreddy87 opened #1138 "TextInput (underlineColor) is not working in android devices"
## Environment

"react": "16.8.3",
    "react-native": "0.59.8",
 "react-native-paper": "2.16.0",

## Description

In TextInput Component underlineColor is not working as expected. i tried different ways but underlineColor is not reflecting in android devices. i given hex value, rgba value, string color value. still same thing its not reflecting.

I don't want to show underline in android device w

[2019-06-16 22:13] netochaves commented on #1138
Try without `outlined` mode.

[2019-06-17 13:13] anveshreddy87 commented on #1138
I need outlined mode...is their a way to change underlineColor for Android?

[2019-06-17 13:16] iyadthayyil commented on #1138
Change the primary color in the theme

[2019-06-17 13:24] anveshreddy87 commented on #1138
primary color  is reflecting on the box....I don’t want to see any underline while user entering the characters in textinput box....In Android usually will see a underline while user starts typing in textinput box....

React-native: their is a property to hide the underline color specifically for Android (underlineColorAndroid).....

In that way is their any property to hide underline color?

Than

[2019-06-17 18:48] HolySamosa commented on #1089
@iyadthayyil: Looks like it renders correctly in Expo, but the additional vertical spacing appears when using vanilla React Native on iOS (Android is untested).

Here's the rendering of the same come from your snack running under vanilla React Native:

![image](https://user-images.githubusercontent.com/1156546/59628504-c6a85100-910e-11e9-9c60-d40bf606d1de.png)

[2019-06-18 10:13] jbinda commented on #1138
Hi @anveshreddy87
Thanks for posting issue. We have #688 and #775 which will be sorted out soon. It also should solve your issue. Please stay tuned :)

[2019-06-18 10:13] #1138 closed

[2019-06-18 10:16] jbinda commented on #1135
Hi guys - I will take a look and try to fix it.

[2019-06-18 11:22] Systemcheck opened #1139 "Colors not accepted"
## Environment

Hello, i have a small app at expo and im using your TextInput Component.

## Description

i can do what i want, the input fields doesnt show my text colors.
The Text Colors are already black and underline and label onblur are purple.
I have no idea whats wrong so its a bug?

## Reproducible Demo

[code]
Update: Screenshot added & Now the Label and underline colors working, but text

[2019-06-19 03:29] Otik133040040 commented on #1051
can i private chat with you?

[2019-06-19 07:09] Systemcheck commented on #1139
Ok. Now its working. Change color to text in your theme settings and its fine.

[2019-06-19 07:10] #1139 closed

[2019-06-19 07:48] Otik133040040 commented on #1051
@mihaidaviddev can i private chat with you?

[2019-06-19 20:42] jmoliugp commented on #877
It doesn't seem to have been fixed.

I tried it out using this component with `2.16.0` version:

[code]

[2019-06-20 07:07] risuiar opened #1140 "Appbar renderIcon"
## Describe the feature
Please add a renderIcon function for a possibility to add other icons from another source like in BottomNavigation

## Motivation
I want to use AwesomeFonts5 Icons

[2019-06-20 07:14] marchaos opened #1141 "Is there a way to get BottomNavigation to unmount / remount components?"
From what I can tell, once you navigate to a tab using bottom navigation, the component rendered is not mounted / remounted when navigating away / back again. Is there any way to get it to unmount the component when you navigate away?

[2019-06-21 08:38] pixelize opened #1144 "TextInput label position"
My TextInput styles:

[code]

My Input:

[code]

Result with inspector:

![](https://i.imgur.com/W5feWGo.png)

My question is : How can i move the label on top of the input container please ?

What i'd like :

![](https://i.imgur.com/AfJ2Pf7.png)

[2019-06-21 21:51] hamidfzm opened #1145 "[Feature] Pass FABs as children to FAB.Group"
## Describe the feature
Currently `FAB.Group` uses `actions` property to pass FAB buttons. Like this:

[code]

We can change this to:
[code]
## Motivation
- Beautiful Code OFC
- More control over rendering fab elements without creating new arrays each time (using conditionals and PureComponents and ...)

[2019-06-21 22:00] satya164 commented on #1145
Yea, it seems reasonable

I think it won't make a difference in perf. `FAB.Group` doesn't do anything expensive.

[2019-06-22 19:46] hamidfzm opened #1146 "ProgressBar indeterminate prop not working"
## Environment
- react-native: 0.59.9
- react-native-paper: 2.16.0

## Description
When we pass indeterminate prop to progress bar in react native paper we expect something like this:
![ezgif-4-5fb9a37944c1](https://user-images.githubusercontent.com/5591800/59968198-09bd5680-954b-11e9-8c91-717400205b30.gif)

But nothing is animating and the progress bar is static. Unless I missed a step in creatin

[2019-06-23 15:20] abhiburk commented on #549
padding property doesn't seems to work for me
Error while updating property 'padding' in shadow node type:AndroidTextInput
null
Unknown value: 'none'

[2019-06-23 19:37] yogurtandjam opened #1148 "Appbar.content onPress props typescript interface"
## Environment

Adding onPress property, which is part of the Appbar.Content api, in a typescript environment

## Description

onPress is not on the ts interface

## Fix

https://github.com/callstack/react-native-paper/pull/1147

[2019-06-24 06:36] jbinda commented on #877
Hi @jmoliugp

Issue was fixed in 3.0 branch which is current master.

Regards

[2019-06-24 07:02] jbinda commented on #1144
Hi @pixelize

Thanks for posting your message !

Currently the label position has predefined top position. We need internal discussion to decide if we want the feature to modify it.

[2019-06-24 07:52] pixelize commented on #1144
@jbinda Good to know, thanks for the reply @jbinda, this feature would be awesome for me ! Very good work on the whole RN paper otherwise :)

[2019-06-24 08:44] jbinda commented on #712
I verified this and passing onSubmitEditing function on TextInput or Searchbar allows to perform futher action.

[2019-06-24 08:44] #712 closed

[2019-06-24 09:08] jbinda commented on #1059
As @samuelmataraso and @jaysbytes  pointed you can use theme color object to set up colors. Currently border and placeholder color is set up by the same prop - if anything change it will be cover with PR related to this issue: #688

[2019-06-24 09:08] #1059 closed

[2019-06-24 09:20] jbinda commented on #1115
1. We already have a ticket reffers to set up TextInput colors (#688) so after I deal with that it should solve one request from @dominictwlee motivation
2. We already implemented feature to set up font size, so we can can also make small adjustment to set up font weight.

I would be careful to give full control to override styles because of the label animation sitting there. After we deal with mo

[2019-06-24 09:24] jbinda commented on #596
Guys - good news :) Work is in progress ! It will be cover with PR posted to this issue: #903

[2019-06-24 09:24] #596 closed

[2019-06-24 09:25] jbinda commented on #792
Guys - good news :) Work is in progress ! It will be cover with PR posted to this issue: #903

[2019-06-24 09:25] #792 closed

[2019-06-24 15:36] cristinaITdeveloper opened #1150 "[New Features] Datatable column width and text style for title and cell."
## Describe the feature

Give the possibility to set the width of the columns with the percentages and pass the style of the text for the title and the cells

## Motivation

I have some columns that have a lot of text and I would like them to be wider than the columns that have, ad example, only numbers, so that the text can be seen correctly.
Also give the possibility to set the number of lines o

[2019-06-25 05:59] jbinda commented on #1098
I agree that its the most flexible way to select Icons.

I will take a closer look on that when we merge #1091

[2019-06-25 14:25] TrzyRazyCztery commented on #1122
Hi @RyanMcDonald
Thanks for the message!
I'm not sure about it if treat IconButton more like clickable Icon so when we follow material design guidelines icons should have text colour. @Trancever what do you think about it?

[2019-06-25 20:09] lin3yx commented on #713
Did you solve the problem? If so, would you mind posting the solution? Thank you very much.

[2019-06-25 20:52] ducaale commented on #713
i solved it by clearing the cache https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d

[2019-06-26 07:07] FoxInFlame opened #1153 "Custom font in Chips"
## Describe the feature

Chips should be able to support custom fonts through the `theme` prop.

## Motivation

Many other components support this, and it hinders developers from using custom fonts throughout their app to establish their identity.

[2019-06-26 10:23] vpuonti opened #1154 "Set custom background colour for Chips"
## Describe the feature

Please allow setting a custom background colour for chips. The default grey one looks very fugly when the rest of my app is themed.

## Motivation

Not being able to have full control over my chips' colours is a deal breaker.

[2019-06-26 14:55] dominictwlee commented on #1115
Yeah I think in the meantime that would do, I'll let you know if I find other use cases for style customization.

[2019-06-26 15:40] alesdvorakcz opened #1156 "Button does not reflect dark theme and disabled color"
I hope I understand `dark` boolean in theme corretly. When I set it to true and choose dark primary color I expect white/light text on "contained" button. But it does not work.
I need to set specifically dark boolean at all buttons.

As workaround I created wrapper component with `dark={true}` by default but I think its not correct behavior am I right?

Similar problem is `disabled` color from the

[2019-06-26 15:43] satya164 commented on #1156
The text if the contained button depends on the background color of the button, which is automatically determined based on of the background color is light it dark. Wherever theme is dark or not doesn't affect it.

This is the desired behavior. We don't want to show white text on a light background because you have a dark theme, otherwise the text won't have enough contrast and will be illegible.

[2019-06-26 15:43] #1156 closed

[2019-06-26 15:48] alesdvorakcz commented on #1156
Ok I understand I just expected setting dark theme will do the same as setting dark at all buttons. Thanks for info

[2019-06-27 04:17] comontes commented on #1154
I was just playing with the Chip component, I was able to change background and font colors, check this: https://snack.expo.io/@cmontesino/chip

[2019-06-27 08:22] raajnadar commented on #1154
Use this props

https://callstack.github.io/react-native-paper/chip.html#textStyle
https://callstack.github.io/react-native-paper/chip.html#stylev

[Read docs about chip here](https://callstack.github.io/react-native-paper/chip.html)

[2019-06-27 08:22] #1154 closed

[2019-06-27 10:00] Trancever commented on #1134
Should be fixed now.

[2019-06-27 10:00] #1134 closed

[2019-06-27 10:45] questionablequestion commented on #549
@abhiburk You have to install `3.0.0-alpha.2` if you want to use it right now

[2019-06-27 13:45] harrydema opened #1158 "Padding="none" not working on TextInput"
## Environment

React native: 0.59.8
React native paper: 2.16.0

## Description

![image](https://user-images.githubusercontent.com/13423169/60271287-74aeba80-98c8-11e9-83f4-3cc4ab7473de.png)

This is the error when I add the padding property on none on the TextInput

## Reproducible Demo
[code]

[2019-06-27 13:52] questionablequestion commented on #1158
Make sure to install `3.0.0-alpha.2` version if you want to use it right now.

[2019-06-27 14:01] harrydema commented on #1158
You should version the documentation if the documentation is not reflecting the last stable version

[2019-06-27 17:39] m-ochyra opened #1159 "Wrong Dialog size"
## Environment

React Native Paper version 2.16.0 and 3.0.0-alpha.2.

## Description

Dialog component in horizontal orientation is too wide and on the iPhone X part of the component is hidden under the notch:
<img width="866" alt="Zrzut ekranu 2019-06-27 o 19 28 23" src="https://user-images.githubusercontent.com/5583015/60287699-ced46d80-9912-11e9-828e-ed38aa369a47.png">
![Zrzut ekranu 2019-06-27

[2019-06-28 06:51] HenryQuan opened #1160 "List.Item: description is not a function (regarding #996)"
## Intro
Recently, I updated my [app](https://github.com/HenryQuan/WoWs-Info-Origin) and there were massive amount of crashes due to pull 996. It is mainly my fault but I still want to report it here.

[code]

## About #996
[code]
This was the code I used before. `item.account_id` was an integer but nevertheless, it was fine because description was simply passed to Text like `<Text>{description}</

[2019-06-28 11:29] alikazemkhanloo opened #1161 "pass setNativeProps to children"
## Describe the feature

add a prop `setNativeProps`  to components.
## Motivation

I have a `Surface` with a `ScrollView` attached to its bottom. I want to add `elevation` to `Surface` as I scroll and set the `elevation` to zero when reaching the top.
I tried to `setState` on `onScroll` prop of the `ScrollView`, But it lags a little resulting in a bad UX.
But using `setNativeProps`, it worked gre

[2019-06-28 11:51] ferrannp commented on #1085
Done.

[2019-06-28 11:51] #1085 closed

[2019-06-28 11:53] #957 closed

[2019-06-28 12:03] #1158 closed

[2019-06-28 13:52] alikazemkhanloo commented on #1161
I ended up simply using `View`. To add the shadow I used `shadow` function from this repo.
it seems there is no other motivation to add this feature.

[2019-06-28 14:31] si0ls opened #1162 "Text vertical align in Chip"
## Environment

react-native 0.59.9
react-native-paper 2.16.0

## Description

On some Android devices the text in Chip and SearchBar components is not vertically aligned.

**Nexus S (Android 26)**
![image](https://user-images.githubusercontent.com/6978560/60348761-84112f00-99c0-11e9-955c-aef1a30aaf09.png)

**One Plus 5T (Android 28)**
![image](https://user-images.githubusercontent.com/6978560/603

[2019-06-28 17:20] joaom182 opened #1163 "Requested keys of a value that is not an object."
## Environment

react-native-paper 2.14.0
react-native 0.58.5

## Description

This errors only occurs on Android 9 when the `withTheme` method is called to enhance any component.

[code]

[2019-06-29 23:13] maheraldous opened #1164 "How to Change the Background Color in TextInput React Native Paper"
## Ask your Question
I have this code
[code]
and I want to change the color or the textfield https://prnt.sc/o8gpc4

[2019-06-30 07:16] pan-pawel commented on #1164
Hello, @maheraldous
Did you try to add background Color to your TextInput component style?
`<TextInput
          style={{
                backgroundColor: 'yourColor'
                borderRadius: 50,
                padding:'offset'
                }}`

[2019-06-30 09:14] maheraldous commented on #1164
You code will work if the TextInput from react-native not from react-native-paper that's why I am here. Because it you try your code with react-natove-paper the background color with get out of the outline and the border radius will create another circle border over the outline border.

[2019-07-01 10:28] satya164 opened #1168 "Add a `ToggleButtonRow` component"
We have a `ToggleButtonGroup` component which is supposed to provide a way to manage multiple toggle buttons from one place, similar to `RadioButtonGroup`. However, when grouping toggle buttons, it maybe desirable to group them in a row and remove left/right borders of adjacent buttons.

The `ToggleButtonGroup` confusingly adds some styles for borders, but doesn't add style for a row. We should ad

[2019-07-02 07:14] jbinda commented on #1144
Hi! after internal discussion we diceded not to implement this feature. Regards

[2019-07-02 07:14] #1144 closed

[2019-07-02 08:21] pixelize commented on #1144
@jbinda thanks for having track this issue

[2019-07-02 10:36] paras-mathur commented on #958
In expo version 33, install **@expo/vector-icons**

Also change the require statement mentioned above to -

**await Font.loadAsync({ 'MaterialIcons': require('@expo/vector-icons/src/vendor/react-native-vector-icons/Fonts/MaterialIcons.ttf') })**

[2019-07-03 07:36] Trancever commented on #1148
@yogurtandjam Did you try latest master? We rewrote whole codebase to use typescript so it should be fixed

[2019-07-03 07:37] #1148 closed

[2019-07-03 07:42] Trancever commented on #1153
@FoxInFlame You can customize font using textStyle prop for now.

[2019-07-03 07:43] Trancever commented on #1153
@satya164 Should we add possibility to also customize it via theme prop or textStyle prop is enough?

[2019-07-03 07:50] Trancever commented on #1146
@hamidfzm Can you try 3.0.0-alpha.2 version? It works fine in our example app.

[2019-07-03 07:51] Trancever commented on #1103
Good job @wojteg1337 !

[2019-07-03 07:51] #1103 closed

[2019-07-03 08:04] FoxInFlame commented on #1153
@Trancever Ah, I'm sorry, I must've missed that commit. Thank you! I'll leave this issue open in case further discussion will happen.

[2019-07-03 08:41] yogurtandjam commented on #1148
Yup! Sorry forgot to close this issue when the PR was rendered obsolete

[2019-07-03 09:59] mlukac-be commented on #947
@arkinem @zedart

[code]
Use ` theme={{ roundness: 50 }}`

[2019-07-03 10:29] satya164 opened #1173 "Use context instead of passing props with cloneElement"
For components such as `Appbar.Action` etc., we pass some props with `cloneElement`. We should use context so that:

1. Works even if the element is not immediate child
1. Works better with type system
1. Avoids circular dependency in some cases due to no need of checking `child.type`
1. Cleaner, avoids exposing props that should be internal

[2019-07-03 15:11] Trancever commented on #1173
@satya164 It's not breaking, right? I am thinking if we should implement it before releasing stable 3.0 version or it can wait

[2019-07-03 15:17] satya164 commented on #1173
It's kind of breaking

[2019-07-03 23:53] jshearer commented on #994
Is there a workaround for this? It seems like if we add `useTheme` to this export, everything will work:

https://github.com/callstack/react-native-paper/blob/master/src/core/theming.tsx#L5

[2019-07-04 07:23] notjulian commented on #1137
working example

`        <View style={{flex: 1, flexDirection: 'row', justifyContent: 'space-between', marginTop: 10}}>
          <Button
            onPress={() => this.props.navigation.navigate(NavScreen.PASSWORD_RESET_SCREEN)}

          <Button
            onPress={() => this.props.navigation.navigate(NavScreen.REGISTER_SCREEN)}

        </View>`

![photo5830024479613497946](https://user-imag

[2019-07-04 07:47] alikazemkhanloo opened #1177 "persian/arabic numbers in Text-like components"
## Describe the feature

Add an option to show numbers in Persian/English.
## Motivation
Numbers in Arabic and Persian are (similarly) different from English. So I think it is a good idea to provide an option (probably in theme) to select the format. I wanted to create my own component, But I think it makes more sense to be handled in this library.
Persian numbers: ۰۱۲۳۴۵۶۷۸۹
I can provide a PR if

[2019-07-04 15:12] isocra opened #1178 "Menu._isBrowser returning true on iOS and Android"
## Environment

Android and iOS

## Description

I'm trying to use the Menu component, but when I tap the button to show the menu, I get the error:
[code]
Looking at the code in Menu.js, I can see that `_focusFirstDOMNode` is being called. In fact I tried with a little log statement:
[code]
And the output of this is `true`, i.e. the code thinks it's in the browser.

I've tried this on Android and

[2019-07-05 10:14] danghung24031992 opened #1179 "Buttons On the Modal are not working on Android"
I created Popup Input on Modal.
And not action when touch on TouchableOpacity , pls support for me

[2019-07-05 11:16] Trancever commented on #1179
@danghung24031992 Please provide a [Snack](https://snack.expo.io/) that reproduces issue.

[2019-07-05 14:45] tasn commented on #1178
I'm getting the same, more information: it works fine with 2.15.2 but breaks with 2.16.0.
So a very recent regression.

[2019-07-05 15:52] iyadthayyil opened #1186 "What is the purpose of "__expo" prop in Appbar.Header?"
https://github.com/callstack/react-native-paper/blob/4e57e64cc3ca8d4df164f269bc173afa2d68dec6/src/components/Appbar/AppbarHeader.tsx#L37

Is there any reason to expose this prop to the public api?

[2019-07-05 15:56] satya164 commented on #1186
Looks like a mistake

[2019-07-06 04:59] #1186 closed

[2019-07-06 18:02] artus9033 opened #1188 "Button - changing the value of disabled prop messes up with the state of the button"
## Environment

React: 16.8.6
React Native: 0.60.0
react-native-paper: 2.16.0

## Description

There is an issue with the `disabled` prop in the `Button` component: if I pass `true` as its value and then set it back to `false`, the button becomes visually disabled and then enabled again (which is an expected behaviour), but there is no TouchableRipple on its surface anymore - tapping it has no vis

[2019-07-06 20:51] leandrobviana opened #1189 "How to make datatable sortable?"
Good night,
I am using your DataTable to show data in a react native app in android. But i didn't found any example showing how to make column sortable. I imagine that for sure exists, but I couldn't find how to. Do you have any example? Passing a function or not.

[2019-07-07 15:37] mreorhan opened #1190 "Some components got warnings"
## Environment
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
      Memory: 4.10 GB / 15.89 GB
    Binaries:
      Yarn: 1.13.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.4.0.0 AI-183.6156.11.34.5522156

## Description
I got s

[2019-07-07 16:18] iyadthayyil commented on #1190
I think this is fixed in #1172

[2019-07-07 17:16] mreorhan commented on #1190
Im currently using last version.
    "react": "16.8.3",
    "react-native": "0.59.6",
    "react-native-paper": "^2.16.0",

[2019-07-08 02:56] #1179 closed

[2019-07-08 07:17] Trancever commented on #1189
@leandrobviana Just sort the data that you display inside DataTable e.g. if you keep data in state just call setState with sorted data

[2019-07-08 07:17] #1189 closed

[2019-07-08 07:38] alikazemkhanloo commented on #1177
I'm waiting for a yes/no 😀

[2019-07-08 07:47] Trancever commented on #1177
@alikazemkhanloo We think it should be handled by some Internationalization library and not by UI component library.

[2019-07-08 07:47] #1177 closed

[2019-07-08 07:51] #1168 closed

[2019-07-08 12:24] leandrobviana commented on #1189
Oh! Sorry about my very poor explanation. I mean, for example, when the user clicks in the header it sort the data accordingly to the column of that header. Do you have any example like that? I some datatables you have this, you just pass the function.
I will edit the question to make it clear.
Thanks! Sorry again.

[2019-07-08 16:11] leandrobviana commented on #1189
Just found out in: [https://github.com/callstack/react-native-paper/blob/master/example/src/Examples/DataTableExample.tsx](url)

[2019-07-08 18:20] lionogueira commented on #1154
here an example of styling selected / unselected chips

`
const ChipWrapper = (props) => {
    const { chipKey, value, chipPressed, sel } = props;

    const [selected, setSelected] = useState(false);
    const [textColor, setTextColor] = useState(`#FBA200`);
    const [style, setStyle] = useState({ borderColor: `#FBA200`, backgroundColor: `white` });

    useEffect(() => {
        if (selected) {

[2019-07-09 11:58] devdebajyotidas commented on #1159
Any update on this ?

[2019-07-09 14:30] vivek25constants opened #1196 "Is there a way to animate the menu dropdown through Animated API?"
## Ask your Question

I can fade in the menu items but not the entire section.

[2019-07-09 14:49] satya164 commented on #1196
No

[2019-07-09 14:49] #1196 closed

[2019-07-09 15:02] robclouth commented on #1159
For now you can set maxWidth and alignSelf on the Dialog:
[code]

[2019-07-09 15:22] 0x01Brain opened #1197 "Chip does not apply text wrapping properly using textStyle prop"
## Environment

Environment: Android

## Description

The **Chip** component does not wrap long text even when setting styles in **textStyle** prop and **style** prop:

`<Chip textStyle={{ flexWrap: 'wrap' }} style={{  flexDirection: "row" }}>{message.text}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</Chip>
`

![image](https://user-images.githubusercontent.com/13728193/60900985-31682a80-

[2019-07-09 19:25] AsafAbrhmoff opened #1198 "Warning: Each child in a list should have a unique "key" prop"
Hi,

I got this warning when i used in List.section and inside him i have list.accordion:

Each child in a list should have a unique "key" prop

What i need to do for fix it?

thanks
Asaf

[2019-07-09 21:47] brunohkbx commented on #1160
@HenryQuan thanks for reporting.
#1199 should solve that :grin:

[2019-07-09 21:52] brunohkbx commented on #1162
@si0ls could you please provide a [Snack](https://snack.expo.io/) reproducing this issue?

[2019-07-10 06:57] #373 closed

[2019-07-10 08:16] #733 closed

[2019-07-10 08:17] jbinda commented on #910
Closed according to comment in #1149

[2019-07-10 08:17] #910 closed

[2019-07-10 20:51] #1160 closed

[2019-07-10 20:51] Trancever commented on #1198
Provide a [snack](https://snack.expo.io/) that reproduces issue

[2019-07-11 19:26] Grohden opened #1201 "[TS] Declare the testID prop in the HelperText"
## Describe the feature

Declare the `testID` prop in the `HelperText` on typescript

## Motivation

I'm trying to make my tests run but ts complains about `testID` not being declared on the `HelperTextProps`, the tests work, but still is not nice to have a `// @ts-ignore` above the `HelperText`

[2019-07-12 04:44] GollyJer opened #1202 "Preload a WebView into Modal?"
Hi. I was hoping putting a WebView into a modal would begin loading the webpage while "invisible" and then when the user hits a button to show the modal it would be rendered (or much further along than waiting until they push the button).

[Here's a very simple Expo Snack showing the example](https://snack.expo.io/@gollyjer/modal-webview).
You'll see google.com doesn't begin to load until the Moda

[2019-07-12 07:41] byCedric commented on #1198
[Check out this too](https://stackoverflow.com/questions/28329382/understanding-unique-keys-for-array-children-in-react-js/43892905#43892905), this error and solutions are pretty well documented there

[2019-07-12 09:01] jainkunal40 commented on #1164
Same question from me too

[2019-07-12 09:55] mcjohnalds commented on #706
The docs also left me a little confused. This is how you use RadioButton:

[code]

[2019-07-12 13:20] #994 closed

[2019-07-12 19:04] muyaszed commented on #1190
I am having these warnings as well

[2019-07-12 19:07] satya164 commented on #1190
This is an unnecessary warning from metro: https://github.com/facebook/metro/issues/287

It's not a bug.

[2019-07-12 19:07] #1190 closed

[2019-07-13 14:32] davesag commented on #1115
For the app I am working on I need some of my inputs to use the font `monospace` (for Android) and `Courier New` (for iOS). This should not affect the label, only the actual input itself. The suggestion of adding an `inputStyle` prop is a good one I think and would certainly work for me.

[2019-07-13 16:46] VadimOsovsky opened #1205 "onLongPress for Chip PLEASE!"
## Describe the feature

Please add onLongPress event for Chips

## Motivation

Extend functionality

[2019-07-13 20:56] cinatic opened #1206 "Property for Icon color in Button component"
Would be great to have a own property to override the icon color inside a button

https://github.com/callstack/react-native-paper/blob/master/src/components/Button.tsx#L256

[2019-07-14 00:32] immortalx commented on #1188
This only happens in android for me. Tried with 2.16.0 and also with the latest alpha.
Same react and react native version, hermes enabled and disabled.

@artus9033 does it happen in iOS as well for you?

[2019-07-14 00:54] Moh-Kur opened #1207 "BottomNavigation Shifting Ripple Animation Bug"
Hello,
There is a bug in the changing color ripple effect for less than 4 items with shifting enabled.
The center of the ripple is not centered with respect to the click.
You can see it in this example by @Trancever in https://github.com/callstack/react-native-paper/issues/631#issuecomment-434644915_

His link: https://snack.expo.io/@trensik/bottom-navigation

I tried it on multiple devices ios an

[2019-07-14 17:19] gezakerecsenyi opened #1209 "Element type is invalid... Check the render type of `Icon`"
## Getting `Element type is invalid... Check the render type of 'Icon'` when using `<Avatar.Icon>`

I am using a `<Card>`, of which I am trying to use a custom image as the `.Left` of the `<Card.Title>`, using a custom `<Avatar.Icon>` render function. My code is as follows:

[code]

In case it makes a difference, my imports look like:

[code]

However, I get the following error:

[code]

Why am I

[2019-07-14 17:34] satya164 commented on #1209
Please provide a runnable repro on https://snack.expo.io

[2019-07-14 17:37] gezakerecsenyi commented on #1209
OK, done.

[2019-07-14 17:47] satya164 commented on #1209
You're importing `Image` from `react-native-paper`. There's no such component in paper. You need to import it from `react-native`

[2019-07-14 17:48] gezakerecsenyi commented on #1209
That's not giving an error any more, but it's still not loading in the image for me.

[2019-07-14 17:53] satya164 commented on #1209
Seems to load fine for me. Though it'll be white because you're passing `tintColor` to the `Image`. You probably want to use `Avatar.Image` as mentioned in the docs: https://callstack.github.io/react-native-paper/avatar-image.html

[2019-07-14 17:53] #1209 closed

[2019-07-14 17:55] gezakerecsenyi commented on #1209
Thanks; that fixed it. :)

[2019-07-14 23:50] byCedric commented on #757
As a beginner, this is also a bit weird to find the typography spread out over the docs menu. But, I sure want to help with this! I think there are several approaches to this, not sure if there are others or which one is the best one. 😄

1. Hardcode typography as a group in `docs/component-docs.config.js`.
This is probably not the "desired approach". It works, kind of, but you put references to th

[2019-07-15 10:22] lukewalczak commented on #1197
`Chip` component should be a compact component which contains only the most important information. I think that `multiline` option shouldn't be supported.

[2019-07-15 10:40] #1197 closed

[2019-07-15 10:47] lukewalczak commented on #1164
We are supporting the `TextInput` **only** following the Material Design guidelines (your approach is a custom one).

[2019-07-15 10:47] #1164 closed

[2019-07-15 10:57] lukewalczak opened #1212 "Add character counter example to HelperText"
## Describe the feature

Would be great to have a character counter example below the text input.

## Motivation

Following the MD guidelines:
![image](https://user-images.githubusercontent.com/22746080/61211507-0c513d00-a700-11e9-80d2-fc98b2fb570b.png)

[2019-07-15 14:03] #1122 closed

[2019-07-15 18:54] pan-pawel opened #1215 "Appbar doesn't pass props to Appbar content"
## Environment

Latest React Native Paper. Both Android and iOS

## Description

In appbar [render](https://github.com/callstack/react-native-paper/blob/1899651cdc517a6996e228a4cf0d8962ae350f89/src/components/Appbar/Appbar.tsx#L138-L169) we check if child is valid Appbar child like "Appbar Content" and then we passing props to it, otherwise we just returning child as it is.
https://github.com/call

[2019-07-16 00:08] iyadthayyil commented on #1215
This should be fixed by #1174

[2019-07-16 04:20] brunohkbx commented on #1215
cc @Trancever

[2019-07-16 06:08] jbinda commented on #1135
should be fine after merge #1132 as jaulz wrote

[2019-07-16 06:08] #1135 closed

[2019-07-16 06:52] pan-pawel commented on #1215
Ok, it should be fixed by that

[2019-07-16 07:05] jbinda commented on #1098
Feature will be handle with #1210

[2019-07-16 07:05] #1098 closed

[2019-07-16 08:21] lukewalczak commented on #1056
Exactly, you can wrap your `AppHeader` within `ImageBackground` from react-native. [Here](https://snack.expo.io/@happiryu/imagebackgroundinheaderexample) you can check my example

[2019-07-16 08:27] #1056 closed

[2019-07-16 09:09] lukewalczak commented on #1064
Closing - fixed by #1067

[2019-07-16 09:09] #1064 closed

[2019-07-16 09:45] YajanaRao opened #1217 "Dailog is not visible inside modal"
## Description
I have a Dailog inside modal. Dailog is not opening inside modal.
## Reproducible Demo

[Snack](https://snack.expo.io/@yajana/dialog?name=Dialog&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fdialog.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20View%20%7D%20from%20%27react-native%27%3B%0Aimport%20%7B%20Button%2C%20Paragraph%2C%20Dia

[2019-07-16 10:09] lukewalczak commented on #1092
Hey @fgagneten 	, what is your use case for that? Can you tell us how it should look like? Honestly, I'm not sure if Material Design is supporting that.

[2019-07-16 10:52] jbinda commented on #657
In 3.0 branch (current master) it should not be a problem anymore.

[2019-07-16 10:52] #657 closed

[2019-07-16 11:15] lukewalczak commented on #913
`FAB` component is designed to match with light / dark theme. If you would like to use `backgroundColor: 'blue'` I can suggest you to wrap `FAB` within a `View` and set there `backgroundColor: 'gray'`, like in the following [example](https://snack.expo.io/@happiryu/ed1350)

[2019-07-16 11:15] #913 closed

[2019-07-16 11:23] lukewalczak commented on #1217
Hey @YajanaRao 	, wrap your example within `Provider`, like in the following [example](https://snack.expo.io/@happiryu/dialog)

[2019-07-16 11:34] #1217 closed

[2019-07-16 12:31] lukewalczak commented on #1206
Cannot find an example in Material Design guidelines where there are different colours for button text and button icon. Generally, both an icon and text label should clarify action and call attention to a button, which with different colours can be less coherence.

[2019-07-16 12:31] #1206 closed

[2019-07-16 13:49] lukewalczak commented on #1202
Hey @GollyJer 	, in our `Modal` content [won't be rendered](https://github.com/callstack/react-native-paper/blob/master/src/components/Modal.tsx#L177) until the prop `visible` is set to `true`.

[2019-07-16 19:29] satya164 commented on #757
@byCedric I like the annotation approach too. Will be awesome if you can make PR :D

[2019-07-16 20:53] byCedric commented on #757
@satya164 Done! 🚀 See PR #1221 😄 Let me know what you think

[2019-07-17 04:10] sorxrob commented on #975
Very helpful. Thank you!

[2019-07-17 08:12] lukewalczak commented on #1146
Hey @hamidfzm 	, in version `2.16.0` among available [props](https://github.com/callstack/react-native-paper/blob/v2.16.0/src/components/ProgressBar/ProgressBar.js#L10-#L24) there is no prop called `indeterminate` (we were not supporting it yet) however, we are going to release soon version `3.0.0` where this functionality is supported. If you need it, try to use `3.0.0-alpha.2` version mentioned

[2019-07-17 12:10] #1153 closed

[2019-07-17 12:12] #1159 closed

[2019-07-17 12:17] #1212 closed

[2019-07-17 12:20] Taym95 commented on #1198
This is a known react warning check the official react doc please [lists-and-keys](https://reactjs.org/docs/lists-and-keys.html).

[2019-07-17 12:28] #1123 closed

[2019-07-17 13:03] #1146 closed

[2019-07-17 13:37] wojteg1337 commented on #1070
Hello @DevSoFar,
1. Could you provide an example? On what platform do you face performance issues?
2. It's fixed by @pan-pawel. I've merged it today so we will release a new version soon

[2019-07-18 04:33] GabCeb95 opened #1224 "Material stepper and exp panels with paper"
Hi,

Is it possible to do steppers and expansion panels, similar to the ones on Angular Material?
https://material.angular.io/components/stepper/examples
https://material.angular.io/components/expansion/overview

Thanks,
Gabriel

[2019-07-18 10:22] david-saint opened #1225 "Elevation on the AppBar.Header"
## Describe the feature

It would be nice if we could set elevation on the AppBar Header component.

## Motivation

Just to add depth ¯\_(ツ)_/¯

## Related Issues

[2019-07-18 13:18] bijoycse commented on #634
Good work

[2019-07-18 15:05] evantrimboli commented on #1117
Seems to be because of these lines:

https://github.com/callstack/react-native-paper/blob/d3db78f926eacb3c667846b7c9dcae8c5cdcf89e/src/components/RadioButton.tsx#L117

https://github.com/callstack/react-native-paper/blob/d3db78f926eacb3c667846b7c9dcae8c5cdcf89e/src/components/RadioButton.tsx#L135

Proposed changes:

Not sure of the intent here, but if the user has both an onPress and a context it

[2019-07-19 01:39] glen-propeller commented on #603
How are people handling selections of things in`react-native-paper`?

[2019-07-19 06:59] evantrimboli opened #1229 "Radio/Checkbox larger sizes"
## Describe the feature

Expose a size config (or another hook) to be able to increase the size of a checkbox/radio.

## Motivation

In some scenarios it would be good to make these options more prominent. It also seems as though there isn't any technical impediment, the sizes just seem to be hard coded.

[2019-07-19 07:44] pan-pawel commented on #1225
Hello @david-saint, thanks for the message.
Default elevation
<img width="369" alt="Zrzut ekranu 2019-07-19 o 09 21 08" src="https://user-images.githubusercontent.com/3886886/61517236-124c6400-aa07-11e9-9c38-c0ab135d059d.png">
You need to put elevation in styles, like this:
![Zrzut ekranu 2019-07-19 o 09 23 25](https://user-images.githubusercontent.com/3886886/61518407-b33c1e80-aa09-11e9-9ec8-e39a

[2019-07-19 10:12] #1086 closed

[2019-07-19 10:14] #1188 closed

[2019-07-19 10:18] ferrannp commented on #1070
Fixed.

[2019-07-19 10:18] #1070 closed

[2019-07-19 10:18] ferrannp commented on #686
Fixed.

[2019-07-19 10:18] #686 closed

[2019-07-19 10:30] #1198 closed

[2019-07-19 11:27] #1215 closed

[2019-07-19 14:27] drewhamlett opened #1231 "Docs site is not loading assets or secondary pages"
Might just have caught it between deploys, but waited a little bit and it's still down.

https://callstack.github.io/react-native-paper/getting-started.html
https://callstack.github.io/react-native-paper/searchbar.html

Thanks!

[2019-07-19 14:31] satya164 commented on #1231
GitHub seems down

[2019-07-19 14:31] #1231 closed

[2019-07-19 18:06] Akshay-Katariya opened #1232 "Getting Started documentation link broken"
The Getting Started guide page is unable to load properly, I think It's without any CSS or styling applied to it.

When I navigate to any inner specific component page it shows 404 error.

[Getting Started guide][1] I followed.

[![Home Page without CSS and styling][2]][2]

[![Detail Page with 404 error][3]][3]

  [1]: https://callstack.github.io/react-native-paper/getting-started.html
  [2]: http

[2019-07-19 19:35] Nemferno commented on #1232
I looked over the debugger and it's missing `https://callstack.github.io/react-native-paper/app.bundle.js`. There is an app.bundle.js in the 1.0 folder in gh-pages branch, so I'm guessing this is a faulty path that can easily be fixed.

[2019-07-19 19:45] mehmetnyarar commented on #1232
I'm trying to run the docs from the source code. I installed dependencies and run `yarn start`.

First, it gave me the following error:

I installed `react-native-vector-icons` via yarn.

Then:

    at isLight (/<root_dir>/react-native-paper/docs/pages/src/Showcase.js:59:49)

Maybe it's a different issue I'm not sure..

[2019-07-19 20:16] Nemferno commented on #1232
I checked the commit history and looks there was a huge deletion of files in commit https://github.com/callstack/react-native-paper/commit/a1448518a91ee2701a5ec0856f72b70ee61f1d40. Not sure if this is intentional or it was a mistake.

[2019-07-19 20:33] Nemferno commented on #1232
I got it to work on my end. I made a little mistake on not including a commit before the big change so will do that. Use "nemferno.github.com/react-native-paper" in the mean time while I try to pull request.

[2019-07-19 20:37] Nemferno commented on #1232
Checked back, looks like they resolved it 👍

[2019-07-20 04:58] Akshay-Katariya commented on #1232
Thanks, working fine now 👍 Cheers

[2019-07-20 05:47] #1232 closed

[2019-07-21 03:39] sijad opened #1234 "Feature Request: Allow to select multiple values in ToggleButton Group/Row"
## Describe the feature

currently it's only possible to set `value` of a single `ToggleButton` to `ToggleButton.Group` and `ToggleButton.Row` via `value` props. it should be possible to select multiple items.

[2019-07-21 18:53] jack828 opened #1235 "RN 0.60.4 White Screen"
## Environment

RN 0.60.4
Android P - OnePlus 7 Pro

## Description

App only shows a white screen when using RN >= 0.60.

## Reproducible Demo

[code]

Follow the [Getting Started](https://callstack.github.io/react-native-paper/1.0/getting-started.html) instructions:

[code]
Note no react-native link!

Edit the `App.js` to include PaperProvider around `App`, exactly as the Usage example

Setup an

[2019-07-21 19:27] satya164 commented on #1235
Please follow the guide for latest version, not 1.0

https://callstack.github.io/react-native-paper/getting-started.html

[2019-07-21 19:27] #1235 closed

[2019-07-22 09:00] wojteg1337 commented on #1162
@si0ls you could add android version + device name :)

[2019-07-22 09:43] #1201 closed

[2019-07-22 09:48] #757 closed

[2019-07-23 09:30] #1205 closed

[2019-07-23 09:39] VadimOsovsky commented on #1205
@lukewalczak Thank you!

[2019-07-23 14:09] #1136 closed

[2019-07-23 14:11] wojteg1337 commented on #1234
@sijad I think we won't implement this feature since the user can do on its own

[2019-07-23 14:11] #1234 closed

[2019-07-23 16:57] solshuffle commented on #1115
It would be really useful to have control over the padding and/or height of the `<TextInput />`

[2019-07-24 15:18] artus9033 commented on #1188
Thanks, this solves the problem. When is it planned to be published on NPM?

[2019-07-24 15:33] odesey opened #1242 "List.Accordion and List.Item title wrap"
## Ask your Question
Is it possible to have the text used in the `title` prop to be wrapped when it is too long to fit on one line?

Right now the text is ending with the 3 dots ellipsis `some super duper ultra too long to fit on one...`

I've tried:

[code]
That also does not work. Also tried the `numberOfLines` prop as well as other suggestions found here:
https://github.com/facebook/react-nativ

[2019-07-24 16:01] deeuu commented on #1242
I'm pretty sure that this is due to the number of lines being [limited to 1](https://github.com/callstack/react-native-paper/blob/master/src/components/List/ListItem.tsx#L183).

I'd prefer for this to be an optional property.

Note also that the description text is [limited to 2 lines](https://github.com/callstack/react-native-paper/blob/master/src/components/List/ListItem.tsx#L127)

[2019-07-24 16:05] deeuu commented on #1242
Just to confirm that this is the case.
Personally I don't see the reason for a default line limit.
Thoughts on making this an optional prop (or just support a full blown `titleProps`)?

[2019-07-24 16:24] odesey commented on #1242
Thanks for pointing this out @deeuu , I am definitely in favor of making this a prop and simply defaulting to 1 line if it's not set.

However, shouldn't this not be an issue if I pass the `title` or `description` as a React Node like `<Text> Some text </Text>`, then the props I set should take precedence?
[code]

Thanks.

[2019-07-24 18:41] TriangularCube opened #1243 "Babel plugin git access permission denied"
I just tried to install the babel plugin, and I'm getting the following error:

Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/react-native-paper/babel.git
npm ERR!
npm ERR! Warning: Permanently added the RSA host key for IP address '140.82.114.4' to the list of known hosts.
npm ERR! git@github.com: Permission denied (publickey).
npm ERR! fatal: Could not read fr

[2019-07-25 08:03] alikazemkhanloo opened #1244 "support two line title for prominent appbar"
## Describe the feature
add an option to expand the header for a long title that should be wrapped in two lines. actually, the `Appbar` can be expanded using props but the title text needs to be in two lines. now it is hard-coded into the library that we only have one line of the title.

I can see two option:
1 - new prop `twoLineTitle` to change the `numberOfLines` for title. (not numberOfLines,

[2019-07-25 08:51] deeuu commented on #1242
Hey,

No because the given `title` is wrapped by [`<Text numberOfLines={1}>`](https://github.com/callstack/react-native-paper/blob/master/src/components/List/ListItem.tsx#L186)

[2019-07-25 09:13] egunsoma commented on #1141
Exactly, control over this would nice to have!

[2019-07-25 09:27] satya164 commented on #1141
You have `renderScene` method where you can return what's rendered. You can check if a route is focused and if not, return null.

[2019-07-25 09:27] #1141 closed

[2019-07-25 09:29] jbinda commented on #1115
@solshuffle you can pass height to style to change TextInput height or dense prop to adjust size to dense mode according to material ui design guidelines

@davesag I will check what we can do and back with answer/solution

I have 2 PR almost done with the listed item I posted before. Will raise it soon

[2019-07-25 14:36] solshuffle commented on #1115
The `dense` prop doesn't seem to be working and if I try to adjust the height of the `<TextInput />`, the label text inside is not centred, even if I add `textAlignVertical: 'center'` or `justifyContent: 'center'`.
The padding would be really useful, for example in case we have a `<TextInput />` with a transparent background, and we want to remove the horizontal padding.
Here is an example of what

[2019-07-25 14:54] Gabogg07 opened #1247 "Change minimized label size on TextInputOutlined"
## Ask your Question

I'm looking forward to change the minimized label fontsize without needing to change the source code for the component.
I realized it can be made by changing the const MINIMIZED_LABEL_FONT_SIZE on TextInputOutlined, but no way to make it through props or theme

[2019-07-25 15:05] odesey commented on #1242
Thanks for the explanation @deeuu, I will close this issue for now.

[2019-07-25 15:05] #1242 closed

[2019-07-25 15:09] deeuu commented on #1242
@odesey Note the pull-request #1245 I've made which adds a `numberOfLines` prop for the title and description text.

[2019-07-25 18:21] brunohkbx opened #1248 "RNW - TextInput with wrong label placement"
## Environment
"expo": "^33.0.0"
"react": "16.8.3"
"react-dom": "^16.8.6"
"react-native": "https://github.com/expo/react-native/archive/sdk-33.0.0.tar.gz"
"react-native-web": "^0.11.4"

## Description
RNW renders TextInput with a wrong label position. TextInput container shouldn't be visible underneath its label.

![Screenshot from 2019-07-25 15-12-54](https://user-images.githubusercontent.com/648

[2019-07-25 18:21] brunohkbx commented on #1248
cc @jbinda

[2019-07-26 14:50] ignaciopicun commented on #1178
Getting the same issue here

[2019-07-26 15:13] Leafgard opened #1250 "docs: Surface's page code isn't well formatted"
## Description

The code available as example for Surface's component isn't well formatted !

## Descriptive picture

![image](https://user-images.githubusercontent.com/25567034/61961849-8dde8000-afc8-11e9-8534-5f0e65d4dc58.png)

## Reproducible Demo

Check: https://callstack.github.io/react-native-paper/surface.html

[2019-07-26 15:58] anisht42 commented on #699
export const EditTextTheme = {
dark: true,
colors: {
primary: "#fa7776",
accent: "#ffffff",
background: "transparent",
text: '#ffffff'
}
};

Text color not reflection,remain in black with the above Theme config

[2019-07-27 15:07] wolverineks opened #1251 "Use react-router-native `<Link />` in `<Button />`"
## Ask your Question

It looks like react-native-paper `<Button />` wraps its children in a `<Text />`, which prevents the following.
[code]
Error: `Invariant Violation: Nesting of <View> within <Text> is not currently supported.`

Other Libraries provide a prop to replace the `<Text>{children}</Text>` component, as well as passing along unused props, for cases like this. Something like

[code]

I

[2019-07-29 04:35] KiranreddySrDev opened #1252 "UnhandledPromiseRejectionWarning: E:\project\project_name\node_modules\snapdragon-util\index.js:282"
I am getting this issues in an android emulator while running react-android.
I have checked with npm ls snapdragon-util then it was shown paper dependency is snapdragon-utile

error below like this

 DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit .

is it react-native pr

[2019-07-29 09:38] jbinda commented on #1248
Hi

Thanks for raised an issue on that. It should be fixed with label rafactor I recently did. Checkout this PR: #1241

[2019-07-29 09:53] jbinda commented on #1247
Hi @Gabogg07

Currently there is no way to change label text size or style. You are not the first person asking about that and I would like to raise the topic on internal discussion in recent future.

[2019-07-29 20:51] Maximell commented on #706
Would like to leave another note to this that I also found the documentation for the RadioButton components quite confusing - I expected `value` to render text next to the button, and it does not.

[2019-07-29 23:47] toby-pondr commented on #1156
This was confusing for me as well. Perhaps documenting this would be helpful.

[2019-07-30 21:14] Angelk90 opened #1254 "DataTable component"
## Describe the feature

It allows to create a datatable specifying attributes like: header, datatable, page, perPage.

It's still at the beginning, but for those who can help, I think it can be useful.

## Motivation

Simplifies the development of a datatable.

## Related Issues

Link: [Expo](https://snack.expo.io/rJYSZVRMB)

Link: [Expo](https://snack.expo.io/Kel9QQ4LR)(version 02/12/20)
App.js

[2019-07-31 06:37] netbull opened #1255 "When can we expect new release"
## Release roadmap

Hello guys!

First of all great work, this package is quite awesome. My question is when can we expect a new release? Currently the pre-release **alpha2** have big difference with the master and many bugs are cleared so far, but there is no release yet..

[2019-07-31 07:17] Akshay-Katariya opened #1256 "Error while wrapping paper component in separate functional component: Element type is invalid: expected a string"
I want to customize the FAB component so I created a wrapper as below

[code]

And imported in my main page using

`import MyFab from '../components/MyFab'`

and used as below

`{this.state.shouldShow ? <MyFab /> : null}`

[![Actual Error ScreenShot][1]][1]

  [1]: https://i.stack.imgur.com/tdA8Q.jpg

[2019-07-31 09:48] ferrannp commented on #1255
We want to release 3.0 this week. Please re-open if this does not happen :)

[2019-07-31 09:48] #1255 closed

[2019-07-31 09:49] ferrannp commented on #1256
Should be: `import { FAB } from 'react-native-paper'.

[2019-07-31 09:49] #1256 closed

[2019-07-31 10:07] jbinda commented on #1248
fixed with #1241

[2019-07-31 10:08] jbinda commented on #974
I've found the reason of that behaviour and will proceed with provide solution

[2019-07-31 10:12] jbinda commented on #1115
Hi @solshuffle

Which version of react-native-paper are you using ? Because all of you wrote should be already implemented in 3.0 branch

There is also padding="none" prop that allows to remove horizontal padding as you mentioned.

Please check the below screen from the example app:
![image](https://user-images.githubusercontent.com/21242757/62203897-5edf5a00-b38c-11e9-8fb0-8aa9ac3dfc47.png)

[2019-07-31 12:31] brunohkbx commented on #1248
@jbinda its working fine on android/ios but the input's border is still visible underneath the label on web.

[2019-07-31 12:39] brunohkbx opened #1258 "[Docs] - All links have text-decoration underline"
## Description
I don't know exactly when this happened but all links on https://callstack.github.io/react-native-paper have an underline now.

![Screenshot from 2019-07-31 09-38-16](https://user-images.githubusercontent.com/6487206/62212398-0487ce80-b377-11e9-8cdb-f60eb0166bff.png)

[2019-07-31 13:36] jbinda commented on #1248
Ok I will double check that

[2019-07-31 15:08] solshuffle commented on #1115
Thanks @jbinda
I just upgraded to "3.0.0-alpha.2" and that fixed the padding and dense issues.
The problem I am having now is that it doesn't recognise the fonts from the theme anymore.

I get this warning:
<img width="390" alt="image" src="https://user-images.githubusercontent.com/13484862/62223571-74b54500-b3b5-11e9-981e-f767d0506c8d.png">

Here is the code in theme, it used to work and show the

[2019-07-31 15:20] devsrv opened #1259 "FAB not responding if at least once disabled [working with RN 0.59.8 but not with 0.60.4]"
If problematically set `disabled` prop to false then afterwords the FAB never responds with `disabled={true}`. FAB is greyed out properly according to whether disabled or not but completely freezes if once disabled.

**TRIED WITH MULTIPLE PROJECTS USING RN 0.60.4 - GOT SAME RESULTS**

Here is my code:-

[code]

the repo is here - https://github.com/devsrv/rnpaper-fab

[2019-07-31 15:32] jaulz commented on #1115
@solshuffle please check the new definition of fonts: https://github.com/callstack/react-native-paper/blob/master/src/styles/fonts.tsx

Instead of passing a string you need to pass an object with `fontFamily` and `fontWeight` keys.

[2019-08-01 04:06] LucasLuco opened #1260 "BottomNavigation how to use jumpTo function"
here is my code

landingPage.js

const TravelPlannerRoute = () => <TravelPlannerPage></TravelPlannerPage>;

const MeRoute = () => <ProfilePage jumpTo={jumpTo}></ProfilePage>;

_renderScene = BottomNavigation.SceneMap({
        travelPlanner: TravelPlannerRoute,
        me: MeRoute,
    });

now in profile page i wish to add new button to click and navigate to travel planner page, please advise how

[2019-08-01 06:55] #1260 closed

[2019-08-01 10:06] #926 closed

[2019-08-01 10:24] ferrannp opened #1261 "Icons error in current 3.0-alpha.3"
Probably after merging https://github.com/callstack/react-native-paper/pull/1210.

[code]

We get:

![Simulator Screen Shot - iPhone X - 2019-08-01 at 12 23 22](https://user-images.githubusercontent.com/774577/62286034-29ec0980-b457-11e9-9186-0fe5b5618d5a.png)

[2019-08-01 10:39] Trancever commented on #1259
It must be something with accessibility. @pan-pawel Can you check it?

[2019-08-01 11:33] akhilsanker opened #1262 "To close an expanded accordion on opening another accordion"
## Describe the feature

If an accordion is expanded and trying to open another, automatically close the expanded one.

## Motivation

Usually this feature is seen in every accordion

[2019-08-01 11:43] ferrannp commented on #1261
03e484abadf80638b4953650f9f12c9f59abcbdd.

[2019-08-01 11:43] #1261 closed

[2019-08-01 12:03] lfrodrigues opened #1263 "BottomNavigation transitions have rendering issues when there are shadows in the views"
## Environment

- Latest version of react-native-paper
- RN 0.59.9
- Android 8 and 9

## Description
When we have shadows the transition keeps them visible until the transition finishes.

See recording here: https://drive.google.com/open?id=1ZioLEHFcnkRu28aMHEedCzZ-_CGQnX_Y

[2019-08-01 13:48] darmie opened #1264 "BottomNavigation is slow on Android"
## Environment
System:
    OS: macOS 10.14.4
    CPU: (4) x64 Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
    Memory: 61.50 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 8.11.3 - ~/.nvm/versions/node/v8.11.3/bin/node
    Yarn: 1.13.0 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v8.11.3/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      P

[2019-08-01 14:38] ArnaudBan commented on #1251
I don't know if it work but in React native but in React it is the other way works

[code]

[2019-08-02 02:16] LucasLuco commented on #879
hi @Trancever, this seem not working in latest version

[2019-08-02 06:38] netbull commented on #975
Basically it works, but not quite good for me.. When I switch tabs the screen content jumps most of the time, but if I set **statusBarHeight** it seems that it works correctly. I guess some calculations are made in **SafeAreaView**?

react-native-paper: 3.0.0-alpha3
react-native: 0.59.9
react-navigation: 3.11.1

![ScreenFlow](https://user-images.githubusercontent.com/2797954/62349504-9d018880-b508

[2019-08-02 17:21] immortalx commented on #1188
@pan-pawel
Inside <KeyboardAvoidingView/> on ios, i need to double click for the button to work. This is expected behavior?

Before your PR it wasn't working at all, thank you!

[2019-08-02 20:22] Leafgard commented on #695
Would it be possible to see an implementation example of a Drawer Item with a Badge ? Tried everything and wasn't able to add one :/

[2019-08-03 06:14] AmitPandya007 opened #1265 "While running in iOS device, the List.Accordion List indicator is coming with different icons(not up and down arrow)."
## Environment

## Description

## Reproducible Demo

[2019-08-03 06:18] AmitPandya007 opened #1266 "While running in iOS device, the List.Accordion List indicator is coming with different icons(not up and down arrow). Please check into it."
## Environment

iOS device testing

## Description

While running project with the library, the List item indicators are coming with some different icons(scissor and disk icon) which has to be (up arrow and down arrow icons).
Please look into it and reply.

    "react": "16.6.3",
    "react-native-paper": "2.16.0",
    "react-native": "0.59.0",

## Reproducible Demo

[2019-08-03 15:22] cltsang commented on #975
I experience that too.
May be related to #1035 ?

[2019-08-03 18:10] fgagneten opened #1267 "How to use vector icon in Banner"
## Ask your Question

I want to implement a Banner Component. This is how I wrote the component (Same as the doc):

    <Banner
        visible={this.state.visible}
        actions={[
          {
            label: 'Fix it',
            onPress: () => this.setState({ visible: false }),
          },
          {
            label: 'Learn more',
            onPress: () => this.setState({ visible: fal

[2019-08-04 11:38] mahdinabi commented on #1259
normal Button component acts like this as well.

[2019-08-04 18:39] pan-pawel commented on #1259
Hello @devsrv!
Can you please try upgrade react-native-paper to 3.0.0-alpha.3?
My fix [touchable-ripple-toggling-disable-prop ](https://github.com/callstack/react-native-paper/commit/16e3569) was merged there

[2019-08-05 03:58] joshualimpj commented on #1179
@danghung24031992 How did you fix this issue? I can't seem to fix it

[2019-08-05 04:01] joshualimpj opened #1268 "Buttons inside Modal isn't clickable. (Android)"
TouchableOpacity rendered inside the Modal isn't clickable. Clicking anywhere on the modal just flashes it.

[2019-08-06 11:03] LeonardoDrici opened #1270 "Webpack config with storybook"
Description
I was able to configure storybook to run my react native components, the problem is that some of the use react-native-paper's theme provider and when I run the webpack builder it doesn't load the theme correctly. What I tried to do is to write rule for the theme but I'm not able to make it work. Here is what i've got so far:

[code]

[code]
This is the error I get, it seems to come fro

[2019-08-06 12:10] satya164 commented on #1270
You need to configure babel loader as mentioned in the docs https://callstack.github.io/react-native-paper/using-on-the-web.html#2-configure-babel-loader

[2019-08-06 12:10] #1270 closed

[2019-08-06 13:30] bidah commented on #714
I have tried using the css prop to style components. That does not work. 😢

[2019-08-06 13:45] MLDimitry commented on #714
@bidah You just need to use the `styled` object from styled-components instead of css:

[code]

[2019-08-07 16:05] zRelux opened #1271 "Icon doesn't work with web and expo"
## Environment

Expo SDK 34

## Description

I started using the web module everything works great but is seems like the icon can't load properly.
I get this error in the console from the webpack loader
[code]
I added the source with style like this:
[code]
I tried to change the source to `@expo/vector-icons/website/src/fonts/MaterialIcons.ttf` but it doesn't seem to load the icons. Is there anyth

[2019-08-07 18:48] AsafAbrhmoff opened #1272 "how to use image props in card cover"
Hi.
I'm trying to use in image props with card cover and its not working.

<Card style={{ padding: 0, width: 100, top: 30 }} onPress={this.showDateTimePicker}>
        <Card.Cover style={{height: 100}} source={require('../../images/calendar.png')}
                  resizeMode={'stretch'}
        />
</Card>

what i did wrong?
thanks

[2019-08-07 22:24] ckristhoff opened #1273 "Button bold content"
## Ask your Question
Hi everyone,
How can I set text bold for buttons?

[2019-08-08 07:18] wolverineks commented on #1251
As it turns out, React Router has this built in
https://reacttraining.com/react-router/native/api/Link/component-func

[2019-08-08 07:18] #1251 closed

[2019-08-08 11:25] soumyamishra89 opened #1274 "Add ability to change padding between fab group children"
## Describe the feature

The fabs in fab group have a fixed gap (vertical) between them. In some cases it looks too much gap between the children.
Add styling option to customise the gap between the children fabs of fab group

[2019-08-08 20:51] zRelux opened #1275 "Can I access .PropTypes from a component rendered from the withTheme HOC"
## Ask your Question
So basically I created a table component is able to render the props need for the component based on the `.PropTypes` object
Example
[code]

Inside the table I'm able to log the propTypes like this `console.log(props.component.PropTypes);`

But if `Component` gets exported with the `withTheme` HOC `.PropTypes` is no more accessible.

Now what I am wondering is if there is a wa

[2019-08-09 06:49] HenokMengistu commented on #1113
we all love to have this feature, thanks for asking. As a quick fix though I was thinking like putting the data table in scroll view for the smaller width situations and enclosing them with a view with a static width, which we can get by multiplying a static width with the number of columns.

[2019-08-09 10:13] creambyemute opened #1276 "ChangeLog / Breaking Changes for v3 Migration?"
## Describe the feature
A ChangeLog / Breaking Changes section for the V2 --> V3 migration.

## Motivation
I just wanted to quickly try out v3.0.0-alpha.3 and ran into problems with not rendering react-native-vector-icons (rendered as ?).

## Related Issues
Probably related to switching from `MaterialIcons` to `MaterialCommunityIcons`

[2019-08-09 10:20] DianaKoenraadt opened #1277 "What's the difference between a Modal and a Dialog?"
Dialog is a window that appears over the content. Modal does not provide a window, just an overlay. In what scenario's would I use Modal?

[2019-08-09 13:24] maheraldous commented on #1164
Can't you update with a version to change it. I mean the background color is transparent by default so I can't use it like that so I started to use the default TextInput from the React Native Expo. I liked your job but I hope you can update it to open more options. :)

[2019-08-09 16:45] jvgaeta commented on #1141
@satya164 - That doesn't seem to be correct. Only the `renderIcon` method is passed a focused flag. The `renderScene` method does not. I'm looking to unmount an expensive component to improve performance. It seems hacky to use the `renderIcon` method to accomplish that.

[2019-08-09 17:02] satya164 commented on #1141
You already own the navigation state and index. You can use it to check if the route is focused.

[2019-08-09 17:06] jvgaeta commented on #1141
Ah, okay. I think I understand how to do it now. Thanks!

[2019-08-09 17:22] satya164 commented on #1141
[code]

[2019-08-09 17:24] jvgaeta commented on #1141
@satya164 - Aha. So, it makes sense now. I misunderstood the renderScene method thinking that the route is only called with the route I'm navigating to. Thanks!

[2019-08-10 08:22] DianaKoenraadt opened #1278 "FAB does not inherit theme?"
## Environment

    {
      "main": "node_modules/expo/AppEntry.js",
      "scripts": {
        "start": "expo start",
        "android": "expo start --android",
        "ios": "expo start --ios",
        "eject": "expo eject",
        "test": "node ./node_modules/jest/bin/jest.js --watchAll"
      },
      "jest": {
        "preset": "jest-expo"
      },
      "dependencies": {
        "@expo/sam

[2019-08-11 04:47] hitaloramon opened #1279 "[BUG] Accordion not open in Android TV"
Accordion does not open on Android TV using the control, it only works with the click of the mouse. I put a console.warn on Accordion onPress and saw that it's like running twice.

Version: 2.16.0

GIF:
`https://i.imgur.com/SA3vpXV.gif`

[2019-08-11 08:07] YousefAlsbaihi opened #1280 "Custom fonts error"
#Description

when trying to add custom font like the documentation says [here](https://callstack.github.io/react-native-paper/fonts.html)

i get this error

[code]

## Reproducible Demo

my code as the following

[code]

## Environment
[code]

[2019-08-11 08:35] YousefAlsbaihi commented on #1280
Solved it, it turns out the documentation was wrong a bit
this is how it should be implementing the font
[code]

this was based on this file [fonts.tsx](https://github.com/callstack/react-native-paper/blob/master/src/styles/fonts.tsx)

[2019-08-11 10:52] devsrv commented on #1259
the problem is fixed in 3.0.0-alpha.3 however getting a prop error warning & the icon is not appearing on the FAB.

![Untitled](https://user-images.githubusercontent.com/26733312/62832916-a8b12580-bc53-11e9-8e37-2326d0b5b40d.png)

![image](https://user-images.githubusercontent.com/26733312/62832932-283ef480-bc54-11e9-87c6-6f889e538b76.png)

[2019-08-11 21:56] fgagneten commented on #1261
I'm having the same error using alpha.3. It is not depend on the icon name. Using alpha.2 works like a charm

[2019-08-12 02:10] schellack opened #1282 "Animating dialog action buttons causes invisible buttons on iOS"
## Environment

iOS only: reproduced in Snack on iOS simulator (link below) and on physical iPhone Xs Max running iOS 12.4 in the Expo app.

## Description

When using a [Dialog](https://callstack.github.io/react-native-paper/dialog.html), I hide the [Dialog.Actions](https://callstack.github.io/react-native-paper/dialog-actions.html) until the user has completed some task inside the dialog. Once t

[2019-08-12 05:16] #1280 closed

[2019-08-12 06:47] pan-pawel commented on #1259
@Trancever This is related to icon problems in paper 3?

[2019-08-12 07:25] Trancever commented on #1259
@devsrv Paper v3 uses `react-native-vector-icons/Material-Community-Icons` instead of `react-native-vector-icons/Material-Icons` by default so you need to update name of the icon or use old Icon component via settings prop on PaperProvider. You can see how to do it [here](https://github.com/callstack/react-native-paper/blob/2bb643652d5192d93de85f22ea1d652d2dd6b48d/example/src/index.native.tsx#L122

[2019-08-12 07:26] #1259 closed

[2019-08-12 07:28] Trancever commented on #1278
Pass theme to Provider and it's gonna work.

[2019-08-12 07:28] #1278 closed

[2019-08-12 07:34] Trancever commented on #1277
@DianaKoenraadt You should use Dialog and other Dialog related components e.g. Dialog.Actions, Dialog.Title to build simple, not very configurable components. Modal allows for more customizations.

[2019-08-12 07:34] #1277 closed

[2019-08-12 07:41] Trancever commented on #1272
What prop doesn't work for you? Can you provide snack that reproduces issue?

[2019-08-12 07:45] Trancever commented on #1267
@fgagneten You can do it like that right now:
[code]
Unfortunately, there is no way to pass only name of the icon right now, we will think about fixing it.

[2019-08-12 07:45] #1267 closed

[2019-08-12 08:29] devsrv commented on #1259
fixed 🥳

[2019-08-12 21:54] burlapdesign opened #1283 "yarn add git repo"
## Ask your Question

Not sure if this is right place. We're trying to use this as the start for building a component library for our internal use. I was trying to add it to a project as a test using "yarn add git https://thisrepo.git  and I get the following errors. This doesn't happen if I use yarn add [package]

Errors found when building definition files.
example/src/index.native.tsx(1,25): er

[2019-08-13 04:53] jaulz commented on #1283
https://github.com/callstack/react-native-paper/pull/1203

[2019-08-13 20:41] lironsher commented on #1276
Thanks, your tip saved my night.

[2019-08-14 17:36] #1202 closed

[2019-08-15 09:09] ethanke commented on #639
3 times warning each startup of my app. Even if it's not a functional problem, would be great to find a way to fix this warning, is not clean...

<img width="848" alt="Capture d’écran 2019-08-15 à 11 05 59" src="https://user-images.githubusercontent.com/14801923/63085142-1eb3d600-bf4d-11e9-9435-74a1e2d2fa42.png">

[2019-08-15 22:28] GollyJer commented on #1276
Yeah... go here to replace your icon props.
https://materialdesignicons.com/

[2019-08-15 22:30] GollyJer opened #1284 "Best way to contribute to v3?"
Hi all,
I've been using v3 for the last couple weeks and have run into a few bugs I'd like to fix via code contributions. Should I wait until v3 is released to Master?

What's the best way for me to help?

[2019-08-15 23:19] devpolish commented on #687
I'm having the same issue, I'm trying to add Navigation's icons from this source but most of the icons are not supported.

https://material.io/resources/icons/?style=baseline

"react": "16.6.0-alpha.8af6728"
"react-native": "0.57.4"
"react-native-paper": "^2.16.0"

[2019-08-16 08:18] pan-pawel commented on #1284
if you fork repo and create branch from master all your PR's will go to v3. v3 is already on master

[2019-08-16 08:21] zRelux commented on #1275
Any update?

[2019-08-16 08:24] #1284 closed

[2019-08-16 13:54] lemonlimemango commented on #903
Hey thanks for making the great library! Is there a status update on this item? Specifically I am interested in the `trailingIcon`. Do you need someone from the community to pick this up?

[2019-08-16 21:14] marcorm commented on #1255
any updates?

[2019-08-18 00:09] aniss commented on #1263
I confirm that.

[2019-08-18 01:42] burlapdesign commented on #1283
Thanks. That was what helped.

[2019-08-18 01:42] #1283 closed

[2019-08-18 03:41] satya164 commented on #1263
It's a bug in React Native https://github.com/facebook/react-native/issues/23090

[2019-08-18 10:18] lfrodrigues commented on #1263
Is it possible to disable or replace the animation?

[2019-08-19 04:08] giautm opened #1286 "[TextInput] Wrong placeholder opacity during init pharse"
## Environment

https://github.com/callstack/react-native-paper/blob/2bb643652d5192d93de85f22ea1d652d2dd6b48d/src/components/TextInput/Label/InputLabel.tsx#L79-L85

## Description

The placeholder move from bottom to top during calculate label height, I believe this condition was wrong. It should be:

[code]

## Reproducible Demo

Just set TextInput with custom height.

[2019-08-19 07:54] lukewalczak commented on #687
Hey @devpolish , from version 3.0 we are using [MaterialCommunityIcons](https://oblador.github.io/react-native-vector-icons/) by default.

[2019-08-19 07:55] Trancever commented on #1275
@zRelux Can you create a Snack with your component? I am not sure if I understand your problem.

[2019-08-19 08:00] Trancever commented on #639
@ethanke This will hide warnings `console.ignoredYellowBox = ['Require cycle: node_modules/react-native-paper'];`. We do not prioritize fixing this, because it's not really an issue.

[2019-08-19 08:29] zRelux commented on #1275
Here is the snack: https://snack.expo.io/HJY6TRvNH
In line 10 in App.js i want to be able to log the props that the components needs.

[2019-08-19 08:35] satya164 commented on #1275
Please don't rely on such pattern. `propTypes` are internal details of a component. If you really need to access it, export them separately.

[2019-08-19 08:35] #1275 closed

[2019-08-19 21:58] CLantigua2 commented on #687
The site still points to https://materialdesignicons.com/ but none of those seem to actually work. Should it reflect https://oblador.github.io/react-native-vector-icons/ instead?

[2019-08-20 08:06] msageryd opened #1288 "Animations and gestures, future development"
I'm considering RNP as component lib for my app. Everything seems very neat and well thought out. I like it!

I do wonder if you have any plans on implementing more animations, or is this deliberately left to the users? As an example I would like to animate the Accordion. What would be your suggested way of doing this?
- In a forked/inherited component?
- As a PR to the lib?

What animation and ge

[2019-08-20 08:27] msageryd opened #1289 "How to betatest version 3?"
As I'm right now evaluating RNP for my project I might as well try to help out with beta/alpha-testing of v3. Is there any guidelines on how to install v3?

I tried to `yarn add https://github.com/callstack/react-native-paper.git` and got the following error:

[code]

[2019-08-20 09:32] msageryd opened #1290 "ToggleButton.Row not working"
## Environment

Expo SDK 34
RNP 2.16.0

## Description

I'm not sure if ToggleButton.Row should work in 2.16, but it's in the docs so I think it's supposed to work.

It spits out Invariant Violation, both in my local test app and in the Snack linked from the [docs page](https://callstack.github.io/react-native-paper/toggle-button-row.html)

## Reproducible Demo

- Copy/Paste the example from the [

[2019-08-20 12:15] yaronlevi opened #1291 "Unable to resolve module components/TextInput"
react-native@0.59.10
react-native-paper@2.16.0

Happens only in **ios**, when trying to import the TextInput component like so:

`import { TextInput } from 'react-native-paper';`

I am running this using react-native run-ios on an iPhone7 simulator.

I am getting an error:
[code]

[2019-08-20 12:54] RichardLindhout commented on #1289
```yarn add react-native-paper@3.0.0-alpha.3```

[2019-08-20 12:57] RichardLindhout commented on #1289
I think that is only on master. If you want to have master fork it en change some values like this
https://github.com/profects/react-native-paper/commit/c9f787b8eaed02da9e9ce0519306be31f84c0fa7
https://github.com/profects/react-native-paper/commit/ea3efc2963a252ae86d1e4d64774313bf1c73467

[2019-08-20 13:23] msageryd opened #1292 "Textinput props "padding" and "dense" not implemented as per the docs"
I'm starting to realise that the docs are probably for version 3. Both the padding and dense props are missing from 2.16.

If v3 is being released soon, this is not a problem. Otherwise I think it would be good to either:
- Mark v3 props/methods as "v3" in the docs
- Or simply remove them from the docs for now

[2019-08-20 15:21] msageryd commented on #1289
Thanks @RichardLindhout!
It worked great.

[2019-08-20 15:21] #1289 closed

[2019-08-20 15:33] msageryd commented on #1292
I have now installed a forked master for testing. Would you (maintainers) be interested in PRs for the docs? I could tag the new v3 props with `(coming in version 3)` or something when I encounter them?

[2019-08-20 15:54] msageryd opened #1293 "Too much roundness makes outline interfere with label on TextInput"
## Environment

RNP 3.0.0 alpha3

## Description

Large amounts of `roundness` on outlined `TextInput` does not play well with the label position when it's animated up to the outline.

![image](https://user-images.githubusercontent.com/4483085/63362796-b6149100-c372-11e9-9509-5dd0602ae46c.png)

Possible solutions:
- Move the label some amount to the right with a formula affected by roundness.
- Mo

[2019-08-20 16:04] msageryd commented on #1293
I tried alternative 3 (solid background). It doesn't look good to me. Apart from the look, there would also be a problem with the animation. If the label background has a different color from the input background the color would have to be applied after the animation.

![image](https://user-images.githubusercontent.com/4483085/63363817-9bdbb280-c374-11e9-8b30-d44c8c594ad5.png)

[2019-08-20 16:21] msageryd commented on #1293
Here is a somewhat "hacky" version where the label is moved to the right 10px. I haven't quite grasped the way the line behind the label is hidden by rendering two different views (thin gray views to cover the line). I managed to move the grey view 10px, but I didn't put the effort in to give it correct line. This is just for the sake of example screen shots.

![image](https://user-images.githubus

[2019-08-20 22:51] robertherber commented on #919
Hmm, this doesn't feel quite right. Why doesn't the Context-provided theme apply to this specific component?

[2019-08-21 12:41] RichardLindhout commented on #1293
You could also round the label background like the screenshots in this pull request I did a while ago.
https://github.com/callstack/react-native-paper/pull/887

[2019-08-21 14:02] msageryd opened #1296 "Export StyledText in order to ease custom component development"
## Describe the feature

It would be great to have the internally used `StyledText` exported.

## Motivation

Custom components created with `withTheme` gets access to the theme object so they can look like the other RNP components. I would also like to have my custom labels and captions looking like the standard RNP ones.

[2019-08-21 16:59] cassioseffrin opened #1297 "After change state of a Button (disabled = true then false again) only the text area is touchable, there is no TouchableRipple on its surface anymore"
## Environment

[code]
## Description

When the disabled prop of a Button is set to true and then set it back to false, the button lose his TouchableRipple on its surface, just the <Text> become touchable.

**This issue happen only in android.**

## Reproducible Demo

[code]

[2019-08-21 21:01] MakhouT commented on #945
@satya164 Add the plugin as in install it or add it to babelConfig.js? I'm also having issue opting out of this...

[2019-08-22 02:17] Ashkan-Oliaie opened #1298 "my button don't get the ripple effect when adding disable property"
## Environment

andoird
react-native 0.60.5

## Description
My Button won't get the onClick ripple Effect when I pass some disable property

[2019-08-22 12:00] Trancever commented on #1298
@Ashkan-Oliaie When button is disabled, it is supposed to have no ripple/press effect.

[2019-08-22 12:00] #1298 closed

[2019-08-22 12:03] Trancever commented on #1297
@cassioseffrin This is fixed in 3.0 with https://github.com/callstack/react-native-paper/pull/1226 . Can you try 3.0-alpha version?

[2019-08-22 12:03] #1297 closed

[2019-08-22 12:05] Trancever commented on #1290
@msageryd This was added to 3.0 with https://github.com/callstack/react-native-paper/pull/1169.

[2019-08-22 12:05] #1290 closed

[2019-08-22 12:05] Trancever commented on #1292
@msageryd This was added to 3.0.

[2019-08-22 12:05] #1292 closed

[2019-08-22 12:08] Trancever commented on #1296
@msageryd You can always pass `style` to Paper components to customize them.

[2019-08-22 12:08] #1296 closed

[2019-08-22 12:21] msageryd commented on #1296
Thanks.
My use case is that I need some text elements in a component. One of the elements should have the same type of translucency as the your `Caption` component.

I'm now calculating my own textColor with the `color` package in exactly the same way as is done inside of StyledText. I thought it would be neat to reuse the functionality in StyledText instead of duplicating it.

This is absolutely

[2019-08-22 14:07] cassioseffrin commented on #1297
@Trancever ,

 I tried the last alpha version: npm i react-native-paper@3.0.0-alpha.3 and the issue has gone!

The version alpha.3 is almost done to enter in production?

Thks!

[2019-08-22 14:39] lafiosca opened #1299 "BottomNavigation with shifting and single route crashes app"
## Environment

n/a, see Snack below

## Description

Configuring a `BottomNavigation` with a single route and `shifting` enabled causes the app to crash with `Invariant Violation: Bad output range`. The crash can be avoided by having at least two routes or disabling `shifting`.

This is perhaps an obscure edge case, but I ran into it while establishing react-navigation-material-bottom-tabs in a n

[2019-08-22 15:40] Ashkan-Oliaie commented on #1298
I've created a snack example and everything was fine there , there must be something wrong with my code.
It's not pretty serious though.

[code]

[2019-08-23 17:24] devsrv opened #1302 "Cannot find module 'react-native-paper/babel' when generating production build for android"
**Without Expo** & Using - "react-native": "0.60.4", "react-native-paper": "^3.0.0-alpha.3",

_babel.config.js--_
[code]

when trying to generate APK on windows system getting this error. tried on other projects using RN paper "^3.0.0-alpha.3", got same error

![rn paper issus](https://user-images.githubusercontent.com/26733312/63611154-e40b0700-c5f8-11e9-9ae6-6000f82c53f9.png)

[2019-08-24 00:49] diegorodriguesvieira commented on #1302
Any solution? :(

[2019-08-24 02:27] franziz commented on #1225
Mine is not working, any idea?
[code]

[2019-08-24 05:45] basefox opened #1303 "Styling badge in bottomNavigation"
Please need some Help and Solution ,

Styling badge in bottomNavigation ,

I have see in file ( components/BottomNavigation.js )  ,
[code]

css :
[code]

how i can customize the margin for badge ( left / right ) ?

Thank You

[2019-08-24 07:37] basefox commented on #1303
my problem was resolved, I took the source file from react-native-paper / src / components / BottomNavigation.js and I put it in my local component

then I edit
[code]
now it is according to my expectations

thank you

[2019-08-24 07:37] #1303 closed

[2019-08-24 17:42] pan-pawel commented on #1225
Could you provide more details? package versions, screenshots etc?

[2019-08-25 04:41] junlee91 commented on #1291
Try running the metro bundler first with reset-cache option
`react-native start --reset-cache`

And start the simulator from another shell: `react-native run-ios --simulator="iPhone 7"`

[2019-08-25 14:10] Noitidart commented on #452
I am also trying to get an icon in the right, I do the row-reverse on the `contentStyle` prop but the padding gets messed up:

![image](https://user-images.githubusercontent.com/6372489/63651223-5833d080-c707-11e9-907b-16e39d41258f.png)

[2019-08-26 06:33] Trancever commented on #1297
Yes, we will release stable version in a few days

[2019-08-26 06:34] #1291 closed

[2019-08-26 06:36] Trancever commented on #1302
@satya164 can you check what's happening?

[2019-08-26 11:38] jaysbytes commented on #1271
Did you install the `react-native-vector-icons` package? It seems to be mandatory on the web.

[2019-08-26 11:39] #1250 closed

[2019-08-26 11:39] zRelux commented on #1271
I'm using expo, do I still have to?

[2019-08-26 11:42] jaysbytes commented on #1252
Paper does not have such a dependency, on third-party paper's dependencies is supposed to have `snapdragon-util`. It's probably your project issue or third party package issue.

[2019-08-26 11:42] #1252 closed

[2019-08-26 11:48] jaysbytes commented on #1262
We could create AccordionGroup component that would map its children.

[2019-08-26 11:55] jaysbytes commented on #1264
Can you put your example on [snack](https://snack.expo.io)? Maybe too heavy tabs cause performance issues?

[2019-08-26 11:56] jaysbytes commented on #1265
Can you attach any screenshot or code to debug (preferably on https://snack.expo.io)

[2019-08-26 11:57] jaysbytes commented on #1266
Can you attach any screenshot or code to debug (preferably on https://snack.expo.io)

[2019-08-26 11:58] jaysbytes commented on #1265
closing, duplicate of #1266

[2019-08-26 11:58] #1265 closed

[2019-08-26 11:59] jaysbytes commented on #1268
Can you provide a reproducible demo, preferably on https://snack.expo.io ?

[2019-08-26 12:09] jaysbytes commented on #1271
I'm not 100% sure but try to exclude `react-native-vector-icons` similar as we have in our example app https://github.com/callstack/react-native-paper/blob/2.0/example/webpack.config.js.

Our example also has `"@expo/vector-icons": "^8.0.0",` dependency https://github.com/callstack/react-native-paper/blob/2.0/example/package.json

[2019-08-26 12:10] jaysbytes commented on #1272
Closing because of inactivity.

[2019-08-26 12:10] #1272 closed

[2019-08-26 12:15] jaysbytes commented on #1273
Currently, it's not possible. There should be a prop `textStyle`

[2019-08-26 12:21] jaysbytes commented on #1274
I didn't find any specs about spacing size so PR welcome 😀

[2019-08-26 12:24] jaysbytes commented on #1286
cc @jbinda

[2019-08-26 12:33] jaysbytes commented on #1299
On one hand, there is an error but on the other what is the purpose of using a shifting prop with only one tab? WIll this bug appear in the real-world app?

[2019-08-26 12:41] jaysbytes commented on #1302
The issue might be related to the fact,  that after migration to typescript `.js` files aren't copied to `lib` folder.  `src/babel/index.js` is a `js` file

[2019-08-26 13:43] jaysbytes commented on #1036
considering solved, closing

[2019-08-26 13:43] #1036 closed

[2019-08-26 13:44] jaysbytes commented on #1243
the plugin is a part of a library.

[2019-08-26 13:44] #1243 closed

[2019-08-26 13:51] jaysbytes commented on #1163
Closing for inactivity

[2019-08-26 13:51] #1163 closed

[2019-08-26 13:54] jaysbytes commented on #1162
inactive, closing

[2019-08-26 13:54] #1162 closed

[2019-08-26 13:56] jaysbytes commented on #1140
It would be supported to change icons set in 3.0

[2019-08-26 13:56] #1140 closed

[2019-08-26 14:09] jaysbytes commented on #1120
It is not an issue if it is related to just one version of RNW. If the issue still occurs consider adding code to reproduce

[2019-08-26 14:09] #1120 closed

[2019-08-26 14:13] jaysbytes commented on #1092
inactive, closing

[2019-08-26 14:13] #1092 closed

[2019-08-26 14:16] jaysbytes commented on #1097
inactive, closing

[2019-08-26 14:16] #1097 closed

[2019-08-26 14:20] jaysbytes commented on #987
inactive, closing

[2019-08-26 14:20] #987 closed

[2019-08-26 14:31] jaysbytes commented on #966
there is no loading prop on Banner action items

[2019-08-26 14:31] #966 closed

[2019-08-27 06:25] HanShenNg opened #1306 "TextInput's text overlap with label when number of lines > 5 (ios)"
### Current behaviour

TextInput's text overlaps with its label when number of lines > 5.

### Expected behaviour

The text in the TextInput shouldn't overlap with its label.

### Screenshots

![image](https://user-images.githubusercontent.com/32507141/63745776-a4347000-c8d5-11e9-8a31-c67f98fdd1e4.png)
Original layout (focused on affected field)

![image](https://user-images.githubusercontent.com/

[2019-08-27 09:22] Taym95 commented on #738
Ths doc contains favicon now.

[2019-08-27 09:22] #738 closed

[2019-08-27 10:16] franziz commented on #1225
@pan-pawel sorry a bit late to reply.
Package Versions: `2.16.0`

I am using `react-native-paper` and `react-navigation`. However, the `navigationOptions` for my `react-navigation` is `{header: null}`

Here is my screenshot
![Screenshot 2019-08-27 at 18 13 49](https://user-images.githubusercontent.com/5362839/63763152-bbd02080-c8f6-11e9-8609-922e94d06e5a.png)

[2019-08-27 12:18] jaysbytes commented on #1262
I'm working on implementation right now.

[2019-08-27 15:53] david-saint commented on #1225
Yeah, I noticed it only does this when the AppBar and the background are of the same color.

[2019-08-27 18:49] GollyJer opened #1308 "Getting ESLint error trying to commit to dev branch."
I have a branch I'd like to submit as a pull request but when I try and commit the code I get the following.

If I execute `yarn eslint --ext '.js,.ts,.tsx' .` via CLI the command runs as expected.

Any suggestions?
Thanks!

[2019-08-27 23:12] #1308 closed, assigned to nobody

[2019-08-27 23:16] GollyJer opened #1309 "Master branch has a failing test?"
I'm having a heck of a time trying to submit a PR. 😀

This failure happens on a fresh copy of Master.
- Fork
- Clone
- `yarn bootstrap`
- `yarn test`

![image](https://user-images.githubusercontent.com/689204/63817954-91309880-c8f3-11e9-9215-87fac627c1af.png)

Not sure what to do. Is it only me?

[2019-08-27 23:20] chuabingquan opened #1310 "Remove animation for BottomNavigation"
Hi, is it possible to disable animation for BottomNavigation when switching between the tabs?

[2019-08-28 02:18] franziz commented on #1225
I take a look at the source code and try to remove from something from `AppbarHeader.js`, and it works. Here something that I remove, is it the correct way?

[code]

[2019-08-28 07:27] jaysbytes commented on #1309
Yes, it is because of a different paths schema on Windows. We can fix it by adding a condition based on NodeJS `os`

`./src/babel/__tests__/index.js`

[code]
I will require to have a Windows machine and create actual fixtures.
Based on docs of lib we use for this test `babel-test` it should have `code.js` file and `output.js` file
______________________________________________
From docs

To run th

[2019-08-28 07:30] jaysbytes commented on #1299
Yes, we definitely should at least have better error reporting here, especially for newcomers, as you said. Or fix the issue :D

[2019-08-28 07:50] jaysbytes commented on #1288
The goal of this library is to deliver components that follow Material UI guidelines. I think we are not going to implement animations that are not common for Material UI. But If you see any missing animation according to the MUI docs please open a new issue with a feature request. I'm not sure about accordion animation, for now, I cannot find anything in docs, but I'm for adding an animation

[2019-08-28 07:57] jaysbytes commented on #1310
Try playing with `shifting` prop. Maybe it is that what you mean.
From docs:

[2019-08-28 08:33] MakhouT commented on #1150
I agree with this feature request, it would be nice to be able to pass in props to configure this.

[2019-08-28 08:54] HasnainSomroBuzzInteractive opened #1311 "TextInput padding prop is not available in react-native"
## Ask your Question

I was trying to apply padding prop of TextInput (as mentioned in document) but it was giving error. Then I decided to look into source code and found nothing as padding prop. But your [github source](https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput/TextInput.tsx) does have padding prop in TextInput file.
Please guide me in the right directi

[2019-08-28 10:45] chuabingquan commented on #1310
My bad, I wasn't clear. When I click on the bottom tabs, there would be a transition animation as the screen changes. This seems to introduce lag during between page changes using the BottomNavigation and renders some momentary stray shadows near my app bar as shown in the video below

[Example](https://youtu.be/OSR-L7BPxHs)

Snack: https://snack.expo.io/@chuabingquan/lag

[2019-08-28 11:11] cngjsskaisme opened #1312 "Icon prop error."
## Ask your Question
As it says in documentation, I tried to add button with icon which is 'dots-vertical'. And it says that is invalid though the document says that icon is in the supported list.

And I'm using expo so AFAIK there's no need of extra configuration.

The error message was : Invalid prop name of value 'dots-vertical' supplied to 'icon'.

The code was like below :
`

[2019-08-28 12:18] jbinda commented on #1311
Hi @HasnainSomroBuzzInteractive

You need to update react-native-paper version to 3.0. The prop should be accessible then

[2019-08-28 12:18] #1311 closed

[2019-08-28 12:28] jbinda commented on #1306
Hi @HanShenNg

The issue is connected with #974 and it will be fixed in 3.0 version after deal with some other tasks. Please consider to migrate to 3.0 because I see you are on 2.16 version

[2019-08-28 13:15] HasnainSomroBuzzInteractive commented on #1311
Thank you for your fast response. I tried
`npm install --save react-native-paper@3.0`

But it gave me below error:
`npm ERR! code ETARGET
npm ERR! notarget No matching version found for react-native-paper@3.0.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.`

[2019-08-28 13:28] chuabingquan commented on #1312
@cngjsskaisme you could try `more-vert` for the icon prop instead

[2019-08-28 13:51] jaysbytes commented on #1310
These shadows bug is related to a bug in Android 9 in react-native. But I cannot reproduce a lag. To support animation disabling we need to add a prop. It will resolve shadows issue but I'm not sure about the lag issue. Did you try the code on a real device?

[2019-08-28 14:05] cngjsskaisme commented on #1312
Thanks for your help but that didn't help... But anyways I appreciate it :)

[2019-08-28 18:49] mrsanta79 opened #1313 "Bottom navigation android hardware back button press"
Hi, is there any way to control the hardware back button ? Cause, if I press the back button on any of the screen of bottom navigation tabs, it should take me to the first tab, and if I'm on the first tab, it should exit the app. But it's exiting no matter in which tab I'm in.

[2019-08-28 23:49] chuabingquan commented on #1310
Did you try to test on an android device? The issue seems to be exclusive to android only. I’ve tried it on both an emulator and an actual device but still got some lag that’s similar to this [issue](https://github.com/callstack/react-native-paper/issues/1264)

[2019-08-29 00:09] rimbosUY opened #1315 "Button with Icon defined as URI or local asset is not being rendered as expected"
## Environment
Using "react-native-paper": "^2.15.2" with react-native-web.
Button component is not working as expected when an image is set to the Icon property as it appears on ButtonExample.tsx (and also as it is documented at https://callstack.github.io/react-native-paper/icons.html)

## IT IS WORKING AS EXPECTED IN 2 DIFFERENT CONFIGURATIONS :
 1)  icon="camera"
 2) using a custom component.

[2019-08-29 06:57] jaysbytes commented on #1312
@cngjsskaisme Which version of Paper are you using? 2.x or 3.x (master)

[2019-08-29 07:07] jaysbytes commented on #1313
Hi, Bottom navigation in Paper does not support navigation stack. But you can use react-navigation react-native-material-bottom-tabs (which uses paper's bottom navigation). Find out more in react-navigation docs https://reactnavigation.org/docs/en/material-bottom-tab-navigator.html

If you are building an app, using a navigation library would be a great idea.

[2019-08-29 07:07] #1313 closed

[2019-08-29 07:21] jaysbytes commented on #1315
Hi! A few questions to define a problem better
1. Does the problem occur both on react-native and on the web?
2. Does console prints any warnings/errors?
3. Does an icon specified by name display correctly? `icon="favorite"`

[2019-08-29 07:33] jaysbytes commented on #1310
Yes, I tested on a high-end device. Maybe it occurs on weaker ones.

[2019-08-29 09:18] pixelize commented on #1144
related https://github.com/callstack/react-native-paper/pull/1167

[2019-08-29 10:28] mrsanta79 commented on #1313
Okay. Thanks a lot.

[2019-08-29 13:09] pixelize commented on #549
Is is possible to achieve that in the 2.16 version ? Haven't found a correct work around :(

[2019-08-30 02:29] rimbosUY commented on #1315
Thanks @jaysbytes for your response.
Doing more research about the issue, it appears to be a problem between react-native-web and Safari Mobile.
Please take a look at this issue report: https://github.com/necolas/react-native-web/issues/1319

I couldn't find more information regarding safari bug state.
So, please close this bug report because it is not related to react-native-paper (but it would b

[2019-08-30 02:29] #1315 closed

[2019-08-30 06:34] cngjsskaisme commented on #1312
@jaysbytes I have followed the 'Getting started' page instructions, so I think it's 3.x.

[2019-08-30 08:11] jaysbytes commented on #1312
You should check the version in package.json.
Check this example https://snack.expo.io/@jaysbytes/jealous-carrot
In your case `dots-vertical` (3.x) or `more-vert` (2.x) should work. If both don't work I cannot help without more complex reproduction

[2019-08-30 09:41] Ce234 commented on #1225
Coming from Android(and Staying on Android), new on react, i have found a workaround which worked,

I just wrapped the Appbar.Header into a <Card> with elevation,

By the way Android is by far, Better

[2019-08-30 12:59] chuabingquan commented on #1310
I've tested it on a flagship android device and there's still a latency of about a second. I'm not an android user, perhaps I'm not used to the animation. However, is there a workaround for the bug you mentioned with react native?

[2019-08-30 14:13] Sam-Martin opened #1317 "Allow styling of text in Button and modification of Icon size"
## Describe the feature

At the moment the text styling in Button is [hardcoded with a combination](https://github.com/callstack/react-native-paper/blob/master/src/components/Button.tsx#L272) of `styles. label` and `textStyle` neither of which are accessible outside the component.

Also the `size` parameter passed to `Icon` is [fixed to 16](https://github.com/callstack/react-native-paper/blob/mast

[2019-08-30 17:55] GollyJer opened #1318 "What's the process for PR reviews?"
Just wondering if I need to post in the issues to get a PR reviewed.
https://github.com/callstack/react-native-paper/pull/1314

Thanks!

[2019-08-30 22:29] rodrigo98rm commented on #1312
I'm experiencing the very same issue.
My environment:
- React Native without Expo
- React Native Paper V2.16.0

Icon names on my project seem to point to [Google Material Icons](https://material.io/resources/icons/), but the icon list available on the [docs](https://callstack.github.io/react-native-paper/icons.html) point to [Material Community Icons](https://materialdesignicons.com/).

If Materia

[2019-08-31 12:03] #1312 closed

[2019-08-31 17:29] pan-pawel commented on #1225
@franziz I'm not sure if it's a correct way.
You can use `Appbar` without `Appbar.Header` with it's own elevation. So, if we are using `Appbar` inside `Appbar.Header` we need to set `Appbar` elevation by default to 0 and rely on `Appbar.Header` elevation only to avoid  situations like here:
<img width="353" alt="Screenshot 2019-08-31 at 19 13 07" src="https://user-images.githubusercontent.com/3886

[2019-08-31 19:40] jafri opened #1320 "Unable to resolve module `react-native-paper/../styles/DefaultTheme`"
Without Expo & Using - "react-native": "0.60.4", "react-native-paper": "^3.0.0-alpha.3",

When calling
[code]

I see the error

[code]

[2019-08-31 19:53] jafri commented on #1320
Looks lie it was a cache issue fixed by
[code]

[2019-08-31 19:53] #1320 closed

[2019-09-01 13:04] pan-pawel commented on #1318
Thanks for question @GollyJer
You don't need to create post like this for it.
We usually meet once per week to review your PR's

[2019-09-01 13:04] #1318 closed

[2019-09-01 15:52] pan-pawel commented on #1273
@ckristhoff I added PR with labelStyle for button. I will notify you if we add it to paper

[2019-09-01 15:56] pan-pawel commented on #1317
@Sam-Martin I added PR with labelStyle for button. I will notify you if we add it to paper

[2019-09-01 16:02] Sam-Martin commented on #1317
That's awesome! Any thoughts on icon size?

[2019-09-01 17:10] adteague commented on #881
You can always use ‘<Checkbox.Android />’ to just use the Android properties (ie. outlined unchecked box)

[2019-09-02 02:34] francisco-mercury opened #1322 "Unable to declare ref for TextInput"
## Environment
react-native-paper 3.0.0-alpha.3
react-native 0.59.8
Typescript 3.6.2

## Description
I'm trying to convert my component that uses TextInput to typescript, but I'm getting an error at `React.RefObject<TextInput>`: 'TextInput' refers to a value, but is being used as a type here.ts(2749)

I tried `yarn add https://github.com/callstack/react-native-paper.git` to try to pull in #1218, b