[2021-12-06 12:47] #2962 closed

[2021-12-06 13:46] pushpender-singh-ap commented on #2984
@lukewalczak See this

<a href="url"><img src="https://user-images.githubusercontent.com/73298854/144856696-8f9afdbc-fdc8-4d1c-b57c-adf48320d3ca.gif" height="400" width="600" ></a>

<a href="url"><img src="https://user-images.githubusercontent.com/73298854/144856846-8d1aec8e-7dd3-461b-9e22-7e3b29cb46ed.gif" height="400" width="600" ></a>

[2021-12-06 16:23] sivashalinimanikandan opened #2996 "Backdrop of modal opacity adjustment"
It would be more helpful if we can adjust opacity of backdrop.

[2021-12-07 02:58] Allwithyou999 commented on #2994
Thank you @lukewalczak. That works!!

[2021-12-07 10:16] juspeeh commented on #2606
Still an issue

[2021-12-07 11:03] #2994 closed

[2021-12-07 15:01] timdp commented on #1489
A lot of components use `TouchableRipple` internally, but only some of them use prop drilling. In particular, the ripple color gets computed from the theme's text color on the fly. This means that you cannot have a different ripple color without changing your text color. I would like to have the ripple color be part of the theme rather than relying on magic constants locked inside `TouchableRipple

[2021-12-07 18:43] krschacht commented on #2935
I too am grappling with this bug. @Polypants , does it make sense what HeadJK is saying? You can see the issue in your own snack. In your second example, you have an outlined text input and when you add the paddingLeft it should not move the outline. It's adding the padding *outside* the outline but it should add it *inside* the outline.

Right now the only workaround I've found is: do not use mod

[2021-12-07 18:52] krschacht commented on #2935
I too am grappling with this bug. @p-syche , does it make sense what HeadJK is saying? You can see the issue in your own snack. In your second example, you have an outlined text input and when you add the paddingLeft it should not move the outline. It's adding the padding outside the outline but it should add it inside the outline.

Right now the only workaround I've found is: do not use mode "out

[2021-12-07 20:49] lukewalczak commented on #2935
Hello, please try to install the library from the branch` fix/outlined-input-padding` which contains changes included in the [PR](https://github.com/callstack/react-native-paper/pull/2997) _(currently in draft, still need some testing)_ and please let me know if that fix your issue.

[2021-12-07 21:35] buffaloDeveloper commented on #2995
Tried that, but does not work for me.  Maybe because I'm using react navigation as well.

[2021-12-07 21:38] buffaloDeveloper opened #2998 "Mouse cursor does not change for Card onPress (react native web)"
`<Card onPress={() => {}}>`

If you add an onPress, the mouse cursor will not change on hover-over (react native web).

[2021-12-07 22:42] traviswimer opened #2999 "React Navigation `material-bottom-tabs` breaks nested Stack Navigators"
### Current behaviour

On Android, the tab content is not visible the second time the tab is viewed. This is when using `@react-navigation/material-bottom-tabs`, with a Stack Navigator nested within one of the tabs.

To reproduce:

1. Press the tab that contains the Stack Navigator. (The content will be visible at this point)
2. Press a different tab.
3. Press the first tab again, and nothing will

[2021-12-08 06:18] samaneh-kamalian commented on #2989
Is there any solution? :(

[2021-12-08 11:20] Azhar456 commented on #2139
I was facing same error
I have solved it by making
**import {SignIn} from './SignIn';**
As (Remove Curly Braces after Import , It worked for me)
**import SignIn from './SignIn';**
My React Version
"react": "17.0.2",
"react-native": "0.66.3",
"native-base": "^3.2.2",

[2021-12-08 13:44] lukewalczak commented on #2998
`Card` component is using the `TouchableWithoutFeedback` under the hood, where default cursor is the intended style, based on the `react-native-web` author [comment](https://github.com/necolas/react-native-web/issues/1847#issuecomment-747625960). If you would like to support it in your application you can easily handle it via styles prop:

[code]

[2021-12-08 13:47] lukewalczak commented on #2995
You can try to reproduce your issue on the fresh `react-native` project, with the tech stack used in your project.

[2021-12-08 16:37] lukewalczak commented on #2989
Hey @samaneh-kamalian, I tried your code on snack and back icon has the correct direction when switching it, please take a look at my [result](https://snack.expo.dev/KD0bxjYGS).

![webrtl](https://user-images.githubusercontent.com/22746080/145246996-e116aad0-169a-4559-910d-94351dc5337b.gif)

Can you create a sample repository representing your issue?

[2021-12-09 00:35] traviswimer commented on #2999
It looks like I did in fact post this to the correct repo, but it is a duplicate of an issue on another repo: https://github.com/software-mansion/react-native-screens/issues/1197

But the good news is that the bug was already fixed before I even posted my issue, it's just not released yet. Now that's efficiency! 😎

[2021-12-09 00:35] #2999 closed

[2021-12-09 02:19] DoctorJohn commented on #2641
This is still an issue in `4.10.1`, in my case using custom dark and light themes. The app crashes when switching between both themes as described by @wwwenjie. All linked issues and PRs refer to the same underlying problem. #2113 would probably fix it.

[2021-12-09 08:58] jwisbeck commented on #2984
can you share an example? I think that the code may be using deprecated functions.

[2021-12-09 09:52] lukewalczak commented on #2984
What kind of example do you want me to share? By running the above command you receive the URL to the registry's tarball and after downloading it you can look at given package code from npm.

[2021-12-09 10:00] #2998 closed

[2021-12-09 12:29] NahumG10 opened #3000 "Text input rtl"
is there a way to make the label on the textInpur float right? text align : right floats only the text but not the label

[2021-12-09 13:01] sfalihi opened #3001 "fab components labelstyle"
the problem is sometimes based on label font you need to adjust label to center.(arabic fonts,...) and sometimes you need to change the weight or size of label.
i think its not that hard or time consuming to add this simple thing.
so why dont you provide this simple prop to fab, fabgroup and animatedfab

e.g. => the only way to fix this font height issue is like labelstyle={{top:-1}}

![imageedit_

[2021-12-09 14:05] saqlainawan commented on #3000
Hey @NahumG10 you can't move the label to any other position. There is no option available for label positioning right now.

[2021-12-09 14:12] junayed111 commented on #2993
Any update on this bug? I am facing the same issue

[2021-12-09 15:14] p-syche commented on #3001
Hi @sfalihi,

As you may have noticed our github-actions bot is asking for you to add a reproducible example, in our case that is a snack on expo.
I also noticed you wrote "i think its not that hard or time consuming to add this simple thing." Sounds like you have a pretty good idea of what needs to be done, do you think you could create a PR for this? If you do manage to propose changes they will

[2021-12-09 16:21] sfalihi commented on #3001
actually i haven't done a pull request before but it seems just passing a style prop down to a text component so because of that i said it seems not that hard.
but i wrote that because i know this problem exist for a long time and many people asked  for change in color, size, ... and now i faced this font line height problem also.
i'll try to make a PR but pls consider to add this to your todo lis

[2021-12-09 16:52] pushpender-singh-ap commented on #2984
@lukewalczak you see the above gif?

[2021-12-09 17:16] lukewalczak commented on #2984
@pushpender-singh-ap Yes, I can see, however since I'm not able to reproduce your issue, maybe you can propose the fix and send a PR?

[2021-12-09 17:22] pushpender-singh-ap commented on #2984
ok, I will try, and if you have any solution share it with us.

[2021-12-09 17:56] lukewalczak commented on #2971
Hey @sodhigurpreetsingh I have a problem with understanding your issue. Could you please elaborate more on what are you trying to achieve?

[2021-12-09 19:27] lukewalczak commented on #2999
Hello @traviswimer could you please point me to the place where the issue was fixed?

[2021-12-09 19:36] lukewalczak commented on #2993
Please take a look here: https://github.com/react-navigation/react-navigation/issues/10081 or there: https://github.com/software-mansion/react-native-screens/issues/1197

[2021-12-09 20:17] traviswimer commented on #2999
@lukewalczak Unfortunately, I think I may have spoken too soon. I'm not sure how I got confused, but it looks like the commit I saw was actually just on a fork: https://github.com/Gruak/react-native-paper/commit/15d204a8fcd99d9b6459d54e7dab7904aba6b9f4

I'm not sure if they made a pull request or if it's actually reasonable for the library as a whole, but at least it can temporarily be fixed with

[2021-12-09 20:26] lukewalczak commented on #2999
@traviswimer thanks, I had the feeling like I'm missing something. I will investigate if we can include that change from the fork into library.

[2021-12-10 09:13] #2972 closed

[2021-12-10 09:15] #2954 closed

[2021-12-10 09:24] #2959 closed

[2021-12-10 12:09] #2799 closed

[2021-12-10 14:24] #2935 closed

[2021-12-10 20:41] bombillazo opened #3002 "List.Item requiring `tvParallaxProperties` and `hasTVPreferredFocus`"
### Current behaviour

Any `List.Item` component created is required `tvParallaxProperties` and `hasTVPreferredFocus` to be set

### Expected behaviour

I can use `List.Item` without setting those props

### Code sample

[code]

### Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/44002321/145637788-b4147faf-2f95-460d-9061-9adcedc228bd.png)

### What have you tried
C

[2021-12-11 00:37] lukewalczak commented on #3002
Hello @bombillazo, could you please try to use version 4.10.1 or the latest one with rn types 0.66.x?

[2021-12-11 01:48] #2958 closed

[2021-12-11 14:27] Risovas opened #3003 "TextInput with `mode: 'outlined'` and `label` cutting off beginning of the text"
### Current behaviour

I'm using the library's `TextInput` component with the `mode` prop set to `outlined` and the `label` prop set to some text like `E-mail` for example. Until version 4.10.1 it was working fine, but today when I updated to 4.11.0, the beginning of the text started to be cut out on `Android` when setting the `label` prop.

### Expected behaviour

The text inside the `TextInput`

[2021-12-11 18:03] root-io commented on #2984
I had the exact same warning, any chance this line trigger the deprecated code?

https://github.com/callstack/react-native-paper/blob/main/src/components/Menu/Menu.tsx#L264

[2021-12-12 07:28] #2971 closed

[2021-12-12 07:31] sodhigurpreetsingh opened #3005 "How can i hide a tab in Bottom Navigation"
Hello

Can someone please advise how can i hide a tab from display in Bottom Navigation,  i want to jumpTo the tab from code but i don't want it show in the Bottom Navigation. Below is some code i am using, i just want to hide the vehicle_edit tab,

please if someone can advise.

``
  //routes
  const [routes] = React.useState([
    { key: "dashboard", title: "Dashboard", icon: "home" },
    { key

[2021-12-12 12:14] lukewalczak commented on #3003
Thanks for reporting a bug an initial investigation. I will try to fix it asap and in the meantime please use version 4.10.1

[2021-12-12 12:42] Risovas commented on #3003
Thank you very much, I appreciate the effort.

[2021-12-12 15:42] bombillazo commented on #3002
Ok seems this is fixed in the latest version: 4.11.0

[2021-12-12 15:42] #3002 closed

[2021-12-12 15:50] #3003 closed

[2021-12-12 15:59] lukewalczak commented on #3003
Hello @Risovas, please upgrade Paper to version `4.11.1` and please let me know if you encounter any other issues

[2021-12-12 16:15] pushpender-singh-ap commented on #2984
@lukewalczak check the PR this issue solved

[2021-12-12 16:28] Risovas commented on #3003
@lukewalczak tested on `4.11.1`, now it's showing the entire text again, no other bugs that I could notice, will let you know if I encounter anything else. Thank you again!

[2021-12-12 21:14] lukewalczak commented on #2984
Thanks @root-io and @pushpender-singh-ap  for your input, I was finally able to observe the bug related to `Menu` component. Also, I've left the comment in the PR.

@AndrewIsBest69, @jwisbeck could you please attach your minimal repro which demonstrates the issue if it's not related to the `Menu` component?

[2021-12-13 04:39] pushpender-singh-ap commented on #2984
@lukewalczak Check PR comment and see the Video attached in PR

[2021-12-13 09:23] lukewalczak commented on #3005
Please check the discussion in the similar issue: https://github.com/callstack/react-native-paper/issues/1563

[2021-12-13 12:29] sodhigurpreetsingh commented on #3005
Sorry, i just used stack navigation to solve this. kindly ignore.

[2021-12-13 12:29] #3005 closed

[2021-12-13 15:24] JoaoVitorViana commented on #1696
Same issue with the actual version (4.11.1)

[2021-12-13 18:35] arnaudbzn commented on #2965
It works for me with: `react-native-paper@4.11.1` and `@types/react-native@0.66.1`.
But I'm using Expo SDK 42 that relies on React Native 0.63 :pensive:
And Expo SDK 44 Beta is using React Native 0.64.3...

[2021-12-13 19:24] bombillazo opened #3008 "Cannot use TextInput static component as separate component"
### Current behaviour

With `TextInput`, one cannot set the `left` and `right` to an external component that returns a valid TextInput static component i.e `TextInput.Icon` and `TextInput.Affix`.

### Expected behaviour

I want to be able to separate `TextInput.Icon` into components that can be imported and used with TextInput.

### Code sample

[code]
Result:
![image](https://user-images.githubus

[2021-12-13 23:02] DoctorJohn opened #3009 "Apps supporting a dark theme frequently crash when the theme is toggled"
### Current behaviour

When switching between a light and a dark theme (e.g. by using the OSs theme setting in combination with the react-native Appearance API) the following error frequently occurs and the app crashes.

```Error: Style property 'backgroundColor' is not supported by native animated module```

Linked issue: #2063 #2574 #2167 #2641
Linked PR: #2113 #2068

### Expected behaviour

Wel

[2021-12-14 01:51] #2927 closed

[2021-12-14 05:25] SaiSridhar783 commented on #2993
Yes, react-navigation/react-navigation#10081 works. Shouldn't this change be made in the original Repo?

[2021-12-14 13:43] pushpender-singh-ap commented on #2984
@lukewalczak  check one time this commit is also working on  0.64+ & below 0.64 I tested on 0.63 & as well as 0.66.

Maybe this help you if you think that way it is better than the previous one inform me I will again generate PR.

https://github.com/pushpender-singh-ap/react-native-paper/commit/943d743272451840d25506372678c817f5e2ec81#diff-79e0d805785bbe8a0f585efebc274478388e7ce83323d87a7492930efd

[2021-12-14 20:41] dcalhoun commented on #2900
Hi! 👋🏻 I stumbled upon this issue while seeking a solution to a similar problem in https://github.com/WordPress/gutenberg/issues/29358, which does not utilize `react-native-paper`. From my testing, the inability to dismiss taller modals with VoiceOver may not be directly related to `react-native-paper` and potentially more related to React Native itself. I could be wrong, but figured I'd share in

[2021-12-15 07:56] samaneh-kamalian commented on #2989
I copied exactly your code into my project but it still has the same problem. Do you have any idea where the problem could come from ?! :(

[2021-12-15 15:29] lukewalczak commented on #2989
Hey @samaneh-kamalian, it's hard to say what can be the root of the issue in your case without knowing basic information about your technology stack or environment. Could you please create a simple repository with bug reproduction or maybe you are able to present it on the snack?

[2021-12-15 15:33] lukewalczak commented on #2900
@dcalhoun thanks for sharing your finding with us, I will investigate the problem one more time in free time and for sure will be monitoring the issue you created!

[2021-12-15 15:36] lukewalczak commented on #2885
Issue should be fixed by: https://github.com/callstack/react-native-paper/pull/2985.
Please try to upgrade paper to the latest version `4.11.1`

[2021-12-15 15:36] #2885 closed

[2021-12-15 15:39] PEDROFELIX92 commented on #1772
Estou com o mesmo problema, mas no meu caso esta comendo a primeira letra do input, alguém conseguiu resolver?

Utilizando o paddingOut não deu certo, visto que altera  o padding superior.

[2021-12-15 16:45] AndrewIsBest69 opened #3012 "Material design 3 (Material you)"
Just a simple question which I have no idea if it was answered before somewhere else. Is react-native-paper planning on supporting Material design 3 (Material you) in the future? I'd love to use it and the essential components like buttons or FABs have been already introduced in Jetpack Compose.

[2021-12-15 17:22] lukewalczak commented on #3012
Hello @AndrewIsBest69, sure we are going to adjust Paper to Material You. We are planning to start the work at the turn of January and February.

[2021-12-16 09:45] #3012 closed

[2021-12-16 23:23] reggi opened #3013 "Why aren't "theme" props optional?"
I found a couple of instances of components where the `theme` prop is required. Is there a specific reason for this?

https://github.com/callstack/react-native-paper/blob/main/src/components/TextInput/TextInput.tsx#L133

[2021-12-17 01:51] #2957 closed

[2021-12-17 02:26] eeshaan commented on #625
bumping. seems like this is still an issue (#626 doesn't have the most optimal implementation either)

[2021-12-17 05:37] kendallroth opened #3014 "Checkbox.Item ignores disable prop"
### Current behaviour

Trying to disable `Checkbox.Item` only tweaks the checkbox style (not label) and does not prevent item presses.

### Expected behaviour

Checkbox and label should appear disabled and be non-interactable.

### Code sample

[code]

### What have you tried

Noticed that the `CheckboxItem` component does not pass `disabled` on to the `TouchableRipple` as would be expected, and p

[2021-12-17 05:38] kendallroth commented on #3014
_Not sure what above message was about, all versions were included in initial issue (except icons, which isn't mention in template) 🤷_

[2021-12-17 08:41] lukewalczak commented on #3014
Thanks for reporting the bug. Could you please create a PR with changes + tests covering the case where CheckboxItem's `onPress` is not triggered when _disabled_?

[2021-12-17 13:49] fedorin-git commented on #2965
Hello everyone. Get the same issue using ProgressBar

`<ProgressBar indeterminate={inProgress} color={PURPLE_400} />`

returns error
`TS2741: Property 'children' is missing in type '{ indeterminate: true; color: string; }' but required in type 'Pick '.`

Investigated that type Props in `/src/components/ProgressBar.tsx` does not contain 'children' as optional so I have to pass it calling component

[2021-12-17 17:08] mikehardy commented on #848
@Zeyu-Li I feel like I must be missing something. I cannot get a multiline to work with `<DataTable.Header numberOfLines={2}>Text that should wrap</DataTable.Header>`

Can someone post an actual little snippet that is confirmed working? I'd really appreciate it. Thanks!

[2021-12-17 18:59] mikehardy commented on #848
I think I repaired the original implementation so that it handles text component's special text alignment issues with wrapping, while allowing a cell height that is a multiple of numberOfLines - patch-package patch available here for testing: https://github.com/callstack/react-native-paper/pull/3015#issuecomment-996956251

[2021-12-17 19:17] lukewalczak commented on #2965
@fedorin-git could you please share your tech stack _(version of rn, rn paper and types)_ on which I can reproduce it?

[2021-12-17 19:41] kendallroth commented on #3014
Will see if I can get around to it this weekend (likely not around); will find/copy approach taken in similar components for the test. One question I did have was about the checkbox item label colour, as "disabled" may actually be a bit light 🤷 (I guess `labelStyle` prop could modify that for people who think so).

[2021-12-17 21:31] AndrewIsBest69 opened #3016 "Stretch Menu.Item to full screen width"
![Screenshot_20211217-223015_skola_online_v2](https://user-images.githubusercontent.com/47299500/146610315-02b71980-5533-41c4-a9e8-bafa3992c6ac.png)

I want that menu item to be full width for obvious reasons.

[2021-12-18 04:54] TheEhsanSarshar commented on #2861
@raajnadar
[code]
on every render it creates new array and new styles will pass the bridge

[2021-12-18 07:29] raajnadar commented on #2861
You have any other alternatives?

[2021-12-18 12:15] traviswimer commented on #2993
@lukewalczak I am also confused which repo this issue should actually be on. Would it be a good idea to close some of these duplicates and direct them to whichever one is on the correct repo?

Also, for anyone interested, a simple workaround was mentioned here: https://github.com/software-mansion/react-native-screens/issues/1197#issuecomment-993682256

Basically just wrap your stack navigator with

[2021-12-18 15:32] AneeqaKhan commented on #1696
same issue with the actual version (4.9.2)

[2021-12-18 15:42] samaneh-kamalian commented on #2989
I solved my issue with adding this style to Appbar.backAction:

style={{transform: this.context.language === "ar" && Platform.OS === 'web' ? "scaleX(-1)" : undefined}}

[2021-12-19 01:53] #2978 closed

[2021-12-19 04:30] khanhubgit commented on #1927
In my case I applied negative margins and it worked
[code]

[2021-12-19 19:53] lukewalczak commented on #3016
Hey @AndrewIsBest69 could you please describe your example of using the `Menu` component?

[2021-12-19 20:43] AndrewIsBest69 commented on #3016
@lukewalczak
`
export default function More() {
  return (
      <View style={{flex: 1}}>
        <Menu.Item
          icon="message-text"
          title="Received messages"
          onPress={() => {}}
        />
        <Menu.Item
          icon="message-reply-text"
          title="Sent messages"
          onPress={() => {}}
        />
      </View>
  );
}
`
It's the same code that's provided

[2021-12-19 20:53] lukewalczak commented on #3016
Then you can achieve it by adding max width property into style:

[code]

[2021-12-20 05:48] AndrewIsBest69 commented on #3016
Thanks, works like a charm
![Screenshot_20211220-064750_skola_online_v2](https://user-images.githubusercontent.com/47299500/146718022-04038624-5d7f-4e3a-9e59-222a5d8f7281.png)

[2021-12-20 05:48] #3016 closed

[2021-12-20 09:27] fedorin-git commented on #2965
"react-native": "https://github.com/expo/react-native/archive/sdk-41.0.0.tar.gz",
"react-native-paper": "^4.11.1",
"@types/react": "~16.9.35",
"@types/react-native": "~0.63.2"

[2021-12-21 08:42] yuvalotem commented on #3009
Had the same problem, you can wrap card content with React Native TouchableOpacity or you can use React native Animated.createAnimatedComponent as described here - https://github.com/callstack/react-native-paper/issues/2364

[2021-12-21 10:33] lukewalczak commented on #2984
@AndrewIsBest69 @jwisbeck @root-io please try to install the library from that [PR](https://github.com/callstack/react-native-paper/pull/3017) and please let me know if it fixes your issue ✌🏽

[2021-12-22 10:23] timdp commented on #1489
`List.Item` takes a `titleEllipsizeMode` and a `descriptionEllipsizeMode` but `List.Accordion` doesn't.

[2021-12-22 21:05] root-io commented on #2984
No more warning using your PR with react-native 0.66.4 👍
I have another issue, the menu takes time to open but it was already the case before your fix so seems good to me thanks

[2021-12-23 08:56] rizshivalli opened #3018 "How can i load a single component from RN Paper"
`import {Menu} from 'react-native-paper';`

can i import

`import Menu from 'react-native-paper/lib/module/components';`

[2021-12-23 17:28] peh commented on #3013
The documentation states theme as optional and can only be fixed by downgrading to 4.9.2.
It's a bit annoying to bot be able to use the latest version without errors

[2021-12-23 18:25] raajnadar commented on #3018
Yes that should work! are you afraid to ship all the unused components to production if yes you can check the docs to setup a babel plugin to remove unused components.

https://callstack.github.io/react-native-paper/getting-started.html#installation

[2021-12-24 02:44] yashash99 commented on #2965
This a working component which takes text props
`title.d.ts`
[code]

`title.ts`
[code]

I noticed this issue in Text and Dialog.Title component. This components have type file generation as mentioned in https://github.com/callstack/react-native-paper/issues/2965#issuecomment-971308124
Also as shown in https://github.com/callstack/react-native-paper/issues/2965#issue-1046436075 the issue is only se

[2021-12-24 08:43] Nucolx commented on #1189
Hello I'm looking for the same issue. Did you find something ? Thank you

[2021-12-25 17:34] checklist opened #3019 "List to support reordering (drag and drop)"
**Is your feature request related to a problem? Please describe.**
Lists are very useful but in most cases we need to implement some kind of re-ordering (typically using Drag and Drop).

**Describe the solution you'd like**
List to include a simple Drag and drop functionality

**Describe alternatives you've considered**
Currently we are using react-native-draggable-flatlist but it is really heavy

[2021-12-26 10:01] Svarto opened #3020 "[patch-package fix] #2979 label covers text on iOS multiline TextInput"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-paper@4.11.1` for the project I'm working on.

There was a PR that tried to fix the iOS multiline label covering the underlying text, unfortunately this added a bigger issue of the label covering the underlying text even if no label was present. On to

[2021-12-28 01:50] #2982 closed

[2021-12-28 06:20] JerryBels commented on #2821
I have a similar issue as well

[2021-12-29 07:29] amirfrd commented on #2999
this issue exist on android

[2021-12-30 17:15] pushpender-singh-ap commented on #2984
@lukewalczak PR?

[2021-12-30 21:33] traviswimer commented on #2999
@amirfrd if you haven't figured it out yet, this bug has apparently been fixed if you upgrade to `react-native` >0.65.0 (I haven't personally tested this yet though)

There is also a simple fix if you don't want to upgrade:
 https://github.com/software-mansion/react-native-screens/issues/1197#issuecomment-993682256

 Basically just wrap your stack navigator with `<View style={{flex: 1}} collapsabl

[2022-01-01 11:47] raajnadar commented on #3009
@lukewalczak even I can repro this issue

Log from google play pre launch report

[logcat.txt](https://github.com/callstack/react-native-paper/files/7797626/logcat.txt)

[code]

[2022-01-01 14:54] YahyaBagia commented on #2917
I am also thinking about the same..!! Did you get any solution / workaround to provide **Bold** font to react-native-paper?

[2022-01-03 08:13] likon416 commented on #2917
@YahyaBagia yes, I'm just using expo-font and @expo-google-fonts/roboto packages and specify the fontFamily in styles each time I want to use Bold. Tbh I think better option if you dont care about material design is to use react native elements.

[2022-01-03 08:26] raajnadar commented on #2917
In the new version we can add custom properties to the theme us that https://callstack.github.io/react-native-paper/theming.html#extending-the-theme

[2022-01-03 08:27] likon416 commented on #2917
@raajnadar yeah somehow I tried to do that, but it didn't work for me.

[2022-01-03 08:31] raajnadar commented on #2917
Did you try adding it in the fonts object? along with font name?

[2022-01-03 08:32] likon416 commented on #2917
yeah I did all that, tried many different configuration I could find in google as well. didn't work for me.

[2022-01-04 13:41] iammursal commented on #1990
I'm having the same issue.

[2022-01-05 19:01] chukiatt opened #3023 "Menu.Item Error"
Dear sir,

i got error when use <Menu>   <Menu.Item>

EventEmitter.removeListener('change', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`.

thank you

[2022-01-05 19:03] chukiatt commented on #3023
"react-native": "0.66.4",
"react-native-paper": "^4.11.1",
"react-native-vector-icons": "^9.0.0",

Thank you

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 6 มกราคม 2565 2:02
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [callstack/react-native-paper] Menu.Item Error (Issue #3023)

Couldn't find version numbers for the following

[2022-01-05 19:10] chukiatt opened #3024 "TextInput Error"
Dear sir,

i got error when use <TextInput/>

Warning: Failed prop type: Invalid prop `value` of type `number` supplied to `ForwardRef(TextInput)`, expected `string`.

i am not sure this is a bug or i am some thing wrong?

thank you

[2022-01-06 07:42] #3024 closed

[2022-01-06 13:48] traviswimer opened #3025 "Correct usage of `dark` property in theme"
I am having trouble understanding the correct way to implement a dark theme based on the [docs](https://callstack.github.io/react-native-paper/theming.html#dark-theme).

The issue is that there seems to be a conflict between using the `dark` property and using a `DarkTheme` object or I simply don't understand how it is meant to work.

My understanding is that the `dark` property is swapping the `s

[2022-01-06 20:15] elashpear commented on #2965
I am running into similar issues. I am on RN 0.63.4. I tried rolling back to react-native-paper 4.9.2 which looks like it was the last version compiled against RN 0.63. But I still see an error for example when I try to use the paper text component:

[code]

It appears as this property is only used on Android, and even then should not be a required property, so I don't know why this raised an erro

[2022-01-08 11:03] leonardolombardi07 opened #3027 "Helper Text requires onPressIn and onPressOut as props"
### Current behaviour

When using Typescript, for some reason the [Helper Text](https://github.com/callstack/react-native-paper/blob/main/src/components/HelperText.tsx) demands "onPressIn" and "onPressOut" as props.

### Expected behaviour

I expected to be able to render Helper Text without having to pass "onPressIn" and "onPressOut" as props.

### Code sample

#### Github Repo: https://github.co

[2022-01-08 13:39] lawrence-laz opened #3028 "Drop shadow is hexagonal on circular IconButton"
Not sure if this is issue with the library or my code, but I am experiencing an incorrectly shaped drop-shadow while using IconButton. That looks like this:
![image](https://user-images.githubusercontent.com/8823448/148646230-bf3c4483-3b1b-49bf-8874-418a815d5c94.png)
This is the code for it:
[code]

Any ideas?

[Reproduced in a Snack](https://snack.expo.dev/@lawrence_laz/paper-icon-button-shadow-i

[2022-01-08 15:21] mazino-dev commented on #1489
Docs are pretty ugly. Could use some inspiration: [https://reactnavigation.org/docs/getting-started/](https://reactnavigation.org/docs/getting-started/)

[2022-01-10 08:53] lukewalczak commented on #3023
It should be fixed by that PR: https://github.com/callstack/react-native-paper/pull/3017

[2022-01-10 09:34] chukiatt commented on #3023
It still have error in last version of react native paper

[2022-01-10 09:36] lghimfus commented on #1449
did you find a way to fix this?

[2022-01-10 10:54] likon416 commented on #1449
@lghimfus I think I finally make it work today.

I'm using config like this:
android: {
    bold: {
      fontFamily: customTheme.fonts.boldFamily,
      fontWeight: 'bold',
    },

and later in styles I'm using fontWeight: 'bold' BUT you need to import Text from React Native not React Native paper library.

[2022-01-10 11:40] lukewalczak commented on #3023
true, since it's not merged and released yet. Currently, you can install react-native-paper from that PR's branch or wait till it will be released.

[2022-01-10 12:06] joebochill commented on #1449
Are you declaring the namespace changes globally?

[code]

[2022-01-10 13:09] Insider32 opened #3031 "Multiline TextInput backgroundColor does not fully cover surface"
### Current behaviour

Multiline TextInput background color does not cover all the surface on iOS.

### Expected behaviour

Multiline TextInput background color **should** cover all the surface on iOS.

### Code sample

Repro at: https://snack.expo.dev/_SWzxWyTh (select iOS)

### Screenshots (if applicable)

![textinput](https://user-images.githubusercontent.com/3471403/148771075-5f392501-ae53-446

[2022-01-10 13:09] likon416 commented on #1449
@joebochill I do not. just using fontconfig like I mentioned above

[2022-01-10 13:23] lukewalczak commented on #3031
Duplicated of: https://github.com/callstack/react-native-paper/issues/3020

[2022-01-10 13:26] lukewalczak commented on #3020
Hey @Svarto, I will apply & run your patch to check if everything is correct. If it will be ok, are you willing to open the PR?

[2022-01-10 13:27] #3031 closed

[2022-01-10 14:28] joebochill commented on #1449
I see the same thing if I try to use the `DefaultTheme` from RNP. When you override the type definition for the Theme, technically the one provided by RNP no longer matches. You'll have to either 1) not use the default theme or 2) throw a @ts-ignore on it and make sure you have fallbacks wherever they are needed.

We managed to get our library to work with our custom theme (that includes a bold fo

[2022-01-10 14:35] hafridi commented on #3009
Anyone figured out a way to fix this issue?

[2022-01-11 18:06] lukewalczak commented on #3020
Hello @Svarto, please open the PR with your approach with one additional change:

[code]

[2022-01-11 18:40] chukiatt opened #3033 "TextInput height not working properly"
Hi

i got some problem about TextInput set height to 40 but and reduce font size but text is not fully height in textinput

[2022-01-11 23:05] lukewalczak commented on #3027
Please try to bump `@types/react-native` to >= `~0.66`

[2022-01-12 14:17] Malik-Usman17 opened #3037 "How To Change the size of React Native Paper CheckBox"
unable to change the size of a checkbox,  can anyone tell me how to tackle this issue.

My Packages Version:
**react-native: 0.66.0**
**react-native-vector-icons: 8.1.0**
**react-native-paper: 4.9.2**

[2022-01-12 16:21] jensonjohn001 commented on #3020
Facing same issue.. Please  open the PR @Svarto

![simulator_screenshot_61719386-2533-4E6C-B9E5-4CBCF7255A3F](https://user-images.githubusercontent.com/35399770/149178922-2f8ab999-21ff-465c-96e9-a663adc7beae.png)

[2022-01-12 22:23] lukewalczak commented on #3028
Hey @lawrence-laz could you please provide more details about the platform and device on which you are facing that issue? I've just run your snack on physical device  and component along with the shadow is rendered correctly.

[2022-01-13 07:31] Insider32 commented on #3020
Waiting for that PR too

[2022-01-13 07:48] Svarto commented on #3020
@Insider32 @jensonjohn001  alright, I am on it!

[2022-01-13 14:26] lukewalczak commented on #3037
Hey @Malik-Usman17, I think you cannot change the size of the checkbox since imposed arbitrary by Material Design guidelines. If you will find the example on there website where the size is different than regular, please let me know ✌🏽

[2022-01-14 01:44] VictorioMolina commented on #3020
Any updated on this? I am using `dense={true}` and `multiline={true}`, and with no label, the label container covers my text.

"react-native": "https://github.com/expo/react-native/archive/sdk-44.0.0.tar.gz",
 "react-native-paper": "^4.11.1",

[2022-01-14 01:53] #2996 closed

[2022-01-14 08:34] lukewalczak commented on #3020
The PR is ready, waiting for fixing lint. In the meantime you can use the patch which @Svarto provided.

[2022-01-14 09:33] lukewalczak commented on #3020
Patch is released in `4.11.2`

[2022-01-14 09:33] #3020 closed

[2022-01-14 10:10] dan-betmate commented on #1613
@narensprinter @satenchauhan

Has anyone found a solution for this yet?

[2022-01-14 13:21] lawrence-laz commented on #3028
I've experienced this locally on an emulated Android Pixel 3A device as well as remotely in the provided Snack when using a virtual Android device hosted by Expo (had to wait in a queue and unsure what concrete device was running there though).
Here's a screenshot from a Snack:
![image](https://user-images.githubusercontent.com/8823448/149521772-7b1139c0-f56d-4062-b9ec-86c9de7928cd.png)

[2022-01-14 13:25] lukewalczak commented on #3028
Maybe it's some kind of rendering limitations on emulated device. Did you try it on the real device?

[2022-01-14 13:31] lawrence-laz commented on #3028
Just ran the same Snack on a physical Android Samsung S8:
![Screenshot_20220114-152917_Expo Go](https://user-images.githubusercontent.com/8823448/149523185-d4b36eef-ccd2-4ae6-bc33-839aab45d386.jpg)

[2022-01-14 13:56] jhonywalkeer commented on #3009
My problem is being the first time the user uses the night mode option the application crashes, and my Google Play console is reporting the same report as @raajnadar

[2022-01-14 14:16] lukewalczak commented on #3028
Yes, I've tested it on iPhone. I'm just wondering if that issue is specifically related to the library 🤔 Could you please try to apply your shadow to the different component, not related to the Paper, to ensure the problem exists in `IconButton`?

[2022-01-14 14:29] lawrence-laz commented on #3028
I modified the [Snack](https://snack.expo.dev/@lawrence_laz/paper-icon-button-shadow-issue) to include `IconButton` with shadow (top left), simple React Native `View` with same shadow (top right), `IconButton` without a shadow (bottom left) and simple `View` without a shadow (bottom right):
![Screenshot_20220114-162541_Expo Go](https://user-images.githubusercontent.com/8823448/149531439-b11fd45b-a

[2022-01-14 16:18] lukewalczak commented on #3009
Hey, I've refreshed the PR mentioned above, which is resolving the issue with `Card` animation drivers behavior related to switching the theme.

Please try the new PR: https://github.com/callstack/react-native-paper/pull/3041 and let me know about the result ✌🏽

[2022-01-16 01:54] #3000 closed

[2022-01-16 23:24] paldeep-singh commented on #2900
Hello, sorry its been a while since my last reply, my Github notifications have been acting all weird. Here is the [repo](https://github.com/paldeep-singh/ModalBug) as previously requested.

@dcalhoun Thanks for the heads up, but I should clarify that the issue I am facing is opposite to what you have described. I cannot dismiss **shorter** modals with voiceover on an iPad. The longer ones are dis

[2022-01-17 00:20] leonardolombardi07 commented on #3027
It works! Thanks

[2022-01-17 11:03] #2984 closed

[2022-01-17 11:03] #3023 closed

[2022-01-17 12:11] comvenger-brandon commented on #2533
This issue still exists.

[2022-01-18 14:24] NotoriousGBG commented on #3020
@lukewalczak I just upgraded to 4.11.2 but the issue persists.

[2022-01-18 21:38] edugolive opened #3042 "EventEmitter.removeListener Deprecated"
When use Menu component , I have this warning "EventEmitter.removeListener('change', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener".

[2022-01-19 09:51] lukewalczak commented on #3042
It should be fixed with https://github.com/callstack/react-native-paper/pull/3017. PR is merged, however it's not released yet (the release will be more likely next week), so in the meantime you can try to install the library for the `main` branch.

[2022-01-19 14:35] cvburgess commented on #2903
I have a similar issue, text inputs fail to focus like the snack demo shows - I need to use the tab key to properly focus the input.

![2022-01-19 09 34 37](https://user-images.githubusercontent.com/2141199/150151795-5bc8ca32-bf25-4b0b-8305-d9cf426d58ee.gif)

[2022-01-19 14:48] cvburgess commented on #2903
Our issue is unrelated, i tracked it down to the input being wrapped in a `<TouchableWithoutFeedback onPress={Keyboard.dismiss}>` which works fine on mobile but doesn't work the same on web - not a Paper issue. Sorry!

[2022-01-19 15:21] Neosoulink commented on #2482
I'm currently facing this issue when trying to import the **Text** component😕

Error :
[code]

 Package.json:

[code]

[2022-01-20 01:56] #3008 closed

[2022-01-20 01:56] #3001 closed

[2022-01-20 11:28] comvenger-brandon commented on #2533
I have to correct myself here, updating to the latest RN Paper and react-navigation versions solves this! 👍

[2022-01-20 14:18] vipulbuoyancy opened #3043 "settings-outline icon is not displaying"
**settings-outline** icon is not displaying and it is displaying as question mark (?)

icon should display **settings-outline** icon

`<Button icon="settings-outline">
  Press me
</Button>`

### What have you tried

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | android
| react-native          |  0.63.4
| react-native-paper    |

[2022-01-21 13:01] abannura commented on #1923
@Svarto problem looks to be [here](https://github.com/callstack/react-native-paper/blob/8d1cfa1a17ab89ee989b1efc06f346f5b19d2af1/src/components/TextInput/TextInputOutlined.tsx#L389).

Would be great to customize that top positioning, specially when there is no label (and therefore no need to move the outline box down).

[2022-01-22 05:13] zoobibackups opened #3044 "Disabled textinput opacity not changing???"
**I want to change the opacity of disabled textinput to 1.**

[code]

**Is there anyway to change the opacity when textinput is disabled????**

**I am using the following versions:**
[code]

**Link to the repo:**

[Click here to check my code](https://snack.expo.dev/cgqBNl9NB)

**Thanks!**

[2022-01-22 05:20] zoobibackups commented on #3044
Yes.

[2022-01-22 19:21] Michaelvons commented on #801
An alternative would be
`<View style={{flexDirection: 'row',  flexWrap: 'wrap', justifyContent: 'flex-start'}}>...</View>`

Adding `flexWrap: 'wrap',` will allow the chips to fall into the next line when it reaches the end of the screen.

Removing `alignItems: 'center'` will prevent the chips from stretching horizontally.

Cheers !

[2022-01-22 19:43] SignSpice commented on #2821
Same problem here. Will check to see if it is an easy fix to mod. Otherwise, I probably just build my own.

[2022-01-23 16:12] peh commented on #3013
Dear bot,
There really is no use for a repro. Would still be great if someone could look into this

[2022-01-23 16:14] rafaelbpa commented on #1993
Any news about this? I'm with the same problem.

How this nice library doesn't work with jest? Or if does, there's no documentation about it. Anyone here can help?

[2022-01-23 16:19] raajnadar commented on #3013
There is already a PR waiting to get it merged.

[2022-01-24 10:29] Shankhara commented on #2993
Hi,
I am using Vanilla React Native, similar bug occurs while testing on Android Simulator & Android Phone.

I recently replaced `createBottomTabNavigator` by `createMaterialBottomTabNavigator` using [ReactNavigation - Material Bottom Tabs Navigator documentation](https://reactnavigation.org/docs/material-bottom-tab-navigator).

The same process as described in this issue makes **the app crash wit

[2022-01-24 19:27] jarto666 opened #3045 "Is there any way to manipulate FAB size?"
I cannot understand how to change the size of FAB manually, except for small flag. I need it bigger and most importantly I need a bigger icon in it.

Latest versions:
`"react-native": "0.66.4",
"react-native-paper": "^4.11.2",
"react-native-vector-icons": "^9.0.0"`

[2022-01-24 19:45] jarto666 opened #3046 "I there a way to change position of FAB.Group?"
I would like the buttons to be more to the left and to the top, but all movings end up with greyed zone to be moved as well.
![image](https://user-images.githubusercontent.com/5172926/150853242-9b8c79e3-96ae-418d-be76-ec18a74c2a2c.png)

`"react-native": "0.66.4", "react-native-paper": "^4.11.2", "react-native-vector-icons": "^9.0.0"`

[2022-01-24 19:49] jarto666 commented on #3046
yes

[2022-01-24 19:49] jarto666 commented on #3045
yes

[2022-01-24 19:54] jarto666 commented on #3046
I found a workaround as setting paddings

[2022-01-25 01:51] #3014 closed

[2022-01-25 11:56] AhmedSarhan opened #3047 "How can I show header while using createMaterialBottomTabNavigator() ?"
when I'm using the regular createBottomTabNavigator() I have a headerShown prop in options to show/hide top header on screens
but while using createMaterialBottomTabNavigator() I don't have such option at all, is there such a prop or something?

[2022-01-26 01:52] #2989 closed

[2022-01-26 01:52] #2861 closed

[2022-01-26 11:12] AliRehman7141 opened #3050 "Menu is opens at wrong position in scrollview"
I have more than 25 items on my screen I need to show the menu with each item. it's working fine with 6, 7 items but with others items, it is always displayed middle of the 6th and 7th items.

"expo": "^44.0.6",
"react-native": "0.67.2",
"react-native-paper": "^4.11.2"
"react-native-vector-icons": "^9.0.0",

#### Working fine
<img width="130" alt="Screenshot 2022-01-26 at 4 03 47 PM" src="https://

[2022-01-26 14:52] mohamedanwer123 commented on #2581
This issue still occur

[2022-01-26 19:36] #3042 closed

[2022-01-26 19:36] #3009 closed

[2022-01-27 00:17] fillybrese commented on #1772
Please re-open issue still present on Release 4.11.2

[2022-01-27 12:52] bombillazo opened #3051 "Accordion Group default expanded accordion"
**Is your feature request related to a problem? Please describe.**
At the moment there is no way to have an accordion section be open by default without the need to have it as a "controlled component". Sometimes we want to have a section expanded when the group renders.

**Describe the solution you'd like**
Have a prop on the accordion or accordion group specifying that when it renders for the fir

[2022-01-27 14:13] ranshine opened #3052 "Change FAB group actions label fontFamily bold"
I am using FAB group actions , how to apply fontFamily to FAB actions labels. I tried LabelStyle,Style inside actions but those are View type.

theme={
    {
      fonts: {
        regular: {
          fontFamily: 'Roboto-Medium'
        }
      }
    }
  }
[code]

[2022-01-29 07:15] descyther opened #3056 "Is it possible to remove touchable ripple for Android"
regarding:
https://callstack.github.io/react-native-paper/bottom-navigation.html#renderTouchable

The Docs say:
[code]

is it possible to remove the **TouchableRipple** or have an option to disable it?

[2022-01-29 07:35] descyther commented on #3056
figured out how to edit it in the library packages yay, i can has no ripple :) thank you for this library

[2022-01-29 07:35] #3056 closed

[2022-01-29 09:41] serybva commented on #2454
You probably need to install and configure file-loader for webpack as explained [https://callstack.github.io/react-native-paper/using-on-the-web.html#3-configure-file-loader](here)

[2022-01-29 16:20] Surayuth opened #3058 "How to add headers ( when there is already a navigation bar)"
Here is my code when I want to make a navigation bar to each screen.
[code]

Next, when I try to add the header to Route1. I can do it by modify
[code]

Is there a better way to do this? Do I have to add React.Fragement and Appbar.Header to every screen of my app?

Thanks

[2022-01-29 20:01] midrizi opened #3059 "react-navigation Modal inner Component shift"
### Current behaviour

I noticed this using `<Menu>`, when menu is visible it is like 8~10px below where it should be, this seems to be the case with all Components inside react-navigation `presentation: modal` on `iOS`.

### Expected behaviour

Components to be where they are on the screen, if you try to use the `onLayout` you will get wrong position of the element

### Code sample

https://snack

[2022-01-30 01:48] #3018 closed

[2022-01-30 07:05] karthick1231 commented on #143
When I click the checkbox it takes some delay to show the tick. how to stop the animation. my code is `<TouchableOpacity activeOpacity={0.6}  onPress={()=> this.toggleSelected(item)}>
                                        <View style={styles.row}>
                                            <View pointerEvents="none">
                                                <Checkbox

[2022-01-30 20:36] cgalo commented on #3045
@jarto666 Have you tried of adjusting the FAB size by passing a StyleProp?

[2022-01-31 01:47] #3013 closed

[2022-01-31 10:53] rushkii opened #3060 "Asking about SearchBar component"
Hello, how to center the search bar and how to change the icon position to the right side of the search bar? [Image](https://i.ibb.co/d4vKzpS/image.png)

[2022-01-31 12:16] dlesendric opened #3061 "Android BackHandler not working correctly with Dialog Component"
### Current behaviour

Android BackHandler seems that not working properly with Dialog component. Back handler close Dialog, but it seems that he blocks next back press actions like navigation back.
Bug reproduced with latest version 4.11.2 and with 4.10.1
On version 4.8.1 everything working fine.

### Expected behaviour

Dialog back handler should work like in version 4.8.1

### Code sample

It t

[2022-01-31 12:41] ramvilla997 commented on #2285
worked nicely

[2022-01-31 13:10] dlesendric commented on #3061
I guess this issue will be fixed with the 4.12 version.
The problem is unmounting of Modal.tsx because there are no removeEvent handlers.
Sometimes I don't want to have mounted Portals when Dialog is not visible.

[2022-01-31 13:40] lukewalczak commented on #3061
Hello @dlesendric,  Did you check is the issue exists on `4.12.0-alpha.0 `?

[2022-01-31 16:15] dlesendric commented on #3061
@lukewalczak
Hi,
Just checked 4.12.0-alpha.0 - and it looks like it was solved in that release.
Tested on Emulator and real device, it's working.

I still have some issues with Dialog.Action.
Need more time to figure out what's going on.

[2022-02-01 00:48] elmcapp commented on #1089
This issues is still happing

[2022-02-01 06:42] Irfanwani opened #3064 "Add size prop to FAB"
**Description.**
It is much difficult and an overwork to add custom styles to FAB especially when it comes to size of the FAB which doesn't work as expected.

**Solution**
Solution which i recommend: There should be a prop `size` where we can change the overall size of the fab as the default size is too big for some cases and `small` doesn't work with label.

The `size` prop should change everythi

[2022-02-01 06:53] Irfanwani commented on #3064
Already verified. This issue still exists after updating to latest versions.

[2022-02-01 10:21] nmsdvid opened #3065 "List.Accordion left prop pressable ?"
Hello, is there a way to make the `left` prop pressable ? Currently its possible to place an Icon with `TouchableOpacity` but pressing it only toggles the Accordion.

[2022-02-01 10:26] nmsdvid commented on #3065
Here the snack link https://snack.expo.dev/bLJveKVHS

[2022-02-01 19:56] edugolive commented on #2821
I also made an app using Paper components, and the app was extremely slow

[2022-02-01 21:32] bismarkamanor commented on #1101
It's still the same @Trancever

[2022-02-02 01:48] #3019 closed

[2022-02-02 12:42] raajnadar commented on #2821
It seems the remote debug Js option is enabled. Try disabling it, the issue should not be visible.

[2022-02-02 13:45] Elabar commented on #2821
The demo above is run with debug JS enabled on purpose to show the sluggishness more obvious.
It is relatively slow when compares to other UI library (RN-Element) even with release build.

You need a device that's running SD 636 and below to spot this performance diff.

[2022-02-02 14:30] raajnadar commented on #2821
So it is safe to close the issue because this is not due to react native paper but an issue from react native side.

[2022-02-02 14:49] Elabar commented on #2821
I think I have made my point clear that debug mode is enabled to show the sluggish in a more obvious way. And the **sluggish is also noticable in release build**.

I tried to poke around the source code and yet can't find the root cause of this performance hit.

But yeah, I think you can close this issue if this kind of performance looks fine to you since I have stopped using any kind of UI libs t

[2022-02-02 15:10] conor909 commented on #1089
The menu seems very broken, when I use it in table rows the anchor point gets very confused and causes the page to scroll to the completely wrong location

[2022-02-02 15:16] Ctrl-Mota commented on #2821
The problem persists in release build,

[2022-02-02 15:37] raajnadar commented on #2821
I never found any issue on release build try using hermes and other release build optimization techniques.

https://reactnative.dev/docs/performance

[2022-02-02 16:21] Elabar commented on #2821
Like I said, you need a device that's running mid to low end processor. But it's fine if you believe the performance is fine.

Collaborator thinks the performance is fine, closing issue.

[2022-02-02 16:21] #2821 closed

[2022-02-03 00:12] bombillazo commented on #616
Is there any way to have a default open accordion *without* needing to control the component? I don't want to track a state variable just to have an initial state on the accordion group.

[2022-02-03 14:26] rasck opened #3075 "Hardware button on android stops working when dismissing Dialog"
### Current behaviour

When we dismiss a dialog by pressing outside the dialog the hardware back button on android stops working, but pressing back on the navigation header works.

### Expected behaviour

When we dismiss a dialog by pressing outside the dialog e.g. by setting visible to false, we still expect the hardware back button on android to work

`{visible && <TestDialog visible={visible} o

[2022-02-03 15:44] conor909 commented on #3050
@AliRehman7141 Im seeing the same behaviour, lets hope **github-actions** doesn't close this out before someone looks at it

[2022-02-04 10:38] rasck commented on #3075
I can verify the the issue still persists in react-native-paper v. 4.11.2

In addition, after dismissing the dialog by pressing outside the dialog (in the grey area); the hardware back button works if i press it two timess in a row fast. It seems like the dialog screen still hangs somehow

[2022-02-04 11:19] rasck commented on #3075
I think a PR has just been merged to fix this: [#3049](https://github.com/callstack/react-native-paper/pull/3049)

[2022-02-04 11:29] rasck commented on #3075
I can confirmed it is fixed:
Tried upgrading my snack with the alpha version, `"react-native-paper": "4.12.0-alpha.0",`
https://snack.expo.dev/MtcQOT4hZ

And it works! 🎉

[2022-02-04 11:29] #3075 closed

[2022-02-04 22:17] imsam67 opened #3080 "Multiple menus freezing app"
I'm using `react-native-paper` in a regular React Native app i.e. not Expo. RN version is 0.66.3 and the React Native Paper version is `^4.10.1`.

I'm trying to use two menus in the same screen and doing so seems to freeze the whole app. Any idea what maybe causing this?

Here's my code:
[code]

[2022-02-05 10:26] kukuricapolna commented on #2482
I just ran this command and everything works fine: `yarn add -D @types/react-native` and everything works well

[2022-02-05 22:49] BoughezalaMohamedAimen commented on #2009
Missing in the docs , creating  a simple  sidemenu Drawer , without react navigation , if any body can help ?

[2022-02-06 15:00] traviswimer commented on #3025
Hello bot. Please remove the `stale` label. 😀

[2022-02-06 17:57] lukewalczak commented on #3025
Hello @traviswimer, I guess the role of `dark` property was a quick way to define whether component's background color is _dark-ish_, so then the color of the text or icon will be switched to the contrasting color, regardless of what the theme is.

Please check the following snack, where I tried to illustrate it: https://snack.expo.dev/qhgwZULoP

[2022-02-07 06:56] AliRehman7141 commented on #3050
I'm facing the same behavior on the latest versions, mentioned by github-actions.

[2022-02-07 18:44] JossanPetrenko commented on #1993
Same issue here. add react-native-paper, and jest stop

[2022-02-07 20:19] lukewalczak commented on #3060
Hello @rushkii,

Do you want to center the whole `Searchbar` component or text inside?

Unfortunately, I guess it's not possible.

[2022-02-07 20:27] frankl1 commented on #1772
I had the same problem. I don't know why, but removing the `height` property from the style fixed the scrolling and the cropping.

[2022-02-07 20:34] lukewalczak commented on #3044
Hey @zoobibackups, I think it's not possible when specifying `disabled` prop, however if I remember correctly you can try to use `editable={false}` instead.

[2022-02-07 20:51] lukewalczak commented on #3043
Hey @vipulbuoyancy, looks like there is some issue with that icon, I will check it. I noticed that in the meantime you can use `cog-outline` icon.

[2022-02-08 10:46] yashpalraj commented on #2147
@belfortmaycon Did you find any solution for this?

Type '(theme: Theme) => { alignSelf: string; paddingTop: number; color: string; }' is not assignable to type 'ViewStyle | TextStyle | ImageStyle'.
  Type '(theme: Theme) => { alignSelf: string; paddingTop: number; color: string; }' has no properties in common with type 'ImageStyle'.ts(2322)
styles.ts(12, 3): The expected type comes from property

[2022-02-08 11:32] lukewalczak commented on #3065
Hey @nmsdvid, I've checked the source code of `List.Accordion` and `left` prop is an integral part of the whole accordion wrapped in `TouchableRipple` so looks like there is no option for it.

[2022-02-08 11:44] nmsdvid commented on #3065
Thanks for the info.

[2022-02-08 15:11] conor909 commented on #3050
This may or may not help someone:  I didn't have time to understand the code already written, the calculations to find position are a bit complex, but I wrote 2 examples of working positioning based off some of the components from the original code.  These stripped down versions should help to see the differences in how web and mobile work.

I found the `top` positioning for web needed to be based

[2022-02-09 01:03] egavrilova-indeed commented on #2212
+1 to allowing user to specify custom icons for the checkbox states

[2022-02-09 06:41] FaisalKhawaj commented on #2334
You can always use <Checkbox.Android /> to just use the Android properties (ie. outlined unchecked box) on iOS devices.

[2022-02-09 07:50] lukehatcher commented on #2482
I was able to fix this by only upgrading my `@types/react-native` to the latest version (0.66.15 at time of writing this).

My relevant dependencies prior to upgrading were as follows:

[code]

[2022-02-09 12:25] Cmoen11 opened #3085 "Add an option to prevent lazy on @react-navigation/material-bottom-tabs."
**Is your feature request related to a problem? Please describe.**
I'm currently a bit frustrated having nested routes not being indexed as the route containing the routes not being loaded, by having a lazy prop I'd allow me to load these routes :)

**Describe the solution you'd like**
As `import { createBottomTabNavigator } from "@react-navigation/bottom-tabs";` has it, allowing to specify if a r

[2022-02-10 15:30] lirimkrosa commented on #2581
In my case `textAlign={undefined}` it works!

[2022-02-10 19:15] devmohmmad commented on #1491
How to change the intensity of backdrop?

[2022-02-10 22:19] chrismerino commented on #2944
I'm facing the same issue, I have added the same code from the example but the status bar is still white while the backdrop is not on Android 11.

[2022-02-11 08:05] kbhh commented on #2984
Facing the same issue...

 using
 "react-native": "0.65.1",
 "react-native-paper": "^4.11.2",

 seems to work when i make some tweeks below though on the Menu component.

<img width="660" alt="Screen Shot 2022-02-11 at 11 04 16 AM" src="https://user-images.githubusercontent.com/13124694/153556576-3bbb34ea-8bc2-4502-92e1-b1c0076e8d25.png">

[2022-02-11 08:13] lukewalczak commented on #2984
Problem should be solved in version `4.12.0-alpha.0`

[2022-02-11 17:06] bohrsty opened #3087 "Add handler for keyboard interactions to TextInput"
**Is your feature request related to a problem? Please describe.**
I use your library for mobile and web development (expo with react-native and react-native-web) and in the web app I find even myself hitting enter key to save some text in TextInput component. In react-native-web the TextInput component provides a "onKeyPressed" prop and in react-native there is something similar with "onSubmitEdi

[2022-02-12 10:59] erhanersoz opened #3088 "If TextInput value is long, it moves to a new line even though multiline={false} on IOS"
### Current behaviour

If TextInput value is long, it moves to a new line even though multiline={false} on IOS.

### Expected behaviour

I expect it to work on IOS just as it works on Android.

### Code sample

In the link below, you can see that it works as expected on android and web, but not as it does on IOS.
[https://snack.expo.dev/@erhanersoz/textinput](https://snack.expo.dev/@erhanersoz/tex

[2022-02-13 09:21] aprilmintacpineda commented on #1489
2022 and still the same.

[2022-02-13 11:51] aprilmintacpineda commented on #1489
RNP IS VERY HARD TO USE WITH TS.

[2022-02-13 13:23] IKTANIM commented on #2398
For iOS  inputStyle={{textAlign: "auto"}} fixed my issue

[2022-02-14 02:35] lt35 commented on #1229
Me tooo. Please update the size of a checkbox/radio.

[2022-02-14 11:56] vicary commented on #1489
@aprilmintacpineda While React Native Paper may not be perfect, your issues are resolvable.

You may forcibly pull un-exported props out with the built-in type utility in React.

[code]

When there are field conflicts, typescript will friendly reminds you that this type is not even possible by spitting out a `never` type. `{ error?: boolean } & { error: string }` logically means `never`.

You may

[2022-02-14 12:46] lukewalczak commented on #3088
Hello @erhanersoz, please check discussion [thread](https://github.com/callstack/react-native-paper/discussions/3026) where I explain that issue ✌🏽

[2022-02-14 12:57] aprilmintacpineda commented on #1489
Thanks for the insights, very helpful, I will try them out!

[2022-02-14 13:47] erhanersoz commented on #3088
Hello @lukewalczak, thank you. I added `textAlign: "auto"` style to input. It worked.

[2022-02-14 13:47] #3088 closed

[2022-02-15 06:48] lt35 commented on #3037
I also have the same problem, unable to change the size(height, width) of a checkbox and radio, please update fix it

[2022-02-15 15:06] avinashbarfa-buku opened #3090 "Change background color of accordion on list expand"
**Is your feature request related to a problem? Please describe.**

<img width="365" alt="image" src="https://user-images.githubusercontent.com/94440620/154089212-ab0aabbc-715c-4f18-a14c-c2fe50180f3d.png">

Need to update the background color of the `Pengaturan accordion` when the list is expanded

URL: https://snack.expo.dev/w3z-nUzLZ

versions:
react-native: "0.67.1"
react-native-paper: "4.11.2"

[2022-02-16 04:11] Ghoral opened #3091 "Text Input Button Label"
Hello,

How can we change the label style in text input outline mode?

I want to change my label like in the attached image.

![Screen Shot 2022-02-16 at 9 54 14 AM](https://user-images.githubusercontent.com/49188349/154194689-64107fa1-2ac8-4710-b260-41a90a31dcd0.png)

Thank you.

[2022-02-16 04:13] Ghoral commented on #3091
"react-native": "0.66.3",
"react-native-paper": "^4.11.1",
"react-native-vector-icons": "^9.0.0"

[2022-02-16 04:14] Ghoral commented on #3091
https://callstack.github.io/react-native-paper/text-input.html

[2022-02-16 09:57] lukewalczak commented on #3090
Hello @avinashbarfa-buku, please check the following [snack](https://snack.expo.dev/yeg-c9OVP) and let me know if it solving your problem.

[2022-02-16 11:54] avinashbarfa-buku commented on #3090
Hi @lukewalczak , in my case I am using **List.AccordionGroup**, and not handling **expanded** state, but AccordionGroup takes care of it.

I'm not sure how can I get to know which Accordion is open in my case.
https://snack.expo.dev/w3z-nUzLZ

[2022-02-16 15:04] Aman1706 opened #3094 "Unable to use CheckBox Component"
Whenever I try to use the Checkbox Component I get the following error

 `ERROR  ReferenceError: Property 'e' doesn't exist`

Any idea what can be done?

[2022-02-16 15:56] lukewalczak commented on #3090
Basically you have to use a `List.AccordionGroup` as a controlled component as I presented in the previous snack by introducing state for handling `expanded`.
In group component, according to the [documentation](https://callstack.github.io/react-native-paper/list-accordion-group.html) you have two props which can help you to achieve it: `expandedId` and `onAccordionPress`.
example: https://snack.e

[2022-02-16 18:46] Aman1706 commented on #3094
- react-native: 0.66.0
- react-native-paper: 4.9.2
- @expo/vector-icons : 12.0.5,

[2022-02-17 05:50] avinashbarfa-buku commented on #3090
Hi @lukewalczak , thanks for the help. It worked for me.

[2022-02-17 06:34] ronlobo01 opened #3095 "Accordion is not opening on adding onAccordionPress prop."
### Current behaviour

Accordion not opening on adding onAccordionPress prop

### Expected behaviour

Accordion should open

### Code sample

https://snack.expo.dev/e-FJh8pWB

### Your Environment

| software              | version
| --------------------- | -------
| react-native          |0.67.1
| react-native-paper    |3.4.0

[2022-02-17 11:08] Ghoral commented on #3091
found the solution

[2022-02-17 11:08] #3091 closed

[2022-02-17 11:34] #3090 closed

[2022-02-18 01:52] #3033 closed

[2022-02-19 01:55] samichoulo911 commented on #15
Hi I haven't found a slider in the current documentation and the RN version is deprecated. What is the work around or suggested library (if any)?

[2022-02-19 06:37] peterchibunna commented on #1418
Hi @Trancever, we appreciate your feedback. However, as you mentioned, it is just a "guideline". Users must not be forced to do things certain way. Those guidelines are called guidelines for a reason. They are not laws.

When I inspected the code for this, I see that it could have easily been extended to allow square (or even custom) borderRadius on the left Avatar. You also know that Google MD Gu

[2022-02-19 23:53] zchwyng commented on #2529
🖐

[2022-02-20 21:06] lukewalczak commented on #3094
Hey @Aman1706 Can you provide a [minimal repro](https://stackoverflow.com/help/minimal-reproducible-example) which demonstrates the issue?

[2022-02-20 21:10] lukewalczak commented on #3095
Hello @ronlobo01, please check the full [example](https://snack.expo.dev/dhK_OVogT) how to use controlled accordion group

[2022-02-21 12:30] BubbleTrouble14 commented on #2944
Same here, haven't found a way to fix it yet either :/

[2022-02-21 17:14] amit00978 commented on #1650
Any one Found anything ?

[2022-02-22 06:09] impactcolor commented on #2840
Any one discover a solution? I'm also facing the same issue.

[2022-02-22 12:30] Soft-Gurus commented on #1772
same issue is occuring on iOS, setting the height crops characters from bottom

[2022-02-22 23:57] suregi opened #3097 "TextInput inside Portal behaves incorrectly when using CJK keyboard"
### Current behaviour

If you type ㅁ ㅏ ㅇ in Korean keyboard, it shows up as ㅁ ㅏ ㅇ

### Expected behaviour

It should show up as 망

### Code sample

[code]

### What have you tried

It also happens in older version 4.7.2.

It is most likely to happen with other keyboards such as Japanese or Chinese.

### Your Environment

| software              | version
| --------------------- | -------
| ios or

[2022-02-23 04:27] jbrumwell commented on #1971
Having this issue with a fresh install in an expo application

[code]

[code]

[2022-02-23 05:44] bruffster commented on #2840
@impactcolor I never had any luck following their guide for the pagination. I ended up implementing my own pagination in my Java Spring Boot Rest API and then tweaking the setup of the plugin in my React app to utilize that capability.

[2022-02-23 13:19] aprilmintacpineda opened #3098 "multiline TextInput jumps when going to new line"
### Current behaviour

`TextInput` jumps when pressing enter

### Expected behaviour

`TextInput` SHOULD NOT jump when pressing enter

### Code sample

[code]

[code]

### Screenshots (if applicable)

**IOS**

https://user-images.githubusercontent.com/21032419/155325219-f3f0130a-b91a-40e5-8c5c-d878fa284780.mov

**ANDROID**

https://user-images.githubusercontent.com/21032419/155326212-034c7a53-ecab

[2022-02-23 13:21] aprilmintacpineda commented on #3098
it's a valid issue, stupid bot.

[2022-02-23 13:24] aprilmintacpineda commented on #3098
Adding `scrollEnabled={false}` fixes the issue, however the user wouldn't be able to scroll in case the text input has exceeded the max height.

[2022-02-23 13:52] aprilmintacpineda commented on #3098
moving this to https://github.com/facebook/react-native/issues/33165

[2022-02-23 13:52] #3098 closed

[2022-02-23 16:32] ptreitler opened #3099 "Bottom Navigation: Labels are cut off when system font size is set to large"
### Current behaviour

When I set the system font size to "Large" or "Largest" on Android, the labels of the Bottom Navigation are cut off at the bottom (see screenshots below). I tried increasing the size of the bar (as per https://github.com/callstack/react-native-paper/discussions/2428#discussioncomment-430524), but that didn't help either.

### Expected behaviour

The Bottom Navigation bar sho

[2022-02-23 21:26] lukewalczak commented on #3099
Hello @ptreitler, [PR](https://github.com/callstack/react-native-paper/pull/3100) should fix your issue. Would you like to install the library from the PR's commit or branch in order to check if it solves your problem?

[2022-02-23 22:31] ptreitler commented on #3099
Thanks @lukewalczak, I'll try it out in the next couple of days

[2022-02-23 23:38] tdotdm commented on #2768
Hi @adilusman51 I am experiencing this problem too although I do not have `babel-preset-expo` in my config.

Have you found a solution / workaround?

[2022-02-24 01:01] RhyG opened #3101 "Menu component not rendering when writing tests with react-native-testing-library"
Update: was able to solve this issue with a fairly extensive mock, but it is still not ideal:

[code]

### Current behaviour

Hi, I am currently writing some tests with Jest and RNTL to test a component that uses `<Menu />` and `<Menu.Item />`. The menu component doesn't seem to actually render, even with the `visible` prop being hardcoded to `true`, and Jest is unable to find any test IDs that sh

[2022-02-24 06:44] adilusman51 commented on #2768
@tdotdm I have removed the `plugins: ['react-native-paper/babel']` in the `babel.config.js` file, for both production and development environment. and it is working fine for me

Note: I am using Expo for my projects, and latest version of Expo SDK recommends to use their babel preset in `babel.config.js`.
Following is the state of `babel.config.js` file in my project (Note that I have commented ou

[2022-02-26 05:29] svnty opened #3102 "unexpected scroll dialog behaviour"
![Screen Shot 2022-02-26 at 4 27 07 pm](https://user-images.githubusercontent.com/47465827/155830500-5e13842d-6f99-4fa6-b4a1-7596d5494b1e.png)

[code]

[code]

[github.com/medicamina/medicamina](github.com/medicamina/medicamina)

[2022-02-26 05:55] svnty commented on #3102
The only thing that changes on an open dialog on iOS is the status bar

Open

![Screen Shot 2022-02-26 at 4 55 11 pm](https://user-images.githubusercontent.com/47465827/155831359-64f5b045-b372-4b4a-ad88-ab963717d41d.png)

Closed

![Screen Shot 2022-02-26 at 4 55 08 pm](https://user-images.githubusercontent.com/47465827/155831361-d4f354b6-ebde-4e05-8799-5f40df3b59cc.png)

[2022-02-26 05:57] svnty commented on #3102
Chrome dev tools

![Screen Shot 2022-02-26 at 4 57 12 pm](https://user-images.githubusercontent.com/47465827/155831447-160f2033-7cb1-4dc6-8340-bb0128a0c0dc.png)

[2022-02-26 13:40] petrometro commented on #2780
As of RN 0.67.2 and RNP 4.11.2, I ran into this problem when I had a TextInput inside a Modal (which was inside a Portal), testing on a Samsung Galaxy Tab.
The solution of setting autoCorrect={false} on the TextInput worked for me.

[2022-02-26 23:38] svnty opened #3103 "Data table theme"
![Screen Shot 2022-02-27 at 10 34 37 am](https://user-images.githubusercontent.com/47465827/155862294-bb9a13df-73f9-4487-80db-e60c8c54d9a6.png)

[code]

[code]

[github.com/medicamina/medicamina](github.com/medicamina/medicamina)

[2022-02-27 11:10] svnty commented on #3103
I also can't get the pagnation to work, when I add more elements

![Screen Shot 2022-02-27 at 10 03 39 pm](https://user-images.githubusercontent.com/47465827/155880024-a8302954-4f88-4219-bfa5-c37bb839cc83.png)

[2022-02-28 06:05] Ahmedhamed77 commented on #1409
`import React from 'react';
import {Button} from 'react-native-paper';

export type ButtonProps = React.ComponentProps<typeof Button>;

type CustomButtonProps = ButtonProps & {title: string};

export const ButtonPaper: React.FC<CustomButtonProps> = props => {
  return (
    <Button mode="contained" {...props}>
      Welcome
    </Button>
  );
};
`

when I call the component  <ButtonPaper /> typesc

[2022-02-28 06:52] Ahmedhamed77 opened #3104 "Extending react-native-paper Button and Text components in TypeScript"
I'm struggling to extend the `react-native-paper` components correctly

    import React from 'react';

    import {Button, Text} from 'react-native-paper';

    export type ButtonProps = React.ComponentProps<typeof Button>;

    type CustomButtonProps = ButtonProps & {
    title: string;
    };

    export const ButtonPaper: React.FC<CustomButtonProps> = ({title, ...props}) => {
    return (

[2022-02-28 17:57] rahmanharoon commented on #2008
facing this issue now version: `"react-native-paper": "4.11.2"`

[2022-03-01 14:19] aerohh commented on #1189
Found any fixes for this ?

[2022-03-02 05:57] yannseree commented on #2482
To all strugling with react native paper lint errors
Simply search in the package.json of react native paper : https://github.com/callstack/react-native-paper/blob/main/package.json, (change the tag with the version of react native user you use)
And change the react-native and @types/react-native version to the same as in the package.json of react native paper

[2022-03-03 01:58] #3046 closed

[2022-03-03 07:01] Shankhara commented on #2993
This issue has no reasons to be closed, since this feature is not working (as explained above)

[2022-03-03 07:09] zoobibackups commented on #3044
Perfect, we cant change the opacity of `disabled={true}` textinput but we can use `editable={false}`.

Thanks!

[2022-03-03 07:09] #3044 closed

[2022-03-03 17:32] traviswimer commented on #2993
@Shankhara Any idea what you're doing differently that the workaround doesn't work?

[2022-03-03 23:25] MartijnGevaert opened #3106 "Allow banner without passing action array"
**Is your feature request related to a problem? Please describe.**
When using the Banner component, one needs to pass in an actions list, even when empty. Otherwise I get a warning (Typescript) e.g:

[code]

**Describe the solution you'd like**
allow not passing an actions list

react-native-paper: 4.11.2,
react-native: 0.67.3
react-native-vector-icons: ^9.1.0

[2022-03-04 11:37] davepaiva opened #3107 "Menu not opening inside React Navigation Header"
### Current behaviour

I have added a **more menu** (3 vertical dots) in the header (configured via navigation.setOptions React Navigation 4). After clicking on the 3 dots the menu which is supposed to open isn't opening.
Note the `toggling menu` get logged to the console

### Expected behaviour

The Menu is supposed to be rendered after triggering by pressing the 3 dots

### Code sample

**Screen

[2022-03-06 01:54] #3052 closed

[2022-03-06 01:54] #3051 closed

[2022-03-06 02:35] yinshurman commented on #2172
🙄same issues , please make some improvements!

[2022-03-07 04:24] Karemhz commented on #2731
It doesn't work

[2022-03-07 04:35] Karemhz commented on #2731
Didn't work on android

[2022-03-07 13:52] SusulAdam opened #3109 "onValueChange type in "Switch" is diffrent between react-native-paper and SwitchProps from react-native"
### Current behaviour

onValueChange type in "Switch" is diffrent between react-native-paper and SwitchProps from react-native.

onValueChange type in react-native paper: Function
onValueChange type in @types/react-native:  ((value: boolean) => Promise<void> | void) | null | undefined;

### Expected behaviour

Type should be the same in both libraries.

### Your Environment

| software

[2022-03-07 16:59] mikehardy opened #3110 "Button text is optional in material design spec, but not in typescript types"
### Current behaviour

Hi there!
I want to have a button that is just an icon.
There is this line in the material design spec:

The "Text label" section here https://material.io/components/buttons#anatomy

That strongly implies that you may have a button without a text label as long as you have an icon

If I modify the typescript types to make children optional, it actually works on web at least,

[2022-03-07 17:02] mikehardy commented on #3110
I understand desire for a repro, but you can just edit the children out of the provided snack and see it in action, on the default button sample :-)

https://snack.expo.dev/?name=Button&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fbutton.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20Button%20%7D%20from%20%27react-native-paper%27%3B%0A%0Aconst%20

[2022-03-08 02:53] cparros opened #3111 "Paper banner accept node as child not just string"
After working with paper for a bit and using the Banner component I believe there are valid use cases for when the banner could could accept more than just a string.  for example a node that is a view with title and text components that can be styled for errors or success dropdown banners.

I am using typescript and am able to compile a workaround wrapped in a few views and TS-ignore but I think e

[2022-03-08 02:59] cparros commented on #3111
![Image 3-7-22 at 9 57 PM](https://user-images.githubusercontent.com/65684072/157157618-6c912ba8-6c7b-4984-af18-702fd7f25c0a.jpg)
I am using react-native-paper v4.11.2

[2022-03-09 01:57] #3058 closed

[2022-03-09 01:57] #3045 closed

[2022-03-10 02:00] #3061 closed

[2022-03-10 18:49] NoerNova commented on #2965
Upgrade @types/react-native to latest version fixed issue.

[2022-03-10 19:51] rchaubey commented on #1993
Spent like hours fixing this. Turned out my issue was using babel-jest instead of ts-jest.

[Follow this guide](https://kulshekhar.github.io/ts-jest/docs/guides/react-native/)

Make sure to change the `transform` property in `jest.config.js` to below

`  transform: {
    '^.+\\.(js)$': 'babel-jest',
    '\\.(ts|tsx)$': 'ts-jest',
  }`

Also add transformIgnorePatterns

`
  transformIgnorePatterns:

[2022-03-11 01:58] #2993 closed

[2022-03-11 03:50] Ravindu-Hirimuthugoda opened #3117 "TextInput.Affix"
Can we make TextInput.Affix text clickable? (like onPress in TextInput.Icon)

"react-native": "0.67.2",
"react-native-paper": "^4.11.2",
"react-native-vector-icons": "^9.1.0"

[2022-03-11 10:22] jorgemasta commented on #2172
Thanks for your workaround @rye761. Here is a version using hooks:
[code]

[2022-03-12 10:51] Penguin98kStudio opened #3119 "Datatable cell should have an option to be multiline"
**Is your feature request related to a problem? Please describe.**
Datatable cell is hardcoded to have nooflines =1, it should be customizable by the user

**Describe the solution you'd like**
DataTable.Cell has a prop called no of lines

**Current Solution**
I use a normal view with same style options as the style in source code with a text component inside whenever I need multiline value in cell

[2022-03-12 23:46] conor909 commented on #3050
@AliRehman7141 why was this closed?

[2022-03-14 01:57] #3080 closed

[2022-03-14 06:40] AliRehman7141 commented on #3050
I handled it differently for my need.

[2022-03-14 08:28] conor909 commented on #3050
The bug still exists tho?

[2022-03-14 12:13] AliRehman7141 commented on #3050
Basically, when I faced this issue I reported it here and also started to implement my own menu component,  Now I'm using my component.

[2022-03-14 12:20] conor909 commented on #3050
@AliRehman7141 Yes but I believe the bug still exists in `react-native-paper`, so it's worth leaving the issue open so others can continue the discussion

[2022-03-14 12:29] AliRehman7141 commented on #3050
Okay, I'm repenning it.

[2022-03-15 15:29] daviddunnington commented on #656
My solution for this was to use the placeholder prop instead of the label, you can then use the placeholder color prop to give it a different color to the border/placeholder, the only caveat is that you don't get the floating label when you click inside the input which was fine for my use case as it was a search input and not required. Would be great if you could stye the label and border individu

[2022-03-15 17:55] yannickpschroeder commented on #3119
+1

[2022-03-17 05:15] tin-mari commented on #2602
I am facing the same issue with "react-native-paper": "^4.11.2". Page is super slow and I am writing over the text input label
<TextInput
                    style={styles.textInput}
                    autoComplete={null}
                    autoCorrect={false}
                    autoCapitalize="none"
                    label="label"
                    onChangeText={handleChange('label')}

[2022-03-17 06:50] francesco-clementi-92 opened #3122 "Weird UI behavior of Text Input with Dark Mode"
### Current behaviour

With Dark Mode on, some Text Input outlined are ok, others with same code have a white line on the label.
![photo5879971770990180747](https://user-images.githubusercontent.com/30288622/158751699-fd016729-c370-4d06-9b77-54ef7ca59dd5.jpg)
![photo5879971770990180746](https://user-images.githubusercontent.com/30288622/158751706-9841bbc1-22b8-4e0d-a2bb-3547eca67a15.jpg)

The code

[2022-03-17 06:58] freakk101 commented on #1464
Any update on this ?

[2022-03-17 13:51] MauriceNino commented on #2305
I solved the problem using a wrapper `View` and placing the right item `absolute`, while simultaneously setting the real `right` prop to an empty element, so that the text does not overlap the custom right content.

This way, the text box does not get cut off like when using a flex container. You could apply the same logic for a `absoluteLeft` element.

[code]

[2022-03-17 20:17] leecommamichael commented on #1927
`marginVertical: 0` will do the trick.

[2022-03-18 01:16] thelamedia opened #3123 "Text is Chip is vertically off centered when Accessibility Text Scaling is shrinking fonts and font scaling can't be disabled."
### Current behaviour

When using chips with ios accessibility settings for smaller text, the text in the chip moves up vertically inside of the chip.  Increasing the font size does not adjust vertical alignment, and allowFontScaling={false} has no effect.  If fonts are scaled up using accessibility settings, the font stays aligned center.

### Expected behaviour

Font's should remain vertically c

[2022-03-18 02:01] #3060 closed

[2022-03-18 03:13] joeframbach commented on #1145
I worked around this by writing this small component.

[code]

[2022-03-18 20:55] SleeplessByte commented on #2955
This is still a problem. Repro:

[code]

[2022-03-18 21:05] SleeplessByte commented on #2955
Here is the patch-package patch as workaround. All it does is not apply `value` if `defaultValue` is present:

[code]

Save as `patches/react-native-paper+4.11.2.patch`. Feel free to turn this into a PR and take credit.

[code]

[2022-03-19 04:20] raphaelmerx opened #3124 "TextInput multiline on web should expand when entering long text"
### Current behaviour
A multiline `TextInput` element expands to adapt to text content on mobile, but it doesn't on web. Instead a scrollbar appears instead the `textarea`

### Expected behaviour

`TextInput` expands on web to adapt to text length, like it does on mobile. This is expected under the material guidelines: https://material.io/archive/guidelines/components/text-fields.html#text-fields-

[2022-03-19 17:56] MartijnGevaert opened #3125 "How to place component next to Accordion List header?"
Essentially I am trying to do the same as this user:
https://github.com/callstack/react-native-paper/issues/3065

I created a smaller snack example of what goes wrong:
https://snack.expo.dev/ZLAdZjkes

In the original issue, it's mentioned that it's not possible to make components passed to "left" pressable. But perhaps it is possible to place a component next to the header, without moving the ent

[2022-03-20 18:59] MartijnGevaert commented on #2465
This probably shouldn't be stale as that's not really usefull to keep track of feature requests, right?

[2022-03-22 04:07] allenmanning opened #3126 "Material Design 3"
Greetings and thank you for a great project.  🙌

I'm wondering if there is plans in the works for moving toward Material Design 3.

https://m3.material.io/

[2022-03-22 07:21] hipages-ligang opened #3127 "We can't control the border width of outline"
**Is your feature request related to a problem? Please describe.**
The default outline border width is 1, active outline border width is 2. These are hardcoded, we can't set them to other value.

**Describe the solution you'd like**
Export two properties that can set default border width and active outline border width.

**Additional context**
This is mentioned in https://github.com/callstack/reac

[2022-03-23 12:19] #3099 closed

[2022-03-23 12:22] #3126 closed

[2022-03-23 17:16] beng970804 opened #3130 "Material You"
I have two questions regarding this package.

1. Will the component for this package support Material You at some point?
2. For the ripple effect, any plan to support IOS in future?

[2022-03-24 11:59] BartoszHor commented on #272
Love You!

[2022-03-24 22:34] effinrich commented on #1489
I've only recently started using react-native and react-native-paper.  RNP is great, easy to use, no cross-platform hiccups and performs as claimed in that way. The only issue I have is preferential and lies in the styling. I've been a user and proponent of styled-system/styled-components and anything built on those systems for years, because they simply make component customization incredibly fas

[2022-03-25 02:01] #3037 closed

[2022-03-25 21:20] mikehardy commented on #3110
Hey @lukewalczak :wave: sorry to direct ping, but I'll make a PR for this if it's acceptable, I just need to know. I am *pretty sure* (correct me if wrong) this actually makes Button slightly more conformant with material design behavior. Cheers :-)

[2022-03-28 03:06] allenmanning commented on #3130
Asked here: https://github.com/callstack/react-native-paper/issues/3126#issuecomment-1076314926

[2022-03-28 05:15] #3130 closed

[2022-03-28 15:16] joshraker commented on #1489
As some have mentioned, including #2529, it would be nice to be able to disable the ripple effect for touchable components.

I tried making a simple software keyboard with `react-native-paper` buttons but `onPress` and each subsequent button press isn't triggered until after the ripple effect finishes so it's basically useless on Android. iOS is fine since all it does is highlight. I tried to work

[2022-03-28 16:47] lukewalczak commented on #3110
Hey @mikehardy, I guess in the case where there is no label `IconButton` comes in handy, but at the same time, I assume you want to have all the buttons styled in the same way, just sometimes without the label. In that case, especially when material design indicates that possibility, please send a PR :)

[2022-03-28 17:45] #3127 closed

[2022-03-28 17:48] lukewalczak commented on #3122
Hello @francesco-clementi-92 could you please try to reproduce it on [expo snack](snack.expo.dev)

[2022-03-28 18:12] #3095 closed

[2022-03-28 21:53] suregi commented on #3097
Repro attached [here](https://snack.expo.dev/@simbust/e1f3d1)

Please test with Android device and use Korean keyboard. I suppose that you can repro with other CJK keyboard such as Japanese and Chinese also, but I haven't tried myself.

[2022-03-28 23:22] mikehardy commented on #3110
I feel like I looked at that and for some reason it wasn't suitable (possibly styling, as you mention) - let me triple-check since the best change is no change. Otherwise I'll post a PR. Thanks!

[2022-03-29 12:17] lukewalczak commented on #3110
@mikehardy I'm planning to release tomorrow the last version before Material You, if you will find some time, please send a PR so I will include it in the upcoming release. Cheers!

[2022-03-29 13:21] nevskij2022 opened #3132 "Incorrect textinput label position in arabic locale"
### Current behaviour
We use the latest versions of libraries.
When the localization is changed to Arabic, an indent appears for the TextInput label.
![image](https://user-images.githubusercontent.com/102587316/160619691-c04cd247-3078-4631-8250-b32d5eb540e9.png)

### Expected behaviour

Should be the same behavior as with in English localization

![image](https://user-images.githubusercontent.com/

[2022-03-29 16:15] #3110 closed

[2022-03-30 02:46] #3094 closed

[2022-03-30 13:43] mikehardy opened #3133 "I18nManager becomes mock-only in react-native-web 0.18 - affect on react-native-paper?"
I saw this in the react-native-web 0.18 pre-release https://github.com/necolas/react-native-web/pull/2248

...and I recall that in a PR I just did I was following some internal convention for handling RTL layouts here in react-native-paper: https://github.com/callstack/react-native-paper/pull/3015/files#diff-abbb75c84e06f0e76a8627a199ea73e45aee12d708f8f839d55603b2151466d9R136-R139

The combination

[2022-03-30 13:48] mikehardy commented on #848
My PR attempting to address this is release now in 4.12.0, hopefully it works for everyone!

[2022-03-30 18:47] lukewalczak commented on #3132
Hey @nevskij2022, please check if the issue exists on the latest version.

[2022-03-31 00:55] Pinwheeler commented on #1272
I think this issue should be reopened- looks like it's a small change to fix

[2022-03-31 07:33] swizes opened #3134 "How to set react-native-paper/babel in different environments`"
The installation guide mentions that we can reduce bundle size by adding react-native-paper/babel plugin for production environments. Unfortunately i haven't found any solution or information about how to set the bundle like production/staging/development for babel.config.js

I want to achieve basically the below architecture for babel.config.js

[code]

How does babel know if it is production/dev

[2022-03-31 07:48] swizes commented on #3056
Can you explain how you did it?

[2022-03-31 12:10] johanjq commented on #688
hey @Hasintha-git the problem still persists though, if you want to add a label it won't be visible as color 'transparent' get's applied on the label as well. I can confirm the issue is still there on 4.12.0. does anybody have idea how to resolve this?

[2022-03-31 14:58] descyther commented on #3056
go to
node_modules/react-native-paper/src/components/BottomNavigation/BottomNavigation.tsx

CTRL + F and search TouchableRipple
 look for this:
[code]

either delete the ternary and just return TouchableWithoutFeedback or replace the Ripple with WithoutFeedBack
eg.

[code]
However, everytime you update anything through yarn itll come back, so then youll have to make your own fork and reference it

[2022-03-31 16:30] descyther commented on #3056
Glad to know about the patcher package! I didn't want to have to keep updating my fork tbh tyvm!

[2022-04-01 06:33] saad9624-tribalScale opened #3135 "No way to change Label color without affecting underline Color tried everything"
I need to change label color when error occured there's no such prop available to handle label color only. It connected with underline color everywhere.

Currently I'm doing like this to achieve desired result but two colors appearing in bottom border.

  colors: {
            placeholder: '#898989', text: Colors.vdBlack, primary: '#898989',
            background: '#003489',
            error:'#9

[2022-04-01 14:48] SamuelLeclerc33 opened #3136 "Stacked label for TextInputs"
**Is your feature request related to a problem? Please describe.**

I used a TextInput in a DatePicker component I wrote. Usually, when I use a component library like Paper I have the possibility to set stacked label and be albe to see the place holder and the label at the same time. Like here :
![image](https://user-images.githubusercontent.com/23220701/161285582-e56e087e-eea2-453a-9cb1-7e573cab3

[2022-04-02 11:35] fabriziocucci opened #3137 "`Button` component re-renders incorrectly when dynamically updated from `contained` to `outlined`"
### TL;DR

I'm quite sure I'm doing something wrong here but any advice would be much appreciated! 🙂

### Current behaviour

When changing the `Button` mode dynamically (e.g. from `contained` to `outlined`), the component re-renders incorrectly (see the dark shadow in the screenshot below or try to randomly click the buttons in the Expo snack below).

### Expected behaviour

When changing the `But

[2022-04-02 22:44] dylanrandle commented on #1483
This is still an issue. Please re-open.

[2022-04-02 22:52] dylanrandle opened #3138 "TextInput's placeholder is not being displayed initially with multiline set to true on iOS"
### Current behaviour

On iOS, if multiline is true and label and placeholder both have a value, the placeholder is not displayed when you click on the input field. If you type something in, selected it all, and delete it, then the placeholder is displayed and works as expected. If you enter two lines of text into the text input and then erase them, then you will see the placeholder. See the video

[2022-04-02 22:53] dylanrandle commented on #1483
Created a new issue #3138: https://github.com/callstack/react-native-paper/issues/3138.

[2022-04-03 11:24] rahmanharoon opened #3139 "JSON.stringify cannot serialize cyclic structures TextInput"
### Current behaviour
Getting `JSON.stringify cannot serialize cyclic structures` this error when setting state of onChangeText

App getting crash on setState action called.
### Expected behaviour
Need to change state of value of what am typing

### Code sample
[code]

### Screenshots (if applicable)

![simulator_screenshot_0693C3D4-0EB6-4F3E-AB94-558152CBF0FE](https://user-images.githubuserconten

[2022-04-03 17:04] goxr3plus opened #3140 "How to start editing on TextInput programmatically and show keyboard"
Hello my question is .

Is there any way to programmatically focus and show keyboard for typing on TextInput ?

I have created a ref to TextInput as follows :

[code]

and tried something like this :

[code]

But it just focuses the TextInput i need it also to show the keyboard like below instead of the user having to manyally tap on the TextInput in order for it to show the keyboard :

![image](h

[2022-04-03 17:06] goxr3plus commented on #3140
I am using react-native-paper 4.12.0

[2022-04-03 17:09] goxr3plus opened #3141 "Focusing on TextInput programmatically doesn't start also editing with keyboard"
Hello

I have created a ref to TextInput as follows :

[code]

and tried something like this :

[code]

![studio64_K8OyuPrbOL](https://user-images.githubusercontent.com/20374208/161439700-c0f82e60-b624-45f3-af19-ef218681581a.gif)

![image](https://user-images.githubusercontent.com/20374208/161439362-2e765713-2553-471f-8136-4e00ec437c26.png)

### Your Environment

| software              | version

[2022-04-03 17:10] #3140 closed

[2022-04-03 18:13] julianwn opened #3142 "Menu component: lag when opening/closing"
While using the Menu component, I noticed that there is a very noticable delay between tapping on the icon/anchor and the popup menu appearing. I tried setting the animation scale to 0 but the issue persists.

The issue became even more noticable after I started using the "@react-native-picker/picker" component where the dropdown menu looks quite similar and opens blazingly fast. Is there a way to

[2022-04-04 02:34] BrenoVelasco commented on #3008
Any updates on this?

[2022-04-04 08:18] dante-provar commented on #2528
Somethings you could jus be missing required props from a component .i.e Button Component requires a "title" prop as well as "onPress". Just use the ctrl+space bar to check missing props

[2022-04-04 10:47] Ghoral opened #3143 "Label text is not wrapping when text is long - Button."
When the text is long button is not wrapping the label instead it ellipses the label. It should expand the button and all the text should be visible.

![Screenshot_20220404-162712_Elephant Insurance, LLC](https://user-images.githubusercontent.com/49188349/161528479-1af7e7ef-bd50-4439-986c-6f6a46ffb00f.jpg)

[2022-04-04 10:49] Ghoral commented on #3143
"react-native": "0.66.3",
"react-native-paper": "^4.11.1",
"react-native-vector-icons": "^9.0.0",

[2022-04-04 18:51] celciusjj commented on #3122
Same issue

[2022-04-05 07:35] francesco-clementi-92 commented on #3122
@celciusjj did you find a way to replicate the issue?

[2022-04-05 08:09] matt-koevort commented on #3028
FYI also seeing this on a physical device (Samsung Galaxy S9) when using elevation on a simple View. Unrelated to this libray imo.

[2022-04-05 12:30] seahorsepip opened #3144 "TextInput value is ignored (web)"
### Current behaviour
When you for example filter the input state, the unfiltered input state is rendered.

### Expected behaviour
The current value passed to the value prop is always rendered.

### Code sample
[code]

### What have you tried

This seems to still work correctly in older versions (tested in 4.11.1).

### Your Environment

| software              | version
| --------------------- |

[2022-04-05 12:34] seahorsepip commented on #3144
Let me know if this issue has been fixed already or a fix is in the works. Else I'll make a PR.

[2022-04-05 15:40] lukewalczak commented on #3143
According to the MD guidelines wrapping text in button is not allowed:

<img width="600" alt="image" src="https://user-images.githubusercontent.com/22746080/161792277-2a21cb89-5dbb-4ea7-bfcc-1331abbbc96d.png">

[2022-04-05 15:40] #3143 closed

[2022-04-05 15:45] lukewalczak commented on #3136
Hey @SamuelLeclerc33 could you please point me to the MD documentation/example presenting that behavior is allowed/supported?

[2022-04-06 02:05] #3101 closed

[2022-04-06 02:35] celciusjj commented on #3122
The application is being tested on other cell phones from another country, and it is a darkmode error in the latest versions. but I myself could not replicate it on my cell phone.

[2022-04-06 06:36] raajnadar commented on #3122
Share you theme object

[2022-04-06 22:57] seahorsepip commented on #3144
Ended up being a small change related to controlled and uncontrolled inputs. Previously the props value was synced with local state in a `useLayoutEffect` but this causes an additional render and can get out of sync in cases where input is filtered.

In my usecase there was a props value that didn't change while the input entered by the end user did change, the `useLayoutEffect` won't be called an

[2022-04-07 06:54] sagark1510 commented on #2528
Hi Guys, can anyone help me. How can I extend the button props with my custom button component in typescript? I don't see any interface or type exported to extend from rnpaper

[2022-04-08 02:06] #3104 closed

[2022-04-08 02:06] #3103 closed

[2022-04-08 20:45] lucaswitch commented on #3140
The current version 4.12.0 has different ref pros than the older releases with a lot less attributes.

[2022-04-08 20:47] lucaswitch commented on #3140
@goxr3plus the easy fix should be replacing your current paper version 4.12.0 to 4.11.x.

[2022-04-08 21:00] goxr3plus commented on #3140
@lucaswitch  I will give it a try , though it seems strange i have to go to previous version . I mean ... i will miss the new bug fixes.

[2022-04-08 21:42] lucaswitch opened #3146 "Breaking changes on TextInput ref between 4.12 and 4.11.x"
### Current behaviour 4.12

When setting a ref inside a <TextInput/> element exposes in ref the following:
      focus: ()
      clear: ()
      setNativeProps: (args: Object)
      isFocused: ()
      blur: ()
      forceFocus: ()

### Expected behaviour 4.11

In older versions than **4.11.x it was possible to access <TextInput/> private component methods like, setFocused() and others**, allowing

[2022-04-08 22:26] seahorsepip commented on #3146
Here's a gist I've been using to share an internal ref while also using it internally: https://gist.github.com/pie6k/b4717f392d773a71f67e110b42927fea

[2022-04-09 12:42] umardev500 opened #3148 "Opening menu is to delayed"

[2022-04-09 12:43] umardev500 commented on #3148
if I'm open in menu the is to delayed for open can we increate the speed?

[2022-04-10 18:59] lukewalczak commented on #3146
Hey @lucaswitch could you please present on the snack (since it's the easiest way to present the problem using different library versions) the difference in `TextInput` between the latest version and the previous one?

[2022-04-11 02:10] #3107 closed

[2022-04-11 11:47] gsbelarus commented on #3122
We have encountered the same problem.

[2022-04-11 11:49] lukewalczak commented on #3122
@gsbelarus could you please try to reproduce it on the [expo snack](snack.expo.dev)?

[2022-04-11 13:24] lukewalczak commented on #3148
Hello @umardev500 could you please share the [snack](https://snack.expo.dev/) presenting the lag?

[2022-04-11 13:25] lukewalczak commented on #3142
Hey @julianwn could you please share the [snack](https://snack.expo.dev/) presenting the lag?

[2022-04-11 13:47] lukewalczak commented on #3141
Hello @goxr3plus, please try to use `inputRef.current.forceFocus()`

[2022-04-11 14:11] lukewalczak commented on #3122
Please try to use that [snack](https://snack.expo.dev/BL0tQb5Ag) where you can switch between themes and add your specific code for reproducing the issue.

[2022-04-11 14:57] sunnycreature commented on #3122
When I use this snack, I get this result
phone mode is dark:
![image](https://user-images.githubusercontent.com/12336960/162766260-d862c402-b500-4d82-a4d1-6ca4ea0a64a5.png)
phone mode is light:
![image](https://user-images.githubusercontent.com/12336960/162767480-59c14ec0-cf44-478e-997e-9fdb70110808.png)

[2022-04-11 15:22] raajnadar commented on #3122
@lukewalczak you can see this snack demo, the issue can be seen in RTL mode, https://snack.expo.dev/R4JM_Hf5v

[2022-04-11 17:12] lucaswitch commented on #3146
Ok, i will do.

[2022-04-12 23:43] Zeraan commented on #617
Might be too late for you, but I've discovered a solution that maybe will help save others the headache. What you need to do is this:
`            render={pickerProps => (
              <RNPickerSelect
                ...
                onOpen={() => {
                  pickerProps.onFocus(null)
                }}
                onClose={() => {
                  pickerProps.onBlur(null)

[2022-04-13 13:08] drplauska commented on #3148
@umardev500 also, on which os is the issue?

[2022-04-13 13:39] drplauska commented on #3141
@lukewalczak did you manage to repro it? I put `ref` on example `TextInput` and `focus` method works just fine, opens keyboard on both android and ios.

[2022-04-13 14:34] drplauska commented on #3137
Reproducible on Android. Seems to be a problem with elevation. To be exact, if we updated this file
`src/components/Button.tsx`
on line 275
to this:
`{...(theme.isV3 && { elevation: 0 })}`
the bug resolves, but this removes `elevation` at all

[2022-04-14 02:10] #3109 closed

[2022-04-14 05:40] nouridev12 commented on #3139
@rahmanharoon if the JSON.stringify function THAT TRIGGER the issue is inside your project(not from the node_modules) then you can use [this solution](https://stackoverflow.com/a/9382383/13378146). Add a function "Replacer" as the second argument to the "JSON.stringify" function.

[2022-04-14 05:48] ajitdas123 opened #3152 "Textinput multiline with lable is not starting from top on IOS"
### Current behaviour
Textinput with `multiline` on `outlined` mode with a lable is starting from the center on IOS but it is working fine on android.

### Expected behaviour
It should work same on both the devices.

### Code sample

[code]

### Screenshots (if applicable)

**IOS**
<img width="300" alt="Screenshot 2022-04-14 at 11 02 26 AM" src="https://user-images.githubusercontent.com/20204881/1

[2022-04-14 15:58] #3139 closed

[2022-04-14 17:27] francesco-clementi-92 commented on #2965
I tried every combination with @types/react-native but nothing works. Which one did you find to work correctly?
I'm using react-native 0.67.4, react-native-paper 4.12.0 and @types/react-native 0.67.4, but I have a lot of typescript error in vscode

[2022-04-15 02:15] #3111 closed

[2022-04-15 05:52] mcmxcdev commented on #3101
Unfortunately, this is still an issue. Please reopen.

[2022-04-15 08:03] lawrence-laz commented on #3028
Are you seeing it using the same Snack as above?

[2022-04-17 02:07] #3102 closed

[2022-04-17 18:45] amancodify commented on #352
pass this prop 'contentStyle' in the button and put the same height(or any css changes) which was in style prop.

[2022-04-18 02:14] #3117 closed

[2022-04-18 13:34] joaoGabriel55 commented on #3064
I can take this task

[2022-04-19 14:44] JoaoMosmann commented on #2305
I'm trying to render a clickable text emoji on the left prop, however, it seems I'll have to use one of the suggested workarounds. But it would be great if the `left` and `right` props could accept any component

[2022-04-20 17:07] lucaswitch commented on #3146
Hello, any news?

[2022-04-21 02:12] #3050 closed

[2022-04-21 04:18] rupalpatel0008 commented on #2231
Here is my take on this:
`<TextInput
        placeholder="Text goes here"
        theme={{ colors: { text: Colors.primaryText } }}
        activeOutlineColor={Colors.primaryCTA}
        autoCorrect={false}
        style={styles.input}
        right={
          <TextInput.Icon
            name={() => (
              <TouchableOpacity style={styles.searchButton} onPress={onSearch}>
                <

[2022-04-21 05:26] oldo commented on #2615
I had success using https://github.com/akinncar/react-native-mask-text

[2022-04-21 11:45] anchetaWern opened #3157 "Dropdown option position is off when inside modal"
### Current behaviour
This happens when I use the react native paper dropdown component (https://fateh999.github.io/react-native-paper-dropdown/#/README) inside react native paper's modal component.

This is when clicking the first modal, as you can see the options aren't where they're supposed to be:
<img width="318" alt="Screen Shot 2022-04-21 at 7 36 59 PM" src="https://user-images.githubuserco

[2022-04-21 19:20] pentolbakso opened #3160 "How to pass the react-navigation's headerRight to AppBar"
Hello

So, I setup my navigator to use the AppBar component (DefaultAppBar)

[code]

DefaultAppBar.tsx
[code]

and now, I want to add + button on a page. Usually , I did this on react-navigation .. How to pass the headerRight to AppBar ? Is it possible?

[code]
Thank you

[2022-04-22 02:14] #3106 closed

[2022-04-22 02:59] sagark1510 opened #3161 "Modal component not working with react-native: 0.68.1"
### Current behaviour

When I tap on the show modal button it is not showing the modal if I use `<Portal />` and if I don't then react navigation header is not getting hidden by Modal.

### Expected behaviour

It should show the modal covering the whole screen.

### Code sample

[code]
### Screenshots (if applicable)

### What have you tried
I tried wrapping the <Portal /> with `<Portal.Host />` a

[2022-04-22 19:36] rchaubey opened #3162 "TextInput ignores value change when space is pressed, hence cannot remove all spaces from TextInput"
### Current behaviour

I'm trying to remove all spaces from <TextInput />  on `onChangeText`.  But it ignores the `value` prop change when `space` is pressed on the virtual keyboard.

Tried it with react native's `TextInput` it works as expected

### Expected behaviour

It should not ignore value change when the space is pressed and should update the `value` prop

### Code sample

[code]
[Github R

[2022-04-22 21:11] lukewalczak commented on #3162
Hey @rchaubey, could you please check if that [PR](https://github.com/callstack/react-native-paper/pull/3145) fix your issue?

[2022-04-23 02:07] #3119 closed

[2022-04-23 10:30] rchaubey commented on #3162
@lukewalczak Just tested the branch, it works great. Closing this issue & will track that PR.

Thanks!

[2022-04-23 10:30] #3162 closed

[2022-04-23 13:19] Sumanta9x9 opened #3163 "Is there a plan to integrate material3 components?"

[2022-04-23 23:58] cengoist opened #3164 "I need a Euroleauge Api"
I am looking for a public API for total players' stats for Euroleague each season. Is there anything you have found?

[2022-04-24 10:01] #3164 closed

[2022-04-24 10:02] lukewalczak commented on #3163
Yes, there is ongoing work related to adjusting components to the Material You, which you can observe in opened/merged PRs tagged with `Material You` label.

[2022-04-24 10:02] #3163 closed

[2022-04-25 02:11] #3123 closed

[2022-04-25 02:46] sagark1510 commented on #3161
@satya164  ^^

[2022-04-25 14:48] hasbelcaro commented on #2381
It works for me changing this value in the DataCell library code
![Screen Shot 2022-04-25 at 9 45 49 AM](https://user-images.githubusercontent.com/7729951/165113735-78a21c74-de6a-4af1-8c4b-83429dce234e.png)

[2022-04-25 17:47] lukewalczak commented on #3160
Hey @pentolbakso, I guess you're not able to set option `headerRight` to the used custom header. I can suggest you extend your `DefaultAppBar` by a new prop called e.g. `withHeaderRight` which will be the component displayed as a right component:

[code]

and then in the specific screen use the `DefaultAppBar` with the newly created prop:

[code]

[2022-04-26 08:04] #3137 closed

[2022-04-27 11:20] TiagoDanin commented on #1556
This happens to me on every TextInput that has custom style with height set.
https://snack.expo.dev/@tdanin/26350f

@satya164 Can we reopen this issue?

[2022-04-27 11:22] TiagoDanin commented on #1556
This happens to me on every TextInput that has custom style with height set.
https://snack.expo.dev/@tdanin/textinput-bug-paper-with-height

@satya164 Can we reopen this issue?

[2022-05-02 12:24] oscar-gallog commented on #2482
Why they're so many issues about this? I'm still having the same issue with
[code]

[2022-05-03 15:48] BozhidarKabzamalovMM opened #3166 "My screen reader reads the content that is outside of the dialog component and I'm not sure if the dialog component doesn't support accessibility or I'm doing something wrong."
I've been following the documentation in order to create a dialog and make it accessible to a screen reader. I've done this so far

Wrap the root with a provider:

import { Provider as PaperProvider } from 'react-native-paper';

[code]

Then add the example code:

[code]

Unfortunately, when I open the dialog while using TalkBack, 2 issues happen:

1. The dialog can't be dismissed by clicking anyw

[2022-05-04 14:17] alexpchin commented on #3138
Any update on this issue? Thanks

[2022-05-04 18:54] fridavbg commented on #1113
Any updates on this?

[2022-05-05 09:41] alexpchin commented on #2982
[code]

[2022-05-06 00:27] SleeplessByte commented on #2955
In 4.12.x new errors were introduced, which require a different patch.

[code]

This incorrect assigns `value` when the component is _uncontrolled_.

Save as `patches/react-native-paper+4.12.1.patch.`, delete the previous one.
[code]

[2022-05-06 18:15] alikazemkhanloo opened #3167 "Add mui like `Box` component"
**Is your feature request related to a problem? Please describe.**
styling is a headache with `StyleSheet.create` and all the namings for classes.

**Describe the solution you'd like**
 I need to have a component like mui Box, in which I add styles as props and it gets converted to StyleSheet inside that component. also it should act as a drop-in replacement for `View`

[2022-05-07 18:47] nebojsanb commented on #919
action={{
                icon: "close",
                color: text,

[2022-05-07 23:35] schlosser opened #3168 "Allow for ripple customization in `RadioButton.Item` or `Checkbox.Item`"
**Is your feature request related to a problem? Please describe.**
I can't customize the `TouchableRipple` in my `RadioButton.Item`s or `Checkbox.Item`s, so they have the same color ripple.

**Describe the solution you'd like**
Add `underlayColor` as a prop to these components and pass to the `TouchableRipple` would be one solution

**Describe alternatives you've considered**
Another solution woul

[2022-05-08 09:51] lukewalczak commented on #3144
Fixed by: https://github.com/callstack/react-native-paper/pull/3145

[2022-05-08 09:51] #3144 closed

[2022-05-08 16:23] fabriziocucci commented on #2965
Experiencing a similar issue with `4.12.0` and `Card`, `ActivityIndicator` and `IconButton` components:
[code]

My `package.json`:
[code]

Suggestions?

[2022-05-08 16:34] raajnadar commented on #2965
Add this in `package.json`

[code]

[2022-05-08 22:53] mikehardy commented on #3133
@lukewalczak I understand this is not actionable but I thought (as a fellow maintainer of complicated repos...) that this one might be important enough to at least take a look at. react-native-paper uses I18nmanager a lot...

[2022-05-09 01:52] fernandobd42 opened #3169 "Add fontSize and fontWeight prop to FABGroup component"
**Is your feature request related to a problem? Please describe.**
Didn't find a way to set fontSize, fontWeight to the label.

**Describe the solution you'd like**
I would add a new prop called labelStyleText as the labelStyle has been used in the Card....

- react-native: 0.63.3
- react-native-paper: 4.12.1
- react-native-vector-icons 9.1.0

<img width="1379" alt="Screen Shot 2022-05-09 at 11 41

[2022-05-09 02:13] #3134 closed

[2022-05-09 02:24] fernandobd42 commented on #3169
feasible solution: https://github.com/callstack/react-native-paper/pull/3170

[2022-05-09 07:16] lukewalczak commented on #3133
Hey @mikehardy, currently my focus is mainly on Material You and distributing the alpha version. I will reopen that issue and dive into it once have some time.

[2022-05-09 15:02] mikehardy commented on #3133
Totally understand (and seriously: thanks so much for the effort) I just wanted to make sure this wasn't a complete surprise for you  later :-)

[2022-05-09 19:54] VictorioMolina opened #3171 "TextInput + placeholder bug: Text strings must be rendered within a <Text> component."
### Current behaviour

### Expected behaviour

### Code sample

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        |
| react-native          |
| react-native-paper    |
| node                  |
| npm or yarn           |
| expo sdk              |

[2022-05-09 19:56] #3171 closed

[2022-05-10 02:01] #3135 closed

[2022-05-10 14:39] johnny-mcfadden-dailypay opened #3172 "[Question]: Is there any support for "standard" material UI input in React Native Paper?"
Hey!

I'd like to use the latest version of react native paper (text input), however I noticed there is only support for:

[code]

Is there any support for the React Native Paper V1 style input / Material UI "standard" input?

What I was hoping to get 🤞 🙏 on V1 (https://callstack.github.io/react-native-paper/1.0/text-input.html)

<img width="569" alt="Screenshot 2022-05-10 at 15 35 26" src="https:

[2022-05-10 14:59] johnny-mcfadden-dailypay commented on #3172
Verified the issue still exists on latest versions of npm. This is more of a library question that a bug / breaking change :)

[2022-05-10 15:35] lukewalczak commented on #3172
Hey @johnny-mcfadden-dailypay, answering your question there is no support for the v1 style input.
The current design is following the v2 MD [documentation](https://material.io/components/text-fields#filled-text-field).
In the nearest future we'll introduce Material You (v3) and input will look very similar:
<img width="606" alt="image" src="https://user-images.githubusercontent.com/22746080/16766

[2022-05-10 15:43] #3172 closed

[2022-05-10 15:45] johnny-mcfadden-dailypay commented on #3172
Thanks @lukewalczak for the speedy response!

[2022-05-10 16:41] #3167 closed

[2022-05-11 02:44] supagu opened #3173 "'Using on the Web' documentation does not work and/or is not clear"
### Current behaviour

https://callstack.github.io/react-native-paper/using-on-the-web.html
The above documentation says to follow this guide first: https://callstack.github.io/react-native-paper/getting-started.html
If you do this you setup a react-native project.

Then it goes on to talk about 'Using CRA (Create react app)' which is contrary to the first instruction.

Then it talks about 'Custom

[2022-05-12 16:17] imknight opened #3174 "Radio button doesn't display on iOS"
### Current behaviour

When you display a radio button group on iOS, the circle is missing, only the check mark is show when you click on it

### Expected behaviour

it should display the circle like the web version

### Code sample

[the sample on doc](https://snack.expo.dev/?name=RadioButton&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fradio-button.html&code=import%20*%20

[2022-05-13 02:15] #3136 closed

[2022-05-13 02:37] martin-halum commented on #2507
Have any one found a solution yet? I'm also experiencing the same issue
`"react-native-paper": "^4.12.1",
"react-native": "https://github.com/expo/react-native/archive/sdk-41.0.0.tar.gz",
"@expo/vector-icons": "^12.0.0",
"expo": "^41.0.0",`

[2022-05-13 08:16] lukewalczak commented on #3174
Hey @imknight, there are platform-specific differences in the `RadioButton` appearance that's why iOS version has only the _tick_ icon. The main `RadioButton` is adjusting the appearance based on the device system.

If you would like to have `RadioButton` following platform guidelines for Android you can use `RadioButton.Android`:

[code]

[2022-05-13 08:30] imknight commented on #3174
@lukewalczak argh got it I thought something was broken when it doesn't run like the PWA version, sorry should check the documentation more specific. thanks for the reply, I have been stuck on this for the past few days.

[2022-05-13 09:00] #3174 closed

[2022-05-14 21:53] MartijnGevaert commented on #3173
I think most of the instructions assume that you already have a react-native project set up.
That project is most likely going to be through CRA or your own custom webpack.
The tutorials then explain which steps to take depending on your setup. (I think)

Although I do think the title for https://callstack.github.io/react-native-paper/using-on-the-web.html#custom-webpack-setup is a bit confussing,

[2022-05-16 05:25] midhungopipk commented on #1489
can any one explain why the button label is not in ios.

<Button
              mode="contained"
              color="#F6AA41"
              style={{
                height: height(6),
                width: width(90),
                borderRadius: height(1),
              }}
              labelStyle={{
                color: 'white',
                fontSize: totalSize(1.8),
                fontFa

[2022-05-16 09:04] karthick1231 commented on #2157
I have tried with 4.12.0-alpha.0  react-native-paper 0.66.4 react-native version. Still, Portal Dialog is Slow to hide. anything suggestions to hide fast?

[2022-05-17 02:14] #3133 closed

[2022-05-17 13:48] alabsi91 opened #3177 "Snackbar is not appearing after upgrading to expo Sdk 45"
### Current behaviour

- Snackbar is not appearing anymore after upgrading to Expo Sdk 45.

### Expected behaviour

- Show a snackbar with the message when the user clicks on the button.

### Code sample

[code]

### What have you tried

- I made sure that onDismiss is called when the snackbar is dismissed.
- I tried to change the style.
- I removed the children of the snackbar and replaced it wit

[2022-05-17 14:47] #3177 closed

[2022-05-17 14:59] alabsi91 commented on #3177
After some debugging I figured out that some react-native elements had covered the `snackbar` element, I don't know why that happened with the new Expo version but I moved some elements around and it's appearing again. thanks you for your help.

[2022-05-17 16:02] raajnadar commented on #3177
Keep one thing in mind the element at the bottom in the JSX has the higher z index on react native. If you want the element to be at the very top every time you need to use portal or place it at the bottom of the JSX.

[2022-05-17 21:24] jdinard commented on #3173
I'm having the exact same issue.

The docs say:
You can also run the example app as a web app using [react-native-web](https://github.com/necolas/react-native-web),

Clone the repository and run yarn in the root
Run yarn example web to start the webpack server and open the app in your browser

That doesn't work. If you clone the app, and run yarn in the root, nothing happens. Zero errors or feedba

[2022-05-18 04:08] CDBridger commented on #2332
I see this issue to when I navigate between screens using react-navigation. Would this issue be able to be re opened.

[2022-05-18 20:37] xiongemi opened #3178 "react-native 0.69 support for new architecture"
i try to upgrade my existing project with react-native-paper with react-native 0.69.0-rc.1. i got some errors for `react-native-safe-area-context` and `react-native-vector-icons`:

[code]

and
[code]
here is my dependencies version:
[code]
is react-native-paper going to support react-native 0.69.0?

[2022-05-19 11:34] sommcz commented on #2730
same here, on android. If i specify any height, it happens. Calculated paddingTop/Bottom is probably too big. But if i change it to zero (with render prop), it works as expected in my case (text is already aligned in the center so paddingTop/Bottom is not needed for my single line case).

[2022-05-19 11:37] lukewalczak commented on #2730
@sommcz could you please attach the snack presenting the issue?

[2022-05-19 11:44] thymikee commented on #3178
`link` has been removed from the RN CLI paired with RN 0.69. It's no longer needed in majority of use cases. Regarding `react-native-safe-area-context`, are you using new architecture (fabric)? Maybe there's a bug in the library, please check its issue tracker anyway.

[2022-05-19 13:12] sommcz commented on #2730
https://snack.expo.dev/wV8wWJ9pS

Type some text and drag it up and down.

[2022-05-20 12:12] goxr3plus commented on #3141
.

[2022-05-21 01:21] drplauska commented on #3166
@BozhidarKabzamalovMM it's working fine on both Android (10 QKQ1.190910.002) and iOS. Used your code in example app. Android video attached. Are you sure you're using the latest release?

https://user-images.githubusercontent.com/10409285/169628923-39fe8e4c-0aff-4048-9f27-49ce2d078802.mp4

[2022-05-21 17:59] fabriziocucci opened #3180 "Add support for onLongPress on FAB.Group component"
The experience I'd like to achieve with the `FAB.Group` component is the following:
* `onLongPress` => show the underlying FABs
* `onPress` => do something else

I'm wondering, was the callback left out intentionally (e.g. to comply with the Material Design spec) or just an oversight (considering that the FAB supports `onLongPress` already)?

Happy to put together a PR if this is something desirab

[2022-05-22 02:11] #3148 closed

[2022-05-22 04:14] jeafgilbert commented on #1650
Go to _node_modules/react-native-paper/src/components/TextInput/TextInputOutlined.tsx_ find `borderWidth: hasActiveOutline ? 2 : 1`  update to `borderWidth: hasActiveOutline ? 1 : 1`. But if we do `npm install` or `yarn install` in the future, your changes will be gone. To prevent this, use [React Native Patch Pacakge](https://www.npmjs.com/package/patch-package) to re-apply the changes.

[2022-05-22 08:15] praveen-adroitminds commented on #1971
Still getting the error with typescript
`'Button' cannot be used as a JSX component.
  Its element type 'ReactElement<any, any> | Component<(Pick<Pick<ViewProps & RefAttributes<View>`
  "react-native": "0.68.2",
    "react-native-paper": "^4.12.1",
    "@types/react-native": "~0.66.13",

[2022-05-22 09:22] mr-kelk opened #3181 "how to change blackout"
Hi  how to change the transparency and color of the darkening when you click on FAB.Group component ?
![image](https://user-images.githubusercontent.com/63808200/169688422-cc875da8-a3e6-4f49-9639-23a8d02aaa80.png)

[2022-05-22 10:43] lukewalczak commented on #3180
Hey @fabriziocucci, I guess there is no `onLongPress` functionality since MD didn't indicate that or apps following the MD don't have that functionality as well.
Generally, I think we can add support for that, however opening the stack of FABs should be still handled on `onPress`.

[2022-05-22 10:57] fabriziocucci commented on #3180
I guess it makes sense as default behaviour:
`onPress` => open stack of FABs
`onLongPress` => do nothing or open stack of FABs

Although opening the stack of FABs even when `onPress` is explicitly overridden IMHO would be somewhat inflexible.

To avoid breaking changes maybe something like:
[code]

[2022-05-22 11:01] fabriziocucci commented on #3180
I guess it makes sense as default behaviour:
`onPress` => open stack of FABs
`onLongPress` => do nothing or open stack of FABs

Although opening the stack of FABs even when `onPress` is explicitly overridden IMHO would still be somewhat inflexible.

I understand this is the current behaviour so maybe to avoid breaking changes something like this could work?
[code]

[2022-05-22 15:34] lukewalczak commented on #3181
Hey @mr-kelk, you can do that by specifying `backdrop` color via `theme` prop:

[code]

[2022-05-22 15:49] mr-kelk commented on #3181
Thank you very much

[2022-05-22 15:49] #3181 closed

[2022-05-22 18:10] kethan1 commented on #2335
I just ended up setting `style={{ width: "90%" }}` on the TextInput.

[2022-05-23 02:12] #3152 closed

[2022-05-23 14:14] 3GOMESz opened #3182 "Support Mobile Mouse Events 📱🖱️"
You can connect mouse to mobile devices via USB or Bluetooth but while working with pressables areas, events for that are not exposed.

<h5>Example of discord app's usage for hover events:</h5>
<img width="200px" src="https://user-images.githubusercontent.com/28831375/169609266-b0f70094-5209-48a4-a037-7eebdc8a20c5.gif"/>

[2022-05-24 08:48] Ahaseeb98 commented on #2730
facing same issue on android any solution for this issue other then dense prop?

[2022-05-24 08:56] sommcz commented on #2730
i've used render prop to render TextInput with overriden style (paddingTop/Bottom: 0) => it works.

[2022-05-25 11:51] esbenvb opened #3185 "Adding `pressIn` and `pressOut` events to Button - how?"
What is the easiest way to make a button that looks/behaves like Paper's  `<Button>` but also supports `onPressIn` and `onPressOut` events?

[2022-05-28 14:42] lukewalczak commented on #3180
I guess the main purpose of `onPress` on the `FABGroup` is to handle the callback on the main `FAB` when stack is opened.
Imo`onLongPress` should be an auxiliary option for handling pressing the main `FAB` when stack is not opened.

[2022-05-29 02:15] #3157 closed

[2022-05-29 22:47] goxr3plus commented on #3141
@lukewalczak  Still not working with forceFocus ... let me show you on the gif below

[2022-05-31 07:16] alifa20 commented on #1971
@praveen-adroitminds Have you tried this
[code]
https://github.com/callstack/react-native-paper/issues/2965#issuecomment-1120449109
?

[2022-06-01 11:58] wilav-dev opened #3189 "Allow to disable searchbar input"
While loading data, I'd like to disable the searchbar but can't find an attribute such as inputProps or disabled. Any solution?

[2022-06-01 12:55] #3189 closed

[2022-06-03 02:10] #3160 closed

[2022-06-03 19:05] kendallroth commented on #2965
I could certainly be wrong, but isn't this a Yarn-specific feature? It _appears_ to have a [counterpart](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) in NPM as of `v8`, but may be misunderstanding this as well?

[2022-06-06 09:19] kostiantyn-ccm commented on #2581
Still reproduce such issue

[2022-06-06 17:24] lucaswitch commented on #3141
In the current update the ref methods/props are passed to parent components through react native imperative handle as described here #3146

[2022-06-07 03:46] schlosser commented on #3168
I'm not sure this is a bug in the way where it needs a repro link, it's an API design issue, where the ability to customize these components is not in the API.

[2022-06-07 14:37] SantiagoCor commented on #1650
Thanks @jeafgilbert!!! That worked for me

[2022-06-09 23:25] DabirRahmani opened #3198 "Left and Right text are hidden when using placeholder in textInput"
Hi, I have an issue using placeholder and Left or Right together in textInput

before focus, it doesn't show the left string
![image](https://user-images.githubusercontent.com/48196542/172961014-279c4ae5-12aa-49e1-afd5-d6851bef8605.png)
![image](https://user-images.githubusercontent.com/48196542/172961057-d8f89a7d-2c96-4cd0-8023-35206a63e951.png)

if want "$" to be in every state of textinput

her

[2022-06-10 14:12] eelior opened #3200 "Appbar: "This JSX tag's 'children' prop expects a single child of type 'ReactNode', but multiple children were provided.""
Hey I'm new to `react-native-paper`, I have a fresh install with `expo` and I just copy-pasted the first example in the docs to see it all works so I took the `Appbar` example at: [https://callstack.github.io/react-native-paper/appbar.html] and I'm already getting TS errors even though it does compile. What did I miss?

The code:
[code]

The error:
[code]

[2022-06-10 15:24] tvpmb opened #3201 "React-native-paper training materials?"
Are there any udemy courses or something similar for training to use react-native-paper? I need to get my team up to speed on the tooling, development environment and "dev ops" for using react-native-paper.

Any resources would be greatly appreciated, I'm having a hard time finding them.

Thanks!

[2022-06-10 21:24] eelior opened #3202 "Using react-native-paper on the web with Expo"
I am setting up a cross-platform (including web) project using expo and `react-native-paper` as my UI library.

The [Getting Started](https://callstack.github.io/react-native-paper/getting-started.html) walkthrough detailed the instructions also for Expo but going through the [Using on the Web](https://callstack.github.io/react-native-paper/using-on-the-web.html) there is no instructions on how to

[2022-06-10 22:53] SamuelLeclerc33 commented on #2465
Bump

[2022-06-13 13:22] goxr3plus commented on #3146
It's causing this problem https://github.com/callstack/react-native-paper/issues/3141#issuecomment-1147695589

[2022-06-13 16:40] Lynnze-24 commented on #1772
If you just want a smaller textInput,
1. remove height property from TextInput style.
2. add dense = {true} property in TextInput.
This does not solve the bug but will solve some cases when you want just smaller input.

[2022-06-14 11:30] arundevkv commented on #3091
How?

[2022-06-14 13:37] frannale commented on #3185
This is not a issue bro

[2022-06-15 01:02] yoshiishunichi opened #3209 ""settings" is not a valid icon name for family "material-community" at Expo"
Problem encountered during development at Expo.
`<Appbar.Action icon="settings" />`
when using
`"settings" is not a valid icon name for family "material-community"` error occurred and the settings icon did not appear.
I have confirmed that the settings icon is there by referring to this URL.
https://callstack.github.io/react-native-paper/icons.html
Please confirm if there is a workaround.

## vers

[2022-06-15 02:15] #3168 closed

[2022-06-15 06:16] zekoliman commented on #736
Working for me ty <3

[2022-06-15 08:56] lukewalczak commented on #3201
Hey @tvpmb, unfortunately, we don't have any additional resources for learning how to use the react-native-paper library.

[2022-06-15 08:59] lukewalczak commented on #3209
Hey @yoshiishunichi, please try to use `cog`

[2022-06-16 02:15] #3169 closed

[2022-06-17 06:12] quicksilverr commented on #2988
nah, man, it's still not hidding

[2022-06-18 06:01] elmcapp opened #3212 "Will React Native Paper work with React Native for Macos"
I created a react native for macOS project. I added react native paper however when I try to use one of the components I get the follow error:
[code]

[2022-06-18 06:03] elmcapp commented on #3212
"react": "17.0.2",
    "react-native": "0.68.2",
    "react-native-gesture-handler": "^2.4.2",
    "react-native-macos": "^0.66.0-0",
    "react-native-paper": "^4.12.1",
    "react-native-vector-icons": "^9.1.0"

[2022-06-20 13:53] kyle-ssg commented on #3178
Hmm but react-native link is really useful for installing fonts, will this have to be manual now?

[2022-06-21 10:57] clearly-outsane opened #3216 "[Question] Can someone explain the code in the icon component?"
I was going through the source code to learn how to make a component library myself and I didn't understand the Icon component.

What does this function do? Check if it's a valid image source? I don't fully get why and how this works. An image as an icon?
[code]

I'd be grateful if someone can just explain a bit of it to me thank you :D

[2022-06-21 12:00] raajnadar commented on #3178
Yes you need to do it manually, check this thread

https://github.com/reactwg/react-native-releases/discussions/21#discussioncomment-2985774

[2022-06-21 16:51] AnilSonix opened #3217 "Expo and react native paper"
I created a simple expo typescript project and add react native paper.
But each time I try to use any component, vs code shows error that **_'It cant be used as JSX Component'_**

The package.json file
[code]

A simple App.tsx
[code]

The error is shown on usage of Badge.
**'Badge' cannot be used as a JSX component.**

[2022-06-21 16:54] AnilSonix commented on #3217
I'm able to run the app though, but I cant get rid of this error in vs code.

[2022-06-21 16:55] raajnadar commented on #3217
Add this to your package.json and run `yarn` or `npm install`

[code]

[2022-06-21 16:56] AnilSonix commented on #3217
What does this means and used for ?

[2022-06-21 16:58] raajnadar commented on #3217
Similar issue same solution, read the thread for more info https://github.com/react-navigation/react-navigation/issues/10507

[2022-06-21 17:00] joaoVictorDeAndrade commented on #2581
In my case textAlign={"auto"} works, but the placeholder  is no longer centered

[2022-06-21 17:01] AnilSonix commented on #3217
Thanks, it worked 🙏

[2022-06-21 17:01] #3217 closed

[2022-06-24 02:14] #3173 closed

[2022-06-24 08:04] root-io opened #3220 "[5.0.0-rc.2] TypeError: undefined is not an object (evaluating 't.colors') with material-bottom-tabs"
### Current behaviour

[code]

### Expected behaviour

No error, it was working with react-native-paper v4.12.1

### Code sample

[code]

[code]

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | android 12
| react-native          | 0.68.2
| react-native-paper    | 5.0.0-rc.2
| node                  | 16.15.1
| npm or yarn

[2022-06-24 08:10] lukewalczak commented on #3220
Hey @root-io, thanks for reporting the issue. Could you please create a simple snack presenting the bug or create minimal repo?

[2022-06-24 09:09] lukewalczak commented on #3220
Ok, I've found the problem - we have to update the `material-bottom-tabs` since it's using old paper version and using [themes](https://github.com/react-navigation/react-navigation/blob/b1c421445ecb75d514ce27791433b12f9a7e75b7/packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx#L13) `DefaultTheme` and `DarkTheme` which don't exist in paper anymore.

[2022-06-24 14:25] VictorioMolina opened #3221 "BUG: Passing an empty label to the TextInput component breaks the components tree."
I have created this [PR](https://github.com/callstack/react-native-paper/pull/3215) where I have fixed the issue.

### Current behaviour

Explained in the PR.

### Expected behaviour

Explained in the PR.

### Code sample

Explained in the PR.

### What have you tried

Explained in the PR.

### Your Environment

| software              | version
| --------------------- | -------
| ios        | 14

[2022-06-24 16:22] RahulPol opened #3223 "Can not add custom property for custom theme"
### Current behaviour
Hi team,
I have created a project with EXPO (v45) + RNP(v5-rc2) + Typescript (v4.7.4).
My requirement is to add a custom property to the theme, which I am able to add, however, when I extract the fonts from the useTheme hook I get a typescript error.
`Property 'fonts' does not exist on type 'ThemeBase'.`

I guess the reason is in v5.0.0-rc.2, useTheme returns the` ThemeBase`

[2022-06-25 17:54] lukewalczak commented on #3221
Solved via: https://github.com/callstack/react-native-paper/pull/3215, released in `4.12.2`.

[2022-06-25 17:54] #3221 closed

[2022-06-25 22:10] #3201 closed

[2022-06-26 03:06] kmuthukr commented on #789
is it possible to make the FAB expand/open downwards so that i could place the icon to the top of the screen

[2022-06-26 10:14] lukewalczak commented on #3198
It's correct behavior according to the [docs](https://material.io/components/text-fields#outlined-text-field). In inactive state, when the input is empty, the prefix shouldn't be visible:

<img width="602" alt="image" src="https://user-images.githubusercontent.com/22746080/175809516-c12b93c5-7a11-46c2-bd51-48d841763eec.png">

[2022-06-26 10:14] #3198 closed

[2022-06-26 13:38] DabirRahmani commented on #3198
What if I want to use inputs with prefix and without prefix together?
now placeholders are not in a line. that's why I want a visible prefix in every state

![image](https://user-images.githubusercontent.com/48196542/175816804-e16facc9-cc97-47ea-a734-aea0d3ccd816.png)

[2022-06-26 16:20] Chandra-Panta-Chhetri commented on #1113
Any update on this? I am also stuck at this part

[2022-06-26 18:01] fabriziocucci opened #3225 "[Feature Request] `SearchBar` loading property"
**Is your feature request related to a problem?**
No, but it would be nice if the `SearchBar` component could expose a `loading` property.

**Describe the solution you'd like**
Ideally, when `loading={true}`, an `ActivityIndicator` could be shown in place of the clear icon (like Google Maps does).

**Describe alternatives you've considered**
N/A

**Additional context**
Screenshot from Google Maps

[2022-06-26 20:10] lukewalczak commented on #3225
Hey @fabriziocucci, I think that makes sense. Would you like to add the `loading` property to the `Searchbar` _(e.g. similarly to the one existing in `Button`)_ covered by the unit test?

[2022-06-27 00:41] matmelous commented on #1971
It worked, thank you

it worked, Thank you

[2022-06-27 02:15] #3166 closed

[2022-06-27 08:10] fabriziocucci commented on #3180
I see your point @lukewalczak, I'm wondering though what's the downside of keeping the component more flexible.

From a user point of view, a `FAB` and a `FABGroup` are indistinguishable, there is no expectation in terms of interaction.

From a developer point of view, the `FABGroup` encapsulates all the logic to properly layout the stack of FABs, which I believe is the main re-use goal of the com

[2022-06-27 16:45] #3209 closed

[2022-06-27 17:43] LucasClaude commented on #1306
I used this as a temporary solution until it's properly fixed (NativeTextInput is just the standard react-native text input that React Paper renders by default):

[code]

[2022-06-27 21:14] #3064 closed

[2022-06-28 09:29] yudizAnkita commented on #3178
Same Question...

[2022-06-28 09:38] raajnadar commented on #3178
@yudizAnkita I already answered it, did you check that?

[2022-06-28 11:46] kyle-ssg commented on #3178
I think I'll write an npm package if they aren't going to come up with a solution. I'll update here if / when.

[2022-06-28 11:49] yudizAnkita commented on #3178
This blog is very much useful and worked for me to add Custom Fonts manually for both OS

Link : [Custom Fonts Manual Linking](https://kswanie21.medium.com/custom-fonts-in-react-native-tutorial-for-ios-android-76ceeaa0eb78)

[2022-06-29 02:11] e4basil commented on #2160
Is there any workaround ?

[2022-06-29 06:43] Leaf-WXC opened #3228 "When I use TextInput component ,why i couldnt use methods like focus() ,blur() ?It may prompt these methods undifined"

[2022-06-29 06:43] Leaf-WXC commented on #3228
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-06-29 07:14] #3228 closed

[2022-06-29 09:16] simonmasinde commented on #1775
This issue still persists in `4.12.2`

[2022-06-29 18:43] Orivoir opened #3229 "Portal kill my Redux Provider"
### Current behaviour

Currently, i've a expo app, with react-redux and react-native-papper, i've un ReduxProvider at top level of app,
i can use redux hooks with success into app.
But i've a component that render a Portal (for Modal feature)
and a child Component, the child component can't access to hooks Redux, with next error message:

`Error: could not find react-redux context value; please en

[2022-06-29 19:10] Orivoir commented on #3229
I've find origin of problem.
I've skipped a chapter of [get started](https://callstack.github.io/react-native-paper/getting-started.html) about using theme provider with others providers at  documentation, that ask the redux provider before theme provider.
This is cause of this error.
Sorry my bad.

[2022-06-29 22:03] gustavohbeg commented on #3225
I installed the package in the most up-to-date version but I'm still seeing the old material design design, how do I see the updated material design you ?

[2022-06-30 02:37] RahulPol opened #3230 "Typescript: Component PropTypes are not exposed from RNP lib"
### Current behaviour
Hi team,
I have created a project with EXPO (v45) + RNP(v5-rc2) + Typescript (v4.7.4).
I am using react native paper along with styled-components. I have created separate files for styles and actual screen/components and it works like a charm. However, I don't see the propTypes for the RNP component (e.g. ButtonProps, TextProps, etc) and thus I am missing Intelli-Sense on the

[2022-06-30 07:30] hbriese opened #3231 "Feature request (v5): Bottom app bar"
It would be nice if the bottom app bar from MD3 was added.

https://m3.material.io/components/bottom-app-bar/overview

[2022-07-01 02:15] #3182 closed

[2022-07-01 09:52] mayurgujrathi-eaton opened #3232 "Getting unknown white line over floating label"
![TextInput](https://user-images.githubusercontent.com/106810665/176871755-d3c8ca98-a83f-4c06-bf0e-6bad66dd71fb.jpg)

[2022-07-01 16:46] EduVencovsky commented on #1551
@Trancever Are you going to reconsider this? Do you still think that [react-native-shimmer](https://github.com/oblador/react-native-shimmer) should be used?

[2022-07-03 12:57] fabriziocucci opened #3236 "[Feature Request] Add slider component"
**Is your feature request related to a problem? Please describe.**
No but it would be great if there was a slider component coming out of the box from `react-native-paper`.

**Describe the solution you'd like**
Something as simple as the one offered by MUI on web:
* https://mui.com/components/slider/

**Describe alternatives you've considered**
1. Building a custom slider based on the [progress ba

[2022-07-03 14:05] mayurgujrathi-eaton commented on #3232
react-native: 0.64.0
react-native-paper: 4.11.2
react-native-vector-icons: 8.1.0

[2022-07-03 14:07] lukewalczak commented on #3232
Could you please check whether bug exists on the latest version? If yes please provide the expo snack or minimal repo.

[2022-07-03 14:24] mayurgujrathi-eaton commented on #3232
Tested on latest version also and facing same issue

[2022-07-04 11:32] Jabukiro opened #3237 "[5.0.0-rc.2] TypeError: undefined is not an object (evaluating '_ref4.margin') in Surface.tsx"
### Current behaviour
If I use Surface without providing an object to its `style` prop, then the following error happens.

TypeError: undefined is not an object (evaluating '_ref4.margin')

This error is located at:
    in Surface (created by Login)
    in RCTView (created by View)
    in View (created by Login)
    in Login (created by SceneView)
    in StaticContainer
    in EnsureSingleNavigato

[2022-07-04 12:10] lukewalczak commented on #3237
Thanks @Jabukiro for reporting the issue with the snack. I'm pushing the fix and will try to release the next RC in 2-3 days _(in the meantime you can use the library from the `main` branch or use patch-package)_.

[2022-07-04 12:58] #3237 closed

[2022-07-05 02:15] #3161 closed

[2022-07-05 05:40] dennis-gonzales commented on #1971
Have a freshly created expo project and I experienced this error.
`
"expo": "~45.0.0",
"react-native": "0.68.2",
"react-native-paper": "^4.12.2",
`

In my dev dependency there is a package called
`"@types/react": "17.0.21",`

Fixed my issue by removing the _tilde_ ~, like so
`@types/react`

[2022-07-05 12:19] liskibruh commented on #2603
had this issue and nothing seemed to work. I fixed it by downgrading node to version 12.14.1 Uninstall the current node version and install 12.14.1 from [this]( had this issue and nothing seemed to work. I fixed it by downgrading node to version 12.14.1 Uninstall the current node version and install 12.14.1 from [this](https://www.npackd.org/p/org.nodejs.NodeJS64/12.14.1) link.

[2022-07-05 16:12] Perfecto-always opened #3240 "Can the bottom navigation component height be changed?"
I want to change the bottom nav component height but I don't really think there is a way to change its height. If their is please let me know otherwise consider this as a minor feature request

[2022-07-05 17:59] Lea23VC commented on #2529
Hello?, I have the same problem

[2022-07-06 15:44] nappa0326 commented on #3097
I have the same issue.

[2022-07-07 03:23] vylp opened #3243 "Can add custom style fontVariant to TextInput component?"
I have a problem with displaying numbers when using a custom font.
![Screen Shot 2022-07-07 at 10 20 04](https://user-images.githubusercontent.com/71864555/177683723-338e7c40-32c0-4940-a046-282b2842601b.png)
Can you please add the option fontVariant to the TextInput style?

[2022-07-07 08:25] m7amad-7asan commented on #3107
@davepaiva Did you find the solution?
it's not opened even outside the navigation header

[2022-07-07 15:52] dinhopereira opened #3244 "ToggleButton and ToggleButton.Group"
Would it be possible to allow the selection of multiple items?
Could anyone give me some tips or show me examples?

Tks

[2022-07-07 16:39] lukewalczak commented on #3231
Hey @hbriese, we'll discuss it internally, however you can build `BottomAppbar` based on the `Appbar` component like in the following snack: https://snack.expo.dev/@react-native-paper/bottomappbar.

[2022-07-07 16:42] micahlt commented on #2069
Same issue here - this is making my app almost unusable.

[2022-07-07 18:23] RahulPol commented on #3230
Hi Team,

Any update on this?

[2022-07-07 23:50] dinhopereira commented on #3244
"react-native": "^0.69.0"
"react-native-paper": "^4.12.2"
"react-native-vector-icons": "^9.2.0"

[2022-07-08 11:27] mathias-berg opened #3246 "Change backdrop color with theme prop on Dialog not working"
### Current behaviour

If I try to use the `theme` prop on a `Dialog` to change the color of the backdrop, nothing happens.
If I do the same with a `FAB.Group` everything works as expected.

### Expected behaviour

The backdrop color should change to the one I pass into the `theme` prop.

### Code sample

Snack with Dialog showing it is not working:
https://snack.expo.dev/@fyranollfyra/dialog---ba

[2022-07-08 11:37] mathias-berg commented on #3246
Since I am using `expo` SDK 45 this is the latest version of `react-native` available.
I'm not using `react-native-vector-icons` in the provided examples either so I guess this would suffice?

[2022-07-08 14:22] fgagneten commented on #2821
I think we should reopen this issue. Same issue happens on Galaxy J5 (2016) (SM-J510MN) Android's version 7.1.1.

When using the app on debug mode, it is extremly slow. Enabling hermes on release mode works much more better (but still having some delay issues)

[2022-07-08 15:01] lukewalczak commented on #3244
Hey @dinhopereira, as far as I checked that option is not available in `ToggleButton.Group` or `ToggleButton.Row`. According to the documentation related to [Toggle button](https://material.io/components/buttons#toggle-button):

The confusing part can be an image presenting different font styles, where multiple-choice is acceptable:

<img width="569" alt="image" src="https://user-images.githubuser

[2022-07-08 15:38] raajnadar commented on #2821
If you keep the debugger on it will be slow, the below link applies to all the react-native libraries

https://reactnavigation.org/docs/troubleshooting/#app-is-not-working-properly-when-connected-to-chrome-debugger

2nd on low memory you will still find lags maybe the new architecture solves that issue, did you try the new architecture of react-native?

So keeping open makes no sense as the issue

[2022-07-08 16:47] Elabar commented on #2821
Just realized my previous replies are not correct.

The demo shown here is not in JS Debug mode. It is just regular development mode.

But yeah, swapping out rn-paper to my custom made components did fix the issue entirely with 60 FPS spinner without delay. Since I was not able to find out root cause of this issue in the library, I will let this issue remains as closed unless otherwise.

[2022-07-08 18:05] Elabar commented on #2821
ermmmm
You can just copy the content in the snack's `App.js` and pick the required dependencies in `package.json`.

[code]

For your convenience if you are still interested.
[code]
or
[code]

Note: I omitted the `rn-elements` in the install command.

[2022-07-08 18:37] mathias-berg commented on #3202
Actually, if you are using Expo you are already ready to go without any further settings. I'm using this in an Expo project (Electron/web) and I didn't do anything except installing this package, didn't follow the web instructions at all.

[2022-07-08 18:42] fgagneten commented on #2821
I said the application is in debug mode (to make the difference between debug/release). When you run an application for every-day development, you run on debug mode. It does not mean I was using the debugger (Chrome Debugger). I just run the code with npx react-native run-android, nothing else and I face the same issue that @Elabar reported

[2022-07-08 19:43] raajnadar commented on #2821
@fgagneten can you send a GitHub repo? I will check on my device

[2022-07-09 11:13] eelior opened #3248 "How do I change BottomNavigation active item icon bg color?"
<img width="216" alt="image" src="https://user-images.githubusercontent.com/59517348/178103155-28accf55-f549-4618-a983-d4271f129481.png">

The new Material You UI adds an ellipse to the background of the active item.
How do I control the color of that element?

[2022-07-09 16:30] lukewalczak commented on #3248
Hey @eelior, you have to override the `secondaryContainer` color via theme prop:

[code]

[2022-07-09 16:31] #3248 closed

[2022-07-09 19:03] rgold5950 commented on #2110
^^Reiterating this issue. center aligning parent view causes divider to disappear.

[2022-07-09 20:11] eelior commented on #3248
Thanks!

[2022-07-10 18:30] leoparis89 opened #3250 "Use Bottom Navigation without router logic"
I would like to use the BottomNavigation component alone, with a ReactNavigation Router just on top.

To do so I set renderScene to `()=>null` and I handle my navigation with `onIndexChange`.
It works fine, except that bottomNavigation leaves a padding in what would have been the content of renderScene (I highlighted the element in the screenshot).
How can I remove that element blocking the screen

[2022-07-10 23:07] dinhopereira commented on #3244
Perfect, that saved me!
Thank you very much.

[2022-07-11 13:14] fgagneten commented on #2821
You can just use the demo from @Elabar  here: https://github.com/callstack/react-native-paper/issues/2821#issuecomment-1179242765

[2022-07-11 23:43] fgagneten commented on #2821
@raajnadar  You can get rid of react-native-paper on that project and the button should work smoothly again

[2022-07-12 12:38] BadhanGanesh-HappyFox commented on #2903
This is still happening. @pta2002 Any luck with a solution / workaround?

[2022-07-12 13:07] pta2002 commented on #2903
Sorry, gave up shortly after and didn't attempt to find a solution :(

[2022-07-12 17:04] DeepBlueDevOps opened #3251 "Text in Badge not centered"
### Current behaviour

Text within the Badge component will not center (see attached images). It displays properly on some devices however not on a physical iPhone 13 Pro Max I am testing on. First pic is my app, second pic is the react-native-paper demo app from Apple App Store.

### Code sample

Here is a snippet from my app..

            <View style={{flexDirection: 'column'}}>
              <

[2022-07-13 07:34] mirzazaman commented on #1750
Web need to Add minHeight in style.
Like:
<TextInput
    multiline={true}
    style={{
        // For iOS
        minHeight: 250,
    }}
    // For Android
    numberOfLines={15}
    dense
    mode="outlined"
    label="Summary"
/>

[2022-07-13 14:08] federicogomezcactus commented on #2547
You can use the TextInput's theme prop:

`<TextInput theme={{ roundness: 0 }} ... />`

[2022-07-14 08:35] chhorvon opened #3253 "ViewPropTypes will be removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'."
### Current behaviour

### Expected behaviour

### Code sample

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software              | version
| --------------------- | -------
| react-native          |  0.68.2
| react-native-paper    | 5.0.0-rc.3
| expo sdk              | ~45.0.0

[2022-07-14 08:37] #3253 closed

[2022-07-14 08:43] chhorvon opened #3255 "ViewPropTypes will be removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'."
How to fix it in react-native-paper after update version expo

"react-native": "0.68.2",
"react-native-paper": "5.0.0-rc.3",
"expo": "~45.0.0",

[2022-07-15 11:41] alexandreandriesse commented on #2565
I still have this problem, and it's annoying !

[2022-07-15 12:08] raajnadar commented on #2565
Pass the state value to the defaultValue prop it will make the input uncontrolled and the issue will get solved

[2022-07-15 23:34] wimil commented on #3220
how did you manage to solve it?

[2022-07-16 16:14] angeloanan opened #3257 "[DOCS] Getting started guide on installing `react-native-vector-icons` is outdated"
In the [Getting Started](https://callstack.github.io/react-native-paper/getting-started.html) section of the docs, it is instructed to run `react-native link react-native-vector-icons` to link the vector icons with the app. React Native has removed the script `react-native link` from their CLI in their newest release (https://github.com/react-native-community/cli/pull/1537).

As far as I understan

[2022-07-16 17:13] ramirobg94 commented on #1941
Same problem... crazy, tried some libraries a no one solve the issue... :S

[2022-07-16 17:15] ramirobg94 commented on #1038
[code]

[2022-07-16 17:19] ramirobg94 commented on #2381
https://github.com/callstack/react-native-paper/issues/1038#issuecomment-1186243530

[2022-07-16 20:06] willymateo opened #3258 "Add icons of any external icon library to TextInput component"
In my case I used [Iconoir for React Native](https://github.com/lucaburgio/iconoir/tree/master/packages/iconoir-react-native) but you can use any external or custom icon library which React Native supports.

[code]
### Explain
As @RichardLindhout said in the issue [How to add custom elements to TextInput left or right #2305](https://github.com/callstack/react-native-paper/issues/2305#issuecomment-

[2022-07-16 20:24] fgagneten commented on #2821
@raajnadar This is the config.ini for an emulator that replicated the device as much as possible:

    AvdId=API25
    PlayStore.enabled=false
    abi.type=armeabi-v7a
    avd.ini.displayname=API25
    avd.ini.encoding=UTF-8
    disk.dataPartition.size=6799M
    fastboot.chosenSnapshotFile=
    fastboot.forceChosenSnapshotBoot=no
    fastboot.forceColdBoot=no
    fastboot.forceFastBoot=yes
    hw.

[2022-07-17 06:09] #3202 closed

[2022-07-17 18:14] lukewalczak commented on #3246
Fix released in 4.12.3.

[2022-07-17 18:14] #3246 closed

[2022-07-18 02:16] #3200 closed

[2022-07-18 13:51] #3257 closed

[2022-07-18 16:05] KianooshSoleimani commented on #321
I have just add multiline props on my textinput fix scrolling
for now its good trick
😉

[2022-07-18 21:57] jwueller commented on #1648
I'm not sure if this is a regression or never really got fixed, but it's happening for me on 5.0.0-rc.3. Stacking a bunch of `<TextInput/>` components vertically shows that label updates cascade, resulting in the last ones getting laid-out with a significant delay.

[2022-07-18 23:01] jwueller commented on #3220
Maybe I'm not fully understanding what's going on here, but I am very confused why it is even dealing with themes at all:

https://github.com/react-navigation/react-navigation/blob/d19987b0574975df434aa54e0f1c1fba62e7aaa3/packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx#L99

Shouldn't the `<BottomNavigation/>` component already inherit and handle theme correctly on its own, since

[2022-07-19 10:47] Jahanzeb009 commented on #699
`theme={{
     colors: {
         text: colors.text, // it'll change the user input text color,
         placeholder:'#b4b4b450' // it'll change the text color while textinput inactive OR when user enter data and go to another field
}}}`

[2022-07-19 13:31] RGdevz commented on #3220
+1

[2022-07-19 14:17] psaikali opened #3262 "<Text> variant prop is not working"
### Current behaviour
The `<Text>` component renders the same text style, independent of its variant prop.
For instance, the following (copy/pasted from the documentation):
[code]

Renders:
![Capture d’écran 2022-07-19 à 16 10 12](https://user-images.githubusercontent.com/1606655/179771246-bf0fe047-bac0-4601-aada-b4630d34fb83.jpg)

### Expected behaviour
Text styling should be different dependin

[2022-07-19 14:28] lukewalczak commented on #3262
Hey @psaikali, as the [documentation](https://callstack.github.io/react-native-paper/text.html#variant) presents the property called `variant` is supported from version 5, so it won't work with `react-native-paper@4.9.2`.

If you are using 4.9.2 I recommend you using the [documentation](https://callstack.github.io/react-native-paper/4.0/index.html) related to the version you're currently using.

[2022-07-19 14:31] psaikali commented on #3262
Oh, my bad! I `npm install react-native-paper` and got version 4.9.2, so I believe 5.x is not released yet?

[2022-07-19 14:33] lukewalczak commented on #3262
@psaikali you can find the alpha version [5.0.0-rc.3](https://github.com/callstack/react-native-paper/releases/tag/v5.0.0-rc.3).

[2022-07-19 14:36] lukewalczak commented on #3230
Hey @RahulPol, it's on our board, however hard to say when the work over it will be started.

[2022-07-19 14:53] lukewalczak commented on #3240
I think there is no option to change the bottom navigation height.

[2022-07-19 15:04] #3185 closed

[2022-07-19 15:20] lukewalczak commented on #3250
Hey @leoparis89, according to the comment above, please provide the minimal repro demonstrating the issue or use expo snack for it.

[2022-07-19 16:06] jwueller opened #3263 "Snackbar shadow breaks during BottomNavigation transition on Android"
### Current behaviour

When switching between `<BottomNavigation/>` with scene animation enabled, the `<Searchbar/>` shadow doesn't fade with the component, but instantly appears and disappears at full opacity. This is visually pretty jarring.

### Expected behaviour

The `<Searchbar/>` shadow should fade together with all the other components.

### Code sample

https://snack.expo.dev/@jwueller/bo

[2022-07-19 16:19] jwueller commented on #3263
There is no explicit dependency on either of these in the snack, so I assume it would be whatever the default is.

Expo provides `react-native`, so I can't update that. "Upgrading" `react-native-paper` to an older version is obviously bogus.

[2022-07-20 08:30] lukewalczak commented on #3243
Hey @vylp, could you please explain what do you mean by the custom font variant?

[2022-07-20 08:41] vylp commented on #3243
I use rale way font, so by default when i input number it will display like this
<img width="257" alt="Screen Shot 2022-07-20 at 15 36 04" src="https://user-images.githubusercontent.com/71864555/179937108-7891d412-b884-49f6-8638-eb46256574f7.png">
If I set css fontVariant style to ['lining-nums']
<img width="177" alt="Screen Shot 2022-07-20 at 15 38 55" src="https://user-images.githubusercontent.c

[2022-07-20 10:24] lukewalczak commented on #3243
I see, will investigate that problem.

[2022-07-20 12:31] raajnadar commented on #3243
Can you tell me the RN version? I would suggest using the latest RN version in one of the versions this font style issue was solved. I don't remember which version.

[2022-07-20 18:58] micahlt commented on #3246
Same issue here, but with the 5.0.0 release candidate.

[2022-07-20 19:13] micahlt commented on #3246
Awesome, thanks!

[2022-07-21 17:39] DominickVale commented on #3220
I'm trying to fix it by myself, I'll open a PR, but I'd like to know this too.

[2022-07-22 01:33] rexpeditionco opened #3269 "How to remove highlight/outline/shadow from card?"
Is there a way to remove the upper highlight and bottom dark border and shadow from the card component at them preferably at the theme level, or set them to transparent?

[2022-07-22 01:34] rexpeditionco commented on #3269
"react-native": "0.68.2",
"react-native-paper": "^5.0.0-rc.3",
"react-native-vector-icons": "^9.2.0",

  no repro needed, just use a card component standard

[2022-07-22 02:15] #3141 closed

[2022-07-22 16:48] cervisebas opened #3271 "keyboardHidesNavigationBar not work in BottomNavigation"
### Current behaviour
Opening the keyboard does not hide the bottom bar

### Expected behaviour
Hide the bottom bar after touching a TextInput or Searchbar

### Code sample
`<BottomNavigation
            navigationState={{
                index: this.state.indexNav,
                routes: this.routesnav
            }}
            sceneAnimationEnabled={true}
            sceneAnimationType={'shift

[2022-07-22 22:01] lukewalczak commented on #3271
Hey @cervisebas, could you please check the comment above and attach the expo snack or minimal repo presenting the issue?

[2022-07-23 10:48] raajnadar opened #3272 "KeyboardAvoidingView not working with header and material-bottom-tabs on iOS"
Reported on react-navigation https://github.com/react-navigation/react-navigation/issues/10583

OP solved it by switching to bottom tabs so it seems the issue lies in the material bottom tabs from paper https://stackoverflow.com/a/72561415/5519872

### Current behaviour

KeyboardAvoidingView does not avoid the keyboard correctly, if you use a header and material-bottom-tabs on iOS. For Android, ev

[2022-07-24 14:52] lukewalczak commented on #3269
Hey @rexpeditionco, maybe the card's mode called "contained" will fit for you, since it doesn't have outline and elevation, however, it has a different background color.
Another approach can be passing a prop `elevation={0}` or changing outline color to "transparent":
[code]

[2022-07-24 16:25] sourabhv opened #3273 "Icons not loading in paper, works fine with react-native-vector-icons directly"
### Current behaviour

Can't load icons from paper.

The source code checks for material icons with this code

[code]

and shows the console.warn message.

However if I write `require('react-native-vector-icons/MaterialCommunityIcons').default` in my source code, it works fine. I can even load icons using

[code]

### Expected behaviour

Paper should be able to load icons

### Code sample

### Scr

[2022-07-24 16:36] Gnadhi commented on #3220
Any updates on this ?

[2022-07-25 07:26] tc-imba opened #3274 "Card.Actions does not regard the props of Button"
### Current behaviour

In Card.Actions, we have

[code]

This cause the v3 theme to make the first button always outlined and the rest always contained.
The mode and style defioned in the props of the Button component are overwritten by in Card.Actions,

### Expected behaviour

The priority of these props on the Button components should be higher, so the users can overwrite the default behavior of

[2022-07-25 07:49] #3240 closed

[2022-07-25 07:54] lukewalczak commented on #3273
Hey @sourabhv, could you please provide the repro?

[2022-07-25 09:16] lukewalczak commented on #3274
Hey @tc-imba, thanks for providing the context and explanation. I agree that button mode should be customizable. Based on the MD3 documentation I can observe different variants of mixed button's mode:

both contained | single outlined | single contained
--- | --- | ---
<img width="549" alt="image" src="https://user-images.githubusercontent.com/22746080/180742135-7edd19bd-f76d-4149-aac5-9d95e79f71b

[2022-07-25 11:28] rhalaly opened #3278 "Appbar.Content can't desplay TextInput"
I want to create an Appbar with an editable title, so I used:

[code]

But the `TextInput` isn't displayed at all. Other components like `Text` are working.

Is there any way to create an editable title with Appbar?

[2022-07-25 14:10] lukewalczak commented on #3243
I think the problem here is the fact that we are [extracting](https://github.com/callstack/react-native-paper/blob/main/src/components/TextInput/TextInputFlat.tsx#L83-L87) a couple of text styles properties from the flattened styles, where we are missing `fontVariant `. The rest of the props are passed to the `View` wrapper as a `viewStyle`. Hence, I will add a missing property.

[2022-07-25 14:42] reimibeta commented on #2419
# add this one to your BottomNavigation, you will love it.
safeAreaInsets={{ bottom: 0 }}

[2022-07-25 17:23] KeitelDOG commented on #3050
Github Actions cannot mimic minimum common sense yet to act similarly to an understanding that if an issue in reopened by the Author and a Contributor comments in it, tags the Author with keywords to leave issue open, then it's worth to leave it opened.
I have something similar, but with `Portal.Host` and `Portal`. Whenever I put a `Portal.Host` any level outside of `ScrollView`, then `Portal` is

[2022-07-25 19:18] Gabriel-Jesusvix commented on #2231
this it works for me. Documentation sometimes does't contribuites much.

[2022-07-25 22:34] sourabhv commented on #3273
[rnp-sample.zip](https://github.com/callstack/react-native-paper/files/9185149/rnp-sample.zip)

Hi, here's a zip. It shows 2 buttons, one has icon, other doesn't.

[2022-07-26 02:16] #3212 closed

[2022-07-26 08:47] #3251 closed

[2022-07-26 08:52] #3243 closed

[2022-07-26 08:59] lukewalczak commented on #3243
Fix released in `4.12.4`

[2022-07-26 09:00] lukewalczak commented on #3251
Fix released in `4.12.4`.

[2022-07-26 14:51] tomwaitforitmy commented on #3272
According to [documention](https://docs.expo.dev/versions/latest/) Expo SDK would only be compatible with react-native 0.68.2

[2022-07-26 15:02] raajnadar commented on #3272
It is a bot you can ignore that, next Expo SDK will support RN 0.69.3 which is the latest version, It will be available today or tomorrow

[2022-07-26 20:38] lukewalczak commented on #3263
After the early investigation, I think the issue is related to the `Surface` shadow and `BottomNavigation` shifting animation on both theme versions MD2 and MD3.

[2022-07-26 20:52] dkhunt27 commented on #3180
I was looking for onLongPress too, but was thinking it should just do the last action in the list (like a shortcut).... so if you make the most common action, the last action in the fab group (so the one listed at the bottom/closest to the initial fab button)... I think it would be a good user experience that I can press the fab, see the menu of other fab actions, but if I just keep the initial fa

[2022-07-27 08:28] fabriziocucci commented on #3180
This is another example of a (very) niche use case which would be covered by the implementation proposal I suggested (i.e. allow free customization of `onLongPress`) but wouldn't be possible with the one you suggested @lukewalczak.

[2022-07-28 05:11] DanhDao1997 opened #3281 "Neither MD2Theme nor MD3LightTheme is available"
### Current behaviour

I'm currently trying to create a custom theme by following the docs from https://callstack.github.io/react-native-paper/theming.html

However, when I import either MD2Theme or MD3LightTheme, VS Code warns me that Module '"react-native-paper"' has no exported member

I tested with a Snack and found that it also generates error when I build because there is no theme to extend

[2022-07-28 05:52] akhilsanker commented on #2644
@lukewalczak ,
Still have the issue in android.

System info:
"react-native-paper": "^4.12.2",
  "react": "17.0.2",
  "react-native": "0.66.2",
  Android 12

 Any workaround?

 Thanks

[2022-07-28 08:00] lukewalczak commented on #3281
Hey @DanhDao1997, you have to install `react-native-paper@5.0.0-rc.3`

[2022-07-28 08:01] #3281 closed

[2022-07-28 11:49] #3269 closed

[2022-07-28 12:57] lukewalczak commented on #3180
Could you please provide some app examples when there is a long press functionality on the FAB button? We are still discussing that feature and direction in which to go.

[2022-07-29 00:39] dinhopereira opened #3282 "ToggleButton multi select: different colors"
Hello everyone!

I'm developing an app that will have a page for selecting 10 numbers from 01 to 100.
I'm using the ToggleButton, but I'd like to customize the colors:

[https://snack.expo.dev/@dinhopereira/multiselectnumbers]

Checked: Green background with white font
Unchecked: White background with green font

I'm using line-by-line checking, but I think the code will be wordy.

Does anyone hav

[2022-07-29 02:15] #3216 closed

[2022-07-29 10:22] lukewalczak commented on #3231
Since it's possible to build `BottomAppbar` using the `Appbar`'s components there is no need to introduce the new component.
However, we are planning to introduce `safeAreaInsets` _(a similar approach is currently used in BottomNavigation)_ so users can specify the e.g. bottom inset into padding-bottom.
The plan assumes also to extend the example to present how to achieve it, using the new propert

[2022-07-29 12:37] dinhopereira commented on #3282
"react-native": "^0.69.0"
"react-native-paper": "^4.12.2"
"react-native-vector-icons": "^9.2.0"

[2022-08-02 05:56] Artistixevikas commented on #3161
Thanks, For Amazing blog and sharing more useful information. discoverer one of the <a href="https://artistixeit.com/">Software App Development Company</a> in India

[2022-08-02 11:10] digicommons opened #3285 "Material You theme not available in Expo-created app"
### Current behaviour

On a fresh app created with Expo, Paper components (f.e. FAB) are not styled with Material You but with MD2 (e.g. FAB is a circle). I could not find a way to override this behaviour.

### Expected behaviour

Since Material You seems is the new default, Paper components should be styled with MD3/Material You instead of MD2 or the docs should be more clear about setting up MD3

[2022-08-02 11:17] lukewalczak commented on #3285
Hey @digicommons, you should use `react-native-paper: 5.0.0-rc.3` version.

[2022-08-02 11:26] digicommons commented on #3285
Perfect, that works! Thank you.

Could you possibly add a hint in the docs that MD3 is still rc?

[2022-08-02 11:28] lukewalczak commented on #3285
Yup, I will add that note, since we are receiving more issues related to mixing the latest version with Material You.

[2022-08-02 11:29] #3285 closed

[2022-08-02 11:46] Taimoor0217 opened #3286 "When will v5 be available on npm?"

[2022-08-02 13:49] fr0staman commented on #2332
I see similar issue with react-native-reanimated and react-navigation.

[code]

[2022-08-02 17:43] ashuvssut commented on #1453
I faced no issue in using useRef hook with TextInput
[code]

[2022-08-02 17:46] ashuvssut commented on #1453
I faced no issue in using useRef hook with TextInput
[code]

[2022-08-03 04:36] hbriese opened #3287 "How to use custom Appbar.BackAction type in Appbar?"
Currently in Appbar, `.type` of the children is used to determine what the child is for e.g. [`AppbarBackAction`](https://github.com/callstack/react-native-paper/blob/6afa4fb98c6826c4d6b80db055ef8f21ed07b59a/src/components/Appbar/Appbar.tsx#L213)

Is it possible to override a component's `.type` so that it can be picked up as the back action?

I can see how this would be done if a different proper

[2022-08-03 04:44] hbriese commented on #3278
For a `mode="small"` appbar a simple flexed view can be used in place of the `Appbar.Content` however this won't work for the other modes due to [this issue](https://github.com/callstack/react-native-paper/issues/3287) raised

[2022-08-03 07:19] IKTANIM commented on #2335
I am also facing the same issue

[2022-08-03 07:33] lukewalczak commented on #3286
We are still working on that and it's hard to indicate the specific date, however, you can always install the RC version.

[2022-08-03 08:31] JohnGeorgiadis commented on #2965
I had the same issue on `4.12.4`.  I solve it with @kendallroth's suggestion, but I do not understand why we need to use resolutions for this, can't we have react native paper work with the latest `@types/react` ?

[2022-08-03 10:00] raajnadar commented on #2965
The issue will go away without resolution or any hacks if you use RN 0.69 or Expo SDK 46 as it is based on React 18

[2022-08-03 10:03] raajnadar commented on #2965
I will close this as this was just a warning and we already have quick solutions in this thread..!

[2022-08-03 10:03] #2965 closed

[2022-08-03 11:28] WillSmithTE commented on #1810
Should this be closed? Is using the native TextInput in `render` really the final solution?

[2022-08-03 14:28] #3286 closed

[2022-08-03 14:37] IsiteYves commented on #2603
`yarn install` seems to resolve the issue on my side too!👌

[2022-08-03 19:55] juliushuck commented on #3220
I fixed it in this package: https://www.npmjs.com/package/@juliushuck/react-native-navigation-material-bottom-tabs

I will be using it until this issue is resolved. I think react native paper with material ui 3 is currently release candidate, so maybe we have to wait.

This is the change that was required: https://github.com/react-navigation/react-navigation/commit/78f2ee6fdb721b47a63007d5853db2c3

[2022-08-03 22:08] aleluiah opened #3288 "dispatch command called without surface id"
### Current behaviour
crashed on react native 0.69.1 with fabric enabled

crashes saying dispatch command called without surface id - fabric dispatch command must be called through fabric jsi api
### Expected behaviour
to work normally

work normally
### Code sample
-----

----
### Screenshots (if applicable)

### What have you tried
works in paper

debug crash information
### Your Environment
win

[2022-08-04 09:06] ShravanCentricwave opened #3289 "Having issue in TextInput - mode={'outlined'} - multiline={true}."
I have checked many doc's for resolve this issue but can't find anything.
Here i have added the video how it works and image for what is should have to look like..

1. Video: Issue is value is at center instead top.
2. Image: The value should have on the top when it's not in focus.
3. Here is my code.
[code]
![01](https://user-images.githubusercontent.com/86836170/182808761-2c529eb1-cb4c-4df2-89f0

[2022-08-04 09:08] ShravanCentricwave commented on #3289
Here is my version codes.

react-native: 0.66.4
react-native-paper: 4.12.1
react-native-vector-icons: 9.1.0

[2022-08-04 09:19] ShravanCentricwave commented on #3289
Still having this issue.

[2022-08-04 10:42] DomiR opened #3290 "Not able to set custom BottomNavigation backgroundColor with v3 theme."
As you can see in the reference below, if the v3 theme is used it uses theme surface color no matter what backgroundColor one passes through the `barStyle` prop.

The [NavigationBar Guidelines](https://m3.material.io/components/navigation-bar/guidelines) says:

https://github.com/callstack/react-native-paper/blob/6afa4fb98c6826c4d6b80db055ef8f21ed07b59a/src/components/BottomNavigation/BottomNaviga

[2022-08-04 10:56] lukewalczak commented on #3290
Hey @DomiR, thanks for your feedback!

If you want to use a custom background color you can always override it by the `theme` prop:

[code]

In that case, the `elevation` prop applies background color and shadows, which in terms of `BottomNavigation` is hardcoded to `0`, since there should be no shadow:

<img width="878" alt="Zrzut ekranu 2022-08-4 o 12 55 18" src="https://user-images.githubuserco

[2022-08-04 12:05] DomiR commented on #3290
Hey @lukewalczak. Thanks for looking into this 😊

[2022-08-04 16:28] GaylordP opened #3292 "Navigating from a nested material-top-tabs to a material-bottom-tabs doesn't work"
Hello and thank you for your library :)

Let me copy/paste a problem posted by @andrei-datcu on [react-navigation](https://github.com/react-navigation/react-navigation/issues/10234), because I have the same problem

## Description

Material bottom tabs with two routes:
TopTabs: Material Top tabs with two routes Screen 1 & Screen 2
Screen3 (default)

App starts with Screen2. Navigate to TopTabs. Na

[2022-08-05 02:15] #3178 closed

[2022-08-05 11:54] GaylordP commented on #3292
Hello again :)
Sorry for my english, I'm french :)

I spent the night there but without finding a solution.
I see that [react-native-tab-view : PagerViewAdapter.tsx#L142](https://github.com/satya164/react-native-tab-view/blob/main/src/PagerViewAdapter.tsx#L142) is triggered when we page from one bottom tab to another:

        onPageSelected={(e) => {
          const index = e.nativeEvent.position

[2022-08-05 19:27] bombillazo opened #3295 "ref not working for TextInput"
### Current behaviour

I am trying to use the `useRef` hook to get the TextInput object used by RNP internally. When doing to, I get this warning:
[code]

### Expected behaviour

I am able to use the ref in my hooks to get TextInput state data and setter functions.

### Code sample

[code]

### Screenshots (if applicable)

### What have you tried

I tried innerRef (doesn't exist).

### Your Enviro

[2022-08-05 19:34] bombillazo commented on #3295
Similar to https://github.com/callstack/react-native-paper/issues/1322 but that issue was related to class components.

[2022-08-07 13:30] bombillazo opened #3296 "Make Menu component SCREEN_INDENT configurable."
**Is your feature request related to a problem? Please describe.**
I have some screens using TextInputs that must be flush to the screen edges. Rather than having a whole separate TextInput component or working around styles, it would be great to have this value overrideable.

**Describe the solution you'd like**
Expose this property somehow to be able to override this value.
**Describe alternativ

[2022-08-08 07:44] reck753 opened #3297 "Menu doesn't open on the Next.js web app after upgrading to React 18"
### Current behaviour

What I managed to find out is that the animations are not firing and hence the menu doesn't pop up where it should be nor it gets sized accordingly. The menu appears in the DOM, but it's size (height I think) remains 0.
The Menu works perfectly on plain RN web.

### Expected behaviour

### Code sample

### Screenshots (if applicable)

### What have you tried

I tried upgradi

[2022-08-08 08:48] momolly1024 opened #3299 "BottomNavigation | The example for BottomNavigation , Icon is not show."
Hi ,

In BottomNavigation  [Expo ](https://snack.expo.dev/?name=BottomNavigation&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fbottom-navigation.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20BottomNavigation%2C%20Text%20%7D%20from%20%27react-native-paper%27%3B%0A%0Aconst%20MusicRoute%20%3D%20()%20%3D%3E%20%3CText%3EMusic%3C%2FText%3E%3B%0A%0Acons

[2022-08-08 10:38] #3271 closed

[2022-08-08 10:39] #3274 closed

[2022-08-08 10:39] #3230 closed

[2022-08-08 11:10] #3299 closed

[2022-08-08 12:44] #3231 closed

[2022-08-08 12:44] #3290 closed

[2022-08-08 13:43] lukewalczak commented on #3295
Hey @bombillazo, unfortunately I'm not able to reproduce it.

[2022-08-08 14:00] lukewalczak commented on #3185
It's not released yet (will be later today).

[2022-08-08 14:01] esbenvb commented on #3185
Thanks - so which version will contain that feature?

[2022-08-08 14:01] lukewalczak commented on #3296
Hey @bombillazo, I think we can introduce an optional property, which can override the hardcoded value. If you would like to handle that, please open a PR.

[2022-08-08 14:02] lukewalczak commented on #3185
Version `5.0.0-rc.4`

[2022-08-08 14:06] lukewalczak commented on #3258
Hey @willymateo, I think renaming that property makes sense – I've just checked the codebase and looks like it's the only place with the type `IconSource` where the name is `name` instead of `icon`. I will discuss it internally and then proceed with the PR.

[2022-08-08 15:21] Bashin commented on #2246
Still an issue with 4.12.4
Build only shows default theme with 'react-native-paper/babel' in the babel.config.js

[2022-08-09 01:43] momolly1024 commented on #3299
Hi @lukewalczak , Thx for replying.
But When I use the example code
MD2: https://snack.expo.dev/zfHWw-yrYQ
The icon show like this :

![image](https://user-images.githubusercontent.com/61406208/183543622-55cb53fa-7d83-4463-85fe-889251cd6953.png)

And When I use example code from MD3: https://snack.expo.dev/mT7Ul3xWE
Icons still no show :

![image](https://user-images.githubusercontent.com/61406208

[2022-08-09 02:41] hbriese opened #3303 "TouchableRipple onLongPress doesn't work"
### Current behaviour

`onLongPress` doesn't work when passed as a prop to `TouchableRipple`

### Expected behaviour

`onLongPress` is executed, as specified by your documentation

### Code sample

The snack is for RNP v4, but this issue also occurs on v5
https://snack.expo.dev/@haydenbriese/touchableripple---onlongpress

### Screenshots (if applicable)

### What have you tried

### Your Environme

[2022-08-09 06:57] DavidZhongSyd opened #3304 "Customised Text variant in theme"
Version:
"react-native": "0.68.2",
"react-native-paper": "5.0.0-rc.3",
"react-native-vector-icons": "^9.2.0",

May I ask how to define the customised variant in theme for Text?

eg.

[code]

[2022-08-09 07:04] mehdinourollah commented on #1483
` "react-native-paper": "^4.12.3"` still have this issue on iOS

[2022-08-09 07:08] mehdinourollah commented on #3138
` "react-native-paper": "^4.12.3"`
It's still open ...and for the love of god someone answer this issue without closing it automatically !

[2022-08-09 07:21] lukewalczak commented on #3303
As far as I know, there is a need to pass also `onPress` to make `onLongPress` work properly.

[2022-08-09 07:39] lukewalczak commented on #3304
Hey @DavidZhongSyd, you can override the text variant by `theme` prop, please check the following [snack](https://snack.expo.dev/Or11_QnTA)

[2022-08-09 07:39] #3304 closed

[2022-08-09 08:55] lukewalczak commented on #3299
Please check the dependencies version in package.json for each snack, eg. MD3 is within `react-native-paper@5.0.0.rc-4` while MD2 is `4.12.4`.

For more details please check the [migration](https://callstack.github.io/react-native-paper/introducing-v5-with-material-you.html) guide from version 4 to 5.

[2022-08-09 09:09] momolly1024 commented on #3299
Got it !  Thank you.

But How to explain ( or fix ) this one ?

Use [MD2 ](https://snack.expo.dev/zfHWw-yrYQ) example code but icon cannot show correctly.

![image](https://user-images.githubusercontent.com/61406208/183610884-b5fe622d-9a77-4469-8c81-68cddd4529bf.png)

[2022-08-09 09:40] lukewalczak commented on #3299
On the presented snack icons are displayed properly on both platforms:

ios | android
--- | ---
<img width="1512" alt="Zrzut ekranu 2022-08-9 o 11 37 40" src="https://user-images.githubusercontent.com/22746080/183617326-c6d140db-53ed-4065-9863-5053fb7b3aa9.png"> | <img width="1512" alt="Zrzut ekranu 2022-08-9 o 11 38 57" src="https://user-images.githubusercontent.com/22746080/183617348-279ae9c7-ab

[2022-08-09 11:28] DavidZhongSyd opened #3305 "Font Family cannot be recognised in theme"
Version:
"react-native": "0.68.2",
"react-native-paper": "5.0.0-rc.3",
"react-native-vector-icons": "^9.2.0",

Problem: the fontFamily in the
`<Text variant="displayLarge" theme={{ typescale: { displayLarge: { fontSize: 30, fontFamily: 'HelveticaNeue-Thin' },},}}> `does not take effect while the  `<Text style={theme.fonts.thin}>` does works as expected.

https://snack.expo.dev/@wztrustgrid/fontfam

[2022-08-09 11:35] lukewalczak commented on #3305
Hey @DavidZhongSyd, could you please check if it doesn't work on both mobile platforms or only on iOS?

[2022-08-09 11:36] hbriese commented on #3303
@lukewalczak Thank you, I will use that in the meantime.

[2022-08-09 11:39] lukewalczak commented on #3303
I think that it shouldn't work in that way, so will investigate the problem.

[2022-08-09 11:43] DavidZhongSyd commented on #3305
Please see the snack expo

https://snack.expo.dev/@wztrustgrid/fontfamilyintheme

[2022-08-09 12:09] DavidZhongSyd commented on #3305
Hi @lukewalczak, the font difference are obvious in Web and IOS. The first line is in HelveticaNeue-Thin. The second line is wrong font

However, in android, the fonts in both lines are all wrong.

[2022-08-09 13:06] bombillazo commented on #3295
Hey, I think it may have been an issue on my side while creating a custom TextInput component, so I'll close this until I can replicate and isolate to RNP if it is the cause. Thanks!

[2022-08-09 13:06] #3295 closed

[2022-08-09 13:58] raajnadar commented on #3138
To keep the issue open a repro is required or else the bot will close it!!

If you still have the issue create a new one with a repro!!

[2022-08-09 20:48] jessebrennan opened #3306 "The example doesn't run on Android"
To reproduce the issue:
- click on the [link in the README](https://github.com/callstack/react-native-paper#try-it-out) to the [example app](https://snack.expo.dev/@react-native-paper/github.com-callstack-react-native-paper:example)
- Notice all of the "problems" listed in the log bellow.
- Click Android in the preview, next to "web". This should fail.

I've found the example here to be extremely

[2022-08-10 05:22] DavidZhongSyd commented on #3305
@lukewalczak, why the fontFamily only apply in android?

in react-native-paper source code
src/component/Typography/Text.tsx (Line 102)

[code]

[2022-08-10 16:25] lukewalczak commented on #3306
Hey @jessebrennan, example app on the snack should be updated.

[2022-08-10 16:25] #3306 closed

[2022-08-10 17:46] jessebrennan commented on #3306
@lukewalczak thanks for the prompt action. I noticed one other spot where the link needed to be updated so I made a PR: https://github.com/callstack/react-native-paper/pull/3308. Can you take a look?

[2022-08-10 19:26] lukewalczak commented on #3306
Done, thanks!

[2022-08-10 20:57] josehernandezv commented on #1340
Any news? This still happens

[2022-08-10 21:41] jessebrennan opened #3309 "Floating action button doesn't sink in demo app web view"
### Current behaviour

Floating action button doesn't sink when scrolling down in demo app from web view

### Expected behaviour

I expect the button to sink when scrolling down

### Code sample

https://snack.expo.dev/@react-native-paper/react-native-paper-example_v5?platform=web

### Screenshots (if applicable)

https://user-images.githubusercontent.com/10734740/184025420-86a8cff8-14d0-46dd-bf69

[2022-08-11 02:13] #3236 closed

[2022-08-11 02:13] #3232 closed

[2022-08-11 04:26] dohomi opened #3310 "Expo 46 starts with warnings with rc4 and react-native-web"
### Current behaviour

Console warn on Expo and react-native-paper on rc5

### Expected behaviour

No console warn

### Code sample

[
](https://snack.expo.dev/8rv6CWGDw)

### Screenshots (if applicable)
<img width="864" alt="Screenshot 2022-08-11 at 12 24 33" src="https://user-images.githubusercontent.com/489221/184064583-2f232009-f19f-4175-8c21-65d393206b61.png">

### What have you tried

Just i

[2022-08-11 16:20] lukewalczak commented on #3310
Fixed via commit:https://github.com/callstack/react-native-paper/commit/4adda3551946aafc3194e95877ff11285ced4958. Will be released in `5.0.0-rc.5`

[2022-08-11 16:20] #3310 closed

[2022-08-11 19:39] lukewalczak commented on #3309
Fixed on the snack.

[2022-08-11 19:39] #3309 closed

[2022-08-11 20:55] jessebrennan commented on #3309
I'm seeing different, but still weird behavior on the example app

https://user-images.githubusercontent.com/10734740/184240507-09ad5990-6616-458e-b434-9f0a7b6c73b7.mov

[2022-08-11 21:10] lukewalczak commented on #3309
Could you please then correct the example and share the snack, so we will be able to upload it?

[2022-08-11 21:15] popejs commented on #3297
I found the same issue when upgrading Next.js web Reac 18

[2022-08-12 06:39] Boscher-audrey commented on #3292
Hello, same issue here :/
Using @react-navigation/bottom-tabs instead of @react-navigation/material-bottom-tabs is not an option for me, so would be nice to have a solution !

[2022-08-12 17:39] jessebrennan commented on #3309
@lukewalczak I'm kind of a noob here so it would take me quite a bit of effort to figure all this out and I don't think I have the time at this point.

Probably I'd look at an example to see how to do it correctly, but ironically it's the example that's broken 😂.

Sorry I'm not more help.

[2022-08-12 19:35] skosyi opened #3312 "wrong color mapped to TextInput label in flat non-focused mode [v5.0.0-rc.4]"
observe:
TextInput label color in flat mode (outlined mode is fine) mapped to theme.colors.primary

expected:
TextInput label color in flat mode mapped to theme.colors.onSurfaceVariant

https://snack.expo.dev/Fj0K2dFFl

[2022-08-13 17:07] cervisebas opened #3313 "ActivityIndicator not working in 5.0.0-rc.4"
### Current behaviour

Mounting the component displays an error message.
### Expected behaviour

I expected the component to display correctly.
### Code sample

`<View style={{ flex: 3, alignItems: 'center', justifyContent: 'center' }}> <ActivityIndicator animating /> </View>`
### Screenshots

![image](https://user-images.githubusercontent.com/52644268/184503736-a753322c-5b4f-4213-8b85-e4fde7c11fe

[2022-08-13 17:21] lukewalczak commented on #3313
Hey @cervisebas, I copied your code snippet into the expo snack and cannot see any issues. https://snack.expo.dev/RaxMMhxDH

[2022-08-13 17:31] lukewalczak commented on #3312
Hey @skosyi, thanks for the feedback, I will correct the flat input label color.

[2022-08-13 22:07] matthewlese opened #3314 "Theming documentation needs small update"
### Current behaviour

Importing `MD3LightTheme` as suggested in the documentation throws an error that the module is undefined.  It appears the package has been updated and it is now imported just as `DefaultTheme` without an alias.

### Expected behaviour

Importing the theme allows for overriding the defaults after passing it as a prop to the Provider.

### Code sample

`import { MD3LightTheme,

[2022-08-14 02:27] BenJeau opened #3315 "Theme synced with system colors (Material you - MD3)"
**Is your feature request related to a problem? Please describe.**
Since v5 is aiming at implementing material design 3, it would be cool if the theme would follow the system's colors (or at least have it be an option).

I'm sure that this has been thought about, but haven't seen any discussion in the repo.

**Describe the solution you'd like**
For android, have an option in the theming or in the

[2022-08-14 02:30] BenJeau commented on #3314
Which `react-native-paper` version do you have installed? For some reasons the docs is for the release candidate of v5, if you are using v4, take a look at https://callstack.github.io/react-native-paper/4.0

[2022-08-14 02:47] BenJeau commented on #3315
Here's a snack, the only thing is that it needs to run Android 12 (SDK 32) or higher (and Expo's snack android emulator has SDK 31 and my personal device has SDK 30, so I can test it other than my emulator).

https://snack.expo.dev/@benjeau/react-native-paper-material-you-system-colors

[2022-08-14 03:07] BenJeau commented on #3315
Looking at how flutter handles this, they get all the colors from the native android side https://github.com/material-foundation/material-dynamic-color-flutter/blob/main/android/src/main/kotlin/io/material/plugins/dynamic_color/DynamicColorPlugin.kt

And looking deeper, it seems like they are getting the accent color from the other platform and creating a color palette accordingly https://github.c

[2022-08-14 18:15] lukewalczak commented on #3314
Hello @matthewlese, as @BenJeau mentioned, the default documentation is for the v5 RC, if you are looking for the documentation related to the latest stable paper version v4, please check the link mentioned above.

[2022-08-14 19:12] lukewalczak commented on #3314
Updated docs banner and instructions in the commit: https://github.com/callstack/react-native-paper/commit/ed0f7d72dd0d0e1b781753ed0f384f410aa65759

[2022-08-14 19:12] #3314 closed

[2022-08-15 16:13] matthewlese commented on #3314
Thanks @BenJeau and @lukewalczak

[2022-08-15 22:35] shizuo-x commented on #2994
can someone tell me how to remove the annoying blue color when the list is active?

[2022-08-15 22:39] shizuo-x commented on #2994
I advice to use a spacer to space the lists, for OP and not to use the margin because it will push down the drop down options too.

[2022-08-16 08:04] lukewalczak commented on #3313
If you will be able to attach the snack or minimal repo presenting the problem, feel free to reopen the issue.

[2022-08-16 08:04] #3313 closed

[2022-08-16 13:07] psk-dreampay opened #3319 "Spelling mistake in Switch component props"
### Current behaviour

Currently the props for the Switch component are exported as SwichProps

### Expected behaviour

Props for Switch component should be exported as SwitchProps where the letter **t** is missing

### Code sample

`import { Switch, SwichProps } from 'react-native-paper';`

### Screenshots (if applicable)

<img width="585" alt="Screenshot 2022-08-16 at 6 36 55 PM" src="https://us

[2022-08-16 13:09] psk-dreampay commented on #3319
react-native: 0.67.3
react-native-paper: 5.0.0-rc.4
react-native-vector-icons: 9.2.0

[2022-08-16 14:43] gurpreet-reddotapps opened #3320 "Can I define custom styles for react native paper components in theme?"
Hi guys, I was wondering if I can define default style/props in react native paper for a button/input
(for example if I want to give a border Width of 10 for all Inputs)
Does anyone have an idea if its possible via theme or Do I have to create a separate Input component with my styles.

Version
[code]

[2022-08-16 14:47] #3320 closed

[2022-08-16 16:26] lukewalczak commented on #3319
Hey @psk-dreampay, nice catch! Fixed in the following [commit](https://github.com/callstack/react-native-paper/commit/12b29d1b039b6c259019d27219231928801d0b4d). Will be released in the next RC.

[2022-08-16 16:26] #3319 closed

[2022-08-17 07:01] psk-dreampay commented on #3319
Thanks a lot @lukewalczak

[2022-08-18 09:57] #3272 closed

[2022-08-18 09:58] lukewalczak commented on #3272
Fixed via: https://github.com/callstack/react-native-paper/pull/3316. Will be released in `5.0.0-rc.5`

[2022-08-18 10:02] lukewalczak commented on #3138
I will do my best to investigate that issue.

[2022-08-18 11:50] DominickVale commented on #3220
This has been fixed on both the react-native-paper side in version 5.0.0-rc.4 and on the react-navigation side after [this commit ](https://github.com/react-navigation/react-navigation/commit/f8feedf8e7cb9363e48fb921304f4cad89f53962)

[2022-08-18 13:12] #3220 closed

[2022-08-18 13:32] jcbags101 commented on #1979
not working for me

[2022-08-18 14:14] lukewalczak commented on #3138
The first investigation attempt presented that I was able to reproduce the problem on the fresh `TextInput` coming from `react-native`. Please check the following [snack](https://snack.expo.dev/ilKMCyNa8) with simplified code, based on the input code from the library.
It looks like there is an issue related to setting placeholder value coming from props in correlation with `multiline` prop, no mat

[2022-08-18 16:24] Waqas4hmad commented on #1605
here is customization of  right icon ..
 right={props =>props.isExpanded===false? <List.Icon {...props} icon="plus" />:<List.Icon {...props} icon="minus" />}
(y)

[2022-08-19 08:48] aregio commented on #3299
When clicking on the [Snack](https://snack.expo.dev/?name=BottomNavigation&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fbottom-navigation.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20BottomNavigation%2C%20Text%20%7D%20from%20%27react-native-paper%27%3B%0A%0Aconst%20MusicRoute%20%3D%20()%20%3D%3E%20%3CText%3EMusic%3C%2FText%3E%3B%0A%0Aconst%20Al

[2022-08-19 09:15] raajnadar commented on #3299
When you open the snack it will ask you to add the dependencies

`package.json (3:5) 'react-native-paper' requires peer-dependency '@expo/vector-icons'.`

Check the very bottom of the screen

[2022-08-19 09:28] lukewalczak commented on #3299
The commit: https://github.com/callstack/react-native-paper/commit/ec6ed76c46d1fdd728a9942d805366a34d12d1e9 updating the snack link generativity should fix the problem.

[2022-08-19 14:16] dassje commented on #555
Try this...

`<Snackbar wrapperStyle={{postion:"relative"}} ></Snackbar>`

[2022-08-19 16:30] aregio opened #3323 "BottomNavigationBar is not visible"
Hey,
I'm fairly new to react-native and currently trying to implement the BottomNavigationBar in my App. Even though my Code works in Snack and is getting shown inside debug DevTool from react so it definitely exists it is not visible in the App. Other paper components like the App Bar and the button are working and the navigation is also working. I don't seem to find the issue at hand why an comp

[2022-08-19 20:30] bombillazo commented on #3296
Hey, sure, Ill try to get something done

[2022-08-19 20:36] bombillazo commented on #2769
Any solution to this issue?

[2022-08-20 15:08] sidnetopia opened #3325 "Custom Fonts with Expo"
Hello,

I'm trying to load my custom fonts via Expo according to their [documentation](https://docs.expo.dev/guides/using-custom-fonts/) (please see code below).

[code]

Then I tried to used it as custom fonts as stated [here](https://callstack.github.io/react-native-paper/fonts.html).

[code]

When I tried to load a sample component, the text doesn't show up. As an example, below is a supposed t