[2018-10-08 09:01] satya164 commented on #583
Unrelated, but don't use `withTheme` inside the `render` function. It's an HOC, so it'll create a new component when called. It means a new component every render which will be very bad for perf, as well as lose any local state.

[2018-10-08 09:18] aaska commented on #583
Hi @satya164 thank you very much for your quick reply !

This sample was mostly for example purposes to have everything inside one file, so it could be as quick as possible for you to test it :)

But thank you very much for the tip, it's always good to know !

[2018-10-08 15:17] Esemesek commented on #583
I still need to merege #584, with new types for withTheme, but I think this is the problem of `@types/react-native` package. If you look closely on `FlatList` types (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native/index.d.ts#L3849), properties aren't annotated with `React.ComponentType`, which has `React.ComponentClass` and `React.StatelessComponent` in it. `withT

[2018-10-08 15:52] ferrannp commented on #530
I cannot reproduce this in a real device, only with the iPhone simulator if I click the Enter key of the computer keyboard. Does it happen on a real device @giautm ?

Default value of `TextIpunt` for `multiline` is already `false`.

[2018-10-08 18:45] dylancompanjen opened #585 "Feature Request: Make BottomNavigation available without routing solution"
It would be nice if you could use <BottomNavigation> without a coupled routing solution. So that you could just pass a PressHandler & activeIndex and have your own routing solution.

I'm using a custom tabs implementation of React Navigation: https://github.com/react-navigation/react-navigation/blob/master/examples/NavigationPlayground/js/CustomTabs.js so I can add a custom view on top of my tabba

[2018-10-09 03:57] giautm commented on #530
@ferrannp: The screenshot attached was capture on real device, iPhone 5s.

[2018-10-09 09:44] aaska commented on #583
I confirm, I've updated `@types/react-native@0.57.4` which has changed  `FlatList` types for `ListEmptyComponent`,`ListFooterComponent `and `ListHeaderComponent `  and it is now compiling without errors using `withTheme`.  All are now defined as `React.ComponentType<any> | React.ReactElement<any>;`

Thank you very much !

[2018-10-09 09:44] #583 closed

[2018-10-09 09:48] Esemesek commented on #583
Fixed in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/29543 C:

[2018-10-10 01:34] ManigandanRaamanathan opened #586 "Issue when run on android after installing native in RN 0.55"
### Current behaviour

Its not building the android app. Receiving error. Any compatibility in RN 0.55?

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | -
| react-native          | RN 0.55
| react-native-paper    | Latest
| node                  | Latest
| npm or yarn           | Latest

[2018-10-10 02:48] ManigandanRaamanathan commented on #586
Getting this below error:-

![image](https://user-images.githubusercontent.com/22089729/46710359-0cf10a80-cc7a-11e8-9387-1f6c2c8eeaaf.png)

[2018-10-10 06:39] Trancever commented on #586
@ManigandanRaamanathan It's not a problem with react-native-paper. Our example app uses react-native version 0.55 and it works fine. Can you provide full stack trace of the exception?

[2018-10-10 18:28] brunohkbx opened #589 "Strange behavior when using a noneditable TextInput with outlined mode"
### Current behaviour

After removing the value of the TextInput the label is not positioned at the top anymore.

### Code sample
[code]

### Screenshots (if applicable)
![whatsapp image 2018-10-10 at 15 01 13](https://user-images.githubusercontent.com/6487206/46757473-a3382700-cca0-11e8-9d21-790f58e204a3.jpeg)

![20181010210825-4f2f9a04d9 gif-2-mp4 com](https://user-images.githubusercontent.com/6

[2018-10-10 19:36] dylancompanjen opened #590 "Feature Request: Use San Francisco font instead of Helvetica Neue for iOS"
Since iOS9, San Francisco became the default font. The library is using Helvetica Neue though (While San Francisco is available in React Native.
https://material.io/design/platform-guidance/cross-platform-adaptation.html#cross-platform-guidelines

[2018-10-11 06:31] #586 closed

[2018-10-11 07:05] Trancever opened #591 "Example of dialog with radio buttons is broken."
### Current behaviour

Example of dialog with radio buttons in example app is broken. Radio buttons are not updated to use `status` prop instead of `checked`.

### Expected behaviour

Example app should be up to date and every component should work as expected.

[2018-10-11 10:36] Trancever commented on #591
@altaf933 Great, feel free to submit PR with a fix :)

[2018-10-11 10:43] giridharangm commented on #526
This is an out-of-the-context question, but @rahuljayaraman ,  how did you setup the `react-native-paper` with `react-native-web` in the first place? I'm trying to do the same, but I'm getting compilation errors.

I tried with `create-react-app` boilerplate, as well as a vanilla `react` package with `parceljs`. Both of them didn't work. May be can you share a sample repo for me?

When I used `crea

[2018-10-11 12:39] satya164 commented on #591
We should also update the Flow types to use exact types so flow errors in such cases. Can be a separate PR if someone wants to tackle it.

[2018-10-11 13:10] Trancever commented on #591
@satya164 Could you create separate issue for that?

[2018-10-12 06:35] Trancever opened #594 "Update Flow types to use exact types."
### Current behaviour

Currently, user can pass additional props that are not specified for given component.

### Expected behaviour

User should be able to pass only those props that are explicitly specified in Props for a given component.

### Code sample

Current behaviour:

For given props:

[code]

User can pass additional props. Example usage:

[code]

To prevent such behaviour we would like

[2018-10-12 08:44] gawrysiak commented on #594
@Trancever it makes sense, but some people might not like it so much. Have you seen #477?

[2018-10-12 10:28] satya164 commented on #594
For components which pass down the props, we should be able to do something like this:

[code]

It'll also provide better type checking and autocomplete.

[2018-10-12 15:24] ButuzGOL opened #595 "TextInput error not red on blur"
TextInput with error true has red borders only if its focused

### Current behaviour

No red borders on blur

### Expected behaviour
If error passed it should be always with red borders

### Code sample

[code]

### Screenshots (if applicable)

<img width="347" alt="screen shot 2018-10-12 at 6 16 59 pm" src="https://user-images.githubusercontent.com/196564/46878292-90ae2100-ce4b-11e8-92d5-e46a0cb4

[2018-10-12 15:30] ButuzGOL opened #596 "TextInput support Leading Icon"
Any plans for
TextInput support Left Icon
or could you suggest as workaround to freeze label on the top in mode="outlined"

----
from @ferrannp:

![screenshot 2019-01-31 at 13 13 41](https://user-images.githubusercontent.com/774577/52053584-0bfe2480-255a-11e9-81dd-171a6b0dd5f8.png)

[2018-10-13 14:55] farzeni opened #597 "Error with RN 0.57: java.lang.String cannot be cast to AccessibilityDelegateUtil"
### Current behaviour

With RN version 0.57, on android, in a new application created with _react-native init_ every component crash the application with the following error:

[code]
### Code sample

- create a new app with react-native init
- than install react-native-paper with
[code]
- add PaperProvider Component
- add a Button or AppBar to the main component

### Your Environment

| software

[2018-10-13 15:03] satya164 commented on #597
Maybe a bug in React Native? Related: https://github.com/facebook/react-native/issues/21754

[2018-10-13 16:05] Aidurber commented on #595
@ButuzGOL I'm not sure if the pull request would get accepted, but it makes sense to me. As a user I would expect an input in an error state to be apparent when unfocused.

[2018-10-13 16:12] Aidurber commented on #533
I thought I would take a look at it myself and offer a PR to fix if I could figure it out. For me this is an implementation issue. In the TextInput example, it initially works fine. When you navigate away and the component is unmounted, the reference is destroyed.

I've not seen a TextInput be focused like that, though it is nice and succinct. If you are to try and focus automatically like that yo

[2018-10-13 16:16] satya164 commented on #533
@Aidurber thanks for looking into it. Yeah, it's indeed not a bug. If you want to call methods as soon as the input is rendered, you should do it in `componentDidMount`, not the `ref` callback. I missed that part.

[2018-10-13 16:16] #533 closed

[2018-10-13 16:17] Aidurber commented on #595
Actually, looking through the material design spec expects this exact behaviour: https://material.io/design/components/text-fields.html#outlined-text-field

[2018-10-13 17:07] Aidurber commented on #595
@satya164 Sorry, I couldn't see anything explicit, I should have lead with that.
Judging from this [image](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1DxDXQRkLemKRP1vsos0kJC-ET1ibXY2I%2Ftextfields-outline-states-enabled.png) which lists the states. The error input isn't focused, or doesn't appear to be.

[2018-10-13 17:30] Aidurber commented on #173
Sorry, I know this is an old issue, but would it be beneficial to use Callstack's [react-native-testing-library](https://github.com/callstack/react-native-testing-library)? In my recent PR around TextInput outlines and error states, I thought it would have been beneficial to have some integration tests to test focus and unfocused modes.

[2018-10-13 17:36] satya164 commented on #173
Yeah, we want to use it, but haven't gotten time :D

Pull requests are always welcome!

cc @esemesek

[2018-10-13 18:03] Aidurber commented on #173
@satya164 Already doing some exploratory work. First time using react-native-testing-library, I think I'm in love! Props to Kent C Dodds too! Trying to do meaningful tests with Enzyme + React Native was always a dead-end.

I'll create a PR if I produce anything meaningful on this TextInput. I won't go through the whole suite, I'll just add some tests for my previous PR and we can evaluate from the

[2018-10-14 15:28] programreality commented on #597
Same issue

[2018-10-15 07:06] ManigandanRaamanathan opened #599 "Not able to navigate to different pages from sidebar undefined is not an object _this.props.navigation.navigate"
### Current behaviour

System throws "undefined is not an object _this.props.navigation.navigate" when passing in this.props.navigation.navigate via app drawer contentComponent. I followed your snack example code. The UI works but the system is not navigating. Using React  Navigation 2.0+
### Expected behaviour

### Code sample

### Screenshots (if applicable)

_setDrawerItem = index => {

[2018-10-15 07:15] ManigandanRaamanathan commented on #599
Fixed. Solution is here https://reactnavigation.org/docs/en/connecting-navigation-prop.html
just import the import { withNavigation } from 'react-navigation';
and export it back

[2018-10-15 07:15] #599 closed

[2018-10-15 08:34] ManigandanRaamanathan opened #600 "How to use icons other than Material Icon?"
### Current behaviour
The documentation said that you are using react native vector icons library. But by default your library is referring to Material Icons. How may I use the other icons within react native vector icons such as in icons and Material Community Icons?? I'm trying to use this is App Drawer following your snack example code.

### Expected behaviour

Now its not working to set the mo

[2018-10-15 09:11] ManigandanRaamanathan opened #601 "Could insert image in App Drawer code based on snack example"
### Current behaviour

Whenever add own Image, It throws error 500. Following app drawer code of paper ui from snack.
Tried both URL and Stored Image. Both throws error 500

[2018-10-15 09:39] ManigandanRaamanathan commented on #601
@Trancever  unfortunately I'm not using snack or expo. It works only with URL within the app drawer code that followed as per your snack example. It is not working with existing stored image. Straightaway it throws error.

[2018-10-16 01:57] ManigandanRaamanathan commented on #571
Still not working. It throws error when adding the above code

[2018-10-16 02:29] ManigandanRaamanathan opened #602 "How to add badge in App Drawer?"
### Current behaviour

How to add badge in App Drawer? Does React Native Paper has their own badge component? Else how to add custom badge? I'm following your snack example for the appdrawer

[2018-10-16 02:44] ManigandanRaamanathan commented on #358
@satya164  @jaulz  How to add badge to the app drawer items?

[2018-10-16 04:33] jaulz commented on #571
Oh, hm. Actually, I tested it on my side before. So Switch.propTypes is undefined?

[2018-10-16 08:14] jaulz commented on #358
@ManigandanRaamanathan not sure if that's feasible with the current set up but it might be worth to see if we can use the `children` prop instead of a `label` prop in order to be more flexible. @satya164 what do you think?

[2018-10-16 08:17] ManigandanRaamanathan commented on #571
How to find out whether undefined? Im getting that error the moment adding the line "const trackColorProp = typeof Switch.propTypes.trackColor === 'function' ? 'trackColor' : 'onTintColor';"

Can you share the full code?

[2018-10-16 08:18] ManigandanRaamanathan commented on #358
What are the props available now?

[2018-10-16 08:19] Trancever commented on #358
@ManigandanRaamanathan Please, check the docs if you need information about available props.

[2018-10-16 08:42] ManigandanRaamanathan commented on #600
How do I add them in the array?

![image](https://user-images.githubusercontent.com/22089729/47003672-67023c00-d162-11e8-9543-41f590520e39.png)

[2018-10-16 09:05] Trancever commented on #600
Pass function instead of string.

[2018-10-16 09:06] ManigandanRaamanathan commented on #600
Could you please provide the sample code. Im getting error when pass the give code as string

[2018-10-16 09:14] Trancever commented on #600
Check comment above, and please read the docs more carefully.

[2018-10-16 09:17] ManigandanRaamanathan commented on #600
Oop Thanks for the huge help. This code works fine now. Was in a rush. Thanks

[2018-10-16 09:18] satya164 commented on #358
@jaulz maybe makes sense to support a `badge` prop? we'll need to style and position it properly anyway

[2018-10-16 12:27] raajnadar commented on #602
This page is to track issues you can ask this types of question in stackoverflow or quora!

[2018-10-16 12:33] ManigandanRaamanathan commented on #602
@raajnadar  This feature is not even available in React Native Paper yet. This is more of a new required enhancement or additional support as about this feature is not even be found in their documentation nor known to others in stackoverflow or quora.

[2018-10-16 14:05] matotim opened #603 "Feature Request: Text field drop down menu"
[MD link](https://material.io/design/components/menus.html#exposed-dropdown-menu)

[Image of the Text field dropdown menu](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1waT1DSvLGYu9Bi_nGAOPqcO4X5jOkEVy%2Ftext-field-menu-intro.png)

[2018-10-16 14:57] ButuzGOL opened #604 "Appbar hides on Android if TextInput focused"
When i am focusing text input and keyboard appears Appbar hides

have this property
android:windowSoftInputMode="adjustPan"

![demo](https://user-images.githubusercontent.com/196564/47025848-eb59bc80-d16c-11e8-8f0b-76b50d754eb6.gif)

[2018-10-16 16:07] satya164 commented on #604
Appbar doesn't hide, your screen moves up to place the input above the keyboard. It's not a bug in paper. You need to add `android:windowSoftInputMode="adjustResize"` in your `AndroidManifest.xml` to customize the behaviour.

https://developer.android.com/training/keyboard-input/visibility

[2018-10-16 16:07] #604 closed

[2018-10-16 17:10] bunea opened #605 "Searchbar crashes on Android when wrapped in Appbar"
### Current behaviour

`Searchbar` component crashes on Android with
`Error while updating property 'color' in shadow node of type: AndroidTextInput`
when it's wrapped in `Appbar` or `Appbar.Header`.  I guess this happens because `Appbar` changes the theme based on the `dark` property. This works fine on iOS.

### Expected behaviour

Should not crash.

### Code sample
[code]

It seems to happen be

[2018-10-17 00:04] RaulCorreia commented on #597
Same, this happens when I use the Button, as it says in the documentation.
<Button>Ok</Button>

[2018-10-17 09:07] denisviklov opened #606 "Portal component doesn't crash app"
### Current behaviour

Throw an error:
TypeError: Cannot read property 'mount' of null

This error is located at:
    in PortalConsumer (at Portal.js:53)
    in Portal (created by Context.Consumer)
    in ThemeProvider (created by Context.Consumer)
    in withTheme(Portal) (at topbar/index.js:18)
    in RCTView (at View.js:44)
    in Topbar (at src/index.js:23)
    in App (at renderApplication.js:

[2018-10-17 09:19] satya164 commented on #606
You need to wrap your app root in `Provider`. Please follow the getting started guide: https://callstack.github.io/react-native-paper/getting-started.html

[2018-10-17 09:19] #606 closed

[2018-10-17 09:50] denisviklov commented on #606
lol, wrong answer, I did 'provider'. from the test I got what I need wrap into Portal.Host. So, be careful when you close issue.

[2018-10-17 09:56] Trancever commented on #606
@denisviklov https://snack.expo.io/@trensik/ZGlhbG

[2018-10-18 13:02] HasithaPriyasad commented on #597
same issue

[2018-10-18 13:08] HasithaPriyasad commented on #597
While this is urgent i use some work around for this
<TouchableOpacity  onPress={()=>this.props.navigation.navigate('Signup')}>
        <Text style={styles.signupButton}> Sign up</Text>
</TouchableOpacity>

[2018-10-18 13:37] alvaromb opened #610 "Image lists"
https://material.io/design/components/image-lists.html

[2018-10-18 13:37] alvaromb commented on #610
@ferrannp @satya164 we'll be available to work on this next week, would you like us to add this component to the library?

[2018-10-18 13:41] ButuzGOL opened #611 "TextInput label + placeholder mess"
Having mess when setState fires and
props
value=""
placeholder="Placeholder"
label="Label"

![demo_placholder](https://user-images.githubusercontent.com/196564/47158512-803af200-d2f4-11e8-911c-7ed2fc4fdcc2.gif)

### Your Environment

| software              | version
| --------------------- | -------
| react-native-paper    | ^2.1.2

[2018-10-18 13:43] alvaromb commented on #610
I would start first by this https://material.io/design/components/image-lists.html#anatomy and then the containers https://material.io/design/components/image-lists.html#specs

[2018-10-18 13:54] ButuzGOL opened #612 "TextInput multiline not able to press in the middle"
When we have textInput big size we are not able to press in the middle

![ezgif-5-478ba90b364e](https://user-images.githubusercontent.com/196564/47159349-55ea3400-d2f6-11e8-8f45-295cdb03d016.gif)

### Your Environment

| software              | version
| --------------------- | -------
| react-native-paper    | ^2.1.2

[2018-10-18 13:55] satya164 commented on #610
I think what we want is a `GridView` component. The `GridView` component could have any kind of children, including images. We had one before: https://github.com/callstack/react-native-paper/pull/73, but we removed it because it didn't work well in many scenarios: https://github.com/callstack/react-native-paper/issues/246

[2018-10-18 13:55] satya164 commented on #612
Please post your code

[2018-10-18 13:57] alvaromb commented on #610
What about the image list item? They seem pretty standarized in Material guidelines (see [Anatomy](https://material.io/design/components/image-lists.html#anatomy)).

[2018-10-18 13:59] satya164 commented on #610
Yea, we could have a separate component for that which you can render in the `GridView`.

[2018-10-18 14:18] Biplovkumar commented on #597
same here in 0.57.3

[2018-10-18 14:41] satya164 commented on #611
Can you post your code and steps to reproduce? Also can you try master if it still happens?

[2018-10-18 14:48] satya164 commented on #597
It's a bug in React Native 0.57.3. You need to downgrade to 0.57.1 or lower. I'm closing this issue since we can't fix it in paper.

[2018-10-18 14:48] #597 closed

[2018-10-18 14:58] #612 closed

[2018-10-18 15:12] Biplovkumar commented on #597
@satya164  Sorry to say u give Proper solution then close any issue.

Solution :-

1.delete your node_modules directory (rm -rf node_modules/)
2.npm i -S react-native@0.57.1  **or** yarn add  react-native@0.57.1
3.npm add @babel/runtime  **or** yarn  add @babel/runtime
4.npm i schedule@0.4.0 --save-dev  **or** yarn  add schedule@0.4.0 --save-dev
5.npm i  **or** yarn

[2018-10-18 16:18] Eljoy opened #613 "Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
### Current behaviour

As a result of wrapping my component with `PaperProvider` I've got the following error:

### Code sample

MyCallsWrapper.js

[code]

MyCallsScreen.js

[code]
inside index.js

`AppRegistry.registerComponent('MyCalls', () => MyCallsWrapper);
`

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | android
| react-na

[2018-10-19 09:52] hasseio commented on #613
You forgot to import View component in MyCallsScreen.js

[2018-10-19 10:00] #613 closed

[2018-10-19 10:08] Eljoy commented on #613
That's not the case. I didn't forget to import View.
Just made a mistake providing the code for the issue.
The issue description was updated.

[2018-10-19 10:12] satya164 commented on #613
You need to provide a runnable demo. The code you provided looks ok, so it's not possible to debug without a demo.

[2018-10-19 11:13] jaulz commented on #358
Great, then let's take a `badge` property and if you are fine I will try to implement a `Badge` component (à la https://github.com/callstack/react-native-paper/pull/539#issuecomment-426977815) which we could reuse here and across other components.

[2018-10-19 12:36] yaronlevi commented on #500
Duplicate:
https://github.com/facebook/react-native/issues/6480

[2018-10-19 14:39] Eljoy commented on #613
The issue was resolved by updating react-native and react to version 0.55.4 and 16.3.1 respectively.

[2018-10-21 14:46] connercms opened #616 "Allow user to define initial expanded state of List.Accordion"
### Current behaviour

Unless I am missing something in the code, currently all List.Accordion components are initialized with expanded state as false, but I think some users (myself included) would find it beneficial to have them begin opened.

### Expected behaviour

I think it would be as easy as setting the initial state as follows to allow user to define if the component should start as opene

[2018-10-22 03:31] ManigandanRaamanathan opened #617 "How to link picker component to the Text input UI component of React Paper?"
### Current behaviour

Currently I'm using react paper outlined text input component layout. Is there any picker component available in your libraries as it is not mentioned in the documentation. The default picker component UI causes inconsistency. Therefore , is it possible to link the picker when then text input is on focus?

If yes, then please provide the code snippet.

[2018-10-22 10:07] jimmiehansson commented on #616
Sure, I can go ahead with this 👍

[2018-10-22 10:16] jimmiehansson commented on #616
Sure I can go ahead and do this 👍

[2018-10-22 10:57] Trancever commented on #616
Hi @connercms . Would you like to submit PR with a fix?

[2018-10-22 12:44] raajnadar commented on #617
Ah, This page is to track issue not to help people try posting this same message in discord channel of Callstack.

[2018-10-22 12:59] ManigandanRaamanathan commented on #617
@raajnadar  Its more like a required feature enhancement if not available.

[2018-10-23 09:34] httol commented on #597
same issue,i think its a bug

[2018-10-23 09:45] Trancever commented on #597
@httol It's bug in react-native. Check this comment - https://github.com/callstack/react-native-paper/issues/597#issuecomment-431038437

[2018-10-23 11:41] Trancever commented on #617
@ManigandanRaamanathan You can submit PR that implements such Picker and follow Material Design Guidelines.

[2018-10-23 11:41] #617 closed

[2018-10-23 13:14] Trancever commented on #605
@bunea Please wrap Searchbar with additional View as a workaround:

[code]

[2018-10-23 13:17] Trancever commented on #601
Closing due to inactivity.

[2018-10-23 13:17] #601 closed

[2018-10-24 03:12] ManigandanRaamanathan opened #624 "Unable to set square/fixed ratio button. The button width remains the same."
### Current behaviour

Unable to set square/fixed ratio button. The button width remains the same. I'm trying to set the button into a circle shape. Therefore, I set the border radius to 100 and the width tried to have the same size as the height but the width is not changing for its current min width.

### Expected behaviour
Perfect circle button.

If I edit the minWidth, then the icon/content wi

[2018-10-24 07:05] Trancever commented on #624
First of all, it's not Ratio Button, it's just Button :D Check this component - https://callstack.github.io/react-native-paper/icon-button.html

[2018-10-24 08:37] ManigandanRaamanathan commented on #624
Thanks. In the icon button component is it possible to have different ripple color instead of the icon color?

[2018-10-24 08:41] Trancever commented on #624
No, this behaviour follows material design guidelines.

[2018-10-24 08:41] #624 closed

[2018-10-24 08:56] Caundy opened #625 "Out-of-the-box Chip text vertically misaligned"
### Current behaviour

Text passed to chip is vertically misaligned (pushed to the bottom).

### Expected behaviour

Text should be vertically centered.

### Code sample
[code]
### Screenshots (if applicable)

![chipmisalignment](https://user-images.githubusercontent.com/21174630/47418535-94f70a00-d77a-11e8-989c-5eacfe83e589.png)

### What have you tried

Also tried wrapping the text in a Text com

[2018-10-25 12:56] #625 closed

[2018-10-29 10:46] phantom1299 commented on #420
Any news about integration with wix navigation? Its a bit ugly to have each screen wrapped with a provider :/

[2018-10-31 04:56] zxccvvv opened #631 "BottomNavigation shifting color not work"
I just installed `react-native-paper` and find the [docs tutorial BottomNavigation](https://callstack.github.io/react-native-paper/bottom-navigation.html), I want to create something like

![](https://callstack.github.io/react-native-paper/screenshots/bottom-navigation.gif)

### Current behaviour

adding `color` in `routes state` doesn't take any effect

### Expected behaviour

use transition colo

[2018-10-31 09:20] Trancever commented on #631
Check the [docs](https://callstack.github.io/react-native-paper/bottom-navigation.html#shifting) please :)

[2018-10-31 09:20] #631 closed

[2018-10-31 09:39] zxccvvv commented on #631
@Trancever  Have tried adding 4 tab nor add `shifting` props still doesnt work

[2018-10-31 10:59] Trancever commented on #631
@zxccvvv Check this working [example](https://snack.expo.io/@trensik/bottom-navigation)

[2018-11-01 07:14] webdevsyd commented on #596
Agree to this hoping to get a support from this.

[2018-11-01 11:13] zxccvvv opened #632 "Hot Reloading is not support?"
### Current behaviour

Changing text and save doesn't change while `Hot Reloading` is enabled

### Expected behaviour

Work like normal Hot Reloading

### Code sample

### Screenshots (if applicable)

![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/19633881/47848664-a63ab900-de01-11e8-9a8c-8a397704440c.gif)

### What have you tried

- Re-installing using `run-android`
- Unins

[2018-11-01 13:11] syedabuthahirm opened #633 "Question: Migration guide for V1 to V2?"
Where can I find migration guide for V1.12.0 to V2.1.3?

[2018-11-02 04:19] ManigandanRaamanathan opened #634 "Unable to change font-family of textInput"
### Current behaviour

Unable to change font-family of textInput. Tried setting the fontFamily through style. But not working

### Expected behaviour

Be able to set custom font's for text inputs

### What have you tried

Tried setting the fontFamily through style. But not working

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | A

[2018-11-02 05:39] Manoj002 commented on #596
+1

[2018-11-02 17:46] Imogynn opened #635 "Can List.Accordian start open with the user having the option to close it."
Not really a bug, but a small request. Hope that's okay. Thanks for the awesome library.

### Current behaviour

No obvious option to have a list.accordian widget start open.

### Expected behaviour

Hoping there would be an optional open property that I could set to true.

### Code sample

[2018-11-02 20:11] EmperorEarth commented on #632
I've been able to get non-functional components (i.e. `class Foo extends React.Component { ... }` hot-reloading with

- redux
- redux-saga
- react-navigation
- react-native-paper

functional components, however, never seem to cooperate

[2018-11-03 00:48] salvariable opened #636 "Keyboard hides input instead of placing it above"
### Current behaviour

When input is focused it is being hidden by the keyboard; this is more noticeable on iOS than in Android.

### Expected behaviour

When input is focused, it should be placed over the keyboard... or maybe the screen should be moved upwards to leave space for the keyboard to show? :)

### Code sample

[Check out the snack :)
](https://snack.expo.io/@salvariable/register-for-le

[2018-11-03 04:14] satya164 commented on #633
https://github.com/callstack/react-native-paper/wiki/Migration-guide-for-2.0

[2018-11-03 04:14] #633 closed

[2018-11-03 09:32] Trancever commented on #636
Use this component https://facebook.github.io/react-native/docs/keyboardavoidingview

[2018-11-03 09:32] #636 closed

[2018-11-04 03:39] vieiralucas commented on #635
That use case seems very common, if maintainers think this is useful I can make a PR implementing this.

Also would be good if it was possible to use it like a "controlled component"
Maybe the user wants to open this accordion when anything else happens.
To allow this we need an API like the following:
[code]

https://reactjs.org/docs/forms.html#controlled-components

[2018-11-04 03:42] vieiralucas commented on #635
Just realize that there is another issue opened with a PR related to this

I guess this is duplicated with #616

[2018-11-04 04:49] vieiralucas commented on #634
@ManigandanRaamanathan TextInput will pick the regular font from the theme. Check [this code](https://github.com/callstack/react-native-paper/blob/37d911118deddf30cfc369abca6d30bfc8c84b24/src/components/TextInput.js#L388)
So what you can do is pass the `font-family` through the `theme` props

[code]

[2018-11-04 09:14] #634 closed

[2018-11-05 03:51] isthaison opened #639 "Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle."
### Current behaviour

### Expected behaviour

### Code sample

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        |
| react-native          |
| react-native-paper    |
| node                  |
| npm or yarn           |

[2018-11-05 06:59] Trancever commented on #639
Please provide more informations.

[2018-11-05 09:53] isthaison commented on #639
when i upgrade sdk 31 then facing problem

[2018-11-05 13:05] ferrannp commented on #632
@zxccvvv this is not related to Paper. I think it's a problem in general with HMR and RN: https://github.com/facebook/react-native/issues/10991. You might need to check this one https://github.com/bvic23/babel-plugin-functional-hmr and see if it helps.

[2018-11-05 13:05] #632 closed

[2018-11-05 14:11] satya164 commented on #639
You can ignore the warnings. They won't affect the functionality.

[2018-11-05 14:11] #639 closed

[2018-11-05 21:13] #616 closed

[2018-11-05 21:13] #635 closed

[2018-11-06 04:32] satya164 opened #641 "Update the docs regarding Babel in Getting Started guide"
The Babel config has changed in latest React Native and Expo apps due to Babel 7. We need to update our guide to reflect that. We should also keep the examples for older RN versions until at drop support.

I think it'll be better to move this to a separate page "Troubleshooting" to avoid making the getting started guide too long, since the example Babel configs are mostly there for troubleshooting

[2018-11-06 07:41] yacut opened #642 "[bug] build error occurred if using the version 2.2.0 and the switch component"
### Current behaviour

Build error occurred with version 2.2.0:

[code]
It is possible that the problem is in this code: https://github.com/callstack/react-native-paper/commit/4aa7addb87ed129e546974f6ebf6dee549bb4d90

### Expected behaviour

A project with react-native-paper build without an error.

### Code sample

[Snack example](https://snack.expo.io/?name=Switch&description=https%3A%2F%2Fcalls

[2018-11-06 09:37] luissmg commented on #642
Yes, I can confirm this. The commit by @satya164 broke the lib. Maybe installing that package fixes the problem.

[2018-11-06 10:57] tzitziras commented on #642
Which is that package? And why isn't it in the dependencies?

[2018-11-06 11:13] luissmg commented on #642
@tzitziras I don't what is the package. And it is not there because @satya164 forgot to add it. Just install the previous version, `2.1.3` and wait for a fix to then upgrade again 😃

[2018-11-06 11:14] #642 closed

[2018-11-06 11:14] MrIceman commented on #642
Same issue.. Please Team of react-native-paper, please check the quality of your commits and contributors.

[2018-11-06 11:16] luissmg commented on #642
Jesus! @MrIceman you must be perfect right? You never commit a bug before? Just wait for the fix! Can't you live with that?

[2018-11-06 11:17] tzitziras commented on #642
fixed by @satya164 - see latest commit.

[2018-11-06 13:05] ButuzGOL commented on #611
code
[code]

Steps to reproduce:
1. Press "test" button

[2018-11-06 14:34] #641 closed

[2018-11-06 18:49] AyoubAbdellaoui commented on #611
you can handle this by checking if there is an error or not on placeholder props like that:
[code]

[2018-11-06 20:16] wimgoeman opened #643 "Themes are mandatory with flow"
### Current behaviour
When creating a <List.Item> flow gives an error saying the 'theme' attribute is mandatory

Cannot create `List.Item` element because property `theme` is missing in props [1] but exists in `Props`

### Expected behaviour
There should be no error as this code works fine, and is as per the examples.

### Code sample
[code]

### Screenshots (if applicable)

N/A

### What have you

[2018-11-06 22:34] stella-yc opened #644 "ts-jest throws type error related to `NativeModules` type on ver 2.2.1"
### Current behaviour

- Upgrade `react-native-paper` from `2.1.3` to `2.2.1` in a TypeScript project
- Run tests using `ts-jest`
- Tests fail with message:
[code]
### Expected behaviour

- Upgrade `react-native-paper` from `2.1.3` to `2.2.1`
- run tests with `ts-jest` and see no type errors
### Code sample

### Screenshots (if applicable)

### What have you tried

No errors are thrown when using

[2018-11-07 11:12] luissmg commented on #644
It's happening to me too after the changes made by @satya164. I am not using TS but the error is the same.

Don't know if mocking that could be a solution or it should work without mocking...

[2018-11-07 11:20] luissmg commented on #644
@stella-yc While there is no fix for this, you can mock Paper's `Switch` component and avoid this error. Something like this should do the job

`jest.mock('react-native-paper/src/components/Switch', () => 'Switch');`

[2018-11-07 11:20] satya164 commented on #644
You'll need to mock `NativeModules`

[2018-11-07 11:39] #644 closed

[2018-11-07 11:50] luissmg commented on #644
Thanks @satya164 for the quick reply and fix!

[2018-11-07 12:04] satya164 commented on #643
The `withTheme` HOC that wraps `List.Item` should make it optional. Can you check the version of `@callstack/react-theme-provider` you have under `node_modules`?

[2018-11-07 14:33] stella-yc commented on #644
Thanks @satya164 for that quick fix! 💯

[2018-11-07 19:41] wimgoeman commented on #643
@callstack/react-theme-provider seems to be on 1.0.4

[2018-11-07 20:06] satya164 commented on #643
Can you try removing react native paper and reinstalling it? The theme provider version 1.0.7 should work fine with flow 0.78

[2018-11-09 04:36] ManigandanRaamanathan opened #647 "Not able to add custom icon in list.item with default icon properties and not able to change default list icon size"
### Current behaviour

Not able to add custom icon in list.item with default icon properties.  I'm able to replace the <List.Icon /> component with my custom icon (eg. <Icon name="right" />). But I'm not able to set the default properties of the list.icon component in term of size, padding....

And not able to change default <List.Icon /> icon size. Tried changing fontSize via style prop within <L

[2018-11-09 08:18] Trancever commented on #647
Hi, it is not possible to change size of List.Icon. In such case please use custom component e.g:

[code]

[2018-11-09 08:19] ManigandanRaamanathan commented on #647
What about the title and description fontSize?

[2018-11-09 13:32] ferrannp commented on #602
Probably good to be done after #620.

[2018-11-09 13:33] ferrannp commented on #596
Depending on https://github.com/callstack/react-native-paper/pull/587.

[2018-11-09 13:33] #594 closed

[2018-11-09 13:34] ferrannp commented on #590
We should do this but that would be a breaking change. We need to think where and how to adopt it.

[2018-11-09 13:36] ferrannp commented on #574
@ManigandanRaamanathan can you provide code or a Snack ?

[2018-11-09 13:39] ferrannp commented on #554
Can you try `2.2.4`? Should be fixed.

[2018-11-09 13:41] #451 closed

[2018-11-09 13:51] ButuzGOL opened #648 "TextInput multiline android text in the middle"
TextInput multiline android text in the middle if height setted

<img width="263" alt="screen shot 2018-11-09 at 3 21 01 pm" src="https://user-images.githubusercontent.com/196564/48266118-1ca96d80-e437-11e8-972e-43e07c2dcd36.png">

I have found solution give ```textAlignVertical: "top"``` in https://github.com/facebook/react-native/issues/13897

but i haven't find way to give custom style to nativ

[2018-11-09 13:54] satya164 commented on #648
I think we should add `textAlignVertical: "top"` by default when the input is multiline. Wanna send a PR?

[2018-11-09 13:55] #554 closed

[2018-11-09 13:55] satya164 commented on #554
#637

[2018-11-09 22:42] satya164 commented on #585
Bottom Navigation doesn't need a routing solution. You can use it directly: https://callstack.github.io/react-native-paper/bottom-navigation.html

[2018-11-09 22:42] #585 closed

[2018-11-10 17:16] yzinets opened #649 "BottomNavigation scene is not available to render FlatList or FAB"
### Current behaviour

FAB from example is not visible at all while using BottomNavigation. When using FlatList (also from official react-native example), result is the same, nothing showing. Only simple Text is showing correctly.

### Expected behaviour

Correct render

### Code sample

Scene component

[code]

Navbar component

[code]

### Screenshots (if applicable)

Screenshot with hidden acti

[2018-11-11 15:14] satya164 commented on #649
I tried your example and it works fine both without and with bottom navigation after adding `flex: 1` in your `styles.container`

[2018-11-11 15:14] #649 closed

[2018-11-12 08:00] auzair92 opened #650 "Example Expo Snack not working: Unexpected token (10:7)"
### Current behaviour

Running the example Expo snack returns the following error:
[code]

### Expected behaviour

Expo snack should load properly.

### Code sample

https://snack.expo.io/@satya164/github.com-callstack-react-native-paper:example

### Screenshots (if applicable)

N/A

### What have you tried

Tried running the snack both in browser and Expo app on Android phone.

### Your Environme

[2018-11-12 09:51] ManigandanRaamanathan commented on #647
@Trancever  How to insert image instead of icon on the left of the row?

[2018-11-12 14:32] luissmg commented on #648
@satya164 Added a PR for this.

[2018-11-12 15:20] satya164 commented on #650
Thanks for the report. We probably have to update the Babel version in Snack.

[2018-11-12 16:13] adamnator92 opened #652 "ProgressBar become a loading indicator in android"
### Current behaviour
`<ProgressBar/>` become a activity indicator like component in android

### Expected behaviour
display as material progress bar
### Code sample
`<ProgressBar progress={0.5} color={Colors.red800} />`

### What have you tried

rm -rf node_modules && npm install

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | a

[2018-11-12 17:00] Trancever commented on #647
Just pass Image component instead of Icon.

[2018-11-13 19:20] bhaskarmurthy commented on #548
Question - looks like v2 button has `borderless` set to `true`, and no way to override it. This causes the ripple to pop out of the button boundaries. Any chance we can revert this behaviour and not set `borderless`?

[2018-11-14 18:43] bogdansoare commented on #546
The default font size is way to small for buttons, be able to customize the size of it I think it's mandatory for any reasonable ui kit 🙄

[2018-11-15 10:12] sritharanpalani opened #656 "TextInput Outlined mode: (Focused)"
### Current behaviour
Text input appeared when mode=outlined is violet colour border

### Expected behaviour
 i want to change the violet to my custom colour ,what is the way to do it ,i look into the document but i don't find any props regarding that

[2018-11-15 13:36] mehulmpt opened #657 "TextInput outlined mode: label has unknown shadow"
### Current behaviour
Please see attached:

![screenshot 2018-11-15 at 7 01 25 pm](https://user-images.githubusercontent.com/10388889/48556136-13257700-e909-11e8-9c63-6ea064be8d79.png)

### Expected behaviour

There should not be any weird shadow.

### Code sample

Here's what I'm using to render this input field:

[code]

and here's the parent config:

[code]

### Screenshots (if applicable)

###

[2018-11-15 17:21] codypearce opened #658 "Allow Customization of Text in Button"
### Current behaviour

Currently there is no way to change many properties for the text component in Buttons. For example, two properties which are causing issues for me at the moment are `textAlign` and `margin`. For some properties you can change by wrapping the text in your own Text component, but this does not effect all the properties namely the two I mentioned.

### Expected behaviour

Abili

[2018-11-16 16:00] raajnadar commented on #657
Hey, create a reproduce able [snack here](https://snack.expo.io), It will be easier to debug the issue

[2018-11-17 13:07] majugurci commented on #617
I don't know if this is a good approach but here's how I did it:

`<TextInput
	label="City"
	mode="outlined"
	value={this.state.city}
	render={(props) => (
		<Picker
			selectedValue={this.state.city}
			onValueChange={(itemValue, itemIndex) => {
				this.setState({ city: itemValue });
			}}
			style={{ height: 54, marginTop: 10 }}

			{this.renderCityItems()}
		</Picker>
	)}
/>`

Note that I had

[2018-11-17 14:59] majugurci commented on #617
I don't know if this is a good approach but here's how I did it:

[code]

Note that I had to set both value and selectedValue to work and do a little styling on Picker component.

[2018-11-20 08:44] saharjedidi opened #663 "InputText : remove the underline in the outlined Type"
I want to remove the underline and to support the RTL
I didn't find a solution to both so please help me
this the code of TextInput
<TextInput
         locale={this.state.locale}
        label=' رقم بطاقة التعريف الوطنية'
        Type='outlined'

        style={styles.TextInp}
        value={this.state.CIN}
        multiline = 'false'
        editable= 'true'
        onChangeText={CIN => this.setS

[2018-11-21 10:39] geminiyellow opened #665 "is there progress fab"
hi all, want to use paper's fab, but how i can add progress animation to it?

[2018-11-21 12:59] aaska opened #666 "Typescript - Drawer.Item props missing the onPress event"
### Current behaviour

When trying to use onPress event prop, in a Drawer.Item, it doesn't compile. :

[code]

### Expected behaviour

It should compile

### Code sample

[code]

### What have you tried

Changing the definition of the ItemProps in typings/components/Drawer.d.ts

[code]

But I don't know if it should be a react-native definition that should be modified instead.

### Your Environmen

[2018-11-21 13:09] satya164 commented on #666
Can you send a PR adding it?

[2018-11-21 13:48] aaska commented on #666
@satya164 , Not quiet sure if I've done this right, but I've send you a PR.

[2018-11-21 13:52] saharjedidi commented on #321
Please can you you give me the code of TextInput in RTL mode
thanks

[2018-11-22 02:18] geminiyellow opened #668 "accessibility warning when use in `react-native-web`"
### Current behaviour

use `FAB` in `react-native-web` , this warning show in console

[code]

### Expected behaviour

### Code sample

clean console

### Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/929878/48877744-ee208f00-ee47-11e8-84b9-83fad1646f58.png)

### What have you tried

create a new issue

### Your Environment

| software              | version
| ---

[2018-11-22 02:33] geminiyellow commented on #668
hmm. ok , i update `what have i tried`,

have read the code, and know this warning is cause by `icon`, and i can use a `Icon` from `react-native-vector-icon` or a function to solve it.

code is here:

https://github.com/callstack/react-native-paper/blob/1d9340954fe7be000606798d7720fcffd6b538d7/src/components/Icon.js#L123

but when i use `string` source, i dont want to see the warning too.

if can

[2018-11-22 07:03] geminiyellow commented on #668
and same warning happen in `Card`

[code]

[2018-11-22 09:13] saharjedidi opened #669 "Please can you you give me the code of TextInput in RTL mode"
thanks @ferrannp
I want to support icon visible password in the textInput

_Originally posted by @saharjedidi in https://github.com/_render_node/MDEyOklzc3VlQ29tbWVudDQ0MDY2OTAyMg==/timeline/issue_comment#issuecomment-440669022_

[2018-11-22 09:18] saharjedidi commented on #656
<TextInput
  label='password '
        mode='outlined'
        secureTextEntry='true'
        underlineColorAndroid={'rgba(0,0,0,0)'}
        style={this.getStyle().TextInp}
         text='white'
        direction ='rtl'
        value={this.state.text}
        editable= 'true'
        onChangeText={password => this.setState({ password })}
        underlineColor='transparent'
        editable= 'tru

[2018-11-22 09:19] Trancever commented on #668
Hi @geminiyellow Would you like to submit PR with a fix?

[2018-11-22 09:21] Trancever commented on #656
@sritharanpalani  You can change `primaryColor` in your theme, or as @saharjedidi suggested, pass theme prop to component.

[2018-11-22 09:21] #656 closed

[2018-11-22 09:41] Trancever commented on #321
@saharjedidi What do you mean exactly saying give me the code?  It's an open source project so feel free to fork/clone it and  use it according to your needs.

[2018-11-22 10:17] saharjedidi commented on #321
@Trancever
this is my code
<TextInput
        label=' كلمة المرور'
        mode='outlined'
        secureTextEntry='true'
        underlineColorAndroid={'rgba(0,0,0,0)'}
        style={this.getStyle().TextInp} text='white'
        direction ='rtl'
        value={this.state.text}
        editable= 'true'
        onChangeText={password => this.setState({ password })}
        underlineColor='transpar

[2018-11-22 11:19] ferrannp commented on #173
We'll split this in different issues.

[2018-11-22 11:19] #173 closed

[2018-11-22 11:19] ferrannp opened #670 "Add Detox for example folder"

[2018-11-22 11:21] ferrannp opened #671 "Add react-native-web to our example"

[2018-11-22 23:16] codypearce commented on #658
@ferrannp In the `What you have tried` section above I mentioned this solves some of the issues but not all of them. The snack above also has `Text` as a child of the `Button` component, as well as this new one so you can see more clearly https://snack.expo.io/Sytd8hE0m.

<img width="1219" alt="snack 2018-11-22 16-05-51" src="https://user-images.githubusercontent.com/12564956/48924000-cd206400-ee7

[2018-11-23 03:51] eightyfive commented on #668
What's to fix?

Seems like a legit attribute (iOS only):
https://facebook.github.io/react-native/docs/accessibility#accessibilityelementshidden-ios

I have the same problem but I'm wondering if it's more `react-native-web` responsibility to fix this.

[2018-11-23 04:10] eightyfive commented on #668
FYI

https://github.com/necolas/react-native-web/issues/1187

[2018-11-23 08:21] Trancever commented on #658
@codypearce We are trying to strictly follow Material Design Guidelines and this Button that you'd like to use does not follow those guidelines. Of course, we could add few more props to make button component more flexible but on the other hand we want to keep the api as little as possible. One solution to your problem could be - copy all the button component's code from our library and adjust it

[2018-11-23 11:11] codypearce commented on #658
@Trancever

I can definitely respect this goal, however it is possible to both follow Material Design Guidelines strictly and provide flexibility for users who need something that deviates slightly. This wouldn't effect users who want to follow it strictly while providing a great benefit to those who need this flexibility.

I respect the goal for simplicity and flexibility is a trade off for simpl

[2018-11-23 13:25] ViktorJH opened #675 "Icons appear as white boxes"
### What's currently happening?

[BottomNavigation example](https://callstack.github.io/react-native-paper/bottom-navigation.html) icons don't load, just show white boxes.

### What do you expect to happen?

BottomNavigation example should display icons

### Code sample

`import * as React from 'react';
import { BottomNavigation, Text } from 'react-native-paper';

const MusicRoute = () => <Text>Mu

[2018-11-23 13:29] satya164 commented on #675
Yeah, icons are broken on Snack for some reason. Need to investigate why. They work fine locally though.

[2018-11-23 13:50] satya164 commented on #658
Honestly the component you're trying to build looks so different from a button component that it doesn't make a lot of sense to use `Button` component as a base for that. The component that looks closest to what you have is the `TextInput` component, and you could probably achieve it by using the `TextInput` component.

If you define buttons as things you click on, a lot of things can be considere

[2018-11-23 15:21] #675 closed

[2018-11-23 17:52] codypearce commented on #658
@satya164

This seems somewhat like an exaggeration, this is an dropdown component most close to the `outlined` `Button.` Though it is a "select" component almost all libraries use a `Button` component to create dropdown:

https://www.muicss.com/docs/v1/css-js/dropdowns Button used to active menu
https://material-ui.com/demos/menus/ Buttons used to active menu
https://materializecss.com/dropdown.h

[2018-11-26 01:37] geminiyellow commented on #668
opps, thanks all, waiting `rn4w`

[2018-11-26 03:47] geminiyellow commented on #665
hey, @ferrannp , i think just render a indicator in FAB's icon will finish this question.
sorry.

[2018-11-26 03:47] #665 closed

[2018-11-26 03:54] geminiyellow opened #677 "how to custom style in `FAB.Group`"
### Current behaviour

from `L301-L313`  we can see there is no prop set the root FAB's style

https://github.com/callstack/react-native-paper/blob/3bcda083ba75673a9dd85bff6494f7aeb142152d/src/components/FAB/FABGroup.js#L301-L313

but in here

https://github.com/callstack/react-native-paper/blob/3bcda083ba75673a9dd85bff6494f7aeb142152d/src/components/FAB/FABGroup.js#L282

we can change the sub fab

[2018-11-26 04:54] satya164 commented on #677
Have you tried the color prop? https://callstack.github.io/react-native-paper/fab-group.html#color

[2018-11-26 06:31] geminiyellow commented on #671
yep, hope we can get an example for react-native-web.
i think cause by react-native version, there are too much red warning when use this in react-native-web.

[2018-11-26 09:19] zRelux opened #678 "Put three FAB in a row."
I tried to display three FAB in a row but instead, they went on a new line. Another question is there anyway to display the text under the icon like youtube's button?

### Current behaviour

Each FAB takes a line.

### Expected behaviour

Three FAB displayed in a row.

### Code sample

[code]

### Screenshots (if applicable)

![image-1](https://user-images.githubusercontent.com/23509971/49004339-f

[2018-11-26 10:22] satya164 commented on #677
To change the background color of the FAB you can pass the `accent` color in theme:

[code]

Though it'll be useful to add a `fabStyle` prop which passes the styles to the underlying fab.

[2018-11-26 12:41] sritharanpalani opened #679 "Helper Text not work with TextInput Outlined"
### Current behaviour
I am using TextInput with Mode="outlined" and helper text, if helper text appear it does not change the textinput color as per the design in the React native paper

### Expected behaviour

Color needs to be changed as per in the design doc , (TextInput color changed to red in case helper text shows )

### Your Environment

| software              | version
| -----------------

[2018-11-26 12:42] satya164 commented on #679
Can you post a repro on https://snack.expo.io?

[2018-11-26 12:57] sritharanpalani commented on #679
https://snack.expo.io/@sritharan04/try-out-paper-error

[2018-11-26 13:04] sritharanpalani commented on #679
@satya164 i found that , i got that changing the error mode by using property call error on TextInput

[2018-11-26 15:29] #679 closed

[2018-11-26 16:58] jason7toxic opened #681 "App crash when render barcode"
### Current behaviour

Initially my app running smoothing with barcode render perfectly, but after install react-native-paper and try to import a component, my app crashed, please help

I'm using this library to render the barcode --> react-native-barcode-pdf417

After import provider, app crashed.
`import { Provider as PaperProvider } from "react-native-paper";`

![screenshot_1543250993](https://

[2018-11-26 17:03] satya164 commented on #681
Can you post the full code?

[2018-11-26 17:17] jason7toxic commented on #681
@satya164
Kindly refer this repo for demo .. thanks
[https://github.com/jason7toxic/testApp](url)

[2018-11-26 17:22] satya164 commented on #681
Seems to work fine for me: https://snack.expo.io/ryD1njKAX

[2018-11-26 17:23] satya164 commented on #681
You can run `adb logcat` in a terminal to see the crash logs.

[2018-11-26 17:52] jason7toxic commented on #681
@satya164 Is that possible due to I'm building with native code?

[2018-11-26 17:54] satya164 commented on #681
Impossible to tell without crash log.

[2018-11-26 18:00] jason7toxic commented on #681
@satya164 Is this the crash log .. sorry not familiar with adb logcat

https://raw.githubusercontent.com/jason7toxic/testApp/master/log.txt

[2018-11-26 18:16] jason7toxic commented on #681
Simulated using expo cli, working fine .. need help on native code.

Thanks

[2018-11-26 18:27] jstansbe opened #682 "Add onPress prop on appbar content"
Can the <Appbar.Content /> component have onPress?

[2018-11-27 03:10] geminiyellow commented on #677
hmm... ok, can change it now. but i definite want a `fabStyle` or something like `style={{ fab: {} }}`.
or , doc it in https://callstack.github.io/react-native-paper/fab.html#style

Close: #677

[2018-11-27 03:10] #677 closed

[2018-11-27 04:18] jason7toxic commented on #681
@satya164 Re-upload full native build source, sometime prompt this error instead of app crash now.

https://github.com/jason7toxic/testApp

![screenshot_1543292133](https://user-images.githubusercontent.com/9715369/49058323-7a62f580-f23e-11e8-821c-8a8916d6d330.png)

[2018-11-27 13:08] raajnadar commented on #682
No you can't  but what are you trying to achieve??

[2018-11-27 13:41] raajnadar commented on #678
Hey, Paste a issue reproducing snack

[2018-11-27 17:37] jstansbe commented on #682
I have a flat list, when the user clicks the app bar title (appbar.content)
I want to scroll the user to the very top of the flatlist.

Wrapping appbar.content in something that can handle an onPress event
strips the style

On Tue, Nov 27, 2018, 5:08 AM Rajendran Nadar <notifications@github.com
wrote:

[2018-11-27 17:47] satya164 commented on #682
@jstansbe do you want to send a PR adding the feature? we can wrap it in a `TouchableWithoutFeedback`

[2018-11-28 08:43] luissmg commented on #678
Hey. You should wrap the `FAB`'s is a `View` and style it accordingly.

[2018-11-28 12:00] saharjedid commented on #375
@iyadthayyil i have a wrong position of label when i use the RTL mode please how can i fix it ?
![error](https://user-images.githubusercontent.com/43675705/49150539-7c47ba00-f30d-11e8-8628-e47c8f57dba0.png)
this is my code
<TextInput
            mode='outlined'
            label=' رقم بطاقة التعريف الوطنية'
            numberOfLines={1}
            style={this.getStyle().TextInp}
            theme

[2018-11-28 12:46] #678 closed

[2018-11-28 14:46] RajenderDandyal commented on #639
getting the same warning .. multiple times when app starts ...
any clue ..How to remove this warning
using Native-base custom theme + RNv0.57 +RNNv2

[2018-11-28 14:59] satya164 commented on #639
@RajenderDandyal It's not a bug. You can ignore it: https://github.com/facebook/metro/issues/287

[2018-11-28 17:55] jstansbe commented on #682
How does this example look?
[code]

[2018-11-29 03:09] amsb commented on #671
I'm not sure if this is responsive to the issue, but we've been experimenting with react-native-web and found that while create-react-app will helpfully alias react-native-web, many react-native packages are not distributed in compiled form. For example, react-native-paper appears to work fairly well with react-native-web but can't be easily added to a create-react-app project. To fix this issue a

[2018-11-29 06:57] abn-volk opened #686 "Feature request: Customisable numberOfLines for List.Item"
### Current behaviour

`List.Item`'s title and description texts/components are [wrapped inside a `Text` with fixed `numberOfLines`](https://github.com/callstack/react-native-paper/blob/0ad98f3bf2c397c12e258927b5bdd504ebf9f275/src/components/List/ListItem.js#L97). As a result, long text elements are always cut off (even when using custom text components with `numberOfLines` set).

### Expected beh

[2018-11-30 02:59] Wilson-Lim opened #687 "IconButton appearing as "?""
### Current behaviour
![image](https://user-images.githubusercontent.com/15623614/49265733-5269d100-f48e-11e8-9998-a9a823b7fbf3.png)

### Expected behaviour
Trying to use "calendar_today" in Material icons, and many other icons, some are appearing, and some are just "?"

Is there a list of whats supported and not ?

### Code sample
<IconButton
          icon="calendar_today"
          style={style

[2018-11-30 11:12] mehulmpt commented on #657
No its still same @ferrannp

[2018-12-01 20:07] mmiguerodriguez commented on #631
UPDATE THE DOCS https://callstack.github.io/react-native-paper/bottom-navigation.html

[2018-12-01 23:47] lamecksilva opened #688 "No way to change underline focused color on TextInput without affecting other colors"
I tried to change the cursor color in the textinput but it appears to underline, how to disable the underline? or leave it transparent?

[2018-12-02 14:54] b3u opened #689 "App fails to compile with react-native-web"
I'm trying to use *react-native-paper* in conjunction with *react-native-web*. [React-native-web](https://github.com/necolas/react-native-web)  is an npm package which aliases react-native, and allows you to run react-native apps in the browser (ie: no simulator). It renders components as android, and it uses react-native v0.55.

### Current behaviour
When I run the app without using *react-native

[2018-12-02 16:37] raajnadar commented on #687
This means the icon is not available..

[2018-12-02 17:09] satya164 commented on #689
@b3u you need to configure `babel-loader` to transpile `node_modules` or `react-native-paper`:

[code]

[2018-12-02 17:09] #689 closed

[2018-12-02 17:14] satya164 commented on #687
We use `MaterialIcons` from https://github.com/oblador/react-native-vector-icons. So only the icons available there are supported.

[2018-12-02 17:15] satya164 commented on #688
Can you give some more info on what you did?

[2018-12-02 17:30] b3u commented on #689
@satya164 So I copy and paste this into my .babelrc?

[2018-12-02 17:35] lamecksilva commented on #688
#### I want remove this underline color from text input, but the prop "underlineColor" is not working

![screenshot_2018-12-02_14-34-54](https://user-images.githubusercontent.com/31391753/49342881-6b65b400-f63f-11e8-9bcb-54e31faddd20.png)

[2018-12-02 18:33] b3u commented on #689
[code]

[2018-12-02 18:35] satya164 commented on #689
@b3u your babel config looks good. it should work fine after you configure webpack like I pasted above.

[2018-12-02 18:35] b3u commented on #689
okay, thanks

[2018-12-02 18:53] b3u commented on #689
@satya164 Same error again.
Here's my `webpack.config.js`:
[code]

[2018-12-02 18:58] satya164 commented on #689
Can you try this:

 exclude: /node_modules\/(?!(MY-MODULE|ANOTHER-ONE)\/).*/,
[code]

[2018-12-02 19:04] b3u commented on #689
Same error.
[code]

[2018-12-02 19:05] satya164 commented on #689
do you have a link to a GitHub project I can try?

[2018-12-02 19:06] b3u commented on #689
https://github.com/b3u/my-web-app

[2018-12-02 19:43] satya164 commented on #689
@b3u seems you use `create-react-app`. Unfortunately, CRA doesn't allow you to customize the webpack or babel configs. You might want to use Webpack directly.

[2018-12-02 19:47] b3u commented on #689
Thanks for your time. So what would I be doing differently? I don't know what I'm doing with neither webpack nor babel.

[2018-12-02 19:52] satya164 commented on #689
Maybe this can help: https://www.valentinog.com/blog/react-webpack-babel/

Check the first 2 parts (setting up webpack and setting up babel)

[2018-12-02 19:56] b3u commented on #689
Will do

[2018-12-02 20:55] satya164 commented on #689
@b3u seems to be issue on your system. Try restarting it. Also check https://unix.stackexchange.com/questions/13751/kernel-inotify-watch-limit-reached

[2018-12-03 12:18] sido378 opened #690 "Ability to disable FAB Group overlay when open"
### Current behaviour

When a FAB.Group is opened, there is an overlay preventing taps on the rest of the UI.

### Expected behaviour

I would like to be able to decide whether I want this overlay or not

### Code sample

Something like
[code]

### What have you tried

There are no properties documented that would enable this behaviour right now, and a short look at the code didn't give me any ins

[2018-12-03 14:39] b3u commented on #689
@satya164 Still having issues. I get the same original error message when running `npm run build` as `npm start`. I think it's how set up webpack. If you don't mind, can you please fork my repo, set up babel and webpack, and post the link? I think that'll help me alot.

[2018-12-03 15:23] b3u commented on #689
When I run npm build, I get the following error:
[code]

[2018-12-03 18:21] satya164 commented on #689
@b3u Here is a pr with the build fixed: https://github.com/b3u/my-app-3/pull/1

There's another issue with build due to the following in `index.html`: `<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">`. Commenting it out makes the build pass.

[2018-12-03 18:32] b3u commented on #689
![image](https://user-images.githubusercontent.com/39805353/49393619-c2cb5900-f6ff-11e8-8c8b-48724e91317a.png)
What did you change? I tried `npm start` and `npm run build`

[2018-12-03 18:39] b3u commented on #689
Thank you so much. What did it?

[2018-12-03 18:46] b3u commented on #689
Also, do you think you can reference this issue on the readme so that others can get helped from it?

[2018-12-03 18:51] satya164 commented on #689
You can see it in the PR diff. It's working for me. Maybe you're not on the correct branch?

<img width="682" alt="screenshot 2018-12-03 at 7 49 03 pm" src="https://user-images.githubusercontent.com/1174278/49394661-ce854280-f734-11e8-917b-fa22b3acab9c.png">

It's primarily changing `.babelrc` to `babel.config.js` as Babel 7 doesn't transpile `node_modules` with `.babelrc`. I also added `url-loade

[2018-12-03 18:53] satya164 commented on #689
We're planning to publish already transpiled code to NPM so the babel stuff won't be necessary, but yea, we'll add a guide to use with react-native-web soon.

[2018-12-03 20:16] b3u commented on #689
Thank you so much for your help. I was ready to give up.

[2018-12-03 20:35] imerkle commented on #657
Same

[2018-12-04 12:36] imerkle opened #691 "TextInput label has a white background"
How can i not have a white background in label of outlined TextInput when background is black

[2018-12-04 14:13] satya164 commented on #691
`<TextInput theme={{ colors: { background: 'black' } }} />`

[2018-12-04 14:13] #691 closed

[2018-12-08 09:50] thebergamo commented on #417
Would you guys provide any example to workaround this?

[2018-12-08 09:58] thebergamo commented on #420
If we look to other libraries for example: [mastermoo/react-native-action-button](https://github.com/mastermoo/react-native-action-button) they basically add the button in a fixed position and the user can control it with some props.

Instead of using portal to render the FAB or FAB.Group, we can just have it on top of the screen belonging to this tree but on top of others surfaces. This for sure

[2018-12-08 15:57] adamnator92 commented on #652
issue resolve on latest react-native-paper

[2018-12-08 15:57] #652 closed

[2018-12-10 11:31] ferrannp commented on #690
@sido378 can you show us the use case? Usually we do not support features that are not in material design guidelines so we can keep the library small.

[2018-12-10 12:50] littlehome-eugene commented on #689
I still have the same problem.

my babel.config.js

[code]

and my  webpack.config.js (v2)

      {
        loader: 'babel-loader',
        exclude: /node_modules(?!\/react-native-paper)/,
        test: /\.js$/,
        options: {
        },
      },

[2018-12-10 12:52] satya164 commented on #689
@littlehome-eugene you need `@babel/preset-flow`

[2018-12-10 12:56] littlehome-eugene commented on #689
Thanks for the lightening quick response

As soon as I added that in, I get different errors
[code]

[2018-12-10 12:58] satya164 commented on #689
@littlehome-eugene check @b3u's config

[2018-12-10 13:39] littlehome-eugene commented on #689
I hadd to add the following line

  extensions: [".web.js", ".js"]

I also found something different with this line

`
/node_modules(?!\/react-native-paper|react-native-vector-icons)`

Although it doesn't work, I think the regex is bit off maybe. (I put ` exclude: /node_modules(?!\/react-native-vector-icons)/,` separately and it worked..)

[2018-12-11 13:22] ayaanmd21 commented on #657
same here

[2018-12-11 13:23] ayaanmd21 commented on #657
please fix it

[2018-12-11 13:30] raajnadar commented on #657
No one can help you without an issue reproducing snack or github repo.

[2018-12-11 13:52] imerkle commented on #657
Its fixed now atleast for me

[2018-12-12 09:35] raajnadar commented on #668
Closed because this is not a react-native-paper bug!

[2018-12-12 09:35] #668 closed

[2018-12-12 09:49] raajnadar commented on #686
The feature that you are asking is not under material design guidelines. Can tell me what are you trying to do? Maybe I can give you a better alternative solution.

[2018-12-13 01:47] littlehome-eugene opened #695 "drawer sample code?"
There's a Drawer.Item and Drawer.Section .

But I don't get how to show or hide drawer itself.. There's no sample for drawer in the example directory either.

https://github.com/callstack/react-native-paper/issues/358 mentions removing Drawer component,
so how do we show the drawer?

[2018-12-13 10:11] abn-volk commented on #686
I wanted to show some list items with long text, but the text is always cut off. I've switched to a View and it's working fine now.

Oh, and I didn't realise the 3 line limitation is to comply with the MD guideline. I'll close this then.

[2018-12-13 13:06] ayaanmd21 commented on #657
how

[2018-12-13 13:06] ayaanmd21 commented on #657
in snack its working fine

[2018-12-13 13:36] raajnadar commented on #657
Generate this issue in a test repository.

[2018-12-13 13:48] saharjedid opened #696 "My own Theme isn't working in HelperText"
<HelperText
theme={{ colors: {placeholder: 'green',text: 'green',primary: 'green'}}}
type="error" visible={!this.state.text.includes('@')} >
Invalid Email
</HelperText>

[2018-12-13 13:51] saharjedid commented on #663
@raajnadar  i fix the problem
i used Type='outlined'
but it's mode='outlined'
this is my fault

[2018-12-13 14:44] #663 closed

[2018-12-13 15:08] niksgupt opened #698 "base64 colored icon does not work"
### Current behaviour

I am trying to use the IconButton to display a colored google icon but it does not display the colored icon.

### Expected behaviour

Icon should be displayed as it is i.e. without specifying the color and if color is specified only then it should be used.

### Code sample

[code]

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software

[2018-12-13 22:15] satya164 commented on #698
Please read the docs: https://callstack.github.io/react-native-paper/icons.html

[2018-12-13 22:15] #698 closed

[2018-12-14 07:49] gssinghgautam opened #699 "How to change the label color in text input when its inactive"
### Current behaviour

### Expected behaviour

Label color is black and changed to white once TextInput is active

My Theme
export const EditTextTheme = {
  dark: true,
  colors: {
    primary: "#ffffff",
    accent: "#ffffff",
    background: "transparent",
    text: '#ffffff'
  }
};

### Code sample

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software

[2018-12-14 08:05] niksgupt commented on #698
@satya164 thanks for the information, sorry I was so focused on button that i forgot to check the docs for Icon. Also you dont have any tag in stackoverflow. I tried to post this over stackoverflow but could not find any tag related to react-native-paper.

[2018-12-14 09:56] ayaanmd21 commented on #657
there are two label which label text color is transparent that is creating shawdow

[2018-12-14 18:08] TheRealNate commented on #657
Here's a Snack showing the issue @Wilson-Lim (and myself) are experiencing.

https://snack.expo.io/@natekidzideaz/Y291cm

If you look closely at the label when TextInput is focused or has text inside it, you'll see the grey rectangle behind the label text.

[2018-12-14 18:14] TheRealNate commented on #657
@Wilson-Lim Seems that the reason this is happening is related to configuration.

See https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput.js#L49
[code]

This means that if you haven't configured backgroundColor correctly, it will assume light grey.

This however is unrelated to the issue @mehulmpt is having.

[2018-12-15 09:18] andrictham commented on #590
@ferrannp

Right now, if you want to set San Francisco as a font on iOS, you can override the fonts with `System` in your custom theme, like so:

[code]

Then do

[code]

The downside of this is, all the fonts will be in the default weight. The reason is, iOS sets font weight using the `fontWeight` style property, but Android doesn’t – it takes in a different `fontFamily` per font weight.

The way

[2018-12-15 12:03] raajnadar commented on #699
Hey, Post details according to the issue template.

[2018-12-16 16:18] marcfielding1 opened #701 "Open FAB.Group open downward"
### Current behaviour

When I position a fab group top right hand of the screen by giving it a marginBottom sufficient to do so - the FAB group still opens upward

NOTE This is code straight from Demo.
### Expected behaviour

FAB group should open downward.

### Code sample

[code]

### Screenshots (if applicable)

![image uploaded from ios 3](https://user-images.githubusercontent.com/2651211/5005

[2018-12-16 17:39] Pushplaybang commented on #695
Also curious about this, surprised to not see a drawer component, is there an well supported alternative?

[2018-12-16 20:33] nwaughachukwuma opened #702 "Custom style in searchbar"
Please how can I use the style property in searchbar. It seems the default style is overriding my custom style

[2018-12-17 10:36] satya164 commented on #590
I think we need to change our theme to have these like:

[code]

However, it'll be a breaking change. For now, the workaround is to bundle those fonts yourself.

[2018-12-17 11:11] raajnadar commented on #702
https://callstack.github.io/react-native-paper/searchbar.html#style

It accepts style prop, What is not working?? Throw a snack.

[2018-12-17 14:27] ferrannp opened #703 "Use react-native-gesture-handler for buttons"
In order to fix #500, it might be an option.

[2018-12-17 14:55] andrictham commented on #590
@satya164 How would that workaround work, exactly?

[2018-12-17 15:57] marcfielding1 commented on #701
Sorry to bump this but we might have to move to a third party menu if there's no movement on this as we're on a very tight release schedule, anyone got any ideas please?

[2018-12-17 18:05] nwaughachukwuma commented on #702
Hi @raajnadar find below my implementation of the Searchbar

[code]

With this, the fontSize is not responding to my custom style, although it works with the elevation

[2018-12-18 00:40] gawrysiak commented on #702
@nwaughachukwuma this seems to be correct since the Searchbar's implementation has multiple components inside. The style prop is applied just to the top wrapper and not the text component. It's maybe a good idea to implement this somehow though

[2018-12-18 02:36] nwaughachukwuma commented on #702
Hi @gawrysiak thanks for clarifying. I hope this is added in the near future

[2018-12-18 08:16] #682 closed

[2018-12-18 09:57] saharjedid commented on #696
@iyadthayyil any answer ?

[2018-12-18 12:11] Trancever commented on #696
@saharjedid When `type="error"` it takes color from `error` property of `colors` object and when `type="info"` it takes color from `text` property.

[2018-12-18 13:59] saharjedid commented on #696
can i change the color of error ? @Trancever thanks

[2018-12-18 14:02] saharjedid commented on #696
thanks a lot @Trancever

[2018-12-18 16:23] brunotalhate commented on #590
Following @satya164 comment, the workaround may return a style object with fontFamily and/or fontWeight instead of the fontFamily attribute. Looks like the change lies in change the fontFamily to a font config.

Using the `Button` component as example, the actual style:
[code]

May become:
[code]

[2018-12-18 17:47] #696 closed

[2018-12-19 12:34] ferrannp commented on #701
@marcfielding1 if this is not in material design guidelines, we will probably not implement it.

[2018-12-19 12:36] ferrannp commented on #695
This is how we do it in the `example`: https://github.com/callstack/react-native-paper/blob/dec191f5c714a223fca43fd4fd3cd064971d9db5/example/App.js#L24-L43 and https://github.com/callstack/react-native-paper/blob/dec191f5c714a223fca43fd4fd3cd064971d9db5/example/DrawerItems.js.

[2018-12-19 12:36] #695 closed

[2018-12-19 12:37] #701 closed

[2018-12-19 12:48] zth commented on #548
@bhaskarmurthy did you find any solution to that? I have the same issue, the ripple more or less fills the entire screen instead of just the thing pressed.

[2018-12-19 13:17] scabezasiq opened #705 "Set background color on active tab"
Is possible change the background color only for an active tab on BottomNavigation?

[2018-12-19 14:02] bhaskarmurthy commented on #548
@zth ended up forking rn-paper and updating the `Button.js` to set `borderless: false` by default, and accept a prop for `borderless` to override the behaviour if desired.

[2018-12-19 14:04] satya164 commented on #548
@bhaskarmurthy `borderless={false}` doesn't respect the border radius of the button and it still extends outside the button at corners. we have temporarily disabled ripple effect on Android P because there are too many issues until we figure how to fix/workaround the issue.

[2018-12-19 14:13] bhaskarmurthy commented on #548
@satya164 thanks for the quick response! you're right, it does extend to the whole background if a radius is supplied - in my case I needed the ripple regardless of that behaviour, and having an override at least provided that option if needed. (also why i closed my PR into this as a fix since I figured you guys are already aware). thanks for the awesome work on this library :)

[2018-12-19 14:22] satya164 commented on #548
@satya164 the reason we don't wanna provide prop because this is a bug which occurs in Android P and regardless of if you set `borderless` to `false`, it doesn't entirely fix the issue. we did some investigation and it looks like we can use https://github.com/kmagiera/react-native-gesture-handler which seems to work properly in all Android versions.

[2018-12-19 22:55] jstansbe commented on #682
Thanks!

[2018-12-20 12:30] wimgoeman opened #706 "RadioButton example not showing value"
### Current behaviour

When using the RadioButton component on Android (not tested in iOS yet) the value prop seems to be ignored. The radio buttons are shown, but no text is displayed.

### Expected behaviour

According to the docs it seems value prop should represent the text to be shown next to the radio button. I suspect this text would respond to touch as well. However, the sample in the docu

[2018-12-20 13:59] satya164 commented on #706
The `value` prop doesn't display any text. It's for the value the radio button represents. You must display the text yourself.

[2018-12-20 13:59] #706 closed

[2018-12-20 14:37] syedabuthahirm opened #707 "Unable to change a clear icon in Searchbar"
### Current behaviour

There's no prop to change a clear icon in Searchbar Component

### Your Environment

| software              | version
| --------------------- | -------
| react-native-paper    | 2.0.1

[2018-12-20 14:41] #344 closed

[2018-12-24 09:53] ManigandanRaamanathan opened #710 "Keyboard auto closes/loose focus within modal"
### Current behaviour

Keyboard auto closes within modal while typing on text input that located within the modal. (Happens each time setState executes within the textInput, the input looses focus)

### Expected behaviour

The keyboard should not closes until I/user manually closes it

### Code sample

Pretty much no sample code. I follow sample code provided from the documentation

### What have

[2018-12-24 11:02] oxbits opened #711 "Icons Missing In Example Snack"
### Current behaviour

Try it out with Snack:

https://snack.expo.io/@satya164/github.com-callstack-react-native-paper:example

### Expected behaviour

Icons should appear.

### Screenshots (if applicable)

<img width="313" alt="screen shot 2018-12-24 at 5 23 47 am" src="https://user-images.githubusercontent.com/2498359/50397843-1817ea80-0741-11e9-8334-74f88643319a.png">

[2018-12-24 17:10] #710 closed

[2018-12-25 03:27] nwaughachukwuma opened #712 "Having onKeyPress on Searchbar and TextInput Components"
Hi Team,

It will be nice if there's is an onKeyPress event for some components. A simple scenario is when one is using the searchbar and the soft key shows up with a search key as part of the soft key. It will be nice if the user can use both search key options (one on the component and other on the soft key) to perform searching.

If this already exists, kindly point me to it. Thanks

[2018-12-25 20:14] ducaale opened #713 "Unable to resolve module `@expo/vector-icons/MaterialIcons`"
### Current behaviour

when i install react-native-paper and run the app, i receive the following error:

bundling failed: Error: Unable to resolve module `@expo/vector-icons/MaterialIcons` from `C:\Users\shara\Desktop\projects\AwesomeProject\node_modules\react-native-paper\src\components\Icon.js`: Module `@expo/vector-icons/MaterialIcons` does not exist in the Haste module map

### Expected behav

[2018-12-26 18:04] #713 closed

[2018-12-27 03:37] satya164 commented on #711
Should be fixed after latest import

[2018-12-27 03:37] #711 closed

[2018-12-27 14:19] MLDimitry opened #714 "Support styling with Styled Components"
### Current behaviour

From the docs, styling looks to be supported either using the theme prop or the style prop. One example below:

[code]

### Wanted behaviour

It would be awesome if we could style with styled components

[code]

[2018-12-27 14:57] MLDimitry commented on #714
You are right, my mistake, hadn't even tried since it wasn't mentioned in the docs.

[2018-12-27 14:57] #714 closed

[2018-12-27 15:05] egor-a-trubnikov-panov opened #715 "How to add a shadow for BottomNavigation?"
I need to add a shadow for BottomNavigation on top. But I can't do that. I added style to barStyle. But it has no effect.
[code]

[2018-12-27 18:11] 0x01Brain commented on #408
I had the same problem, where I actually was wrapping the root component in a provider and I was using a custom child component that uses Dialog component inside it, I had to wrap the <Dialog> component with <Portal.Host> instead of <Portal>.

[2018-12-29 12:19] ocarreterom opened #716 "List.Subheader component"
Add a new component for lists subheaders so it can be use in [FlatList.ListHeaderComponent](https://facebook.github.io/react-native/docs/flatlist#listheadercomponent) and [SectionList.renderSectionHeader](https://facebook.github.io/react-native/docs/sectionlist#rendersectionheader) detached from `List.Section`.

https://github.com/callstack/react-native-paper/blob/38b729597a9bbf1721b4d9b5e8ec47a4d

[2018-12-30 02:05] MohammadNehru opened #717 "When focus to other TextInput the text in the first one disappeared?!"
`<TextInput
              mode = 'outlined'
              keyboardType='email-address'
              label='Email'
              autoCorrect={false}
              autoCapitalize='none'
              theme={{ colors: { background: '#ffffff', primary: '#1576d1' }}}
              onChangeText={(email) => this.setState({email})}
            />

            <TextInput
              mode = 'outlined'

[2018-12-30 11:41] Trancever commented on #717
You need to pass value prop.

[2018-12-30 11:57] #717 closed

[2019-01-05 16:50] fgagneten commented on #657
I have the same problem. Solution for that?

[2019-01-07 14:38] #124 closed

[2019-01-10 09:31] koo27 opened #725 "Chips: how to change color of the selected ones?"
I can't figure out how to change the colors (background and text color) of the Chips that are selected.
I'm also using a specific Theme on the chips with the `selectedBackgroundColor` property but it doesn't affect anything at all.
The documentation doesn't say nothing regarding it either: https://callstack.github.io/react-native-paper/chip.html

Any hint?

Thank you

[2019-01-10 15:07] tlow92 opened #726 "Collision with Switch component when using TextInput with label"
### If someone has a hint on how to resolve this, I can provide a PR.

### Current behaviour

When TextInput with label is used the animation when blurring the TextInput seems to collide with the animation of the switch component.

![textinput_switch_with_label webm](https://user-images.githubusercontent.com/12113052/50977585-e2ba1d80-14f2-11e9-99d6-d921f0d35e75.gif)

### Expected behaviour

The b

[2019-01-11 21:06] bunyaminmrcn opened #727 "Error while building JavaScript bundle"
I cloned repository and followed the instructions in [https://github.com/callstack/react-native-paper/tree/master/example](url)
But i can't able to run demo app.
-yarn start opens Expo Developer Tools without any error. But while trying to open the emulator error occured like this.How to solve? (one of the solutions is adding @babel/runtime but not working)
### Current behaviour
Unable to resolve

[2019-01-12 10:32] bunyaminmrcn commented on #727
Empty_2 project new project created by expo edited both package.json . Original repo has same issue that shown

[2019-01-13 07:20] kabus202 commented on #420
Any update on this?

[2019-01-13 07:46] bunyaminmrcn commented on #727
Ok, waiting bug fix. Hope that have a good day. 👍

[2019-01-13 08:51] satya164 commented on #420
As of latest version, we don't wrap anything in `Portal` by default. You can position them on top of everything the way you want, either by using the provided `Portal` component, absolute positioning or your custom portal alternative.

[2019-01-13 12:41] bunyaminmrcn commented on #727
Yeaahh. I fixed this creating new expo project and some changes babel.config 👍 working version to latest expo sdk is here [https://expo.io/@mrcnbunyamin/Empty_2](url)

[2019-01-13 12:41] #727 closed

[2019-01-14 00:41] toddpi314 commented on #657
Same.

Android fix is to adjust this value to `27`: https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput.js#L20

I'm guessing this is theme related.

[2019-01-14 13:46] lukewalczak commented on #725
Hello @koo27, currently this functionality is not supported, but I'll add missing props soon.

[2019-01-14 21:32] peterchibunna commented on #288
Please any update on this?

[2019-01-16 19:13] TheRealNate commented on #657
@toddpi314 It seems like a lot of people are having this issue. Should this become a customizable value in the theming?

[2019-01-16 21:04] Zaporozhec7 commented on #451
@ferrannp  Why this issue is closed? I'm also faced similar errors

[code]

[2019-01-17 02:29] eduardobarbiero opened #732 "Drawer have the functionality of "tapToClose"?"
My drawer is not closing when clicking somewhere outside the drawer's area, does anyone have any idea what it might be?

Using lastest version.

[2019-01-17 11:22] ferrannp commented on #732
Can you post a snack?  We don't really have a `Drawer` component in Paper.

[2019-01-17 11:32] ferrannp commented on #726
I created this Snack: https://snack.expo.io/@ferrannp/paper-deposit-amount. I can't reproduce it.

[2019-01-17 11:58] eduardobarbiero commented on #732
In this snack, Drawer closing on tap, but where is this setting? :O
[Example React Native Paper Snack](https://snack.expo.io/@satya164/github.com-callstack-react-native-paper:example)

My application is not closing according to these example, and the code is very similar, so much that I started based on these screens.

[2019-01-17 21:13] ocarreterom commented on #716
@ferrannp Ok! I will try this weekend.

[2019-01-18 02:37] jsp3536 opened #733 "Textinput's placeholder disappears"
The textinput's placeholder disappears when clicking in the textinput and then clicking anywhere outside of the textinput using react-native-web
![capture](https://user-images.githubusercontent.com/9041314/51362064-b0cb2d00-1a97-11e9-806d-c6ec18295af0.PNG)

[2019-01-18 07:51] yaronlevi opened #734 "Textinput label bug on RTL"
I've just downloaded expo and there is a bug in the Textinput's labe.
Pixel 2 XL. Android 9. System language Hebrew.
![screenshot_20190118-094719](https://user-images.githubusercontent.com/5398977/51372675-9ed4a300-1b06-11e9-8d35-7315aa78ff4e.png)

[2019-01-18 09:37] lukewalczak commented on #734
Hello @yaronlevi 	, that issue was fixed with PR #721, but it's not released yet. For now you can your `master` branch and replace it once new version will be shipped.

[2019-01-18 09:54] satya164 commented on #734
Just published a new release.

[2019-01-18 09:54] #734 closed

[2019-01-18 11:37] makhataibar opened #736 "Searchbar keyboard closes after each entry in FlatList ListHeaderComponent"
### Current behaviour

when the text changes (onChangeText) in Searchbar the keyboard closes

### Expected behaviour

I expect the keyboard will not close after changing the text

### Code sample

<FlatList
          data={works}
          keyExtractor={item => item.id.toString()}
          renderItem={this._renderItem}
          ListHeaderComponent={() => (
            <Searchbar
              pl

[2019-01-18 16:45] G1anS opened #737 "TextInput editable prop doesn't work"
### Current behaviour

I can edit the not editable TextInput

### Expected behaviour

I shouldn't be able to edit the TextInput

### Code sample

[code]

### Screenshots

<img width="317" alt="screenshot 2019-01-18 at 17 29 31" src="https://user-images.githubusercontent.com/40580081/51400328-65bd2280-1b48-11e9-904c-6461818b70ec.png">

### Your Environment

| software              | version
| -----

[2019-01-18 18:13] TingAli commented on #573
I still get this error after wrapping with the Provider.

Any ideas

[2019-01-18 20:00] lukewalczak commented on #737
Hello @G1anS , you should use `disabled` props instead of `editable={false}`.

[2019-01-18 20:32] lukewalczak commented on #736
Hello @makhataibar 	, try render `ListHeaderComponent` directly as a React Element instead of a rendering a function.

[code]

More about that issue you can read [here](https://github.com/facebook/react-native/issues/13365)

[2019-01-18 20:41] satya164 commented on #736
Basically `FlatList` expects you to pass a React Component. When you pass an inline function like that, it creates a new component every render. When the component signatures differ (in this case the function reference), react will unmount the previous tree with the old component and mount a new tree with the new component. Due to this, all of the local state of the previous component is lost, suc

[2019-01-18 20:41] #736 closed

[2019-01-18 21:50] DAKZH commented on #657
This is happening because there are TWO labels on top of each other. One of them has color of background.

But it doesn't work on android because even if your background is white and color text is white, you will still see the text.

<img width="179" alt="2019-01-19 3 48 36" src="https://user-images.githubusercontent.com/4746394/51414566-22d96a00-1b9d-11e9-8c7b-55f2d4ec2b35.png">

The second label

[2019-01-18 21:56] Trancever commented on #573
@TingAli Please, provide [Snack](https://snack.expo.io/) that reproduces your issue.

[2019-01-18 21:56] idomoz opened #738 "Documentation doesn't have a favicon"
### Current behaviour

Documentation doesn't have a favicon

### Solution needed

add a favicon

[2019-01-18 22:10] DAKZH commented on #657
Remove this block:

{mode === 'outlined' && label ? (
          // When mode == 'outlined', the input label stays on top of the outline
          // The background of the label covers the outline so it looks cut off
          // To achieve the effect, we position the actual label with a background on top of it
          // We set the color of the text to transparent so only the background is visib

[2019-01-19 07:53] raajnadar commented on #737
This code snippet works

[code]
[Disabled input in react native paper](https://snack.expo.io/@raajnadar/disabled-input-in-react-native-paper)
[Reference](https://callstack.github.io/react-native-paper/text-input.html#disabled)

[2019-01-19 07:55] raajnadar commented on #733
Hey,
Please follow the issue template and add a live demo or a repository to check what is going wrong..

[2019-01-19 07:59] raajnadar commented on #732
Hey @eduardobarbiero,

What about sharing your routing code. I think you are not nesting the navigators properly.

[2019-01-19 15:10] ocarreterom commented on #716
There are some Flow errors when commiting.
[code]

[2019-01-19 21:01] Trancever commented on #716
@ocarreterom Create PR so we can have a look.

[2019-01-19 21:30] asifsha commented on #408
The error resolved if I use <Portal.Host>, but Dialog was not visible, so I wrap my root component with  <Provider> and warp <Dialog> with <Portal>.

[2019-01-19 22:35] satya164 commented on #716
Flow passes on our CI on master which means it should pass in a fresh clone. There's probably an error in your clone or something related to the yarn version. Regardless since these aren't related to your changes, you can safely ignore them

[2019-01-20 05:08] jsp3536 commented on #733
I created a repo [here](https://github.com/jsp3536/react-native-paper-textinput) that demonstrates the issue.  It appears the image component is some how effecting the textinput.  If you remove the image component then the placeholder will appear when you focus on the page.  A work around is to use the html img tag as it does not seem to cause a problem.

[2019-01-21 06:41] napolev opened #740 "parenthesis not properly located on: example/App.js"
On the following line the parenthesis are not properly located:
https://github.com/callstack/react-native-paper/blob/bcef4a60ba72669d51cd9418a341193c9bb0cfc8/example/App.js#L41

this is how it is right now:
drawerPosition: Platform.OS === 'android' && (I18nManager.isRTL ? 'right' : 'left'),

this is how it should be:
drawerPosition: (Platform.OS === 'android' && I18nManager.isRTL) ? 'right' : 'lef

[2019-01-21 08:09] napolev opened #741 "Typo: ButtomNavigationExample -> BottomNavigationExample"
There is a typo on the following line:

actual: ButtomNavigationExample
what should be: BottomNavigationExample

https://github.com/callstack/react-native-paper/blob/6785992d8f1c3003e213a6aab33fd1b579cbd93a/example/src/BottomNavigationExample.js#L33

Thanks!

[2019-01-21 08:39] Trancever commented on #741
@napolev Do you want to send PR? :)

[2019-01-21 11:35] satya164 commented on #732
You're using react-navigation for the drawer, so you should refer to React Navigation's docs. What you render inside drawer (`DrawerItems` from paper in this case) doesn't affect it. I'm closing this since this is not related to paper.

[2019-01-21 11:35] #732 closed

[2019-01-21 11:45] #741 closed

[2019-01-21 11:52] eduardobarbiero commented on #732
Sorry @satya164, but the Drawer is by paper.

My DrawerItems:
[code]
See in: https://github.com/callstack/react-native-paper/blob/c0f7f90e67a45a075d296f04a2412a600e309969/src/index.js#L19

[2019-01-21 11:55] raajnadar commented on #732
Actually the feature that you are asking is by default. And paper only provides UI elements. If you can generate a working snack I can help you mostly the issue is with drawer setup.

[2019-01-21 13:02] satya164 commented on #732
@eduardobarbiero paper doesn't provide a drawer component. `Drawer.Items` is the list of items you render inside the drawer component. The `Drawer` component comes from `createDrawerNavigator` from `react-navigation`

[2019-01-22 01:58] robertherber opened #745 "Add component-specific style configuration to theme"
Theming is great. But I'd like more granularity of making more specific configuration for specific component types throughout the entire application in an easy and intuitive way. Right now the granularity provided by the theming is limited and sometimes it's hard to understand which color maps to a specific component.

I'd suggest adding a new configuration type that applies styles to all componen

[2019-01-22 11:20] lukewalczak commented on #740
@napolev 	Can you create a PR with your solution?

[2019-01-23 10:00] peterchibunna commented on #288
- [ ] Good. Waiting for it to be released. #746

[2019-01-23 11:15] satya164 commented on #288
It's released!

[2019-01-23 15:57] luissmg commented on #740
#747 Fixed this. You can close this issue.

[2019-01-23 15:58] #740 closed

[2019-01-23 16:59] luissmg commented on #10
I am also using the one @marsonmao mentioned. It works just fine for both OS. I don't think there is MD specifications for this. What can be done is to create a component using a `TextInput` and when clicked it opens the picker. That's what I have done in my project

[2019-01-23 19:34] GlisboaDev commented on #737
Aren't these different properties and behaviors?
I'm having a similar issue here, where we don't want the `disabled` behavior and UI, but don't want the keyboard to come up (related to https://github.com/facebook/react-native/issues/14045) and the closest we can get is having `editable` set to `false`.

[2019-01-23 20:32] robbiemu commented on #293
I get this error running the example direct from GitHub.

steps to reproduce:

1. `git clone https://github.com/callstack/react-native-paper expo`
2. `cp expo/example expo-demo`, `cd expo-demo`
3. `yarn install` // errored out and requested I upgrade yarn so  .. I did that but then:
4. `yarn upgrade` `npm install` `nom audit` // success, and 0 vulnerabilities
5. `yarn install` // get the lock file

[2019-01-23 22:36] ocarreterom commented on #745
I'm agree with @robertherber and I think themig should be enhanced.
Also there are many components that use this piece of code:
https://github.com/callstack/react-native-paper/blob/dec191f5c714a223fca43fd4fd3cd064971d9db5/src/components/CheckboxAndroid.js#L89-L92

This can be moved to the theme configuration.

[2019-01-23 22:39] ocarreterom commented on #716
PR ready!

[2019-01-24 07:39] raajnadar commented on #234
I tried reproducing it in snack but it seems like the issue is fixed in paper v2.

https://snack.expo.io/@raajnadar/react-native-paper-multiline-texinput

So I think it is safe to close this issue.

[2019-01-24 07:39] #234 closed

[2019-01-24 07:43] raajnadar commented on #235
https://snack.expo.io/@raajnadar/react-native-paper-multiline-texinput

[2019-01-24 07:43] #235 closed

[2019-01-24 08:22] raajnadar commented on #602
Here we go! https://callstack.github.io/react-native-paper/badge.html

[2019-01-24 08:22] #602 closed

[2019-01-24 09:11] luissmg commented on #15
@ferrannp Correct me if I am wrong.
I think that with the current implementation of RN's `Slider` we can't customize it as needed to apply MD specifications.

[2019-01-24 09:54] luissmg commented on #282
As far as I can see, the example app is using `react-navigation`, right?
I think you should check [this[(https://reactnavigation.org/docs/en/stack-navigator.html#gestureresponsedistance) prop on their API. With this I think you can customize the distance from the left edge and try to fix this with it

[2019-01-24 11:38] satya164 commented on #282
@luissmg yes

do you want to send a PR? will be much appreciated :D

[2019-01-24 11:39] satya164 commented on #51
@luissmg can you create a proposal?

[2019-01-24 11:39] satya164 commented on #15
I think we'll need to implement our own using gesture handler.

[2019-01-24 12:00] luissmg commented on #282
Sure thing. PR to update the example app, right?

[2019-01-24 12:13] luissmg commented on #51
Sure thing. Will send you an email with some questions about this

[2019-01-24 13:56] satya164 commented on #282
Yup

[2019-01-24 14:58] luissmg commented on #726
Also tested the Snack in my phone and could no replicate this

[2019-01-25 02:00] robbiemu commented on #689
I can describe how to get react-native-paper working in expo.

1. `expo init --yarn --template blank demo-app`

-- `cd demo-app`

2. `yarn add react-native-web react-router-dom react-router-native react-app-polyfill react-art react-native-paper react-dom`

-- `yarn add -D react-scripts @babel/preset-flow @babel/plugin-proposal-class-properties`

3. `code package.json` and add scripts:

    "web":

[2019-01-25 17:08] alikazemkhanloo opened #757 "put all Typography components in a group in documentation"
### Current behaviour

Typography components are in seperate headings in docs
### Expected behaviour

They should be grouped together
### Code sample

### Screenshots (if applicable)

### What have you tried

### Your Environment

[2019-01-26 13:04] imerkle opened #759 "Unable to resolve signature of class decorator when called as an expression."
Error when using with decorators
[code]

[2019-01-26 19:20] douglaszaltron opened #760 "Suggestion: Many icons have both Material Design and iOS versions to provide Platform Continuity for users."
how do I disable the need to use the react-native-vector-icons library? I would like to use only the @fanqfanh which has the latest ionicons icons that differentiate between android and ios.
I found this approach quite interesting.
It could be something to include next to the project.

follows the repository.

https://github.com/fanqfanh/react-native-ionicons

[2019-01-26 19:37] satya164 commented on #760
https://callstack.github.io/react-native-paper/icons.html

[2019-01-27 13:31] satya164 opened #762 "DataTable is broken on React Native Web"
![image](https://user-images.githubusercontent.com/1174278/51801587-2b3a4080-2240-11e9-8db5-499ceddb6c25.png)

cc @jaulz

[2019-01-27 13:32] satya164 opened #763 "Arrow not centered vertically in single line accordion on React Native Web"

[2019-01-27 13:38] #671 closed

[2019-01-27 13:40] satya164 opened #764 "Toggle button icon rotates when switching on React Native Web"
![kapture 2019-01-27 at 14 40 21](https://user-images.githubusercontent.com/1174278/51801689-8456a400-2241-11e9-8cdb-d9825a87ccb7.gif)

[2019-01-27 13:41] satya164 opened #765 "Outline text input not clickable on React Native Web"

[2019-01-27 13:45] satya164 opened #766 "Implement progressbar component for React Native Web"

[2019-01-27 13:46] satya164 opened #767 "Card doesn't have shadow on React Native Web"

[2019-01-27 13:47] satya164 opened #768 "Fonts are not correct on React Native Web"
Try on Safari.

We'll need to do the same as this: #590

[2019-01-27 16:39] hotgeart commented on #695
The doc is unclear on how to put a Drawer.

[2019-01-27 16:46] satya164 commented on #689
https://github.com/callstack/react-native-paper/pull/770

[2019-01-27 16:58] b3u commented on #689
Thanks guys. My project is done now, but I appreciate the help.

[2019-01-27 17:12] satya164 opened #771 "Deploy the React Native Web example on CI like we deploy docs"

[2019-01-27 17:38] napolev opened #772 "Cannot update version of package 'react-navigation' to the latest"
### Current behaviour

I just cloned the `react-native-paper` repository and tried to update the version of package: `react-navigation` from version: `2.18.2` to version: `3.0.9` by doing the following:
[code]

### Expected behaviour

The application should be running properly on the device in the same way as before the version update.

### Screenshots

![Issue after updating version of package: r

[2019-01-27 18:10] satya164 commented on #772
There are breaking changes in latest react-navigation, the details are mentioned here: https://reactnavigation.org/blog/2018/11/17/react-navigation-3.0.html#breaking-changes

[2019-01-27 18:46] napolev commented on #772
thank you @satya164 !

[2019-01-27 20:31] #772 closed

[2019-01-27 20:38] Trancever commented on #695
@hotgeart  Our library supports `Drawer.Item` and `Drawer.Section` components which are just building blocks that you can put inside drawer to make it look like material component. If you need drawer component take a look at [react-navigation](https://reactnavigation.org/docs/en/drawer-based-navigation.html) which is a navigation library for react-native and it provides `Drawer` component (we also

[2019-01-28 07:48] RajkumarRamanathan opened #773 "TextInput maximum line size"
TextInput maximum line size not able to configure

There is no parameter to control the size of multiline textbox

there should be maximum no of line parameter to control the size

| react-native          |
| react-native-paper    |
| node                  |
| npm or yarn           |
| expo sdk              |

[2019-01-28 10:03] jaulz commented on #766
https://github.com/callstack/react-native-paper/pull/735 should solve this or do you have anything else in mind?

[2019-01-28 10:04] clemos commented on #762
Hi there !
Great work :)
I'm also working on a cross-platform (incl. react-native-web) React / material (not yet public unfortunately...).
Our approach was to conditionnally use https://github.com/mui-org/material-ui when targetting web.
This would be especially useful for "complex" components such as datatables.
What do you think ?

[2019-01-28 11:44] jaulz commented on #762
@satya164 will check it.
@clemos that sounds valid but in my opinion that should not be part of this library and instead should be a decision per project.

[2019-01-28 11:50] ferrannp opened #774 "Placeholder and value are not in the same baseline on TextInput"
### Current behaviour

In the efforts of aligning an icon with the text (like [here](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1Kezf2nmTVbQdOfNajrotDxeIKs1WlwHl%2Ftextfields-type-stroke.png)), I realized about that.

Currently is not possible to align an icon with the text.

### Expected behaviour

Placeholder line and value should be the same. So we can do things like

[2019-01-28 11:59] ferrannp commented on #773
If you check here multiline section https://facebook.github.io/react-native/docs/textinput.html. Does setting a `maxHeight` works for you?

[2019-01-28 12:01] #726 closed

[2019-01-28 12:02] ferrannp opened #775 "Better way to document how to change colors inside TextInput and other components"
See for example #699 or #775.

Also feel free to comment here what colors you cannot change or you don't know how.

It might require changes to https://github.com/callstack/component-docs.

[2019-01-28 12:03] ferrannp commented on #699
Will group efforts together for colors on #775.

[2019-01-28 12:03] #699 closed

[2019-01-28 12:06] ferrannp commented on #688
Right now the underline when focused uses this logic:

https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput.js#L547-L549

The problem is that you cannot change only that color without affecting the whole TextInput. Moreover, we need more docs on all this, see #775.

[2019-01-28 12:10] ferrannp commented on #549
I think when background is transparent, `TextInput` should be like in `v1`. Which is as your screenshot but the bottom underline to be aligned with text. An option to remove the bottom underline should be there too (or make it transparent too).

[2019-01-28 12:14] ferrannp opened #776 "All "Try this example on Snack" are broken"
For example for [Button](https://snack.expo.io/?name=Button&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fbutton.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20Button%20%7D%20from%20%27react-native-paper%27%3B%0A%0Aconst%20MyComponent%20%3D%20()%20%3D%3E%20(%0A%20%20%3CButton%20icon%3D%22add-a-photo%22%20mode%3D%22contained%22%20onPress%3D%7B()%20

[2019-01-28 12:17] ferrannp commented on #546
@bogdansoare, you can just do, for example:

[code]

For `TextInput` is more tricky as if you change the font size, all animations like labels would be broken. The `TextInput` component just needs much more work for supporting this.

[2019-01-28 12:19] #462 closed

[2019-01-28 12:45] syedabuthahirm opened #777 "react-native-paper does not work on react-native 0.58.x"
### Current behaviour
ReactNativePaper is not working in lastet version of reactnative 0.58 and 0.58.1

### Expected behaviour
![whatsapp image 2019-01-28 at 6 10 53 pm](https://user-images.githubusercontent.com/22408257/51836993-1802a000-2328-11e9-96cd-019d3458aee2.jpeg)

### Code sample
[code]

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software

[2019-01-28 13:49] ferrannp commented on #777
We are aware of compatibility issue. We'll work on this at some point (but I am guessing when expo updates).

[2019-01-28 15:03] hotgeart commented on #695
Since this issue is in the first google results, here a sample code for the beginners:

App.js:

[code]

[2019-01-28 15:37] syedabuthahirm commented on #777
Ok. i downgrade my application to old react-native version.
but while debugging i found that [flattenStyle function](https://github.com/callstack/react-native-paper/blob/b799a1e5f8e59e7afab1a04a2da6eabaad07f98a/src/components/Surface.js#L60) return object reference instead of number in surface component. so, in [shadow function](https://github.com/callstack/react-native-paper/blob/b799a1e5f8e59e7a

[2019-01-28 16:46] nwaughachukwuma commented on #712
@ferrannp I would love to, but maybe when am much free to do so. Thanks

[2019-01-28 17:45] satya164 commented on #776
@ferrannp what's broken about it? i just tried and it works for me

@luissmg nope

[2019-01-28 20:36] luissmg commented on #776
For me it does not work too. Expo says to add Paper as a dependency (not added by default). If you miss that warning and just try the example it will not work

[2019-01-28 20:41] satya164 commented on #776
@luissmg yeah it's been that way from the beginning since there was no way to specify deps before when opening. I added that feature recently so will update the code.

[2019-01-28 20:55] luissmg commented on #776
Well that's the only thing that was not working for me. Don't know if that's what @ferrannp was talking aboht

[2019-01-28 22:18] ferrannp commented on #776
Mmm I was trying it and only seeing a transparent background, now I tried again (answering yes to add react-native-paper) and seems ok. I'll keep trying with some other components. If I find something weird I'll open another issues. Thanks guys for your comments!

[2019-01-28 22:18] #776 closed

[2019-01-28 22:46] justinlawrence commented on #757
Agreed. I suggest we put these under a Typography heading and provide an example of each. See closed task at https://github.com/callstack/react-native-paper/issues/532 for a screenshot.

[2019-01-29 10:53] jaulz commented on #762
Seems to work now without any changes. Can you please cross check?

![image](https://user-images.githubusercontent.com/5358638/51903449-77aa8b00-23bc-11e9-98a6-e17a62b9e8b4.png)

[2019-01-29 14:35] jaulz commented on #767
The thing is that `elevation` is an `Animated.Value` which cannot be used in `shadow` function:
https://github.com/callstack/react-native-paper/blob/eefcff37b56c12213c50d48b89d2fccc92de5d70/src/components/Card/Card.js#L93

https://github.com/callstack/react-native-paper/blob/eefcff37b56c12213c50d48b89d2fccc92de5d70/src/components/Surface.js#L68

[2019-01-29 14:52] jaulz commented on #764
See https://github.com/callstack/react-native-paper/pull/780

[2019-01-29 19:10] satya164 commented on #762
Yeah seems it works now 😱

[2019-01-29 19:10] #762 closed

[2019-01-29 19:50] #764 closed

[2019-01-29 19:57] #767 closed

[2019-01-29 19:57] satya164 opened #781 "Appbar doesn't have shadow on Web"

[2019-01-29 19:58] satya164 opened #782 "Shadow doesn't animate on Web (Button, Card etc.)"

[2019-01-29 19:58] satya164 commented on #777
This should be fixed by ec872a5c6188d8fdded269ac2e98f4ba5881e679

Can you try the latest version and let me know if it works?

[2019-01-29 20:04] satya164 opened #783 "Card title doesn't have proper margin"
![image](https://user-images.githubusercontent.com/1174278/51936821-5ae87480-2409-11e9-843b-ed7a7021d0bb.png)

Saw this on web, but I think the second one happens on native too.

[2019-01-30 06:08] roman-huliak opened #784 "Bottom navigator not centered"
### Current behaviour

Bottom navigator items are not centered in screen.

### Expected behaviour

Center in screen on all sizes

### Code sample

[code]

### Screenshots

![screenshot 2019-01-30 06 56 41](https://user-images.githubusercontent.com/7287207/51961420-eb9c7000-245c-11e9-9d3e-8b51f7afc7b8.png)

### What have you tried

Set styles to center.
Tested code from https://callstack.github.io/

[2019-01-30 06:30] syedabuthahirm commented on #777
Yeah.
It's working.
**Thanks for the quick fix**.

While checking react-native version is 0.58.3.

[2019-01-30 06:30] #777 closed

[2019-01-30 07:56] hugopretorius72 commented on #777
Great work

[2019-01-30 08:32] syedabuthahirm commented on #777
@hugopretorius72 i think this issue was in shadow function not in button component. Surface is basic component. button and card component inherited from surface @hugopretorius72.

[2019-01-30 08:35] hugopretorius72 commented on #777
I can confirm this as adding style={{elevation: 1}} on button works like a bomb 🙌🏻

[2019-01-30 08:38] hugopretorius72 commented on #777
@syedabuthahirm thanks for that.  Not sure why that fixes it but it does, hope it can help you troubleshoot

[2019-01-30 09:57] jaulz commented on #768
This could be solved by https://github.com/callstack/react-native-paper/pull/786

[2019-01-30 10:32] satya164 commented on #784
It should be fixed in latest version. Please upgrade to 2.7.0

[2019-01-30 10:32] #784 closed

[2019-01-30 10:53] roman-huliak commented on #784
where is changelog? where i can found changes between released versions?

[2019-01-30 10:57] satya164 commented on #784
https://github.com/callstack/react-native-paper/releases

[2019-01-30 18:59] sinansonmez opened #789 "FAB.Group Style Change Position with Style"
### Current behaviour

I am trying to change the position of FAB.Group button by using style props.
I want to place it next to my glass button.

### Expected behaviour

The FAB's position doesnt change at all.

### Code sample

[code]

### Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/37421564/52005181-22649b80-24da-11e9-8c66-d3bde876d004.png)

### What have you t

[2019-01-31 11:36] #789 closed

[2019-01-31 12:08] ferrannp opened #791 "Split TextInput into separate components for Outlined and Flat"

[2019-01-31 12:14] ferrannp opened #792 "TextInput support Trailing Icon"
![screenshot 2019-01-31 at 13 14 23](https://user-images.githubusercontent.com/774577/52053612-259f6c00-255a-11e9-9090-b06e29b30ab6.png)

[2019-01-31 12:16] #562 closed

[2019-01-31 12:17] #546 closed

[2019-01-31 16:09] sinansonmez commented on #789
Not an ideal solution but it worked. Thanks

Not an ideal solution but it worked. Thanks

[2019-02-01 03:20] napolev opened #794 "Erratic transition between screens when using react-native-paper with react-navigation 3.x"
Based on the official `Snack Expo` example for `react-native-paper`:

https://snack.expo.io/@satya164/github.com-callstack-react-native-paper:example

I created another `Snack Expo` just by removing all the components but:

    - BottomNavigationExample
    - CardExample

Then got the following `Snack Expo`:

https://snack.expo.io/HJvQBji7E

When I load that `Snack Expo` on my real device: `iPhone

[2019-02-01 05:22] Kevinmenar opened #795 "The visible props from fab.group only works 1 time"
### Current behaviour

I am trying to display and hide a fab.group. When I tried the first time It is works, I can hide the fab and display it again. But when I try again, I can not hide it

### Expected behaviour

Being able to hide the fab more than once

### Code sample

_callOtherview( ) {
      this._hide();
      Actions.comment({ changeState: this._display }); // I am using to change the cu

[2019-02-01 10:54] satya164 commented on #794
90% sure this is due to change in the header's height. Try renaming `navigationOptions` in the root `createStackNavigator` as mentioned in the breaking changes here: https://reactnavigation.org/blog/2018/11/17/react-navigation-3.0.html#renamed-navigationoptions-in-navigator-configuration

[2019-02-01 14:01] napolev commented on #794
thank you @satya164 you are totally right.

[2019-02-01 14:54] #282 closed

[2019-02-01 16:32] borgogelli opened #798 "The visible props from fab doens't work"
[code]
Using the previous snippet of code, the fab component remains still visible

| software              | version
| --------------------- | -------
| ios or android        |
| react-native          |  0.57.1
| react-native-paper    | 2.8.0
| expo sdk              | 31.0.6

[2019-02-01 16:36] satya164 commented on #798
`FAB` accepts a `visible` prop which is a boolean, you're passing the string `"false"` which a truthy value. You need to pass `false`, `<FAB visible={false} />`

[2019-02-01 16:36] #798 closed

[2019-02-01 18:33] ferrannp opened #799 "Flow, withTheme and extending theme"
### Current behaviour

There is no way to extend the theme without getting Flow errors.

### Expected behaviour

Be able to extend the theme without errors. E.g:

[code]

### What have you tried

In one app, we defined our own `withTheme` and then all the components are using that instead of  the `react-native-paper` `withTheme`:

[code]

This almost made the job. But when you do things like:

[co

[2019-02-01 18:33] ferrannp commented on #574
Closing in favour of #799.

[2019-02-01 18:33] #574 closed

[2019-02-01 18:34] ferrannp commented on #500
Fixed #788 here. For 3.0 we might go with gesture handler.

[2019-02-01 18:34] #500 closed

[2019-02-01 19:25] roman-huliak opened #800 "Incorrect behavior on bottom navigator"
### Current behaviour

Bottom navigator randomly shaking.
As in attachment navigator sometimes not working correctly. Whole app will freeze and i must force quit. All that without error in console. This behavior start imidiately with render(), cpu is on 100%, normally (normally 5-10% on this screen). I can't click in header (or gesture) to back or click in navigator to change screen. Reproducing t

[2019-02-01 19:54] satya164 commented on #800
Can you downgrade to 2.2.0 and check? I'll take a look at the issue as soon as I can.

[2019-02-01 21:49] satya164 commented on #800
Ok, so figured it out. It was SafeAreaView triggering random `onLayout` events. I'll replace it with something else.

[2019-02-01 22:14] #800 closed

[2019-02-01 22:14] satya164 commented on #800
Please try the latest release and let me know if it fixes the issue for you

[2019-02-02 05:48] ManigandanRaamanathan opened #801 "Chips auto sizing not working"
### Current behaviour

Chips auto sizing not working. It's by default full width:-
![image](https://user-images.githubusercontent.com/22089729/52160491-02f38b80-26f1-11e9-8dd3-4dfefb4ccc2c.png)

tried setting width to auto but still not working
### Expected behaviour

must able to set width to auto content size

### Code sample

<Chip icon="info" onPress={() => console.log('Pressed')} style={{widt

[2019-02-02 06:00] #801 closed

[2019-02-02 06:23] sm2017 opened #802 "RTL"
I have a simple question , How can I switch to RTL mode?

[2019-02-02 08:57] Trancever commented on #802
Check i18nManager module in react native.

[2019-02-02 08:57] #802 closed

[2019-02-02 09:37] sm2017 commented on #802
@Trancever with i18nManager it is not possible to change direction without restart

[2019-02-02 12:08] roman-huliak opened #803 "Hidden banner is visible for short time"
### Current behaviour

Banner with property visible={false} is visible for short time (100-200ms) on render()

### Code sample

[code]

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | ios & android
| react-native          | 0.57.8
| react-native-paper    | 2.9.0
| node                  | 11.7.0
| npm or yarn           | 6.7.0

[2019-02-02 13:46] #803 closed

[2019-02-02 18:00] napolev commented on #794
By the way, do you have in mind to upgrade the package: `react-navigation` to version 3.x?, if so, do you have any idea about when it will be integrated?

[2019-02-02 18:05] satya164 commented on #794
You can use any version of react-navigation in your app. The code in this repo is just an example app.

[2019-02-03 03:24] t-d-o-g opened #804 "Children of Card component are not accessible to Appium for e2e tests"
### Current behaviour

"accessible" is not a prop of the Card component. Due to this, testID props added to child components of the <Card> component such as <TextInput> are not accessible to Appium for automated e2e testing.

### Expected behaviour

I expect to be able to add the accessible prop to a Card component and set it to false so that children of the Card component are accessible to Appium

[2019-02-03 04:56] syedabuthahirm commented on #795
@Kevinmenar can you try [this](https://snack.expo.io/SkU9Qg4NN)? for me it's working fine.
can you reproduce a issue and share the link?

[2019-02-04 11:43] ferrannp opened #807 "RadioButton "value" prop should not be required"
### Current behaviour

We have it required in case you use it with `RadioButton.Group` but if not, it should not be required (e.g. when you use a FlatList of `RadioButton(s)`).

### Expected behaviour

`value` should not be required if it is not used inside a `RadioGroup`. We can also think of creating a `RadioGroup.Item` which uses `RadioButton`.

### Your Environment

| software              | v

[2019-02-04 11:48] ferrannp opened #808 "RadioGroup clicking row with children"
### Current behaviour

RadioGroup will pass `onPress` to the `RadioButton` children. That makes not possible to for example have a whole row clickable.

### Expected behaviour

Proposed solution:

1. If children are solely `RadioButton`(s), place the `onPress` on it
2. If children contain something else, place a `TouchableRipple` around it with the `onPress` prop
3. Suggestions?

### Code sample

[2019-02-04 11:59] ferrannp opened #809 "Dialog closes even if you click inside the dialog"
It looks like this is happening after we fixed https://github.com/callstack/react-native-paper/pull/743.

### Current behaviour

If you click inside a Dialog in a place where no element is rendered, the dialog closes. So for example, if you press on the Title of the Dialog is ok, but in the body, the dialog will close.

### Expected behaviour

Dialog should not close when clicking its body.

### C

[2019-02-04 13:08] satya164 commented on #807
`value` refers to the identifier for the radio button. you need to pass it. `status` is optional.

[2019-02-04 13:08] #807 closed

[2019-02-04 15:39] ahce commented on #9
This [project](https://github.com/n4kz/react-native-material-dropdown) is a reference for this

[2019-02-04 20:52] satya164 commented on #804
Thanks for opening the issue. Feel free to send a PR :)

[2019-02-04 20:53] #809 closed

[2019-02-05 03:55] t-d-o-g commented on #804
Thanks for reviewing this issue, I have submitted the following PR: https://github.com/callstack/react-native-paper/pull/812

[2019-02-05 04:06] ahce commented on #10
Hello everyone!
This is a simple [example](https://snack.expo.io/@ahce/react-native-paper-datepicker)

[2019-02-05 07:40] raajnadar commented on #759
Closing this because the information given is not sufficient and proper.

[2019-02-05 07:40] #759 closed

[2019-02-05 08:57] luissmg commented on #10
@ahce That's what I do right now. But in your example there is a problem. If it is a date picker you can't print the time in the input. Just a few things that we should be careful about.

[2019-02-05 09:21] Jack0815 commented on #737
I have the exact same usecase.
I want to build a date input and it should look like a textInput. I surrounded it with a touchableWithoutFeedback to pop up the date picker. But if the textInput looks like it should, the keyboard pops up. And if disabled, it does not look like the user can interact with but prevents the keyboard.
Any help with that? @raajnadar

Kind regards
Jack

[2019-02-05 09:46] borgogelli commented on #798
I did a mistake reporting the issue.
`<FAB visible={false} style={styles.fab} icon="add" />`
doesn't work too,
I have used the following a workaround:
{this.state.fabVisible ?
[code]

[2019-02-05 09:57] Trancever commented on #798
@borgogelli Can you try our example app https://expo.io/@satya164/react-native-paper-example. It works fine there.

[2019-02-05 11:20] raajnadar commented on #737
Reopening the issue

[2019-02-05 12:05] raajnadar commented on #737
Sorry for bumping again but @Jack0815 here is a workaround for you.

https://snack.expo.io/@raajnadar/picker-that-looks-like-textinput

[2019-02-05 12:17] Jack0815 commented on #737
Thanks so far @raajnadar really fast repsonse time  :)
Jepp it looks similar to my current solution. You are right. Instead of preventing the keyboard I could just try to fake the textInput optics. I would still prefer to have the flat react native paper textInput component instead. Otherwise I would have to adopt my faked text-label whenever the textInput optics or behaviour might change.

[2019-02-05 12:32] Jack0815 commented on #737
Hi @raajnadar ,
jepp I was not thinking about using the onPress. Surrounding it with a touchableWithoutFeedback would be fine for me. What my need is just to have its behaviour as it was disabled (so no keyboard and no direct interaction), but have the style not with gray font and background (just as if it was not disabled). With editable=false  (second textInput in the example at the very top) I

[2019-02-05 12:45] satya164 commented on #737
`TextInput` also has a `render` prop which you can use to replace what's rendered inside to render a picker.

[2019-02-05 14:51] lutakyn commented on #677
Your documentation is very minimal,even changing a FAB color is a problem. You can't change the size of the icon too

[2019-02-05 15:43] gawrysiak commented on #677
@lutakyn with a recent change for FAB.Group, styling it got much easier. See:
https://github.com/callstack/react-native-paper/pull/758/files
There's now a fabStyle prop added

[2019-02-05 15:47] satya164 commented on #677
@lutakyn it's an open source project. pull requests to documentation are welcome.

[2019-02-05 16:09] ahce commented on #10
@luissmg In the example, I just want to show, how to make the material style.
The text can be formatted by the mode or prop with moment or date-fns.

I think that this component should be included in react-native-paper

[2019-02-05 23:24] zigzter opened #813 "DataTable contents collapsing on itself"
DataTable rows seem to be collapsing into a single line. Even the [Snack example](https://snack.expo.io/?name=DataTable&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fdata-table.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20DataTable%20%7D%20from%20%27react-native-paper%27%3B%0A%0Aexport%20default%20class%20MyComponent%20extends%20React.Component%

[2019-02-05 23:52] satya164 commented on #813
cc @jaulz

[2019-02-06 01:45] methodbox commented on #775
I feel like there should be a fundamental way of setting the core color of text inputs.

I understand people may want to change each element, but there should be a prop that sets the tone for the entire text input like ```textInputPrimaryColor={'blue'}``` and the label and underline on focus would be changed.

If there is a way to do this already, I can't sort it out based on the documentation.

[2019-02-06 01:59] methodbox commented on #344
This might be the worst solution to a concept in React I've seen.

Your solution is that I need to wrap my ENTIRE app in your component in order to facilitate the simple modification of a prop on a component like ```TextInput```???

That is basically the definition of the imperative approach.

Unfortunately, while I think you guys have some nifty components, while trying to simply modify something

[2019-02-06 06:49] RajkumarRamanathan opened #814 "TextInput not able to press in the middle or end of the box"
### Current behaviour
when we create textinput its not allowing to click apart from label

not able to click and type in the empty area of textinput
### Expected behaviour
Anywhere in the textinput box should be able to click

### Code sample
style={{ height: 100 }} this works incase of multi-line textview but not width. if i give width no effect on clickable area.

### Screenshots (if applicable)

[2019-02-06 09:36] satya164 commented on #775
@methodbox have you read our documentation? how is passing theme prop to a single component "set a theme" for our entire app? in the documentation we specifically mention this feature.

[2019-02-06 10:08] jaulz commented on #813
I could only replicate it in your example but it seems that a `minHeight` on the row helps to solve the issue. I will raise a PR in a minute.

[2019-02-06 15:15] #813 closed

[2019-02-06 17:54] lukewalczak commented on #795
@Kevinmenar 	, is it still valid issue? If yes please provide a snack with reproducible bug.

[2019-02-06 18:44] ShaggyKris opened #819 "Card.Title throws Invariant Violation: Element type is invalid"
### Current behaviour
When using `<Card.Title title='Hello' />`, throws the following error:

### Expected behaviour
`<Card.Title title='Hello' />` would display the title as "Hello".

### Code sample
[This is the Snack.Expo.io that is in the documentation. It occurs here as well.](https://snack.expo.io/@krispervin/Y2FyZA?name=Card&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper

[2019-02-06 18:57] jaulz commented on #819
`Card.Title` was introduced only 10 hours ago... I don't think it made it into npm yet.

[2019-02-06 18:59] ShaggyKris commented on #819
Kinda odd that the public documentation mentions it, then.

[2019-02-06 19:13] #783 closed

[2019-02-06 19:33] #763 closed

[2019-02-06 19:33] #765 closed

[2019-02-07 09:47] RajkumarRamanathan commented on #814
Any Updates?

[2019-02-07 10:08] Trancever commented on #819
@ShaggyKris What version of paper do you use? It should be available in 2.11.0.

[2019-02-07 10:10] #819 closed

[2019-02-07 12:55] creambyemute opened #820 "Badge not rendering correctly on React-Native-Windows"
### Current behaviour

I'm using a <Badge> without any special styling, just
[code]

This renders fine on iOS and Android, but on React-Native-Windows just the text is rendered but not the background circle (the actual badge).

See the screenshot

### Expected behaviour

To render the badge correctly

### Code sample
Use
[code]
in a react-native-windows application.

### Screenshots (if applicable

[2019-02-07 14:19] jaulz commented on #820
Unfortunately, I never used `react-native-windows`. Could you try to implement your suggested fix locally and let us know if it works? Or even better, could you create a PR?

[2019-02-07 15:52] RichardLindhout commented on #703
Can be closed now since the issue is resolved?

[2019-02-07 16:00] buncismamen opened #823 "questions about TextInput Types"
is `onBlur` in react-native-paper's TextField

intended to be different than `onBlur`  in React-Native's TextField ?

because I need to pass function from `Formik` that supposed to be parameter for React-Native's TextField `onBlur`

for now it gives this error
[code]
if this is because not updated Types I think I could send a PR

### Current behaviour
[code]
### Expected behaviour

onBlur type sho

[2019-02-07 21:23] ferrannp commented on #703
@RichardLindhout we are still considering switching touchables to gesture handler for 3.0 that is why we kept this open.

[2019-02-09 11:42] RajkumarRamanathan commented on #814
Please let me know the detail what needed?

straight issue is textinput in outlined mode only allows to in label area to start type (or get focused)

[2019-02-09 12:03] satya164 commented on #814
Please provide runnable example code which someone can test to see what's happening.

[2019-02-09 12:54] RajkumarRamanathan commented on #814
Hi Satya, I have found the issue (manipulated the width value in input style). Thanks for the timely response.

[2019-02-09 12:54] #814 closed

[2019-02-09 13:33] RichardLindhout opened #830 "Remove SafeAreaView around Snackbar [suggestion]"
It should be better to remove the SafeAreaView around the snackbar because now it's difficult to show it on top of a FAB button. Or e.g. on top of something instead of bottom.

Maybe we could have two components Snackbar and SnackbarContent or something.

[2019-02-09 13:39] Trancever commented on #830
Hi @RichardLindhout Can you provide Snack that reproduces issue?

[2019-02-10 01:01] RajkumarRamanathan opened #832 "Validation TextInput"
### Current behaviour

 validation happens based on textchange
### Expected behaviour
How to add validation based on onblur/ focus loss i am new to react, Please guide

### Code sample

### Screenshots (if applicable)

### What have you tried
error={!validation._isUsernameValid(this.state.outlinedText)}

### Your Environment

| software              | version
| --------------------- | -------
| io

[2019-02-10 08:08] RajkumarRamanathan commented on #773
Thanks it works, saved the day

[2019-02-10 08:09] RajkumarRamanathan commented on #832
The below code worked thanks

 onBlur={() =>{
             this.setState({
                    hasValidationError:!validation._isUsernameValid(this.state.name)
             });
            }
          }
          error ={this.state.hasValidationError}

[2019-02-10 08:09] #832 closed

[2019-02-11 00:04] gawrysiak commented on #531
Merged in [b68fac7](https://github.com/callstack/react-native-paper/commit/b68fac70b0b77a1338ff80ed69e8c1cb293c6337)

[2019-02-11 00:04] #531 closed

[2019-02-11 09:16] anantkamat opened #834 "Buttons On the Modal are not working as expected"
### Current behaviour

### Expected behaviour

### Code sample

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        |
| react-native          |
| react-native-paper    |
| node                  |
| npm or yarn           |
| expo sdk              |

[2019-02-11 10:20] #834 closed

[2019-02-11 11:43] #773 closed

[2019-02-11 23:53] gawrysiak commented on #549
I wouldn't really go for changing the paddings based on backgroundColor setting. It's somehow breaking and also hard to understand why one attribute affects another. This way if padding set to 0, should it change the background to transparent?

One of the ways is to first tackle #791 and then create a new TextInput mode, called maybe "legacy" or "v1" (or TextInput.Legacy). It doesn't really go by

[2019-02-12 04:55] cltsang commented on #603
It's being implemented in #485

[2019-02-12 04:57] cltsang commented on #9
It's being implemented in #485

[2019-02-12 14:05] soumyamishra89 opened #837 "Add customisable size property for icon in FAB"
### Current behaviour
Icons are fixed at size 24 in FAB.

### Expected behaviour
Add a prop to support custom icon sizes similar to color and icon.

will it affect the layout if the icon size is customisable?
Currently the fab style can be customised using fabStyle property, which means the dimension of the FAB can be customised, but the icon is fixed at 24 which looks weird when the FAB is bigger

[2019-02-12 16:33] borgogelli commented on #798
Now it works. I have already double checked the problem before posting that issue. I don't know what it was, but it works. Thank you.

[2019-02-12 17:30] borgogelli opened #838 "Tap on the Banner component: the focus-lost event is not fired"
If the focus is on a SearchBar component (or any other) and I tap on a Banner component, nothing happens.
While every time I tap on a View component, the SearchBar losts the focus.
I think that the second behavior is preferible,

[2019-02-12 17:50] soumyamishra89 opened #839 "Customising FAB group"
### Current behaviour
1. The FAB component has disable property but not the FAB Group component
2. The label text on Fab Group has only default fontFamily.

### Expected behaviour
1. Add disable property to Fab Group as well as the action FABs.
2. Add an option to style the Label text.

In some screens, i would like to show the FAB Group with some items disabled or the entire Component disabled bu

[2019-02-12 20:29] Trancever commented on #838
Hi, thanks for spotting the issue. I'll take a look tomorrow.

[2019-02-12 21:31] RichardLindhout commented on #830
Your pull request could fix the issue (I would only need to add margin to my snackbar of the fab height)
But I don't know. Personally I like freedom and create the safeareviews myself instead of every component. Like three SafeAreaView (one in my screen, one in my fab, one in my snackbar)

[2019-02-12 21:36] RichardLindhout commented on #830
+ sometimes I would like the snackbar component just to stay there without duration or something like that and handle it manually.

Material-UI references:
https://material-ui.com/api/snackbar-content/
https://material-ui.com/api/snackbar/

[2019-02-13 07:57] buncismamen commented on #823
solved in #833

[2019-02-13 07:57] #823 closed

[2019-02-13 08:51] creambyemute commented on #820
Sure, I'll try and let you know if I found a solution that doesn't affect iOS/Android.$

[2019-02-13 08:54] Trancever commented on #839
cc @lukewalczak Could you take a look?

[2019-02-13 09:08] satya164 commented on #820
Worst case, we can add a check and apply some styles only for windows.

[2019-02-13 09:35] koo27 commented on #777
Still having this (smilar) problem with version 2.11.0 and react-native version 0.58.4

[2019-02-13 09:40] satya164 commented on #777
@koo27 can you open a new issue with code sample and error message?

[2019-02-13 09:42] koo27 commented on #777
@satya164 Sure! I'm still deep debugging in order to get as much information as I can. Thank you

[2019-02-13 10:01] syedabuthahirm commented on #777
@satya164 & @koo27  i checked with **react-native-0.58.3**.i will check again with **react-native-0.58.4**

[2019-02-13 10:04] koo27 commented on #777
@syedabuthahirm @satya164 my bad!
The issue wasn't related to react-native-paper anymore! **The last version actually solves the problem**.
The bug I face is related only to the new version of react-native (basically it throws me error when I have something like width, right, height, etc. calculated dinamically directly into the style).

[2019-02-13 11:55] soumyamishra89 commented on #839
There is one more issue though.
When using FAB group with the portal component, it is rendered on all screens.
Even when i use visibility prop, the FAB becomes invisible but it still has actions enabled. The place where the FAB is rendered still accepts touch events though it is not visible.

[2019-02-13 12:54] peterchibunna commented on #288
Hi @satya164, Please I need your help with "updating the badge of a route" after the app receives messages (for instance). I'm getting the following error that:

`routes.map is not a function`

... at the point where I'm trying to modify the routes in state.

[2019-02-13 12:57] satya164 commented on #288
Can you post your code?

[2019-02-13 13:00] peterchibunna commented on #288
Sorry, it's resolved! I was calling `this.setState({routes})` again after mutating it. Just mutating the state and modify the badge property of the route works without setting state again.

[code]

[2019-02-13 15:30] Trancever commented on #838
@borgogelli Could you provide Snack that reproduces issue? You can modify [this one](https://snack.expo.io/@trensik/amused-cookie)

[2019-02-14 09:48] borgogelli commented on #838
@Trancever thank you for your reply. After some test I can say that it's not an issue of react-native-paper. But please see my example https://snack.expo.io/ryb2wnGB4
If first I tap on the Searchbar and then on the red zone (the ScrollView) I lost the focus. I think that this the right behavior for every users. But if I don't use the ScrollView, and I tap on other UI elements, nothing happens and

[2019-02-14 09:49] onitzschke commented on #286
Hi, i'm using the experimental `LayoutAnimation.configureNext(LayoutAnimation.Presets.easeInEaseOut);` and the animation of FAB icon is stuck at the end. Any idea?

[2019-02-14 10:55] satya164 commented on #838
Agree that it's not user-friendly, but the behavior comes from react-native. We can't really do anything about it.

Closing since this issue is non-actionable for us.

[2019-02-14 10:55] #838 closed

[2019-02-14 11:03] satya164 commented on #286
@onitzschke `LayoutAnimation` is very invasive and can affect other components in unexpected ways. Unfortunately, it's not something we can help with. You should consider removing `LayoutAnimation`.

[2019-02-14 11:07] onitzschke commented on #286
Yes, that's the problem. I'll try to abstract the components. Maybe that helps. Thanks.

[2019-02-14 12:35] hadarbmdev commented on #689
Issue still happening, im using create-react-app-native and can't edit webpack.config files without running 'eject'.
Any ideas how to fix this without eject?

[2019-02-14 13:02] satya164 commented on #689
CRA is very limited. We can't help because it doesn't allow us to change literally anything. You'll face more issues down the road when using it with other react native libraries if you cannot customize the config if you don't want to eject.

We have written a guide on our docs on how to setup rn web vanilla webpack projects: https://callstack.github.io/react-native-paper/using-on-the-web.html

Pl

[2019-02-14 13:05] robbiemu commented on #689
@Hadarbmdev nothing official yet (I think), no.  It so happens that I don’t eject.  I make the change in place in node_modules  by copying the webpack config to the root directory And adding a post installed a copy that back.

[2019-02-14 13:29] onitzschke commented on #286
For all with the same issue:
I use a custom animation with less duration and it works great now.
[code]

`              LayoutAnimation.configureNext(CustomAnimation);
`

[2019-02-14 14:51] #830 closed

[2019-02-14 16:51] GlisboaDev opened #841 "Tsc error with Card.d.ts typings"
### Current behaviour
Latest release 2.11.0 is failing when running tsc due to inexistent import and missing imports on Card.d.ts.

### Expected behaviour

Typescript imports should be correct and tsc shouldn't fail.

### Code sample

[code]

### Screenshots (if applicable)

### What have you tried

I created a PR to fix it https://github.com/callstack/react-native-paper/pull/840, that should solv

[2019-02-14 17:01] #841 closed

[2019-02-14 17:51] syedabuthahirm commented on #839
@soumyamishra89 Can you make a example repo (https://snack.expo.io)?

[2019-02-14 18:06] gawrysiak commented on #839
@soumyamishra89 this I can confirm. If you're using react-navigation, you can try conditionally displaying it if the current page is focused:
[code]
use this as HOC, then you're getting an isFocused prop. So later you just do:
[code]

[2019-02-14 18:14] gawrysiak commented on #839
related: #420

[2019-02-15 10:00] soumyamishra89 commented on #839
@gawrysiak I was using it with visibility prop, which seemed to be an issue. For now i have used to animations to move it from the focus when not visible so that the area is not blocked.
Sometimes, when the component displaying FAb.Group is unmounted, still the area where it was displayed is left unclickable. I would create an example repo on snack to demonstrate what i mean.

[2019-02-15 12:03] 0x01Brain opened #843 "How to get an id for chip onPress or onClose in react-native-paper?"
### Current behaviour

I am not sure if there is a workaround for this or not but when clicking on the close button for a chip component within list of components I am not able to get an id to know which component was removed or target to remove.

### Expected behaviour

When user clicks on a close button for a chip, the onClose should return an id for chip component to know which item should be r

[2019-02-15 12:05] satya164 commented on #843
[code]

[2019-02-15 12:05] #843 closed

[2019-02-15 12:10] 0x01Brain commented on #843
@satya164 So onPress triggers onClose?

[2019-02-15 16:56] 888dev opened #844 "No cursor displayed if user deletes the previously entered values from TextInput in error mode - [Android]"
### Current behaviour

I'm using TexInput, on error mode only on Android, once the previous value was deleted, on focus again cursor is not displayed.
Steps to reproduce:
1. enter the value to the field
2. delete value and leave the field (field should be in error mode, because of its required field)
3. tap again on the field -> no cursor is displayed
4. enter again data and delete, unfocus the fi

[2019-02-16 20:43] pouya92 commented on #800
Hi,
How can I upgrade to latest version?
I also have this problem.

[2019-02-17 10:10] sm2017 opened #845 "Question : BottomNavigation and Portal"
I am using `BottomNavigation` , in a Scene I am using `FAB.Group` , the FAB is rendered in all Scenes , How can I hide FAB in other Scenes?

[2019-02-17 12:05] AlexeyVlasenko opened #846 "Suggestion: Add duration prop to Dialog show/hide"
Hi! I want to suggest add duration prop to Dialog component.
I think it would be nice to easily change duration time of show/hide Dialog Modal.

Thanks!

[2019-02-18 05:43] rjsajnani1 opened #848 "DataTable Header Text Wrap"
### Current behaviour

Unable to wrap the header title
<img width="355" alt="screenshot 2019-02-18 at 12 32 44 pm" src="https://user-images.githubusercontent.com/31607484/52930261-b52e8280-3382-11e9-97bb-5a18fb5b5984.png">

### Expected behaviour
I would like to add some style or atleast try to wrap the header title like the given image below

<img width="442" alt="screenshot 2019-02-18 at 12 35 2

[2019-02-18 12:55] sm2017 opened #849 "Feature request: TouchableRipple.onLongPress"
`onLongPress` is needed for TouchableRipple

[2019-02-18 13:18] satya164 commented on #848
We can add a `numberOfLines` prop to `DataTable.Title`. Wanna send a PR?

[2019-02-18 14:05] ReneDH opened #850 "Dialog.Content with dynamic content"
### Current behaviour
If I want to display a dynamic collection in the dialog from an array of string, the content is not displayed.
If I add static text to Dialog.Content, the ad will work.
When debugging, I can see that text from the array would be there to display.

### Expected behaviour
 The text from the listing is not visible. Why? Do I overlook something here?

### Code sample

 [Sample](h

[2019-02-18 14:12] satya164 commented on #849
fell free to send a PR

[2019-02-18 14:17] gawrysiak commented on #850
looks like your map doesn't return anything

[2019-02-18 14:25] Trancever commented on #850
Yeah, @gawrysiak is right, just add return statement to your map function.

[2019-02-18 14:25] #850 closed

[2019-02-18 17:00] ReneDH commented on #850
Sometimes you do not see the simplest - Thank you.

[2019-02-18 17:17] BenJeau opened #851 "onPress FAB triggered when initially not visible"
### Current behaviour

When the visible property of the FAB is set to false, the FAB disappears, but the user can still click on the location where the FAB would have been and it would trigger the onPress of the FAB.

### Expected behaviour

When the visible property of the FAB is set to false, the FAB should disappear and the user should not be able to trigger the FAB.

### Code sample

I have tr

[2019-02-19 03:02] quytang opened #852 "ProgressBar - Couldn't find a way to set progressBar's height"
### Current behaviour
I can't find a way to set Progressbar's height.
I managed to use this snippet but It didn't work.
[code]

### Expected behaviour
The height of the ProgressBar should be style-able.

[2019-02-19 12:36] psincraian commented on #801
I have the same problem. Any news about how to solve that?

[2019-02-19 14:34] foxlol commented on #845
I'm in the same situation. Couldn't figure it out yet.

[2019-02-19 14:39] soumyamishra89 commented on #839
[https://snack.expo.io/@ssmishra/react-native-paper-issue-839](url)
I have created repo for the issue i was talking about.
Here when u open the app,
Steps:
1. click on Hide Fab first. (this will set visibility = false)
2. click on show Fab. (this will render the fab group)
3. now click on the Unhide Fab.

At this point the Fab is not visible but u can still click on it and see the action which sho

[2019-02-19 15:25] Trancever commented on #839
@soumyamishra89 Check this [snack](https://snack.expo.io/@trensik/react-native-paper-issue-839). I just changed a bit your example and cleaned it up.

[2019-02-19 15:37] soumyamishra89 commented on #839
@Trancever thank you for a quick reply, but in this case it solves the issue. I have also, used it in a way that solves the issue i was facing.
But my point here is that the combination of portal and Fab to render FAB across screens and then hide it on condition does not work as expected as you might have seen with my previous example.
The prop visible on FAB group has issues with it.

[2019-02-19 15:38] soumyamishra89 commented on #839
@Trancever and coming back to the original issue, is there any update on disable feature on FAB Group?

[2019-02-19 15:51] sm2017 commented on #845
@foxlol I found that you can use `Portal.Host`

[2019-02-19 18:52] devautor opened #856 "Example app throws compilation error on `yarn web`"
### Current behaviour

Cloning the repo, and running example for web as given in instructions doesn't work. The app fails to compile.
[code]

### Expected behaviour

I should be able to see paper on web :)

### Code sample

I simply downloaded the repo, and followed instructions from `readme.md`:

### What have you tried

Nothing what docs didn't ask me to. (Reported as above!) I also tried this w

[2019-02-19 18:59] satya164 commented on #856
Did you run `yarn bootstrap` as mentioned in our contributing guide? https://github.com/callstack/react-native-paper/blob/master/CONTRIBUTING.md#development-workflow

[2019-02-19 19:04] devautor commented on #856
Hello @satya164 I din't, didn't know I was contributing, I simply followed the `readme` from the `example` directory. Let me try and update you!

[2019-02-19 19:10] #856 closed

[2019-02-20 01:57] foxlol commented on #845
Hi @sm2017 . I have seen it on the documentation but couldn't figure it out how this works. Can you help me please?

[2019-02-20 02:05] rjsajnani1 commented on #848
Yeah sure will work on one.
Is there a particular process i need to follow or something to create a PR?
Do let me know thanks.

[2019-02-20 05:37] sm2017 commented on #845
[code]

[2019-02-20 11:11] soumyamishra89 commented on #839
@Trancever Hi, there is one more issue that i found while animating the FAB.Group. So, when the FAB.Group is clicked i want it to animate (rotate the add icon to look as close).
[https://snack.expo.io/@ssmishra/react-native-paper-issue-839](url) u can check this. instead of animated.value, i have added string to rotate for demonstration, but the issue is same for both.
so, on my Moto G5 plus and s

[2019-02-20 12:06] foxlol commented on #845
Thanks @sm2017, it seems to work, but weirdly when i use <Portal.Host /> the FAB looses its positioning feature.

[2019-02-20 15:01] cassioseffrin commented on #420
Hello @satya164.  I consider wix navigation v2 one of the best options for navigation. And react-native-paper is another good option for UI. Could you please give me one information about these two libraries. Both can work together or may they have some kind of incompatibility ?

[2019-02-20 15:13] sm2017 commented on #845
@foclol I think you must set `flex:1` as style for component, I don't run.my example code , may be it has wrong styles, But the `Portal.Host ` works for me

[2019-02-20 23:52] trialsNow opened #857 "PaperProvider not working with RNN Wix V2"
### Current behaviour
PaperProvider theming around Wix RNN is not working. Exact same code works well for react-native-elements

Crashed:
2019-02-20 18:29:20.948 [error][tid:com.facebook.react.JavaScript] TypeError: undefined is not an object (evaluating '_ref.theme')

This error is located at:
    in RCTView (at View.js:45)
    in Settings (at src/index.js:39)
    in ThemeProvider (at Provider.js

[2019-02-21 09:26] Trancever commented on #848
@rjsajnani1 This is our [Contributing Guide](https://github.com/callstack/react-native-paper/blob/master/CONTRIBUTING.md)

[2019-02-21 09:36] Trancever commented on #846
Hi @AlexeyVlasenko I don't think that prop is relevant for Dialog component. Usually Dialogs shouldn't be dismissed automatically, but if you really want that feature, you can build your component which wrapps our Dialog and provides such functionality.

[2019-02-21 09:36] #846 closed

[2019-02-21 10:11] Trancever commented on #839
@soumyamishra89 Coming back to original issue, there is no disabled feature on FAB.Group cause Material Design Guidelines suggest not to disable FAB.Group but completely hide it. This prop exists on FAB component only because FAB supports extended mode.

[2019-02-21 10:42] soumyamishra89 commented on #839
this issue is irrelevant now. I was mistaken, i thought changing icon would simply change the icon, but react-native-paper does a nice animation to change the icon, which solves my issue and i do not need to animate it separately. My bad, did not test it thoroughly before using separate animation.

[2019-02-21 11:10] Trancever commented on #839
@soumyamishra89 Do you have any other issue or can we close this?

[2019-02-21 11:23] AlexeyVlasenko opened #859 "Suggestion: Prop for overriding default Fade In/Out Modal time."
Hi! I want to suggest add prop for overriding default Fade In/Out time for Modal (also Dialog)  Now its 280, and its too much.

[2019-02-21 13:59] soumyamishra89 commented on #839
@Trancever i will close this issue.
can u have a look at this issue [https://github.com/callstack/react-native-paper/issues/837](url)

[2019-02-21 13:59] #839 closed

[2019-02-21 14:09] foxlol commented on #845
@sm2017 are you using android or ios? In my app the `Portal.Host` works in the sense that it is not rendered after navigating away from the screen, but the positioning goes to top-right and the z-index is set to 0. Even with `flex: 1` i can't seem to make it work. I'm using the FAB inside a `ScrollView`.

[2019-02-21 15:21] sm2017 commented on #845
I test in Android, but I think it works on iOS too
Use inspector to find what style you must change, or add `borderWidth:1` to FAB and all parents to see components dimensions
Then use `flex:1` to fix it

[2019-02-21 16:38] adanna21 commented on #804
having this same issue with Xcode. Card doesn't have the prop accessible so none of it's children are accessible.

[2019-02-21 17:29] RichardLindhout commented on #857
[code]

[code]

[2019-02-21 17:29] RichardLindhout commented on #857
I have no problems. (I use react-native-navigation also)

[2019-02-21 17:39] ferrannp commented on #859
Want to send a PR?

[2019-02-21 17:40] ferrannp commented on #852
Probably we can wait for https://github.com/callstack/react-native-paper/pull/735.

[2019-02-21 17:41] ferrannp commented on #851
Fixed #858.

[2019-02-21 17:41] #851 closed

[2019-02-21 17:44] #845 closed

[2019-02-21 17:46] ferrannp commented on #804
Fixed #812.

[2019-02-21 17:46] #804 closed

[2019-02-21 23:04] timothystewart6 commented on #712
If you are using `Searchbar />` You have `onChangeText` for the value and I found that you can use `onSubmitEditing` for the softkey submit/search

[onSubmitEditing](https://facebook.github.io/react-native/docs/textinput.html#onsubmitediting)

[code]

[2019-02-21 23:04] timothystewart6 commented on #712
I can add this to the docs if that helps!

[2019-02-22 13:47] Taym95 commented on #849
Can I work on this?

[2019-02-22 14:01] satya164 commented on #849
Go ahead!

[2019-02-22 14:42] Taym95 commented on #848
If no one is working on this issue I would like to work on it

[2019-02-22 14:46] #849 closed

[2019-02-22 14:56] Trancever commented on #848
@Taym95 Feel free to send PR :)

[2019-02-22 16:10] #848 closed

[2019-02-23 06:40] sm2017 opened #865 "TextInput editable not works"
### Current behaviour

TextInput editable not works

### Expected behaviour
TextInput editable and disabled is different behavior

### Code sample

[code]

### Screenshots (if applicable)

### What have you tried

see https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput.js#L647 , you can see here not disabled is equal to editable

### Your Environment

| software

[2019-02-23 06:45] sm2017 commented on #865
I send https://github.com/callstack/react-native-paper/pull/866

[2019-02-23 16:47] raajnadar commented on #865
A discussion is already going on https://github.com/callstack/react-native-paper/issues/737

[2019-02-23 17:42] hussainahmad commented on #549
Is there any workaround to get this feature,  Much needed.

[2019-02-23 18:34] tonyxiao opened #867 "Collapsible Appbar.Header"
Can `Appbar.Header` be customized to work with react-navigation in such a way that it's collapsible upon scroll? Are there example implementations in react-native-paper that I might have missed?

PS: I found a related library here but not sure if it plays well with react-native-paper yet. https://github.com/benevbright/react-navigation-collapsible

[2019-02-23 20:13] trialsNow commented on #857
@RichardLindhout Which RNN version are you using?I do v2, my code works perfectly for react - native -elements. I do the same for react-native-paper and it fails with error.
My repo is really huge I can export it.

I tried your exact code and had the same crash/error
[code]

[2019-02-23 20:28] satya164 commented on #857
Please post your code.

[2019-02-24 01:35] trialsNow commented on #857
Here is the subset of what I have ..hope this is enough.. I modified my code to follow @RichardLindhout

[code]

[code]

[code]

[2019-02-24 13:06] amandeeptherockstar opened #868 "undefined is not an object (evaluating '_reactNativePaper.DataTable.Header')"
While using DataTable i am getting this error **"undefined is not an object (evaluating '_reactNativePaper.DataTable.Header')"**

This is expo code https://snack.expo.io/@amandeepkochhar/cmFudG

### Screenshots (if applicable)

![whatsapp image 2019-02-24 at 6 39 35 pm](https://user-images.githubusercontent.com/34765485/53299699-9ee16480-3863-11e9-880b-c9bda0ae72ff.jpeg)

### What have you tried
I

[2019-02-24 13:14] satya164 commented on #868
Update `react-native-paper` to `2.11.1` in the `package.json` in the snack.

[2019-02-24 13:14] #868 closed

[2019-02-25 06:16] sm2017 opened #869 "Feature request : label"
`Label` component for `CheckBox` and `RadioButton` (like on the web) is awesome feature

[code]

[2019-02-25 10:21] ferrannp commented on #869
I guess you want to have something like a `Checkbox` where the whole row is clickable like Material docs are showing? We have some in `example`. You could do something like:

[code]

We could do that maybe as `Checkbox.Row` and `RadioButton.Row`.

[2019-02-25 10:23] ferrannp commented on #867
You can do it as you can pass style to Appbar and connect it to your scroll view. However, if you want to do it with `react-navigation` (and their static header), then that would require some code there I believe (just as  https://reactnavigation.org/blog/2018/11/17/react-navigation-3.0.html#new-features)

So for this with `react-navigation`, we would probably need to use scroll views from them.

[2019-02-25 11:02] sm2017 commented on #869
@ferrannp when you press `label` the `Checkbox` must checked , like web
I want to extend touchable area in a Checkbox.Group

[2019-02-25 13:15] edmundojr opened #870 "TextInput with multiline and without label has incorrect placeholder alignment on iOS"
### Current behaviour

`TextInput` placeholder has incorrect alignment on iOS when used with `multiline={true}` and without `label`.

### Expected behaviour

Expect `TextInput` with `multiline={true}` and `placeholder` to look the same, whether with or without `label`.

Issue happens only on iOS, not on Android (see screenshots below).

### Code sample

[code]

### Screenshots (if applicable)

iOS

[2019-02-25 14:42] Pushplaybang commented on #658
I See this issue has been closed, and I've just hit the same wall.  I think the case in question above, is too specific. @satya164  - I totally get the above mentioned goals, as well as those of material design.

Material design, is a set of principles and guidelines,  and if we're not able to extend fundamental styles, then we're left with all our UI's looking like they were made at google. While

[2019-02-25 14:50] Pushplaybang commented on #745
It would be great to have access to these styles from the theme

[2019-02-25 16:27] satya164 commented on #658
@Pushplaybang please open a new issue with your use case. There is a PR open already which should allow you to change the padding etc. #854

[2019-02-25 17:12] Pushplaybang opened #871 "Customising Button dimensions"
### Current behaviour

When adjusting the button dimensions, such as width, height or padding, the touchable remains the same size.

### Expected behaviour

I would expect that the hole button remains touchable, rather than just the original size set by the library.

### Code sample

<Button style={{ height: 120 }}>Hi THere</Button>

### What have you tried

* setting various dimension properties,

[2019-02-25 17:16] satya164 commented on #871
Doesn't #854 address your use case?

[2019-02-25 17:49] Pushplaybang commented on #871
@satya164  - unfortunately not.  This solution falls short, if you were to a) resize the button, or b) want to wrap a custom  View etc.    We could parse the values into to a custom prop like in that PR, which would get us away from a whitelist / loop in the button, which I don't like.   In both proposals `wrapperStyles` maybe more appropriate.

[2019-02-25 17:59] Pushplaybang commented on #871
@satya164  - actually I SPOKE TOO SOON.  It absolutely addresses the first half of my issue.. being able to set the dimensions on that `View` seems to push the outer wrapper.

The second part would still be the button inner, moving the <Text>> component into a conditional, allowing both easy continued use, as users do, as well as the ability to parse in your own view / text / component element.

[

[2019-02-25 18:02] satya164 commented on #871
You can already pass `<Text />` elements since they are valid children of `<Text />`

[2019-02-25 18:11] Pushplaybang commented on #871
@satya164 yes you can, but you cannot parse a `View` into `Text` and so you're limited to those styles already imposed on the Text element. There are many reasons to want to do this, including:

[2019-02-25 19:22] satya164 commented on #871
I don't think the ability to pass a `View` in your proposed solution will address any of those use cases.

Icon and text are separate children and that will only allow you to replace the text which doesn't solve your use case. However, you can already pass a `<Text />` child with custom styles and custom icon element which allows you to style your text.

For gradient backgrounds, you'll need to re

[2019-02-25 22:03] 888dev commented on #844
any news on this issue?

[2019-02-25 23:19] Pushplaybang commented on #871
@satya164  - these aren't hypothetical at all.  and yes, you have a text and icon prop, but allowing us to put a view in, under the Touchable, would allow for complete custom button if it's warranted, by the design, which in the App I'm currently building it does.

While yes you could build the button from the building blocks, and re-implement it, that seems like an awefully unnecessary amount of

[2019-02-25 23:24] Pushplaybang commented on #871
### Updated Proposal
Based on what I gleaned from #854 we only need to parse the dimension properties into the `View`  tag, please see my updated snippet below:

[code]

current advantages over #854 are:

Regarding the proposal above, it superior to the current PR in that:

* **ZERO api change.** Nothing.
* Dimension properties are parsed to all the relevant internal wrappers, automatically, so th

[2019-02-26 00:29] satya164 commented on #871
You can totally pass a custom animated icon https://callstack.github.io/react-native-paper/

Copying `width` and `height` from wrapper to the inner touchable will have zero effect. Also copying all padding and margin properties will double them. I don't think this is the desire behaviour.

If you really want this behaviour, you can easily pass the same style to both `style` and `contentStyle`.

Yo

[2019-02-26 03:34] trialsNow commented on #857
@satya164 Any updates?

[2019-02-26 07:28] hussainahmad opened #873 "KeyboardAvoidingView not working with TextInput password fields"
### Current behaviour
Currently when remove `secureTextEntry={true}` it works fine like when I press `next button` on keyboard it will go to password textInput field from State textInput field and also `password textInput field` scroll up and works perfectly, but when I added  `secureTextEntry={true}` which is mandatory  this is not working for password fields, working fine on other fields perfect

[2019-02-26 09:54] Pushplaybang commented on #871
@satya164

* please read the code in both proposals above. style properties are filtered, so no margin is transferred
* I've only included padding as an example, agree this should come out the whitelist
* again but having to parse the icon down through props this is a problem.
* what if I want the currently design material button with a linear graident background?  As is quite trendy currently?
*

[2019-02-26 11:31] satya164 commented on #871
I have read it. Nothing is filtered in your code example. You are getting few properties from `style` and passing them to the inner item as `childDimensions`. You still pass the `style` prop as is to the container.

Anyway, even if you filter it, there are more properties than `padding` we need to take care of for consistent behaviour (e.g. `alignItems` and `justifyContent` like you added in your

[2019-02-26 11:31] raphox commented on #689
If you are using https://facebook.github.io/create-react-app. You can use https://github.com/timarney/react-app-rewired to config webpack without `react-scripts eject`.

* Install packages as describe here https://callstack.github.io/react-native-paper/using-on-the-web.html#2-configure-babel-loader :
`$ yarn add --dev babel-loader @babel/preset-env @babel/preset-react @babel/preset-flow @babel/plu

[2019-02-26 12:08] satya164 commented on #857
I haven't gotten time to investigate. Will check when I get some time. But since you have posted your code, maybe someone else can take a look if they have time.

[2019-02-26 16:50] ManalLiaquat opened #875 "<List.Item /> onPress not working"
### Current behaviour
`<List.Item onPress={()=>{console.log('something here')}} />` does not working

### Expected behaviour
I just want to press list item and want to navigate to other screen.

### Code sample
`render() {
    const { myFriends } = this.state;
    return (
      <View>
        {myFriends.map((v, i) => {
          return (
            <List.Item
              key={i}

[2019-02-26 17:00] ManalLiaquat commented on #875
I made a mistake in the code, I pass the `onPress ` prop in the `<Avatar.Image/>`
![screenshot_2](https://user-images.githubusercontent.com/36041100/53431238-f32a4700-3a11-11e9-81ad-09ad8696f0e8.png)

[2019-02-26 17:00] #875 closed

[2019-02-26 23:46] Pushplaybang commented on #871
@satya164 do you understand that you can't resize a button at the moment without duplicating your dimension properties now between `style` and `contentStyle`.  Does that seem intuitive to you?

have the decency and self-respect to at least acknowledge when you're wrong.

regarding the icon and loading text, I've addressed this several times.

I most certainly am and gave an example in the first po

[2019-02-26 23:58] #871 closed

[2019-02-27 13:30] viv3kk commented on #596
any update on this??

[2019-02-27 16:22] viv3kk opened #876 "Change TextInput borderWidth on focus in outline mode"
Unable to change TextInput borderWidth on focus in outline mode

[2019-02-27 17:33] gluons commented on #546
@ferrannp It can change only button text. But icon size still really small. And it doesn't match text size.

Button icon size has been fix to `16`. And I'm unable to change icon size of button.

https://github.com/callstack/react-native-paper/blob/3765a079c82da022be8302d356a7d7ab73abc74f/src/components/Button.js#L254

[2019-02-28 12:03] Trancever commented on #873
Hi @hussainahmad, I am pretty sure this issue is not related to our library, cause we don't do anything special with TextInput. Could you try to replace TextInputs from Paper with those from react-native and check if you still encounter that problem?
Btw, KeyboardAvoidingView has a lot of issues and you can try this package - https://github.com/APSL/react-native-keyboard-aware-scroll-view.

[2019-02-28 15:53] a1lu opened #877 "Textinput height"
### Current behaviour

If i change (make it smaller) the height of the TextInput component the placeholder text is not centered.

### Expected behaviour
A smaller textinput with the placeholder centered

### Code sample

<TextInput style={{width: '100%', height: 44}} mode='outlined' label='Test' />

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software

[2019-02-28 17:27] t-hughes opened #878 "Snackbar Duration Question"
I assumed any number value could be passed to the duration prop. Is this not the case?

### Current behaviour

Passing Infinity to the duration prop gives me an error:

Expected dynamic type 'double' but had type 'null'. (constructing arguments for Timing.createTimer at argument index 1)

### Expected behaviour

Assumed we could pass any value that is a number to the duration prop.

### Code sampl

[2019-02-28 18:14] viv3kk commented on #877
Facing the same issue..

[2019-02-28 18:19] viv3kk commented on #701
same issue... might have to leave paper. There are many short coming with TextInput like adjusting height , border width etc

[2019-03-01 10:48] #716 closed

[2019-03-01 11:25] ManalLiaquat opened #879 "How to use avatar on CHIP?"
I can't understand docs https://callstack.github.io/react-native-paper/chip.html

guide me how to show avatar in chip `<Chip avatar={ ??? }>`

[2019-03-01 12:21] Trancever commented on #879
Try `<Chip avatar={<Image source={require('../../assets/images/avatar.png')} />}>Chip</Chip>`

[2019-03-01 12:21] #879 closed

[2019-03-01 13:55] abaart opened #881 "Checkbox invisible when unchecked on iOS"
### Current behaviour

On iOS an unchecked checkbox is invisible, which is not user friendly. Additionally, the `uncheckedColor` prop is not implemented on iOS.
### Expected behaviour

By default the checkbox should be visible. `uncheckedColor` should be implemented on iOS, or at least in the documentation it should be mentioned that this prop is Android-only.

### Code sample

The code as provide

[2019-03-01 15:03] trialsNow commented on #857
@RichardLindhout
Can you help me out? I like react-native-paper over react-native-elements but this issue might push me out? Kind of waiting on some solution on this.

[2019-03-02 04:44] tonyxiao commented on #686
@raajnadar sometimes guidelines do not correspond to the reality of the data we're trying to present to users.

[2019-03-02 04:44] tonyxiao commented on #686
What alternative would you recommend for a list item that takes a few lines?

[2019-03-02 09:11] Kirill-Cherkalov commented on #857
Hi guys, I think that I have a similar problem. I also use react-native-navigation v2 and have a problem with react-native-paper. But I have a problem when trying to add any react-native-paper component into the code(in this case with checkbox)
[code]
![capture](https://user-images.githubusercontent.com/36012296/53679848-7fbf5880-3ce3-11e9-8b8a-edff20c2c5fd.PNG)

package.json
[code]
babel.config
[

[2019-03-02 09:22] Trancever commented on #857
I'll try to prepare today or tomorrow working example, so you guys will be able to follow it, stay tuned :)

[2019-03-02 11:18] RichardLindhout commented on #857
What happens if you get rid of al your async functions and just register the screens @trialsNow

[2019-03-02 11:21] RichardLindhout commented on #857
@Kirill-Cherkalov I think your issue is something in your react native setup. https://github.com/facebook/react-native/issues/20588

[2019-03-02 11:24] RichardLindhout commented on #857
@Kirill-Cherkalov Maybe upgrade deps. Looks like a lot of babel things which are maybe not needed.

This is my package.json (native and web project in one)
[code]

[2019-03-02 11:26] RichardLindhout commented on #857
@trialsNow Maybe it's an older react version which does not support Context yet? Can you share your versions of react and react native

[2019-03-02 18:11] RichardLindhout opened #888 "Feature request: custom left and right same as listItem in buttons (Fab and normal)"
### Current behaviour

It's hard to add na icon to the right side of a button.

### Expected behaviour

We should make the button more simple and remove loading and icon props. We should however let the user change the left or right inner of button.

### Code sample
[code]
Or maybe.
[code]

[2019-03-02 19:56] trialsNow commented on #857
@RichardLindhout
Here is my versions..

"react-native-paper": "^2.11.1",
"react": "16.6.1",
    "react-native": "0.57.7",
 "react-native-navigation": "^2.12.0",

[2019-03-03 01:04] esalberg100 commented on #352
Any plans for this issue to be solved?

[2019-03-03 01:53] satya164 commented on #352
@esalberg100 try `contentStyle` prop

[2019-03-03 02:12] esalberg100 commented on #352
Thanks, I created 2 different styles `style={styles.buttonStyle} contentStyle={styles.buttonContentStyle}` and setting the `height` to 50 in the `buttonContentStyle` worked.

[2019-03-03 09:01] Kirill-Cherkalov commented on #857
Thanks for the link. The problem was been connected with babel (because I use decorators), not with react-native-paper. I also removed unused packages, just in case)

[2019-03-03 10:04] Trancever commented on #857
Created [example app](https://github.com/Trancever/paper-navigation-example) with `paper` and `react-native-navigation`

[2019-03-03 10:39] #857 closed

[2019-03-03 17:43] Trancever commented on #878
Under the hood we use setTimeout api, and according to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout#Maximum_delay_value) passing bigger value than 32-bit Integer will lead to integer overflow which should be avoided. Additionally, we have exposed 3 different durations recommended by Material Design Guidelines as a static properties which should be use

[2019-03-03 17:45] satya164 commented on #878
Maybe we can add a special check for Infinity?

[2019-03-03 18:32] Trancever commented on #878
And what should we do in that case? Pass biggest safe number?

[2019-03-03 19:11] satya164 commented on #878
@Trancever don't add a timeout at all if Infinity is passed, coz the snackbar is supposed to shown forever in that case, unless dismissed by user

[2019-03-03 19:47] Trancever commented on #878
@satya164 Ahh that makes sense :D @t-hughes Do you wanna implement that and send PR?

[2019-03-04 01:53] trialsNow commented on #857
@Trancever

1. The provider in your example doesn't use a theme. I get an error only during setting theme.
2. The provider is not wrapping all the screens at one shot during navigation registration. You have them at all screens.

[2019-03-04 07:02] Trancever commented on #857
I'll check 1 point, but for the second point, you can't wrap all screens in one provider. While using react-native-paper you have to wrap every screen with it's own provider.

[2019-03-04 13:31] trialsNow commented on #857
@Trancever
For #2 react-native-elements does it at one shot for all screens as provided in my example. Thought @RichardLindhout was able to achieve that.
Will wait to hear from you on #1.

[2019-03-04 15:15] Trancever commented on #857
@trialsNow Check [my example](https://github.com/Trancever/paper-navigation-example) again. I updated it to use same approach as you and it works fine. Btw, even though @RichardLindhout is using HOC and he iterates on a routes collection doesn't mean he is using one provider, he still wraps every screen with separate Provider.

[2019-03-04 17:31] 888dev commented on #844
anything?

[2019-03-04 18:05] Trancever commented on #844
@888dev Could you provide [snack](https://snack.expo.io/) that reproduces issue? It will be easier for us to check it.

Btw, are you able to reproduce it with TextInput from React-Native or only from Paper?

[2019-03-04 18:33] RichardLindhout commented on #857
@Trancever You're right. I wrap every screen in a redux provider + paper provider. It's stated in the RNN docs here: https://wix.github.io/react-native-navigation/#/docs/top-level-api-migration?id=registering-screens-with-wrapping-provider-component

[2019-03-04 18:36] cheuk3 opened #889 "Appbar.BackAction"
Custom icon for the backaction would be nice to have. Sometime we might want to have a cross icon instead of arrow :D

[2019-03-04 18:42] cheuk3 commented on #889
Just found out that I can use Appbar.Action instead. Please close this. Thanks

[2019-03-04 18:44] #889 closed

[2019-03-04 18:50] 888dev commented on #844
@Trancever you can check this snack it is not working here as well, you cant see the cursor on error field only.
https://snack.expo.io/HJ_m7gsIN

[2019-03-04 19:05] satya164 commented on #844
I can't seem to repro it. What's your Android version?

![image](https://user-images.githubusercontent.com/1174278/53756198-de89fb00-3eb8-11e9-956d-0ab554350612.png)

[2019-03-04 19:13] 888dev commented on #844
I am using galaxy s7 edge, android version 8.0.0

[2019-03-04 22:09] Trancever commented on #844
@888dev Could you test on different devices/emulators with different android version?

[2019-03-05 13:04] nazrdogan opened #891 "List.Subheader is missing"
### Current behaviour
 When I try to use List.SubHeader its giving error.

` <List.Subheader>Some title</List.Subheader>`

### Expected behaviour
 it should not in documents or it should be available in paper.

### Code sample
Try on Snack.
https://callstack.github.io/react-native-paper/list-subheader.html

### Screenshots (if applicable)
![img_7952](https://user-images.githubusercontent.com/16723

[2019-03-05 14:38] Trancever commented on #891
@nazrdogan We are generating documentation from master branch and it already contains List.Subheader, but latest npm version does not have it yet. You can expect new version landing on npm in next couple of days.

Btw, we are planning to change the current behaviour and only publish docs when we publish new version of library on npm to prevent such situations.

[2019-03-05 14:58] nazrdogan commented on #891
@Trancever  Yeah. I saw PR's but docs are misleading sometimes. it will better published version on docs.

[2019-03-05 14:58] #891 closed

[2019-03-05 20:37] 888dev commented on #844
It is working on Android 9.0, but not on Android 8.0

[2019-03-05 21:53] brentvatne commented on #867
I would use `headerMode: 'none'` on a stack and then just use the `Appbar` from paper directly on your screens

[2019-03-05 22:24] #867 closed

[2019-03-06 02:32] brentvatne commented on #867
would be neat to see a stack navigator that uses paper's appbar and also supports this behavior :)

[2019-03-06 07:20] hvardhan617 opened #893 "NativeViewHierarchyManager: Unable to update properties for view tag error thrown in logcat android when using ActivityIndicator component from RNPaper"
### Current behaviour

When using Activity Indicator component from React native paper, the below error is continuously occurring in Logcat when run on an Android emulator.

:NativeViewHierarchyManager: Unable to update properties for view tag 33
    com.facebook.react.uimanager.IllegalViewOperationException: ViewManager for tag 33 could not be found
        at com.facebook.react.uimanager.NativeV

[2019-03-06 07:44] jaulz commented on #893
Maybe on Android some views are collapsed and we need to add `collapsable` prop to more views within `ActivityIndicator`? Unfortunately, I cannot reproduce it right now.

@hvardhan617 can you try to add `collapsable={false}` to all of the `Animated.View`s in `ActivityIndicator.js` and see if that helps?

[2019-03-06 09:14] hvardhan617 commented on #893
@jaulz Am sorry ..but am unable to understand..can u plz explain?

[2019-03-06 09:58] jaulz commented on #893
@hvardhan617 just find the `react-native-paper` folder in `node_modules` and change the code of the `src/components/ActivityIndicator.js` by adding `collapsable={false}` to all `Animated.Views`s

[2019-03-06 12:05] cdn34 opened #894 "Switch component crashing the app on Android"
### Current behaviour
App crashes when adding the Switch component

### Expected behaviour
Component loading correctly.

### Code sample

        <Switch
          value={this.state.includePDF}
          disabled={false}
          onValueChange={() => {
            this.setState({ includePDF: !this.state.includePDF });
          }}
        />
### Screenshots (if applicable)
![screenshot_20190306-1

[2019-03-06 13:05] Trancever commented on #893
@hvardhan617 Thanks for creating issue! Could you follow what @jaulz is suggesting and try once again? If it works with that changes, we will be able to create a quick fix :)

[2019-03-06 13:39] hvardhan617 commented on #893
Hi @jaulz  and @Trancever I had tried the approach suggested by jaulz..but still the issue persists.

[2019-03-06 14:44] jaulz commented on #893
@hvardhan617 can you also try it again after you cleared the cache and then implemented the changes? You can clear the cache via:
``
watchman watch-del-all && rm yarn.lock && rm -rf node_modules && rm -rf $TMPDIR/metro-* && rm -rf $TMPDIR/haste-map-* && yarn
``

[2019-03-06 23:35] ilyaux opened #896 "Please Help with Bottom Navigation"
## Please Help with Bottom Navigation

I have a BottomNav element. It is located on the main page of the application - Feed Page. When I click on the icon in BottomNav to go to the MapScreen page nothing happens. Help solve the problem.

**BottomNav**
[code]

**MapScreen**
[code]

[2019-03-07 07:01] Trancever commented on #896
Please check this [Snack](https://snack.expo.io/?name=BottomNavigation&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fbottom-navigation.html&code=import%20*%20as%20React%20from%20%27react%27%3B%0Aimport%20%7B%20BottomNavigation%2C%20Text%20%7D%20from%20%27react-native-paper%27%3B%0A%0Aconst%20MusicRoute%20%3D%20()%20%3D>%20<Text>Music<%2FText>%3B%0A%0Aconst%20AlbumsRoute%20%3

[2019-03-07 07:18] Trancever commented on #896
Btw, do you know that you render same component on both routes?

[2019-03-07 07:29] #896 closed

[2019-03-07 07:43] hussainahmad commented on #873
HI @Trancever , Yes this is my mistake this issue is not in `react-native-paper`, This issue is in `TextInput` in **react-native**,   Work Around for this issue is :
[code]
[complete solution](https://github.com/hussainahmad/React-Native-Form-Demo/pull/1/commits/d100713158a55527c92158af212b07fe51441c08)

[2019-03-07 10:21] RaheelJaved opened #897 "Badge component is missing"
my simple component (code below) fails to render

[code]

I installed react-native-paper using npm like this:
`npm install --save react-native-paper`

I looked into `node_modules\react-native-paper\src\components\` in my project folder and there is no `Badge.js` there

`node_modules\react-native-paper\src\index.js` also has no export of Badge.

Why so? Am I looking at the right place? What do I ne

[2019-03-07 10:52] jaulz commented on #897
@RaheelJaved can you check in `package.json` which version you installed?

[2019-03-07 11:05] RaheelJaved commented on #897
@jaulz it is 2.4.0

`"react-native-paper": "^2.4.0",`

[2019-03-07 11:16] satya164 commented on #897
The latest version is `2.12.0`. Please upgrade.

[2019-03-07 11:16] #897 closed

[2019-03-07 12:37] Taym95 commented on #878
I would like to work on this issue!

[2019-03-07 13:01] satya164 commented on #878
@Taym95 awesome! PR welcome :)

[2019-03-07 13:59] Trancever commented on #873
@hussainahmad ?

[2019-03-07 15:05] #878 closed

[2019-03-07 15:19] 0x01Brain opened #903 "Add suffix, prefix, leading and trailing Icon to TextInput"
## Describe the feature

The current HelperText has only error, and info. But does not have adding custom suffix or prefix, example is shown here:
https://material.io/design/components/text-fields.html#filled-text-field

![image](https://user-images.githubusercontent.com/13728193/53967014-da0a5000-410d-11e9-8a74-c30650c5ac08.png)

## Motivation

## Related Issues

[2019-03-08 03:33] zerobytes commented on #686
I must disagree with @raajnadar and say that the implementation that took place on list item does not corresponde to the guidelines, itself.

Material guideline is very clear on giving 3 independent lines or 2 lines and the last can grow wrapping down.
![image](https://user-images.githubusercontent.com/439445/54005847-c4128480-4139-11e9-8db4-4c377e543ed8.png)

[2019-03-08 04:34] hussainahmad commented on #873
Sorry mate, You are right This is in react-native `TextInput`, not in `react-native-paper`,

[2019-03-08 04:34] #873 closed

[2019-03-08 08:00] raajnadar commented on #686
Ok Ok, I am opening this issue again..!

[2019-03-08 10:33] satya164 commented on #686
We do support 3 line list items. 3 lines don't mean there should be a 3rd prop. It just means that the total number of lines can be 3, as in your screenshots.

![image](https://user-images.githubusercontent.com/1174278/54023675-d4584d00-4195-11e9-9534-23e08484325f.png)

[2019-03-10 08:27] mreorhan opened #909 "TextInput Focus (getRef) not working"
## Environment

"expo": "^32.0.0",
    "react": "^16.5.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-32.0.0.tar.gz",
    "react-native-paper": "^2.12.0",

## Description
When I tried passing 2. input, this gave an error. The error is: Undefined is not an object
## Reproducible Demo

[code]

[2019-03-10 09:12] Trancever commented on #909
Hi, use:
[code]

[2019-03-10 09:12] #909 closed

[2019-03-10 16:00] mreorhan opened #910 "How can I change textinput borderbottom width?"
## Ask your Question
How can I change textinput borderbottom width?

![ww](https://user-images.githubusercontent.com/17215194/54087705-9f4f2480-4366-11e9-8601-7e86f6a5cd6e.PNG)

[2019-03-11 09:17] xNiallC commented on #801
I solved the issue by placing the Chips in a View with the following style:

`<View style={{flexDirection: 'row', alignItems: 'center', justifyContent: 'flex-start'}}>...</View`

Which causes them to behave as expected, with automatic width to match its child content.

[2019-03-11 15:29] danielwgraf opened #913 "Disabled FAB is see through?"
Based on the documentation, I thought a disabled FAB should simply be grey, but after trying to disable one over a blue background, I realized that it's actually just becoming opaque (and maybe darkening the background?). Is this intended? And if so, is there a way to set the color to just be grey? I attempted setting the disabled property in colors on the FAB but it didn't seem to work.

[2019-03-12 03:25] geminiyellow commented on #21
`tooltip` is a good idea, not binding with icon.

[2019-03-12 11:46] agat opened #914 "List.Item height"
## Environment

Latest stable version of paper.

## Description

Based on Material Design specs list item height must be:

- With title: 48px
- With title and icon: 56px
- With title and description: 72px

https://material.io/design/components/lists.html#specs

But now `List.Item` component height are:

- With title: 54px
- With title and icon: 72px
- With title and description: 72px

## Reproduci

[2019-03-12 13:28] ocarreterom commented on #914
Yes, List.Item lacks some variants.

[2019-03-12 16:04] mreorhan opened #916 "Unable to resolve: MaterialIcons"
## Environment

I upgraded the module from  2.12.0 to 2.13.0. Then module gave an error like this. When I tried Iphone 6, it gave an error about materialicons before upgrade.

## Description

Unable to resolve "react-native-vector-icons/MaterialIcons" from "node_modules\react-native-paper\src\components\Icon.js"

## Reproducible Demo

[2019-03-12 18:17] #916 closed

[2019-03-12 22:45] anveshreddy87 opened #917 "TextInput.Focus is not working if i use Textinputmask in TextInput"
## Environment
 "react-native": "0.57.8",
"react": "16.6.3",
 "react-native-masked-text": "1.11.0",
"react-native-paper": "2.12.0",

## Description

I tried to jump onto next Custom textinput by clicking on returnKeyType='next'....It's throwing an error...if it is normal textinput(moving from one textinput to nextinput by clicking onreturnKeyType='next'. ) focus() is working fine..but when i injec

[2019-03-13 21:36] AlexMachin1997 opened #918 "Modal Snack example is not working"
## Environment

Expo Snack

## Description

The modal snack  is currently broken, it shows TypeError: null is not an object.

## Reproducible Demo
As previously mentioned it is a custom demo provided by the snack.

The modal demo can be found [here](https://snack.expo.io/@alexmachin1997/bW9kYW?name=Modal&description=https%3A%2F%2Fcallstack.github.io%2Freact-native-paper%2Fmodal.html&code=import%20

[2019-03-13 22:12] ilyaux opened #919 "How to change the color of action in Snackbar?"
## How to change the color of action in Snackbar?

Hi guys ! Help to understand how to change the color of the action in Snackbar ?

[code]

[2019-03-14 04:09] yingapp opened #920 "Not able to make Appbar.Header background color transparent"
## Environment

    "@reach/router": "^1.2.1",
    "create-react-context": "^0.2.3",
    "react": "^16.8.4",
    "react-art": "^16.8.4",
    "react-dom": "^16.8.4",
    "react-native": "^0.58.6",
    "react-native-gesture-handler": "^1.1.0",
    "react-native-paper": "^2.12.0",
    "react-native-vector-icons": "^6.3.0",
    "react-native-web": "^0.10.0-alpha.3",
    "react-native-webview": "^5.3.0

[2019-03-14 04:12] yingapp commented on #920
![Screenshot_1552536661](https://user-images.githubusercontent.com/47973401/54330862-5e9b2800-4652-11e9-8b18-012dbf57cf63.png)

[2019-03-14 04:20] yingapp commented on #920
![Screenshot_1552537233](https://user-images.githubusercontent.com/47973401/54331161-99ea2680-4653-11e9-9ec9-4a1fbdabbde8.png)

[2019-03-14 08:25] Trancever commented on #919
You can change it via theme prop:

[code]

[2019-03-14 08:25] #919 closed

[2019-03-14 11:31] ferrannp commented on #917
@anveshreddy87 can you provide a Snack?

[2019-03-14 11:32] ferrannp commented on #914
@agat wanna make a PR?

[2019-03-14 11:33] ferrannp commented on #910
You can't right now in v2. We might consider this with the TextInput redesign we are working on.

[2019-03-14 11:35] ferrannp commented on #894
@cdn34 can you provide a Snack?

[2019-03-14 13:49] Taym95 commented on #914
If no one working on this issue, I would like to work on it.

[2019-03-14 13:52] wibb36 commented on #837
https://github.com/callstack/react-native-paper/compare/master...wibb36:patch-1

[2019-03-14 13:55] agat commented on #914
There is a desire to try to do it, but there is no time in the coming days.

[2019-03-14 15:02] Trancever commented on #914
@Taym95 Fell free to submit PR :)

[2019-03-14 17:12] pnkapadia6 commented on #781
@satya164 Can I pick this up?

[2019-03-14 17:24] satya164 commented on #781
Go ahead

[2019-03-14 18:13] anveshreddy87 commented on #917
Hi,
Please find the complete repo in below path:
https://github.com/anveshreddy87/TextInputApp.git

[2019-03-14 18:30] pnkapadia6 commented on #781
@satya164 https://github.com/callstack/react-native-paper/pull/923

[2019-03-15 05:10] Guseyn opened #924 "List.Icon onPress"
Is it possible to set onPress on List.Icon, or is there some workaround to make such thing work?

[2019-03-15 08:14] Trancever commented on #924
You can wrap it with Touchable e.g:

[code]

[2019-03-15 08:15] Guseyn commented on #924
That's great, thanks

[2019-03-15 08:15] #924 closed

[2019-03-15 09:04] alikazemkhanloo opened #926 "use MaterialCommunityIcons instead of MaterialIcons"
## Describe the feature
Use MaterialCommunityIcons instead of MaterialIcons by default in all the components that take the `icon` prop.

## Motivation
I found out MaterialIcons lacks a lot of icons like `logout` of `thumb-up-outline`. But MaterialCommunityIcons looks like MaterialIcons and also have lots of other useful icons. Is there a reason you chose MaterialIcons? at least we can let the devs

[2019-03-15 13:28] abhijeetskadam opened #927 "Banner is visible in closed state"
## Environment

RN: 0.59
RN-paper: 2.13.0
Platform: Android

## Description

In closed state Banner is still visible, with Appbar having elevation 0. If I add elevation to Appbar it works fine.

## Reproducible Demo

https://snack.expo.io/SkGqPQKwE

[2019-03-15 13:43] satya164 commented on #927
That's how elevation works in Android, items with higher elevation appear on top of items with a lower elevation. It's not possible to change this behavior in the library.

[2019-03-15 13:44] satya164 commented on #927
We should fix if banner is visible in the closed state though. cc @Trancever

[2019-03-15 16:33] #918 closed

[2019-03-15 22:27] Steffi3rd opened #929 "Outlined label has background, why? How to set different color?"
<img width="95" alt="Capture d’écran 2019-03-15 à 23 24 18" src="https://user-images.githubusercontent.com/814410/54465102-c7c98b00-4779-11e9-8931-cb26c7096f6f.png">

[2019-03-16 11:20] Steffi3rd opened #930 "Warning after importing react-native-paper : Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle."
<img width="548" alt="Capture d’écran 2019-03-16 à 12 16 32" src="https://user-images.githubusercontent.com/814410/54474491-c9c93380-47e5-11e9-8d78-b802a130a4fd.png">

[2019-03-16 16:05] peterchibunna commented on #929
The `<TextInput>` component accepts a `style` property which can have a `backgroundColor: '<any color>',`

`<TextInput style={{backgroundColor: '#fff',}} />`

[2019-03-17 10:22] AlexMachin1997 commented on #918
![image](https://user-images.githubusercontent.com/29917195/54488853-87176200-489e-11e9-9203-a6e025711089.png)

Hmm something about this.props.manager.unmount

[2019-03-17 14:45] AlexMachin1997 opened #931 "Aligning a form into the centre of the screen"
Hi,

So I'm having a hard time understanding why this library is highly recommended, yet it seems to be buggy. Let me explain.

So I'm creating a login form, I want to center it so I apply the following properties:

justifyContent: 'center'
alignItems: 'center',

The only issue is when I apply the properties everything looks well, no how you would expect it to (See below for an image)

![image](ht

[2019-03-18 07:44] Trancever commented on #703
Closing, because touchables from gesture-handler are not accessible

[2019-03-18 07:44] #703 closed

[2019-03-18 07:50] #795 closed

[2019-03-18 10:17] Trancever commented on #929
@Steffi3rd  We set this background to cover the outline and to change it pass style prop just like @peterchibunna  suggested.

[2019-03-18 10:17] #929 closed

[2019-03-18 15:58] mreorhan opened #935 "How can I change button loading color?"
## Ask your Question

How can I change button loading color?
I changed themes, but color didnt change.

[2019-03-18 21:59] jcarloTA commented on #877
Same problem, when I add custom styles for height, these are reflected only in the parent but the component seems to have default styles for the child, a suggestion would be to add something like childStyles so that we can customize the child component as well

`style: [
            styles.input,
            childStyles, // <---just here!
            mode === 'outlined'
              ? styles.inpu

[2019-03-18 23:03] max10rogerio commented on #930
Same problem...

[2019-03-18 23:49] satya164 commented on #930
Duplicate of #639

[2019-03-18 23:49] #930 closed

[2019-03-19 12:33] #931 closed

[2019-03-19 16:51] pbitkowski commented on #791
Done by #882

[2019-03-19 16:51] #791 closed

[2019-03-20 04:43] getinfyKiranreddy commented on #881
Same thing I have been trying to modify an IOS uncheck color

[2019-03-20 06:31] kevingalvez-pro opened #938 "TextInput ref broken @2.14.0"
## Environment

RN version: 0.59
RNPaper version: 2.14.0

## Description

Assigning a ref to a TextInput in RNPaper@2.14.0 returns undefined and accessing .clear(), .focus() crashes the app.

## Reproducible Demo

1. Install RNPaper version 2.14.0
2. Create a ref in the constructor this.textInputRef = React.createRef()
3. Assign the ref to a TextInput
4. Run this.textInputRef.current.clear()
* Doe

[2019-03-20 09:00] Trancever commented on #938
cc @pbitkowski

[2019-03-20 13:22] ablbol commented on #938
I installed "react-native-paper": "^2.14.0", and immediately started getting this error:
Unable to resolve "./components/TextInput" from "node_modules/react-native-paper/src/index.js"

[2019-03-20 13:32] nazrdogan commented on #938
@ablbol This is happening because of Metro bundler. I don't know root issue but for example for this component its moved from single file to folder.I suppose you were using older version and basically packager cannot find this folder.  just try this
``` rm -rf $TMPDIR/react-* && watchman watch-del-all && rm -rf ios/build && rm -rf node_modules/ && npm cache clean --force && npm i ```
if this comma

[2019-03-20 21:23] Zefau commented on #926
I wrote a component for myself to use all the sets from `react-native-vector-icons`. Can probably be optimized, but currently looks like:

[code]

Can be used by `<Icon icon="android" />` (which uses MaterialIcons as default) or `<Icon icon="MaterialCommunityIcons|android-head" />` (which uses MaterialCommunityIcons).
@satya164 Maybe you'll find is useful to use

[2019-03-21 07:16] raajnadar commented on #920
It is working properly check this demo https://snack.expo.io/@raajnadar/appbar-transparent

[2019-03-21 09:43] realioseb opened #941 "Only on IOS TextInput with mode=outlined - label is jumping up and down"
Sorry for not filling template but this problem is easy to understand and reproduce.

TextInput with mode `outlined` only on IOS, when you are typing really fast, label keeps jumping up and down.

I noticed, this happens when outer component is re-rendered.

[2019-03-21 10:05] Trancever commented on #941
Hey @realioseb What version of paper do you use?

[2019-03-21 10:56] pbitkowski commented on #938
When it comes to ref error, we already know what happened. I'll fix this as soon as possible. Thanks for heads up @kevingalvez-pro

[2019-03-21 11:03] realioseb commented on #941
Hello @Trancever

Thanks for replay

Paper version is `2.10.1`

[2019-03-21 11:28] Trancever commented on #941
@realioseb Check this [Snack](https://snack.expo.io/@trensik/petrified-banana). I tried to reproduce an issue, but it worked fine on iPhone 6.

[2019-03-21 12:36] #9 closed

[2019-03-21 14:59] realioseb commented on #941
@Trancever thank you again for this nice snack

You just didn't notice problem just because it was happening too fast, I added few more fields. Please, try filling all of them and type quickly, you will notice problem on 3rd or 4th input. Try real phone not an emulator please.

This is the link to new [https://snack.expo.io/ryoVI7WuV](snack)

[2019-03-21 15:30] juandelacruz23 commented on #712
It seems that the TextInput receives all the other properties given to the search input, that's what makes possible what you said @timothystewart6
[This is the piece of code](https://github.com/callstack/react-native-paper/blob/master/src/components/Searchbar.js#L165-L180) (I don't know how to add a snippet from a github file 😢)