[2016-10-19 06:11] ahmedlhanafy opened #1 "Bottom navigation"
[Material Design Docs Link](https://material.google.com/components/bottom-navigation.html#)

[2016-10-19 06:12] ahmedlhanafy opened #2 "Bottom sheets"
[Material Design Docs Link](https://material.google.com/components/bottom-sheets.html#)

[2016-10-19 06:13] ahmedlhanafy opened #3 "Buttons"
[Material Design Docs Link](https://material.google.com/components/buttons.html#)

**TODO:**
- [x] Ability to customize text color
- [x] Disabled button
- [x] Button with icon
- [x] Button with loading indicator

[2016-10-19 06:13] ahmedlhanafy opened #4 "Floating Action Button"
[MD Docs Link](https://material.google.com/components/buttons-floating-action-button.html)
And we need to implement FAB Speed dials as people always ask about them [Angular Reference](https://material.angularjs.org/latest/demo/fabSpeedDial)

[2016-10-19 06:14] ahmedlhanafy opened #5 "Card"
[MD Docs Link](https://material.google.com/components/cards.html#cards-usage)

[2016-10-19 06:15] ahmedlhanafy opened #6 "Chips"
[MD Docs Link](https://material.google.com/components/chips.html#chips-specs)

[2016-10-19 06:18] ahmedlhanafy opened #7 "Dialog"
[MD Docs Link](https://material.google.com/components/dialogs.html#dialogs-specs)
We can use this [library](https://github.com/ahmedlhanafy/react-native-md-dialog) for inspiration

[2016-10-19 06:19] ahmedlhanafy opened #8 "Dividers"
[MD Docs Link](https://material.google.com/components/dividers.html#)

[2016-10-19 06:21] ahmedlhanafy opened #9 "Menu and Dropdown"
[MD Docs Link](https://material.google.com/components/menus.html#menus-usage)

[2016-10-19 06:22] ahmedlhanafy opened #10 "Pickers"
[MD Docs Link](https://material.google.com/components/pickers.html#pickers-time-pickers)
We will need an IOS developer for this one to be implemented on IOS

[2016-10-19 06:24] ahmedlhanafy opened #11 "Progress & activity"
[MD Docs Link](https://material.google.com/components/progress-activity.html#)
We don't need implement every behaviour or component in this link

[2016-10-19 06:25] ahmedlhanafy opened #12 "Checkbox"
[MD Docs Link](https://material.google.com/components/selection-controls.html#)

[2016-10-19 06:25] ahmedlhanafy opened #13 "Radio Buttons"
[MD Docs Link](https://material.google.com/components/selection-controls.html#selection-controls-switch)

[2016-10-19 06:26] ahmedlhanafy opened #14 "Switch"
[MD Docs Link](https://material.google.com/components/selection-controls.html#selection-controls-switch)
I don't know if we should implement this in JS or to look for a library in IOS and use the default Android one

[2016-10-19 06:27] ahmedlhanafy opened #15 "Sliders"
[MD Docs Link](https://material.google.com/components/sliders.html#)

[2016-10-19 06:28] ahmedlhanafy opened #16 "Snackbars"
[MD Docs Link](https://material.google.com/components/snackbars-toasts.html#)

[2016-10-19 06:29] ahmedlhanafy opened #17 "Steppers"
[MD Docs Link](https://material.google.com/components/steppers.html#steppers-types-of-steppers)

[2016-10-19 06:32] ahmedlhanafy opened #18 "Bottom Tabs"
[MD Docs Link](https://material.io/guidelines/components/bottom-navigation.htmll#)
Top tabs from https://github.com/react-native-community/react-native-tab-view

[2016-10-19 06:33] ahmedlhanafy opened #19 "Text Field"
[MD Docs Link](https://material.google.com/components/text-fields.html)

[2016-10-19 06:33] ahmedlhanafy opened #20 "Toolbar"
[MD Docs Link](https://material.google.com/components/toolbars.html#)

[2016-10-19 06:35] ahmedlhanafy opened #21 "Icons"
We will use [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons) but this component needs to implement touchable component that has ripple effects cross-platform
and It needs to have [Tooltips](https://material.google.com/components/tooltips.html#)
[MD Docs Link](https://material.google.com/style/icons.html)

[2016-10-19 06:39] ahmedlhanafy opened #22 "Colors"
[MD Docs Link](https://material.google.com/style/color.html#color-color-palette)

[2016-10-19 06:40] ahmedlhanafy opened #23 "Text"
[MD Docs Link](https://material.google.com/style/typography.html#)
We will also need to load Roboto typeface for IOS

[2016-10-19 06:46] ahmedlhanafy opened #24 "Drawer"
[MD Docs Link](https://material.google.com/patterns/navigation-drawer.html#navigation-drawer-content)
For this component, we need to have different components for items and groups of items we may implement an API similar to the Android native in android support library [link](https://developer.android.com/reference/android/support/design/widget/NavigationView.html?utm_campaign=io15&utm_source=dac&

[2016-10-19 06:53] ahmedlhanafy opened #25 "Higher Order Animation Component"
[MD Docs Reference](https://material.google.com/patterns/scrolling-techniques.html#)

[2016-10-19 06:54] ahmedlhanafy opened #26 "SearchBar"
[MD Docs Link](https://material.google.com/patterns/search.html#search-in-app-search)

[2016-10-19 07:06] ahmedlhanafy opened #27 "Touchable"
Cross-platform touchable component that implements ripple effect. In Android we will use TouchbaleNativeFeedback in IOS we need to bridge a native library or implementation

[2016-10-19 07:19] ahmedlhanafy opened #28 "Theme Provider and default themes"
The component responsible for providing all the elements with themes' data like color and typography...etc

[2016-10-19 07:23] ahmedlhanafy opened #29 "Example App"
An app that showcases the library

[2016-10-19 07:26] ahmedlhanafy opened #30 "Fab Toolbar"
[Angular Material Docs Link](https://material.angularjs.org/latest/demo/fabToolbar)

[2016-10-24 03:15] #29 closed, assigned to nobody

[2016-10-25 22:17] grabbou opened #41 "Using flow over `propTypes`"
The contributing guide as well as the current files use and mention propTypes. Is that going to be our preferred approach or shall we favour Flow types instead?

[2016-10-26 04:13] satya164 opened #42 "Layer"
To have consistent styling on Android and iOS we need  `Layer` component (have a better name?) which takes an `elevation` prop and renders a `View` with correct shadows on both Android and iOS.

We'll need this before working on any component with shadows.

[2016-10-26 04:24] satya164 opened #43 "Portal"
## Description

Elements like FAB and Snackbar render on a different plane above the content in z-axis. Many other elements such as bottom sheets, modals etc. need to be rendered above content too. It'll be useful to have a single Portal component to handle these cases.

To determine which elements exist on which plane, we need to refer to their elevation - https://material.google.com/material-des

[2016-10-26 04:26] satya164 opened #44 "GridView"
A responsive GridView is extremely useful in apps.

[2016-11-01 20:35] lucasbento commented on #23
Has this been fixed by #38?

[2016-11-01 20:37] satya164 commented on #23
@lucasbento Yes, but I wanna do few tweaks. Will close this once done.

[2016-11-02 01:27] #42 closed

[2016-11-02 02:06] satya164 opened #50 "Fix Flow errors"

[2016-11-04 06:46] satya164 opened #51 "Form"

[2016-11-07 15:21] sanketsahusoft commented on #51
@satya164 Have you considered using Shoutem's UI library? It's pretty neat actually and we may be re-writing NativeBase using that.

[2016-11-07 15:22] satya164 commented on #51
@sanketsahusoft it's very nice, but it has a different design, which is more iOSy than material

[2016-11-07 15:23] sanketsahusoft commented on #51
Oops! I actually meant [shoutem/theme](https://github.com/shoutem/theme) Not [shoutem/ui](https://github.com/shoutem/ui)

[2016-11-07 15:26] satya164 commented on #51
@sanketsahusoft Ah. On first look it looks very CSS-like. I kinda I prefer flat JS styles rather than CSS-like JS style. Neat concept, but it brings the same issues as normal CSS.

[2016-11-07 15:35] sanketsahusoft commented on #51
@satya164 We are researching about the pros and cons of the same but our early experiments makes us confident on using it. We will make a final call by Wednesday. I will let you know if we do or don't go forward with it with whys.

[2016-11-07 15:36] satya164 commented on #51
@sanketsahusoft Cool. looking forward to it.

[2016-11-09 15:00] sreejithr commented on #50
Made a pull request [here](https://github.com/react-native-paper/react-native-paper/pull/52). I've bumped the version of flow in our project so that it matches with react-native's flow version (0.33). It fixes this error:

[code]

I'm new to flow. So, I haven't yet figured out why it is not picking up libraries `ex-navigation` and `react-native-vector-icons` from `example/node_modules`.

I ignored

[2016-11-09 16:28] satya164 commented on #50
I've copied your comment there so I'll just reply there.

[2016-11-10 17:03] satya164 commented on #41
@grabbou I've been thinking about this and I think we'll need to setup a prepublish script which transpiles these flow annotations to propTypes before publishing

[2016-11-10 17:11] #23 closed

[2016-11-11 19:39] satya164 commented on #22
This is done

[2016-11-11 19:39] #22 closed

[2016-11-11 19:50] satya164 commented on #5
keeping this open since we want to add more features to card

[2016-11-12 05:46] satya164 commented on #28
I'm closing this issue and will open a new one for dark theme

[2016-11-12 05:46] #28 closed

[2016-11-12 05:48] satya164 opened #59 "Dark theme"
We'll add a property called `dark: boolean` in the theme object to signal that it's dark theme so component's can adjust their appearance based on it.

The guidelines have things like different opacity based on if the theme is light or dark, so we need this property. Almost all components need to be changed to support dark theme.

[2016-11-12 06:47] #50 closed

[2016-11-13 16:53] #8 closed

[2016-11-13 16:53] satya164 commented on #10
This should be implemented in JS

[2016-11-13 16:54] #3 closed

[2016-11-13 19:25] #12 closed

[2016-11-13 19:25] #13 closed

[2016-11-20 15:18] #5 closed

[2016-11-20 19:56] satya164 opened #74 "List"
https://material.google.com/components/lists.html#

Drawer's code could be extracted out to this component.

[2016-11-20 20:10] #21 closed

[2016-11-20 20:11] #24 closed

[2016-11-21 04:29] satya164 opened #76 "Improve documentation generation"
These are potential improvements to the docs generation process

- [x] Show info regarding required/optional props
- [x] Support markdown in documentation
- [ ] Add ability to document and link to a type definition, e.g. `Theme`
- [x] Add quick search in sidebar
- [ ] Sections with headers
- [x] Support mobile layout

[2016-11-21 04:29] satya164 commented on #76
I'll eventually move the generator out of this repo and publish to NPM so more libs can make use of it.

[2016-11-21 11:45] satya164 opened #77 "Improve documentation"
- [ ] Improve the design @satya164
- [ ] Include examples in the description
- [ ] Include screenshots
- [ ] Preserve scrolling when selecting different option

[2016-11-21 13:15] #44 closed

[2016-11-26 08:22] ahmedlhanafy commented on #41
Does this need to be open? @satya164

[2016-11-26 20:28] satya164 commented on #41
We've not arrived at a conclusion, so yes.

[2016-11-28 07:43] sreejithr commented on #30
I've started work on . Will put a pull request once rudimentary features have been added.

[2016-11-28 08:57] satya164 commented on #30
The angualr page doesn't follow the transitions properly. Here is the design docs -  https://material.google.com/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions

[2016-11-28 13:21] sreejithr opened #91 "Unexpected Token Error in src/index.js"
I just imported from react-native-paper and this happened:

[code]

Seems like this line is the culprit:

[code]
I fixed it by adding installing [babel-plugin-transform-export-extensions](http://babeljs.io/docs/plugins/transform-export-extensions/) and adding `transform-export-extensions` babel plugin in my `.babelrc`.

Shouldn't this plugin be added as default?

### Versions
1. react-native: `0.3

[2016-11-28 13:34] satya164 commented on #91
You can use the `react-native-stage-0` preset. But we should change that. The lib should be usable without having to add a custom preset.

We need to change it to,

[code]

[2016-11-28 15:07] #91 closed

[2016-11-30 09:23] sreejithr opened #94 "Card not displaying"
Here's my code,

[code]
Doesn't get displayed. Went in the [code](https://github.com/react-native-paper/react-native-paper/blob/master/src/components/Card/Card.js#L101), saw that both the wrapping `TouchableWithoutFeedback` and the`View` inside, has `flex: 1`. `flex: 1` inside `TouchableWithoutFeedback` doesn't display content.

I removed `flex: 1` for the view inside and sure enough, everything s

[2016-11-30 10:20] #94 closed

[2016-11-30 15:52] sreejithr commented on #30
Rudimentary work has been completed. You can check it out at `fab-toolbar` branch in my fork ([link](https://github.com/sreejithr/react-native-paper/blob/fab-toolbar/src/components/FABToolbar.js)).

To test, replace dependency with `react-native-paper: "git+git@github.com:sreejithr/react-native-paper.git#fab-toolbar"` and `npm install`. Sample code:
[code]
Following props work:
1. `mini`: `bool`.

[2016-11-30 16:47] satya164 commented on #30
@sreejithr Awesome. Will check it out.

Portal is already in master - https://github.com/react-native-paper/react-native-paper/tree/master/src/components/Portal

Use `ThemedPortal` since we will need to preserve the theme and use the `position` to specify it's position in z-axis

[2017-01-20 21:56] ahmedlhanafy commented on #43
@satya164 shouldn't this be closed?

[2017-01-20 21:59] ahmedlhanafy commented on #30
@sreejithr Are you still interested in completing this component?

[2017-01-21 10:35] sreejithr commented on #30
@ahmedlhanafy Yes. I got busy with work lately. I want to sit down for couple hours and finish this. I'll push the rest of the component this week.

[2017-01-23 02:09] ahmedlhanafy commented on #43
@clauderic @satya164 Please re-open if needed

[2017-01-23 02:09] ahmedlhanafy commented on #30
@sreejithr Awesome waiting for that!

[2017-01-28 22:21] sreejithr commented on #30
@ahmedlhanafy I'm almost finished with FAB Toolbar. Here's what's left:

- [ ] Animate elevation of button on touch.
- [ ] Sample code in example project.

I'll get the sample code up in a day. You guys can test using it after that.

[2017-01-30 10:35] sreejithr commented on #30
Sample code is up in the example project. Check it out. What's left is to elevate the button on touch. Are you guys OK with the component's API?

[2017-03-21 00:18] ferrannp commented on #20
@satya164 & @ahmedlhanafy do we want to reuse here for Android [ToolbarAndroid](https://facebook.github.io/react-native/docs/toolbarandroid.html) and then build the iOS one? Or we want both in pure JS? I am talking about reusing because it implements cool features already like RTL.

[2017-03-21 00:31] satya164 commented on #20
Reusing native one doesn't provide much value here IMO. We will have to re-implement those features like RTL in JS for iOS anyways. Also `ToolbarAndroid` is pretty limited in customisation, so there is that.

[2017-05-10 15:14] ahmedlhanafy opened #100 "Remove the drawer component"
Remove the drawer component and export its content, in order to maintain compatibility with `react-navigation` and to make it work nicely with any drawer library

[2017-05-10 15:38] ferrannp opened #101 "Update dependencies"
Specially `react-native`, `flow-bin`, etc

[2017-05-10 15:38] ahmedlhanafy opened #102 "Improve/change dev workflow"
- [ ] Integrate prettier
- [ ] Adapt eslint config file to prettier
- [ ] Change dev workflow

[2017-05-25 09:49] ferrannp commented on #101
Fix #104.

[2017-05-25 09:49] #101 closed

[2017-05-25 09:50] ferrannp commented on #102
Fix #104.

[2017-05-25 09:50] #102 closed

[2017-05-25 09:53] ferrannp opened #105 "Prepare a nice/bigger example"
Our current example is good to see all the components we build but I think it would be nice to create an extra more complex example where all material patterns can shine.

[2017-05-25 10:36] satya164 commented on #105
Do you have anything in mind? A mockup, example app etc?

[2017-05-25 14:49] ahmedlhanafy commented on #105
I think Google used a couple of apps to showcase material design when it was first starting, couldn't find them again tho

[2017-05-26 10:05] ferrannp commented on #105
I think about one, I also now that Google used some examples, I have them somewhere. But probably this issue needs to wait till we implement more stuff like FAB.

[2017-06-23 10:54] ferrannp opened #107 "Fix Travis or move to CircleCI"

[2017-06-23 12:32] satya164 opened #108 "Write a Babel plugin to update imports"
We should write a babel plugin to change import statements from

[code]

to

[code]

This will help to avoid importing components we don't use and will make the bundle smaller.

[2017-06-29 15:16] ferrannp opened #111 "Continuation Floating Action Button"
Continuation of #4.

- Position in z-axis
- Animation
- etc

[2017-06-29 15:16] ferrannp commented on #4
First part is fixed.

[2017-06-29 15:16] #4 closed

[2017-07-04 09:58] rauliyohmc opened #113 "Add precommit hook for linting and fix linting errors"

[2017-07-04 10:22] #113 closed

[2017-07-04 10:25] #107 closed

[2017-07-04 12:46] satya164 opened #117 "Fix deploying docs"
Resources - https://gist.github.com/domenic/ec8b0fc8ab45f39403dd

[2017-07-04 13:14] rauliyohmc opened #119 "Create commit-msg hook for validating commit messages"
That way we are good git citizens, by following the convention stated here: https://docs.google.com/document/d/1rk04jEuGfk9kYzfqCuOlPTSJw3hEDZJTBN5E5f1SALo/edit

[2017-07-05 13:16] ferrannp commented on #105
Would be nice to implement this https://github.com/chrisbanes/cheesesquare with paper.

[2017-07-05 17:03] #20 closed

[2017-07-06 11:24] #119 closed

[2017-07-06 11:41] satya164 opened #122 "[RFC] Improvements for internal `Icon` component"
### Background

Currently we have a [simple icon component](https://github.com/callstack-io/react-native-paper/blob/master/src/components/Icon.js) internally which we use in all our components. Usually those components accept an `icon` prop, which takes the icon name as a parameter.

### Issues with the approach

This approach allows all our components to be able to use icons from the material des

[2017-07-06 11:55] ferrannp commented on #122
`Icon` accepts `icon` right now? I thought right now it accepts only `name` ?

[2017-07-06 12:02] satya164 commented on #122
No, components which use `Icon` accept `icon` prop. `ToolbarAction` for example.

[2017-07-06 12:06] ferrannp commented on #122
I see, well API will continue to accept string (material one) so I am totally ok with this proposal.

[2017-07-24 11:00] ferrannp opened #124 "Toggle buttons"
https://material.io/design/components/buttons.html#toggle-button

[2017-07-26 15:49] #100 closed

[2017-07-27 21:12] adamTrz commented on #122
So basically, we should be able to call sth like below?
[code]

[2017-07-27 22:24] satya164 commented on #122
Yes

[2017-08-04 11:54] ferrannp opened #126 "createAnimationComponent error on Checkbox"
I have a project pointing to current `master` branch.  I am using `react-native: 0.46.4`. I get this error:

<img width="378" alt="screen shot 2017-08-04 at 13 47 31" src="https://user-images.githubusercontent.com/774577/28967639-6bbe836a-791c-11e7-8f7d-d965316f52d5.png">

Not exporting `CheckBox` makes it to work just fine.

[2017-08-04 14:25] ferrannp opened #127 "withTheme throws warning about refs and stateless components"
For example, our FAB component is stateless and uses `withTheme`. When used in an app, app will show:

![pasted image at 2017_08_04 04_19 pm](https://user-images.githubusercontent.com/774577/28972831-7ff6fee2-7931-11e7-91c1-f1048c8788cd.png)

[2017-08-07 10:01] #117 closed

[2017-08-10 14:30] ahmedlhanafy opened #132 "Document components usage for docs"
We need to document all the exported components the same way the `Button` component is documented.

[2017-08-10 14:35] ahmedlhanafy opened #133 "Weird behaviour when using `theme` prop in Button"
<img width="487" alt="screen shot 2017-08-10 at 1 48 30 pm" src="https://user-images.githubusercontent.com/7052827/29175531-96627226-7de9-11e7-990a-3082c91a01f2.png">
I only changed the theme of the second button in the second row to use color red as the primary color; it updated correctly but unexpectedly the second button in the third row updated to the same theme

[2017-08-21 12:25] ferrannp commented on #126
This is fixed https://github.com/callstack-io/react-native-paper/commit/b0d1dce696dfc139689503a31d58a8af58a08c8b.

[2017-08-21 12:25] #126 closed

[2017-09-14 09:45] ferrannp opened #134 "Checkbox as part of a list item / row / etc"
The pattern here is that the Checkbox is not clickable but the whole row, then the Checkbox copies the touching state from the row.

Right now we cannot make the Checkbox non-clickable.

[2017-09-18 14:13] ferrannp opened #135 "Remove elevation as prop for Paper and use it from style + setNativeProps"
We need `setNativeProps` both in Toolbar and Paper. `elevation` being a prop is causing too much problems with his.

[2017-09-19 13:33] ferrannp commented on #11
We have:

- https://facebook.github.io/react-native/docs/progressbarandroid.html
- https://facebook.github.io/react-native/docs/progressviewios.html

We could provide a Component with just one API to use them both.

[2017-09-19 14:22] ferrannp opened #136 "Adapt iOS Typography to Platform adaptation"
See https://material.io/guidelines/platforms/platform-adaptation.html#platform-adaptation-platform-recommendations.

[2017-09-19 14:24] ferrannp opened #137 "Adapt checkboxes, radio buttons and switches to iOS platform adaptation"
See https://material.io/guidelines/platforms/platform-adaptation.html#platform-adaptation-platform-recommendations

They look the same. We might consider to have wrapper for multi/single selection.

For the icon on iOS use Ionicons from vector icons.

[2017-09-19 14:25] ferrannp opened #138 "Adapt Toolbar to iOS platform adaptation"
See https://material.io/guidelines/platforms/platform-adaptation.html#platform-adaptation-platform-recommendations.

Include back icon from Ionicons.

[2017-09-19 14:26] ferrannp opened #139 "Change back arrow for iOS to match Platform adaptation"
See https://material.io/guidelines/platforms/platform-adaptation.html#platform-adaptation-platform-recommendations

[2017-09-20 10:16] ferrannp opened #140 "Add ability to create nice front page for our docs"
We need to add support to write a page with a React component, so we can do a nice front page (web-like).

[2017-09-20 10:29] Krizzu opened #141 "Mention what version of RN is supported."
I have a project that uses RN 0.45.1 and app crash on bundling, as `ImageBackground` is not found (introduced in 0.46.4).

[2017-09-20 10:38] ferrannp commented on #141
I guess we need to add it as `peerDependency` the min version to use it.

[2017-09-20 12:24] ferrannp commented on #18
Should this be here or in https://github.com/react-native-community/react-native-tab-view.

[2017-09-20 12:25] ferrannp commented on #133
@ahmedlhanafy we need some code to reproduce.

[2017-09-20 12:27] ferrannp commented on #136
We are doing this already.

[2017-09-20 12:27] #136 closed

[2017-09-20 12:30] ferrannp commented on #122
Done.

[2017-09-20 12:30] #122 closed

[2017-09-20 12:31] ferrannp commented on #14
We can use the one from `react-native` and just document it.

[2017-09-20 12:35] ferrannp opened #142 "Change GridView to use VirtualizedList and support orientation changes"

[2017-09-20 12:42] ferrannp commented on #140
@satya164 makes a design.

[2017-09-21 12:27] ferrannp opened #143 "Decrease Checkbox animation duration"
Try to match it to native Android where it is faster.

[2017-09-21 12:32] ferrannp commented on #139
Duplicate #138.

[2017-09-21 12:32] #139 closed

[2017-09-24 16:36] ferrannp opened #145 "Change example to use our own Toolbar"
Simply override the prop `header` from `react-navigation` and make it return our own `Toolbar` with everything connected.

[2017-09-25 09:54] #11 closed

[2017-09-26 07:25] Krizzu commented on #18
Correct link:
https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-usage

[2017-09-26 11:55] Krizzu commented on #141
#147

[2017-09-26 11:55] #141 closed

[2017-09-26 11:55] Krizzu commented on #127
#147

[2017-09-26 11:55] #127 closed

[2017-09-26 13:14] satya164 commented on #143
What should be the duration?

[2017-09-26 13:56] jukben opened #152 "Use commitizen instead of the custom commit msg checker"
https://github.com/commitizen/cz-cli

Then we could also use https://github.com/semantic-release/ for better releases.

What do you think?

[2017-09-27 07:55] #134 closed

[2017-09-27 12:31] ferrannp opened #154 "Give ability to our components like Checkbox/TextInput to be uncontrolled components"

[2017-09-30 09:49] Krizzu commented on #135
#153

[2017-10-02 13:01] #137 closed

[2017-10-02 13:10] #138 closed

[2017-10-03 22:44] jukben opened #156 "Flow is broken in example folder"
**Expected Behavior**

If you use `<Checkbox>` without mandatory `checked` prop the Flow check has to fail.

**Current Behavior**

I've used `<Checkbox>` without mandatory `checked` prop. Flow check was valid.

**Steps to reproduce**

- In `CheckboxExample.js` remove `checked` prop on random `Checkbox`
- run `yarn flow`

[2017-10-04 13:11] ferrannp opened #157 "FAB is broken because of setNativeProps"

[2017-10-04 13:21] ferrannp commented on #18
Check out this one https://github.com/timomeh/react-native-material-bottom-navigation.

[2017-10-07 23:54] #135 closed

[2017-10-09 14:47] #145 closed

[2017-10-11 14:10] #7 closed

[2017-10-13 09:15] lukewalczak commented on #132
Components which already are documented:
- [X] - Button
- [X] - Modal
- [X] - ProgressBar

[2017-10-13 13:28] #157 closed

[2017-10-13 13:30] #59 closed

[2017-10-15 15:16] ferrannp commented on #152
It sounds to me like too much hassle for a small repository. Also, tbh, I prefer to type `git commit` than thinking of another command.

[2017-10-15 15:40] jukben commented on #152
It was just suggesting how to standardize the repo. We could use it in another project.

[OT: Yeah, tell me about "too much hassle for a small repository" in my PR which is opened since ancient times 😂 ]

[2017-10-15 15:40] #152 closed

[2017-10-16 09:04] ferrannp opened #165 "Preserve scroll position when rotating GridView"
We'll need to do some calculations to know where scroll should be after rotating.

[2017-10-16 09:13] ferrannp opened #166 "Create a row component for Checkboxes and Radio Buttons"
If we want to use a checkbox or a radio button with a label, common pattern is that the whole `row` is clickable. We should have a component in place for it.

Example where this behaviour is needed is in the Dialog with Radio Buttons example.

[2017-10-16 09:13] ferrannp opened #167 "Create a RadioGroup wrapper"
We can create a RadioGroup wrapper that includes all logic for radio buttons (like only 1 selected at a time).

[2017-10-16 09:26] #142 closed

[2017-10-16 09:53] ferrannp commented on #26
This is done, more iterations might by provided in the future.

[2017-10-16 09:53] #26 closed

[2017-10-16 09:59] ferrannp commented on #143
I don't have a number, we should compare it to native app. Or hey, we can use the native component (It is in RN repo).

[2017-10-16 10:06] marinsokol commented on #167
I can take a look at this.

[2017-10-16 10:14] satya164 commented on #143
it's the stock OS one. it'll not be material themed on pre-lollipop.

[2017-10-17 09:47] satya164 opened #168 "Add example for ripple"

[2017-10-17 13:53] ferrannp opened #169 "Make some tweaks to Dark theme"
Check Button example.

[2017-10-17 13:54] ferrannp opened #170 "GridView example is showing a weird delay"

[2017-10-17 14:06] ferrannp opened #171 "Override theme for nested components"
Imagine we are using DefaultTheme and we want the SearchBar to use DarkTheme.

Expose theme from context of `withTheme`.

[2017-10-17 14:20] jukben commented on #170
@satya164 could you help me with it? Doesn't it related do `withTheme`?

[2017-10-17 14:23] #171 closed

[2017-10-17 14:25] ferrannp opened #173 "Add testing suite"
- [ ] Unit test, specially for our logic in `ThemeProvider`, `withTheme`, etc
- [ ] Detox

[2017-10-18 09:22] satya164 opened #174 "Remove shadow from toolbar for iOS"

[2017-10-18 09:33] ferrannp commented on #19
Done!

[2017-10-18 09:33] #19 closed

[2017-10-18 09:35] ferrannp opened #175 "Add Helper text and Error text to TextInput"
Follow https://material.io/guidelines/components/text-fields.html

[2017-10-18 10:00] PezCoder commented on #175
I would like to work on this.
I'm new to this project so I'll read up the contribution doc & [textInputDoc](https://callstack.github.io/react-native-paper/textinput.html) first to understand & will create a PR

[2017-10-18 11:59] satya164 opened #177 "Add tests"

[2017-10-18 12:28] #174 closed

[2017-10-18 12:30] ferrannp commented on #177
Duplicated.

[2017-10-18 12:30] #177 closed

[2017-10-18 12:39] ferrannp opened #178 "Improve README"
- Badges
- Get info from https://callstack.github.io/react-native-paper/getting-started.html
- Add some images
- Contributors

[2017-10-18 12:41] ferrannp opened #179 "Add docs for theming"

[2017-10-18 12:42] ferrannp opened #180 "Improve design for docs"

[2017-10-18 12:43] ferrannp opened #181 "Include screenshots in docs"
Syntax for the generator

`[component-name].jpg`
`[component-name].1.jpg`
`[component-name].2.jpg`
`[component-name].android.jpg`
`[component-name].android.1.jpg`
`[component-name].ios.jpg`
`[component-name].ios.1.jpg`

Design:

Below `Description` and above `Usage`. Make `Usage` a title too (like `Props`).

![screen shot 2018-01-31 at 12 05 57](https://user-images.githubusercontent.com/774577/356

[2017-10-18 12:44] ferrannp opened #182 "Preserve scrolling when selecting different option"

[2017-10-18 12:44] ferrannp commented on #77
Splitted.

[2017-10-18 12:44] #77 closed

[2017-10-18 20:52] felixaa commented on #169
I'd love to help out! What needs to be done here exactly?

[2017-10-18 20:53] felixaa commented on #166
I'd love to jump on this if possibru!🙏🏽

[2017-10-18 21:07] ferrannp commented on #169
@felixaa awesome! Just checkout the example app with the dark theme activated. There are some missing points (you will see in the `Button example`, not everything is correct). We just need to make sure that all examples look correctly using the dark theme.

[2017-10-18 21:11] felixaa commented on #169
I'm not really into using expo tbh. But I tried viewing the app using the QR. Didn't see any dark/light-theme toggle?🤔

[2017-10-19 10:47] #168 closed

[2017-10-19 12:30] ferrannp commented on #132
Done.

[2017-10-19 12:30] #132 closed

[2017-10-19 15:22] ferrannp opened #188 "Add hamburger button into the Example (for toolbar) to open the drawer"
Be aware of the `react-navigation` pain.

[2017-10-19 17:01] ferrannp commented on #156
We need to update Flow (which will break a lot of component types) and fix this. It is related to `withTheme`.

[2017-10-19 17:02] ferrannp opened #189 "Docs page: Components should be ordered in alphabetical order"

[2017-10-19 19:29] KrzysztofKarol commented on #143
I'm working on it.

[2017-10-19 20:03] KrzysztofKarol commented on #154
I'm working on it.

[2017-10-19 21:12] surmistry commented on #189
Hey @ferrannp mind if I play around with this?

[2017-10-21 06:17] Harkindey commented on #169
@felixaa working on this now.

[2017-10-21 06:23] Harkindey commented on #169
@felixaa i peeped into this, but i'm finding it hard to identify differences between this two
<img width="376" alt="screen shot 2017-10-21 at 7 21 16 am" src="https://user-images.githubusercontent.com/14913673/31848778-98d57db2-b630-11e7-9a2b-95806f12be0d.png">
<img width="376" alt="screen shot 2017-10-21 at 7 21 33 am" src="https://user-images.githubusercontent.com/14913673/31848779-99094ebc-b630

[2017-10-23 20:21] ahmedlhanafy commented on #170
cc @satya164

[2017-10-24 08:53] ferrannp commented on #189
@lukewalczak is on it. We have a build problem though: https://github.com/callstack/react-native-paper/pull/190

[2017-10-24 19:16] #189 closed

[2017-10-25 14:56] herbowicz commented on #140
Is there a chance to see the default theme in action? [The link](https://callstack.github.io/react-native-paper/blob/master/src/styles/DefaultTheme.js) doesn't seem to work. Thanks

[2017-10-25 15:09] satya164 commented on #140
You can try on Expo https://expo.io/@satya164/react-native-paper-example

[2017-11-02 14:25] ferrannp opened #197 "Fix syntax highlighting for docs"

[2017-11-02 14:31] ferrannp opened #198 "Adapt our docs style to material.io style"
Our docs: https://callstack.github.io/react-native-paper/toolbar.html should be similar to Google docs https://material.io/guidelines/layout/principles.html#

* Nicer sidebar
* Use more colors (for titles)
* Typography

So we have:

* Header with component name (like Layout screen from material.io)
* Small description (1 line)
* Usage - Screenshots
* Props

[2017-11-07 12:03] satya164 commented on #182
Fixed in 89ec2efa42187613af99d383390f016726fc80a6

[2017-11-07 12:03] #182 closed

[2017-11-07 12:04] satya164 commented on #179
Fixed in 4ba4f279b11d025b7fb2bd8f832e59fc95c8c630

[2017-11-07 12:04] #179 closed

[2017-11-07 12:05] satya164 commented on #178
Fixed in 2dfa9b73b3860df33966796a953cdb7090f36b36

[2017-11-07 12:05] #178 closed

[2017-11-07 12:09] satya164 commented on #180
#198

[2017-11-07 12:09] #180 closed

[2017-11-07 12:43] satya164 commented on #197
Maybe take a look at - https://github.com/vkbansal/illuminate-js
We'll need to change this function - https://github.com/callstack/component-docs/blob/master/src/templates/Markdown.js#L53

[2017-11-07 14:39] jukben opened #205 "Set `js` language inside of Component's example for proper highlight"
Sice we updated Components-docs for a better syntax, there is sadly no way how to preserve "auto" fallback.

[2017-11-08 08:15] #205 closed

[2017-11-08 09:44] jukben commented on #197
Fixed in 89ec2efa42187613af99d383390f016726fc80a6

[2017-11-08 09:44] #197 closed

[2017-11-08 10:05] ferrannp opened #207 "Fix progress bar"
We broke it. It shows an indeterminate circle right now.

[2017-11-08 14:15] ferrannp commented on #156
@satya164 so Flow is not broken anymore, if something needs to be change/adapt, let's open an issue for it.

[2017-11-08 14:15] #156 closed

[2017-11-13 14:45] jukben commented on #198
https://github.com/callstack/component-docs/pull/6

[2017-11-21 12:58] lukewalczak commented on #207
@satya164 @ferrannp probably we have to wait for fix this issue within react native. Read the discussion in the commit about it: https://github.com/facebook/react-native/commit/ccddbf82d79833702f19d9f6ed1ca23755655187#diff-6e407d4b540029e5d7becdb789c5680c

[2017-11-24 15:02] lukewalczak commented on #207
Thanks to Satya's PR #208 it works properly again!

[2017-11-24 15:02] #207 closed

[2017-11-29 14:12] ferrannp opened #210 "FAB options"
https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions

Some animation fun.

![components-fab-flyouts-do](https://user-images.githubusercontent.com/774577/33379166-9ce90c38-d517-11e7-848b-fe3acad920c7.png)

[2017-11-29 14:17] jukben commented on #210
This should be implemented also with the toolbar transformations? I mean FAB -> Toolbar -> (scroll) -> FAB, or just plain static FAB button and FAB button with animation (buttons raising from it)?

[2017-11-29 14:37] lukewalczak commented on #210
Nope, this ticket will cover only one animation related to screenshot above. However I'm open to create more animations.

[2017-12-22 14:41] Trancever commented on #167
Hey, I would like to take this one. Already started working on it.

[2017-12-26 11:16] Trancever commented on #167
#214

[2017-12-26 11:19] Trancever commented on #167
Created pull request #214 . Need some help with styling.

[2018-01-09 03:47] shcheuk opened #216 "Modal component caused Invariant Violation: Maximum update depth exceeded with react-native 0.50.3"
To reproduce,
[code]
Error message received:
`Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.`

if I remove the <ThemedPortal> in modal.js render function , it will works fine. It seems the <ThemedPortal> make it keep

[2018-01-11 10:38] grabbou opened #217 "DrawerItem should have pointerEvents="none" when onPress not set"
As in the title, when having DrawerItem embedded within Drawer (react-navigation), I don't want to set `onPress` and let the built-in handlers do their thing.

Right now, DrawerItem registers Touchable that captures touches and automatically prevents the built-in handler from being called.

Expected behaviour:

I would expect DrawerItem to either not have Touchable component or have pointerEvents

[2018-01-22 15:55] Trancever commented on #166
Created pull request for this issue - #219

[2018-01-31 09:38] ferrannp opened #222 "Create Showcase page in docs"
To show screenshots of real apps that use Paper.

[2018-01-31 11:16] thymikee opened #223 "Add imports to docs examples"
Currently docs feature examples like this:
[code]
What I find not great for DX here is the lack of `import` statement, which clearly states how to import the module.

This looks much better and removes the ambiguity of how to import specific component:
[code]

[2018-01-31 11:38] jukben commented on #223
+1

[2018-01-31 13:59] kpsroka commented on #217
@grabbou I think that I have a fix, could you give me an example code that I can use to test that? I'm not sure how you use the built-in handler.

[2018-02-01 11:03] #140 closed

[2018-02-01 11:03] satya164 opened #225 "Mark some props as internal not to show up in docs"

[2018-02-01 11:04] satya164 opened #226 "Tweak Dialog examples to make them look nicer"

[2018-02-01 15:08] #225 closed

[2018-02-05 11:30] yogeshR5 commented on #226
@satya164  TabViewAnimated is not working during inside ScrollView

[2018-02-05 13:01] grabbou commented on #217
[code]
doesn't work unless I explicitly set pointerEvents on the TouchableOpacity to disable interaction with children.

Should work w/o issues/

[2018-02-05 15:11] #41 closed

[2018-02-05 15:11] #169 closed

[2018-02-05 15:12] satya164 commented on #169
#230

[2018-02-06 09:22] satya164 opened #232 "Improve description in docs"
The descriptions are not very easy to understand right now.

The description should have 3 things:

1. What does this component do
2. Where should you use this component
3. Link to official docs showing detailed use cases (Optional)

[2018-02-06 17:40] manjula91 commented on #173
I would like to start with snapshot testing for components using jest. @ferrannp Would like your thoughts on the same

[2018-02-07 11:27] kpsroka opened #234 "Improve layout of multiline TextInputs"
MD specs: https://material.io/guidelines/components/text-fields.html#text-fields-field-types

Current state of affairs: for `<TextInput multiline label="Multiline" />` we render
![screenshot_20180207-120443](https://user-images.githubusercontent.com/24893014/35913961-d6359dc8-0c01-11e8-85dd-c4a17d922639.png)

[2018-02-07 12:41] ferrannp commented on #173
Yeah recently I was thinking to use Jest for some more logical stuff like the theming and so on. And then I was thinking of taking snapshots (but screenshots in this case) using Jest + something like puppeteer. However Snapshots would be faster and we could also write our own output for them.

What would be your preferred approach?

[2018-02-07 12:42] satya164 commented on #173
Can't use puppeteer coz it's only for web, right?

[2018-02-07 12:48] ferrannp commented on #173
Haha sure I mixed projects but, yea something similar for mobile.

[2018-02-07 12:55] kpsroka opened #235 "TextArea component"
MD guidelines under: https://material.io/guidelines/components/text-fields.html#text-fields-field-types

[2018-02-07 13:12] manjula91 commented on #173
I have worked with Jest? Any thoughts on what could go well with Jest on mobile?
@ferrannp  @satya164

[2018-02-07 13:31] manjula91 commented on #173
Although if we are just targeting snapshots first we can use react-test-render & move forward. Would like to know both of your thoughts ? @ferrannp @satya164

[2018-02-07 16:43] satya164 commented on #173
@manjula91 let's go ahead with react-test-render first :)

[2018-02-07 20:15] manjula91 commented on #173
@satya164 cool

[2018-02-08 13:00] manjula91 commented on #173
Starting on this weekend. Starting with Portals component

[2018-02-08 13:02] satya164 commented on #173
@manjula91 I think next could be components with lots of logic in render like `Button`, `Card` and `Toolbar` :)

[2018-02-08 13:04] manjula91 commented on #173
Cool :)

[2018-02-08 23:04] ferrannp opened #237 "Divider color should be inside theme (to be able to override it too)"
Right now the `dark` theme does not work for it. See: https://github.com/callstack/react-native-paper/blob/master/src/components/Divider.js#L53-L66

[2018-02-09 12:06] ferrannp commented on #18
Let's see what comes from here https://github.com/react-navigation/react-navigation/pull/3414. Maybe if it is as standalone component, both libraries can use it.

[2018-02-10 12:20] satya164 commented on #237
@ferrannp can you elaborate what the issue is with a code sample and screenshot? divider works fine for me with the dark theme in the example app.

[2018-02-10 14:08] Trancever commented on #237
For me also divider works fine in both themes in the example app and I am able to override it. Haven't checked it carefully before submitting PR.. :D

[2018-02-10 18:17] ferrannp commented on #237
Yeah I guess my problem has been that the divider in dark theme for iOS is almost not visible for my taste here:

<img width="425" alt="screen shot 2018-02-10 at 19 06 43" src="https://user-images.githubusercontent.com/774577/36065060-9fff63ce-0e95-11e8-9e89-3d50b960665b.png">

So I wanted to override the color like:

<img width="423" alt="screen shot 2018-02-10 at 19 07 09" src="https://user-imag

[2018-02-10 18:48] ferrannp opened #241 "TouchableRipple is not using theme to determine the ripple color"
This value https://github.com/callstack/react-native-paper/blob/105d337a19dadafb7a83b2916da6574ec25ae3b0/src/components/TouchableRipple.js#L64 is incorrect for dark theme (Actually I am not even sure it is correct for light either).

On dark I think exact value should be `rgba(255, 255, 255, .20)`. Taking it from https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons

![scre

[2018-02-10 19:46] satya164 commented on #237
Let's check it on Monday

[2018-02-14 10:43] ferrannp commented on #237
Caused by using older version.

[2018-02-14 10:43] #237 closed

[2018-02-16 11:36] #217 closed

[2018-02-20 14:25] #241 closed

[2018-02-22 11:27] ferrannp opened #246 "Make GridView again"
We deleted old component because it did not work properly. We need:

- It works well changing numbers of columns
- It works well when rotating
- It preserves scroll position when rotating

[2018-02-22 11:27] ferrannp commented on #165
Close in favour of #246.

[2018-02-22 11:27] #165 closed

[2018-02-22 11:27] ferrannp commented on #170
Close in favour of #246.

[2018-02-22 11:27] #170 closed

[2018-02-22 11:59] ferrannp opened #247 "Create different kind of Dialogs ready to use"
Instead of having to do everything we do on the example, we need...

- ListDialog (single selection vs multiple selection)

[2018-02-23 09:51] satya164 opened #251 "Add iPhone X support to the Toolbar"

[2018-02-23 10:24] rturk opened #252 "Please clarify Licensing for this repo, hopefully MIT?"
Hi Team,

This is amazing code, however is not clear under what license its published. Can you please clarify?

[]s

[2018-02-23 10:46] thymikee commented on #252
Yes, it's MIT: https://github.com/callstack/react-native-paper/blob/21f0140b49c1c7237e51e724254aa2f5fd2bcd0b/package.json#L14

[2018-02-23 10:50] #252 closed

[2018-02-23 15:26] Trancever commented on #234
Hey, I tried to find what cause such behaviour and what I found is that plain TextInput from react-native doesn't render properly. It looks like it's not adding enough bottom margin when multiline prop is set to true.
![textinput](https://user-images.githubusercontent.com/18584155/36601678-025693ce-18b6-11e8-9d6e-ab3213e017db.png)

[2018-02-25 00:22] oliverox opened #254 "TextInput.focus() doesn't work"
[code]
We are unable to get a reference to `TextInput` because the `ref` prop is being overwritten by `react-native-paper`'s `ref` prop. See here: https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput.js#L276-L282

If we switch to using native `TextInput`, `focus()` works fine.

[2018-02-25 04:17] oliverox commented on #254
After looking at the source code, it seems the reference is being returned as an object under `_root`.
I was able to fix it by calling `this.inputs.email._root.focus()`
Maybe this could go into the documentation?

[2018-02-26 13:49] Trancever commented on #234
I investigated it deeper and results are interesting. Multiline TextInput renders correctly in apps created with react-native-cli but renders as on images above when used in apps created with crna or expo xde. It looks like it's a bug in expo.

[2018-02-26 18:16] pshrmn opened #255 "Secondary color instead of "dark""
I'm really enjoying `react-native-paper` so far. I was wondering, however, if some of the theme color properties could be improved.

### Current behaviour

The theme has both a color and a dark color (both "primary").

### Expected behaviour

The [Material Design guidelines](https://material.io/guidelines/style/color.html) uses `primary` and `secondary` colors. I think that a "primary" and "second

[2018-02-26 23:50] iamclaytonray commented on #223
@thymikee, @ferrannp  - I can tackle this if you guys are open to that?

[2018-02-27 07:06] thymikee commented on #223
Sure!

[2018-02-27 12:32] satya164 commented on #255
We have a `default` and a `dark` theme because they are two different kind of themes and components need to adjust various things such as opacity of some colors depending on if it's a dark or light theme.

Whereas, primary and secondary (we call it accent in the theme) colors are meant to be used in a pair and the colors themselves don't other parts of component.

I don't understand what you mean

[2018-02-27 15:42] iamclaytonray commented on #223
Cool. Should I include other imports as well? IE:

[code]

[2018-02-27 15:44] thymikee commented on #223
If it doesn't take too much of real estate then I'm ok with it. @satya164 what do you think?

[2018-02-27 15:46] satya164 commented on #223
Sounds good to me

[2018-02-27 15:47] iamclaytonray commented on #223
Cool

[2018-02-27 15:49] iamclaytonray commented on #223
I'll leave off React imports. I think most people know React has to be in scope. If you guys say otherwise, I'll add it, else, I'll just do necessary imports

[2018-02-27 15:59] satya164 commented on #223
If we are adding imports, let's add everything that's needed to copy/paste and run the example

[2018-02-27 16:00] iamclaytonray commented on #223
Will do

[2018-02-27 16:00] thymikee commented on #223
Hm, later on we can add snacks to some more advanced examples as a playground.

[2018-02-27 16:06] iamclaytonray commented on #223
Hmm. So, am I namespacing React or not?

[2018-02-27 16:07] thymikee commented on #223
Do it :)

[2018-02-27 16:18] pshrmn commented on #255
I think that if there was a concise explanation of each theme property in the documentation, their purpose would be a lot more clear. That was probably the biggest issue for me.

Taking a look with fresh eyes, I see that I misunderstood secondary colors while skimming the Material guidelines (secondary is really just an accent, not an alternative theme as I had first thought). Nested `<ThemeProvid

[2018-02-28 05:15] pshrmn commented on #255
The `<Toolbar>` appears to be an exception to this. If I have a theme whose `primary` color is dark, then I have to pass `dark={true}` to either the `<Toolbar>` or the individual children elements (it looks like `React.cloneElement` is used for `dark` prop injection) in order to get light text.

[2018-02-28 09:17] satya164 commented on #255
Can you open a new issue for that?

[2018-02-28 14:04] iamclaytonray commented on #223
I think I got everything about right. Feel free to review whenever you have time. (No rush)

[2018-02-28 15:45] pshrmn opened #257 "dark prop required in <Toolbar> for dark themes"
### Current behaviour

A theme with a dark primary color requires the `dark={true}` prop to be attached to the `<Toolbar>` or [`<Toolbar(Back)Action>`](https://github.com/callstack/react-native-paper/blob/3e1cfa8e9335a7ff6d59defdefad4e91edc4192a/src/components/Toolbar/ToolbarAction.js#L41-L46) for the icon to be displayed as a light color.

### Expected behaviour

I would expect the component to u

[2018-02-28 15:46] pshrmn commented on #255
Superseded by #257

[2018-02-28 15:46] #255 closed

[2018-02-28 16:05] satya164 commented on #257
Thanks for the repro. Looks like a bug. I don't think toolbar should be using `theme.colors.text` for the icons. If no `dark` prop is specified, `Toolbar` should automatically detect if the background color of the toolbar is dark or light and pass the `dark` prop to its children accordingly.

- `<Toolbar dark />` should pass `dark={true}` to it's children
- `<Toolbar dark={false} />` should pass `

[2018-03-01 10:34] shcheuk commented on #216
same issue also happen on dialog as dialog use modal
temporary remove <ThemedPortal> in Modal.js render element will make the error disappear, so the issue seems come from theme portal

[2018-03-01 12:42] ferrannp commented on #1
Duplicated #18.

[2018-03-01 12:42] #1 closed

[2018-03-01 12:50] #232 closed

[2018-03-01 14:06] devjaw opened #259 "dialog issue with Maximum update depth exceeded"
### Current behaviour
i got this error when i'm trying to open a dialog":

### Expected behaviour
the dialog should open

### Code sample
as in the documentation
https://callstack.github.io/react-native-paper/dialog.html

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | android
| react-native          | 0.51.0
| react-native-paper

[2018-03-01 17:50] satya164 commented on #216
I'll check it tomorrow

[2018-03-02 14:35] #223 closed

[2018-03-02 20:12] satya164 commented on #216
Hey! I sent a PR which should fix it - #261

Will be awesome if you try it out and let me know if it works.

[2018-03-03 11:14] #216 closed

[2018-03-03 12:07] #251 closed

[2018-03-03 12:07] satya164 commented on #257
Should be fixed by 4b4492831d5f76a6478665b52a87b83c6da3f8d8

[2018-03-03 12:07] #257 closed

[2018-03-03 13:41] satya164 commented on #259
Should be fixed by 228749346c4d877545d05938040b248409473d55

[2018-03-03 13:41] #259 closed

[2018-03-05 12:47] #18 closed

[2018-03-06 15:56] ferrannp opened #269 "Add ripple effect to BottomNavigation when shifting is false"

[2018-03-06 15:57] ferrannp opened #270 "Use pure component in BottomNavigation example"

[2018-03-07 10:54] #198 closed

[2018-03-07 10:54] #181 closed

[2018-03-08 12:42] funkyfourier opened #272 "FlatList renders only 10 items when in BottomNavigation"
### Current behaviour

When one of the items in renderScene is a FlatList, only the first 10 (or initialNumToRender) items are rendered.

### Expected behaviour

The same number of items rendered by the FlatList as if the FlatList is rendered outside of BottomNavigation.

### Code sample

`import React, { Component } from 'react';
import {
    Platform,
    StyleSheet,
    Text,
    View,
    Flat

[2018-03-09 11:10] satya164 commented on #272
Try adding `style={{ flex: 1 }}` in your `FlatList`

[2018-03-09 11:25] funkyfourier commented on #272
@satya164 I did. Didn't work.

I checked that the container the FlatList was in was tall enough, and it was. So I do not think that the issue is caused by the height of the container.

[2018-03-09 11:55] satya164 commented on #272
I just tried the code you posted on snack and it renders everything (on both iOS and Android). Is it the same code you're using?

https://snack.expo.io/H140Sextf

[2018-03-09 12:55] funkyfourier commented on #272
@satya164 Thanks for trying that in the snack, and yeah it works here too. I also tried to put it in a React Navigation StackNavigator, in case that was the issue, but it still works:

https://snack.expo.io/Bk_HhgeFG

I tried again in my project, and the FlatList will still only render the 10 items as long as it is in the BottomNavigation, even if the BottomNavigation is the only component.

Could

[2018-03-09 14:13] funkyfourier commented on #272
Ok, so I downgraded React Native to 0.52, and guess what: It works! The FlatList now renders all items. Also, if the FlatList is in a component exported with withTheme().

Wether this is a bug in React Native or Paper I have no idea...

[2018-03-10 11:07] satya164 commented on #272
It's probably a regression in React Native. We had a different issue regarding absolute position in React Navigation too.

Can you try changing `StyleSheet.absoluteFill` to `{ position: 'absolute', top: 0, left: 0, height: '100%', width: '100%' }` and see if it fixes your issue?
https://github.com/callstack/react-native-paper/blob/master/src/components/BottomNavigation.js#L470

[2018-03-14 13:35] #254 closed

[2018-03-14 13:59] satya164 commented on #254
Should be fixed now. Lemme know if still doesn't work.

[2018-03-14 21:16] #14 closed

[2018-03-14 21:19] satya164 commented on #133
Cannot reproduce.

[2018-03-14 21:19] #133 closed

[2018-03-18 17:59] #269 closed

[2018-03-18 18:41] thymikee opened #275 "Create a changelog"
### Current behaviour
There's no changelog in any form.

### Expected behaviour

We should have one!

Because this project follows [semantic commit messages](https://seesparkbox.com/foundry/semantic_commit_messages) it should be quite easy to generate the changelog. I see we can go in both directions (even at once):

1. Create a CHANGELOG.md file with changes for each version.
2. Setup a [semantic

[2018-03-19 00:50] satya164 commented on #275
Would be great to have semantic release set up. I tried to do it a few days ago but did not succeed.

I'm not a fan of `CHANGELOG.md` tbh. Using GitHub releases like semantic release does is much more userfriendly.

[2018-03-19 00:55] satya164 opened #276 "Publish expo app from Circle CI"
Would be great to publish the Expo app from CircleCI so that I don't have to do it manually.

Example: https://github.com/callstack/react-native-ios-kit/blob/master/.circleci/config.yml#L94

I prefer to use a token instead of username/password.

However, both of these methods are not very secure since anyone can get the environment variables from CircleCI, and use it to get access to the Expo acco

[2018-03-19 05:04] Rafaell416 commented on #270
Hi, @ferrannp  could you please give a little bit more information about the issue?

do you mean doing this ?

`
import { PureComponent } from 'react';

export default class Example extends PureComponent {
  render() {
    return <SomeComponent someProp={props.someProp}/>
  }
}
})

`

[2018-03-20 19:58] ferrannp commented on #270
Hello @Rafaell416, not really, what we meant here is to follow the BottomNavigation docs https://callstack.github.io/react-native-paper/bottom-navigation.html.

Specifically this part:

[code]

Which is explained here https://callstack.github.io/react-native-paper/bottom-navigation.html#renderScene.

Let me know if you need something more! :)

[2018-03-22 10:30] axelnormand opened #279 "TextInput + SafeAreaView"
### Current behaviour

Sometime when i wrap 2 text inputs inside a SafeAreaView the top one underline does not appear

### Expected behaviour

Underline to appear

### Code sample

[code]

### Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/96266/37764829-8d49a37c-2dba-11e8-8b4b-0cd974ae7c8a.png)

### What have you tried

In `TextInputs.js` changing style input marg

[2018-03-22 10:36] axelnormand opened #280 "Vector icons issue running example"
### Current behaviour

I would like to do a PR from this branch: https://github.com/axelnormand/react-native-paper/tree/style_fixes

I would like to help and fix a few issues (title can be a component on android, allow title to be centered on android)

I've updated the example the project to reflect my code changes and am having trouble running expo
[code]

I see that the example babelrc has that

[2018-03-23 10:40] charlie-axsy opened #282 "Swipe from left edge opens side menu in iOS"
Using the example app in Expo.

### Current behaviour

Swiping from the left edge of the screen opens the side menu.

### Expected behaviour

As per the standard iOS user experience, the app should navigate back to the previous screen in the stack.

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        | iOS 11

[2018-03-26 07:40] ShabareeshSunku opened #284 "How to preserve theme settings"
### Current behaviour

In the example if user opts for dark theme, its getting updated but when app is closed and reloaded its back to default theme.

### Expected behaviour

Still the interface should be in dark theme. I am sure we can preserve theme in asyncstorage, but where can I initialize saved theme from async storage

[2018-03-26 09:12] satya164 commented on #284
At the root of your app.

[code]

[2018-03-26 09:12] #284 closed

[2018-03-26 09:21] satya164 commented on #280
Hmm. We haven't tested this on windows. Are you using Windows Subsystem for Linux or normal Windows?

[2018-03-26 10:08] axelnormand commented on #280
Normal windows 10
Thanks

[2018-03-26 10:41] satya164 opened #285 "Use react-lifecycles-compat"
React 17 will deprecate some lifecycle methods such as `componentWillReceiveProps`. We need to update our components to use the new APIs. To provide backward compatibility with previous versions of React, we can use https://www.npmjs.com/package/react-lifecycles-compat

[2018-03-27 10:03] ferrannp opened #286 "Create optional setting to disable all animations entirely"
Useful for example when battery saver on Android is on. We can show how to listen for:

[code]

[2018-03-27 10:04] ferrannp opened #287 "Review accessibility for Paper"

[2018-03-27 12:24] satya164 opened #288 "Support badges in bottom navigation"
![image](https://user-images.githubusercontent.com/1174278/37967070-8d41268e-31ca-11e8-933c-65052e9e2d13.png)

[2018-03-28 09:43] #25 closed

[2018-03-28 14:19] you-fail-me opened #290 "`withTheme` throws uncaught errors when called with arrow function SFCs"
### Current behaviour

I'm getting uncaught errors coming from `withTheme`, more exactly from `isClassComponent` helper. If I wrap an SFC, written with an arrow function. The error is that it can't read property `render` of undefined. The reason is that arrow functions don't have a prototype (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions ).

### Expect

[2018-03-28 16:27] satya164 commented on #290
Will be awesome if you can send a PR :D

[2018-03-28 20:49] pleportz opened #291 "Icon component: Invalid props.style key `color` supplied to `View`"
### Current behaviour

In certain cases, the `View` component used in `src/components/Icon` is responsible for the following warning : `Failed prop type: Invalid props.style key `color` supplied to `View``
Example : when using the `FAB` component with a custom Icon like below

[code]

### Expected behaviour

There should not be the following warning : `Warning: Failed prop type: Invalid props.styl

[2018-03-29 06:20] SkyzohKey commented on #27
You can do that without native code:  https://github.com/TheToxProject/shathui/blob/master/src/components/Touchable.js

[2018-03-29 07:07] Trancever commented on #291
@pleportz Your probably tried to push a branch to callstack/react-native-paper directly. Instead you should first fork this repository, push changes to your forked repo and then create pull request to this repository. Here is the link to paper's contributing guide - https://github.com/callstack/react-native-paper/blob/master/CONTRIBUTING.md
Follow the instructions and you will be able to make cont

[2018-03-29 08:04] pleportz commented on #291
@Trancever Thank you I'm going to try that :)

[2018-03-29 09:52] #290 closed

[2018-03-29 20:24] defrian opened #293 "Cannot find module '...node_modules/react-native-paper/package.json'"
### Current behaviour

When I execute react-native link I receive the following error:
`Cannot find module '...node_modules/react-native-paper/package.json'`

### Expected behaviour

No Error

### Code sample

n/a

### Screenshots (if applicable)

[code]

### What have you tried

delete ios and android folder.
run `react-native eject`
run `react-native link`

### Your Environment

| software

[2018-04-01 08:27] #167 closed

[2018-04-01 22:40] marktkimball commented on #9
Is anything happening with this component?  I love this component library, but without the drop down menu to use with the "More" icon in a Toolbar, it seems slightly gimped.  What are people doing to display a "more menu" from the Toolbar?

[2018-04-02 11:49] Trancever commented on #9
@marktkimball @kpsroka is currently working on that component, so it should be released in the near future.

[2018-04-02 12:25] satya164 commented on #9
If you're on Android, you can currently use the undocumented popup menu in React Native:

[code]

[2018-04-03 20:29] gawrysiak commented on #143
I have used AZ Screen Recorder for Android to look into it a bit deeper.

<img width="102" alt="screen shot 2018-04-03 at 22 09 04" src="https://user-images.githubusercontent.com/7827311/38273408-2729f7c8-378c-11e8-956a-a54778dd73da.png">First one is Android 6.0 - settings page. It takes ~0.4s to finish.

<img width="116" alt="screen shot 2018-04-03 at 22 09 41" src="https://user-images.githubuser

[2018-04-04 05:15] devjaw opened #298 "textbox placeholde behind the text"
the placeholder should be empty if the Textbox value length is greater than zero.

![capture3](https://user-images.githubusercontent.com/15944990/38289721-ac3a39bc-37e8-11e8-828d-35819f6de7a7.PNG)

[2018-04-04 09:56] ferrannp commented on #298
Can you provide code sample or snack with this behavior? `TextInput` placeholder works ok in our example.

[2018-04-04 09:58] ferrannp commented on #293
Can you provide code or a repo link for this?

[2018-04-04 09:59] gawrysiak commented on #298
@ferrannp this happens when the value field is not set

[2018-04-04 10:03] ferrannp commented on #143
Thanks @gawrysiak ! We'll try to use it :)

[2018-04-04 10:14] ferrannp commented on #298
Oh, so basically our `TextInput` only supports controlled component way right now. For this to work we would have to address: https://github.com/callstack/react-native-paper/issues/154.

[2018-04-04 10:14] #298 closed

[2018-04-04 14:56] devjaw commented on #298
hello again,
this is the TextInput without value :
![capture1](https://user-images.githubusercontent.com/15944990/38315276-2f0ff246-3839-11e8-9885-c67430b6c4aa.PNG)

and here TextInput with value :
![capture2](https://user-images.githubusercontent.com/15944990/38315286-34ba5506-3839-11e8-8731-e314cd74cc0b.PNG)

and it should be like this :
![capture3](https://user-images.githubusercontent.com/1594

[2018-04-04 15:11] Trancever commented on #298
@devjaw Can you provide code/repository with reproduced issue?

[2018-04-04 15:17] devjaw commented on #298
@Trancever this is my code for `TextInput` :

`<TextInput
            ref ="EmailPassword"
            label='Password'
            onChangeText={(text)=>this.setState({Password:text})}
            secureTextEntry={true}
            ref={input => {this.PasswordInputRef = input}}
            onSubmitEditing={this.switchToApp.bind(this)}
          />`

[2018-04-05 10:07] #285 closed

[2018-04-07 11:11] MrLoh opened #303 "Remove peer dependency on vector icons"
Since react navigation is using his library now under the hood, npm started throwing a warning at me that vector icons is missing as a peer dependency. Is there any way you could make the dependency on vector icons optional.

In my app I render all my icons as SVGs directly. Vector icons isn’t bad but maybe it should be the users choice wether that’s how they want to render their icons.

I think e

[2018-04-09 07:53] Jexah opened #304 "Snackbar/Toast Roadmap?"
Hi, sorry if this has already been mentioned, couldn't find it anywhere.

What is the roadmap for Snackbars/Toasts?

Edit: I'm sorry, I'll let myself out.

[2018-04-09 07:54] #304 closed

[2018-04-09 08:02] ferrannp commented on #304
@Trancever is working on Snackbar right now :)

[2018-04-10 03:54] timwangdev opened #306 "Add TypeScript Definitions"
### Current behaviour

Has built-in flow definitions.
No definitions for TypeScript.
No definitions on https://github.com/DefinitelyTyped/DefinitelyTyped .

### Expected behaviour

If it's likely for official to maintain a `index.d.ts` definition file in this project? This is recommend to keep the definition sync with code and maybe add test for this.

Or I could create the community-maintained de

[2018-04-10 18:48] thymikee commented on #306
I think we're not opposed to keep the definition file here, especially if someone is willing to make it work :)

[2018-04-15 18:14] PatriceVignola opened #311 "ListItem release"
It's a question, not an issue.

First of all, I want to say that your library is awesome. Pretty easy to use and design an app with it :) I really like how smooth everything is. But one of the reasons I chose this library is because I needed the really nice ListItem components for my project. I didn't realize that it was a new feature and that it wasn't released yet. It's not a blocker as I'll pro

[2018-04-15 19:05] satya164 commented on #311
Just did a release 🎉

[2018-04-15 19:05] #311 closed

[2018-04-16 12:34] ferrannp opened #317 "Find a way to extend the Theme flow type"
Say you want to add extra keys to your theme. Right now Flow will complain about them. Would  be nice to extend the theme type and make components be aware of it.

Example:

[code]

[2018-04-16 13:59] ferrannp opened #318 "Update Flow from 0.56.0"
Latest react-native (0.55.x) uses flow-bin `0.67.1`. Right now, a newly generated project with `react-native init` will give Flow errors if Paper is added.

[2018-04-17 09:37] ferrannp commented on #318
Done a3bbb4e9345d9a014d39a79151669faee8cb2d1d.

[2018-04-17 09:37] #318 closed

[2018-04-17 11:54] thomaswinckell commented on #306
For now, I don't have time to do it by myself, but I can help on it if needed. Let me know.

[2018-04-17 11:59] #108 closed

[2018-04-17 13:22] ferrannp opened #320 "Remove __tests__ when publishing to npm"
Need to use `.npmignore`.

[2018-04-17 13:40] yaronlevi opened #321 "TextInput placeholder RTL support?"
Hi (-:
When using TextInput in RTL mode, the header is placed right side (as it should), but the placeholder text is placed left. How can we tell the placeholder text to also be on the right side:

![unnamed](https://user-images.githubusercontent.com/5398977/38873248-fda33c02-425d-11e8-8de6-f3d1b3693ae7.png)

[2018-04-18 08:21] #320 closed, assigned to nobody

[2018-04-18 09:46] ferrannp commented on #321
@yaronlevi does `text-align: right` works for you in the meantime?

[2018-04-18 09:50] #293 closed

[2018-04-18 09:59] ferrannp commented on #27
We decided we won't be working on this issue for now.

[2018-04-18 09:59] #27 closed

[2018-04-18 14:25] aluminium22 opened #328 "TextInput label does not remain above input value after user enters value and field loses focus."
### Current behaviour

When using the TextInput the placeholder animates to the top over the input as though it becomes the label (which is as one would expect).
After removing focus from that field/input the the placeholder drops back down into the input field overlapping previously typed value. This creates a strange unexpected appearance.

### Expected behaviour

After focus leaves the input/fi

[2018-04-18 14:36] satya164 commented on #328
Currently you need to use `TextInput` as a controlled component. https://github.com/callstack/react-native-paper/issues/154

[2018-04-18 14:36] #328 closed

[2018-04-19 07:55] axelnormand commented on #279
Thank you for taking a look. Let me try to get a snack together today.

[2018-04-19 10:37] deadcoder0904 opened #330 "Website ScrollJacks on Safari. Works fine in Firefox & Chrome."
Regarding https://twitter.com/deadcoder0904/status/986295040673767424

Workaround is to use Firefox & Chrome. Just keeping it here, as on Twitter issues get lost. Feel free to close it if you're only tracking bugs on library :)

[2018-04-19 12:25] doomsower commented on #306
I've decided to give react-native-paper a shot, and ported some definitions from flow already.
Not sure if I'll stick to this module, but I can submit partial PR. Or maybe we can create work-in-progress PR and others complete it.

[2018-04-19 12:26] thymikee commented on #306
@doomsower awesome, WIP PR is better than no PR :)

[2018-04-19 13:46] #303 closed

[2018-04-19 15:12] MrLoh commented on #303
Wow that was quick. Thanks @satya164 what version will this be a part of?

[2018-04-20 21:37] gawrysiak opened #334 "Discussion: Margins"
It's hard to call it a bug, but I'd like to ask you for your opinion on the subject. I've noticed that some of the components (`Card`, `Button`, `SearchBar`, `Checkbox`, `RadioButton`) are using horizontal margins by default, while other aren't. For `Card`, `Button`, `SearchBar` the horizontal margin is 4, while for `Checkbox`, `RadioButton` it's 6-8.

### Current behaviour

When using mixed compo

[2018-04-21 01:23] vladikoff opened #335 "Not possible to change ToolbarAction icon color"
### Current behaviour

Currently it's not possible to match the color of text with the ToolbarAction icon color.

### Expected behaviour

Match icon with text color

### Code sample

the code from: https://github.com/callstack/react-native-paper/blob/91bf179df0d68b60af4095c9a06c98c9998542e0/src/components/Toolbar/ToolbarAction.js#L37

[code]

### Screenshots (if applicable)

Example to match blue

[2018-04-23 19:51] satya164 commented on #335
We should accept a `color` prop. Wanna send a PR?

[2018-04-27 10:46] ButuzGOL opened #338 "Button size prop"

[2018-04-27 11:31] Trancever commented on #338
Can you add description of the issue?

[2018-04-27 11:53] KroekerNick opened #339 "Checkbox animation on android"
### Current behaviour

![icon](https://user-images.githubusercontent.com/5189530/39360934-a5cec6b6-4a39-11e8-96e4-dbccccd7aea2.gif)

### Expected behaviour

![icon2](https://user-images.githubusercontent.com/5189530/39360964-cc2974c8-4a39-11e8-8902-05c056708ef6.gif)

Color is not important. From the application Material Design Demo

### Code sample

from the documentation

### Screenshots (if appl

[2018-04-27 12:52] ButuzGOL commented on #338
closing as i don't see it in specs

[2018-04-27 12:52] #338 closed

[2018-04-27 12:57] ButuzGOL opened #340 "Button loading jumping"
Here video attached

![bug](https://user-images.githubusercontent.com/196564/39363639-a88a16d6-4a33-11e8-8aa6-958d868f1490.gif)

[2018-04-27 13:18] ButuzGOL opened #341 "Button do we need margin ?"
Do we need margin for button ?

### Current behaviour
https://github.com/callstack/react-native-paper/blob/master/src/components/Button.js#L249
margin: 4

<img width="333" alt="screen shot 2018-04-27 at 4 09 01 pm" src="https://user-images.githubusercontent.com/196564/39364422-9a21cc12-4a36-11e8-9e4e-5aa83d5161a4.png">

Not align with inputs

### Expected behaviour

Should be align with inputs

[2018-04-27 13:27] satya164 commented on #341
You need `margin` so that the drop shadow is visible. You can remove margin by passing a `style` prop.

[2018-04-27 13:27] #341 closed

[2018-04-27 13:44] gawrysiak commented on #341
I have added a related issue [here](https://github.com/callstack/react-native-paper/issues/334)

[2018-04-28 02:12] syedabuthahirm opened #343 "Q: Where can i find changelog fot this project?"
Where can I find the changelog for this repo? As of now, I am using 1.2.4 but I would like to know about the current version pros.

[2018-04-28 02:38] syedabuthahirm opened #344 "Error: SelectionColor isn't Working in TextInput Component"
### Current behavior

Selection Color doesn't work on TextInput Component

### Code sample

https://snack.expo.io/@syedabuthahirm/selectioncolor---react-native-paper

I found this link trigger this behavior
https://github.com/callstack/react-native-paper/blob/27bc0e67dc0d28ee96401b7d0411cd71102e7a0b/src/components/TextInput.js#L297

[2018-04-28 10:02] gawrysiak commented on #343
It seems like the changelog is still [in progress](https://github.com/callstack/react-native-paper/issues/275), but it should be fairly easy to simply browse the [commit messages](https://github.com/callstack/react-native-paper/commits/master) to look into the updates. It should be pretty straightforward to update since I don't really remember any breaking changes.

[2018-04-30 12:07] #270 closed

[2018-05-01 07:32] karelnet opened #346 "Can't make Toolbar work together with BottomNavigation or MaterielTopTabs"
### Current behaviour

Hi,
I'm not able to make a view where I can have a toolbar on the top and BottomNavigation or top material tabs (with react-navigation-tabs). If I put both in a View, tabs (or Bottom Navigation) don't show (no error). If I put only one of them, it works.

**Do you have an example working with both Toolbar and MaterialTopTabs ? (or Bottom Navigation)**

### Expected behaviour

[2018-05-01 08:46] Trancever commented on #346
Can you give style { flex: 1 } to this wrapping View in Memberarea component? It should fix the issue. Also I created a snack with working example so you can take a look - [snack](https://snack.expo.io/H19duoS6f)

[2018-05-01 09:13] #16 closed

[2018-05-01 19:30] karelnet commented on #346
Nice, it works thank you !
Actually I also managed to display it using a StackNavigator with Toolbar as custom header.

[2018-05-01 19:30] #346 closed

[2018-05-01 19:34] karelnet opened #347 "Option to remove "elevation" for Toolbar (shadow)"
### Current behaviour

I couldn't manage to remove the shadow from the toolbar (on android)

### Expected behaviour

A option to remove the shadow (elevation :0)

[2018-05-02 09:29] Trancever commented on #347
Hi. Just pass style prop with elevation set to 0. ```<Toolbar style={{ elevation: 0 }} />```

[2018-05-02 10:25] #347 closed

[2018-05-02 10:27] satya164 commented on #343
Yeah, we don't have any breaking changes. We follow semver, so we'll do a major release if we introduce breaking changes.

[2018-05-02 10:29] victorkvarghese opened #348 "Changing fontSize of TextInput"
TextInput Module fontSize doesn't get affected
### Current behaviour

fontSize remains 12 unaffected.

### Expected behaviour

fontSize should change right?? or am i missing something?

### Code sample

  <TextInput
        label='Email'
        value={this.state.text}
        onChangeText={text => this.setState({ text })}
       style={{flex:1, fontSize:16}}
      />

### Your Environment
Environ

[2018-05-04 21:25] satya164 commented on #279
@gawrysiak is the simulator at 100% size (pixel accurate)?

[2018-05-05 10:28] gawrysiak commented on #279
@satya164 seems to be fine with pixel accurate :+1: Do you think it's the same issue as mentioned by @axelnormand?

[2018-05-05 10:44] satya164 commented on #279
@gawrysiak maybe. the reason you might see glitches when the screen is not pixel accurate is because the underline is 1 physical pixel, so if your device screen is scaled down, it might not be able to draw the line. it'll be alright when it's pixel accurate and on physical device. also it's unrelated to `SafeAreaView`.

[2018-05-05 16:06] #175 closed

[2018-05-06 10:09] #335 closed

[2018-05-06 14:31] satya164 opened #350 "Roadmap for 2.0"
This issue is to collect breaking changes in the next major release:

- [ ] Consistent handling of margins #334
- [ ] Improved Portals #43
- [ ] Proper RTL support
- [x] Remove support for React elements for `icon` prop (superseded by render callback)
- [x] Remove `SearchBar` export (renamed to `Searchbar`)

Changes live at: https://github.com/callstack/react-native-paper/tree/material-next

[2018-05-06 14:31] satya164 commented on #334
We need margins by default for components like Button so that their drop shadow is visible. Otherwise it'll get cut off and users will always have to provide a margin.

I think it'll be better to have a consistent margin by default for elements like Button, TextInput, FAB etc. so they always line-up properly and you don't have to add the margins yourself.

However, since this will be a breaking ch

[2018-05-06 14:49] gawrysiak commented on #334
Shadows is a fair point. Although from the user point of view you don't align elements like Paragraph to TextInput's shadow, you want it to be aligned with the actual component. The issues I've met is on some of the pages I already had a container and several components placed and then Buttons indentation went even deeper than that. I ended up customizing all the margin=4 components to basically d

[2018-05-06 15:12] satya164 commented on #340
This should be better with 772b82a

[2018-05-06 15:12] #340 closed

[2018-05-07 12:48] ButuzGOL commented on #340
Still see jumping
![loading](https://user-images.githubusercontent.com/196564/39702578-04796bb8-520e-11e8-95be-8ec576aafc07.gif)

[2018-05-07 12:53] ButuzGOL opened #352 "Custom height for Button"
When i set custom button height with
[code]

i see on touch start

![screen shot 2018-05-07 at 3](https://user-images.githubusercontent.com/196564/39702751-7a559d0c-520e-11e8-88ef-9a13a39ec88b.png)

is there any way to do
Hover effect all over button ?

[2018-05-08 14:53] necolas commented on #350
Does this officially support web via react-native-web yet?

[2018-05-08 14:56] satya164 commented on #350
@necolas we haven't tested on react-native-web, but I've seen someone using it with react-native-web. it should work more or less since we don't use any native stuff.

[2018-05-08 15:55] necolas commented on #350
Might be worth adding it to your roadmap. I can help figure out any web-specific issues you come across

[2018-05-08 18:08] andreluizbellon opened #354 "Custom input inside TextInput"
### Current behaviour
There's no way to pass a custom input to be rendered inside TextInput.
### Expected behaviour
There should be a way to pass a custom input to be rendered, for ex: `react-native-text-input-mask`
### Code sample
[code]

[2018-05-09 10:05] ferrannp commented on #348
Yeah, if we change `fontSize` some things will break now. We need to think of a way to support it to do things like:

![image](https://user-images.githubusercontent.com/774577/39809122-379177d8-5381-11e8-9675-5ae3ec2b387e.png)

[2018-05-09 10:12] ferrannp commented on #330
Fixed.

[2018-05-09 10:12] #330 closed

[2018-05-09 10:39] satya164 commented on #330
Which page are you talking about? We tested on real device and it's fixed.

[2018-05-09 11:14] deadcoder0904 commented on #330
Safari. It is slow. Wait I'll record GIF.

[2018-05-09 12:02] gawrysiak commented on #330
Docusaurus is also used by react-native-ios-kit. Not sure if that's the perfect choice, but it felt a bit better than the paper docs.

[2018-05-09 12:40] deadcoder0904 commented on #330
Personally I love `react-native-ios-kit` docs more than `react-native-paper` because everything is visible at a glance on the sidebar due to less font size.

But I wished Docusaurus was an SPA built on top of Gatsby 😂

Also, the scroll jacking issue is there. Not sure about you guys but it happens on my Mac.

[2018-05-09 13:26] satya164 commented on #330
We generate documentation from comments in the components with custom additions on top of react-docgen and have a decent development workflow with hot reloading for documentation. It's also an SPA and fast to load. Docusaurus is way too limited for us and doesn't make sense to switch to it just because of the styling. We can always change and improve styling of our documentation if we don't like s

[2018-05-09 13:47] gawrysiak commented on #330
I agree with the styling part. Docusaurus has limited possibilities & fixed, a bit outdated looks. The part I don't like so much is the comments in components. Single responsibility for files could stop any unnecessary component file changes. I also can't really imagine placing any longer description/examples in it. Along with the growing possibilities, it could be nice to extends the description/

[2018-05-09 14:27] satya164 commented on #330
It's hard to keep things in sync when maintaining separate files for docs. Right now lots of things are automatically inferred such as types, static properties, methods etc. Maintaining everything by hand is too much work.

Regarding longer examples, components should themselves be simple enough. We can add examples integrating multiple components and different patterns in guides section which is

[2018-05-09 16:00] deadcoder0904 commented on #330
Wow it works now. @satya164 what did you do to fix it & what was happening❓

I didn't knew you were making docs from comments in files. Yeah I do prefer Docusaurus bcz UX is great if we don't take into consideration it isn't SPA & it doesn't mean yours is bad. I like SPA anyways.

Now everything works great. Thank you :)

Bdw another question, if we use `ios-kit` for iOS & `paper` for Android, do

[2018-05-09 16:34] gawrysiak commented on #330
I definitely like the props being automatically fetched to the docs. These are just simple one-liners, so no issues with that.

As for the descriptions/examples, I agree the components should be simple, easy to use, but it doesn't mean it's a bad thing to be a bit more verbose on the different use cases. Good and descriptive docs can bring much value to the project, maybe not code-wise, but in ter

[2018-05-09 17:31] syedabuthahirm commented on #343
Sure. Thanks, I updated my app with a new version.

[2018-05-09 18:12] satya164 commented on #330
Probably a bug in safari. This change fixed it: https://github.com/callstack/component-docs/commit/15713e9b50a2697215112ca3f7ae63eaff4f2358

I think our DX is better since we have things like hot reloading which docusaurus doesn't.

Yeah, we have talked in past to provide a unified lib which uses appropriate libraries according to platform, but we've not arrived at anything yet.

Didn't say our do

[2018-05-09 20:41] afonsodelgado commented on #226
What you have in mind when saying look nicer? I would gladly help with this issue!

[2018-05-10 10:20] #6 closed, assigned to nobody

[2018-05-10 10:21] satya164 opened #355 "Banner"
A banner displays a prominent message and related optional actions.

![image](https://user-images.githubusercontent.com/1174278/39865311-b6d6fa92-544c-11e8-9464-e77b84343638.png)

https://material.io/design/components/banners.html

[2018-05-10 10:29] satya164 opened #356 "Button: Redesign"
- [x] Things are more round (`roundness` in theme)
- [x] New button type: 'outline'

![image](https://user-images.githubusercontent.com/1174278/39865505-664a6888-544d-11e8-8d64-e33d6843bcee.png)

https://material.io/design/components/buttons.html

[2018-05-10 10:35] satya164 opened #357 "Chips: Redesign"
- [x] Accept "avatar" prop for contact chips and change styling of "icon" prop
- [x] Implement chips with outline
- [x] Implement states: selected, disabled, pressed

![image](https://user-images.githubusercontent.com/1174278/39865840-809cd530-544e-11e8-9bc5-1e3e4aa3e3b8.png)
![image](https://user-images.githubusercontent.com/1174278/39865844-852fad34-544e-11e8-8389-34d925cdb7be.png)
![image](http

[2018-05-10 10:41] satya164 opened #358 "Drawer: Redesign"
- [x] Change selected state drawer item

![image](https://user-images.githubusercontent.com/1174278/39866026-3936ed88-544f-11e8-91b8-a615947d5be5.png)

https://material.io/design/components/navigation-drawer.html

[2018-05-10 10:50] satya164 opened #359 "TextInput: Redesign"
- [ ] Background color for input container with border radius
- [ ] Add outlines text fields
- [ ] Support a leading icon
- [ ] Support a trailing icon (e.g. error, clear)

![image](https://user-images.githubusercontent.com/1174278/39866285-5e41226e-5450-11e8-83f7-c60d084c06ea.png)

https://material.io/design/components/text-fields.html#spec

[2018-05-10 10:59] satya164 opened #360 "Snackbar: Redesign"
- [x] Add margin on all sides
- [x] Use compact button with ripple for action item
- [x] When showing, animate scale rather than sliding from bottom

![01-appear](https://user-images.githubusercontent.com/1174278/39866696-f71c0a52-5451-11e8-84f0-d642b2e7b785.gif)

https://material.io/design/components/snackbars.html

[2018-05-10 11:03] satya164 opened #361 "Toolbar: Redesign"
- [x] Rename Toolbar to Appbar
- [x] Support bottom Appbar with actions
- [ ] Support adding FAB in Appbar

![image](https://user-images.githubusercontent.com/1174278/39866811-71147394-5452-11e8-982a-b457883843c8.png)
![image](https://user-images.githubusercontent.com/1174278/39866827-77d56c4c-5452-11e8-8e88-0714f59b9231.png)

https://material.io/design/components/app-bars-bottom.html#anatomy

[2018-05-10 11:12] satya164 opened #362 "Theming"
- [x] Change roundness to 4dp (https://material.io/design/material-theming/implementing-your-theme.html#shape)
- [x] Rename `paper` to `surface` (https://material.io/design/material-theming/implementing-your-theme.html#color)
- [x] Change error color to `#B00020`

![image](https://user-images.githubusercontent.com/1174278/39867119-b6e77f32-5453-11e8-93e0-b3daab138ea6.png)

https://material.io/desi

[2018-05-10 13:28] gawrysiak commented on #334
With the new guidelines, it seems like the shadows should be rather elevation-based. See the card example:

![screen shot 2018-05-10 at 15 26 57](https://user-images.githubusercontent.com/7827311/39871944-b622db92-5466-11e8-9a29-6609e7bd8275.png)

Do you have any new thoughts on the topic?

[2018-05-10 13:53] satya164 commented on #334
They already are. But we might need to change the default elevations.

[2018-05-11 13:54] ferrannp commented on #361
Should we split this issue in Top https://material.io/design/components/app-bars-top.html#usage and Bottom?

For Top it would also be very nice to have the Contextual action bar concept:

![topappbars-contextual](https://user-images.githubusercontent.com/774577/39927750-8b324bd4-5533-11e8-82ff-4690be43f719.png)

[2018-05-11 14:33] gawrysiak opened #365 "Lists: extend functionality"
2.0 idea. Consider making the ListItem component more flexible to support more use cases. Continuation of #329.

### Current behaviour

The current ListItem was designed to cover the old guidelines Lists, but not really the "Lists: Control" section which provided different use cases, e.g. switches, checkboxes and others. The code below:
[code]
is now displayed as:
<img width="362" alt="screen shot

[2018-05-12 08:52] jozan opened #366 "BottomBar: customizable inactive color"
I really like BottomBar but it's not possible to customise inactive color at all. Are there any plans to support it or are there any objections if I send a PR?

I'm using BottomBar via [react-navigation-material-bottom-tab-navigator](https://github.com/react-navigation/react-navigation-material-bottom-tab-navigator).

References:

![image](https://user-images.githubusercontent.com/388265/39955501-

[2018-05-12 14:42] satya164 opened #367 "Move related components to static properties"
@Trancever implemented grouping for related components in component docs. Now we need to use it in Paper.

- [ ] Add related components as static properties instead of separate exports for `Card`, `Dialog`, `Toolbar`, `ListSection`, `DrawerSection`
- [ ] Add `displayName` to those components, e.g.: `static displayName = "Card.Actions" so that react docgen can read the name
- [ ] Add a comment like

[2018-05-12 15:44] gawrysiak commented on #367
Good news, nicely done @Trancever 👍

As for ListSection, it should be ListSection, ListSection.Item, ListSection.Accordion, right?

[2018-05-12 19:12] satya164 commented on #367
Yeah. I think so

[2018-05-13 13:08] satya164 commented on #366
I'd merge a PR adding `inactiveTintColor` and `activeTintColor` props. Wanna send a PR?

[2018-05-13 15:45] jozan commented on #366
Yes, I’ll start working on it in a few days once I’ve finished some other
stuff.
On Sun, 13 May 2018 at 16.08, Satyajit Sahoo <notifications@github.com>
wrote:

[2018-05-15 12:11] #343 closed

[2018-05-15 14:57] satya164 opened #373 "Document how to use custom fonts"
We should provide/link to instructions for using a custom font since it's a lot more work than just changing the font family in theme.

[2018-05-16 09:56] ferrannp commented on #350
We use 2.0.0 milestone.

[2018-05-16 09:56] #350 closed

[2018-05-16 10:15] satya164 opened #375 "Proper RTL support"

[2018-05-19 09:03] jozan commented on #366
@satya164 Seem like you've already implemented this on 2.0. (#371)

https://github.com/callstack/react-native-paper/pull/371/files#diff-18fcf70e87723a21038fbb839fddd4a2R153

[2018-05-22 03:44] marsonmao commented on #9
Any progress on this component?

[2018-05-22 10:11] ferrannp opened #379 "Add normal Touchable for Cards instead of elevation change"
The elevation change is almost not noticeable when clicking a `Card`. We are contemplating it to switch it for normal `TouchableRipple` (need to see what suits best for iOS). Also if there is not `onPress`, it should have `disabled` true. It should also handle `disabled` prop. So people can also wrap a `Card` to their on touchable if they want.

Furthermore, the elevation changes seems not to be i

[2018-05-22 11:29] MrLoh opened #380 "Enable Running Example App on iOS"
Since it is not possible to run expo apps in your account, that are not your own, it isn't possible to run the example app on iOS anymore, is there any new setup to try out the library on expo, by running a snack project from your own account for example?

[2018-05-22 11:35] ferrannp commented on #9
@marsonmao not yet.

[2018-05-23 08:03] vikas5914 commented on #380
You can download the example and run on your own expo account

https://github.com/callstack/react-native-paper/tree/master/example

[2018-05-24 04:26] victorkvarghese opened #381 "Toolbar Hamburger (Left Icon) onPress not working properly in iOs"
### Current behaviour

onPress  is not fired  on iOs when click on left most icon (Hamburger icon) . It works sometimes when click on left bottom of the icon.

### Expected behaviour
onPress  should be fired when click on left most icon (Hamburger icon) on iOs

### Code sample

[code]
### Screenshots (if applicable)

### What have you tried

Tried to use the same code from example app .. Same bug

[2018-05-24 13:20] lucasharada commented on #373
@satya164 Is there really a way to do it? I'm trying to change `<TextInput />` font, but with no success yet.

[2018-05-24 16:58] #210 closed

[2018-05-24 17:49] lucasharada opened #382 "Use a custom component inside TextInput"
Is there any way to use a custom component inside TextInput, in a way I have the UI of the TextInput with the behaviour of the custom component.

### What have you tried

I tried placing Autocomplete as a child component in TextInput, but it breaks the behaviour of the child component not showing anything. Also, it breaks the behaviour of TextInput, as I am always typing on the second character of

[2018-05-24 18:21] jaulz opened #383 "Cannot read property 'DURATION_LONG' of undefined"
### Current behaviour
The following line triggers an error no matter how I try to transpile it:
https://github.com/callstack/react-native-paper/blob/master/src/components/Snackbar.js#L125

The transpiled Babel version (for  `['transform-class-properties', { spec: false }]`) looks like this for me:
`
_class.defaultProps = {
    duration: undefined.DURATION_LONG
}
`

Note that I try to use this libr

[2018-05-24 18:32] jaulz commented on #383
I just referenced a pull request which would solve the issue easily.

[2018-05-24 18:37] satya164 commented on #375
@colmbrady we don't have an estimate. PRs are welcome on this, or even issues which identify the components which are broken :)

[2018-05-24 21:26] gawrysiak opened #386 "DrawerItem icons issue"
### Current behaviour

The icons of `DrawerItem` elements are not fully visible. The bottom is cut off. Screenshots attached.

### Expected behaviour

Make them fully visible. It seems like the material-next branch is okay, but might be still worth reporting.

### Code sample

Paper's example app is enough to reproduce.

### Screenshots (if applicable)

Current:
<img width="278" alt="screen shot 2

[2018-05-25 12:47] satya164 commented on #367
Fixed in cf0531b

[2018-05-25 12:47] #367 closed

[2018-05-25 20:42] knobandre opened #388 "Wrong placeholder behavior on TextInput"
### Current behaviour

When using the TextInput, if a value is programmatically changed, the component doesn't change the placeholder to the adequate position.
For example, if there is a TextInput with value={name} and name being "test", and we programmatically change it to an empty string "", the placeholder will still remain on the same position. The exact inverse situation also happens.

### Ex

[2018-05-25 22:48] #386 closed

[2018-05-25 23:48] #388 closed

[2018-05-25 23:56] #383 closed

[2018-05-26 04:44] philharton opened #389 "iOS RadioButton looks the same as Checkbox"
### Current behaviour

iOS RadioButton looks the same as Checkbox

### Expected behaviour

Expect it to look like a radio button as the Android version does

### Code sample / Screenshots

This can be seen in the docs: https://callstack.github.io/react-native-paper/radio-button.html

[2018-05-26 04:48] philharton opened #390 "iOS Checkbox is invisible in unchecked state"
### Current behaviour

iOS Checkbox is invisible in unchecked state, so there's no affordance to show the user that it can be tapped

### Expected behaviour

Expect it to have a border as the Android version does

### Code sample / Screenshots

This can be seen in the docs: https://callstack.github.io/react-native-paper/checkbox.html

[2018-05-26 06:00] baochungit opened #391 "Android - Radio Button looks pixelated"
### Current behaviour
I'm not sure if it looks fine on other android devices but on my s7 edge, the radio button looks quite pixelated.

### Expected behaviour

### Code sample

### Screenshots (if applicable)

### What have you tried
React Native Paper Example on Expo

### Your Environment
Android 7 on S7 Edge

[2018-05-26 11:38] ferrannp opened #392 "Using "react-native-paper/babel" will make Jest not being able to mock Paper"
### Current behaviour

If we use in `.babelrc`:

[code]

Then, `jest.mock('react-native-paper')` will not work.

### Workaround

Use `env` in `.babelrc`. However, I think we need to document this somehow. cc @thymikee

[2018-05-26 11:41] ferrannp commented on #391
@baochungit can you attach an screenshot on how it looks?

[2018-05-26 12:15] philharton commented on #390
I can understand wanting to follow the official guidelines, but I think this makes less sense in practice because even in the example on that page, there are no affordances to show you what type of control you're about to tap, or even whether you can tap it.

It also seems to make less sense outside of a list. E.g., if you have a login screen with a "Keep me logged in" checkbox which is off by def

[2018-05-26 12:36] satya164 commented on #390
While that's true, we don't make the design decisions. We're just following guidelines. Regardless, checkbox and radios are extremely uncommon in iOS UI, I have only seen them used for multi-select UIs. Even the [Apple HIG](https://developer.apple.com/ios/human-interface-guidelines/controls/switches/), there is no mention of these controls. On iOS, you should use Switch wherever possible.

You sho

[2018-05-26 13:26] philharton commented on #390
That's a good point about the rarity of these controls on iOS. Thanks for taking the time to respond :)

[2018-05-26 19:09] baochungit commented on #391
Yes. Here it is:
https://ibb.co/dmRe0o
My phone's screen resolution is HD. I see that if I set it to higher resolution (FHD, WQHD) it looks smoother.

[2018-05-27 00:52] satya164 commented on #391
Seems it's fixed in https://github.com/facebook/react-native/commit/c5ca26a0e5c0660196300ee34d6007c63879611f

Can it be cherry-picked @grabbou ?

[2018-05-27 01:05] thymikee commented on #392
You're messing with changing imports, that's definitely something worth documenting.

[2018-05-27 02:38] DennyLoko commented on #10
Would be nice to have some docs on how to do this.

[2018-05-27 09:06] Meffjuw opened #393 "ListItem ripple draws off touch position"
### Current behaviour

When tapping on a ListItem with onPress provided, the ripple is drawn off the touch position. This is more easily reproducible if tapping closer to the centre of the ListItem.

### Expected behaviour

The ripple should be drawn exactly under the touch position, like the ListAccordion component ripple.

### Code sample

### Screenshots (if applicable)

### What have you tried

[2018-05-28 17:20] micimize opened #397 "Actually compile the library before publishing"
### Current behaviour
Build systems that don't have flow (e.g. typescript) can't consume this module

### Expected behaviour
module should be consumable as vanilla js, and perhaps have [additional shadow .js.flow files](https://github.com/facebook/flow/issues/1996) alongside the distribution

[2018-05-29 03:50] marsonmao commented on #10
+1 looking for date pickers...but it looks like material design has removed it from standard components?

[2018-05-29 03:51] marsonmao commented on #10
The closest one is https://github.com/mmazzarolo/react-native-modal-datetime-picker, but it actually just use the android native picker (which of course follows the guide)

[2018-05-29 11:52] yaronlevi commented on #391
+1 For solving this in Paper.

[2018-05-29 13:49] jaulz commented on #362
Do you think it would be worth to move most of the styles to the theme? E.g., in my case I would like to add some spacing to the cards (as in the previous version). In that case I could avoid creating wrapper components for simple adjustments.

[2018-05-29 14:22] jaulz commented on #358
Can we reintroduce the color property? In my case I have a color coding (e.g., green for done etc.) and hence it was perfect to represent the color also in the drawer.

[2018-05-29 15:22] micimize commented on #397
Just to clarify, I don't think this is urgent or blocking. Anyone using webpack can add this to their rules:
[code]

[2018-05-30 04:43] victorkvarghese commented on #381
Is this a related issue? :  https://github.com/facebook/react-native/issues/10386

[2018-05-30 04:45] syedabuthahirm opened #401 "Bug: Unable to set a SelectionColor Property in TextInput Component"
### Current behaviour

SelectionColor Property Doesn't work on TextInput Component. Currently, it's checking error and error color variables from props.
Reference Links:
[Variable Declartion in TextInput Component](https://github.com/callstack/react-native-paper/blob/8974cd14c2265a7ad2c071d8e3bc8296d4549883/src/components/TextInput.js#L315)
[Variable Used in TextInput Component](https://github.com

[2018-05-30 07:10] mmor93 opened #402 "fill ListAccordion by data provided from API"
### Current behaviour

i can not set data dynamically to ListAccordion.

### Expected behaviour

does the ListAccordion component have a prop like 'data'?

[2018-05-30 09:13] gawrysiak commented on #402
There's no data prop, but you should be able to use children instead. For example:

[code]

[2018-05-30 11:43] gawrysiak commented on #358
@jaulz, it's still possible to customize the color which is now theme based. If you check the `example/DrawerItems.js` file, you should be able to see this:
[code]

So you can either change the primary color globally or pass it through the theme prop for customizations. While having a color prop might look a bit cleaner in this case, it's still good to avoid unnecessary duplication and API bloat.

[2018-05-30 12:31] jaulz commented on #358
You are right! Thanks for the hint with the theme... did not thought about that way :-)

[2018-05-30 13:12] turtlegood opened #403 "Demo Seems To Be Too Old?"
### Current behaviour

It seems that this project is wonderful! However, the demo on expo (at here https://callstack.github.io/react-native-paper/ ) seems to be so old that it merely contains several fundamental components and does not contain things like drawer, textinput and other things? Therefore, I think there could be a newer demo, so people can try it out on a real phone without writing all

[2018-05-30 13:50] satya164 commented on #403
The demo is pretty recent. This is how it looks:

![image](https://user-images.githubusercontent.com/1174278/40724241-e4884278-6420-11e8-9a1d-3eb5fe137dee.png)

It has all of the things like drawer and text input.

You can also try to clone the repo and run the `example` app with Expo.

[2018-05-30 13:50] #403 closed

[2018-05-30 23:51] turtlegood commented on #403
![screenshot_20180531-073901](https://user-images.githubusercontent.com/5236035/40753553-4cfe93b2-64a7-11e8-9ca3-576ed369d1b8.png)
However, that is why I see when I scan the QR code... Do I do anything wrong when it comes to opening the qr code via the expo app?

[2018-05-30 23:54] satya164 commented on #403
Not sure. Maybe some kind of cache?

cc @brentvatne

[2018-05-30 23:57] turtlegood commented on #403
@satya164 @brentvatne
More information: newly installed expo app. directly scan the qr code (yesterday). then see the screenshot.
Therefore, I think there may be a problem with expo code uploading?
Thank you!

[2018-05-31 00:02] satya164 commented on #403
@turtlegood just to be sure, you installed the expo app from google play store, right? maybe the app has an older sdk version and hence loads an older version of the example.

[2018-05-31 00:03] brentvatne commented on #403
you can check the version by going to the "projects" tab and looking at the "Client version" - it should be 2.5.0 as of today

[2018-05-31 00:15] turtlegood commented on #403
@brentvatne WOW you are so great!!! I found that my apk version is very old because I use the https://apps.evozi.com/apk-downloader/ to download the apk before. After installing the latest it works well!

[2018-06-02 05:47] mmor93 opened #406 "margin children of list when expanded"
### Current behaviour

parents and children are exactly at the same margin and user will confuse that a child belongs to which parent.

### Expected behaviour

is there any solution that margin the children a little when expand to recognize the parent?

[2018-06-03 13:35] fahadakhan96 opened #407 "Bug: Card doesn't ignore 'null' or 'false'"
### Current behaviour

Card component throws "TypeError: null is not an object (evaluating 'child.type')"

### Expected behaviour

Card should ignore any nested _null_ or _false_

### Code sample

[code]
[Here](https://snack.expo.io/r1pQpvbeQ) is the Expo Snack.

### Screenshots (if applicable)

### What have you tried

In the above code sample, replacing the _null_ with a string works.
Replacing

[2018-06-03 14:13] #407 closed

[2018-06-03 14:34] #393 closed

[2018-06-04 09:52] #392 closed

[2018-06-04 11:26] fahadakhan96 opened #408 "Bug in Dialog: null is not an object (evaluating 'this.props.manager.unmount')"
### Current behaviour

Dialog doesn't show on changing state to visible. Instead, an error shows up: "null is not an object (evaluating 'this.props.manager.unmount')"

### Expected behaviour

Dialog should show up as expected.

### Code sample

Used the code on the Dialog page in the docs.
[Here](https://snack.expo.io/H1oKkiMxm) is the Expo Snack.

### Your Environment

| software              | v

[2018-06-04 12:00] Trancever commented on #408
Hi @fahadakhan96 . You have to wrap your root component in a Provider. Please make sure you follow our [Getting-Started guide](https://callstack.github.io/react-native-paper/getting-started.html) - . You will find there all needed informations :)

[2018-06-04 12:00] #408 closed

[2018-06-05 13:41] turtlegood opened #412 "#feature-request Snackbar: multiple actions? multiple snackbars?"
### Current behaviour
1. The Snackbar only supports 1 action on the right.
2. If there are two Snackbars displaying at the same time, the last one will overlap all the others.

### Expected behaviour
1. I would appreciate it if you could allow us to customize more actions. For example, I hope I can have 2 actions.
2. I would appreciate it if those snackbars could be displayed side by side (instead

[2018-06-05 14:23] satya164 commented on #412
According to Material design guidelines, only one snackbar should be displayed at a time, and can contain a single action: https://material.io/design/components/snackbars.html

If you want to show multiple snackbars, you should show one, hide it, then show second one, hide it and so on.

[2018-06-06 00:19] turtlegood commented on #412
OK. Thank you very much for your information and your quick reply!

[2018-06-06 00:19] #412 closed

[2018-06-06 22:14] #402 closed

[2018-06-09 06:57] mmor93 opened #416 "Close Button on Searchbar"
### Current behaviour

I'm using Searchbar component of your library.
I request to an API on clicking the searchbar icon

### Expected behaviour

I want to clear searchValue state variable on clicking the close button on searchbar
what should i do?

[2018-06-09 09:34] Trancever commented on #416
Hi, @mmor93 You should just set your variable in state to empty string inside onIconPress callback. Does it work for you?

[2018-06-09 09:43] mmor93 commented on #416
@Trancever
i will trigger the search function by onIconPress so i cant set my state to empty. i want to click on close button and set my state to empty.

[2018-06-09 09:56] Trancever commented on #416
Ok, so set this variable to empty inside onPress callback of button.

[2018-06-09 10:19] mmor93 commented on #416
@Trancever
i cant because there is no props such onClosePress for Searchbar just onIconPress

[2018-06-09 10:22] satya164 commented on #416
Use `onChangeText` callback.

[2018-06-09 18:57] rosswaycaster commented on #397
I am trying to use this with React Native Web and it keeps failing with `You may need an appropriate loader to handle this file type.`

I can't figure out how to make it work.

[2018-06-09 22:30] micimize commented on #397
@rosswaycaster you're using the `remove-flow-types-loader` config above before your other webpack rules? `nodeModule` above looks like
[code]

[2018-06-10 14:45] nazrdogan opened #417 "Fab.Group not working (this.props.manager.mount)"
### Current behaviour
![simulator screen shot - iphone x - 2018-06-10 at 17 39 11](https://user-images.githubusercontent.com/1672303/41202691-afbeee1c-6cd5-11e8-945c-6f82e098089e.png)

### Expected behaviour

![image](https://user-images.githubusercontent.com/1672303/41202694-bc146fde-6cd5-11e8-8fd8-f4575cd15576.png)

### Code sample
 <View style={{ flex: 1 }}>

        <MapView
          followsU

[2018-06-10 15:21] Trancever commented on #417
@nazrdogan Hey, did you wrap your root component with Provider component from Paper?

[2018-06-10 15:31] nazrdogan commented on #417
@Trancever  . nope. Some component works well without Provider.  but tried with Provider its working now. but Another issue I have :) I used tabnavigation.
its seems over tab nav. is there any trick for this ?
![simulator screen shot - iphone x - 2018-06-10 at 18 29 48](https://user-images.githubusercontent.com/1672303/41203182-4834664e-6cdc-11e8-833c-31d48e0a1a69.png)

[2018-06-10 16:16] Trancever commented on #417
Yeah, some of the components work without Provider, but it's good pattern to use it all the time so you will not encounter such problems in future.
Regarding position of FAB button, I think there is no option to change it right now :/ @satya164 @lukewalczak Is there any way to change position?

[2018-06-10 16:38] satya164 commented on #417
Yeah, we need to support a `style` prop.

[2018-06-11 11:19] jaulz commented on #390
Is there any way to overcome this behavior? I would like to use the same checkbox in iOS and Android to achieve a checkbox in a list item. Could we think about introducing a property `native` that is true by default? If false, it would render the animated version with a border (i.e. Android). Though, any workaround is welcome 👍

![image](https://user-images.githubusercontent.com/5358638/41228729-a

[2018-06-11 12:02] davidpn11 opened #418 "[PROPOSAL] TextInput Error Messages"
I'm missing the possibility to add an error message to a text input. When the error prop is true, it displays a custom error message to the user, that was passed by an errorMessage prop or something like that.

The UI whould looks like this:
![error](https://user-images.githubusercontent.com/5813202/41230420-26d7d894-6d56-11e8-9187-4bec090c97cf.PNG)

[2018-06-11 12:46] satya164 commented on #418
You can use [`HelperText`](https://callstack.github.io/react-native-paper/helper-text.html) for the error message.

[2018-06-11 12:46] #418 closed

[2018-06-11 13:24] davidpn11 commented on #418
Great!
Sorry. I didn't checked this component.

[2018-06-12 06:00] YashGadle commented on #417
For the TabNavigator, is there any workaround currently? I need to use this FABGroup in my current project. It is kind of urgent.

[2018-06-12 06:39] Trancever commented on #417
There is no workaround but I opened PR that will make it possible to pass style prop to FABGroup - #419 . So once it's merged there will be option to change FABGroup position.

[2018-06-12 09:19] satya164 commented on #417
I published new releases with the change. Now you should be able set a bottom margin with the `style` prop.

[2018-06-12 09:19] #417 closed

[2018-06-12 09:33] nazrdogan commented on #417
@satya164 How can reach latest docs ?

[2018-06-12 09:44] satya164 commented on #417
@nazrdogan check the link here: https://github.com/callstack/react-native-paper/pull/371

[2018-06-12 10:02] YashGadle commented on #417
In your example expo app, the FABGroup is only present in the 'FAB Screen'. And it disappears when you navigate to the previous screen. But in my app, the FABGroup is only rendered on 1 of my screens but it persists on all of my screens. Am I missing something or do I need to handle this via state?

[2018-06-12 10:08] satya164 commented on #417
@YashGadle since `TabNavigator` doesn't unmount a screen when you navigate away, you'll need to manage when the FAB Group is rendered by using focus listeners: https://reactnavigation.org/docs/en/navigation-prop.html#addlistener-subscribe-to-updates-to-navigation-lifecycle

[2018-06-12 10:20] YashGadle commented on #417
Thank you @satya164 !!

[2018-06-12 10:27] satya164 opened #420 "Integration with navigation libraries"
The behavior of components with Portal can be unintuitive in various navigation libraries such as React Navigation and Wix navigation, and even our own `BottomNavigation` component.

- With React Navigation's Tab Navigator and our Bottom Navigator, screens don't unmount after navigating away. This means a component using portals such as FAB will stay rendered when the screen is not active
- In nav

[2018-06-12 10:28] satya164 commented on #417
Opened an issue to think about how we can do this automatically: https://github.com/callstack/react-native-paper/issues/420

[2018-06-13 11:09] YashGadle commented on #417
I tried to handle the FABGroup visibility using the Focus listeners provided by react-navigation, but it's not working properly. I have used 'willBlur' and 'willFocus' in my HomeScreen Tab to change the visibility of my FABG. I am also using context API for this to handle the state globally.
My structure is like this:-
const root = createStackNavigator({
    tabs: TabNavigator with 5 screens
    n

[2018-06-17 12:59] necolas commented on #321
LTR languages should always be displayed LTR, so it's the labels that are incorrectly positioned

[2018-06-19 05:44] adi23arora commented on #344
@ferrannp `primaryColor` is used as `labelColor` and `bottomLineColor`. So, when we are using a dark color as the `primaryColor`, then text selection highlight color will also be dark, which makes the dark text in the TextInput invisible.
To solve this, we need to set the `selectionColor` separately or set it to the `accentColor`.

[2018-06-19 18:44] lucasharada opened #424 "Enforce Android-like Radio Button on iOS"
### Current behaviour

The iOS Radio Button is invisible while unchecked, being extremely hard to even notice it is a Radio Button.

### Expected behaviour

While I found out that this behaviour follows the guidelines for iOS, I would like to have the option available to choose between following the native behaviour for each of them or to enforce one of them.

In this case, enforce the Android Rad

[2018-06-20 05:36] adi23arora commented on #344
@ferrannp Please reopen this issue. I can send a fix for this if required.

[2018-06-21 03:03] iyadthayyil opened #426 "Ambiguous Module Resolution Error"
### Current behaviour

I am getting this error while trying to run example App on expo.

Forked this repo. -> Cloned to my PC ->  `yarn bootstrap` -> `yarn start` from /example -> Got this error.

### Expected behaviour

### Code sample

### Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/11161020/41695578-3c469cb4-7518-11e8-9a7b-fbb3806f28fb.png)

![image](https://

[2018-06-21 10:33] ferrannp commented on #424
Discussion related to https://github.com/callstack/react-native-paper/pull/415.

[2018-06-21 10:34] #416 closed

[2018-06-21 10:34] ferrannp commented on #406
Can you set a margin yourself passing `style` prop?

[2018-06-21 10:35] ferrannp commented on #401
Related to https://github.com/callstack/react-native-paper/pull/425.

[2018-06-21 10:38] #334 closed

[2018-06-21 10:38] #356 closed

[2018-06-21 10:38] #357 closed

[2018-06-21 10:38] #358 closed

[2018-06-21 10:38] #360 closed

[2018-06-21 10:38] #361 closed

[2018-06-21 10:38] #362 closed

[2018-06-21 10:57] ferrannp opened #428 "Create example app (clone of cheesesquare) and publish it"
We could make a clone of the famous https://github.com/chrisbanes/cheesesquare and publish it both for Android and iOS.

[2018-06-21 10:58] ferrannp commented on #105
https://github.com/callstack/react-native-paper/issues/428

[2018-06-21 10:58] #105 closed

[2018-06-21 10:59] ferrannp commented on #222
This was done https://callstack.github.io/react-native-paper/showcase.html (we just need more examples :)).

[2018-06-21 10:59] #222 closed

[2018-06-21 12:31] iyadthayyil commented on #375
### TODO

- [ ] BottomNavigation
- [x] Button
- [ ] Caption **
- [ ] Card
- [ ] CardActions
- [x] CardContent
- [x] CardCover
- [x] Checkbox
- [x] Chip
- [ ] Dialog
- [x] DialogActions
- [x] DialogContent
- [x] DialogScrollArea
- [ ] DialogTitle **
- [x] Divider
- [x] DrawerItem
- [ ] DrawerSection **
- [x] FAB
- [x] FABGroup
- [ ] Headline **
- [ ] HelperText **
- [ ] ListAccordion **
- [ ] ListI

[2018-06-25 13:18] Shamplol opened #432 "FABGroup zIndex/Elevation"
Heya there,

I'm having a problem with the FABGroup component appearing on top of React-Navigation modals and drawers.

I've tried different styling approach with no success.

Removing the ThemedPortal wrapper seems to solve the issue but I'd rather not modify the library.

Hopefully someone here has a cleaner solution~

Thanks

PS: Seems to be a duplicate of #420

[2018-06-26 10:10] ronak301 opened #433 "Any plans for integration with storybook ?"

[2018-06-28 11:15] ferrannp commented on #433
So we have Expo app for it. Any benefits on having storybook too?

[2018-06-28 11:16] ferrannp commented on #432
Duplicated of #420. It might require some discussion with `react-navigation`. CC @brentvatne

[2018-06-28 11:16] #432 closed

[2018-06-28 12:49] satya164 commented on #432
Right now there's no way to do this because of limitations in React Navigation. But you can use the focus listeners from react navigation to hide the FAB when the screen loses focus (e.g. it's behind a modal)

[2018-06-28 16:09] jstansbe commented on #288
Not sure when a fix will be rolled out....

**As a temp solution:**
 I was able add a badge to an icon and pass that as the "icon" component to the bottom navigator.
The badge was being cutoff so i had to edit the height and width of the style in the node_modules/react-native-paper/bottomnavigator.js file
[code]

[2018-06-29 19:00] knobandre opened #436 "TextInput's behavior diverging from Material's guidelines"
### Current behaviour

TextInput's states are not behaving quite like Material's. When the component is on the "idle & filled" state, the label and bottom line are still with focus effect.

### Expected behaviour

When the component is on the "idle & filled" state, the label and bottom line should be grey.
For reference, check the text field's guidelines [here](https://material.io/archive/guidelin

[2018-06-30 06:59] mehrdad-shokri opened #437 "Thank you"
This is really not an issue, it's just a way to appreciate for your awesome library and efforts.
Just installed the expo app and the components are really indistinguishable from native components.
The best material design component library for RN so far. Thank you.

[2018-07-01 09:13] yaronlevi commented on #437
+1
react-native-paper is a pleasure to work with. The refinement and polish of the components are truly amazing. Please keep it up (-:

[2018-07-02 21:44] peacechen commented on #348
Looking through the code in `TextInput.js`, MINIMIZED_LABEL_FONT_SIZE and MAXIMIZED_LABEL_FONT_SIZE are literals.  They should be passed in as props with defaults.  I can take a look at it and make some spacing adjustments that @ferrannp may have alluded to.

Perhaps the best thing would be to add props for font size *and* spacing, so that the user of the library takes on the responsibility for re

[2018-07-03 11:20] andreluizbellon commented on #382
is it related to #354?

[2018-07-03 17:15] lixaotec opened #438 "Icon component not working"
### Current behaviour

Dear Fellows,

I´m trying to overwrite ListAccordion component, so I can change colors from Touchables and other behaviors, however it is not working because of < Icon > component.

What I did was to duplicate src/ListAccordion component to a CustomListAccordion.

When I do use it, I get an Invariant Violation.

When I get rid of < Icon > tags, it works out, although I need

[2018-07-03 18:02] lixaotec commented on #438
Mr. @gawrysiak helped mw with a trick

import Icon from 'react-native-vector-icons/MaterialIcons';

Mr. @trens (from callstack I supouse) told that Icon component may not be avaliable to public.

"Hi, could you tell what version of paper do you use? Probably the problem is that Icon component is not exposed so you can't import it from react-native-paper. I know that recently we have added icon com

[2018-07-03 18:02] #438 closed

[2018-07-05 06:49] isthaison opened #440 "onLongPress={() =>{}}"
I can't usinng event onLongPress={() =>{}}

[2018-07-06 06:10] KevinGulj opened #442 "Cannot render Snackbar"
### Current behavior

When trying to render snackbar, I get an error "Cannot read property 'mount' of null"
The error is thrown  in PortalConsumer.js
` componentDidMount() {
    this._key = this.props.manager.mount(this.props.props);
  }`
because manager == null;

Thanks for any assistance !

### Expected behavior
Should not throw error?

### Code sample

[code]
The documentation also specifies to

[2018-07-06 06:19] jaulz commented on #442
Did you follow https://callstack.github.io/react-native-paper/getting-started.html before and wrapped your app with `PaperProvider`?
For the second issue import `StyleSheet` from `react-native` instead.

[2018-07-06 06:20] KevinGulj commented on #442
Hey, just 5 seconds before ju commented I relized my mistake.
Yes, I was missing the PaperProvider wrapper. But thanks anyway :)

[2018-07-06 06:52] #442 closed

[2018-07-10 02:48] vieiralucas opened #447 "Any plans for adding the Tabs component?"
Hello there, thank you for this very awesome library!

Do you have any plans for adding the [Tabs](https://material.io/design/components/tabs.html) component?

Do you have something like a roadmap?

[2018-07-10 04:27] iLeafSolutionsPvtLtd opened #448 "Accessing theme in navigation (react-navigaiton)"
How can I access theme and colors from navigation page ??
For example : I would like to update tabColor in TabNavigation based on current theme?

Is this possible ?? I know about withTheme HOC .. but this will not work here right?

[2018-07-10 04:27] #448 closed, assigned to nobody

[2018-07-10 04:29] victorkvarghese opened #449 "Access theme & colors in navigation (react-navigation)"
How can I access theme and colors from navigation page ??
For example : I would like to update tabColor in TabNavigation based on current theme?

Is this possible ??
I know about withTheme HOC .. but this will not work here right?

[2018-07-10 10:55] satya164 commented on #447
Hey, you can use https://github.com/react-native-community/react-native-tab-view for now :)

[2018-07-10 12:47] knobandre opened #450 "TextInput does not show the string from beginning"
### Current behaviour

When the string is larger than the width of TextInput and the component is mounted or lose it's focus, the component does not display the string from the very beginning. Rather, the component starts displaying the string by the end.

### Expected behaviour

When the component is mounted or lose it's focus, the component should display the string starting from left to right.

[2018-07-10 16:16] vieiralucas commented on #447
@satya164 That's perfect!

Thank you! <3

[2018-07-10 16:16] #447 closed

[2018-07-10 18:10] macscripter commented on #449
E

El mar., 10 jul. 2018 5:29, Victor K Varghese <notifications@github.com>
escribió:

[2018-07-10 21:26] ferrannp opened #451 "Getting Flow errors with flow 0.75.0 and react-native 0.56.0"

[2018-07-11 14:36] yaronlevi opened #452 "Button with icon in the right side"
Sometimes it is needed to put the icon in the Button component right to text, instead of left.
For example when using Buttons in a pagination screen (prev, next).

Tried setting `styled={{flexDirection:'row-reverse'}}` via the style prop but the style props is being applied to the outer AnimatedPaper element and not the inner view which sets the direction.

How can make so that the icon will appea

[2018-07-12 14:59] ferrannp commented on #437
Thanks! I labelled this with `wontfix` meaning that we will try to keep up the good work, quality and efforts that everybody puts into this library.

[2018-07-13 08:32] skondepudi-mn opened #453 "DrawerItem label text is truncated in iOS devices"
### Current behaviour
Unable to set the padding around the DrawerItem label text, due to fixed height text is truncated for some fonts in iOS devices

### Expected behaviour

label fonts should not be truncated
There should be way to provide the padding around the label and height of the drawer item

### Code sample

<DrawerItem
            label={item.label}
            key={item.key}

[2018-07-16 22:08] peacechen opened #455 "Add customizable icon size for BottomNavigation"
### Current behaviour

Icons are fixed at size 24 in BottomNavigation.

### Expected behaviour

Add a prop to support custom icon sizes.

### Code sample

I'm using `react-navigation-material-bottom-tabs` which in turn uses this library.  If I specify icon sizes greater than 24, the labels render in the center of the icon instead of below (see screenshot below).

[code]

### Screenshots (if applic

[2018-07-17 12:38] yaronlevi commented on #321
Unfortunately, setting **text-align:right** does not work. Is their a rough estimation on when RTL support to TextInput might be available?

[2018-07-18 11:44] lucasharada commented on #382
@andreluizbellon Yes! I'll close it.

[2018-07-18 11:44] #382 closed

[2018-07-18 12:02] lucasharada opened #456 "TextInput breaks when text is too big"
### Current behaviour

When value is too big, `TextInput` breaks the text as if it has the `multiline` prop, but doesn't expand the container.

I noticed there is some bug on `TextInput` with `multiline` when creating the app with CRNA, which is my case. Though, I didn't see anything related with this.

### Expected behaviour

The text on the `TextInput` shouldn't add another line below, just shif

[2018-07-18 12:39] turtlegood opened #457 "TextInput not Follow the Latest Material Design?"
### Current behaviour

Hello! Thank you for your wonderful library! When reading the material design official website today, I find that its **text fields** seems to have a new design pattern, which can be seen in this link: https://material.io/design/components/text-fields.html . Therefore, I wonder whether this library will migrate to this style as well? Thank you!

### Expected behaviour
N/A

#

[2018-07-18 13:08] Trancever commented on #457
Hi @turtlegood ! We are working on new version of paper which will support new material design guidelines. All the code is on "material-next" branch so you can check it out.  Regarding TextInput component, @gawrysiak is working on it and he opened [PR](https://github.com/callstack/react-native-paper/pull/429) so it's gonna be finished soon probably.

[2018-07-18 13:46] turtlegood commented on #457
Wow! Thank you very much for the wonderful job! I do hope that it can be finished in two or three weeks as my project is to be released in several weeks. Btw, I am curious about whether there will be many breaking changes or new features? Thanks!

[2018-07-18 14:02] ballenwillis opened #458 "[Feature Request] Modification to ListItem"
Maybe there's a better place for feature requests, but I couldn't find anything. I would like to have a component like this if it's possible. I couldn't find anything in your kitchen sink app.

![image](https://user-images.githubusercontent.com/14190965/42886359-f91ecc7a-8a68-11e8-8b16-711c9ddf09f7.png)

[2018-07-18 15:07] ballenwillis commented on #458
This can easily happen by giving the `listItem` a `paddingLeft: 0` to overwrite `paddingLeft: 64`.

[2018-07-18 15:22] ferrannp commented on #457
Dup of #359. First questions please feel free to join our Discord channel: https://discord.gg/zwR2Cdh

[2018-07-18 15:22] #457 closed

[2018-07-18 16:02] gawrysiak commented on #457
@Trancever yeah, need to get back to it. Missing just the icons and some polishing :)

[2018-07-18 23:29] turtlegood commented on #457
OK Thank you!

[2018-07-19 10:29] ferrannp commented on #458
Commented on #459.

[2018-07-19 10:29] #458 closed

[2018-07-19 10:30] ferrannp commented on #456
Can you provide a Snack example? Also have you tried `multiline` ?

[2018-07-19 10:31] ferrannp commented on #455
@satya164 what do you think? Probably it will have some problems with the animations?

[2018-07-19 10:38] ferrannp commented on #449
It is not possible to access props from `static`. This is actually an issue with `react-navigation` so you might need to check with them. They also have https://github.com/react-navigation/rfcs.

[2018-07-19 10:38] #449 closed

[2018-07-19 10:39] ferrannp commented on #440
Please fulfill the template when opening an issue.

[2018-07-19 10:39] #440 closed

[2018-07-19 13:21] lucasharada commented on #456
@ferrannp For `multiline` it works as expected, unless I set a `maxHeight` in the style. The problem is that I need it as "single line" and it keeps working as the screenshot shows.

I built a Snack, but it works just fine on Snack. Doesn't make any sense.

[2018-07-19 14:34] satya164 commented on #456
Have you tried the `numberOfLines` prop?

[2018-07-19 19:52] peacechen opened #462 "Default /global props for Text, TextInput, etc"
### Current behaviour

Component-specific props can't be set in the theme.  Only a few styles such as font family, color etc may be globally set.

RN used to allow setting global props in this fashion:
[code]

Unfortunately that was removed in RN 0.56.

### Expected behaviour

Add global props for the Paper components that apply to all instances, much like the color properties.   See code example

[2018-07-20 08:17] jaulz commented on #450
@knobandre not sure if the team will add it to the library but I just created a pull request where you can see how you could possibly solve this issue.

[2018-07-20 20:15] greghaygood commented on #373
It wasn't much work to switch to the Roboto fonts for my current app. Follow the process here: https://medium.com/@moschan/easiest-way-to-load-your-custom-fonts-in-react-native-d091fb380204

Steps 1-4 setup the project, then I configured the provider like so:

[code]

[2018-07-20 22:51] ferrannp opened #464 "[V2][iOS] Not whole Searchbar (TextInput) is clickable"
See Android (correct):

<img width="379" alt="screen shot 2018-07-21 at 00 47 37" src="https://user-images.githubusercontent.com/774577/43028398-112d5cf0-8c80-11e8-9a99-94bfd767f6a5.png">

vs iOS (tiny part clickable):

<img width="386" alt="screen shot 2018-07-21 at 00 47 43" src="https://user-images.githubusercontent.com/774577/43028404-18072bb4-8c80-11e8-919f-0a7e4d7fc03c.png">

### Your Enviro

[2018-07-23 13:32] turtlegood opened #465 "Cannot Run `yarn start` in Docs Folder"
### Current behaviour

Thanks for the wonderful package! I am trying to use the `material-next` branch and want to generate the document. However, after executing the commands as follows, I get an error:

[code]

error:

[code]

*Any help would be appreciated!*

### Expected behaviour

No errors

### Code sample
N/A

### Screenshots (if applicable)
N/A

### What have you tried
As is shown above

#

[2018-07-24 06:31] turtlegood commented on #465
I would appreciate it if you could send me or publish a compiled version of the document! Thank you very much!

[2018-07-24 07:15] Trancever commented on #465
Hi @turtlegood .  This is the link you are looking for - https://3917-71323749-gh.circle-artifacts.com/0/docs/index.html

[2018-07-24 07:15] #465 closed

[2018-07-24 12:47] ghostproducer opened #466 "Npm/ Yarn Install Error"
### Current behaviour
When I download the project, and try running it with npm install or yarn install, it gives me the error: "Invalid Name".

You'll need to change the 'name' inside package.json, because it doesn't allow characters like /.-.

I've changed the name to "reactnativepaper" and worked fine.

![image](https://user-images.githubusercontent.com/36274610/43138837-8833fa7c-8f26-11e8-97ee-

[2018-07-24 13:03] turtlegood commented on #465
Wow thank you so much!

[2018-07-24 13:05] Taym95 commented on #466
Hello, why you run `npm install` or `yarn install` inside the project?

[2018-07-24 13:09] satya164 commented on #466
where did you download the project?

[2018-07-24 14:52] ghostproducer commented on #466
The example were running on Expo via browser, then I downloaded the code, unzipped the package, and followed the 'readme' archive.

## Run the example

- [View it with Expo](https://expo.io/@satya164/react-native-paper-example)
- Run the example locally
  + Clone the repository and `cd` to this directory
  + Run `yarn` to install the dependencies
  + Run `yarn start` to start the packager
  + Scan

[2018-07-25 12:20] #436 closed

[2018-07-25 14:59] peacechen commented on #455
Another related issue, but with the label text size.  The container isn't quite big enough for text letters such as 'g' which extend below the baseline.
<img width="482" alt="things" src="https://user-images.githubusercontent.com/6295083/43208763-be8ba456-8ff0-11e8-879a-a3763646ae5f.png">

It would help to be able to configure the container size, icon size and label text size.

[2018-07-25 23:55] tkorakas commented on #417
Focus listeners worked for me. I used willBlur and willFocus to render or not the FAB button.

[2018-07-26 11:46] mehulmpt opened #468 "Button has no background color"
### Current behaviour
Button has no background color and primary/secondary colors as text colors

### Expected behaviour
Button should have background color and optimum text color

### Code sample

I trimmed down the example app from react paper and it works fine. See the button is fine here: https://snack.expo.io/rkl-E4wNQ
However, when I try to do it myself, the button has no background and it i

[2018-07-26 12:03] gawrysiak commented on #468
Hi @mehulmpt, nice job providing good description and examples!

Notice your code is using paper 2.0 alpha which has slightly different buttons API, while the paper's example runs 1.10.3.

For the new buttons we're using `mode?: 'text' | 'outlined' | 'contained'`, so like this:
```<Button mode="contained" onPress={() => {}}>```

Hope that helps!

[2018-07-26 12:12] mehulmpt commented on #468
Hey thanks @gawrysiak. Weird it happens for v1.11.1 on my real device also. Is alpha version documented right now or should I use v1.10.3 only? Using v1.10.3 on my real device fixes the problem

[2018-07-26 12:39] gawrysiak commented on #468
The new alpha docs are available here: https://3917-71323749-gh.circle-artifacts.com/0/docs/index.html. It's an alpha though, so it's your call if you're fine using an early version. Personally I like it already.

Snack seems to be alright with v1.11.1 as well. It looks like there were no button changes lately within the 1.X line. Please make sure if your node_modules package has really updated an

[2018-07-26 13:09] #468 closed

[2018-07-26 17:00] ocarreterom opened #470 "Unify Appbar.Header and Appbar"
The only difference between `Appbar` and `AppbarHeader` it's that `AppbarHeader` it's wrapped in `SafeAreaView`.
https://github.com/callstack/react-native-paper/blob/787379005a0b22240062965564d524e80a083b0b/src/components/Appbar/AppbarHeader.js#L118-L131

`Appbar` should be wrapped in a `SafeAreaView` too since it's wrong in iPhone X.

<img width="431" src="https://user-images.githubusercontent.co

[2018-07-26 22:20] gawrysiak commented on #452
I've been looking into the guidelines and there's no such examples. If you try to google "material design pagination" and switch to images, it's not how it's normally done as well.

On the other side, your request is pretty basic and there's several ways to add support for it - maybe with an `iconRight` prop or a more flexible API, e.g.
[code]
If you look at the official [web material component](h

[2018-07-27 11:20] ferrannp commented on #321
This should land with https://github.com/callstack/react-native-paper/pull/429 and https://github.com/callstack/react-native-paper/pull/434. So let's keep discussion there.

[2018-07-27 11:20] #321 closed

[2018-07-27 21:45] peacechen commented on #348
@ferrannp Would you accept a PR for this?

[2018-07-29 07:46] fzyzcjy opened #471 "Add flex:1 to Modal?"
### Current behaviour

As is shown below, I have a modal which wants to show a *gallery* (library here: https://github.com/archriss/react-native-image-gallery). However, the gallery cannot be shown. After some investigation, I find that if I add `flex: 1` to the inner `Animated.View` then everything works(I have created a gist: https://gist.github.com/fzyzcjy/711abab472af21997157514062d6dc3a#file-

[2018-07-31 05:33] elllms opened #473 "Invariant Violation: Element type is invalid"
### Current behaviour
I am using ListAccordion in my project, but i always get `Invariant Violation`. When i remove `ListAccordion` from source, it works fine.

### Expected behaviour
Here is an error
`Invariant Violation: Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to

[2018-07-31 05:54] elllms commented on #473
**Solved**
In `index.js` file of react-native-paper missing `export` of ListAccordion. It can be imported directly from liblary:
`import ListAccordion from '../../node_modules/react-native-paper/src/components/List/ListAccordion'`

[2018-07-31 08:46] gluons opened #474 "[npm] Alpha version is published on "latest""
Is it mistake?

![default](https://user-images.githubusercontent.com/4688092/43448609-9ba53078-94d8-11e8-888b-4d661707ddc6.png)

[2018-07-31 10:20] #473 closed

[2018-07-31 10:31] satya164 commented on #473
Are you using the alpha? Check the docs here: https://github.com/callstack/react-native-paper/pull/371#issuecomment-388646154

[2018-07-31 10:32] satya164 commented on #474
Sorry, that was not intentional. I have made 1.11.1 latest for now.

[2018-07-31 10:32] #474 closed

[2018-07-31 13:02] kpsroka commented on #450
Hi @knobandre,
Could you point me to some official material design documentation that mentions this behaviour? I've tried to find some support for it, but couldn't find it. [Google's web demo](https://material-components.github.io/material-components-web-catalog/#/component/text-field) implements it, but it's not consistent with the prod apps (see screencap from Google Maps app below).
![google-ma

[2018-07-31 18:26] knobandre commented on #450
Hi kpsroka,

I could not find any Material documentation about this behavior. After some discussion, some analysts in my team agreed that this would be the desired behavior for our application.
But since we don't have any Material docs to reinforce this behavior, we're gonna make use of the multiline prop to achieve a more acceptable behavior.

Thank you for your time, appreciate it.

[2018-08-01 04:14] elllms commented on #473
@satya164  Yes

[2018-08-01 09:09] #450 closed

[2018-08-01 19:52] brunohkbx opened #476 "How to align FAB at the bottom of the page?"
Why FAB button does not align at the bottom of the page?
FABGroup works fine.

How do I align the FAB button?

![whatsapp image 2018-08-01 at 16 50 35](https://user-images.githubusercontent.com/6487206/43545018-1b46acee-95ab-11e8-9ad0-8a0ec0c3018a.jpeg)

The pink button is the FABGroup in this image.

[code]

[2018-08-01 20:09] #476 closed

[2018-08-01 20:10] brunohkbx commented on #476
I was missing the { flex: 1 }.
Sorry.

[2018-08-01 20:49] gawrysiak commented on #476
https://snack.expo.io/B1LPz51HQ
adding snack created by @satya164 for reference

[2018-08-01 21:25] robertpitt opened #477 "Passing rest properties down all children."
### Current behaviour

Some components, Button being one example, do not pass rest properties down to the child components, in my scenario, we are using an end-to-end testing framework called Detox, this library uses the [testID](http://facebook.github.io/react-native/docs/text#testid) to allow the end-2-end test runner to identify nodes.

### Expected behaviour

I would expect that all props shou

[2018-08-01 21:35] satya164 commented on #477
Please provide some code sample of your use case instead of a link to library code.

What are you trying to select with `testID`? Can you give some more info so we can come up with a solution?

We can't pass rest props to nested elements, that'll break many things and expose internal stuff.

[2018-08-01 21:45] robertpitt commented on #477
Ok so here's an example test that we are using.

[code]

We use Detox to access elements and perform actions and checks on them, we define the react nodes like so:

[code]

Looking at this line on the [`TextInput`](https://github.com/callstack/react-native-paper/blob/master/src/components/TextInput.js#L423), the props are being passed down to the native component, but the `Button.js` on [line 220]

[2018-08-01 23:43] satya164 commented on #477
Why should it pass the props to `<Text />`? Won't passing it to the wrapper `<View />` solve your use case? If so, can you send a PR which does that?

[2018-08-02 00:49] fzyzcjy opened #478 "Export `Icon` Component?"
### Current behaviour

There exists a wonderful component, the `Icon`, but it is not exported... Therefore, I have to import like `import Icon from './../node_modules/........./Icon' which is not very convenient and is path-dependent.

### Expected behaviour

Export it so we can use it :)

### Code sample

N/A

### Screenshots (if applicable)

N/A

### What have you tried

See words above.

### Yo

[2018-08-02 00:57] #478 closed

[2018-08-02 00:58] fzyzcjy commented on #478
Oh I find one solution to import it: `import Icon from "react-native-paper/src/components/Icon"`. But I still think it to be a good exportable component :)

[2018-08-02 10:15] robertpitt commented on #477
So I have just spoken to the developer working on this issue, and we agree that passing it to the view would solve our issue, that's exactly what he has done in the test code, is move the testID to the parent `<View />` node, and allowing the propagation to carry the event to the TouchableRipple.

I will see if I can get some spare time over the next day or two to get a PR over to you guys.

Thank

[2018-08-02 22:18] brunohkbx opened #480 "Why does dialogs are underneath cards ?"
I don't know why this dialog is underneath the cards.
Is it related to the elevation property?

![20180802_173528](https://user-images.githubusercontent.com/6487206/43614110-74c807d0-9688-11e8-825f-5649bd3f8ccf.png)

[code]

[2018-08-04 19:16] KevinHu2014 opened #483 "CardCover's ... Image props seems to be replace by default style"
### Current behaviour

I would like to customize image in CardCover's to make the ` resizeMode` as `contain`.
But it seems to be replace by the default style.

### Expected behaviour

I expect that pass `resizeMode` as props is possible.

### Code sample

https://github.com/callstack/react-native-paper/blob/master/src/components/Card/CardCover.js#L68

part of the origin code of CardCover
[code]

#

[2018-08-04 19:30] KevinHu2014 commented on #483
@satya164  You've got a point there.  😂😂😂

[2018-08-04 19:30] #483 closed

[2018-08-04 19:43] KevinHu2014 commented on #483
But there will be more style to add like the `View` and `Image`.
By passing the image props would save the day.

[2018-08-07 10:17] wack17s commented on #344
#484

[2018-08-13 09:16] #366 closed

[2018-08-13 09:25] satya164 commented on #2
We can implement a simple bottom sheet without the scrolling behavior for initial implementation.

[2018-08-13 09:52] satya164 commented on #462
I don't think we want to allow passing arbitrary props from theme object. The reasons are the same as to why we avoid global CSS:

- Global properties break encapsualtion. You can no longer look at a component's usage and know how it is going to look.
  + Since theme providers can also be nested, you'll need to look at every parent to determine where the props are coming from
  + Changing some pro

[2018-08-13 09:57] satya164 commented on #471
That's strange. Can you create a Snack? It shouldn't be necessary since Modal is absolutely positioned to fill its parent.

[2018-08-13 09:57] satya164 commented on #455
This should be automatic without having to specify size. PRs are welcome.

[2018-08-13 09:59] satya164 commented on #424
Closing since now you can use `RadioButton.Android` on iOS.

[2018-08-13 09:59] #424 closed

[2018-08-13 10:00] satya164 commented on #406
You can pass style props to the children for extra margin.

[2018-08-13 10:00] #406 closed

[2018-08-13 10:01] satya164 commented on #391
We can't solve it in Paper since its a bug in React Native.

[2018-08-13 10:01] #391 closed

[2018-08-13 14:33] peacechen commented on #455
@satya164  Are you referring to the icon size, or the tab bar size?

[2018-08-13 14:52] peacechen commented on #462
This is obviously a difference of opinion, but "global" props aren't such a bad thing.  And my proposal isn't actually global in the sense of applying props to every single component.  They're very targeted, for example `textProps` applies specifically to the Text component.  Are you concerned that the components which use Text may be affected?  The `textProps` should continue to automatically app

[2018-08-13 15:25] satya164 commented on #455
If you have a bigger icon and label size, everything should automatically adapt to that size. Shouldn't be hard to implement.

[2018-08-13 15:39] peacechen commented on #455
As explained in the OP, the icon size is fixed at 24:
https://github.com/callstack/react-native-paper/blob/master/src/components/BottomNavigation.js#L895

The `label` and `labelContainer` styles use fixed sizes as well.   Looks like the labelContainer size is too small and truncates letters that extend below the baseline.

The labelContainer should not have a fixed height.  It will size automatica

[2018-08-13 17:41] ferrannp opened #487 "[V2] - AppBar.Icon default color"
If the theme is Dark, the Icon should be white without need to pass `iconColor`.

See https://github.com/callstack/react-native-paper/blob/material-next/src/components/Appbar/AppbarAction.js#L49-L52.

[2018-08-15 01:58] fzyzcjy commented on #471
@satya164 Do you mean a online demo or a minimum reproduciable demo? You can try the code above and the problem occurs

[2018-08-15 02:03] fzyzcjy commented on #471
I have made a workaround by copying the Model.js info my own folder, modify the code and reference this component whenever I need it :)

[2018-08-15 08:17] satya164 commented on #471
https://snack.expo.io/

[2018-08-15 12:51] fzyzcjy commented on #471
OK I will do it when I am free. But I think it is reasonable, because although the parent of that view is absolutely filled, the view itself is not. Actually it is neither absolutely filled nor flex:1...

[2018-08-15 13:07] satya164 commented on #471
Ah, you're talking about the content inside. Yeah, agreed. PR is welcome :)

[2018-08-15 20:06] TeunKooijman opened #490 "TextInput type="password" does not seem to work."
### Current behaviour

When I render a TextInput component with the "type" prop set to "password", the input text is still visible.

### Expected behaviour

I would expect the TextInput to hide the input text with asterixes.

### Code sample

[code]

### Screenshots (if applicable)

![screenshot_20180815-220331](https://user-images.githubusercontent.com/6661478/44170280-268d3000-a0d7-11e8-911d-197

[2018-08-15 20:11] gawrysiak commented on #490
hey,
try this:
[code]

[2018-08-15 20:33] #490 closed

[2018-08-16 01:46] fzyzcjy commented on #471
PR created: https://github.com/callstack/react-native-paper/pull/491 :)

[2018-08-16 01:47] #471 closed

[2018-08-16 10:08] #375 closed

[2018-08-16 10:09] satya164 opened #492 "RTL support for TextInput"
The content of the text input needs to be flipped

[2018-08-16 10:13] satya164 commented on #451
Will be great if you could post the error message

[2018-08-16 10:17] Esemesek commented on #451
Flow version: `0.75.0`
React Native version: `0.56.0`

Flow error:
[code]

[2018-08-16 10:20] satya164 opened #493 "Make CI work again"

[2018-08-16 10:43] #43 closed

[2018-08-16 11:17] Trancever commented on #480
Hi @brunohkbx I created snack which shows how those components should be used together [snack](https://snack.expo.io/Bk5Sn0zLX). If you still has this issue please provide more informations and small repository/snack that reproduces the issue, cause i am not able to reproduce it myself.

[2018-08-16 13:55] #480 closed

[2018-08-16 15:36] luissmg opened #495 "[alpha] FAB elevation on press"
### Current behaviour

When we press the FAB the elevation is always the same (12).

### Expected behaviour

The elevation should be 6 by default and should change to 12 while pressing. Check [this](https://material.io/design/environment/elevation.html#default-elevations)!

### Your Environment

| software              | version
| --------------------- | -------
| react-native-paper    | 2.0.0-alp

[2018-08-16 18:33] Trancever commented on #495
Hi @luissmg That's definitely a bug, would be awesome if you could create PR.

[2018-08-17 06:39] luissmg commented on #495
Sure. Was going to do this yesterday but had no time. Will make this today!

[2018-08-17 13:53] Trancever commented on #379
According to material design guidelines, we should still animate elevation of the card when it's pressed. The only thing we need to change is the elevation when card is not pressed which should be 1 (currently 2).

Answering to your comment @ferrannp it's currently possible to use any touchable with Card component. You just pass your custom Touchable as a child to Card.

[2018-08-17 20:52] #492 closed

[2018-08-17 20:53] Esemesek commented on #492
#499

[2018-08-20 10:51] ferrannp opened #500 "FAB ripple is wrong on Android P (everything that uses borderRadius)"
This is more a react-native issue that we need to keep track on. See https://github.com/facebook/react-native/issues/6480.

![screenshot_20180820-124834_2](https://user-images.githubusercontent.com/774577/44336424-b33d4280-a477-11e8-8335-3ddffadd4787.png)

[2018-08-21 11:53] KevinGulj opened #501 "[V2] SnackBar always rendered and blocking touch events"
Hello!
### Current behaviour
I am trying to add buttons to the bottom of the view, but the clicks are blocked by snackbar.
Only the light blue portion of the snackbar blocks clicks.

SnackBar has no extra styles to it.
` <Snackbar
      duration={3000}
      visible={this.state.open}
      onDismiss={() => this.handleClose()}>
      {this.state.disableTranslation ? this.state.message : I18n.t(this

[2018-08-21 12:14] satya164 commented on #501
Thanks for the bug report. If you want to send a PR to fix it, it's more than welcome :)

[2018-08-22 23:08] luissmg commented on #501
@satya164 can I give it a try since the OP didn't respond?

[2018-08-22 23:15] satya164 commented on #501
@luissmg feel free! thank you :)

[2018-08-22 23:16] luissmg commented on #381
@victorkvarghese I am having no problems with this. Have you tried upgrading the lib? Maybe it was fixed in some release already.

[2018-08-23 05:49] KevinGulj commented on #501
Sorry, had a lot of work. Thanks if you can get it resolved.

[2018-08-23 06:03] luissmg commented on #501
@KevinGulj Do you want to give it a try then? Or should I?

[2018-08-23 06:11] KevinGulj commented on #501
@luissmg Go ahead. I did try a fix for it and it works for me, but I am sure it could be done better.
If you care to see how I did it: https://paste.ofcode.org/bLgKuA463F9xg5CAgZgZZE

[2018-08-23 08:42] luissmg commented on #501
@KevinGulj That is pretty much what I was thinking to do. Since you already done it just do a PR :) Just make sure to add the type of `hidden` in line 45!

[2018-08-23 09:07] KevinGulj commented on #501
@satya164 @luissmg  Is material-next the master branch for V2 ?

[2018-08-23 09:18] KevinGulj commented on #501
#502
Its my first PR to open source, so please tell me if anything is wrong :)

[2018-08-24 06:14] proof666 commented on #437
Thank you! It's a great library. Everything is simple, understandable and beautiful.
Good luck!

[2018-08-25 03:17] brunohkbx commented on #495
Can you release it to the current version?
When a dialog is opened the FAB button doesn't change it elevation.
I worked around this problem by assigning 0 to elevation.

![whatsapp image 2018-08-25 at 00 16 32](https://user-images.githubusercontent.com/6487206/44614500-3655f400-a7fc-11e8-8d5e-d1beb10184f0.jpeg)

[2018-08-25 13:27] luissmg commented on #495
@brunohkbk I don't think they will release a new beta version. I think the next one will be the official 2.0.
Maybe @Trancever could provide better info.

[2018-08-25 13:38] brunohkbx commented on #495
It would be nice if they could merge this fix like they did with #476

[2018-08-25 13:48] peterchibunna opened #504 "Cannot read property 'map' of undefined"
I get the error above when I define a BottomNavigation element, even with the example code

### Current behaviour
Red screen error appears with the following error:
[code]

### Expected behaviour
The component should display without any issues.

### Code sample
[code]

### Screenshots (if applicable)
![screenshot_20180825-144603](https://user-images.githubusercontent.com/2616804/44618862-cdab5d80-

[2018-08-25 14:33] #504 closed

[2018-08-25 15:57] luissmg commented on #495
Even if they do that I don't think they would release another beta...

[2018-08-25 20:27] #495 closed

[2018-08-26 10:46] Kausta opened #505 "Typescript Type Definitions"
### Current behaviour

There is no type definitions file `index.d.ts` shipping with react-native-paper, or no DefinitelyTyped module @types/react-native-paper. This causes TypeScript users to not have type checking for the react-native-paper library.

### Expected behaviour

As a popular library, I would expect the react-native-paper to have type definitions and can work on them if it is wanted by

[2018-08-26 13:35] doomsower commented on #505
Oh I totally forgot about that one.
So here is what I use now, maybe something is outdated, but it works for me. It's based on flow types, and I also checked sources to see which props are destructured and passed to native components.
https://gist.github.com/doomsower/4fe0d7d45e9b2b463377567ae89df1bc
I don't think I'm going to make it into PR though....

[2018-08-26 20:52] Kausta commented on #505
It looks nice, I can probably check whether it's consistent with current version and make it into a PR ( or a DefinitelyTyped library ). It's already pretty complete though.

[2018-08-28 08:45] stefensuhat opened #508 "[Feature Req] Outlined Button"
Follow from this guidelines material.io, maybe you can add new outlined button variant and non uppercase label.

https://material.io/design/components/buttons.html#outlined-button

[2018-08-28 09:47] stefensuhat commented on #508
@gawrysiak any major bugs on 2.0 branch? I want try to upgrade version to 2.0.

[2018-08-28 10:06] satya164 commented on #508
no major bugs, just need to finish redesigning some components :)

[2018-08-28 10:07] satya164 commented on #508
@gawrysiak you could pass `<Text>Something</Text>` currently and it won't be uppercased.

[2018-08-28 19:55] brunohkbx opened #509 "How to create a search toolbar?"
Hello everyone.
I'm trying to create a search toolbar like youtube/whatsapp.
![whatsapp image 2018-08-28 at 16 48 08](https://user-images.githubusercontent.com/6487206/44746940-3991fe00-aae2-11e8-88a1-f38db78be747.jpeg)

I'm using react navigation and this is what I've done so far:

**routes.js**
[code]

**SearchToolbar.js**
[code]

How do I get rid of this padding/marging?
![whatsapp image 2018-0

[2018-08-29 09:49] #508 closed

[2018-08-29 09:52] #470 closed

[2018-08-29 09:54] Trancever commented on #509
How about this?
[code]

[2018-08-29 09:56] Trancever commented on #501
Fixed in https://github.com/callstack/react-native-paper/pull/502

[2018-08-29 09:56] #501 closed

[2018-08-29 09:57] Trancever commented on #493
Fixed by @satya164

[2018-08-29 09:57] #493 closed

[2018-08-29 13:09] KevinGulj opened #513 "[V2] Desktop support (macOS & windows)"
### Current behaviour
Currently the react-native-paper library is mostly platform-independent except ProgressBar.js, which has 3 child components:
ProgressBarComponent.android.js
ProgressBarComponent.ios.js
ProgressBarComponent.web.js

When I build to windows or macOS I would actually be able to use most of the components that react-native-paper provides since most of them consist of widely-implem

[2018-08-29 13:17] satya164 commented on #513
Thanks for the report. Sounds good to me.

[2018-08-30 04:05] brunohkbx commented on #509
Thanks, this is exactly what I did.
Styling the component with elevation 0 worked fine.

[2018-08-30 04:05] #509 closed

[2018-08-30 05:57] ParitoshVaidya opened #514 "Hide toolbar from particular page"
### Current behaviour
Toolbar is showing on all pages.

### Expected behaviour
Configure only pages where toolbar has to be shown **OR** hide toolbar from particular page

### Code sample
<Provider store={store}>
        <PaperProvider>
            <App />
        </PaperProvider>
      </Provider>

**Please comment if additional code is required...**

### What have you tried
Checked styles in And

[2018-08-30 17:04] magworkss opened #516 "SUPPORT: Add for BottomNavigation"
Hi

Please add PROPS for OPACITY in BottomNavigation.
Opacity calculated from  `const opacity = this.state.tabs[index];` and substituted in  `style={[StyleSheet.absoluteFill, { opacity }]}` which affects on all content and creates the blink/flash effect.
https://snack.expo.io/@avo/reactnavigation-issue

Thank you before hand

[2018-08-30 18:01] satya164 commented on #516
Try this:

[code]

This should set the background color of the actual screen to a dark color to avoid the flash. PR welcome to add the background color as an option in `react-navigation-material-bottom-tabs` since it's a missing feature there.

[2018-08-30 18:01] #516 closed

[2018-08-31 05:53] magworkss commented on #516
@satya164 Thank you, it works

[2018-08-31 10:14] magworkss commented on #455
Unfortunately, component is not customisable...

[2018-08-31 10:16] ferrannp opened #518 "[V2] Appbar on iOS seems a bit off"
Compare with default iOS implementation:

![screen shot 2018-08-31 at 12 15 08](https://user-images.githubusercontent.com/774577/44907244-8f9bb700-ad17-11e8-9036-ec80a0adbfae.png)

To Paper:

![screen shot 2018-08-31 at 12 15 25](https://user-images.githubusercontent.com/774577/44907253-94f90180-ad17-11e8-890e-836ef13d44a0.png)

It seems a bit off. Specially not centered title.

[2018-09-02 01:01] satya164 commented on #365
Added `left` and `right` props to `ListItem` as well as a `ListIcon` component which should address this issue.

[2018-09-02 01:01] #365 closed

[2018-09-02 20:59] gawrysiak commented on #365
Very nice change. You're really pushing it 👌

[2018-09-03 08:02] rahuljayaraman opened #526 "Vector icons bloat on react-native-web"
### Current behaviour

Using with react-native-web (without expo) while requiring `react-native-vector-icons` adds an additional 1.3MB to the bundle.

### Expected behaviour

Would like to use `react-native-vector-icons` for native builds, while using the [fallback](https://github.com/callstack/react-native-paper/blob/master/src/components/Icon.js#L13) for `react-native-web` builds.

Using the fal

[2018-09-03 10:57] rahuljayaraman commented on #526
Optional require expects `require` to fail. I need to require to work for native builds, but not for web builds. `null-loader` won't return the fallback component. I suppose I could resolve a module which raises an exception, but that sounds hacky. Would be nice to gracefully handle this case.

[2018-09-03 11:16] ferrannp opened #527 "Dialog backdrop not covering FAB button"
Seems an issue with FAB elevation vs backdrop. See:

![screenshot_20180903-131351](https://user-images.githubusercontent.com/774577/44984034-9d517680-af7b-11e8-8936-f136ad551d65.png)

[2018-09-03 12:09] rahuljayaraman commented on #526
I'll try that, thanks.

[2018-09-04 14:08] #513 closed

[2018-09-04 17:06] giautm opened #529 "[2.0.0] TextInput not correct"
### Current behaviour

![image](https://user-images.githubusercontent.com/12751435/45045987-f9f98200-b09e-11e8-98ac-de692be8ead7.png)

### Expected behaviour

Show correct TextInput

![image](https://user-images.githubusercontent.com/12751435/45046007-0d0c5200-b09f-11e8-9991-70f5e5ef61ca.png)

### Code sample

Example from Docs: https://callstack.github.io/react-native-paper/text-input.html

### S

[2018-09-04 17:08] satya164 commented on #529
@giautm please try master. it should be fixed there.

[2018-09-04 17:08] #529 closed

[2018-09-04 17:26] satya164 commented on #529
@giautm we'll release a new version tomorrow

[2018-09-04 17:37] giautm commented on #529
@satya164 I found another issues with TextInput label. In `outlined` mode, background color still `colors.background`, not `colors.white.`
[code]
TextInput on the Surface.
![image](https://user-images.githubusercontent.com/12751435/45047640-d258e880-b0a3-11e8-87f6-da32b5301cad.png)

[2018-09-04 17:39] satya164 commented on #529
@giautm for now, you'll need to pass `theme={{ colors: { background: ... } }}` to override that. I'll update it to get the background from the style prop later.

[2018-09-04 17:40] giautm commented on #529
Yeah, I really did that, tks for quickly response. 😄

[2018-09-04 19:17] luiz-doreto commented on #456
Hey guys, I'm facing the same problem, I tried everything but nothing works. I tested the TextInput in the snack (the code present in the docs) and the same problem happens. Any fix or work around?

| software              | version
| --------------------- | -------
| ios or android        | IOS
| react-native          | 0.55.3
| react-native-paper    | 1.11.1
| node                  | 8.10.0
| np

[2018-09-05 12:04] giautm opened #530 "[v2] - Searchbar render wrong layout with long text"
### Current behaviour

![image](https://user-images.githubusercontent.com/12751435/45092006-565fae80-b13e-11e8-9622-55d1b11173c4.png)

### Expected behaviour

### Code sample

https://snack.expo.io/@giautm/searchbar-bug

### Screenshots (if applicable)

### What have you tried

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        |
| rea

[2018-09-05 14:29] justinlawrence opened #531 "Feature request: Avatar component"
It would be great to be able to have a component for avatars, something similar to https://material-ui.com/demos/avatars/

Image avatars:
![screen shot 2018-09-05 at 15 32 16](https://user-images.githubusercontent.com/1521183/45100191-ebec4580-b120-11e8-8bd9-7b7211232bb9.png)

Icon avatars:
![screen shot 2018-09-05 at 15 32 20](https://user-images.githubusercontent.com/1521183/45100222-fc9cbb80-b1

[2018-09-05 14:31] justinlawrence opened #532 "Feature request: Typography component"
It would be great to be able to have a component for typography, something similar to https://material-ui.com/style/typography/

![screen shot 2018-09-05 at 15 29 51](https://user-images.githubusercontent.com/1521183/45100032-94e67080-b120-11e8-808f-030af2225b63.png)

The props in their docs are awesome too:
https://material-ui.com/api/typography/

Thanks so much!

[2018-09-05 16:37] TeunKooijman opened #533 "Focussing a text input as soon as it is available crashes the application."
### Current behaviour

I'm trying to give a TextInput focus as soon as the Dialog in which it is contained, is opened. When trying to focus it as soon as the reference is available, the application crashes.

### Expected behaviour

I expect the TextInput to focus and open the Keyboard as soon as the dialog opens.

### Code sample

 The following should reproduce:

[code]

### What have you tried

[2018-09-05 16:49] giautm commented on #530
I think that related to this fix: https://github.com/callstack/react-native-paper/commit/b573ea228bbb2150bb716a848de1642988e4b5da

[2018-09-05 19:04] egunsoma commented on #437
Actually I have tried many Material Design libs so far both for JS and React Native, this is far the most convenient. Thanks 🖖

[2018-09-05 19:31] jstansbe opened #534 "Text input underlineColor doesn't work with all hex colors [V2]"
### Current behaviour

Passed hex color for TextInput underlineColor does NOT change the underline color.

### Expected behaviour

When passing in a custom color, I should see the underline (of the text input) color to match the one passed in.

### Code sample
[code]

### Screenshots (if applicable)

none

### What have you tried

I have tried passing red in hex form, '#ff0000' and this works!

##

[2018-09-05 19:39] jstansbe commented on #534
Figured this out... of course right after I posted this....

The underlineColor is working as expected - it sets the underline color when the textinput doesnt have focus. The color for when the text input DOES have focus must be set via them:

[code]

[2018-09-05 19:39] #534 closed

[2018-09-06 15:00] jaulz commented on #531
I created something like that for my application. Maybe I will create a PR for that but otherwise you are of course invited to create a PR as well 😊

[2018-09-06 20:26] osdnk opened #537 "Missing ToolbarAction -> Appbar.Action in migration guide for 2.0"
Missing
[code]
 in migration guide

[2018-09-06 20:32] satya164 commented on #537
Thanks for the report. Fixed.

[2018-09-06 20:32] #537 closed

[2018-09-06 20:33] osdnk commented on #537
...thanks for being so reactive 👍

[2018-09-06 20:57] osdnk commented on #2
I would be grateful if you could do it. Frankly speaking I'm extremely curious how to do it smoothly without native modules

[2018-09-06 21:00] gawrysiak commented on #2
I'm just trying to find a quick replacement. Ended up using react-native-modalbox. Looking forward for a paper solution though :+1:

[2018-09-06 21:04] satya164 commented on #2
We'd probably use `react-native-gesture-handler` and `react-native-reanimated` to build it when we finally get to it. It's a tricky component.

[2018-09-06 21:14] satya164 commented on #533
Thanks for the report. Will take a look.

May I ask why you don't use the `autoFocus` prop?

[2018-09-06 21:27] TeunKooijman commented on #533
Hi @satya164 - thanks for the response! To be completely honest with you, I did not know about the `autoFocus` prop. I'll have a look whether it works in the morning!

Might I ask where you found out about the `autoFocus` prop? The docs do not seem to mention it, but I always suspected something like it should exist. Could it be that I am looking at a docs page for an earlier version? I am current

[2018-09-06 21:29] satya164 commented on #533
@TeunKooijman we need to do a better job at our docs :D

Our `TextInput` component also accepts the same props as React Native's `TextInput`, which supports an `autoFocus` prop: https://facebook.github.io/react-native/docs/textinput#autofocus

[2018-09-06 21:34] TeunKooijman commented on #533
Ahh, that explains a lot! Thanks for the help, and I'm sorry for wasting your time. I'll leave this issue open for you guys to decide whether you want to look at the "bug" or not. Have a nice day!

[2018-09-08 15:49] satya164 commented on #279
@poutler did you read my comment above?

[2018-09-08 15:53] poutler commented on #279
@satya164 I’m the issue on my device as well, but I’m using the Expo app. Working on building/installing an ipa, are you saying it should disappear then?

[2018-09-08 15:55] satya164 commented on #279
@poutler can you share a snack which shows this issue?

[2018-09-08 23:07] poutler commented on #279
@satya164 a bit embarrassing, I was on 1.11.1. Updated to v2 seems to fix the issue.

Figured this out when I couldn’t get the Snack to downgrade. Thanks for the help!

[2018-09-10 20:29] jstansbe opened #540 "Button Character Styles: Spacing and Caps"
I'd like the button text to be normal spacing and not all characters in caps.
Please add this as an option on the component or in the theme styles.

![image](https://user-images.githubusercontent.com/1250522/45322517-7fa18580-b516-11e8-8ebe-40ee8145501b.png)

| software              | version
| --------------------- | -------
| ios or android        | android (haven't tested on ios)
| react-native

[2018-09-10 20:40] gawrysiak commented on #540
It should be possible to do, by wrapping the button text with a Text component, e.g.
[code]
Does it solve your case?

[2018-09-10 21:29] ocarreterom commented on #540
@gawrysiak following the Angular Material library texts should not be capitalized.
https://github.com/angular/material2/issues/2637#issuecomment-275573846

[2018-09-10 21:34] satya164 commented on #540
@ocarreterom we follow google's official material design guidelines which shows the text as uppercased. it doesn't matter what's the default in angular material library.

[2018-09-10 21:48] gawrysiak commented on #540
@ocarreterom just as @satya164 mentioned, it goes by the MD guide. In both old and new guidelines, the buttons are uppercase by default. I find it a good thing, since it's harder to go wrong with it. I'd like to see things more customizable some day, but this is how it is for now. Hopefully the extra Text wrapper isn't a big issue for your use cases.

![mio-design 2fassets 2f1w8kygvruug_o8psvyioac

[2018-09-11 07:47] iamdarknight opened #541 "FAB Group appears on all pages"
### Current behaviour

The FAB Group appears on all pages within a react navigation stacknavigator whose initial page contains the FAB Group.

### Expected behaviour

While appreciating the ease of use that comes with this functionality, i would like that i can disable the functionality when i dont need a fab on a page within that stack navigator.

### What have you tried

I tried using Portal ass

[2018-09-11 20:36] vieiralucas commented on #348
Hey @ferrannp, sorry to bother you.
Have you consider @peacechen 's solution?
I can try to make a PR too.

[2018-09-11 20:46] satya164 commented on #348
@vieiralucas hey, we don't want to add separate props for this. But I'd accept a PR which gets the `fontSize` from the `style` prop using `StyleSheet.flatten` and adjusts the values automatically.

[2018-09-11 20:47] vieiralucas commented on #348
Awesome, I'll try to come with something tonight.

[2018-09-12 19:37] brunohkbx opened #544 "How to render a snackbar together with FAB?"
Hello everyone.
Could someone provide me an example of how to render a snackbar above a FAB?
I'm trying to implement this [example](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1BlhZYfz9EClmRaSVq-sPLwyXVGEQKDlj%2Fsnackbars-layout-fab.png) from material.io. However this is what I've got :

![whatsapp image 2018-09-12 at 16 20 42](https://user-images.githubusercontent.com/64

[2018-09-12 19:41] satya164 commented on #544
@brunohkbx when you have a FAB, you should add a bottom margin to the snackbar so it's rendered above the FAB: https://material.io/design/components/snackbars.html#placement

[2018-09-12 19:41] #544 closed

[2018-09-12 19:44] satya164 commented on #541
@iamdarknight it's disabled by default in v2 and I'm exploring how to integrate it properly with react-navigation. here is an approach you can use: https://snack.expo.io/@satya164/navigation-aware-portal-for-react-navigation

if you're using v1, you can listen to the focus events from react navigation and show/hide the FABGroup manually.

not sure what you mean here

[2018-09-13 06:45] Trancever commented on #544
@brunohkbx I see you are using paper v1.0 so snackbar should push up the fab when it appears. Currently we don't support it so you have to manually animate fab whenever visible prop of snackbar changes. In v2.0 snackbar was redesigned and the guidelines changed so the only thing user has to do is to add bottom margin to snackbar as Satya mentioned.

[2018-09-13 10:33] #433 closed

[2018-09-13 10:43] satya164 commented on #380
We use Snack for the example now which should work on iOS.

[2018-09-13 10:43] #380 closed

[2018-09-13 10:49] satya164 commented on #505
Duplicate of #306

[2018-09-13 10:49] #505 closed

[2018-09-13 12:35] Kausta commented on #306
Note for everyone, I already created type definitions for 1.x branch and submitted a PR, so if anyone is working on type definitions for 2.x branch, they can get the 1.x version from me for saving some time 👍 .

[2018-09-13 12:38] Esemesek commented on #306
Yeah, I know. They are kinda messy, because everything is written in one file, and there are no tests, but they will definitely help.

[2018-09-13 16:22] adamnator92 opened #546 "Can't adjust font size on TextInput"
### Current behaviour
Can't adjust font size of button text, textinput and text

### Expected behaviour
fontSize is adjustable

### What have you tried

| software              | version
| --------------------- | -------
| ios or android        | both
| react-native          | 16.4.1
| react-native-paper    | ^2.0.1
| node                  | v9.6.1
| npm or yarn           | 6.4.0

[2018-09-14 15:57] iamdarknight commented on #541
@satya164 you the champ!!! You my man. Been heckling with this for since version 1.

[2018-09-14 15:57] #541 closed

[2018-09-14 17:12] chuihinwai commented on #27
This there something that could be borrowed from https://github.com/xotahal/react-native-material-ui? They have cross platform ripples. This is the best and most up-to-date material library, I'd love to help get the ripple on iOS working via pull request if it's possible

[2018-09-16 12:10] vineeshvk opened #548 "Contained button in v2 is not good when compared with raised button in v1"
The behavior of contained button in react-native-paper is not looking good when compared with version 1 raised button. I started using react-native-paper only because of the material buttons as no other UI library implemented the material button correctly. So please change the button to v1.
Thank you.

[2018-09-16 12:52] satya164 commented on #548
Whether it looks good is subjective. I like the new design, it looks fresh.

Besides they are not even that different. The only differences are that we increased the default roundness in v2 which you can decrease back to `2` in the theme to have it the same as v1, and the new button has a letter spacing of `1`.

The old button style can also be replicated with the current button:

[code]

Regardle

[2018-09-16 12:52] #548 closed

[2018-09-16 12:57] vineeshvk commented on #548
I'm not just talking about the Look of the button, I'm talking about the feel of the button. The v1 button raises and falls just like a native material button but this new version seems to lack it.
Please consider comparing both buttons side by side, then you'll know the difference.

[2018-09-16 13:06] satya164 commented on #548
The new buttons raise and fall the same. It's literally the same code with few changes for v2.

[2018-09-16 13:29] satya164 commented on #548
Yeah, the debugger can mess up animations. When you're testing animations, I'd recommend to turn the debugger off.

[2018-09-17 10:09] luissmg opened #549 "TextInput with transparent background"
### Current behaviour

When you set the `TextInput` component to have a `transparent` background color, the spaces still persist.

### Expected behaviour

I check MD and they don't mention anything like this.
I was thinking that when the `TextInput` has a `transparent` background, the horizontal spaces on the input should be removed.
I don't actually know if it is supposed to have a transparent ba

[2018-09-17 21:13] jsp3536 commented on #549
I would second that this would be a nice addition

[2018-09-19 06:32] echonox opened #553 "Can't set Status Bar color of iPhone X when using AppBar.Header Component"
### Current behaviour

When Adding the AppBar the statusbar stays white on iPhone X

### Expected behaviour

When Adding the App Bar on iPhone X it should fill the status bar or at least there should be possible to change the color of the status bar, I use <SafeAreaView> setting a backgroundColor on the <SafeAreaView> colors the status bar but it also colors the content bellow the <AppBar>

### Co

[2018-09-19 08:05] satya164 commented on #553
It's because you're wrapping it in `SafeAreaView`. It's already done, you don't need to wrap again.

[2018-09-19 14:38] #553 closed

[2018-09-20 05:02] huytran123 opened #554 "Tab title not hide when lost focus and Icon color not change when focus"
Tab title not hide when lost focus and Icon color not change when focus, it is happen when first time run app

In-correct:
![screenshot_2018-09-20-11-30-25-131_com carwash](https://user-images.githubusercontent.com/24526707/45796892-fe43b300-bccc-11e8-8e71-d9cc76b467b2.png)

Correct:
![screenshot_2018-09-20-11-37-29-799_com carwash](https://user-images.githubusercontent.com/24526707/45796907-0d2a6

[2018-09-20 10:36] raajnadar commented on #549
+1 the textinput looks ugly when the background is transparent

[2018-09-20 10:43] luissmg commented on #549
I wanted some feedback from the team. What do you think of this @satya164?

[2018-09-20 10:58] ferrannp commented on #554
Can you provide a Snack of this? Are you also using Debugger when running it?

[2018-09-20 11:01] ferrannp commented on #546
In `Text` should be possible passing `style={{ fontSize: 24 }}`.

[2018-09-20 11:02] #532 closed

[2018-09-20 11:06] ferrannp commented on #17
Not anymore.

[2018-09-20 11:06] #17 closed

[2018-09-20 11:07] ferrannp commented on #15
Explore https://facebook.github.io/react-native/docs/slider.

[2018-09-20 11:08] ferrannp commented on #76
Keep this on `component-docs`.

[2018-09-20 11:08] #76 closed

[2018-09-20 11:11] adamnator92 commented on #546
Hi @ferrannp, Text component work fine,
how about fontSize of Button and TextInput?

[2018-09-20 13:26] alvaromb commented on #530
Oops, didn't read that you've assigned it to yourself, @ferrannp 😝

[2018-09-20 13:27] alvaromb commented on #154
@Moreno97 can you look into this?

[2018-09-20 13:31] alvaromb commented on #124
@Moreno97 do you feel confident for tackling this one?

[2018-09-20 13:35] echonox commented on #553
@satya164 Thanks it works!

[2018-09-20 14:18] luissmg commented on #549
@ferrannp What kin of investigation do you need?

[2018-09-20 15:33] huytran123 commented on #554
i do not thinking so. i am running an DEV mode , not DEBUG mode.
I am using this example: https://callstack.github.io/react-native-paper/bottom-navigation.html
please see video: https://youtu.be/ZKdCBqQeiK0
I am running on android 8.1(Mi A1)

[2018-09-20 15:48] satya164 commented on #554
Can you share your code?

[2018-09-20 15:52] huytran123 commented on #554
this my code @satya164 :

import React from 'react';
import { BottomNavigation, Text } from 'react-native-paper';

const MusicRoute = () => <Text>Music</Text>;

const AlbumsRoute = () => <Text>Albums</Text>;

const RecentsRoute = () => <Text>Recents</Text>;

class MyComponent extends React.Component {
  state = {
    index: 0,
    routes: [
      { key: 'music', title: 'Music', icon: 'queue-music'

[2018-09-20 21:37] justinlawrence commented on #532
Fair point, thanks @eightyfive.

It might be worth grouping those components under the heading “Typography” in the documentation.

[2018-09-22 01:02] fzyzcjy opened #555 "Snackbar under Keyboard in iOS"
### Current behaviour

Thank you very much for this wonderful library! I am here to report a tiny bug :)

In iOS, if the keyboard is shown, and we trigger a snackbar, then that snackbar will be hidden under the keyboard. The only way to see it is to close the keyboard. (The version I use it material-next :) )

### Expected behaviour

The snackbar is shown above the keyboard, so the user can see it

[2018-09-24 07:04] peterchibunna commented on #288
Please @jstansbe can you post a fuller code that will show how you integrated the snippet above; This is a nice-to-have feature. Thanks.

[2018-09-25 10:33] victorkvarghese commented on #554
@satya164 Will upload the code tonight.

PS: I'm using [createMaterialBottomTabNavigator](https://reactnavigation.org/docs/en/material-bottom-tab-navigator.html). But the documentation specifically says the component uses  BottomNavigation component from react-native-paper.

I will upload the example code and a proper gif tonight

[2018-09-25 10:55] huytran123 commented on #554
@satya164 : you can see this video:  https://youtu.be/ZKdCBqQeiK0,
this video match with code which i post for you
@victorkvarghese : i have found this error. You can read my post to fix this error if you need to fix them

[2018-09-25 10:55] victorkvarghese commented on #554
@satya164 @ferrannp

[code]
**When app launches**
![screenshot_20180925-162349__01](https://user-images.githubusercontent.com/15869386/46010215-7e0fba00-c0df-11e8-97bd-89c294921562.jpg)

**When we select another tab for first time**

![screenshot_20180925-160532__02](https://user-images.githubusercontent.com/15869386/46010223-81a34100-c0df-11e8-8b2c-eb2ec3f65060.jpg)

[2018-09-25 15:33] Moreno97 commented on #154
As I see, TextInput is now an uncontrolled component, but Checkbox doesn't. Am I right?

[2018-09-26 12:57] brunohkbx opened #556 "How to align Card.content with Card.actions?"
### Current behaviour
The actions doesn't align with the content.

### Code sample
[code]
### Screenshots (if applicable)
![01](https://user-images.githubusercontent.com/6487206/46081232-633a5580-c172-11e8-9282-9477eaf6070b.png)

[2018-09-26 13:47] Moreno97 commented on #154
Yeah, already working on it @ferrannp

[2018-09-26 13:48] Moreno97 commented on #124
Yeah, already working on it @ferrannp

[2018-09-26 15:20] gawrysiak commented on #556
It's because there's extra padding inside the button's touchable part. But it seems like the actions margin should be smaller than content's margin. From MD guidelines:
![screen shot 2018-09-26 at 17 17 27](https://user-images.githubusercontent.com/7827311/46090157-69e7bd80-c1b0-11e8-8a90-c3ffcbd5a769.png)

[2018-09-27 10:44] ferrannp commented on #555
Can you provide a Snack? I think this can be fixed without changes in the library.

[2018-09-27 11:58] #355 closed

[2018-09-28 02:29] fzyzcjy commented on #555
OK I will do that asap. Could you plz give a template of snack?

[2018-09-28 07:12] Trancever commented on #555
@fzyzcjy Here you go - https://snack.expo.io/SkYXN8iFX

[2018-09-28 12:49] fzyzcjy commented on #555
OK I will do asap!

[2018-09-28 17:27] echonox opened #560 "Fab bad ui when using single fab"
### Current behaviour

Using just FAB without Group for single action renders the fab badly

### Expected behaviour

The <FAB> should be rendered in same way when using <FAB.Group>

### Code sample

`<Portal>
    <FAB
    small
    icon="add"
    onPress={() => console.log('Pressed')}
  />
</Portal>`

### Screenshots (if applicable)

![screen shot 2018-09-28 at 7 24 56 pm](https://user-images.gith

[2018-09-29 13:59] echonox commented on #560
anyone?

[2018-09-29 15:43] satya164 commented on #560
sorry, this is weekend. that's how flexbox works by default. you can wrap the Fab in a view with `alignItems: center`

[2018-09-29 15:52] echonox commented on #560
@satya164  so why does the fab render properly when using it with actions and not when using it as single fab

[2018-09-29 15:56] satya164 commented on #560
because it already has wrapper views which don't stretch it

[2018-09-29 22:28] yaronlevi opened #562 "TextInput with RTL is buggy"
Saw this now on Expo (pixel 2 xl, android pie, hebrew)
![screenshot_20180930-012528](https://user-images.githubusercontent.com/5398977/46251003-11cee680-c450-11e8-8f58-dcfec5f190c8.png)

[2018-09-30 08:15] fzyzcjy commented on #555
Here it is: https://snack.expo.io/@fzyzcjy/snackbar-under-keyboard
Actually, I find that it has the problem on *both android and iOS*.

[2018-09-30 11:42] vieiralucas opened #563 "Wrong fontSize for Caption"
Thank you for all the work you put into this library

### Current behaviour

Currently the fontSize for Caption is 14
https://github.com/callstack/react-native-paper/blob/ce97029dc900f51b2c3f42335c20459e3688c5fe/src/components/Typography/Caption.js#L41-L47

### Expected behaviour

I expected it to be 12, according to material spec:
https://material.io/design/typography/the-type-system.html#

I can

[2018-10-02 02:49] fzyzcjy commented on #555
@ferrannp @Trancever Hi the snack is posted above :) I am not sure whether you receive any notification from github so I manually at you again

[2018-10-02 06:12] Trancever commented on #555
@fzyzcjy Yeah, we got notification, but we don't have much time to work on issues during weekend :) I'll take a look on it today.

[2018-10-02 06:14] fzyzcjy commented on #555
@Trancever it does not matter :) have a good day!

[2018-10-02 06:45] Trancever commented on #555
@fzyzcjy Check this - https://snack.expo.io/r1V_79g97

[2018-10-02 12:29] echonox commented on #560
@satya164  thanks for the suggestion fixed that issue, but now i can't have the fab above other elements, if I use <Portal> the fab doesn't justifyContent properly:

This is without <Portal>

Styles:

`alignSelf: 'flex-end',
    flexDirection: 'row',
    justifyContent: 'flex-end',
    margin: 16`

JSX:

<FAB
        style={styles.fab}
            icon="add"
            onPress={() => this.props.n

[2018-10-02 12:33] Trancever commented on #560
@echonox Pass following style prop:
[code]

[2018-10-02 12:49] echonox commented on #560
@Trancever tnx works!

[2018-10-02 12:49] #560 closed

[2018-10-02 14:08] satya164 commented on #555
Why would you want to show a snackbar above the keyboard? There's already very little space when an input is focused.

[2018-10-02 22:58] fzyzcjy commented on #555
@satys164 Hmmmm... Sounds reasonable! But I want to show some errors to notify users. There errors are irrelevant to input boxes so I cannot attach it to textinput. Thank you!

[2018-10-02 23:02] satya164 commented on #555
@fzyzcjy maybe you can show a red banner at top of the screen

[2018-10-03 07:12] gluons commented on #546
Me too. I really need `fontSize` for `Button`.
For now, `<Button style={{ fontSize: xx }}/>` doesn't work. It does not change button text size.

[2018-10-03 08:31] #555 closed

[2018-10-03 09:06] ManigandanRaamanathan opened #567 "Snackbar action is not working"
### Current behaviour

Snackbar action is not working

### Expected behaviour

close snackbar or other  function when click action buttons on snackbar

### Code sample

<Snackbar
            visible={this.state.visible}
            onDismiss={() => this.setState({ visible: false })}
            action={{
              label: 'Undo',
              onPress: () => {
                // Do something

[2018-10-03 09:17] Trancever commented on #567
Hi @ManigandanRaamanathan Please check this working example on snack - https://snack.expo.io/H1cMtbz9X

[2018-10-03 09:37] ManigandanRaamanathan commented on #567
Its still not working

[2018-10-03 09:42] Trancever commented on #567
Did you try to run snack? Maybe can you provide us a small repository/snack that reproduces issue

[2018-10-03 09:45] ManigandanRaamanathan commented on #567
@Trancever the below is the code:-
<Button
            onPress={() => this.setState(state => ({ visible: !state.visible }))}

            {this.state.visible ? 'Hide' : 'Show'}
          </Button>
          <Snackbar
            visible={this.state.visible}
            onDismiss={() => this.setState({ visible: false })}
            action={{
              label: 'Undo',
              onPress: () =

[2018-10-03 09:50] satya164 commented on #567
You're not calling the function in your `onPress`. It should be:

[code]

Notice the braces after `this._goBack`.

[2018-10-03 09:50] #567 closed

[2018-10-03 09:53] ManigandanRaamanathan commented on #567
@satya164  Still something isn't right. The button only works after long press. Try it on your side and see. The ripple effect is not present as well. It multiple press to get the  ripple effect and to execute the function.

[2018-10-03 09:54] satya164 commented on #567
@ManigandanRaamanathan if you're connected to chrome debugger, disconnect it and try. debugger isn't reliable.

[2018-10-03 09:55] ManigandanRaamanathan commented on #567
@Trancever @satya164  found where the bug is. It works only if you press below  the text. Its not working if you press on top of the text or top of it.

[2018-10-03 09:57] Trancever commented on #567
@ManigandanRaamanathan Can you provide snack that reproduces issue? We can't help if we don't have repo that reproduces issue.

[2018-10-03 09:58] satya164 commented on #567
you can create a demo on https://snack.expo.io

[2018-10-03 09:58] ManigandanRaamanathan commented on #567
@Trancever My app dont use expo tool. How to share on snack?

[2018-10-03 10:14] ManigandanRaamanathan commented on #567
@satya164  @Trancever  I can share the file on zip for you to test them out.

[2018-10-03 10:18] satya164 commented on #567
sure

[2018-10-03 10:29] ManigandanRaamanathan commented on #567
@Trancever @satya164  And there is also few seconds delays on the bottom tab bar? Do you know how to fix them?

[2018-10-04 02:00] ManigandanRaamanathan commented on #567
@satya164  @Trancever  Any solution?

[2018-10-04 02:05] ManigandanRaamanathan opened #569 "How to change the default theme colors and to add multiple secondary, tertiary of theme colors?"
### Current behaviour

How to change the default theme colors and to add multiple secondary, tertiary of theme colors?

### Expected behaviour

Need options to store multiple theme colors (secondary theme, tertiary, quaternary, quinary, senary...)

### Your Environment

| software              | version
| --------------------- | -------
| ios or android        |
| react-native          |  0.57
| r

[2018-10-04 02:48] ManigandanRaamanathan commented on #567
@Trancever @satya164  Found the bug. The Bottom Tab Navigator View was clashing with the snackbar. Now works perfectly. However, the snackbar is overlaying the bottom tab navigator

[2018-10-04 03:01] ManigandanRaamanathan opened #570 "Need a list of all accessible icons"
### Current behaviour

Need a list of all accessible icons. Currently there are not documentation available on your site on too check all the available icons and also on using our own custom icons.

### Expected behaviour

Provide us a list of icons we can use and also a instructions on how to use our own icons.

[2018-10-04 06:17] Trancever commented on #567
@ManigandanRaamanathan You can pass style prop to snackbar with marginBottom. It should fix the issue.

[2018-10-04 06:31] ManigandanRaamanathan commented on #567
@Trancever  Solution works perfectly. Thanks. Could please also answer the #570  and #569

[2018-10-04 06:32] ManigandanRaamanathan commented on #567
@Trancever  how to reduce the delay time of the bottom tab navigator?

[2018-10-04 06:34] Trancever commented on #569
@ManigandanRaamanathan Please read our docs, you'll find lots of important informations there - https://callstack.github.io/react-native-paper/theming.html . According to multiple themes, prepared snack showing how to do it - https://snack.expo.io/@trensik/paper-theming-showcase

[2018-10-04 06:39] Trancever commented on #567
@ManigandanRaamanathan It's explained in docs - https://callstack.github.io/react-native-paper/bottom-navigation.html

[2018-10-04 06:43] ManigandanRaamanathan commented on #567
@Trancever  which part mentioning it? couldn't find

[2018-10-04 06:50] Trancever commented on #567
renderScene and SceneMap

[2018-10-04 06:52] ManigandanRaamanathan commented on #567
@Trancever  Will that reduce the delay in navigating the tabs?

[2018-10-04 07:00] Trancever commented on #567
@ManigandanRaamanathan It should

[2018-10-04 07:03] ManigandanRaamanathan commented on #567
@Trancever  its just  having code snippet and there not sample codes. Could you please share the example code with renderScene and Scenemap. I'm new to react native and currently using the top example code in the documentation page.

[2018-10-04 09:31] satya164 commented on #570
Please read our docs https://callstack.github.io/react-native-paper/icons.html.
We have a link to the list there: https://material.io/icons/

[2018-10-04 09:32] ManigandanRaamanathan commented on #570
Thanks. found them already.

[2018-10-04 09:32] #570 closed

[2018-10-04 10:04] #306 closed

[2018-10-04 10:29] #569 closed

[2018-10-04 10:31] ferrannp commented on #563
Go for it @vieiralucas !

[2018-10-04 10:33] ferrannp commented on #554
@huytran123 we cannot reproduce it, what device are you using?

[2018-10-04 10:35] ferrannp commented on #546
@gluons does it work if you wrap your own `Text` inside a `Button` ?

[2018-10-04 10:36] gawrysiak opened #571 "Switch: `onTintColor` is deprecated, use `trackColor` instead"
### Current behaviour

Using Switch from the paper package causes the deprecation warning to appear with RN 0.57.

### Expected behaviour

They now expect to use trackColor instead of "onTintColor" - https://facebook.github.io/react-native/docs/switch
I'm mostly interested in how do you handle such deprecations. Should it switch to the new API already on keep it for now for compatibility?

### Cod

[2018-10-04 10:37] victorkvarghese commented on #554
@ferrannp Using createBottomTabNavigator instead of createMaterialBottomTabNavigator fixes the issue.

but the expo app for react native paper ..Bottom Navigation works fine.

Might be related to this [lib](https://github.com/react-navigation/react-navigation-material-bottom-tabs)

[2018-10-04 10:41] gawrysiak commented on #554
For me it happens quite a lot when using hot reloading and doing code changes. Standard reload fixes it instantly. Can't really reproduce it properly, but I'll try when I see it next time.

[2018-10-04 10:42] ferrannp commented on #571
Probably we just need to bump the version of Paper and consider it a breaking change.

[2018-10-04 10:43] satya164 commented on #571
I think we should detect RN version somehow and use the correct API

[2018-10-04 10:45] satya164 commented on #554
also do you have chrome debugger connected when this happens?

[2018-10-04 10:45] gluons commented on #546
@ferrannp It seems to work partially. Text size changed but icon size isn't changed.
And icon is misplaced. Button doesn't look great.

[2018-10-04 10:46] gawrysiak commented on #571
Is there any easy ways to detect the RN version? I've been looking into it some time ago and there's some existing packages like https://github.com/APSL/react-native-version-number. At the same time kinda feels like maybe too much.

[2018-10-04 10:49] satya164 commented on #571
easiest way is to do something like `require('react-native/package.json').version`, though it'll include the package.json in the bundle. another option is to ask the user for the version number to suppress the warning.

[2018-10-04 13:05] vieiralucas commented on #563
@ferrannp I just made a PR to that fixes this issue.
I plan to make more PRs adding more Typography components later if thats ok for you.

[2018-10-04 13:13] #563 closed

[2018-10-04 13:17] gawrysiak commented on #571
Seems like the existing RN version checkers use the bundler to fetch proper version out of it. This requires running react-native link though and will probably cause more issues than the deprecation itself.

Asking the user for his RN version feels okay for now I guess, but then what should be the default? Old or new API? Might be a bit odd to ask RN 0.57 users to do that, while they're using the

[2018-10-04 17:38] gawrysiak commented on #451
2.1.0, the list got shorter, but still getting those:

[code]

last one reported here: https://github.com/callstack/react-native-paper/issues/571

RN 0.57.0
flow 0.78.0

[2018-10-04 18:41] #354 closed

[2018-10-05 04:30] ManigandanRaamanathan opened #573 "Dialog box not working. Error"
### Current behaviour

It throws the below error when including <portal>
also throws error when including <paragraph>

I copied the entire code from your documentation and snack

### Code sample

import { Dialog, Paragraph, Portal } from 'react-native-paper';

<Dialog
            visible={this.state.visibleConfirm}
            onDismiss={this.closeDialog}>
            <Dialog.Content>

[2018-10-05 04:59] huytran123 commented on #554
@ferrannp i am using Mi A1 (Android 8.1)

[2018-10-05 05:51] jaulz commented on #571
We could also check the prop types via `typeof Switch.propTypes.onTintColor === 'function'` respectively `typeof Switch.propTypes.trackColor === 'function'` and hence differentiate between both versions. This could work:
[code]

[2018-10-05 06:04] Trancever commented on #573
Read the docs please - https://callstack.github.io/react-native-paper/getting-started.html . Wrap your components tree with Provider component from Paper.

[2018-10-05 06:04] #573 closed

[2018-10-05 08:03] ManigandanRaamanathan opened #574 "How to add more properties to theme?"
### Current behaviour
 I would like to add custom colors for certain categories such as selected icons. But I don't want to set  them in each and every icons manually. Instead I would like to set a default icon color within the defaultTheme.js. But whenever I try to add my custom color component. It then throws error saying "Attempting to change the getter of an unconfigurable property".

### Expe

[2018-10-05 08:05] Trancever commented on #574
@ManigandanRaamanathan This error comes from Flow, right?

[2018-10-05 08:07] ManigandanRaamanathan commented on #574
@Trancever  comes from react native when debug on device

[2018-10-05 08:30] ManigandanRaamanathan commented on #567
@Trancever  could you provide sample code for the tab navigation which you said would fix the delay issues

[2018-10-05 09:11] Trancever commented on #567
@ManigandanRaamanathan You can find it in example app. It's placed in example directory.

[2018-10-05 10:56] aaska opened #576 "Typescript - using withTheme is generating compilation errors when passing a function or a class as a parameter (2.1.0)"
### Current behaviour

Using the withTheme function with a class or a function generates the following error :

`error TS2349: Cannot invoke an expression whose type lacks a call signature. Type 'Pick<ThemingType<Theme, DeepPartial<Theme>>, "withTheme">' has no compatible call signatures.

export default withTheme(MyComponent);`

### Expected behaviour

This should compile without problems (it was

[2018-10-05 10:58] satya164 commented on #576
cc @Esemesek

[2018-10-05 11:40] satya164 commented on #576
We didn't have typescript definitions before.

Probably need `withTheme<Props>(MyComponent)`. We'll add docs soon.

[2018-10-05 11:58] aaska commented on #576
@satya164 Thank you for your quick answer !

I've tried, but with no luck, still getting the same error message.

Also, I've noticed that I can't use props from root component in the TextInput (ie: autoCorrect, autoCapitalize, returnTypekey, keyboardType...), getting the issue : [ts] Property 'keyboardType' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<TextInput> & Readonl

[2018-10-05 14:09] Esemesek commented on #576
I can confirm that this is a bug. I will fix it ASAP.

[2018-10-05 14:52] #576 closed

[2018-10-06 12:43] aaska opened #578 "Typescript - having react-native base component props generates compiling issues"
### Current behaviour

Using base props from react-native-paper components are not compiling as they don't  exist in the current definition

[code]

### Expected behaviour

It should compile with components having base props set with react-native-paper as defined in the spec

### Code sample

[code]

Added autoCapitalize and keyboardType props that are available in react-native TextInput component

[2018-10-06 13:50] satya164 commented on #578
cc @esemesek

[2018-10-07 11:41] #578 closed

[2018-10-08 03:08] HenryQuan commented on #554
I am also having this issue on OnePlus 5 (Android 8.1). I have tested on iPhone simulators but it seems that it is Android only. Only tested on debug mode.

IOS (left) Android (right)
![nav](https://user-images.githubusercontent.com/6754708/46590935-dc3a9500-cb02-11e8-9185-7f666fc31c83.gif)

This is my code.
[code]

[2018-10-08 08:52] aaska opened #583 "Typescript - using a withTheme component with FlatList props, it generates compilation errors"
### Current behaviour

When using a withTheme component for rendering inside a FlatList (props: renderItem, ListHeaderComponent), it generates a compilation error

[code]
### Expected behaviour

I believe it should be possible to use withTheme components for props in a FlatList

### Code sample

[code]

### Your Environment

software | version
-- | --
ios or android | both
react-native | 0.57.2
re